﻿@model TobJod.Models.MasterOption

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i></span>@ViewBag.CurrentMenu.Title</h1>
</div>
<div class="panel">
    <div class="panel-heading">
        @if (ViewBag.CurrentMenu.Can_Add) { <a href="@Url.Action("Create")" class="btn btn-info btn-sm pull-right"><span class="btn-label-icon left fa fa-plus"></span> &nbsp; Create</a> }
        @if (ViewBag.CurrentMenu.Can_Add) { <a href="@Url.Action("Import")" class="btn btn-success btn-sm pull-right" style="margin-right: 10px;"><span class="btn-label-icon left fa fa-upload"></span> &nbsp; Import</a> }
        <div class="panel-title">List</div>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Get, new { @class = "form-horizontal", role = "form" })) {

            <div class="form-group">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Category, "EnumSelectId", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" id="btn-datatable-search">Search</button>
                </div>
            </div>
        }

        <div class="table-primary">
            <table class="table table-striped table-bordered data-table data-table-action" id="dataTable">
                <thead>
                    <tr>
                        <th class="id">Id</th>
                        <th class="id">Order</th>
                        <th>Category</th>
                        <th>Title (TH)</th>
                        <th class="datetime">Update</th>
                        <th class="status">Status</th>
                        <th class="action action-@((ViewBag.CurrentMenu.Can_Edit ? 1 : 0) + (ViewBag.CurrentMenu.Can_Delete ? 1 : 0))" data-sortable="false"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section js {
    <script>
        var $table;
        $(function() {
            $table = $('#dataTable').DataTable({
                ajax: {
                    url: '@Url.Action("DataTable")',
                    type: 'POST',
                    data: function (d) {
                        d.category = $("#Category").val();
                    }
                },
                order: [[1, 'asc']]
            });
        });
        $('#btn-datatable-search').click(function () { $table.ajax.reload(); return false; });
    </script>
}