﻿@{ 
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "เกี่ยวกับเรา Tobjod | ตอบโจทย์ โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "Tobjod ผู้นำโบรกเกอร์ด้านประกันภัย ตอบโจทย์ครบทุกไลฟ์สไตล์ พร้อมให้คำปรึกษา ตัวแทนบริษัทประกันภัยชั้นนำ คัดสรรประกันภัยที่คุ้มค่าที่สุด พร้อมบริการหลังการขาย และข้อเสนอสุดพิเศษเพื่อคุณ";
    pageMeta.MetaKeyword = "ตอบโจทย์, Tobjod, โบรกเกอร์, ประกันภัย, ประกันภัยรถยนต์, ประกันรถยนต์, พรบออนไลน์, ประกันภัยการเดินทาง, ประกันเดินทาง";
}
@using TobJod.Web
@model TobJod.Models.ConfigPage

<section id="banner_section" class="container-fluid clear-boot-pad">
    <a href="#" class="item" target="_blank">
        <figure>
            <img class="lazy img-responsive" data-original="@Url.Content("~/assets/images/about-us/01_en.jpg")" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  />
        </figure>
    </a>
</section>
<main class="about-us">
    <section class="container">
        <h1 class="text-lg-center text-md-center text-xs-center">About <b>“Tobjod”</b></h1>
        @Html.Raw(Model.BodyEN.ReplacePath())
    </section>
    <!-- @Html.Partial("EN/_WhyUs")-->
     <div class="visible-lg-block visible-md-block  visible-xs-block visible-sm-block">
        <section class="container why-us-product">
            <h1 class="text-lg-center title text-sm-center">
                <b>“Tobjod” </b>The Right Choice for Insurance Users
            </h1>
            <div class="line-border">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 item-container">
                    <a href="#" class="item" id="unclicked">
                        <figure>
                            <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-1.jpg")"  />
                            <figcaption class="text-lg-center text-xs-center"><b>Convenience</b></figcaption>
                        </figure>
                        <p class="text-lg-center text-xs-center hidden-xs">
                            instant pay,<br/> instant covered
                        </p>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 item-container">
                    <a href="#" class="item active" id="unclicked">
                        <figure>
                            <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-2.jpg")"  />
                            <figcaption class="text-lg-center text-xs-center"><b>Worthiness</b></figcaption>
                        </figure>
                        <p class="text-lg-center text-xs-center hidden-xs">
                            wide coverage and excellent service<br/> worth the insurance premium 
                        </p>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 item-container">
                    <a href="#" class="item" id="unclicked">
                        <figure>
                            <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-3.jpg")"  />
                            <figcaption class="text-lg-center text-xs-center"><b>Variety</b></figcaption>
                        </figure>
                        <p class="text-lg-center text-xs-center hidden-xs">
                            broad selection of insurance products <br />suitable for your dream lifestyle
                        </p>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 item-container">
                    <a href="#" class="item active" id="unclicked">
                        <figure>
                            <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-4.jpg")"  />
                            <figcaption class="text-lg-center text-xs-center"><b>Professional</b></figcaption>
                        </figure>
                        <p class="text-lg-center text-xs-center hidden-xs">
                            rest assured with a team <br />of insurance experts full of experiences
                        </p>
                    </a>
                </div>
            </div>
        </section>
    </div>
</main>