﻿@model TobJod.Admin.Models.BannerViewModel

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "form" })) {
            @Html.AntiForgeryToken()
            
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @*<div class="form-group">
                        @Html.LabelFor(model => model.ImageTH, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ImageTH, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ImageTH, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
            
                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageTHFile, htmlAttributes: new { @class = "control-label col-md-2 required" })
                    <div class="col-md-10">
                        <div class="img-preview"><img src="@ViewBag.PathRel@Model.ImageTH" class="img-responsive" /></div>
                        @Html.HiddenFor(model => model.ImageTH)
                        @Html.FileImageFor(model => model.ImageTHFile)
                        @Html.ValidationMessageFor(model => model.ImageTHFile, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageENFile, htmlAttributes: new { @class = "control-label col-md-2 required" })
                    <div class="col-md-10">
                        <div class="img-preview"><img src="@ViewBag.PathRel@Model.ImageEN" class="img-responsive" /></div>
                        @Html.HiddenFor(model => model.ImageEN)
                        @Html.FileImageFor(model => model.ImageENFile)
                        @Html.ValidationMessageFor(model => model.ImageENFile, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.ImageMobileTHFile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="img-preview"><img src="@ViewBag.PathRel@Model.ImageMobileTH" class="img-responsive" /></div>
                        @Html.HiddenFor(model => model.ImageMobileTH)
                        @Html.FileImageFor(model => model.ImageMobileTHFile)
                        @Html.ValidationMessageFor(model => model.ImageMobileTHFile, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageMobileENFile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="img-preview"><img src="@ViewBag.PathRel@Model.ImageMobileEN" class="img-responsive" /></div>
                        @Html.HiddenFor(model => model.ImageMobileEN)
                        @Html.FileImageFor(model => model.ImageMobileENFile)
                        @Html.ValidationMessageFor(model => model.ImageMobileENFile, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.UrlTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UrlTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UrlTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UrlEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UrlEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UrlEN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ActiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ActiveDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ActiveDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ExpireDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ExpireDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sequence, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Sequence, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sequence, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                    </div>
                </div>
        }

    </div>
</div>

@section js {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('.date-picker').datepicker({ format: "dd/mm/yyyy", autoclose: true });
            var params = [{ propertytested: 'ActiveDate', allowequaldates: true }];
            //$('#ExpireDate').rules('add', 'isdateafter', [{ propertytested: 'ActiveDate', allowequaldates: true }]);
            $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }
                    var re = /[0-3]\d\/[01]\d\/\d{4}/;
                    var ok;
                    try {
                        ok = value.match(re) != null;
                    } catch (err) { ok = false; }
                    return ok;
                });
            $.validator.addMethod("isdateafter", function (value, element, params) {
                //alert(params.propertytested);
                var parts = element.name.split(".");
                var prefix = "";
                for (var i = 0; i < parts.length - 1; i++)
                    prefix = parts[i] + ".";
                var startdatevalue = $('input[name="' + prefix + params.propertytested + '"]').val();
                if (!value || !startdatevalue)
                    return true;
                var allowequal = params.allowequaldates.toLowerCase === "true";
                return allowequal ? Date.parse(startdatevalue) <= Date.parse(value) :
                    Date.parse(startdatevalue) < Date.parse(value);
            });
        });
        $('#form').submit(function () {
            var error = [];
            var start = $('#ActiveDate').datepicker('getDate');
            var end = $('#ExpireDate').datepicker('getDate');
            var diff = dateDiffInDays(start, end);
            if (diff < 0) {
                error.push('- Expire Date cannot be less than Active Date')
            }

            if (error.length > 0) {
                alert(error.join('\r\n'));
                return false;
            } else {
                return true;
            }
        });
    </script>
    @if (string.Equals((string)ViewBag.CurrentAction, "Create")) {
        <script>
            $('#ImageTHFile, #ImageENFile').prop('required', true);
        </script>
    }
}
