﻿@model TobJod.Admin.Models.BannerViewModel

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
            @Html.AntiForgeryToken()
            
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageTHFile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @if (Model != null && !string.IsNullOrEmpty(Model.ImageTH)) { <img src="@ViewBag.PathRel@Model.ImageTH" class="img-responsive" /> }
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageENFile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @if (Model != null && !string.IsNullOrEmpty(Model.ImageEN)) { <img src="@ViewBag.PathRel@Model.ImageEN" class="img-responsive" /> }
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageMobileTHFile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @if (Model != null && !string.IsNullOrEmpty(Model.ImageMobileTH)) { <img src="@ViewBag.PathRel@Model.ImageMobileTH" class="img-responsive" /> }
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageMobileENFile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @if (Model != null && !string.IsNullOrEmpty(Model.ImageMobileEN)) { <img src="@ViewBag.PathRel@Model.ImageMobileEN" class="img-responsive" /> }
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UrlTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.UrlTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UrlEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.UrlEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ActiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.ActiveDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.LabelFor(model => model.ExpireDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sequence, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.Sequence, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.LabelFor(model => model.CreateAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.CreateAdmin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UpdateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.UpdateDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.LabelFor(model => model.UpdateAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.UpdateAdmin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OwnerAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.OwnerAdmin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.LabelFor(model => model.ApproveAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.ApproveAdmin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                if ((string)ViewBag.CurrentAction == TobJod.Models.AdminAction.Assign.ToString()) {
                <div class="form-group">
                    @Html.LabelFor(model => model.OwnerAdminId, htmlAttributes: new { @class = "control-label col-md-2 required" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.OwnerAdminId, (IEnumerable<SelectListItem>)ViewBag.OwnerAdminList, "-- Please Select --", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.OwnerAdminId, "", new { @class = "text-danger" })
                    </div>
                </div>
                }

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @if ((string)ViewBag.CurrentAction == TobJod.Models.AdminAction.Approve.ToString()) {
                            <button type="submit" class="btn btn-primary" name="Approve" value="@TobJod.Models.ApproveStatus.Approve">Approve</button>
                            <button type="submit" class="btn btn-warning" name="Approve" value="@TobJod.Models.ApproveStatus.Reject">Reject</button>
                        } else if ((string)ViewBag.CurrentAction == TobJod.Models.AdminAction.Assign.ToString()) {
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="reset" class="btn btn-warning">Reset</button>
                        } else {
                            <button type="button" class="btn btn-warning" onclick="javascript: history.back();">BACK</button>
                        }
                    </div>
                </div>
        }

    </div>
</div>

@section js {
}
