﻿@{ 
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ติดต่อเรา | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ติดต่อ ตอบโจทย์ โบรคเกอร์ ประกันภัย โทร. 02-783-0222";
    pageMeta.MetaKeyword = "ติดต่อเรา, Tobjod, ตอบโจทย์";
}
@using TobJod.Web
@model TobJod.Web.Models.ContactViewModel
@{
    var configModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
}
<main id="page-product-thumbnail" class="tomDev">
    <div id="banner_section">
        <div class="bannerTop">
            <div class="item">
                <figure>
                    <!-- <div style="background-image: url('@Url.Content("~/assets/images/tom/banner/contact-banner.jpg")');"></div> -->
                    <img src="@Url.Content("~/assets/images/tom/banner/contact-banner.jpg")" class="img-responsive">
                </figure>
            </div>
        </div>
    </div>
    <section id="contactSection">
        <div class="container">
            <div class="row">
                <h1>ติดต่อ <strong>"ตอบโจทย์"</strong></h1>
            </div>
            <div class="row slogan text-lg-center text-sm-center text-xs-center">@Html.Raw(Model.ConfigPage.BodyTH.ReplacePath())</div>
        </div>
    </section>
    <section class="contactForm container">
        <form id="form-contact" action="@Url.Action("Save")" method="post"
              @if (configModel.EnableCaptcha) { <text>
              data-fv-addons="reCaptcha2"
              data-fv-addons-recaptcha2-element="captchaContainer2"
              data-fv-addons-recaptcha2-theme="light"
              data-fv-addons-recaptcha2-timeout="120"
              data-fv-addons-recaptcha2-sitekey="6LfcwisUAAAAAH0useokQm42uo-RlPdzPRVthyEb"
              data-fv-addons-recaptcha2-language="th"
              data-fv-addons-recaptcha2-message="The captcha is not valid"
              </text>  }>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group req">
                        <label for="">ชื่อ</label>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", maxlength = "50", placeholder = "โปรดระบุ", autocomplete = "off", data_alpha = "1" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group req">
                        <label for="">นามสกุล</label>
                        @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", maxlength = "50", placeholder = "โปรดระบุ", autocomplete = "off", data_alpha = "1" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group req">
                        <label for="">อีเมล</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control email", type = "email", maxlength = "250", placeholder = "โปรดระบุ", autocomplete = "off" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group req">
                        <label for="">เบอร์โทรศัพท์มือถือ</label>
                        @Html.TextBoxFor(model => model.Tel, new { @class = "form-control numeric", placeholder = "โปรดระบุ", maxlength = "10", type = "tel", data_num = "1", autocomplete = "off" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group req">
                        <label for="">วันเวลาสำหรับติดต่อกลับ</label>
                        <div class="callBackDate">
                            @Html.TextBoxFor(model => model.CallBackDay, new { @class = "form-control prevent_type", maxlength = "10", placeholder = "ระบุวัน", @readonly = "readonly" })
                            @*@Html.TextBoxFor(model => model.CallBackTime, new { @class = "form-control", placeholder = "ระบุเวลา" })*@
                            @Html.DropDownListFor(model => model.CallBackTime, new SelectList(TobJod.Models.Lead.CallBackTimeList(), "Key", "Value"), "ระบุเวลา", new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group req">
                        <label for="">เรื่องที่ต้องการติดต่อ</label>
                        @Html.DropDownListFor(model => model.SubjectId, Model.SubCategoryList, "เลือกเรื่องที่ต้องการติดต่อ", new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="">ข้อความ</label>
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control", placeholder = "ใส่ข้อความ", data_alphanum = "1" })
                    </div>
                </div>
            </div>
            @if (configModel.EnableCaptcha) {
                <text>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div id="captchaContainer2"></div>
                            </div>
                        </div>
                    </div>
                </text>
            }
            <div class="row">
                <div class="col-sm-12">
                    <div class="checkbox form-group">
                        <label><input type="checkbox" id="Agreement" name="Agreement" /> ข้าพเจ้ายอมรับข้อตกลงและเงื่อนไขการใช้บริการทางอิเล็กทรอนิกส์ในรูปแบบต่าง ๆ กับ ตอบโจทย์ โดย บริษัท ธนชาตโบรกเกอร์ จำกัด ดังต่อไปนี้</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-center btn-wrapper">
                    <button class="btn btn-md btn-primary btn-round-md" type="submit">ส่ง</button><button class="btn btn-md btn-round-md hidden-xs" type="reset">ยกเลิก</button>
                </div>
            </div>
        </form>
    </section>
    <section id="contactmapSection">
        <div class="container">
            <address class="row">
                <h2 class="text-xs-center">ตอบโจทย์</h2>
                <h3 class="text-xs-center">ที่ตั้งสำนักงานใหญ่</h3>

                <p class="text-xs-center">@Html.Raw(viewModel.ContactAddressTH.Replace(Environment.NewLine, "<br/>"))</p>

                <div class="row">
                    <div class="col-xs-12 text-xs-center col-lg-4 col-md-4">
                        <a href="tel:@viewModel.ContactTelephoneTH"><span><span class="label-color">โทรศัพท์:</span> @viewModel.ContactTelephoneTH</span></a>
                    </div>
                    <div class="col-xs-12 text-xs-center col-lg-4 col-md-4">
                        <span><span class="label-color">โทรสาร:</span> @viewModel.ContactFaxTH</span>
                    </div>
                    <div class="col-xs-12 text-xs-center col-lg-4 col-md-4">
                        <a href="mailto:@viewModel.ContactEmailTH">
                            <span>
                                <span class="label-color">อีเมล:</span> @viewModel.ContactEmailTH
                            </span>
                        </a>
                    </div>
                </div>
            </address>
            <div class="row contactMap">
                <div id="contact-map"></div>
            </div>
        </div>
    </section>
</main>
<style>
    #page-product-thumbnail.tomDev #contactmapSection .row.contactMap img { border: 0px solid !important; }
</style>
@section modal {
    @if (ViewBag.Notify != null) {
<!-- Modal -->
<div class="modal fade main-model-popup" id="popup-model-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--  <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div> -->
            <div class="modal-body">
                <div class="close-box"></div>
                <div class="text-close" data-dismiss="modal" aria-label="Close">&times;</div>
                <h2 class="text-center">@ViewBag.Notify</h2>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary contact-submit"> </button>
                </div>
            </div>
        </div>
    </div>
</div>
    }
}
@section js {
<script type="text/javascript" src="~/assets/vendor/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/assets/vendor/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    var map;
    var lat;
    var long;
    var features = [];
    var iconBase = '@Url.Content("~/assets/images/icon/")';
            var icons = {
                parking: {
                icon: iconBase + 'contact_us_pin.png'
                },
                library: {
                icon: iconBase + 'contact_us_pin.png'
                },
                info: {
                icon: iconBase + 'contact_us_pin.png'
                },
                personal: {
                    icon: iconBase + 'contact_us_pin.png'//icon: iconBase + 'personal_icon.png'
                }
    };


    function initMap() {
        map = new google.maps.Map(document.getElementById('contact-map'), {
            zoom: 16,
            center: new google.maps.LatLng(@Model.ConfigPage.Data1, @Model.ConfigPage.Data2),
            mapTypeId: 'roadmap'
        });

        features = [
            {
            position: new google.maps.LatLng(@Model.ConfigPage.Data1, @Model.ConfigPage.Data2),
            type: 'info'
            },
        ];

        // Create markers.
        features.forEach(function(feature) {
            var marker = new google.maps.Marker({
            position: feature.position,
            icon: icons[feature.type].icon,
            map: map,
            });
        });


        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                map.setCenter(pos);
            }, function () {
                //handleLocationError(true, infoWindow, map.getCenter());
            });
        }
    }

    setTimeout(function() {
        lazyLoad("https://maps.googleapis.com/maps/api/js?key=AIzaSyDhmIJEVk2ss9bx-hjMV3y_LGQrwH05OBc&callback=initMap");

        //setTimeout( function() { google.maps.event.trigger(map, 'resize');  } ,500);
    },2000);

    $(function () {
        $('#CallBackDay').datetimepicker({ format: 'DD/MM/YYYY', minDate: '@DateTime.Today.ToString("yyyy-MM-dd", new System.Globalization.CultureInfo("en-GB"))', ignoreReadonly: true, daysOfWeekDisabled: [0, 6], disabledDates: [ @Html.Raw(string.Join(",",Model.DayOff.Select(x => ("'" + x.Year.ToString() + "-" + x.ToString("MM-dd") + "'")).ToArray())) ] }).on('dp.change', function (event) {
            $(this).closest('form').formValidation('revalidateField', $(this).attr('name'))
        });
        //$('#CallBackTime').datetimepicker({ format: 'HH:mm' });
    });
    $('#form-contact').on('success.form.fv', function (e) {
        @if (configModel.EnableCaptcha) { 
        <text>
        if ($('#g-recaptcha-response').length < 1) {
            alert('กรุณายืนยันด้วย Captcha');
            return false;
        }
        </text>
        }
        var date = $('#CallBackDay').data("DateTimePicker").date();
        var hour = 0;
        if ($('#CallBackTime').val() != '') hour = parseInt($('#CallBackTime').val().substr(0, 2)) + 2;
        date.set({ hour: hour, minute: 0 });
        if (hour > 0 && moment().isAfter(date)) {
            alert('กรุณาเลือกเวลาอื่น');
            return false;
        }
    });
</script>
    @if (ViewBag.Notify != null) {
        <script>$(function () { $('#popup-model-contact').modal('toggle'); });</script>
    }
}