﻿@model TobJod.Admin.Models.ReportContactUsViewModel
<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i></span>@ViewBag.CurrentMenu.Title</h1>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">Report</div>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Get, new { @class = "form-horizontal", role = "form", id = "form-report" })) {

            <div class="form-group">
                @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "form-control " } })
                </div>
                @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.Category, Model.Categories, "", new { @class = "form-control" })
                </div>

                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" id="btn-search">Submit</button>
                    <button type="submit" class="btn btn-warning" id="btn-export" name="export" value="1">Export</button>
                </div>
            </div>
        }

        <div id="canvas-holder" style="margin: 10px auto;">
            <button type="button" class="btn btn-success pull-right" id="btn-chart-download">Download Chart</button>
            <canvas id="chart-area" height="600" width="800" />
        </div>
    </div>
</div>

@section js {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/assets/vendor/download.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/Chart.PieceLabel.min.js")"></script>
    <script>
        $(function () {
            $('.date-picker').datepicker({ format: "dd/mm/yyyy", autoclose: true, endDate: '-1d' });
            $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }
                    var re = /[0-3]\d\/[01]\d\/\d{4}/;
                    var ok;
                    try {
                        ok = value.match(re) != null;
                    } catch (err) { ok = false; }
                    return ok;
                });

            $('#form-report').submit(function () {
                var error = [];
                var start = $('#DateFrom').datepicker('getDate');
                var end = $('#DateTo').datepicker('getDate');
                var diff = dateDiffInDays(start, end);
                if (diff > 31 || diff < 0) {
                    error.push('- Date From/To should not be more than 31 days.')
                }

                if (error.length > 0) {
                    alert(error.join('\r\n'));
                    return false;
                } else {
                    return true;
                }
            });
        });
        $('#btn-chart-download').click(function () {
            download($(this).attr('href'), 'chart.png', 'image/png');
            return false;
        });
    </script>
    @if (Model.DataTable != null) {
        <script>
        var colors = ['rgb(255, 99, 132)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)', 'rgb(54, 162, 235)', 'rgb(255, 159, 64)', 'rgb(153, 102, 255)', 'rgb(201, 203, 207)'];

        window.onload = function () {
            var ctx = document.getElementById("chart-area").getContext("2d");
            var chart = new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        @for (int i = 0; i < Model.DataTable.Rows.Count; i++) {
                            <text>@(i > 0 ? "," : "")@Model.DataTable.Rows[i]["Total"]</text>
                        }
                    ],
                    backgroundColor: [
                        @for (int i = 0; i < Model.DataTable.Rows.Count; i++) {
                            <text>@(i > 0 ? "," : "")colors[@(i % 6)]</text>
                        }
                    ],
                    label: 'Contact Us'
                }],
                labels: [
                        @for (int i = 0; i < Model.DataTable.Rows.Count; i++) {
                            <text>@(i > 0 ? "," : "")"@Html.Raw(Model.DataTable.Rows[i]["Subject"])"</text>
                        }
                ]
            },
            options: {
                responsive: false,
                maintainAspectRatio: false,
                legend: { position: 'right' },
                animation: {
                    duration: 10,
                    onComplete: function () {
                        if (chart.data.labels.length > 0) {
                            $('#btn-chart-download').show();
                            $('#btn-chart-download').attr('href', chart.toBase64Image()).show();
                        } else {
                            $('#btn-chart-download').hide();
                        }
                    }
                },
                pieceLabel: {
                    render: function (args) {
                        return args.label + ': ' + args.percentage + '%'; //args.value
                    },
                    precision: 0,
                    showZero: true,
                    fontSize: 12,
                    fontColor: '#000',
                    fontStyle: 'bold',
                    fontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
                    arc: false,
                    position: 'border',
                    overlap: true
                }
            }
        });
        };

        </script>
    }
}
