﻿@{ 
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ขั้นตอนการชำระเงิน | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "หลากหลายช่องทาง สะดวกจ่ายได้ทุกเวลา ไม่ว่าจะเป็นการชำระเงินผ่านบัตรเครดิต ทั้งชำระแบบเต็มจำนวนและผ่อนชำระ ซื้อปุ๊ป จ่ายปั๊บ รับความคุ้มครองทันที";
    pageMeta.MetaKeyword = "ผ่อนชำระ, ผ่อน 0%, จ่ายผ่านบัตร, จ่ายเงินออนไลน์, บัตรเครดิต, โอนเงิน";
}
@using TobJod.Web
@model TobJod.Web.Models.PaymentMethodListViewModel

<main id="page-product-thumbnail" class="tomDev privilege-detail">
    <div class="lineTop"></div>
    <div class="container">
        <div class="row">
            <h1>Payment Method</h1>
        </div>
        <div class="row">
            <div class="col-md-12 arrow-right">
                <a href="@Url.Action("Index")" class="btnOutline">Back to previous page</a>
            </div>
        </div>
    </div>

    <section id="newsDetailSection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 detail">
                    <div class="galleryMain">
                        <img src="@Model.UrlUpload@Model.Item.ImageEN" alt="" class="img-responsive">
                    </div>
                    <div class="beforeTitle">
                        <div>Detail</div>
                        <div>@Model.Item.CreateDate.ToString("dd MMMM yyyy", Model.CultureEN)</div>
                    </div>
                    <h2 class="Title">@Model.Item.TitleEN</h2>
                    <div class="content">
                        @Html.Raw(Model.Item.BodyEN.ReplacePath())
                    </div>
                    <div class="container-btn">
                        <a href="#" class="btnOutline addthis_button_compact">Share this</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>


@section js {
    <script>
        $(function () {
            $('#news-box .item > a').matchHeight({ byRow: true, property: 'height', target: null, remove: false });
        });
    </script>
}