﻿<section class="container why-us-product">
    <h1 class="text-lg-center title text-sm-center">
        <b>“ตอบโจทย์”</b> ตรงใจคนใช้ประกัน 
    </h1>
    <div class="line-border owl-carousel3">
        <div class="item-container">
            <a href="#" class="item">
                <figure>
                    <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-1.jpg")"  />
                    <figcaption class="text-lg-center text-xs-center">สะดวก...</figcaption>
                </figure>
                <p class="text-lg-center text-xs-center">
                    ซื้อปุ๊บ จ่ายปั๊บ <br /> รับความคุ้มครองทันที
                </p>
            </a>
        </div>
        <div class="item-container">
            <a href="#" class="item active">
                <figure>
                    <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-2.jpg")"  />
                    <figcaption class="text-lg-center text-xs-center">คุ้มค่า...</figcaption>
                </figure>
                <p class="text-lg-center text-xs-center">
                    รับความคุ้มครองที่ครอบคลุม <br /> สุดคุ้มกับค่าเบี้ยประกันภัย พร้อมความดูแลที่มากกว่า
                </p>
            </a>
        </div>
        <div class="item-container">
            <a href="#" class="item">
                <figure>
                    <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-3.jpg")"  />
                    <figcaption class="text-lg-center text-xs-center">มากกว่า...</figcaption>
                </figure>
                <p class="text-lg-center text-xs-center">
                    หลากหลาย “ตัวเลือก” <br /> ผลิตภัณฑ์ประกันภัย ตอบรับไลฟ์สไตล์ที่คุณต้องการ
                </p>
            </a>
        </div>
        <div class="item-container">
            <a href="#" class="item active">
                <figure>
                    <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-4.jpg")"  />
                    <figcaption class="text-lg-center text-xs-center">มืออาชีพ...</figcaption>
                </figure>
                <p class="text-lg-center text-xs-center">
                    วางใจได้ อุ่นใจดี <br /> มีประสิทธิภาพด้วยประสบการณ์อย่างมืออาชีพ
                </p>
            </a>
        </div>
        @*<div class="item-container">
            <a href="#" class="item">
                <figure>
                    <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-5.jpg")"  />
                    <figcaption class="text-lg-center text-xs-center">ศูนย์ประสานงาน</figcaption>
                </figure>
                <p class="text-lg-center text-xs-center">
                    มีศูนย์ประสานงานทั่วประเทศ<br />เพื่อดูแลลูกค้าอย่างใกล้ชิด
                </p>
            </a>
        </div>*@
    </div>
</section>