﻿@model TobJod.Admin.Models.OrderViewModel
@{
    List<System.Web.Mvc.SelectListItem> countries = ViewBag.Countries;
    var cultureEN = new System.Globalization.CultureInfo("en-GB");
    var ALLOWED_UPLOAD_FILE_TYPES = "jpg,jpeg,png,pdf,doc,docx";
    var MAXIMUM_FILE_SIZE = 2097152;
    var orderPromotion = Model.Promotion;
}
<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.Hidden("Id", Request.QueryString.Get("id"));
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2 form-control-static">@Model.Status</div>
                    <div class="col-md-2">
                        @*<a href="@Url.Action("Cancel")?id=@Model.Id" class="btn btn-danger">Cancel Order</a>*@
                        @Html.EditorFor(model => model.Status, "EnumSelectId", new { htmlAttributes = new { @class = "form-control required" } })
                        <br/>
                        <a id="btn_update_order_status" href="javascript:void(0)" class="btn btn-danger">Update Order</a>
                        <script type="text/javascript">
                            var btn = document.querySelector('#btn_update_order_status');
                            btn.onclick = function () {
                                var status = document.querySelector('#Status');
                                btn.href = '@Url.Action("EditOrderStatus")?id=@Model.Id' + '&status=' + status.value;
                            }
                        </script>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">@Model.Id</div>
                    @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">@Model.CreateDate</div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Policy No</label>
                    <div class="col-md-4 form-control-static">@Model.PolicyNo</div>
                    <label class="control-label col-md-2">CA No</label>
                    <div class="col-md-4 form-control-static">@Model.CANo</div>
                </div>
                @if ((Model.Category == TobJod.Models.ProductCategoryKey.Motor && Model.ProductApplicationMotor.Compulsory == 1) || Model.Category == TobJod.Models.ProductCategoryKey.PRB) {
                <div class="form-group">
                    <label class="control-label col-md-2">PolicyPRB</label>
                    <div class="col-md-4 form-control-static">@Model.PolicyNoAdd</div>
                </div>
                }
            </div>

            <div class="panel-group p-t-2">
                <div class="panel">
                    <div class="panel-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-premium">Premium</a>
                    </div>
                    <div id="collapse-premium" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductApplication.InsuranceCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.InsuranceCode</div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductApplication.ProductCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.ProductCode</div>
                                @Html.LabelFor(model => model.ProductApplication.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.ProductName</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group p-t-2">
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-payment-infomation">Payment Information</a>
                        </div>
                        <div id="collapse-payment-infomation" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2">รหัสอ้างอิงการชำระเงิน(Ref Code)</label>
                                    <div class="col-md-4 form-control-static">@(TobJod.Utils.NullUtils.cvString(Model.PaidRef))</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">รูปแบบการชำระเงิน</label>
                                    <div class="col-md-4 form-control-static">@Model.PaymentChannel.DisplayNameOrDefault()</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">ระยะเวลาการผ่อนชำระ</label>
                                    <div class="col-md-4 form-control-static">@TobJod.Utils.NullUtils.cvString(Model.PaymentInstallment) เดือน</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">รายชื่อธนาคารที่ผ่านการชำระ</label>
                                    <div class="col-md-4 form-control-static">@(TobJod.Utils.NullUtils.cvString(Model.Bank))</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">สถานะการชำระเงิน</label>
                                    <div class="col-md-4 form-control-static">@(TobJod.Utils.NullUtils.cvString(Model.PaymentStatus))</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">เวลาการชำระเงิน</label>
                                    <div class="col-md-4 form-control-static">@(Model.PaymentDate.ToString("dd/mm/yyyy") == TobJod.Utils.DateUtils.SqlMinDate().ToString("dd/mm/yyyy")? "" : Model.PaymentDate.ToString("dd/mm/yyyy hh:mm:ss"))</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-push-2"><a href="@Url.Action("Index")" class="btn btn-primary">Back</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            if(orderPromotion != null) {
                <div class="panel-group p-t-2">
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-promotion">Promotion</a>
                        </div>
                        <div id="collapse-promotion" class="panel-collapse collapse in">
                            <div class="panel-body">
                                @if (orderPromotion.PromotionType == TobJod.Models.PromotionType.Gift)
                {
                    if (orderPromotion.PromotionGifts != null && orderPromotion.PromotionGifts.Count > 0)
                    {
                        var gift = orderPromotion.PromotionGifts.Where(o => o.PromotionId > 0).FirstOrDefault();
                                        <text>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">@gift.TitleTH</label>
                                            <div class="col-md-4 form-control-static">ฟรี</div>
                                        </div>
                                        </text>
                                    }

                                    if (Model.ProductApplication.TotalDiscount > 0 && TobJod.Utils.NullUtils.cvString(Model.ProductApplication.CouponCode).Length > 0)
                                    {
                                        <text>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">ส่วนลดคูปอง</label>
                                            <div class="col-md-4 form-control-static">@Model.ProductApplication.TotalDiscount.ToString("n2") บาท</div>
                                        </div>
                                        </text>
                                    }
                                }
                                @if (orderPromotion.PromotionType == TobJod.Models.PromotionType.Discount)
        {
                                    <div class="form-group">
                                        <div class="control-label col-md-2">ส่วนลด @orderPromotion.DiscountAmount.ToString("0") @(orderPromotion.DiscountType == TobJod.Models.PromotionDiscountType.Amount ? "บาท" : "%")</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            if (Model.Category == TobJod.Models.ProductCategoryKey.TA)
            {
                <div class="panel-group p-t-2">
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-policy-assets">รายการทรัพย์สินที่เอาประกัน</a>
                        </div>
                        <div id="collapse-policy-assets" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2">ประเภทการเดินทาง</label>
                                    <div class="col-md-4 form-control-static">
                                        @(Model.ProductApplicationTA.TravelType == (int)TobJod.Models.ProductTATripType.Foreign ? "เดินทางต่างประเทศ" : "")
                                        @(Model.ProductApplicationTA.TravelType == (int)TobJod.Models.ProductTATripType.Domestic ? "เดินทางในประเทศ" : "")
                                        @(Model.ProductApplicationTA.TravelType == (int)TobJod.Models.ProductTATripType.Education ? "เดินทางเพื่อการศึกษา" : "")
                                    </div>
                                    <label class="control-label col-md-2">เดินทางโดย</label>
                                    <div class="col-md-4 form-control-static">
                                        @Model.ProductApplicationTA.TravelMethod
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">ต้นทาง</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationTA.CountryText</div>
                                    <label class="control-label col-md-2">ปลายทาง</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationTA.ArrivalText</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            if (Model.Category == TobJod.Models.ProductCategoryKey.Home)
            {
                <div class="panel-group p-t-2">
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-policy-assets">รายการทรัพย์สินที่เอาประกัน</a>
                        </div>
                        <div id="collapse-policy-assets" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2">ลักษณะอาคาร</label>
                                    <div class="col-md-4 form-control-static">
                                        @Model.ProductApplicationHome.PropertyTypeText
                                    </div>
                                    <label class="control-label col-md-2">สถานที่ใช้เป็น</label>
                                    <div class="col-md-4 form-control-static">
                                        @Model.ProductApplicationHome.LocationUsageText
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">ผู้ขอเอาประกันมีฐานะเป็น</label>
                                    <div class="col-md-4 form-control-static">@(Model.ProductApplicationHome.BuyerStatus == (int)TobJod.Models.BuyerStatus.Owner ? "เจ้าของ" : "ผู้เช่า")</div>
                                    <label class="control-label col-md-2">ลักษณะสิ่งปลูกสร้าง</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationHome.ConstructionTypeText</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">จำนวนชั้น</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationHome.Floor</div>
                                    <label class="control-label col-md-2">จำนวนคูหา/หลัง/ห้อง</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationHome.RoomAmount</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">พื้นที่ภายในอาคาร</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationHome.SquareMeter</div>
                                    <label class="control-label col-md-2">มูลค่าอาคารสิ่งปลูกสร้าง</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationHome.ConstructionValue</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">มูลค่าเฟอร์นิเจอร์</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationHome.FunitureValue</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-group">
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-address">สถานที่ตั้งทรัพย์</a>
                        </div>
                        <div id="collapse-address" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductApplicationHome.AddressNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationHome.AddressNo</div>
                                    @Html.LabelFor(model => model.ProductApplicationHome.AddressMoo, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationHome.AddressMoo</div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductApplicationHome.AddressVillage, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationHome.AddressVillage</div>
                                    @Html.LabelFor(model => model.ProductApplicationHome.AddressFloor, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationHome.AddressFloor</div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductApplicationHome.AddressSoi, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationHome.AddressSoi</div>
                                    @Html.LabelFor(model => model.ProductApplicationHome.AddressRoad, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationHome.AddressRoad</div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductApplicationHome.AddressSubDistrict, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationHome.AddressSubDistrict</div>
                                    @Html.LabelFor(model => model.ProductApplicationHome.AddressDistrict, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationHome.AddressDistrict</div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductApplicationHome.AddressProvince, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationHome.AddressProvince</div>
                                    @Html.LabelFor(model => model.ProductApplicationHome.AddressPostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationHome.AddressPostalCode</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
            if (Model.Category == TobJod.Models.ProductCategoryKey.Motor || Model.Category == TobJod.Models.ProductCategoryKey.PRB)
            {
                <div class="panel-group">
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-holder">ข้อมูลรถยนต์</a>
                        </div>
                        <div id="collapse-holder" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductApplicationMotor.CarBrand, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@ViewBag.CarBrand</div>
                                    @Html.LabelFor(model => model.ProductApplicationMotor.CarFamily, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@ViewBag.CarFamily</div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductApplicationMotor.CarModel, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@ViewBag.CarModel</div>
                                    @Html.LabelFor(model => model.ProductApplicationMotor.CarRegisterYear, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationMotor.CarRegisterYear</div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductApplicationMotor.CarEngineNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationMotor.CarEngineNo</div>
                                    @Html.LabelFor(model => model.ProductApplicationMotor.CarSerialNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationMotor.CarSerialNo</div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductApplicationMotor.CarPlateNo1, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@(Model.ProductApplicationMotor.CarPlateNo1 + @Model.ProductApplicationMotor.CarPlateNo2)</div>
                                    @Html.LabelFor(model => model.ProductApplicationMotor.CarProvinceId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@ViewBag.CarProvince</div>
                                </div>
                            @if (Model.Category == TobJod.Models.ProductCategoryKey.Motor)
        {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductApplicationMotor.CarCCTV, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@(Model.ProductApplicationMotor.CarCCTV == (int)TobJod.Models.ProductMotorCCTV.Yes ? "ติดตั้ง" : "ไม่ติดตั้ง")</div>
                                    @Html.LabelFor(model => model.ProductApplicationMotor.CarGarageType, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4 form-control-static">@(Model.ProductApplicationMotor.CarGarageType == (int)TobJod.Models.AllYesNo.Yes ? "ซ่อมศูนย์" : "ซ่อมอู่")</div>
                                </div>
                            }

                            @if (Model.Category == TobJod.Models.ProductCategoryKey.PRB)
        {
                                <div class="form-group">
                                    <label class="control-label col-md-2">ประเภทรถ</label>
                                    <div class="col-md-4 form-control-static">
                                        @(Model.ProductApplicationMotor.CarUsageTypeCode == ((int)TobJod.Models.ProductSubCategoryKey.PRB_Car).ToString() ? "เก๋ง" : "")
                                        @(Model.ProductApplicationMotor.CarUsageTypeCode == ((int)TobJod.Models.ProductSubCategoryKey.PRB_Pickup).ToString() ? "กระบะ" : "")
                                        @(Model.ProductApplicationMotor.CarUsageTypeCode == ((int)TobJod.Models.ProductSubCategoryKey.PRB_Van).ToString() ? "ตู้" : "")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">ประเภทการใช้รถ</label>
                                    <div class="col-md-4 form-control-static">
                                        @(Model.ProductApplicationMotor.CarUsageType == (int)TobJod.Models.ProductMotorVehicleUsage.Normal_Personal ? "รถเก๋งส่วนบุคคล" : "")
                                        @(Model.ProductApplicationMotor.CarUsageType == (int)TobJod.Models.ProductMotorVehicleUsage.Normal_Commercial ? "รถเก๋งเพื่อการพาณิชย์" : "")
                                        @(Model.ProductApplicationMotor.CarUsageType == (int)TobJod.Models.ProductMotorVehicleUsage.Passenger_Personal ? "รถโดยสารส่วนบุคคล" : "")
                                        @(Model.ProductApplicationMotor.CarUsageType == (int)TobJod.Models.ProductMotorVehicleUsage.Pickup_Commercial ? "รถบรรทุกเพื่อการพาณิชย์" : "")
                                    </div>
                                    <label class="control-label col-md-2">รหัสการใช้รถ</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationMotor.CarUsageCode</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">ขนาดเครื่อง(CC.)</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationMotor.CarCC</div>
                                    <label class="control-label col-md-2">น้ำหนักรถ(kgs.)</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationMotor.CarWeight</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">รายละเอียดอุปกรณ์เสริม</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationMotor.CarAccessories</div>
                                    <label class="control-label col-md-2">มูลค่าอุปกรณ์เสริม</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplicationMotor.CarAccessoryValue</div>
                                </div>
                            }

                            </div>
                        </div>
                    </div>
                </div>
                }
                if (Model.ProductApplicationPolicyHolders != null && Model.ProductApplicationPolicyHolders.Count > 0)
                {
                    int c = Model.ProductApplicationPolicyHolders.Count(o => o.TitleId > 0);
                    for (int i = 0; i < c; i++)
                    {
                        var policyHolder = Model.ProductApplicationPolicyHolders[i];
                    <text>
                        <div class="panel-group">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-holder">@(Model.ProductApplicationPolicyHolders.Count > 1 ? "ข้อมูลผู้เอาประกัน " + (i +1) : "ข้อมูลผู้เอาประกัน")</a>
                                </div>
                                <div id="collapse-holder" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        @*<div class="form-group">
                                            @Html.LabelFor(model => model.ProductApplication.BuyerName, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4 form-control-static">@Model.ProductApplication.BuyerName</div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ProductApplication.BuyerMobilePhone, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4 form-control-static">@Model.ProductApplication.BuyerMobilePhone</div>
                                            @Html.LabelFor(model => model.ProductApplication.BuyerTelephone, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4 form-control-static">@Model.ProductApplication.BuyerTelephone</div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ProductApplication.BuyerEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4 form-control-static">@Model.ProductApplication.BuyerEmail</div>
                                            @Html.LabelFor(model => model.ProductApplication.BuyerLineId, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4 form-control-static">@Model.ProductApplication.BuyerLineId</div>
                                        </div>*@
                                    <div class="form-group">
                                        <label class="control-label col-md-2">คำนำหน้าชื่อ</label>
                                        <div class="col-md-4 form-control-static">@policyHolder.Title</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">ชื่อผู้สมัคร</label>
                                        <div class="col-md-4 form-control-static">@policyHolder.Name</div>
                                        <label class="control-label col-md-2">นามสกุล</label>
                                        <div class="col-md-4 form-control-static">@policyHolder.Surname</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">สัญชาติ</label>
                                        <div class="col-md-4 form-control-static">@policyHolder.Country</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">ประเภทบัตร</label>
                                        <div class="col-md-4 form-control-static">@((int)TobJod.Models.IDTYPE.IDCard == policyHolder.IDType ? "เลขที่ประจำตัวประชาชน" : "หมายเลข Passport")</div>
                                        <label class="control-label col-md-2">เลขที่ประจำตัวประชาชน/ หมายเลข Passport</label>
                                        <div class="col-md-4 form-control-static">@policyHolder.IDCard</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">วันเกิด</label>
                                        <div class="col-md-4 form-control-static">@policyHolder.Birthday.ToString("dd/MM/yyyy", cultureEN)</div>
                                        <label class="control-label col-md-2">อายุ</label>
                                        <div class="col-md-4 form-control-static">@policyHolder.Age</div>
                                    </div>
                            
                                    @if (Model.Category == TobJod.Models.ProductCategoryKey.PA || Model.Category == TobJod.Models.ProductCategoryKey.PH || Model.Category == TobJod.Models.ProductCategoryKey.TA || Model.Category == TobJod.Models.ProductCategoryKey.Home)
                                    {
                                        <div class="form-group">
                                            <label class="control-label col-md-2">อาชีพ</label>
                                            <div class="col-md-4 form-control-static">@policyHolder.Career</div>
                                        </div>
                                    }
                            
                                    @if (Model.Category == TobJod.Models.ProductCategoryKey.PA || Model.Category == TobJod.Models.ProductCategoryKey.PH || Model.Category == TobJod.Models.ProductCategoryKey.PRB || Model.Category == TobJod.Models.ProductCategoryKey.Home)
                                    {
                                        <div class="form-group">
                                            <label class="control-label col-md-2">เพศ</label>
                                            <div class="col-md-4 form-control-static">
                                                @if (policyHolder.Sex == (int)TobJod.Models.Sex.Male) { <text>ชาย</text> }
                                                else if (policyHolder.Sex == (int)TobJod.Models.Sex.Female) { <text>หญิง</text>}
                                                else { <text>ไม่ระบุ</text> }
                                            </div>

                                        </div>
                                    }
                                    @if (Model.Category == TobJod.Models.ProductCategoryKey.PH)
                                    {
                                        <div class="form-group">
                                            <label class="control-label col-md-2">สถานภาพ</label>
                                            <div class="col-md-4 form-control-static">
                                                @(policyHolder.MaritalStatus == (int)TobJod.Models.MaritalStatus.Single ? "โสด" : "")
                                                @(policyHolder.MaritalStatus == (int)TobJod.Models.MaritalStatus.Married ? "สมรส" : "")
                                                @(policyHolder.MaritalStatus == (int)TobJod.Models.MaritalStatus.Divorced ? "หย่าร้าง" : "")
                                                @(policyHolder.MaritalStatus == (int)TobJod.Models.MaritalStatus.Widowed ? "หม้าย" : "")
                                            </div>
                                        </div>
                                    }
                                    @if (Model.Category == TobJod.Models.ProductCategoryKey.PH)
                                    {
                                        <div class="form-group">
                                            <label class="control-label col-md-2">น้ำหนัก</label>
                                            <div class="col-md-4 form-control-static">@(policyHolder.Weight)</div>
                                            <label class="control-label col-md-2">ส่วนสูง</label>
                                            <div class="col-md-4 form-control-static">@(policyHolder.Height)</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">รายได้ต่อปี</label>
                                            <div class="col-md-4 form-control-static">@policyHolder.AnnualIncome.ToString("n2")</div>
                                        </div>
                                    }

                                    @if (Model.Category == TobJod.Models.ProductCategoryKey.PA || Model.Category == TobJod.Models.ProductCategoryKey.PH || Model.Category == TobJod.Models.ProductCategoryKey.TA || Model.Category == TobJod.Models.ProductCategoryKey.Home)
                                    {
                                        <div class="form-group">
                                            <label class="control-label col-md-2">ผู้รับผลประโยชน์ : ชื่อ</label>
                                            <div class="col-md-4 form-control-static">@policyHolder.BeneficiaryName</div>
                                            <label class="control-label col-md-2">ผู้รับผลประโยชน์ : นามสกุล</label>
                                            <div class="col-md-4 form-control-static">@policyHolder.BeneficiarySurname</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">ประเภทบัตร</label>
                                            <div class="col-md-4 form-control-static">@((int)TobJod.Models.IDTYPE.IDCard == policyHolder.BeneficiaryIDType ? "เลขที่ประจำตัวประชาชน" : "หมายเลข Passport")</div>
                                            <label class="control-label col-md-2">ผู้รับผลประโยชน์ : เลขที่ประจำตัวประชาชน/ หมายเลข Passport</label>
                                            <div class="col-md-4 form-control-static">@policyHolder.BeneficiaryIDCard</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">ผู้รับผลประโยชน์ : ความสัมพันธ์</label>
                                            <div class="col-md-4 form-control-static">@policyHolder.BeneficiaryRelationship</div>
                                            <label class="control-label col-md-2">ผู้รับผลประโยชน์ : มือถือ</label>
                                            <div class="col-md-4 form-control-static">@policyHolder.BeneficiaryMobilePhone</div>
                                        </div>
                                    }
                                        <div class="form-group">
                                            <label class="control-label col-md-2">โทรศัพท์</label>
                                            <div class="col-md-4 form-control-static">@policyHolder.Telephone</div>
                                            <label class="control-label col-md-2">มือถือ</label>
                                            <div class="col-md-4 form-control-static">@policyHolder.MobilePhone</div>
                                        </div>   
                                        <div class="form-group">
                                            <label class="control-label col-md-2">อีเมล์</label>
                                            <div class="col-md-4 form-control-static">@policyHolder.Email</div>
                                            @if (Model.Category == TobJod.Models.ProductCategoryKey.Motor || Model.Category == TobJod.Models.ProductCategoryKey.PRB)
                                        {
                                            <label class="control-label col-md-2">Line ID</label>
                                            <div class="col-md-4 form-control-static">@policyHolder.LineId</div>
                                    }
                                        </div>
                                    @if (Model.Category == TobJod.Models.ProductCategoryKey.Motor || Model.Category == TobJod.Models.ProductCategoryKey.PRB)
                                    {
                                        <div class="form-group">
                                            <label class="control-label col-md-2">Instagram</label>
                                            <div class="col-md-4 form-control-static">@policyHolder.Instagram</div>
                                            <label class="control-label col-md-2">Facebook</label>
                                            <div class="col-md-4 form-control-static">@policyHolder.Facebook</div>
                                        </div>
                                    }

                                        <div class="form-group">
                                            <label class="control-label col-md-2">รูปแบบกรมธรรม์</label>
                                            <div class="col-md-4 form-control-static">
                                                @(Model.ProductApplication.EPolicy == (int)TobJod.Models.AllYesNo.Yes ? "กรมธรรม์อิเล็กทรอนิกส์" : "เล่มกรมธรรม์")
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-2">วันที่เริ่มคุ้มครอง</label>
                                                <div class="col-md-4 form-control-static">@Model.ProductApplication.ActiveDate.ToString("dd/MM/yyyy", cultureEN)</div>
                                                <label class="control-label col-md-2">วันที่สิ้นสุดค้มครอง</label>
                                                <div class="col-md-4 form-control-static">@Model.ProductApplication.ExpireDate.ToString("dd/MM/yyyy", cultureEN)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </text>
                }
            }

            if (Model.Category == TobJod.Models.ProductCategoryKey.Home || Model.Category == TobJod.Models.ProductCategoryKey.PA || Model.Category == TobJod.Models.ProductCategoryKey.PH || Model.Category == TobJod.Models.ProductCategoryKey.TA || Model.Category == TobJod.Models.ProductCategoryKey.Home)
            {
                <div class="panel-group p-t-2">
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-address-emergency">ผู้ติดต่อกรณีฉุกเฉิน</a>
                        </div>
                        <div id="collapse-address-emergency" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2">ชื่อผูติดต่อ</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplication.ContactName</div>
                                    <label class="control-label col-md-2">นามสกุลผู้ติดต่อ</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplication.ContactSurname</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">โทรศัพท์</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplication.ContactTelephone</div>
                                    <label class="control-label col-md-2">มือถือ</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplication.ContactMobilePhone</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">อีเมล</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplication.ContactEmail</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group p-t-2">
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-buyer">ชื่อผู้ขอเอาประกันภัย(กรณีซื้อแทนผู้เอาประกันภัย)</a>
                        </div>
                        <div id="collapse-buyer" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2">ชื่อ</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplication.BuyerName</div>
                                    <label class="control-label col-md-2">นามสกุล</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplication.BuyerSurname</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">โทรศัพท์</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplication.BuyerTelephone</div>
                                    <label class="control-label col-md-2">มือถือ</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplication.BuyerMobilePhone</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">อีเมล</label>
                                    <div class="col-md-4 form-control-static">@Model.ProductApplication.BuyerEmail</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            if (Model.Category == TobJod.Models.ProductCategoryKey.Motor || Model.Category == TobJod.Models.ProductCategoryKey.PRB)
            {
                if (Model.ProductApplicationDrivers != null && Model.ProductApplicationDrivers.Count > 0)
                {
                    for (var i = 0; i < Model.ProductApplicationDrivers.Count; i++)
                    {
                        var driver = Model.ProductApplicationDrivers[i];
                        <div class="panel-group">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-holder-@i">ข้อมูลผู้ขับขี่คนที่ @(i + 1)</a>
                                </div>
                                <div id="collapse-holder-@i" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            @Html.LabelFor(model => driver.TitleId, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4 form-control-static">@driver.Title</div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => driver.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4 form-control-static">@driver.Name</div>
                                            @Html.LabelFor(model => driver.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4 form-control-static">@driver.Surname</div>
                                        </div>
                                         <div class="form-group">
                                            @Html.LabelFor(model => driver.NationalId, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4 form-control-static">@driver.Nationality</div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => driver.IDType, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <dive class="col-md-4 form-control-static">
                                                @((int)TobJod.Models.IDTYPE.IDCard == driver.IDType ? "เลขที่ประจำตัวประชาชน" : "หมายเลข Passport")
                                            </dive>
                                            @Html.LabelFor(model => driver.IDCard, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4 form-control-static">@driver.IDCard</div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => driver.RefIDCard, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4 form-control-static">@driver.RefIDCard</div>
                                            @*@Html.LabelFor(model => driver.NationalId, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4 form-control-static">@driver.Nationality</div>*@
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => driver.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4 form-control-static">@driver.Birthday.ToString("dd/MM/yyyy", cultureEN)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            <div class="panel-group">
                <div class="panel">
                    <div class="panel-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-address">ที่อยู่ปัจจุบัน</a>
                    </div>
                    <div id="collapse-address" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductApplication.AddressNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.AddressNo</div>
                                @Html.LabelFor(model => model.ProductApplication.AddressMoo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.AddressMoo</div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductApplication.AddressVillage, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.AddressVillage</div>
                                @Html.LabelFor(model => model.ProductApplication.AddressFloor, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.AddressFloor</div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductApplication.AddressSoi, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.AddressSoi</div>
                                @Html.LabelFor(model => model.ProductApplication.AddressRoad, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.AddressRoad</div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductApplication.AddressSubDistrict, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.AddressSubDistrict</div>
                                @Html.LabelFor(model => model.ProductApplication.AddressDistrict, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.AddressDistrict</div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductApplication.AddressProvince, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.AddressProvince</div>
                                @Html.LabelFor(model => model.ProductApplication.AddressPostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.AddressPostalCode</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group">
                <div class="panel">
                    <div class="panel-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-address">ที่อยู่ในการออกใบกำกับภาษี</a>
                    </div>
                    <div id="collapse-address" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductApplication.BillingAddressNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.BillingAddressNo</div>
                                @Html.LabelFor(model => model.ProductApplication.BillingAddressMoo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.BillingAddressMoo</div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductApplication.BillingAddressVillage, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.BillingAddressVillage</div>
                                @Html.LabelFor(model => model.ProductApplication.BillingAddressFloor, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.BillingAddressFloor</div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductApplication.BillingAddressSoi, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.BillingAddressSoi</div>
                                @Html.LabelFor(model => model.ProductApplication.BillingAddressRoad, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.BillingAddressRoad</div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductApplication.BillingAddressSubDistrict, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.BillingAddressSubDistrict</div>
                                @Html.LabelFor(model => model.ProductApplication.BillingAddressDistrict, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.BillingAddressDistrict</div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductApplication.BillingAddressProvince, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.BillingAddressProvince</div>
                                @Html.LabelFor(model => model.ProductApplication.BillingAddressPostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.BillingAddressPostalCode</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group">
                <div class="panel">
                    <div class="panel-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-address">ที่อยู่ในการจัดส่งเอกสาร</a>
                    </div>
                    <div id="collapse-address" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductApplication.ShippingAddressNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.ShippingAddressNo</div>
                                @Html.LabelFor(model => model.ProductApplication.ShippingAddressMoo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.ShippingAddressMoo</div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductApplication.ShippingAddressVillage, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.ShippingAddressVillage</div>
                                @Html.LabelFor(model => model.ProductApplication.ShippingAddressFloor, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.ShippingAddressFloor</div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductApplication.ShippingAddressSoi, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.ShippingAddressSoi</div>
                                @Html.LabelFor(model => model.ProductApplication.ShippingAddressRoad, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.ShippingAddressRoad</div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductApplication.ShippingAddressSubDistrict, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.ShippingAddressSubDistrict</div>
                                @Html.LabelFor(model => model.ProductApplication.ShippingAddressDistrict, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.ShippingAddressDistrict</div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductApplication.ShippingAddressProvince, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.ShippingAddressProvince</div>
                                @Html.LabelFor(model => model.ProductApplication.ShippingAddressPostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4 form-control-static">@Model.ProductApplication.ShippingAddressPostalCode</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            if (Model.Category == TobJod.Models.ProductCategoryKey.Motor || Model.Category == TobJod.Models.ProductCategoryKey.PRB)
            {
            <div class="panel-group">
                <div class="panel">
                    <div class="panel-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-address">เอกสารแนบ</a>
                    </div>
                    <div id="collapse-address" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class='col-md-5 text-right caption'>
                                    เอกสารประกอบ 1 สำเนาบัตรประชาชน
                                    @{ var file1 = Model.ProductApplication.ProductApplicationAttachment != null ? Model.ProductApplication.ProductApplicationAttachment.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.IDCard).FirstOrDefault() : null;}
                                </div>
                                <div class='col-md-7'>
                                    <div class="form-group">
                                        <input data-fv-notempty="false"
                                               type="file" data-fv-file="true" data-fv-file-extension="@ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@MAXIMUM_FILE_SIZE" class="form-control input_file_overflow" name="IDCardFile" value="" />
                                        @if (file1 != null) {
                                            <text>
                                            @TobJod.Utils.NullUtils.cvString(file1.FileName)
                                            &nbsp;<a href="@Url.Action("Download",new { Id=file1.Id })">Download</a>
                                            </text>
                                        }
                                    </div>
                                </div>
                                <div class='clearfix'></div>
                            </div>
                            <div class='col-md-5 text-right caption'>
                                เอกสารประกอบ 2 รูปกล้อง CCTV ภายในรถ
                                @{ var file2 = Model.ProductApplication.ProductApplicationAttachment != null ? Model.ProductApplication.ProductApplicationAttachment.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.CCTV).FirstOrDefault() : null;}
                            </div>
                            <div class='col-md-7'>
                                <div class="form-group">
                                    <input data-fv-notempty="false"
                                           type="file" data-fv-file="true" data-fv-file-extension="@ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@MAXIMUM_FILE_SIZE" class="form-control input_file_overflow" name="CCTVFile" value="" />
                                        @if (file2 != null) {
                                            <text>
                                            @TobJod.Utils.NullUtils.cvString(file2.FileName)
                                            &nbsp;<a href="@Url.Action("Download",new { Id=file2.Id })">Download</a>
                                            </text>
                                        }
                                </div>
                            </div>
                            <div class='clearfix'></div>
                            <div class='col-md-5 text-right caption'>
                                เอกสารประกอบ 3 สำเนาเล่มจดทะเบียน
                                @{ var file3 = Model.ProductApplication.ProductApplicationAttachment != null ? Model.ProductApplication.ProductApplicationAttachment.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.RegisteredCarCopy).FirstOrDefault() : null;}
                            </div>
                            <div class='col-md-7'>
                                <div class="form-group">
                                    <input type="file" data-fv-notempty="false"
                                           data-fv-file="true" data-fv-file-extension="@ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@MAXIMUM_FILE_SIZE" class="form-control input_file_overflow" name="CarRegistrationCopyFile" value="" />
                                        @if (file3 != null) {
                                            <text>
                                            @TobJod.Utils.NullUtils.cvString(file3.FileName)
                                            &nbsp;<a href="@Url.Action("Download",new { Id=file3.Id })">Download</a>
                                            </text>
                                        }
                                </div>
                            </div>
                            <div class='clearfix'></div>
                            <div class='col-md-5 text-right caption'>
                                เอกสารประกอบ 4
                                @{ var file4 = Model.ProductApplication.ProductApplicationAttachment != null ? Model.ProductApplication.ProductApplicationAttachment.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.File4).FirstOrDefault() : null;}
                            </div>
                            <div class='col-md-7'>
                                <div class="form-group">
                                    <input type="file" data-fv-file="true" data-fv-file-extension="@ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@MAXIMUM_FILE_SIZE" class="form-control input_file_overflow" name="File4" value="" />
                                        @if (file4 != null) {
                                            <text>
                                            @TobJod.Utils.NullUtils.cvString(file4.FileName)
                                            &nbsp;<a href="@Url.Action("Download",new { Id=file4.Id })">Download</a>
                                            </text>
                                        }
                                </div>
                            </div>
                            <div class='clearfix'></div>
                            <div class='col-md-5 text-right caption'>
                                เอกสารประกอบ 5
                                @{ var file5 = Model.ProductApplication.ProductApplicationAttachment != null ? Model.ProductApplication.ProductApplicationAttachment.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.File5).FirstOrDefault() : null;}
                            </div>
                            <div class='col-md-7'>
                                <div class="form-group">
                                    <input type="file" data-fv-file="true" data-fv-file-extension="@ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@MAXIMUM_FILE_SIZE" class="form-control input_file_overflow" name="file5" value="" />
                                        @if (file5 != null) {
                                            <text>
                                            @TobJod.Utils.NullUtils.cvString(file5.FileName)
                                            &nbsp;<a href="@Url.Action("Download",new { Id=file5.Id })">Download</a>
                                            </text>
                                        }
                                </div>
                            </div>
                            <div class='clearfix'></div>
                            <div class='col-md-5 text-right caption'>
                                เอกสารประกอบ 6
                                @{ var file6 = Model.ProductApplication.ProductApplicationAttachment != null ? Model.ProductApplication.ProductApplicationAttachment.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.File6).FirstOrDefault() : null;}
                            </div>
                            <div class='col-md-7'>
                                <div class="form-group">
                                    <input type="file" data-fv-file="true" data-fv-file-extension="@ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@MAXIMUM_FILE_SIZE" class="form-control input_file_overflow" name="file6" value="" />
                                        @if (file6 != null) {
                                            <text>
                                            @TobJod.Utils.NullUtils.cvString(file6.FileName)
                                            &nbsp;<a href="@Url.Action("Download",new { Id=file6.Id })">Download</a>
                                            </text>
                                        }
                                </div>
                            </div>
                            <div class='clearfix'></div>
                        </div>
                    </div>
                </div>
            </div>
            }
            else
            {
            <div class="panel-group">
                <div class="panel">
                    <div class="panel-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-address">เอกสารแนบ</a>
                    </div>
                    <div id="collapse-address" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class='col-md-5 text-right caption'>
                                    เอกสารประกอบ 1
                                    @{ var file1 = Model.ProductApplication.ProductApplicationAttachment != null ? Model.ProductApplication.ProductApplicationAttachment.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.File1).FirstOrDefault() : null;}
                                </div>
                                <div class='col-md-7'>
                                    <div class="form-group">
                                        <input data-fv-notempty="false"
                                               type="file" data-fv-file="true" data-fv-file-extension="@ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@MAXIMUM_FILE_SIZE" class="form-control input_file_overflow" name="File1" value="" />
                                        @if (file1 != null) {
                                            <text>
                                            @TobJod.Utils.NullUtils.cvString(file1.FileName)
                                            &nbsp;<a href="@Url.Action("Download",new { Id=file1.Id })">Download</a>
                                            </text>
                                        }
                                    </div>
                                </div>
                                <div class='clearfix'></div>
                            </div>
                            <div class='col-md-5 text-right caption'>
                                เอกสารประกอบ 2
                                @{ var file2 = Model.ProductApplication.ProductApplicationAttachment != null ? Model.ProductApplication.ProductApplicationAttachment.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.File2).FirstOrDefault() : null;}
                            </div>
                            <div class='col-md-7'>
                                <div class="form-group">
                                    <input data-fv-notempty="false"
                                           type="file" data-fv-file="true" data-fv-file-extension="@ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@MAXIMUM_FILE_SIZE" class="form-control input_file_overflow" name="File2" value="" />
                                        @if (file2 != null) {
                                            <text>
                                            @TobJod.Utils.NullUtils.cvString(file2.FileName)
                                            &nbsp;<a href="@Url.Action("Download",new { Id=file2.Id })">Download</a>
                                            </text>
                                        }
                                </div>
                            </div>
                            <div class='clearfix'></div>
                            <div class='col-md-5 text-right caption'>
                                เอกสารประกอบ 3
                                @{ var file3 = Model.ProductApplication.ProductApplicationAttachment != null ? Model.ProductApplication.ProductApplicationAttachment.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.File3).FirstOrDefault() : null;}
                            </div>
                            <div class='col-md-7'>
                                <div class="form-group">
                                    <input type="file" data-fv-notempty="false"
                                           data-fv-file="true" data-fv-file-extension="@ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@MAXIMUM_FILE_SIZE" class="form-control input_file_overflow" name="File3" value="" />
                                        @if (file3 != null) {
                                            <text>
                                            @TobJod.Utils.NullUtils.cvString(file3.FileName)
                                            &nbsp;<a href="@Url.Action("Download",new { Id=file3.Id })">Download</a>
                                            </text>
                                        }
                                </div>
                            </div>
                            <div class='clearfix'></div>
                            <div class='col-md-5 text-right caption'>
                                เอกสารประกอบ 4
                                @{ var file4 = Model.ProductApplication.ProductApplicationAttachment != null ? Model.ProductApplication.ProductApplicationAttachment.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.File4).FirstOrDefault() : null;}
                            </div>
                            <div class='col-md-7'>
                                <div class="form-group">
                                    <input type="file" data-fv-file="true" data-fv-file-extension="@ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@MAXIMUM_FILE_SIZE" class="form-control input_file_overflow" name="File4" value="" />
                                        @if (file4 != null) {
                                            <text>
                                            @TobJod.Utils.NullUtils.cvString(file4.FileName)
                                            &nbsp;<a href="@Url.Action("Download",new { Id=file4.Id })">Download</a>
                                            </text>
                                        }
                                </div>
                            </div>
                            <div class='clearfix'></div>
                            <div class='col-md-5 text-right caption'>
                                เอกสารประกอบ 5
                                @{ var file5 = Model.ProductApplication.ProductApplicationAttachment != null ? Model.ProductApplication.ProductApplicationAttachment.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.File5).FirstOrDefault() : null;}
                            </div>
                            <div class='col-md-7'>
                                <div class="form-group">
                                    <input type="file" data-fv-file="true" data-fv-file-extension="@ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@MAXIMUM_FILE_SIZE" class="form-control input_file_overflow" name="file5" value="" />
                                        @if (file5 != null) {
                                            <text>
                                            @TobJod.Utils.NullUtils.cvString(file5.FileName)
                                            &nbsp;<a href="@Url.Action("Download",new { Id=file5.Id })">Download</a>
                                            </text>
                                        }
                                </div>
                            </div>
                            <div class='clearfix'></div>
                            <div class='col-md-5 text-right caption'>
                                เอกสารประกอบ 6
                                @{ var file6 = Model.ProductApplication.ProductApplicationAttachment != null ? Model.ProductApplication.ProductApplicationAttachment.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.File6).FirstOrDefault() : null;}
                            </div>
                            <div class='col-md-7'>
                                <div class="form-group">
                                    <input type="file" data-fv-file="true" data-fv-file-extension="@ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@MAXIMUM_FILE_SIZE" class="form-control input_file_overflow" name="file6" value="" />
                                        @if (file6 != null) {
                                            <text>
                                            @TobJod.Utils.NullUtils.cvString(file6.FileName)
                                            &nbsp;<a href="@Url.Action("Download",new { Id=file6.Id })">Download</a>
                                            </text>
                                        }
                                </div>
                            </div>
                            <div class='clearfix'></div>
                        </div>
                    </div>
                </div>
            </div>
            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                </div>
            </div>
        
        }
    </div>
</div>
@section js {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#Category').change(function () {
            var val = $(this).val();
            if (val == '@TobJod.Models.MasterOptionCategory.DriverAge') {
                $('.input-box-min, .input-box-max').show();
            } else {
                $('.input-box-min, .input-box-max').hide();
            }
        });
        $(function () {
            $('#Category').change();
            $('input[type=file]').each(function () {
                $(this).on('change', function () {
                    var file = this.files[0];
                    console.log('File: ', file);
                    console.log('Data: ', $(this).data());
                    checkUpdateAttachment(this, 2048000);
                });
            });
        });

        function checkUpdateAttachment(file, fileSize) {
            var filename = file.value;
            var reg = /^([a-zA-Z0-9(.) _-]+)$/;
            if (!reg.test(file.files[0].name)) {
                alert('File name should contain only a-z, 0-9 _ - . ()');
                file.value = '';
                return false;
            }
            var ext = filename.substr(filename.lastIndexOf('.') + 1).toUpperCase();
            if (ext != "JPG" && ext != "JPEG" && ext != "PNG" && ext != "PDF" && ext != "DOC" && ext != "DOCX") {
                alert('File type not allowed (only jpg,jpeg,png,pdf,doc,docx).');
                file.value = '';
                return false;
            }
            if (file.files[0].size > fileSize) {
                alert('Image file size is over limit.');
                file.value = '';
                return false;
            }

            return true;
        }
    </script>
}

