﻿@model TobJod.Admin.Models.OrderViewModel
@{ 
    var status = ((int[])ViewBag.Status);
}
<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i></span>@ViewBag.CurrentMenu.Title</h1>
</div>

<div class="panel">
    <div class="panel-heading">
        @if (ViewBag.CurrentMenu.Can_Add) { <a href="@Url.Action("Create")" class="btn btn-info btn-sm pull-right"><span class="btn-label-icon left fa fa-plus"></span> &nbsp; Create</a> }
        <div class="panel-title">List</div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Get, new { @class = "form-horizontal", role = "form", id = "form-search" })) {
        <div class="form-group" id="form-filter">
            <div class="row p-b-1">
                <label class="control-label col-md-2">Order Status</label>
                <div class="col-md-10">
                    <label class="checkbox-inline"><input type="checkbox" name="status" value="@((int)TobJod.Models.OrderStatus.Pending)" @(status.Contains((int)TobJod.Models.OrderStatus.Pending) ? "checked" : "") /> Pending</label>
                    <label class="checkbox-inline"><input type="checkbox" name="status" value="@((int)TobJod.Models.OrderStatus.Success)" @(status.Contains((int)TobJod.Models.OrderStatus.Success) ? "checked" : "") /> Success</label>
                    <label class="checkbox-inline"><input type="checkbox" name="status" value="@((int)TobJod.Models.OrderStatus.Fail)" @(status.Contains((int)TobJod.Models.OrderStatus.Fail) ? "checked" : "") /> Fail</label>
                    <label class="checkbox-inline"><input type="checkbox" name="status" value="@((int)TobJod.Models.OrderStatus.Cancel)" @(status.Contains((int)TobJod.Models.OrderStatus.Cancel) ? "checked" : "") /> Cancel</label>
                </div>
            </div>
            @*<div class="row">
                <label class="control-label col-md-2">Category</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.ProductSubCategoryId, "EnumSelectIdAll", new { htmlAttributes = new { @class = "form-control required" } })
                </div>
            </div>*@
            <div class="row">
                <label class="control-label col-md-2" for="DateFrom">Date From</label>
                <div class="col-md-2">
                    <input type="text" id="DateFrom" name="DateFrom" class="form-control date-picker" value="@ViewBag.DateFrom" />
                </div>
                <label class="control-label col-md-1" for="DateTo">Date To</label>
                <div class="col-md-2">
                    <input type="text" id="DateTo" name="DateTo" class="form-control date-picker" value="@ViewBag.DateTo" />
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary" id="btn-search">Submit</button> &nbsp;
                    @if (ViewBag.CurrentMenu.Can_Export)
            {<button type="submit" class="btn btn-warning" style="margin-right: 10px;" name="export" value="1"><span class="btn-label-icon left fa fa-download"></span> &nbsp; Export</button>}
                </div>
            </div>

        </div>
        }
        <div class="clearfix"></div>
        <div class="table-primary">
            <table class="table table-striped table-bordered data-table data-table-action" id="dataTable">
                <thead>
                    <tr>
                        <th class="id">Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Tel</th>
                        <th>Product Code</th>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Compulsory</th>
                        <th class="datetime">Create Date</th>
                        <th>Payment Id</th>
                        <th>Payment Date</th>
                        <th>Payment Installment</th>
                        <th>Payment Total</th>
                        <th>Payment Response</th>
                        <th>Partner API Status</th>
                        <th>Backend API Status</th>
                        <th>Attached File</th>
                        <th>Status</th>
                        <th class="action action-@(1 + (ViewBag.CurrentMenu.Can_Edit ? 1 : 0) + (ViewBag.CurrentMenu.Can_Assign ? 1 : 0))" data-sortable="false"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section js {
<script>
    var $table;
    $(function () {
        $('#ProductSubCategoryId option[value=0]').remove();
        $table = $('#dataTable').DataTable({
            ajax: {
                url: '@Url.Action("DataTable")',
                type: 'POST',
                data: function (d) {
                    d.category = $("#ProductSubCategoryId").val();
                    d.DateFrom = '@ViewBag.DateFrom';
                    d.DateTo = '@ViewBag.DateTo';
                    d.Status = '@(string.Join(",", ViewBag.Status))';
                }
            },
            columnDefs: [
                { className: "text-center", targets: [6, 7, 14, 15, 16, 17] },
                { className: "text-right", targets: [11, 12] }
            ],
            order: [[0, 'asc']]
        });
        $('.date-picker').datepicker({ format: "dd/mm/yyyy", autoclose: true, clearBtn: true });
    });
    $('#form-search').submit(function () {
        var error = [];
        if ($('#DateFrom').val() == '' && $('#DateTo').val() == '') {
            error.push('- Please select date to search/export');
        } else {
            var start = $('#DateFrom').datepicker('getDate');
            var end = $('#DateTo').datepicker('getDate');
            var diff = dateDiffInDays(start, end);
            if (diff < 0) {
                error.push('- Date To must be greater than Date From')
            }
        }

        if (error.length > 0) {
            alert(error.join('\r\n'));
            return false;
        } else {
            return true;
        }
    });
</script>
    
}