﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>TobJod Backend</title>
        @Styles.Render("~/assets/vendor/font-awesome")
        @Styles.Render("~/assets/css")
        <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/ie8.css")" /><![endif]-->
        @RenderSection("css", required: false)

    </head>
    <body>

        <div id="wrapper">

            <div class="px-nav px-nav-left px-nav-animate" id="px-site-nav">
                <!-- nav -->
                <button type="button" class="px-nav-toggle" data-toggle="px-nav">
                    @*data-toggle="px-nav"*@
                    <span class="px-nav-toggle-arrow"></span>
                    <span class="navbar-toggle-icon"></span>
                    <span class="px-nav-toggle-label font-size-11">HIDE MENU</span>
                </button>
                <ul class="px-nav-content">
                    @if (ViewBag.Menu != null) {
                        foreach (var item in ViewBag.Menu) {
                            if (item.MenuType == TobJod.Models.AdminMenuType.Parent && item.SubMenu != null && item.SubMenu.Count > 0) {
                                <li class="px-nav-item px-nav-dropdown">
                                    <a href="#"><i class="px-nav-icon fa @item.Icon fa-fw"></i><span class="px-nav-label">&nbsp; @item.Title</span></a>
                                    <ul class="px-nav-dropdown-menu">
                                        @foreach (var sub in item.SubMenu) {
                                            <li class="px-nav-item @(String.Equals(sub.Module, ViewBag.CurrentMenu.Module) ? "active" : "")">
                                                <a href="@Url.Action("Index", sub.Module)"><i class="px-nav-icon fa @sub.Icon fa-fw"></i><span class="px-nav-label">&nbsp; @sub.Title</span></a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            } else if (item.MenuType == TobJod.Models.AdminMenuType.Normal) {
                                <li class="px-nav-item @(String.Equals(item.Module, ViewBag.CurrentMenu.Module) ? "active" : "")">
                                    <a href="@Url.Action("Index", item.Module)"><i class="px-nav-icon fa @item.Icon fa-fw"></i><span class="px-nav-label">&nbsp; @item.Title</span></a>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="navbar px-navbar">
                <!-- <nav class="navbar px-navbar"> -->
                <!-- Header -->
                <div class="navbar-header">
                    <a class="navbar-brand px-site-brand" href="@Url.Action("Index", "Home")"><strong>TobJod Backend</strong></a>
                </div>

                <!-- Navbar togglers -->
                @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#px-site-navbar-collapse" aria-expanded="false"><i class="navbar-toggle-icon"></i></button>*@


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="px-site-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="hidden-md">@(ViewBag.Admin != null ? ViewBag.Admin.Name : String.Empty)</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Logout", "Authen")"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
                            </ul>
                        </li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
            <div class="px-content">
                @RenderBody()
            </div>
        </div>
        <!-- /#wrapper -->
        @*@Scripts.Render("~/bundles/modernizr")*@
        @Scripts.Render("~/assets/js-ie8")
        <script>var url_authen = '@System.Configuration.ConfigurationManager.AppSettings["Url_Authen"]';</script>
        @RenderSection("js", required: false)
        @if (ViewBag.Notify != null) {
            var notify = (TobJod.Models.NotifyMessage)ViewBag.Notify;
            <script>
                $(function() {
                    toastr.options.positionClass = 'toast-top-right';
                    toastr['@notify.MessageType.ToString().ToLower()']('@notify.Message', '@notify.Title');
                });
            </script>
        }
    </body>
</html>