﻿@model TobJod.Admin.Models.ReportPerformanceOnlineToOfflineViewModel
<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i></span>@ViewBag.CurrentMenu.Title</h1>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">Report</div>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Get, new { @class = "form-horizontal", role = "form", id = "form-report" })) {

            <div class="form-group">
                @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "form-control " } })
                </div>
                @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.LabelFor(model => model.Source, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Source, "Enum", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" id="btn-search">Submit</button>
                    <button type="submit" class="btn btn-warning" id="btn-export" name="export" value="1">Export</button>
                </div>
            </div>
        }

        @if (Model.DataTable != null) {
        <div id="canvas-holder" style="width:100%;">
            <canvas id="chart-area" height="@((Model.DataTable.Rows.Count * 50) + 200)" width="800" />
        </div>
        }
    </div>
</div>

@section js {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/assets/dist/js/Chart.PieceLabel.min.js")"></script>
    <script>
        $(function () {
            $('.date-picker').datepicker({ format: "dd/mm/yyyy", autoclose: true, endDate: '-1d' });
            $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }
                    var re = /[0-3]\d\/[01]\d\/\d{4}/;
                    var ok;
                    try {
                        ok = value.match(re) != null;
                    } catch (err) { ok = false; }
                    return ok;
                });

            $('#form-report').submit(function () {
                var error = [];
                var start = $('#DateFrom').datepicker('getDate');
                var end = $('#DateTo').datepicker('getDate');
                var diff = dateDiffInDays(start, end);
                if (diff > 31 || diff < 0) {
                    error.push('- Date From/To should not be more than 31 days.')
                }

                if (error.length > 0) {
                    alert(error.join('\r\n'));
                    return false;
                } else {
                    return true;
                }
            });
        });
    </script>
    @if (Model.DataTable != null) {
    <script>
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };

        var config = {
            type: 'horizontalBar',
            data: {
                labels: [@for (int i = 0; i < Model.DataTable.Rows.Count; i++) {
                            <text>@(i > 0 ? "," : "")"@Html.Raw(((DateTime)(Model.DataTable.Rows[i]["ReportDate"])).ToString("dd/MM/yy"))"</text>
                }],
                datasets: [{
                    label: 'Pending',
                    backgroundColor: window.chartColors.grey,
                    data: [@for (int i = 0; i < Model.DataTable.Rows.Count; i++) {
                            <text>@(i > 0 ? "," : "")"@Html.Raw(Model.DataTable.Rows[i]["Pending"])"</text>
                    }]
                }, {
                        label: 'Allocated',
                    backgroundColor: window.chartColors.yellow,
                    data: [@for (int i = 0; i < Model.DataTable.Rows.Count; i++) {
                            <text>@(i > 0 ? "," : "")"@Html.Raw(Model.DataTable.Rows[i]["Allocated"])"</text>
                    }]
                }, {
                        label: 'Follow Up',
                    backgroundColor: window.chartColors.blue,
                    data: [@for (int i = 0; i < Model.DataTable.Rows.Count; i++) {
                            <text>@(i > 0 ? "," : "")"@Html.Raw(Model.DataTable.Rows[i]["FollowUp"])"</text>
                    }]
                }, {
                        label: 'Yes',
                    backgroundColor: window.chartColors.green,
                    data: [@for (int i = 0; i < Model.DataTable.Rows.Count; i++) {
                            <text>@(i > 0 ? "," : "")"@Html.Raw(Model.DataTable.Rows[i]["Yes"])"</text>
                    }]
                }, {
                        label: 'No',
                    backgroundColor: window.chartColors.red,
                    data: [@for (int i = 0; i < Model.DataTable.Rows.Count; i++) {
                            <text>@(i > 0 ? "," : "")"@Html.Raw(Model.DataTable.Rows[i]["No"])"</text>
                    }]
                }, {
                        label: 'Spam',
                    backgroundColor: window.chartColors.purple,
                    data: [@for (int i = 0; i < Model.DataTable.Rows.Count; i++) {
                            <text>@(i > 0 ? "," : "")"@Html.Raw(Model.DataTable.Rows[i]["Spam"])"</text>
                    }]
                }, {
                        label: 'Closed',
                    backgroundColor: window.chartColors.orange,
                    data: [@for (int i = 0; i < Model.DataTable.Rows.Count; i++) {
                            <text>@(i > 0 ? "," : "")"@Html.Raw(Model.DataTable.Rows[i]["Closed"])"</text>
                    }]
                }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        stacked: true
                    }],
                    yAxes: [{
                        stacked: true,
                        categoryPercentage: 1.0,
                        barPercentage: 0.4,
                        gridLines: {
                            display: false
                        }
                    }]
                }
            }
        };
        Chart.plugins.register({
            afterDatasetsDraw: function (chart, easing) {
                // To only draw at the end of animation, check for easing === 1
                var ctx = chart.ctx;

                var labelset = [];
                var positionx = [];
                var positiony = [];

                chart.data.datasets.forEach(function (dataset, i) {
                    var meta = chart.getDatasetMeta(i);
                    if (!meta.hidden) {
                        meta.data.forEach(function (element, index) {
                            // Draw the text in black, with the specified font
                            ctx.fillStyle = 'rgb(100, 100, 100)';

                            var fontSize = 14;
                            var fontStyle = 'normal';
                            var fontFamily = 'Helvetica Neue';
                            ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                            // Just naively convert to string for now
                            var dataString = dataset.data[index].toString();

                            // Make sure alignment settings are correct
                            ctx.textAlign = 'left';
                            ctx.textBaseline = 'middle';

                            var padding = 0;
                            var position = element.tooltipPosition();

                            if (labelset[index] == undefined) labelset[index] = '';
                            labelset[index] += dataset.label + ': ' + dataString + ' | ';
                            if (positionx[index] == undefined) {
                                positionx[index] = 70;// position.x;
                                positiony[index] = position.y - 20;
                            }
                        });
                        //ctx.fillText(labelset[1], positionx[1], positiony[1]);
                    }
                });
                for (var i = 0; i <= labelset.length; i++) {
                    if (labelset[i] != undefined && labelset[i].length > 2) {
                        ctx.fillText(labelset[i].slice(0, -2), positionx[i], positiony[i]);
                    }
                }
            }
        });
        window.onload = function () {
            var ctx = document.getElementById("chart-area").getContext("2d");
            window.myPie = new Chart(ctx, config);
        };

    </script>
    }
}
