/**
 * FormValidation (http://formvalidation.io)
 * The best jQuery plugin to validate form fields. Support Bootstrap, Foundation, Pure, SemanticUI, UIKit frameworks
 *
 * @author      http://twitter.com/nghuuphuoc
 * @copyright   (c) 2013 - 2015 Nguyen Huu Phuoc
 * @license     http://formvalidation.io/license/
 */

.fv-has-feedback {
    position: relative;
}
.fv-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
.fv-has-feedback .fv-control-feedback {
    right: 15px;
}
.fv-help-block {
    display: block;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ For Bootstrap form ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.fv-form-bootstrap .help-block {
    margin-bottom: 0;
}
.fv-form-bootstrap .tooltip-inner {
    text-align: left;
}
.fv-form-bootstrap .fv-bootstrap-icon-no-label {
	top: 0;
}
.fv-form-bootstrap .fv-bootstrap-icon-input-group {
	top: 0;
	z-index: 100;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ For Foundation form ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.fv-form-foundation .error .fv-control-feedback {
    color: #f04124;
}
/**
 * Foundation reset the bottom marin to 0 when the row has '.error' class
 * I need to adjust it when using tooltip to show the error
 */
.fv-form-foundation .error.fv-has-tooltip input, .error.fv-has-tooltip textarea, .error.fv-has-tooltip select {
    margin-bottom: 1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ For Pure form ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~ */

.fv-form-pure .fv-help-block {
    color: rgb(202, 60, 60);    /* Same as Pure .button-error */
}
.pure-form-aligned .pure-control-group .fv-help-block {
    margin-top: 5px;
    margin-left: 180px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ For Semantic form ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.fv-form-semantic .fv-control-feedback.icon {
    right: 7px;
}
.fv-form-semantic .error .icon {
    color: #d95c5c;
}

/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ For UIKit form ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */

.fv-form-uikit .uk-text-warning {
    color: #d32c46;    /* Same as UIKit danger button (.uk-button-danger) */
}
.fv-form-uikit .uk-text-warning {
    color: #d32c46;    /* Same as UIKit danger button (.uk-button-danger) */
    display: block;
}
.uk-form-horizontal.fv-form-uikit .fv-control-feedback {
    line-height: normal;
}