.margin-0 {
  margin: 0 !important;
}
.margin-3 {
  margin: 3px !important;
}
.margin-5 {
  margin: 5px !important;
}
.margin-10 {
  margin: 10px !important;
}
.margin-15 {
  margin: 15px !important;
}
.margin-20 {
  margin: 20px !important;
}
.margin-25 {
  margin: 25px !important;
}
.margin-30 {
  margin: 30px !important;
}
.margin-35 {
  margin: 35px !important;
}
.margin-40 {
  margin: 40px !important;
}
.margin-45 {
  margin: 45px !important;
}
.margin-50 {
  margin: 50px !important;
}
.margin-60 {
  margin: 60px !important;
}
.margin-70 {
  margin: 70px !important;
}
.margin-80 {
  margin: 80px !important;
}
.margin-vertical-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.margin-vertical-3 {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}
.margin-vertical-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.margin-vertical-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.margin-vertical-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.margin-vertical-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.margin-vertical-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.margin-vertical-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.margin-vertical-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}
.margin-vertical-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.margin-vertical-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}
.margin-vertical-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.margin-vertical-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.margin-vertical-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}
.margin-vertical-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}
.margin-horizontal-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.margin-horizontal-3 {
  margin-right: 3px !important;
  margin-left: 3px !important;
}
.margin-horizontal-5 {
  margin-right: 5px !important;
  margin-left: 5px !important;
}
.margin-horizontal-10 {
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.margin-horizontal-15 {
  margin-right: 15px !important;
  margin-left: 15px !important;
}
.margin-horizontal-20 {
  margin-right: 20px !important;
  margin-left: 20px !important;
}
.margin-horizontal-25 {
  margin-right: 25px !important;
  margin-left: 25px !important;
}
.margin-horizontal-30 {
  margin-right: 30px !important;
  margin-left: 30px !important;
}
.margin-horizontal-35 {
  margin-right: 35px !important;
  margin-left: 35px !important;
}
.margin-horizontal-40 {
  margin-right: 40px !important;
  margin-left: 40px !important;
}
.margin-horizontal-45 {
  margin-right: 45px !important;
  margin-left: 45px !important;
}
.margin-horizontal-50 {
  margin-right: 50px !important;
  margin-left: 50px !important;
}
.margin-horizontal-60 {
  margin-right: 60px !important;
  margin-left: 60px !important;
}
.margin-horizontal-70 {
  margin-right: 70px !important;
  margin-left: 70px !important;
}
.margin-horizontal-80 {
  margin-right: 80px !important;
  margin-left: 80px !important;
}
.margin-top-0 {
  margin-top: 0 !important;
}
.margin-top-3 {
  margin-top: 3px !important;
}
.margin-top-5 {
  margin-top: 5px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-top-25 {
  margin-top: 25px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.margin-top-35 {
  margin-top: 35px !important;
}
.margin-top-40 {
  margin-top: 40px !important;
}
.margin-top-45 {
  margin-top: 45px !important;
}
.margin-top-50 {
  margin-top: 50px !important;
}
.margin-top-60 {
  margin-top: 60px !important;
}
.margin-top-70 {
  margin-top: 70px !important;
}
.margin-top-80 {
  margin-top: 80px !important;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin-bottom-3 {
  margin-bottom: 3px !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.margin-bottom-25 {
  margin-bottom: 25px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.margin-bottom-35 {
  margin-bottom: 35px !important;
}
.margin-bottom-40 {
  margin-bottom: 40px !important;
}
.margin-bottom-45 {
  margin-bottom: 45px !important;
}
.margin-bottom-50 {
  margin-bottom: 50px !important;
}
.margin-bottom-60 {
  margin-bottom: 60px !important;
}
.margin-bottom-70 {
  margin-bottom: 70px !important;
}
.margin-bottom-80 {
  margin-bottom: 80px !important;
}
.margin-left-0 {
  margin-left: 0 !important;
}
.margin-left-3 {
  margin-left: 3px !important;
}
.margin-left-5 {
  margin-left: 5px !important;
}
.margin-left-10 {
  margin-left: 10px !important;
}
.margin-left-15 {
  margin-left: 15px !important;
}
.margin-left-20 {
  margin-left: 20px !important;
}
.margin-left-25 {
  margin-left: 25px !important;
}
.margin-left-30 {
  margin-left: 30px !important;
}
.margin-left-35 {
  margin-left: 35px !important;
}
.margin-left-40 {
  margin-left: 40px !important;
}
.margin-left-45 {
  margin-left: 45px !important;
}
.margin-left-50 {
  margin-left: 50px !important;
}
.margin-left-60 {
  margin-left: 60px !important;
}
.margin-left-70 {
  margin-left: 70px !important;
}
.margin-left-80 {
  margin-left: 80px !important;
}
.margin-right-0 {
  margin-right: 0 !important;
}
.margin-right-3 {
  margin-right: 3px !important;
}
.margin-right-5 {
  margin-right: 5px !important;
}
.margin-right-10 {
  margin-right: 10px !important;
}
.margin-right-15 {
  margin-right: 15px !important;
}
.margin-right-20 {
  margin-right: 20px !important;
}
.margin-right-25 {
  margin-right: 25px !important;
}
.margin-right-30 {
  margin-right: 30px !important;
}
.margin-right-35 {
  margin-right: 35px !important;
}
.margin-right-40 {
  margin-right: 40px !important;
}
.margin-right-45 {
  margin-right: 45px !important;
}
.margin-right-50 {
  margin-right: 50px !important;
}
.margin-right-60 {
  margin-right: 60px !important;
}
.margin-right-70 {
  margin-right: 70px !important;
}
.margin-right-80 {
  margin-right: 80px !important;
}
@media (max-width: 767px) {
  .margin-xs-0 {
    margin: 0 !important;
  }
}
@media (min-width: 768px) {
  .margin-sm-0 {
    margin: 0 !important;
  }
}
@media (min-width: 992px) {
  .margin-md-0 {
    margin: 0 !important;
  }
}
@media (min-width: 1200px) {
  .margin-lg-0 {
    margin: 0 !important;
  }
}
.padding-0 {
  padding: 0 !important;
}
.padding-3 {
  padding: 3px !important;
}
.padding-5 {
  padding: 5px !important;
}
.padding-10 {
  padding: 10px !important;
}
.padding-15 {
  padding: 15px !important;
}
.padding-20 {
  padding: 20px !important;
}
.padding-25 {
  padding: 25px !important;
}
.padding-30 {
  padding: 30px !important;
}
.padding-35 {
  padding: 35px !important;
}
.padding-40 {
  padding: 40px !important;
}
.padding-45 {
  padding: 45px !important;
}
.padding-50 {
  padding: 50px !important;
}
.padding-60 {
  padding: 60px !important;
}
.padding-70 {
  padding: 70px !important;
}
.padding-80 {
  padding: 80px !important;
}
.padding-vertical-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.padding-vertical-3 {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.padding-vertical-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.padding-vertical-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.padding-vertical-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.padding-vertical-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.padding-vertical-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.padding-vertical-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.padding-vertical-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}
.padding-vertical-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.padding-vertical-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}
.padding-vertical-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.padding-vertical-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.padding-vertical-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}
.padding-vertical-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}
.padding-horizontal-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.padding-horizontal-3 {
  padding-right: 3px !important;
  padding-left: 3px !important;
}
.padding-horizontal-5 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.padding-horizontal-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.padding-horizontal-15 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.padding-horizontal-20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.padding-horizontal-25 {
  padding-right: 25px !important;
  padding-left: 25px !important;
}
.padding-horizontal-30 {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
.padding-horizontal-35 {
  padding-right: 35px !important;
  padding-left: 35px !important;
}
.padding-horizontal-40 {
  padding-right: 40px !important;
  padding-left: 40px !important;
}
.padding-horizontal-45 {
  padding-right: 45px !important;
  padding-left: 45px !important;
}
.padding-horizontal-50 {
  padding-right: 50px !important;
  padding-left: 50px !important;
}
.padding-horizontal-60 {
  padding-right: 60px !important;
  padding-left: 60px !important;
}
.padding-horizontal-70 {
  padding-right: 70px !important;
  padding-left: 70px !important;
}
.padding-horizontal-80 {
  padding-right: 80px !important;
  padding-left: 80px !important;
}
.padding-top-0 {
  padding-top: 0 !important;
}
.padding-top-3 {
  padding-top: 3px !important;
}
.padding-top-5 {
  padding-top: 5px !important;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.padding-top-15 {
  padding-top: 15px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-top-25 {
  padding-top: 25px !important;
}
.padding-top-30 {
  padding-top: 30px !important;
}
.padding-top-35 {
  padding-top: 35px !important;
}
.padding-top-40 {
  padding-top: 40px !important;
}
.padding-top-45 {
  padding-top: 45px !important;
}
.padding-top-50 {
  padding-top: 50px !important;
}
.padding-top-60 {
  padding-top: 60px !important;
}
.padding-top-70 {
  padding-top: 70px !important;
}
.padding-top-80 {
  padding-top: 80px !important;
}
.padding-bottom-0 {
  padding-bottom: 0 !important;
}
.padding-bottom-3 {
  padding-bottom: 3px !important;
}
.padding-bottom-5 {
  padding-bottom: 5px !important;
}
.padding-bottom-10 {
  padding-bottom: 10px !important;
}
.padding-bottom-15 {
  padding-bottom: 15px !important;
}
.padding-bottom-20 {
  padding-bottom: 20px !important;
}
.padding-bottom-25 {
  padding-bottom: 25px !important;
}
.padding-bottom-30 {
  padding-bottom: 30px !important;
}
.padding-bottom-35 {
  padding-bottom: 35px !important;
}
.padding-bottom-40 {
  padding-bottom: 40px !important;
}
.padding-bottom-45 {
  padding-bottom: 45px !important;
}
.padding-bottom-50 {
  padding-bottom: 50px !important;
}
.padding-bottom-60 {
  padding-bottom: 60px !important;
}
.padding-bottom-70 {
  padding-bottom: 70px !important;
}
.padding-bottom-80 {
  padding-bottom: 80px !important;
}
.padding-left-0 {
  padding-left: 0 !important;
}
.padding-left-3 {
  padding-left: 3px !important;
}
.padding-left-5 {
  padding-left: 5px !important;
}
.padding-left-10 {
  padding-left: 10px !important;
}
.padding-left-15 {
  padding-left: 15px !important;
}
.padding-left-20 {
  padding-left: 20px !important;
}
.padding-left-25 {
  padding-left: 25px !important;
}
.padding-left-30 {
  padding-left: 30px !important;
}
.padding-left-35 {
  padding-left: 35px !important;
}
.padding-left-40 {
  padding-left: 40px !important;
}
.padding-left-45 {
  padding-left: 45px !important;
}
.padding-left-50 {
  padding-left: 50px !important;
}
.padding-left-60 {
  padding-left: 60px !important;
}
.padding-left-70 {
  padding-left: 70px !important;
}
.padding-left-80 {
  padding-left: 80px !important;
}
.padding-right-0 {
  padding-right: 0 !important;
}
.padding-right-3 {
  padding-right: 3px !important;
}
.padding-right-5 {
  padding-right: 5px !important;
}
.padding-right-10 {
  padding-right: 10px !important;
}
.padding-right-15 {
  padding-right: 15px !important;
}
.padding-right-20 {
  padding-right: 20px !important;
}
.padding-right-25 {
  padding-right: 25px !important;
}
.padding-right-30 {
  padding-right: 30px !important;
}
.padding-right-35 {
  padding-right: 35px !important;
}
.padding-right-40 {
  padding-right: 40px !important;
}
.padding-right-45 {
  padding-right: 45px !important;
}
.padding-right-50 {
  padding-right: 50px !important;
}
.padding-right-60 {
  padding-right: 60px !important;
}
.padding-right-70 {
  padding-right: 70px !important;
}
.padding-right-80 {
  padding-right: 80px !important;
}