@media all and (min-width:320px) and (max-width:1024px) {
	.mobile_search_newform { display: block; }
}

@media all and (min-width:320px) and (max-width:992px) {
	.mobile_search_newform i, .mobile_search_newform * { color: #252525; }
	.mobile_search_newform .form-container .form-item .submit-container { position: static; width: 100%; }
	.filter-container .inner .form-container .form-item .submit-container .btn-primary.btn-round-md
    { margin-top: 35px; }
    .filter-container .inner .form-container .form-item .submit-container { position: static; width: 100%; }
}

.owl-carousel9 { }
.owl-carousel9.opa { opacity: 0.0; }
.owl-carousel9 .owl-item { float: left; }
.owl-carousel9 .owl-item .icon 
,.owl-carousel9 .owl-item .text
,.owl-carousel9 .owl-item .icon i 
{ text-align: center; color:#F37022; }
.owl-carousel9 .owl-item:hover .icon 
,.owl-carousel9 .owl-item:hover .text
,.owl-carousel9 .owl-item:hover .icon i 
{ color:#fff; }
.owl-carousel9 .owl-item:hover 
,.owl-carousel9 .owl-item:focus .icon 
,.owl-carousel9 .owl-item:focus .text
,.owl-carousel9 .owl-item:focus .icon i 
,.mobile_search_newform .owl-stage .owl-item.activated .icon i
,.mobile_search_newform .owl-stage .owl-item.activated .text
,.mobile_search_newform .owl-stage .owl-item.activated .icon 
{ background-color: #F37022; color:#fff; }

/* .mobile_search_newform .owl-stage .owl-item:focus,*/
.mobile_search_newform .owl-stage .owl-item:hover
,.mobile_search_newform .owl-stage .owl-item.activated
{ background-color: #F37022; }

.owl-carousel9 .owl-item .icon  { font-size: 2.1rem; }
.owl-carousel9 .owl-item .text { font-size: 2.0rem; line-height: 14px; }
.owl-carousel9.en .owl-item .text { font-size: 1.4rem; line-height: 14px;  }
.mobile_search_newform .form-container .form-item { position: absolute; left: 0px; top: 0px; height: 100%; padding-top: 20px; padding-left: 50px; padding-right: 50px;  width: 100%; }
.mobile_search_newform { margin-top: 2px; margin-bottom: 10px; }
.mobile_search_newform .owl-stage { display: flex; }
.mobile_search_newform .owl-stage .owl-item { border:solid 1px #F37022; padding-top: 6px; padding-bottom: 10px; background-color: #ECE318; }
.mobile_search_newform { background-color: #F36E21; width: 100%; }
.mobile_search_newform .filter-container { padding: 4px 2px 2px 2px; width: 100%; border: solid 1px #F36E21; background-color: #fff; width: 100%; min-height: 20px;  }
.mobile_search_newform .form-container .form-item { background-color: #fff; }
.mobile_search_newform .filter-container > .inner { background-color: #fff; min-height: 10px; }
.mobile_search_newform .filter-container .inner-xs2 { padding: 30px 25px; position: relative; }
.contact-agent-bot > button { background-color: transparent; color: #fff; border:none; padding: 3px 9px; font-size: 2.7rem; display: block; margin: auto; }
.mobile_search_newform .form-container .form-item .submit-container { bottom: 2.0%; height: 50px; text-align: center; }
.mobile_search_newform .form-container .form-item .submit-container * { color:#fff; }
.mobile_search_newform .form-container .form-item { padding-left: 15px; padding-right: 15px; display: table; height: 100%; width:100%; }
.mobile_search_newform .form-container .radio-inline input[type=radio] ,#form .radio-inline input[type=radio] { opacity: 0.0; }
.mobile_search_newform .form-container .form-item label.required .ddTitle
, .mobile_search_newform .form-container .form-item .inner-form-wrapper label.required .dd .ddTitle 
, .mobile_search_newform .form-container .form-item .inner-form-wrapper input.required
, .mobile_search_newform .form-container .form-item .inner-form-wrapper select.required
{ padding-left: 7px; border-left: 3px solid #F46F22; height: 100%; max-height: 37px;  }
.mobile_search_newform .form-container .form-item .inner-form-wrapper .borderRadiusTp 
{ border-radius:0px 0px 0px 0px; }
.mobile_search_newform .form-container .form-item .inner .gender .radio-inline 
{ display: inline-block; }
.mobile_search_newform .form-container .form-item .inner .gender .radio-inline 
{ max-height: 37px; }

.mobile_search_newform .form-container .form-item { -webkit-transition: height 0.1s; /* Safari */ transition: height 0.1s; }
.mobile_search_newform .form-container .form-item * { font-size: 2.0rem; }
.mobile_search_newform .form-container .form-item option { font-size: 1.5rem; }
.mobile_search_newform .form-container .form-item label { margin-bottom: 5px; }
.mobile_search_newform .form-container .form-item .submit-container { margin-bottom: 5px; position: absolute; bottom: 27.5%; width: 100%; height: 80px; }
.mobile_search_newform .form-container .form-item .inner-form-wrapper .caption { font-size: 2.0rem; padding-left: 5px; }
.mobile_search_newform .form-container .form-item .inner-form-wrapper .ddcommon 
, .mobile_search_newform .form-container .form-item .inner-form-wrapper input
, .mobile_search_newform .form-container .form-item .inner-form-wrapper select
{ border:solid 1px #949695; margin-top: 5px; max-height: 40px; 
	padding:0 0.65em !important;
    height:auto !important;
}
select {
	-webkit-appearance: none;
	background: rgba(255,255,255,0.1) url('../images/icon/ddarrow.png') no-repeat;
	background-position:center right;
	}
.mobile_search_newform .form-container .form-item .inner-form-wrapper select 
{ display: block; padding: 8px 8px; width: 100%; }
.mobile_search_newform .form-container .form-item .inner-form-wrapper select[required="required"] 
{ border-left: 4px solid #F46F22!important; }
.mobile_search_newform .form-container .form-item .inner-form-wrapper select[required="required"]  
, .mobile_search_newform .form-container .form-item .inner-form-wrapper input 
, .mobile_search_newform .form-container .form-item .inner-form-wrapper select
{ height: 37px !important; border-radius: 0px; }
.mobile_search_newform .form-container .form-item .inner-form-wrapper input 
{ display: block; padding: 8px 8px; width: 100%; }
.mobile_search_newform .form-container .form-item .inner-form-wrapper .dd .ddTitle 
{ border:none; border-radius:0px; height: 40px; }
.mobile_search_newform .form-container .form-item .inner-form-wrapper .ddcommon.borderRadius 
{ border-radius:0px; /*border-left: 3px solid #F46F22;*/ }
.mobile_search_newform .form-container .form-item .inner-form-wrapper .dd .ddTitle 
{ color:#252525 }
.mobile_search_newform .form-container .form-item .inner-form-wrapper .dd .ddTitle .ddTitleText 
{ padding-top: 5px; font-weight: normal; letter-spacing: 0px; }
.mobile_search_newform .form-container .form-item .inner-form-wrapper .dd .ddChild li .ddlabel 
{ font-weight: normal; font-size: 1.6rem; }
.mobile_search_newform .form-container .form-item .inner-form-wrapper .dd .ddTitle .ddTitleText .ddlabel 
{ font-size: 2.1rem; }
.mobile_search_newform .form-container .form-item .inner-form-wrapper .dd .ddChild li .ddlabel 
{ color:#252525 }
.mobile_search_newform .form-container .form-item .ddOutOfVision 
{ top: 55%; left: 0%; }

@media all and (min-width:580px) and (max-width:1280px) {
  .mobile_search_newform  { margin-top: 0px; }
}

@media all and (min-width:680px) and (max-width:840px) {
  .mobile_search_newform  { margin-top: 1px; }
}


@media all and (min-width:992px) and (max-width:1024px) and ( orientation: landscape ) {
	.mobile_search_newform .form-container .form-item .submit-container { position: static; margin-top: 30px; }
}
