﻿
        .uuid small {
            text-align:left;
        }
        .uerr{ color: red;}
        .form-wrapper #form label.required .ddTitle, .new_form_v1 .form-group.required .ddcommon input[type="text"] {
            border-left-color: #ffff;
        }
        .form-control[readonly] {
            background-color: #eee !important;
        }
        div.file_name {
            white-space: nowrap;
            width: 12em;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .new_form_v1 span.trash {
            display: table-cell;
            vertical-align: middle;
            background-color: gray;
            text-align: center;
        }
        .new_form_v1 div.trash {
             margin-top:1px;
             width: 34px;
             height: 34px;
             display: table;
        }
        .new_form_v1 .ddcommon { background-color: white; height:37px; }
        .glyphicon-ok , .glyphicon-remove { display:none !important;}
        .mobile-box { font-size: 2rem; font-weight: 600;}