/*html { font-size: 55.0%; } */
.dd { width: 100% !important; }
.yellow { color: #d8d508; }
.red { color: red; }
.orange { color: #f36f21; }
.product-detail { font-size: 2.0rem; line-height: 2.3rem; }
.product-detail .panel-group .panel { border-radius: 0; }
.product-detail-rows { padding: 70px 0 50px 0; }
.product-detail h4 { font-size: 2.80rem; line-height: 3rem; }
.product-detail a.more-detail { font-size: 2.1rem; float: right  }
.banner-hero { padding-top: 45px; }
@media all and (min-width:320px) and (max-width:1366px) {
	.banner-hero { padding-top: 20px; overflow: hidden; }
}

@media all and (min-width:1367px) and (max-width:1600px) {
	.banner-hero { padding-top: 20px; overflow: hidden; }
}
.img-center { margin:0 auto; }
.form_style input[type=text], .form_style input[type=email], .form_style input[type=tel], .form_style select, .form_style textarea { border-radius: 0;  font-size: 2.1rem; letter-spacing: 1px;}
.form_style .required { border-left:4px solid #f36f21; }
.checkbox.has-success label { color: #333; }

.has-error input[type=text]::-webkit-input-placeholder, .has-error input[type=email]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a94442;
}
.has-error input[type=text]::-moz-placeholder, .has-error input[type=email]::-moz-placeholder  { /* Firefox 19+ */
  color: #a94442;
}
.has-error input[type=text]:-ms-input-placeholder, .has-error input[type=email]:-ms-input-placeholder { /* IE 10+ */
  color: #a94442;
}
.has-error input[type=text]:-moz-placeholder, .has-error input[type=email]:-moz-placeholder { /* Firefox 18- */
  color: #a94442;
}

.product-detail .ribbon-content { color: #ed1c24; display: block; width: 100%; text-decoration: underline; font-weight: bold; margin: 13px 0 5px; }
.product-detail .panel-heading.active, .product-detail .panel-heading:hover { background: #464646; }
.product-detail .panel-heading.active a, .product-detail .panel-heading:hover a { color: #f36f21;  }
.product-detail .warp-star { position: absolute; right: 0; top: 0; }
.product-detail .warp-des { width: 100%; position: relative; float: left; }
ul.product-detail-main { float: left; list-style: none; margin: 0; padding:0;}
ul.product-detail-main > .pic { width: 165px; float: left; border:1px solid #898989; }
ul.product-detail-main > .des { float: left; margin-left: 30px; position: relative; }
ul.product-detail-main > .des .price { font-size: 4rem; color: #f36f21;  }
ul.product-detail-main > .des h1 { padding-bottom: 10px; font-size:3.5rem;  }
ul.product-detail-main > .des .bath { font-size: 3rem; color: #000; }
ul.product-detail-main > .des .new 
, .des .new 
{ position: absolute; left:0; top: 0; background: #ebe50c; color: #f36f21; border-radius: 15px; font-size: 2.20rem; padding: 0px 5px 0px 5px; }
ul.star { float: right; list-style: none; padding-top: 50px; }
ul.star > li { float: left; margin-left: 5px; }
.rate-star { float: right; padding-left: 20px; padding-top: 54px; font-size: 2rem; }
.rate-star .small { font-size: 1.5rem }

.product-detail .box-contact { border:1px solid #f36f21; }
.product-detail .box-contact .head { background: #f36f21; text-align: center; padding: 15px 0; color: #fff; font-size: 2.5rem; }
.product-detail .box-contact .warp  { padding: 20px; }
.product-detail .box-contact .nav-tabs { border-bottom: 1px solid #f36f21; }
.product-detail .box-contact .nav-tabs>li.active>a, .product-detail .box-contact .nav-tabs>li.active>a:active, .product-detail .box-contact .nav-tabs>li.active>a:focus, .product-detail .box-contact .nav-tabs>li.active>a:hover { 
	border:none; background: none;
}
.product-detail .wizard-wrapper { border: none; }
.product-detail .warp-tab-container { width: 100%; padding: 10px 0 }
.product-detail .box-contact .nav-tabs>li>a:hover, .product-detail .box-contact .nav-tabs>li>a:focus  { background:none; border:none; }
.product-detail .box-contact .nav-tabs>li>a { color: #333; font-weight: bold; border:none; }
.product-detail .box-contact .nav-tabs>li.active>a { color: #f36f21; }
.product-detail .box-contact .nav-tabs>li.active { border-bottom:3px solid #f36f21;  }
.nav>li>a:focus, .nav>li>a:hover, .nav>li>a:active { background: none; border: none; }
.product-detail .box-contact ul.info { width: 100%; margin:0; padding: 20px 0 0 0; }
.product-detail .box-contact ul.info > li { width: 50%; float: left; list-style: none; line-height: 3rem; }
.product-detail .box-contact ul.info > li.head-gift { padding-top: 15px; }
.product-detail .gift-list { padding:0 0 0 17px; list-style: disc; }
.product-detail .box-contact ul.info > li > .gift-list > li { list-style: disc; width: 100%; }
.product-detail .box-contact .sub-des { width: 100%; padding:20px 0 0 20px;   }
.product-detail .box-contact .sub-des > li { list-style: disc; }
.contact-agent-bot { background: #f36f21; text-align: center; width: 100%; border-radius: 30px; margin-top: 20px; }
.contact-agent-bot > a, .contact-agent-bot > button { color: #fff; padding: 12px 0; font-size: 2.7rem; display: block; width: 100%; background: transparent; border: 0; cursor: pointer; }
.contact-agent-bot > a:hover { color: #fff; }

#contact-popup .modal-dialog { width: 1000px }
#contact-popup .warp { width: 80%; margin:0 auto; }
#contact-popup .modal-footer { border: none; }
#contact-popup .modal-content { border:2px solid #ebe50d; border-radius: 0; border-bottom: 50px solid #ebe50d; }
#contact-popup .modal-header { border:none; padding: 0; }
#contact-popup .close-box { position: absolute; right: 0; top: 0px; font-size: 50px; background:#ebe50d; width: 20px; height: 20px;  }
#contact-popup .text-close { font-size: 50px; position: absolute; right: 0; top: -29px; color: red; right: -1px; cursor: pointer; font-family: 'psl_kanda_modernregular';  }
#contact-popup h4 { font-size: 3.5rem; }
#contact-popup p { font-size: 2.1rem; padding: 20px 0; }
#contact-popup label { font-weight: 600; font-size: 2.1rem; }
#contact-popup .product-current { font-size: 2.1rem; padding-top: 10px; color:#f36f21; font-weight: 600; }
#contact-popup .modal-footer { text-align: center; }
#contact-popup .contact-submit { width: 100px !important; margin:0 auto; font-weight: 400; font-size: 2.1rem; padding: 10px 0; border-radius: 30px; position: absolute; left: 44%; bottom: -20px; margin-left: -50px; }
#contact-popup .checkbox label, #contact-popup .radio label { font-weight: 400; }

.timepicker .btn { color: #666; font-size: 1.5rem; min-width: 20px; }
.timepicker .btn-primary, .timepicker .btn-primary:hover { color: #fff; }
.panel-default > .panel-heading+.panel-collapse > .panel-body { }
.panel-default > .panel-heading+.panel-collapse > .panel-body b { font-size: 2.3rem; }

.head-conscience { padding:5px 7px; float: left; font-size:1.7rem; width: 95%; }
.text-conscience { width: 100%; height: 100px; overflow: auto; font-size:1.7rem; float: left; padding:5px 7px; margin:0px 0 15px 0px; border:1px solid #ccc; } 


@media screen and (max-width: 1024px) {

	#contact-popup .modal-dialog { width: 90% }
}

@media screen and (max-width: 767px) {

	
	ul.product-detail-main > .des h1 { font-size:3rem; }
	ul.product-detail-main > .des .price {  font-size: 3rem; }
	ul.product-detail-main > .des .bath { font-size: 2.5rem; }
	ul.product-detail-main > .des .new { font-size: 1.2rem; padding:0 5px; }
	.contact-agent-bot > a { font-size: 2.3rem; }
	#contact-popup .btn { left: 42%; }
	#contact-popup input[name=time] { margin-top: 15px; }
	ul.product-detail-main { padding: 20px 0 0 0; }
	.head-conscience, .text-conscience  { width:90%; }
   #contact-popup .warp { width: 100%; }

}
@media screen and (max-width: 600px) {
	ul.product-detail-main > .pic { width: 100px; }
	#contact-popup .btn { left: 37%; }
    ul.product-detail-main > .des h1 { font-size: 2rem; margin-bottom: 0 }
    ul.product-detail-main > .des .price { font-size: 2rem; }
    ul.product-detail-main > .des .bath { font-size: 1.7rem; }
    .product-detail-rows { padding: 30px 0 20px 0; }
    	.head-conscience, .text-conscience  { width:250px; }
}
@media screen and (max-width:450px) {
	ul.product-detail-main > .pic { width: 100%; }
	ul.product-detail-main > .des { margin:30px 0 0 0; }
	.product-detail .warp-star { position: relative; float: right; right: auto; top: auto; }
	ul.star { padding-top: 24px; }
	.rate-star { padding-top: 27px; }
	.product-detail-rows { padding-top: 30px; }
	#contact-popup .modal-dialog {  width: 100%; margin: 20px 0; padding: 10px 15px; }
}


.table-coverage { width: 100%; border-collapse: collapse; font-weight: 100; }
.table-coverage tr td:first-of-type { text-align: left; font-weight: 100; }
.table-coverage tr td:last-of-type { text-align: right; font-weight: 100; }
/*.table-coverage tr td { border-bottom: 1px solid black; }*/