#page-product-list { font-size: 1.7rem; }
#page-product-list .hide-criteria, #page-product-list .change-sorting { font-size: 2rem; }

#product-list { padding-top: 70px; }
#product-list > .row > .col > .item-content { border: solid 1px #cccccc;  padding: 40px 10px 10px; padding-bottom: 5px; font-size: 2rem; color: #252525; letter-spacing: 1; margin-bottom: 50px;  background: #fafafa; position: relative; }
#product-list > .row > .col.active > .item-content { background: #fcfbdb; border: solid 1px #f36f21; }

#product-list .product-detail { font-size: 3.5rem; line-height: inherit; letter-spacing: 1px; }

#product-list .thumb-img { position: relative; padding: 0 40px; }
#product-list .thumb-img img { max-width: 100%; border: solid 1px #898989; margin-bottom: 40px; }
#product-list .ribbon { position: absolute; top: -20px; margin: 0; left: -10px; padding: 0; } /* box-shadow: 1px 1px 0 0 #ebe50c; */
#product-list .ribbon .ribbon-content { position: relative; letter-spacing: 1px; z-index: 10; display: inline-block; color: #f36f21; font-size: 1.8rem; font-style: italic; background: #ebe50c; text-align: center; height: 35px; padding: 0 19px 0 20px;overflow: auto !important; max-width: 100% !important; min-width: 90% !important; /*line-height: 35px;*/ box-shadow: 0px 3px 0 0 rgba( 0, 0, 0 , 0.5); }
#product-list .ribbon:before { content: ""; position: absolute; display: block; border-style: solid; border-color: #b1af0a transparent transparent #fff; /* bottom: -10px; */ z-index: 11; left: 0; border-width: 10px 0 0 10px; bottom:-3px; }
#product-list .price { color: #f36f21; }
#product-list .price small { font-size: 1.5rem; color: #252525; }
#product-list .badge-new { color: #f36f21; background: #ebe50c; display: inline-block; font-size: 2.0rem; height: 15px; line-height: 14px; width: 40px; text-align: center; border-radius: 15px; margin-top: 5px; }

#product-list .review-wrapper { margin-top: 15px; position: relative; }
#product-list .review-wrapper:after { content: ''; width: 1px; height: 100%; position: absolute; left: 50%; background: #ccc; top: 0; } 
#product-list .review-wrapper .review-star { padding: 0; height: 20px; margin: 0; padding: 1.5px 0; }
#product-list .review-wrapper .review-star li { display: block; float: left; width: 18px; height: 17px; background: url('../images/icon/review/star.png') left top no-repeat; position: relative; padding: 0; margin-right: 10px; margin-left: 0; }
#product-list .review-wrapper .review-star li button { display: inline-block; background: url('../images/icon/review/star-active.png') left top no-repeat; position: absolute; top: 0; left: 0; height: 100%; width: 0;  padding: 0; margin: 0; }

#product-list .review-wrapper button { display: inline-block; border: none; font-size: 2.0rem; color: #252525; outline: none;  padding: 0; }
#product-list .review-wrapper .btn-write-review { display: block;  height: 20px; line-height: 20px; background: none; }
#product-list .review-wrapper .btn-add-wishlist { display: block; background: none; height: 20px; line-height: 20px; margin-top: 5px; }
#product-list .review-wrapper .btn-write-review i { vertical-align: middle; margin-top: -5px; margin-right: 14px;  width: 19px; height: 16px; background: url('../images/icon/review/write.png') left center no-repeat; content: '';  display: inline-block; }
#product-list .review-wrapper .btn-add-wishlist i { vertical-align: middle; margin-top: -5px; margin-right: 14px;  width: 19px; height: 16px; background: url('../images/icon/review/wish.png') left center no-repeat; content: '';  display: inline-block; }

#page-product-list .product-filter { margin-top: 47.5px; }
#page-product-list .product-filter .change-sorting button { width: 250px; outline: none !important; font-size: 2.0rem; letter-spacing: 1px; }
#page-product-list .product-filter .change-sorting button:first-child { margin-right: 30px; }

#page-product-list .change-template-product button { height: 30px;  border: none; padding: 0; margin: 0 0 5px;  outline: none !important; }
#page-product-list .change-template-product button.p-thumbnail { width: 30px; background: url('../images/icon/p-thumb.png') center no-repeat; }
#page-product-list .change-template-product button.p-thumbnail.active { background: url('../images/icon/p-thumb-active.png') center no-repeat; }
#page-product-list .change-template-product button.p-list { width: 31px; background: url('../images/icon/p-list.png') center no-repeat; margin-left: 15px; }
#page-product-list .change-template-product button.p-list.active { background: url('../images/icon/p-list-active.png') center no-repeat; }

#page-product-list .loadmore { margin-bottom: 50px; }

.review-avg { color: #d8d508; }
.review-avg small { color: #959595; font-size: 1.80rem; }

#compare-product-sticky { position: fixed; bottom: 0; left: 0; width: 100%; display: block; min-height: 93px; background: #FAFAFA; z-index: 110; box-shadow: 0px 8px 60px 0px #000; padding: 6px; }
#compare-product-sticky img { height: 80px; width: 80px; display: block; }
#compare-product-sticky .compare-item { display: flex; }
#compare-product-sticky .compare-item--detail { /* display: flex; flex-direction: column; justify-content: center; */ }
#compare-product-sticky .compare-item--detail .name { font-size: 1.9rem; color: #252525; font-weight: normal; margin-bottom: 0; display: block; }
#compare-product-sticky .compare-item--detail .price { font-size: 2.1rem; color: #f36f21; margin-bottom: 0; display: block; }
#compare-product-sticky .compare-item--detail .price small { color: #252525; }
#compare-product-sticky .image { position: relative; margin-right: 10px;  }
#compare-product-sticky .image .remove { top: 0; right: 0; position: absolute; height: 20px; width: 20px; border: none; background: url('../images/icon/x.png') center no-repeat #898989; }

#product-list .product-detail .name { font-size: 3.5rem; letter-spacing: 1px; }
#product-list .brand-name { padding-bottom: 10px; }
#product-list .linebreak { height: 1px; background: #cccccc; margin: 20px 0; display: block; }
#product-list .detail-link .detail { position: static; }
#product-list .detail-link { padding: 15px 0; position: absolute; padding-right: 10px; width: 100%; margin-left: -10px; bottom: 5px; }
#product-list .detail-link .compare-select { display: inline-block; height: 35px; width: 35px; background: url('../images/icon/compare/compare-select.png') center no-repeat; border: none; outline: none; right: 27px; top: 0px; }
#product-list.view-list .detail-link .compare-select { right: 0px; padding:14px 0;}
@media all and (min-width:580px) and (max-width:1050px) {
	#product-list.view-list .detail-link .compare-select { right: 15px;}
}

#product-list .detail-link .compare-select.active { background: url('../images/icon/compare/compare-active.png') center no-repeat; }
#product-list > .row > .col > .item-content .insurance-detail { margin-bottom: 30px; }
#product-list.view-list > .row > .col > .item-content .insurance-detail { margin-bottom: 0px; }

.insurance-detail .item { /* display: flex; */ font-size: 2.4rem; margin-bottom: 5px; }
.insurance-detail .item * { /* padding: 0; margin: 0; */ /*white-space: nowrap; */ /* overflow: visible; text-overflow: ellipsis; */ }
.insurance-detail .item label { width: 60%; font-weight: normal; display: block; float: left; }
.insurance-detail .item span { /*  width: calc( 100% - 95px ); */ font-weight: normal; text-align: right; display: block; float: right; }
.insurance-detail .item.gift label { color: #ed1c24; }
.insurance-detail .item.gift span { /* overflow: visible; */ }

#product-list.view-list .insurance-detail .item {  display: flex; font-size: 2.4rem; margin-bottom: 5px; }
#product-list .insurance-detail .item { /* display: flex;*/ font-size: 1.9rem; margin-bottom: 5px; }
#product-list.view-list .price small { font-size: 2.0rem; color: #252525; }

#form .form-control, #form .dd .ddTitle { height: 37px; font-size: 2rem; }
#form .dd .ddChild li .ddlabel { font-size: 2rem; }
#form { padding-top: 55px; }
#form label { font-size:2rem; font-weight: 600 }
#form select.form-control { font-size: 2rem; }
#form .form-group { margin-bottom: 20px; }
#form .radio label { font-size: 2rem; font-weight: 400 }
#form .irs-line, #form .irs-diapason, #form .irs-line-mid, #form .irs-line-left, #form .irs-line-right { height: 2px; background: #ccc; }
#form .irs-slider { background: #fff; width: 18px; height: 18px; border-radius: 50%; border: solid 2px #959595; }
#form .irs-diapason { background: #959595; }
#form .irs-from, #form .irs-to, #form .irs-single, #form .irs-min, #form .irs-max { bottom: -20px; top: unset; font-size: 2.1rem; color: #252525; background: none; }
#form .radio-inline { width: calc( 50% - 20px ); }
#form .radio-inline + .radio-inline { margin-left: 0; }

#form .radio-compulsary { width: calc( 33% - 20px ); }

.btn-wrapper button, .btn-wrapper input { margin: 0 15px; letter-spacing: 1px; }

.form-wrapper { position: relative; z-index: 10; }
.form-footer { height: 110px; background: red; display: block; position: relative; z-index: 5; transform: translateY(-22.5px); background: #ebe50c; }
.form-footer button { width: 430px; color: #636363; background: none; border: solid 1px #fff; margin-top: 50px; transition: margin-top 0.5s; letter-spacing: 1px; }
.form-footer button.close-form { margin-top: 40px; }
.cal-text { font-size: 2rem; padding-top:7px; }

.wizard-wrapper { border-bottom: solid 5px #ebe50c; }

#wizard ul, #wizard1 ul, #wizard2 ul, #wizard3 ul, #wizard4 ul { display: block; padding: 0; height: 50px; position: relative; margin: 70px 0; }
#wizard ul, #wizard1 ul, #wizard2 ul, #wizard3 ul, #wizard4 ul { margin: 40px 0px; }
#wizard ul li, #wizard1 ul li, #wizard2 ul li,#wizard3 ul li, #wizard4 ul li { display: block; float: left; width: calc( ( 100% / 4 ) - 20px ); font-size: 2.4rem; letter-spacing: 1px; margin-right: 20px; box-sizing: initial; border-radius: 50px; padding: 2px; background: rgb(235, 232, 11); position: relative; z-index: 2; }
#wizard ul.has-3 li,
#wizard1 ul.has-3 li,
#wizard2 ul.has-3 li,
#wizard3 ul.has-3 li,
#wizard4 ul.has-3 li { display: block; float: left; width: calc( ( 100% / 3 ) - 20px ); }

#wizard ul li:last-child,
#wizard1 ul li:last-child,
#wizard2 ul li:last-child,
#wizard3 ul li:last-child,
#wizard4 ul li:last-child { margin-right: 0; }
#wizard ul li button,
#wizard1 ul li button,
#wizard2 ul li button,
#wizard3 ul li button,
#wizard4 ul li button { width: 100%; height: 50px; background: #fff; border: none; color: #f36f21; border-radius: 50px; cursor: default; }
#wizard ul li button.active,
#wizard1 ul li button.active,
#wizard2 ul li button.active,
#wizard3 ul li button.active,
#wizard4 ul li button.active { background: none; color: #252525; }
#wizard ul li.item1st,
#wizard1 ul li.item1st,
#wizard2 ul li.item1st,
#wizard3 ul li.item1st,
#wizard4 ul li.item1st {
	background: -webkit-linear-gradient(left, rgb(235, 230, 11) 0, rgb(235, 222, 12) 100%);
	background: -o-linear-gradient(left, rgb(235, 230, 11) 0, rgb(235, 222, 12) 100%);
	background: -ms-linear-gradient(left, rgb(235, 230, 11) 0, rgb(235, 222, 12) 100%);
	background: -moz-linear-gradient(left, rgb(235, 230, 11) 0, rgb(235, 222, 12) 100%);
	background: linear-gradient(to right, rgb(235, 230, 11) 0, rgb(235, 222, 12) 100%);
}

#wizard ul li.item2nd,
#wizard1 ul li.item2nd,
#wizard2 ul li.item2nd,
#wizard3 ul li.item2nd,
#wizard4 ul li.item2nd { 
	background: -webkit-linear-gradient(left, rgb(236, 222, 13) 0%, rgb(238, 195, 18) 100%);
	background: -o-linear-gradient(left, rgb(236, 222, 13) 0%, rgb(238, 195, 18) 100%);
	background: -ms-linear-gradient(left, rgb(236, 222, 13) 0%, rgb(238, 195, 18) 100%);
	background: -moz-linear-gradient(left, rgb(236, 222, 13) 0%, rgb(238, 195, 18) 100%);
	background: linear-gradient(to right, rgb(236, 222, 13) 0%, rgb(238, 195, 18) 100%);
}

#wizard ul li.item3rd,
#wizard1 ul li.item3rd,
#wizard2 ul li.item3rd,
#wizard3 ul li.item3rd,
#wizard4 ul li.item3rd {
	background: -webkit-linear-gradient(left, rgb(237, 198, 16) 0%, rgb(240, 158, 24) 100%);
	background: -o-linear-gradient(left, rgb(237, 198, 16) 0%, rgb(240, 158, 24) 100%);
	background: -ms-linear-gradient(left, rgb(237, 198, 16) 0%, rgb(240, 158, 24) 100%);
	background: -moz-linear-gradient(left, rgb(237, 198, 16) 0%, rgb(240, 158, 24) 100%);
	background: linear-gradient(to right, rgb(237, 198, 16) 0%, rgb(240, 158, 24) 100%);
}

#wizard ul li.item4th,
#wizard1 ul li.item4th,
#wizard2 ul li.item4th,
#wizard3 ul li.item4th,
#wizard4 ul li.item4th {
	background: -webkit-linear-gradient(left, rgb(238, 193, 18) 0%, rgb(243, 112, 33) 100%);
	background: -o-linear-gradient(left, rgb(238, 193, 18) 0%, rgb(243, 112, 33) 100%);
	background: -ms-linear-gradient(left, rgb(238, 193, 18) 0%, rgb(243, 112, 33) 100%);
	background: -moz-linear-gradient(left, rgb(238, 193, 18) 0%, rgb(243, 112, 33) 100%);
	background: linear-gradient(to right, rgb(238, 193, 18) 0%, rgb(243, 112, 33) 100%);
}

#wizard ul li.item5th,
#wizard1 ul li.item5th,
#wizard2 ul li.item5th,
#wizard3 ul li.item5th,
#wizard4 ul li.item5th {
	background: -webkit-linear-gradient(357deg, rgb(240, 156, 25) 0%, rgb(241, 140, 28) 100%);
	background: -o-linear-gradient(357deg, rgb(240, 156, 25) 0%, rgb(241, 140, 28) 100%);
	background: -ms-linear-gradient(357deg, rgb(240, 156, 25) 0%, rgb(241, 140, 28) 100%);
	background: -moz-linear-gradient(357deg, rgb(240, 156, 25) 0%, rgb(241, 140, 28) 100%);
	background: linear-gradient(93deg, rgb(240, 156, 25) 0%, rgb(241, 140, 28) 100%);
}


#wizard ul:before { content: ''; display: block; position: absolute; height: 20px; z-index: 1; width: calc( 100% - 25px ); margin: auto; right: 0; left: 0; top: 0; bottom: 0;
	background: -webkit-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	background: -o-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	background: -ms-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	background: -moz-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	background: linear-gradient(to right, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
}
#wizard1 ul:before { content: ''; display: block; position: absolute; height: 20px; z-index: 1; width: calc( 100% - 25px ); margin: auto; right: 100%; left: 0; top: 0; bottom: 0;
	border: 1px solid green;  
	border-image-source: -webkit-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -o-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -ms-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -moz-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: linear-gradient(to right, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-slice: 20;
	background: white;
}
#wizard2 ul:before { content: ''; display: block; position: absolute; height: 20px; z-index: 1; width: calc( 100% - 25px ); margin: auto; right: 100%; left: 0; top: 0; bottom: 0;
	border: 1px solid green;  
	border-image-source: -webkit-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -o-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -ms-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -moz-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: linear-gradient(to right, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-slice: 20;
	background: -webkit-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 30%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 100%);
	background: -o-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 30%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 100%);
	background: -ms-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 30%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 100%);
	background: -moz-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 30%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 100%);
	background: linear-gradient(to right, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 30%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 100%);
}
#wizard3 ul:before { content: ''; display: block; position: absolute; height: 20px; z-index: 1; width: calc( 100% - 25px ); margin: auto; right: 100%; left: 0; top: 0; bottom: 0;
	border: 1px solid green;  
	border-image-source: -webkit-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 6%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -o-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -ms-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -moz-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: linear-gradient(to right, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-slice: 20;
	background: -webkit-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 60%, rgb(255, 255, 255) 61%, rgb(255, 255, 255) 100%);
	background: -o-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 60%, rgb(255, 255, 255) 61%, rgb(255, 255, 255) 100%);
	background: -ms-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 60%, rgb(255, 255, 255) 61%, rgb(255, 255, 255) 100%);
	background: -moz-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 60%, rgb(255, 255, 255) 61%, rgb(255, 255, 255) 100%);
	background: linear-gradient(to right, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 60%, rgb(255, 255, 255) 61%, rgb(255, 255, 255) 100%);
}

#wizard4 ul:before { content: ''; display: block; position: absolute; height: 20px; z-index: 1; width: calc( 100% - 25px ); margin: auto; right: 100%; left: 0; top: 0; bottom: 0;
	border: 1px solid green;  
	border-image-source: -webkit-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 6%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -o-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -ms-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -moz-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: linear-gradient(to right, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-slice: 20;
	background: -webkit-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	background: -o-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	background: -ms-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	background: -moz-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	background: linear-gradient(to right, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
}

#wizard2 ul.has-3:before {
	border: 1px solid green;  
	border-image-source: -webkit-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -o-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -ms-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -moz-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: linear-gradient(to right, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-slice: 20;
	background: -webkit-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 40%, rgb(255, 255, 255) 41%, rgb(255, 255, 255) 100%);
	background: -o-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 40%, rgb(255, 255, 255) 41%, rgb(255, 255, 255) 100%);
	background: -ms-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 40%, rgb(255, 255, 255) 41%, rgb(255, 255, 255) 100%);
	background: -moz-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 40%, rgb(255, 255, 255) 41%, rgb(255, 255, 255) 100%);
	background: linear-gradient(to right, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 40%, rgb(255, 255, 255) 41%, rgb(255, 255, 255) 100%);
}

#wizard3 ul.has-3:before {
	border: 1px solid green;  
	border-image-source: -webkit-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 6%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -o-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -ms-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: -moz-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-source: linear-gradient(to right, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	border-image-slice: 20;
	background: -webkit-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	background: -o-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	background: -ms-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	background: -moz-linear-gradient(left, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
	background: linear-gradient(to right, rgb(235, 232, 11) 20%, rgb(238, 192, 18) 69%, rgb(241, 134, 29) 89%, rgb(243, 112, 33) 100%);
}


#wizard ul:after,
#wizard1 ul:after,
#wizard2 ul:after,
#wizard3 ul:after,
#wizard4 ul:after { content: ''; display: block; clear: both; }

@media (max-width: 736px) {
	.form-footer button { width: 250px; }
	#product-list { padding-top: 30px; }
	#page-product-list .product-filter { margin-top: 0; }
	#page-product-list .product-filter .change-sorting button { width: 100%; margin: 0 0 10px; display: block; }
}
@media (max-width: 767px) {
	#wizard ul li { font-size: 1.7rem; }
	#wizard ul { margin:30px 0; }
	#form { padding-top: 25px; }
}


#product-list.view-list .brand-name-title { display: none; }
#product-list.view-list .badge-new { float: none!important; }

@media (min-width:1025px) {
    #product-list.view-list  .review-star-wrapper { float: left; }
    /* #product-list.view-list .detail { padding-right: 0; } */
    #product-list.view-list .review-button-wrapper button { float: left; margin-top: 0; width: 50%; }
    #product-list.view-list .review-wrapper button { text-align: right; }

    #product-list.view-list .insurance-detail .item * { /* width: 50%; */ }
    #product-list.view-list .review-wrapper:after { display: none; }
    #product-list.view-list .linebreak { margin: 15px 0; }

	#product-list.view-list .insurance-detail .item.gift { display: block; }
    #product-list.view-list .insurance-detail .item.gift label { color: #ed1c24; display: block; width: 100%; font-weight: bold; text-decoration: underline; margin: 13px 0 5px; }
    #product-list.view-list .insurance-detail .item.gift label.col-xs-6 { width: 50%; }
	#product-list.view-list .insurance-detail .item.gift span { overflow: visible; }

	#product-list.view-list .detail-link {
	    padding: 15px 0;
	    position: absolute;
	    width: 300px;
	    /* transform: translate(100px); */
	    bottom: -6px;
	    right: 0;
	}

	#product-list.view-list .detail-link { position: relative; }
}

@media (min-width:320px) {
	#product-list.view-list .insurance-detail .item.gift { display: block; }
}

#page-product-thumbnail.tomDev #compareSection .tableCompare table tr th, 
#page-product-thumbnail.tomDev #compareSection .tableCompare table tr th .bd { width: 220px; }
#page-product-thumbnail.tomDev #compareSection .tableCompare tbody { width: 880px; }
#page-product-thumbnail.tomDev #compareSection .tableCompare table tr th .bd .detail p:first-child { width: 150px; }