.m-t-20 { margin-top: 20px; }

.m-b-35 { margin-bottom: 35px; }
.m-b-25 { margin-bottom: 25px; }
.m-b-sm { margin-bottom: 15px; }
.m-0 { margin: 0; }

.pd-0 { padding: 0; }

/* .btn-primary { display: inline-block; height: 35px; line-height: 35px; font-size: 2.4rem; min-width: 250px; text-align: center; outline: none; background: #f36f21; border-radius: 35px; }
.btn-primary:hover { background: #f36f21; } */

.btn { display: inline-block; font-size: 2.4rem;  outline: none !important; text-align: center; border: none; min-width: 200px; padding: 0; }
.btn-md {  height: 45px; font-size: 2rem; line-height: 45px; }
.btn-sm {  height: 35px; font-size: 2.0rem; line-height: 35px; }
.btn-round-md { border-radius: 45px; }
.btn-round-sm { border-radius: 35px; }
.btn[type=reset] { background: #acacac; color: #fff; }
.btn-primary { background: #f36f21; }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus  { background: #f36f21 !important; }
.btn-border, .btn-border:hover, .btn-border:focus { background: #fff; border: solid 1px #f36f21; color: #f36f21; }

.radio.radio-inline input[type=radio] { visibility: hidden; }
.radio input[type=radio] + label:before {content: ""; display: inline-block; position: absolute; width: 17px; height: 17px; left: 0; margin-left: -20px; border: 1px solid #959595; border-radius: 50%; background-color: #fff; }
.radio label {display: inline-block; vertical-align: middle; position: relative; padding-left: 5px; font-size: 2.1rem; }
.radio input[type="radio"]:checked + label:before {border-color: #f37022; }
.radio label:after {display: inline-block; position: absolute; content: " "; width: 11px; height: 11px; left: 3px; top: 3px; margin-left: -20px; border-radius: 50%; background-color: #555555; -webkit-transform: scale(0, 0); -ms-transform: scale(0, 0); -o-transform: scale(0, 0); transform: scale(0, 0); -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"]:checked + label:after {background-color: #f37022; transform: scale(1, 1); }
.radio-inline + .radio-inline { margin-top: 10px; }