﻿@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>TobJod Backend</title>
    @Styles.Render("~/assets/vendor/font-awesome")
    @Styles.Render("~/assets/css")

<style>
    .page-500-bg { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

    .page-500-header,
    .page-500-error-code,
    .page-500-subheader,
    .page-500-text { position: relative; padding: 0 30px; text-align: center; }

    .page-500-header { width: 100%; padding: 20px 0; box-shadow: 0 4px 0 rgba(0,0,0,.1); }

    .page-500-error-code { margin-top: 60px; color: #000; text-shadow: 0 4px 0 rgba(0,0,0,.1); font-size: 120px; font-weight: 700; line-height: 140px; }

    .page-500-subheader,
    .page-500-text { margin-bottom: 60px; color: rgba(0,0,0,.5); font-weight: 600; }

    .page-500-subheader { font-size: 50px; }

    .page-500-subheader:after { position: absolute; bottom: -30px; left: 50%; display: block; width: 40px; height: 4px; margin-left: -20px; content: ""; background: rgba(0,0,0,.2); }

    .page-500-text { font-size: 20px; }
</style>
<!-- / Custom styling -->
</head>
<body>
    <div class="page-500-bg bg-warning"></div>
    <h2 class="page-500-error-code"><strong>401</strong></h2>
    <h3 class="page-500-subheader">Invalid Authentication</h3>
    <h3 class="page-500-text">
        @ViewBag.Message<br/><br />
        <a href="@System.Configuration.ConfigurationManager.AppSettings["Url_Authen"]">Login</a>
    </h3>
</body>
</html>