﻿@{
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="@pageMeta.MetaDescription" />
    <meta name="keywords" content="@pageMeta.MetaKeyword" />
    <meta name="format-detection" content="telephone=no" />
    <title>@pageMeta.Title</title>
    <meta property="og:title" content="@pageMeta.OGTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:image" content="@pageMeta.OGImage" />
    <meta property="og:description" content="@pageMeta.OGDescription" />
    <meta http-equiv="Cache-Control" content="no-cache, max-age=0, must-revalidate, no-store" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111170703-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-111170703-1');
    </script>
    <!-- Global site tag (gtag.js) - AdWords: 908192712 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-908192712"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-908192712');
    </script>
    <!-- Google Tag Manager -->
    <script>
(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-N3S7V6F');</script>
    <!-- End Google Tag Manager -->

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '267797080269217');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=267797080269217&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!--[if lt IE 10]><meta http-equiv="refresh" content="0;URL='@Url.Action("Browser", "Error")'" />  <![endif]-->

    <link rel="shortcut icon" href="@Url.Content("~/assets/images/shared/favicon.ico")" />
    <link rel="apple-touch-icon" href="@Url.Content("~/assets/images/shared/apple-touch-icon.png")" />

    <!-- Bootstrap -->
    <link href="@Url.Content("~/assets/css/bootstrap.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/assets/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/boostrap-custom-overwrite.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/product-detail.min.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/dd.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/plugins/owl_slider/owl.carousel.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/plugins/owl_slider/owl.theme.default.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/plugins/owl_slider/owl_slide.min.css")" />

    <link rel="stylesheet" href="@Url.Content("~/assets/css/plugins/tablesaw/tablesaw.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/featherlight.min.css")" />

    <!-- Bootstrap icon2.png -->
    <link href="@Url.Content("~/assets/css/tom.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/margin.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/assets/css/global.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/product-thumbnail.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/template.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/assets/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/formValidation.min.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/tooltipster.bundle.min.css")" />

    <link href="@Url.Content("~/assets/css/plugins/ionRangeSlider/ion.rangeSlider.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/plugins/ionRangeSlider/ion.rangeSlider.skinModern.min.css")" rel="stylesheet" />

    <!-- [if IE]>
    <link href="@Url.Content("~/assets/css/IE.min.css")" rel="stylesheet" />
    <![endif]-->

    @if (viewModel.EnableCaptcha) {
        <script type="text/javascript">
            var onloadCallback = function () {
                //remove old
                $('.g-recaptcha').html('');
                $('.g-recaptcha').each(function (i, captcha) {
                    grecaptcha.render(captcha, {
                        'sitekey': '6LfcwisUAAAAAH0useokQm42uo-RlPdzPRVthyEb'
                    });
                });
            }
        </script>
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    }
    @*@Styles.Render("~/Content/css")*@
    @RenderSection("css", required: false)
</head>
<body class="opacity">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N3S7V6F"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section id="opening">
        <div class="header">
            <div class="bg_cl">
                <div class="wrapper-preload">
                    <div class="something-else-semantic">
                        <div class="sk-spinner sk-spinner-cube-grid">
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- search -->
    <div class="search-fade">
        <div class="close-search">&times;</div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="warp-search">
                        <form action="@Url.Action("Search", "Home")" method="GET" id="form-search">
                            <div class="icon-search">
                                <button><i class="icon-magnifier-copy"></i></button>
                            </div>
                            <input type="text" class="col-xs-12 search-page typeahead" name="search" id="search" placeholder="Search" data-alphanum="1">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- search -->
    <section id="wrapper">
        <header>
            <section id="row-one">
                <div class="container-fluid clear-boot-pad">
                    <div class="col-md-6 clear-boot-pad fix-icon">
                        <div class="inner">
                            <a href="@Url.Action("Index", "Home")" class="opacity-hide">
                                <img src="@Url.Content("~/assets/images/icon/logo-mobile.png")" alt="" title="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 clear-boot-pad">
                        <ul id="menu-lv1">
                            <li id="burger">
                                <a href="#" class="menu-lv1-item"><i class="fa fa-bars" aria-hidden="true"></i></a>
                            </li>
                            <li id="search">
                                <a href="#" class="menu-lv1-item"><i class="icon-magnifier-copy" aria-hidden="true"></i></a>
                            </li>
                            <li class="padding-line">
                                <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { Language = "th" })@(!string.IsNullOrEmpty(ViewBag.UrlLang) ? ViewBag.UrlLang : Request.Url.Query)" class="menu-lv1-item">TH</a>
                            </li>
                            <li class="padding-line li top-phone1">
                                <a href="tel:@viewModel.ContactTelephoneEN" class="menu-lv1-item"><i class="fa fa-phone" aria-hidden="true"></i></a>
                            </li>
                            <li class="padding-line li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["Link_Facebook"]" target="_blank" class="menu-lv1-item"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <!--   <li class="hidden-xxs hidden-xms">
                                <a href="#" class="menu-lv1-item slash">ลงทะเบียน</a>
                                <a href="#" class="menu-lv1-item">เข้าสู่ระบบ</a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="col-md-12 menu-lv2">
                        <div class="row">
                            <div class="col-xs-6 text-center line-rignt">
                                <div class="inner">
                                    <a href="tel:@viewModel.ContactTelephoneEN">
                                        <i class="icon-icon_phone"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6 text-center">
                                <div class="inner">
                                    <a href="#">
                                        <i class="icon-magnifier-copy"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>

                <div id="menu_float_right">
                    <div class="inner">
                        <div class="something-semantic">
                            <div class="something-else-semantic">
                                <a href="@Url.Action("Index", "Home")"> Home </a>
                                <a href="#" class=""> Insurance Product </a>
                                <div class="wrapper-submenu">
                                    <ul class="submenu-type">
                                        @foreach (var item in viewModel.ProductCategory)
                                        {
                                            if (item.Key == ((int)TobJod.Models.ProductCategoryKey.Motor))
                                            {
                                                <li><a href="@Url.Action("Motor", "Product")">@item.Value.TitleEN</a></li>
                                            }
                                            else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.PRB))
                                            {
                                                <li><a href="@Url.Action("Compulsory", "Product")">@item.Value.TitleEN</a></li>
                                            }
                                            else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.TA))
                                            {
                                                <li><a href="@Url.Action("TA", "Product")">@item.Value.TitleEN</a></li>
                                            }
                                            else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.PA))
                                            {
                                                <li><a href="@Url.Action("PA", "Product")">@item.Value.TitleEN</a></li>
                                            }
                                            else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.PH))
                                            {
                                                <li><a href="@Url.Action("Health", "Product")">@item.Value.TitleEN</a></li>
                                            }
                                            else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.Home))
                                            {
                                                <li><a href="@Url.Action("Home", "Product")">@item.Value.TitleEN</a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                                <a href="@Url.Action("Index", "News" )"> News &amp; Event </a>
                                <a href="#"> Insurance Services </a>
                                <div class="wrapper-submenu">
                                    <ul class="submenu-type">
                                        <li><a href="@Url.Action("Index", "ClaimProcess")">Claim Process</a></li>
                                        <li><a href="@Url.Action("Index", "POI")">POI</a></li>
                                        <li><a href="@Url.Action("Index", "PaymentMethod")">Payment Method</a></li>
                                    </ul>
                                </div>
                                <a href="@Url.Action("Index", "Privilege")"> Privilege Insurance </a>
                                <a href="@Url.Action("Index", "FAQ")"> FAQ </a>
                                <a href="@Url.Action("Index", "About")"> About us </a>
                             
                                @if (viewModel.EnableMember)
                                {
                                    <a href="@Url.Action("History", "Member")"> Order History </a>
                                    <a href="@Url.Action("Profile", "Member")"> Edit Profile </a>
                                    <a href="@Url.Action("Index", "Contact")"> Contact us </a>
                                    <a href="@Url.Action("Register", "Member")"> Register </a>
                                    <a href="@Url.Action("Logout", "Member")"> LogOut </a>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Index", "Contact")">Contact us</a></li>
                                    <li><a href="@Url.Action("Register", "Member")">Register</a></li>
                                    <li><a href="@Url.Action("Index", "Member")">Login</a></li>
                                }
                                <!-- <a href="#" class="visible-xxs visible-xs hidden-sm hidden-md hidden-lg"> ลงทะเบียน </a>
    <a href="#" class="visible-xxs visible-xs hidden-sm hidden-md hidden-lg"> เข้าสู่ระบบ </a> -->
                            </div>
                        </div>
                        <a href="#" class="close">
                            <div class="something-semantic">
                                <div class="something-else-semantic">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <section id="row-two">
                <div class="container-fluid clear-boot-pad">
                    <div class="col-md-6  hidden-xs hidden-sm" id="icon-logo">
                        <div class="inner">
                            <a href="@Url.Action("Index", "Home")" id="logo-pc"><img src="@Url.Content("~/assets/images/icon/logo.png")" alt="" title="" /></a>
                        </div>
                    </div>
                    <div class="col-md-6 hidden-sm">
                        <div class="phone-item-wrapper hidden-xs">
                            <div class="col-md-5 col-lg-6 col-l col-xs-12 hidden-xs hidden-sm hidden-md">
                                <div class="row">
                                    <div class="col-md-12 pull-right text-right col-xs-12 text-xs-center text-lg-right">
                                        <p>Insurance Consultants</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pull-right text-right col-xs-12 text-xs-center text-lg-right">
                                        <p class="header2">9:00 - 17:00 (M-F)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 text-left col-lg-6 col-r col-xs-12 text-xs-center">
                                <a href="tel:@viewModel.ContactTelephoneEN" class="header-phone pull-left">
                                    @viewModel.ContactTelephoneEN
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </section>
            <nav>

            </nav>
        </header>


        @RenderBody()
        <footer>
            <section id="footer-row-one" class="container hidden-xs hidden-sm">
                <ul class="footer-menu-one row">
                    <li class="item col-lg-4 text-md-center col-xs-12 col-md-4"><a href="@Url.Action("Index", "PrivacyPolicy")" target="_blank">Privacy Policy</a></li>
                    <li class="item col-lg-4 text-md-center col-xs-12 col-md-4"><a href="@Url.Action("Index", "Term")" target="_blank">Term &amp; Condition</a></li>
                    <li class="item col-lg-4 text-md-center last col-xs-12 col-md-4"><a href="@Url.Action("Index", "SiteMap")" target="_blank">Site map</a></li>
                    <div class="clearfix"></div>
                </ul>
            </section>
            <section class="hidden-lg hidden-md visible-sm-block visible-xs-block mobile-footer">
                <div class="row">
                    <div class="col-xs-12 match_height_2">
                        <a href="@Url.Action("Index", "PrivacyPolicy")" class="item-data-list col-xs-4" target="_blank">
                            <span>Privacy Policy</span>
                        </a>
                        <a href="@Url.Action("Index", "Term")" class="item-data-list col-xs-4" target="_blank">
                            <span>Term &amp; Condition</span>
                        </a>
                        <a href="@Url.Action("Index", "SiteMap")" class="item-data-list col-xs-4" target="_blank">
                            <span class="last">Site map</span>
                        </a>
                    </div>
                </div>
            </section>
            <section class="footer-super-border-mobile hidden-lg hidden-md">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="@("//www.google.co.th/maps/place/%E0%B8%AD%E0%B8%B2%E0%B8%84%E0%B8%B2%E0%B8%A3%E0%B9%80%E0%B8%94%E0%B8%AD%E0%B8%B0%E0%B9%84%E0%B8%99%E0%B8%99%E0%B9%8C+%E0%B8%97%E0%B8%B2%E0%B8%A7%E0%B9%80%E0%B8%A7%E0%B8%AD%E0%B8%A3%E0%B9%8C%E0%B8%AA+%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%A3%E0%B8%B2%E0%B8%A1+9/@13.7586654,100.5655534,17z/data=!3m1!4b1!4m5!3m4!1s0x30e29e8c622511e1:0x734244d795056870!8m2!3d13.7586654!4d100.5677421?hl=th")" target="_blank">
                            <figure class="border-r-l">
                                <img src="@Url.Content("~/assets/images/bg/google_map_mark1.jpg")" class="img-responsive full-width" alt="google map" title="google map" />
                            </figure>
                        </a>
                    </div>
                </div>
            </section>
            <section class="footer-mobile-section hidden-lg hidden-md">
                <h2 class="title">
                    “TOBJOD” HEAD OFFICE
                </h2>
                <address class="narrow">@viewModel.ContactAddressEN</address>
                <div class="row footer-address">
                    <a class="col-sm-6 col-xs-6" href="#">
                        <span class="title-small">Office Hour</span>
                        <span>Mon.-Fri. 9:00-17:00</span>
                    </a>
                    <a class="col-sm-6 col-xs-6" href="mailto:@viewModel.ContactEmailEN">
                        <span class="title-small">Email</span>
                        <span>@viewModel.ContactEmailEN</span>
                    </a>
                    <div class="clearfix hidden-lg hidden-md"></div>
                    <a class="col-sm-6 col-xs-6" href="tel:@viewModel.ContactTelephoneEN">
                        <span class="title-small">Tel</span>
                        <span>@viewModel.ContactTelephoneEN</span>
                    </a>
                    <a class="col-sm-6 col-xs-6" href="#">
                        <span class="title-small">Fax</span>
                        <span>@viewModel.ContactFaxEN</span>
                    </a>
                    <div class="clearfix"></div>
                </div>
                <div class="hr-white"></div>
                <div class="wrapper-mobile-social">
                    <div class="row">
                        <figure class="col-sm-12 text-center">
                            <img src="@Url.Content("~/assets/images/logo/mobile_footer_logo.png")" alt="logo tobjod" title="tobjod" />
                        </figure>
                    </div>
                    <div class="col-xs-12">
                        <div class="row social-data-mobile">
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["Link_Facebook"]" class="col-xs-3">
                                <span class="fb"></span>
                            </a>
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["Link_Line"]" class="col-xs-3">
                                <span class="line"></span>
                            </a>
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["Link_YouTube"]" class="col-xs-3">
                                <span class="yt"></span>
                            </a>
                            <a href="mailto:@viewModel.ContactEmailEN" class="col-xs-3">
                                <span class="mb"></span>
                            </a>

                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>

            </section>
            <section id="footer-row-two" class="container-fluid hidden-xs hidden-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 service-information col-xs-12">
                            <div class="something-semantic">
                                <div class="something-else-semantic">
                                    <h1>THANACHART BROKER COMPANY LIMITED</h1>
                                    <address>
                                        <span class="extra">HEAD OFFICE</span><br /> @viewModel.ContactAddressEN
                                    </address>
                                    <p>
                                        <span class="extra">Office Hour:</span> Mon.-Fri. 9:00-17:00
                                    </p>
                                    <div class="phone">

                                        <a href="mailto:@viewModel.ContactEmailEN"><span>Email:</span> @viewModel.ContactEmailEN</a><br />
                                        <a href="tel:@viewModel.ContactTelephoneEN"><span>Tel:</span> @viewModel.ContactTelephoneEN</a>&nbsp;
                                        <div class="clearfix phone-footer-space"></div>
                                        <a href="#"><span>Fax:</span> @viewModel.ContactFaxEN</a>

                                    </div>
                                    <div class="social">
                                        <a href="@System.Configuration.ConfigurationManager.AppSettings["Link_Facebook"]" class="fb">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                        <a href="@System.Configuration.ConfigurationManager.AppSettings["Link_Line"]" class="line">
                                            <i class="icon-icon_social_line" aria-hidden="true"></i>
                                        </a>
                                        <a href="@System.Configuration.ConfigurationManager.AppSettings["Link_YouTube"]" class="youtube">
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                        </a>
                                        <a href="mailto:@viewModel.ContactEmailEN" class="mail">
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="subscribe row">
                                        <form action="@Url.Action("Subscribe", "Home")" method="post" id="form-subscribe">
                                            <label class="col-md-8 clear-boot-pad col-xs-8">
                                                <div class="float-text">Enter your email address</div>
                                                <input type="text" id="email_subscribe" name="email" class="email_subscribe" maxlength="70" />
                                            </label>
                                            <button type="submit" class="col-xs-4 call_pop_thankyou">Subscribe</button>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="clearfix hidden-md hidden-lg"></div>
                        <div class="col-md-6 footer-menu-list-1-wrapper">
                            <div class="something-semantic">
                                <div class="something-else-semantic">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-6 col-xxs-12">
                                            <ul class="footer-menu-list-1">
                                                <li><b>TobJod Menus</b></li>
                                                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                                <li><a href="@Url.Action("Index", "News")">News &amp; Event</a></li>
                                                <li>Insurance Services</li>
                                                <li>
                                                    <ul>
                                                        <li>
                                                            <a href="@Url.Action("Index", "ClaimProcess")">
                                                                Claim Process
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("Index", "POI")">
                                                                POI
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("Index", "PaymentMethod")">
                                                                Payment Method
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="@Url.Action("Index", "FAQ")">FAQ</a></li>
                                                <li><a href="@Url.Action("Index", "Privilege")">Privilege</a></li>
                                                @*<li><a href="@Url.Action("Index", "About")">About us</a></li>
                                                 <li><a href="@Url.Action("Index", "Contact")">Contact us</a></li>*@
                                                @if (viewModel.EnableMember)
                                                {
                                                    <a href="@Url.Action("History", "Member")">Order History</a>
                                                    <a href="@Url.Action("Profile", "Member")">Edit Profile </a>
                                                    <a href="@Url.Action("Index", "Contact")"> Contact us</a>
                                                    <a href="@Url.Action("Register", "Member")">Register</a>
                                                    <a href="@Url.Action("Logout", "Member")">LogOut</a>
                                                }
                                                else
                                                {
                                                    <li><a href="@Url.Action("Index", "Contact")">Contact us</a></li>
                                                    <li><a href="@Url.Action("Register", "Member")">Register</a></li>
                                                    <li><a href="@Url.Action("Index", "Member")">Login</a></li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-xxs-12">
                                            <ul class="footer-menu-list-2">
                                                <li><b>Insurance Products</b></li>
                                                @foreach (var item in viewModel.ProductCategory) {
                                                    if (item.Key == ((int)TobJod.Models.ProductCategoryKey.Motor)) {
                                                        <li><a href="@Url.Action("Motor", "Product")">@item.Value.TitleEN</a></li>
                                                    } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.PRB)) {
                                                        <li><a href="@Url.Action("Compulsory", "Product")">@item.Value.TitleEN</a></li>
                                                    } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.TA)) {
                                                        <li><a href="@Url.Action("TA", "Product")">@item.Value.TitleEN</a></li>
                                                    } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.PA)) {
                                                        <li><a href="@Url.Action("PA", "Product")">@item.Value.TitleEN</a></li>
                                                    } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.PH)) {
                                                        <li><a href="@Url.Action("Health", "Product")">@item.Value.TitleEN</a></li>
                                                    } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.Home)) {
                                                        <li><a href="@Url.Action("Home", "Product")">@item.Value.TitleEN</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
            <section id="footer-row-three" class="container-fluid">
                <div class="container">
                    <div class="col-md-4 footer-item-1 col-lg-4">
                        <div class="inner something-semantic">
                            <div class="something-else-semantic">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["Link_Other_OIC"]" class="item" target="_blank">
                                    <figure>
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="@Url.Content("~/assets/images/icon/ktp.jpg")" class="lazy img-responsive" alt="คปภ." title="คปภ." />
                                    </figure>
                                </a>
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["Link_Other_DBD"]" class="item" target="_blank">
                                    <figure>
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="@Url.Content("~/assets/images/icon/dbd.jpg")" class="lazy img-responsive" alt="DBD" title="DBD" />
                                    </figure>
                                </a>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8 col-lg-8 footer-phone">
                        <div class="something-semantic">
                            <div class="something-else-semantic">
                                <div class="phone-item-wrapper">
                                    <div class="col-md-5 col-lg-6 col-l col-xs-12">
                                        <div class="row">
                                            <div class="col-md-12 pull-right text-right col-xs-12 text-xs-center text-lg-right">
                                                <p>Insurance Consultants</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 pull-right text-right col-xs-12 text-xs-center text-lg-right">
                                                <p class="header2">9:00 - 17:00 (Mon.-Fri.)</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 text-left col-lg-6 col-r col-xs-12 text-xs-center">
                                        <a href="tel:@viewModel.ContactTelephoneEN" class="header-phone pull-left">
                                            @viewModel.ContactTelephoneEN
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </section>
            <section id="footer-row-four" class="container text-md-center text-xxs-center text-xs-center">
                <p>© Thanachart Broker Company Limited, 2017 All Rights Reserved</p>
            </section>
        </footer>
        <section id="fixed-and-float" class="hidden-xs hidden-sm">
            <div class="inner">
                <a href="#" id="open-close">
                    <div class="inner-btn">
                        <div class="open-btn">
                            <div class="front-display">

                                <div class="icon-container icon-magnifier">
                                    <i class="icon-magnifier-copy" aria-hidden="true"></i>
                                </div>
                                <div>
                                    <p>Search</p>
                                </div>
                            </div>
                            <div class="bg"></div>
                        </div>
                        <div class="close-btn">
                            <div class="front-display">
                                <div class="icon-container">
                                    <i class="icon-cross" aria-hidden="true"></i>
                                </div>
                                <div>
                                    <p class="en-close">Close</p>
                                </div>
                            </div>
                            <div class="bg"></div>
                        </div>
                    </div>
                </a>
                <div class="search-section-content">
                    <div class="category-list flex">
                        @foreach (var item in viewModel.ProductCategory) {
                            if (item.Key == ((int)TobJod.Models.ProductCategoryKey.Motor)) {
                                <a href="#" class="col-md-2 item active" relate-data="wagon">
                                    <div class="icon-container">
                                        <i class="icon-truck-copy" aria-hidden="true"></i>
                                    </div>
                                    <p class="text-lg-center">
                                        @item.Value.TitleEN
                                    </p>
                                </a>
                            } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.PRB)) {
                                <a href="#" class="col-md-2 item" relate-data="wsu">
                                    <div class="icon-container">
                                        <i class="icon-paper_icon" aria-hidden="true"></i>
                                    </div>
                                    <p class="text-lg-center">
                                        @item.Value.TitleEN
                                    </p>
                                </a>
                            } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.TA)) {
                                <a href="#" class="col-md-2 item" relate-data="ta">
                                    <div class="icon-container">
                                        <i class="icon-map-copy" aria-hidden="true"></i>
                                    </div>
                                    <p class="text-lg-center">
                                        @item.Value.TitleEN
                                    </p>
                                </a>
                            } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.PA)) {
                                <a href="#" class="col-md-2 item" relate-data="pa">
                                    <div class="icon-container">
                                        <i class="icon-bag_1-copy" aria-hidden="true"></i>
                                    </div>
                                    <p class="text-lg-center">
                                        @item.Value.TitleEN
                                    </p>
                                </a>
                            } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.PH)) {
                                <a href="#" class="col-md-2 item" relate-data="health">
                                    <div class="icon-container">
                                        <i class="icon-heart-copy" aria-hidden="true"></i>
                                    </div>
                                    <p class="text-lg-center">
                                        @item.Value.TitleEN
                                    </p>
                                </a>
                            } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.Home)) {
                                <a href="#" class="col-md-2 item" relate-data="living_place">
                                    <div class="icon-container">
                                        <i class="icon-house-copy" aria-hidden="true"></i>
                                    </div>
                                    <p class="text-lg-center">
                                        @item.Value.TitleEN
                                    </p>
                                </a>
                            }
                        }
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-container">
                        <div class="form-item wagon" id="wagon" style="">
                            <form id="form-motor" action="@Url.Action("Motor", "Product")" method="get">
                                <fieldset>
                                    <div class="inner-form-wrapper">
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Insurance Type</span>
                                            <select name="category" class="dd_list form-controls required">
                                                <option value="">Please select</option>
                                                <option value="110">Type 1</option>
                                                <option value="120">Type 2</option>
                                                <option value="121">Type 2+</option>
                                                <option value="130">Type 3</option>
                                                <option value="131">Type 3+</option>
                                            </select>
                                        </label>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Vehicle Registration Year</span>
                                            <select name="year" class="dd_list form-controls required">
                                                <option value="">Please select</option>
                                                @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 20; i--) {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                        </label>
                                        <div class="clearfix"></div>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Brand</span>
                                            <select name="brand" class="dd_list form-controls required car-brand-ddl" data-target="#side_car_family">
                                                <option value="">Please select</option>
                                                @foreach (var item in viewModel.CarBrands) {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </label>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Family</span>
                                            <select name="family" id="side_car_family" class="dd_list form-controls required car-family-ddl" data-target="#side_car_model">
                                                <option value="">Please select</option>
                                            </select>
                                        </label>
                                        <div class="clearfix"></div>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Model</span>
                                            <select name="model" id="side_car_model" class="dd_list form-controls required">
                                                <option value="">Please select</option>
                                            </select>
                                        </label>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Province</span>
                                            <select name="province" class="dd_list form-controls required">
                                                <option value="">Please select</option>
                                                @foreach (var item in viewModel.CarProvinces) {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </label>
                                        <div class="clearfix"></div>
                                    </div>
                                </fieldset>
                                <div class="col-md-12 text-md-center text-lg-center submit-container">
                                    <button type="submit" class="btn btn-md btn-primary btn-round-md">Search</button>
                                </div>
                            </form>
                        </div>

                        <div class="form-item wsu" id="wsu" sstyle="display: none;">
                            <form id="form-psu" action="@Url.Action("CompulsoryDetail", "Product")" method="get">
                                <fieldset>
                                    <div class="inner-form-wrapper">
                                        <label class="col-md-6 col-xs-12 form-group">
                                            <label for="" class="caption">Vehicle usage</label>
                                            <div class="col-md-12">
                                                <div class="radio radio-inline">
                                                    <input type="radio" id="side_compulsory_subcategory1" value="210" name="subcategory" checked="">
                                                    <label for="side_compulsory_subcategory1">Car</label>
                                                </div>

                                                <div class="radio radio-inline">
                                                    <input type="radio" id="side_compulsory_subcategory2" value="211" name="subcategory">
                                                    <label for="side_compulsory_subcategory2">Pick Up</label>
                                                </div>

                                                <div class="radio radio-inline">
                                                    <input type="radio" id="side_compulsory_subcategory3" value="212" name="subcategory">
                                                    <label for="side_compulsory_subcategory3">Van</label>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Insurance Company</span>
                                            <select name="company" class="dd_list form-controls required">
                                                <option value="">Please select</option>
                                                @foreach (var item in viewModel.PRBCompanies) {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </label>
                                        <div class="clearfix"></div>
                                    </div>
                                </fieldset>
                                <div class="col-md-12 text-md-center text-lg-center submit-container">
                                    <button type="submit" class="btn btn-md btn-primary btn-round-md">Search</button>
                                </div>
                            </form>
                        </div>

                        <div class="form-item ta" id="ta" sstyle="display: none;">
                            <form id="form-ta" action="@Url.Action("TA", "Product")" method="get">
                                <fieldset>
                                    <div class="inner-form-wrapper">
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Coverage Option</span>
                                            <select name="coverageOption" class="dd_list form-controls required">
                                                <option value="">Please select</option>
                                                <option value="@((int)TobJod.Models.ProductTACoverageOption.Trip)">Single Trip</option>
                                                <option value="@((int)TobJod.Models.ProductTACoverageOption.Year)">Annual Trip</option>
                                            </select>
                                        </label>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Trip Type</span>
                                            <select name="tripType" class="dd_list form-controls required ta-trip-type" data-value="@((int)TobJod.Models.ProductTATripType.Domestic)" data-target="#side_ta_country" data-target-value="@viewModel.CountryThailand" data-target-hidden="#side_ta_country_hide">
                                                <option value="">Please select</option>
                                                <option value="@((int)TobJod.Models.ProductTATripType.Foreign)">International</option>
                                                <option value="@((int)TobJod.Models.ProductTATripType.Domestic)">Domestic</option>
                                                <option value="@((int)TobJod.Models.ProductTATripType.Education)">Overseas Student</option>
                                            </select>
                                        </label>
                                        <div class="clearfix"></div>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Coverage Type</span>
                                            <select name="coverageType" class="dd_list form-controls required ta-coverage-type" data-value="@((int)TobJod.Models.ProductTACoverageType.Family)" data-target-value="4" data-target="#side_ta_person" data-target-hidden="#side_ta_person_hide">
                                                <option value="@((int)TobJod.Models.ProductTACoverageType.Individual)">Individual</option>
                                                <option value="@((int)TobJod.Models.ProductTACoverageType.Family)">Family (No more than 4 persons)</option>
                                            </select>
                                        </label>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Country of destination</span>
                                            <select name="country" id="side_ta_country" class="dd_list form-controls required">
                                                <option value="">Please select</option>
                                                <option value="@viewModel.CountrySchengen">Schengen</option>
                                                @foreach (var item in viewModel.Countries) {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </label>
                                        <div class="clearfix"></div>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Date of departure</span>
                                            <input @( TobJod.Utils.HttpUtils.IsMobileOrTablet() ? "type=date" : "type=text") id="travel_begin" name="DateFrom" value="" class="input-min-width form-controls required prevent_type date-from" data-date-to="#travel_end" data-target="#travel_day" data-target-span="#travel_day_span" readonly="readonly" />
                                        </label>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Date of return</span>
                                            <input type="text" id="travel_end" name="DateTo" value="" class="form-controls required prevent_type date-to" data-date-from="#travel_begin" data-target="#travel_day" data-target-span="#travel_day_span" readonly="readonly" />
                                        </label>
                                        <div class="clearfix"></div>
                                        <label class="col-md-6 col-xs-12 form-group">
                                            <span class="caption">Days (No more than 366 days)</span>
                                            <span id="travel_day_span" style="display: none;"></span>
                                            <input type="text" name="Day" value="5" readonly="" id="travel_day" class="min-long" />
                                        </label>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Persons</span>
                                            <select name="Person" id="side_ta_person" class="dd_list form-controls required">
                                                @for (int i = 1; i <= viewModel.ProductTAPersonMax; i++) {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                        </label>
                                        <div class="clearfix"></div>
                                    </div>
                                </fieldset>
                                <div class="col-md-12 text-md-center text-lg-center submit-container">
                                    <button type="submit" class="btn btn-md btn-primary btn-round-md">Search</button>
                                </div>
                            </form>
                        </div>

                        <div class="form-item pa" id="pa" sstyle="display: none;">
                            <form id="form-pa" action="@Url.Action("PA", "Product")" method="get">
                                <fieldset>
                                    <div class="inner-form-wrapper">
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Birthday</span>
                                            <input type="text" id="pa-birthday" name="birthday" value="" class="form-controls required prevent_type birthday-age" data-target="#ages_customer_2" autocomplete="off" />
                                        </label>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Age</span>
                                            <input type="text" id="ages_customer_2" name="age" class="prevent_type form-controls required" />
                                        </label>
                                        <div class="clearfix"></div>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Career</span>
                                            <select name="Career" class="dd_list form-controls required">
                                                <option value="">Please select</option>
                                                @foreach (var item in viewModel.Careers) {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </label>
                                    </div>
                                </fieldset>
                                <div class="col-md-12 text-md-center text-lg-center submit-container">
                                    <button type="submit" class="btn btn-md btn-primary btn-round-md">Search</button>
                                </div>
                            </form>
                        </div>

                        <div class="form-item health" id="health" sstyle="display: none;">
                            <form id="form-health" action="@Url.Action("Health", "Product")" method="get">
                                <fieldset>
                                    <div class="inner-form-wrapper">
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Birthday</span>
                                            <input type="text" id="Birthday" name="Birthday" value="" class="form-controls required prevent_type birthday-age" data-target="#ages_customer_1" autocomplete="off" />
                                        </label>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Age</span>
                                            <input type="text" id="ages_customer_1" name="" class="prevent_type form-controls required" />
                                        </label>
                                        <div class="clearfix"></div>
                                        <label class="col-md-6 col-xs-12 form-group gender">
                                            <label for="" class="caption">Gender</label>
                                            <div class="col-md-12">
                                                <div class="radio radio-inline">
                                                    <input type="radio" id="side_sex_male" value="@((int)TobJod.Models.Sex.Male)" name="Sex" checked="">
                                                    <label for="side_sex_male">Male</label>
                                                </div>

                                                <div class="radio radio-inline">
                                                    <input type="radio" id="side_sex_female" value="@((int)TobJod.Models.Sex.Female)" name="Sex">
                                                    <label for="side_sex_female">Female</label>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Weight (kg.)</span>
                                            <input type="text" id="" name="weight" class="form-controls required numeric" data-num="1" maxlength="3" data-fv-integer="true" data-fv-integer-message="The value is not an integer" data-num="1" maxlength="3" />
                                        </label>
                                        <div class="clearfix"></div>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Height (cm.)</span>
                                            <input type="text" id="" name="height" class="form-controls required numeric" data-num="1" maxlength="3" data-fv-integer="true" data-fv-integer-message="The value is not an integer" data-num="1" maxlength="3" />
                                        </label>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Career</span>
                                            <select name="career" class="dd_list form-controls required">
                                                <option value="">Please select</option>
                                                @foreach (var item in viewModel.Careers) {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </label>
                                    </div>
                                </fieldset>
                                <div class="col-md-12 text-md-center text-lg-center submit-container">
                                    <button type="submit" class="btn btn-md btn-primary btn-round-md">Search</button>
                                </div>
                            </form>
                        </div>

                        <div class="form-item living_place" id="living_place" sstyle="display: none;">
                            <form id="form-fire" action="@Url.Action("Home", "Product")" method="get">
                                <fieldset>
                                    <div class="inner-form-wrapper">
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Property Type</span>
                                            <select name="propertytype" class="dd_list form-controls required">
                                                <option value="">Please select</option>
                                                @foreach (var item in viewModel.PropertyTypes) {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </label>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Construction Type</span>
                                            <select name="ConstructionType" class="dd_list form-controls required">
                                                <option value="">Please select</option>
                                                @foreach (var item in viewModel.ConstructionTypes) {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </label>
                                        <div class="clearfix"></div>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Coverage Year</span>
                                            <select name="Year" class="dd_list form-controls required">
                                                <option value="">Please select</option>
                                                @for (int i = 1; i <= viewModel.ProductHomeYearMax; i++) {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                        </label>
                                        <label class="col-md-6 col-xs-12 form-group required form-controls">
                                            <span class="caption">Sum Insured</span> ( <a href="#" class="calpopup" data-featherlight="#homecontent">What's this?</a> )
                                            <input type="number" name="constructionValue" id="side_constructionValue" value="" class="form-controls required input-combined-with" data-combined-with="#side_propertyValue" data-target="#side_totalValue" step="10000" min="10000" max="100000000" data-num="1" maxlength="10" />
                                        </label>
                                        <div class="clearfix"></div>


                                    </div>
                                </fieldset>
                                <div class="col-md-12 text-md-center text-lg-center submit-container">
                                    <button type="submit" class="btn btn-md btn-primary btn-round-md">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="bg-outer">

                </div>
            </div>
        </section>
        <div class="fix-back-to-top active">
            <a href="#" class="back-to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        </div>
    </section>
    <script>
        var LANGUAGE = 'EN'; var BASEURL = '@Url.Content("~")';
        var variable_config = [];
        variable_config.server_date = '@DateTime.Now.Year.ToString()@DateTime.Now.ToString("/MM/dd")';
        variable_config.server_year = '@DateTime.Now.Year';
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/tooltipster/tooltipster.bundle.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/featherlight.min.js")"></script>
    <script src="@Url.Content("~/assets/js/debug.js")"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/js/owlcarousel/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.dd.min.js")"></script>
    <script src="@Url.Content("~/assets/js/blockUI/jquery.blockUI.min.js")"></script>
    <script src="@Url.Content("~/assets/js/moment.min.js")"></script>
    <script src="@Url.Content("~/assets/js/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/assets/js/formValidation.min.js")"></script>
    <script src="@Url.Content("~/assets/js/bootstrap_validate.min.js")"></script>

    @if (viewModel.EnableCaptcha) {
        <script src="@Url.Content("~/assets/js/reCaptcha2.min.js")"></script>
    }

    <script src="@Url.Content("~/assets/js/blazy/blazy.min.js")"></script>
    <script src="@Url.Content("~/assets/js/config_validate.min.js")"></script>

    <script src="@Url.Content("~/assets/js/main_1.min.js")"></script>
    <script src="@Url.Content("~/assets/js/ion.rangeSlider.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.matchHeight.min.js")"></script>
    <script src="@Url.Content("~/assets/js/product-list.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.alphanum.min.js")"></script>
    <script src="@Url.Content("~/assets/js/typeahead.bundle.min.js")"></script>
    <script src="@Url.Content("~/assets/js/tablesaw/tablesaw.min.js")"></script>
    <script src="@Url.Content("~/assets/js/tablesaw/tablesaw-init.min.js")"></script>
    <script src="@Url.Content("~/assets/js/global.min.js")"></script>
    @RenderSection("js", required: false)

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5995b47fe152bbd0"></script>
    <!--Start of Zendesk Chat Script-->
    <!--
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
                d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                    z.set.
                        _.push(o)
                }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
            $.src = "https://v2.zopim.com/?56lguzFCbAU3UfkreaswTEDSPNVQFjC1"; z.t = +new Date; $.
                type = "text/javascript"; e.parentNode.insertBefore($, e)
        })(document, "script");
    </script>
    -->
    <!--End of Zendesk Chat Script-->
    <!-- Modal -->
    <div class="modal fade main-model-popup" id="popup-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div> -->
                <div class="modal-body">
                    <div class="close-box"></div>
                    <div class="text-close" data-dismiss="modal" aria-label="Close">&times;</div>
                    <h2 class="text-center">Your information has been saved.</h2>
                    <p class="text-center">
                        Thank you for your interest
                    </p>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary contact-submit">Submit form</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("modal", required: false)

</body>
</html>
