﻿<section class="container why-us-product">
    <h1 class="text-lg-center title text-sm-center">
        <b>“Tobjod” </b>The Right Choice for Insurance Users 
    </h1>
    <div class="line-border owl-carousel3">
        <div class="item-container">
            <a href="#" class="item">
                <figure>
                    <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-1.jpg")"  />
                    <figcaption class="text-lg-center text-xs-center">Convenience</figcaption>
                </figure>
                <p class="text-lg-center text-xs-center">
                    instant pay, instant covered
                </p>
            </a>
        </div>
        <div class="item-container">
            <a href="#" class="item active">
                <figure>
                    <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-2.jpg")"  />
                    <figcaption class="text-lg-center text-xs-center">Worthiness</figcaption>
                </figure>
                <p class="text-lg-center text-xs-center">
                    wide coverage and excellent service worth the insurance premium  
                </p>
            </a>
        </div>
        <div class="item-container">
            <a href="#" class="item">
                <figure>
                    <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-3.jpg")"  />
                    <figcaption class="text-lg-center text-xs-center">Variety</figcaption>
                </figure>
                <p class="text-lg-center text-xs-center">
                    broad selection of insurance products suitable for your dream lifestyle  
                </p>
            </a>
        </div>
        <div class="item-container">
            <a href="#" class="item active">
                <figure>
                    <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-4.jpg")"  />
                    <figcaption class="text-lg-center text-xs-center">Professional</figcaption>
                </figure>
                <p class="text-lg-center text-xs-center">
                    rest assured with a team of insurance experts full of experiences
                </p>
            </a>
        </div>
        @*<div class="item-container">
            <a href="#" class="item">
                <figure>
                    <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-5.jpg")"  />
                    <figcaption class="text-lg-center text-xs-center">ศูนย์ประสานงาน</figcaption>
                </figure>
                <p class="text-lg-center text-xs-center">
                    มีศูนย์ประสานงานทั่วประเทศ<br />เพื่อดูแลลูกค้าอย่างใกล้ชิด
                </p>
            </a>
        </div>*@
    </div>
</section>