﻿@{ 
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "แผนผังเว็บไซต์ | Tobjod โบรคเกอร์ ประกันภัย";
}
<main class="container sitemap">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Site Map</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul class="footer-menu-list-1 site-item">
                <li><b>Tobjod Menu</b></li>
                <li><a href="@Url.Action("Index", "Home")" target="_blank"><span>Home</span></a></li>
                <li><a href="@Url.Action("Index", "News")" target="_blank"><span>News & Event</span></a></li>
                <li><a href="#" target="_blank"><span>Insurance Services</span></a></li>
                <li class="submenu ">
                    <div class="inner">
                        <ul>
                            <li><a href="@Url.Action("Index", "FAQ")" target="_blank">FAQ</a></li>
                            <li><a href="@Url.Action("Index", "ClaimProcess")" target="_blank">Claim Process</a></li>
                            <li><a href="@Url.Action("Index", "POI")" target="_blank">POI</a></li>
                            <li><a href="@Url.Action("Index", "PaymentMethod")" target="_blank">Payment Method</a></li>

                        </ul>
                    </div>
                </li>
                <li><a href="@Url.Action("Index", "Privilege")" target="_blank"><span>Privilege</span></a></li>
                <li><a href="@Url.Action("Index", "About")" target="_blank"><span>About us</span></a></li>
                <li><a href="@Url.Action("Index", "Contact")" target="_blank"><span>Contact us</span></a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="footer-menu-list-2 site-item">
                <li><b>Insurance Product</b></li>
                <li><a href="@Url.Action("Motor", "Product")" target="_blank"><span>Motor Insurance</span></a></li>
                <li><a href="@Url.Action("Compulsory", "Product")" target="_blank"><span>Compulsory Insurance</span></a></li>
                <li><a href="@Url.Action("TA", "Product")" target="_blank"><span>Travel Insurance</span></a></li>
                <li><a href="@Url.Action("PA", "Product")" target="_blank"><span>Personal Accident Insurance</span></a></li>
                <li><a href="@Url.Action("Health", "Product")" target="_blank"><span>>Health Insurance</span></a></li>
                <li><a href="@Url.Action("Home", "Product")" target="_blank"><span>>Home Insurance</span></a></li>
            </ul>
        </div>
    </div>

</main>