﻿@model TobJod.Admin.Models.ConfigPageViewModel

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) {
            @Html.AntiForgeryToken()
            
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.BodyTH)
                @Html.HiddenFor(model => model.BodyEN)

                @*<div class="form-group">
                    @Html.LabelFor(model => model.BodyTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BodyTH, new { htmlAttributes = new { @class = "form-control text-editor" } })
                        @Html.ValidationMessageFor(model => model.BodyTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BodyEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BodyEN, new { htmlAttributes = new { @class = "form-control text-editor" } })
                        @Html.ValidationMessageFor(model => model.BodyEN, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.MetaTitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MetaTitleTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MetaTitleTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MetaTitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MetaTitleEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MetaTitleEN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MetaKeywordTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MetaKeywordTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MetaKeywordTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MetaKeywordEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MetaKeywordEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MetaKeywordEN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MetaDescriptionTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MetaDescriptionTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MetaDescriptionTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MetaDescriptionEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MetaDescriptionEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MetaDescriptionEN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OGTitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OGTitleTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OGTitleTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OGTitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OGTitleEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OGTitleEN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OGDescriptionTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OGDescriptionTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OGDescriptionTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OGDescriptionEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OGDescriptionEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OGDescriptionEN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OGImageTHSame, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OGImageTHSame, "NoYes", new { htmlAttributes = new { @class = "OGImageSame", data_target = "#OGImageTHSame" } })
                        <div id="OGImageTHSame">
                            @if (Model != null && !string.IsNullOrEmpty(Model.OGImageTH)) { <img src="@ViewBag.PathRel@Model.OGImageTH" class="img-responsive" /> }
                            @Html.HiddenFor(model => model.OGImageTH)
                            @Html.FileImageFor(model => model.OGImageTHFile)
                            @Html.ValidationMessageFor(model => model.OGImageTHFile, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OGImageENSame, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OGImageENSame, "NoYes", new { htmlAttributes = new { @class = "OGImageSame", data_target = "#OGImageENSame" } })
                        <div id="OGImageENSame">
                            @if (Model != null && !string.IsNullOrEmpty(Model.OGImageEN)) { <img src="@ViewBag.PathRel@Model.OGImageEN" class="img-responsive" /> }
                            @Html.HiddenFor(model => model.OGImageEN)
                            @Html.FileImageFor(model => model.OGImageENFile)
                            @Html.ValidationMessageFor(model => model.OGImageENFile, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                    </div>
                </div>
        }

    </div>
</div>

@section js {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/vendor/ckeditor/ckeditor.js"></script>
    <script src="~/assets/vendor/ckeditor/adapters/jquery.js"></script>
    <script>
        var uploadurl = 'poi/';
        $.validator.setDefaults({ ignore: ':hidden:not(.text-editor)' });
        $(function () {
            $('textarea.text-editor').ckeditor();
            $('.OGImageSame:checked').click();
        });
        $('.OGImageSame').click(function () {
            var val = $(this).val();
            if (val == 'true') {
                $($(this).data('target')).hide();
            } else {
                $($(this).data('target')).show();
            }
        });
    </script>
}
