﻿@model TobJod.Admin.Models.ConfigPageViewModel

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tabs-current" data-toggle="tab">
                    Current
                </a>
            </li>
            <li>
                <a href="#tabs-view" data-toggle="tab">
                    Draft <span class="badge badge-warning">@Model.ApproveStatus.ToString()</span>
                </a>
            </li>
        </ul>
        

        <div class="tab-content tab-content-bordered">
            <div class="tab-pane fade in active" id="tabs-current">
                <div class="form-group">
                    @Html.LabelFor(model => model.Data1, "Latitude", htmlAttributes: new { @class = "control-label col-md-2 required" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.Data1, new { htmlAttributes = new { @class = "form-control", maxlength = "50", required = "required", data_val = "true", data_val_number = "The Latitude field must be a number." } })
                    </div>
                    @Html.LabelFor(model => model.Data2, "Longitude", htmlAttributes: new { @class = "control-label col-md-2 required" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.Data2, new { htmlAttributes = new { @class = "form-control", maxlength = "50", required = "required", data_val = "true", data_val_number = "The Longitude field must be a number." } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.BodyTH, htmlAttributes: new { @class = "control-label col-md-2 required" })
                    <div class="col-md-10 form-control-static">
                        @Html.Raw(Model.CurrentPage.BodyTH)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.BodyEN, htmlAttributes: new { @class = "control-label col-md-2 required" })
                    <div class="col-md-10 form-control-static">
                        @Html.Raw(Model.CurrentPage.BodyEN)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.MetaTitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.MetaTitleTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.MetaTitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.MetaTitleEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.MetaKeywordTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.MetaKeywordTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.MetaKeywordEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.MetaKeywordEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.MetaDescriptionTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.MetaDescriptionTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.MetaDescriptionEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.MetaDescriptionEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.OGTitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.OGTitleTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.OGTitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.OGTitleEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.OGDescriptionTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.OGDescriptionTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.OGDescriptionEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.OGDescriptionEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.OGImageTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        <div id="OGImageTHSame">
                            <div class="img-preview"><img src="@ViewBag.PathRel@Model.CurrentPage.OGImageTH" class="img-responsive" /></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.OGImageEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        <div id="OGImageENSame">
                            <div class="img-preview"><img src="@ViewBag.PathRel@Model.CurrentPage.OGImageEN" class="img-responsive" /></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="tabs-view">
                @using (Html.BeginForm("Approve", (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {

                    <div class="form-group">
                        @Html.LabelFor(model => model.Data1, "Latitude", htmlAttributes: new { @class = "control-label col-md-2 required" })
                        <div class="col-md-4">
                            @Html.DisplayFor(model => model.Data1, new { htmlAttributes = new { @class = "form-control", maxlength = "50", required = "required", data_val = "true", data_val_number = "The Latitude field must be a number." } })
                        </div>
                        @Html.LabelFor(model => model.Data2, "Longitude", htmlAttributes: new { @class = "control-label col-md-2 required" })
                        <div class="col-md-4">
                            @Html.DisplayFor(model => model.Data2, new { htmlAttributes = new { @class = "form-control", maxlength = "50", required = "required", data_val = "true", data_val_number = "The Longitude field must be a number." } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.BodyTH, htmlAttributes: new { @class = "control-label col-md-12 required" })
                            <br /><br /><button type="button" id="btn-preview-th" class="btn btn-warning pull-right">Preview</button>
                        </div>
                        <div class="col-md-10 form-control-static" id="BodyTH">
                            @Html.Raw(Model.BodyTH)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.BodyEN, htmlAttributes: new { @class = "control-label col-md-12 required" })
                            <br /><br /><button type="button" id="btn-preview-en" class="btn btn-warning pull-right">Preview</button>
                        </div>
                        <div class="col-md-10 form-control-static" id="BodyEN">
                            @Html.Raw(Model.BodyEN)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MetaTitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.MetaTitleTH, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MetaTitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.MetaTitleEN, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MetaKeywordTH, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.MetaKeywordTH, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MetaKeywordEN, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.MetaKeywordEN, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MetaDescriptionTH, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.MetaDescriptionTH, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MetaDescriptionEN, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.MetaDescriptionEN, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OGTitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.OGTitleTH, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OGTitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.OGTitleEN, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OGDescriptionTH, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.OGDescriptionTH, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OGDescriptionEN, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.OGDescriptionEN, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OGImageTH, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            <div id="OGImageTHSame">
                                <div class="img-preview"><img src="@ViewBag.PathRel@Model.OGImageTH" class="img-responsive" /></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OGImageEN, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            <div id="OGImageENSame">
                                <div class="img-preview"><img src="@ViewBag.PathRel@Model.OGImageEN" class="img-responsive" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2"> 
                            @if (ViewBag.CurrentMenu.Can_Edit) {
                                <a href="@Url.Action("Edit")" class="btn btn-warning" name="Edit" value="">Edit</a>
                            } 
                        </div>
                        <div class="col-md-10">       
                            @if (ViewBag.CurrentMenu.Can_Approve) {
                                <button type="submit" class="btn btn-primary" name="Approve" value="@TobJod.Models.ApproveStatus.Approve">Approve</button>
                                <button type="submit" class="btn btn-warning" name="Approve" value="@TobJod.Models.ApproveStatus.Reject">Reject</button> 
                            }
                        </div>
                    </div>
                }
            </div>
        </div>



        @using (Html.BeginForm("Preview", (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-preview", target = "preview" })) {
            <input type="hidden" name="language" id="preview-language" value="" />
            <input type="hidden" name="body" id="preview-body" value="" />
        }
    </div>
</div>

@section js {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/vendor/ckeditor/ckeditor.js"></script>
    <script src="~/assets/vendor/ckeditor/adapters/jquery.js"></script>
    <script>
        var uploadurl = 'configpage/';
        $.validator.setDefaults({ ignore: ':hidden:not(.text-editor)' });
        $(function () {
            $('textarea.text-editor').ckeditor();
            $('.OGImageSame:checked').click();
        });
        $('.OGImageSame').click(function () {
            var val = $(this).val();
            if (val == 'true') {
                $($(this).data('target')).hide();
            } else {
                $($(this).data('target')).show();
            }
        });
        $('#btn-preview-th').click(function () {
            ShowPreview('th', $('#BodyTH').html());
        });
        $('#btn-preview-en').click(function () {
            ShowPreview('en', $('#BodyEN').html());
        });

        function ShowPreview(language, body) {
            $('#form-preview').attr('action', '@System.Configuration.ConfigurationManager.AppSettings["Url_FrontEnd"]/' + language + '/Contact/Preview');
            $('#preview-language').val(language);
            $('#preview-body').val(body);
            $('#form-preview').submit();
            return false;
        }
    </script>
}
