﻿@{ 
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "นโยบายความเป็นส่วนตัว | Tobjod โบรคเกอร์ ประกันภัย";
}
<main id="page-product-thumbnail" class="tomDev super-top-margin">
    <div class="container">
        <div class="row">
            <h1>นโยบายความเป็นส่วนตัว</h1>
            <div class="lineTop2"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"> </div>
                <div class="col-md-10">
                   <p>รับรองข้อมูลความเป็นส่วนตัว</p>
                   <p class="ddtab">ปลอดภัย...สบายใจ...หายห่วง สำหรับทุกข้อมูล ทุกความเป็นส่วนตัวของคุณจะได้รับการดูแลเป็นอย่างดี ด้วยระบบควบคุมที่รัดกุม ข้อมูลส่วนตัวของคุณจะไม่ถูกนำไปใช้ในทางอื่นโดยไม่ได้รับความยินยอมจากคุณ ทั้งนี้เพื่อให้คุณได้รับการบริการที่ดีที่สุดพร้อมด้วยตอบรับทุกความต้องการของคุณอย่างเต็มที่ ข้อมูลบางส่วนของคุณในการกรอกข้อมูล เช่น ประเภทประกัน, ทุนประกัน หรือปัจจัยอื่นในการสมัครประกันภัย อาจถูกหยิบมาใช้สำหรับปรับปรุงการพัฒนาในการบริการที่ดีขึ้นเพียงเท่านั้น เพื่อให้เกิดความมั่นใจในนโยบายความเป็นส่วนตัว เราได้คัดสรรและพิจารณาโดยละเอียดในการนำเทคโนโลยีที่ได้มาตรฐาน และมีการกำหนดกระบวนการทำงานที่เกี่ยวข้องเพื่อป้องกันการรั่วไหลของข้อมูลเป็นอย่างดี นอกจากนั้นการเข้าถึงข้อมูล ดังกล่าวของเจ้าหน้าที่ของเราจะต้องเป็นเจ้าหน้าที่ที่ได้รับอนุญาตเท่านั้น</p>
                   <br />
                   <ol class="1">
                       <li>
                        <b>การบริหารจัดการข้อมูล</b>
                        <p class="ddtab">ให้พิจารณาถึงประเภทและปริมาณข้อมูลที่อยู่ในการควบคุมของธุรกิจทั้งหมด โดยข้อมูลส่วนบุคคล (Personal data) หรือเป็นข้อมูลส่วนบุคคลที่กระทบกระเทือนถึงความรู้สึกของประชาชน (Sensitive Personal Data) ให้จัดกลุ่มอยู่ในระดับชั้น ‘ลับ’ (Confidential) เพื่อสะดวกแก่การนำข้อมูลส่วนบุคคลไปใช้ และเพื่อป้องกันมิให้มีการใช้หรือเปิดเผยเกินกว่าวัตถุประสงค์ของการจัดเก็บ และป้องกันการเปิดเผยต่อผู้บุคคลที่ไม่มีสิทธิ์เข้าถึงข้อมูลในการจัดเก็บ รวบรวมข้อมูล่วนบุคคล ให้คำนึงถึง การดำเนินการต่าง ๆ ดังนี้</p>
                <br />
                    <ol type="a">
                        <li>
                            <b>การเก็บรวบรวมข้อมูลส่วนบุคคลอย่างจำกัด</b> <br />
                            <p class="ddtab">ให้ใช้วิธีการที่ชอบด้วยกฎหมายและเป็นธรรม และจัดเก็บข้อมูลส่วนบุคคลของผู้ใช้บริการ เท่าที่จำเป็นแก่การให้บริการธุรกรรมทางอิเล็กทรอนิกส์ตามวัตถุประสงค์ในการดำเนินงานของบริษัท ตามที่กฎหมายกำหนดเท่านั้น โดยจะต้องขอความยินยอมจากผู้ใช้บริการก่อนทำการเก็บรวบรวม เว้นแต่กรณีที่กฎหมายกำหนด</p>
                        </li>

                        <li>
                            <b>คุณภาพของข้อมูลส่วนบุคคล</b> <br />
                            <p class="ddtab">ให้มีการรวบรวมและจัดเก็บข้อมูลส่วนบุคคลของผู้ใช้บริการ เพื่อนำไปใช้ประโยชน์ต่อการดำเนินงานตามภารกิจของบริษัท โดยเป็นไปตามอำนาจหน้าที่และวัตถุประสงค์ในการดำเนินงานของบริษัทตามที่กฎหมายกำหนด  ซึ่งในการตรวจสอบคุณภาพจะให้ความสำคัญถึงความถูกต้อง ครบถ้วน และเป็นปัจจุบันของข้อมูลที่จัดเก็บ</p>
                        </li>

                        <li>
                            <b>การระบุวัตถุประสงค์ในการเก็บรวบรวม</b><br />
                            <p class="ddtab">ให้รวบรวม จัดเก็บ ใช้ ข้อมูลส่วนบุคคลเพื่อประมวลผล และแสดงข้อมูล เพื่อใช้ในการดำเนินธุรกิจ ให้ตรงตามวัตถุประสงค์ของบริษัท  หากบริษัทมีการเปลี่ยนแปลงวัตถุประสงค์ในการเก็บรวบรวมข้อมูลส่วนบุคคล ผู้ควบคุมข้อมูลของบริษัท จะต้องแจ้งให้ผู้ใช้บริการทราบ และให้มีการบันทึกการแก้ไขเพิ่มเติมไว้เป็นหลักฐานด้วย</p>
                        </li>

                        <li>
                            <b>ข้อจำกัดในการนำข้อมูลส่วนบุคคลไปใช้</b>
                            <p class="ddtab">การเปิดเผยข้อมูลส่วนบุคคลที่มีการจัดเก็บ รวบรวมไว้ ต้องจะได้รับความยินยอมจากเจ้าของข้อมูลส่วนบุคคล หรือต้องดำเนินการเพื่อให้เป็นไปตามกฎหมายหรือคำสั่งศาล</p>
                        </li>

                        <li>
                            <b>การเปิดเผยเกี่ยวกับการดำเนินการที่เกี่ยวข้องกับข้อมูลส่วนบุคคล</b><br />
                            <p class="ddtab">ให้ทำการเปิดเผย แนวปฏิบัติด้านการบริหารจัดการความเป็นส่วนตัวและข้อมูลส่วนบุคคลพร้อมทั้ง หากมีการปรับปรุงแก้ไข ผ่านทางระบบเว็บไซต์ www.tobjod.com</p>
                        </li>

                        <li>
                            <b>การมีส่วนร่วมของเจ้าของข้อมูล</b><br />
                            <p class="ddtab">การจะเปิดเผยรายละเอียดข้อมูลส่วนบุคคล กระทำได้ต่อเมื่อได้รับคำร้องขอจากเจ้าของข้อมูลส่วนบุคคล ผู้สืบสิทธิ์ ทายาท ผู้แทนโดยชอบธรรม หรือผู้พิทักษ์ตามกฎหมาย โดยแจ้งความจำนงและกรอกแบบคำร้องขอดำเนินการเกี่ยวกับข้อมูลส่วนบุคคลของบริษัท ทั้งนี้ ให้ดำเนินการให้แล้วเสร็จภายในระยะเวลา 30 วัน และหากระบบบริการใดมีค่าใช้จ่ายในการดำเนินการ จะแจ้งให้เจ้าของข้อมูลทราบก่อนดำเนินการ</p>
                            <p class="ddtab">ในกรณีที่ไม่สามารถดำเนินการตามที่เจ้าของข้อมูลร้องขอข้างต้น ผู้ควบคุมข้อมูลของบริษัทจะดำเนินการแจ้งเหตุผลให้เจ้าของข้อมูลทราบ อีกทั้งบอกกล่าวให้เจ้าของข้อมูลทราบถึงสิทธิในการโต้แย้งการไม่ปฏิบัติตามคำร้องขอดังกล่าว โดยเจ้าของข้อมูลมีสิทธิที่จะขอให้ผู้ควบคุมข้อมูลทำการลบ  แก้ไข ปรับปรุง หรือทำให้ข้อมูลมีความสมบูรณ์ โดยจะต้องดำเนินการบันทึกหลักฐานคำคัดค้านดังกล่าวไว้เป็นหลักฐานด้วย</p>
                        </li>

                        <li>
                            <b>ความรับผิดชอบของบุคคลซึ่งทำหน้าที่ควบคุมข้อมูล</b><br />
                            <p class="ddtab">กำหนดให้เจ้าหน้าที่ซึ่งมีหน้าที่รับผิดชอบในการดูแล การจัดเก็บ การใช้ และการเปิดเผย ข้อมูลส่วนบุคคลของผู้ใช้บริการ ต้องปฏิบัติตามแนวปฏิบัติด้านการบริหารจัดการความเป็นส่วนตัวและข้อมูลส่วนบุคคลฉบับนี้ อย่างเคร่งครัด</p>
                        </li>
                    </ol>
                </li>

                <li>
                    <b>การบริหารจัดการและการควบคุมดูแลผู้ประมวลผล</b>
                    <p class="ddtab">ในกรณีที่มีการว่าจ้างให้บริษัทหรือหน่วยงานอื่นดำเนินการบางส่วนแทนหรือดำเนินงานในนามบริษัท (outsourcing)   และการดำเนินการดังกล่าวเกี่ยวข้องกับข้อมูลส่วนบุคคลที่อยู่ในความควบคุมของธุรกิจ  จะต้องมีการดำเนินการเพื่อป้องกันมิให้บริษัทผู้ให้บริการดำเนินการแทน ใช้หรือเปิดเผยข้อมูลส่วนบุคคลโดยปราศจากอำนาจหรือโดยมิชอบ และต้องมีมาตรฐานในการคุ้มครองข้อมูลส่วนบุคคลไม่ต่ำกว่ามาตรฐานที่ธุรกิจด้านการประกันภัยใช้ในการดูแลข้อมูลส่วนบุคคล  โดยจัดทำเป็นสัญญาเพื่อควบคุมและป้องกันการละเมิดข้อมูลส่วนบุคคลดังกล่าวเพื่อกำหนดหน้าที่ และความรับผิดชอบให้แก่ผู้ประมวลผลข้อมูลที่เป็นหน่วยงานภายนอก</p>
                </li>

                <li>
                    <b>การอบรมและให้ความรู้กับพนักงานภายในองค์กร</b>
                    <p class="ddtab">ให้มีการอบรมและให้ความรู้กับพนักงานเพื่อสร้างความตระหนักถึงภาระหน้าที่และความสำคัญของสิทธิส่วนบุคคลเพื่อให้การบริหารจัดการความเป็นส่วนตัวและข้อมูลส่วนบุคคลเกิดประสิทธิภาพสูงสุด ตัวอย่างเช่น การอบรมเพื่อสร้างความตระหนักถึงการคุ้มครองข้อมูลส่วนบุคคล การอบรมเกี่ยวกับการเก็บรวมรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคลให้ถูกต้องและเหมาะสม และการอบรมเกี่ยวกับการป้องกันและการรับมือภัยคุกคามด้านข้อมูลส่วนบุคคล เป็นต้น</p>
                </li>

                <li>
                    <b>มาตรการรับมือในกรณีที่เกิดการละเมิดข้อมูลส่วนบุคคล</b>
                    <p class="ddtab">กำหนดมาตรการและแนวทางในการรับมือกับการละเมิดข้อมูลส่วนบุคคลให้เป็นส่วนหนึ่งของแผนรับมือภัยคุกคามสารสนเทศ</p>
                </li>
                   </ol>
                   <b>การทบทวนแนวปฏิบัติด้านการบริหารจัดการความเป็นส่วนตัวและข้อมูลส่วนบุคคล</b>
                   <p class="ddtab">ให้ทำการทบทวน และปรับปรุงเนื้อหาแนวปฏิบัติด้านการบริหารจัดการความเป็นส่วนตัวและข้อมูลส่วนบุคคลของบริษัท อย่างน้อยปีละ 1 ครั้ง หรือเมื่อมีการเปลี่ยนแปลงที่มีนัยสำคัญ</p>
                </div>
            <div class="col-md-2"> </div>
            
        </div>
    </div>
                   
</main>
<style>
    .ddtab { text-indent: 5%; }
    .ddsmall { text-indent: 5em; }
    b { font-size: 2.3rem; font-family: psl_kanda_modernbold; }
    P { letter-spacing: 1px;}
    li { font-size: 2.3rem;}
</style>


