﻿@{ 
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "เกี่ยวกับเรา Tobjod | ตอบโจทย์ โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "Tobjod ผู้นำโบรกเกอร์ด้านประกันภัย ตอบโจทย์ครบทุกไลฟ์สไตล์ พร้อมให้คำปรึกษา ตัวแทนบริษัทประกันภัยชั้นนำ คัดสรรประกันภัยที่คุ้มค่าที่สุด พร้อมบริการหลังการขาย และข้อเสนอสุดพิเศษเพื่อคุณ";
    pageMeta.MetaKeyword = "ตอบโจทย์, Tobjod, โบรกเกอร์, ประกันภัย, ประกันภัยรถยนต์, ประกันรถยนต์, พรบออนไลน์, ประกันภัยการเดินทาง, ประกันเดินทาง";
}
@using TobJod.Web
@model TobJod.Models.ConfigPage

<section id="banner_section" class="container-fluid clear-boot-pad">
    <a href="#" class="item" target="_blank">
        <figure>
            <img class="lazy img-responsive" data-original="@Url.Content("~/assets/images/about-us/01.jpg")" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  />
        </figure>
    </a>
</section>
<main class="about-us">
    <section class="container">
        <h1 class="text-lg-center text-md-center text-xs-center">ทำความรู้จัก <b>“ตอบโจทย์”</b></h1>
        @Html.Raw(Model.BodyTH.ReplacePath())
    </section>
    <!-- @Html.Partial("TH/_WhyUs") -->
        <div class="visible-md-block visible-lg-block visible-xs-block visible-sm-block">
        <section class="container why-us-product">
            <h1 class="text-lg-center title text-sm-center">
                <b>“ตอบโจทย์”</b> ตรงใจคนใช้ประกัน
            </h1>
            <div class="line-border">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 item-container">
                    <a href="#" class="item" id="unclicked">
                        <figure>
                            <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-1.jpg")" alt="banner-01" title="ซื้อปุ๊บ จ่ายปั๊บ " />
                            <figcaption class="text-lg-center text-xs-center"><b>สะดวก</b></figcaption>
                        </figure>
                        <p class="text-lg-center text-xs-center hidden-xs">
                            ซื้อปุ๊บ จ่ายปั๊บ <br /> รับความคุ้มครองทันที
                        </p>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 item-container">
                    <a href="#" class="item active" id="unclicked">
                        <figure>
                            <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-2.jpg")" alt="banner-01" title="รับความคุ้มครองที่ครอบคลุม" />
                            <figcaption class="text-lg-center text-xs-center"><b>คุ้มค่า</b></figcaption>
                        </figure>
                        <p class="text-lg-center text-xs-center hidden-xs">
                            รับความคุ้มครองที่ครอบคลุม <br /> สุดคุ้มกับค่าเบี้ยประกันภัย พร้อมความดูแลที่มากกว่า
                        </p>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 item-container">
                    <a href="#" class="item" id="unclicked">
                        <figure>
                            <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-3.jpg")" alt="banner-01" title="หลากหลาย “ตัวเลือก”" />
                            <figcaption class="text-lg-center text-xs-center"><b>มากกว่า</b></figcaption>
                        </figure>
                        <p class="text-lg-center text-xs-center hidden-xs">
                            หลากหลาย “ตัวเลือก” <br /> ผลิตภัณฑ์ประกันภัย ตอบรับไลฟ์สไตล์ที่คุณต้องการ
                        </p>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 item-container">
                    <a href="#" class="item active" id="unclicked">
                        <figure>
                            <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-4.jpg")" alt="banner-01" title="วางใจได้ อุ่นใจดี" />
                            <figcaption class="text-lg-center text-xs-center"><b>มืออาชีพ</b></figcaption>
                        </figure>
                        <p class="text-lg-center text-xs-center hidden-xs">
                            วางใจได้ อุ่นใจดี <br /> มีประสิทธิภาพด้วยประสบการณ์อย่างมืออาชีพ
                        </p>
                    </a>
                </div>
            </div>
        </section>
    </div>
</main>