﻿@model TobJod.Models.ProductItem

<div class="row">
    <div class="col-xs-12 item gift">
        @if (Model.Promotion != null && Model.Promotion.Count > 0) {
            var pGift = Model.Promotion.Where(x => x.PromotionType == TobJod.Models.PromotionType.Gift).ToList();
            var pDiscount = Model.Promotion.Where(x => x.PromotionType == TobJod.Models.PromotionType.Discount).ToList();
            if (pGift.Count > 0) {
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                       <label class="col-xs-6"><div class="row">ฟรี</div></label>
                        @foreach (var g in pGift) {
                            <span class="col-xs-6 with-pad">
                                <div class="row">
                                <text>@g.Gift<br /></text>
                                </div>
                            </span>
                        }
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
            if (pDiscount.Count > 0) {
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                    <label class="col-xs-6"><div class="row">ส่วนลด</div></label>
                    @foreach (var g in pDiscount) {
                        <span class="col-xs-6 with-pad">
                            <div class="row">
                            <text>@g.DiscountAmount.ToString("0") @(g.DiscountType == TobJod.Models.PromotionDiscountType.Amount ? "บาท" : "%")<br /></text>
                            </div>
                        </span>
                    }
                    </div>
                </div>
            </div>
            }
        }
    </div>
    <div class="clearfix"></div>
</div>