﻿@model TobJod.Models.ProductItem

@if (Model.Promotion != null && Model.Promotion.Count > 0) {
    <span class="ribbon">
        <span class="ribbon-content">@Model.Promotion[0].Campaign</span>
    </span>
}