﻿@{
    var configModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
}
<!-- Modal -->
<div class="modal fade default-form-model" id="lead-form-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--  <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div> -->
            <div class="modal-body">
                <form action="@Url.Action("LeadForm", "Product")" class="form_style" method="post" id="lead_form"
                      @*@if (configModel.EnableCaptcha) {
                      <text>
                      data-fv-addons="reCaptcha2"
                      data-fv-addons-recaptcha2-element="captchaContainer2"
                      data-fv-addons-recaptcha2-theme="light"
                      data-fv-addons-recaptcha2-timeout="120"
                      data-fv-addons-recaptcha2-sitekey="6LfcwisUAAAAAH0useokQm42uo-RlPdzPRVthyEb"
                      data-fv-addons-recaptcha2-language="th"
                      data-fv-addons-recaptcha2-message="The captcha is not valid"
                      </text>
                  }*@>

                    @*<div class="close-box"></div>
        <div class="text-close" data-dismiss="modal" aria-label="Close">&times;</div>*@
                    <div class="clearfix">
                        <h4 class="text-center">สอบถามราคากับเรา</h4>
                        <div class="warp">
                            <!-- <p class="text-center">
                                            หากท่านสนใจทำประกันกับบริษัทฯ และต้องการสอบถามราคาเพื่อให้ข้อมูลเพิ่มเติมหรือให้บริการ<br />
            ท่านสามารถ คัดเลือกตัวแทนที่มีคุณภาพ โดยการค้นหาจาก <br /><strong>"สาขาที่ติดต่อสะดวก"</strong> หรือ <strong>"ค้นหาจากรายชื่อตัวแทน"</strong>
                                        </p> -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Name">ชื่อ</label>
                                        <input type="text" id="Name" name="Name" class="form-control required" maxlength="50" placeholder="กรุณาใส่ชื่อ" data-alpha="1" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Surname">นามสกุล</label>
                                        <input type="text" id="Surname" name="Surname" class="form-control required" maxlength="50" placeholder="กรุณาใส่นามสกุล" data-alpha="1" autocomplete="off" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Email">อีเมล</label>
                                        <input type="text" id="Email" name="Email" class="form-control required email" maxlength="250" placeholder="กรุณาใส่อีเมล" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Tel">เบอร์โทรศัพท์มือถือ</label>
                                        <input type="text" id="Tel" name="Tel" class="form-control required numeric" maxlength="10" placeholder="กรุณาใส่เบอร์โทรศัพท์มือถือ" data-num="1" autocomplete="off" required>
                                    </div>
                                </div>
                            </div>
                            @*@if (configModel.EnableCaptcha)
                {
                    <text>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div id="captchaContainer"></div>
                                    <div class="g-recaptcha" data-sitekey="6LfcwisUAAAAAH0useokQm42uo-RlPdzPRVthyEb"></div>
                                </div>
                            </div>
                        </div>
                    </text>
                }*@

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary contact-submit" id="btn-lead-form-submit">ส่งแบบฟอร์ม</button>
                    </div>
                    <input type="hidden" name="lead_form_return_url" id="lead_form_return_url" value="" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#lead_form').formValidation();
    });

    $('#lead_form').on('success.form.fv', function (e) {
        e.preventDefault();
        $.post("@Url.Action("LeadForm", "Product")", $("#lead_form").serialize()) 
            .done(function (data) {
                if (data.success) {
                    var url = $('#lead_form_return_url').val();
                    if (url == '') {
                        $("#lead-form-popup").modal("hide");
                    } else {
                        window.location = url;
                    }
                } else {
                    alert('ไม่สามารถบันทึกข้อมูลได้ กรุณาลองใหม่อีกครั้ง');
                }
            });
        return false;
    });
    
    $('#lead-form-popup').on('hidden.bs.modal', function () {
        $('#lead_form')[0].reset();
    });
</script>
@if (ViewBag.Notify != null) {
    <div class="modal fade main-model-popup" id="popup-model-lead" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div> -->
                <div class="modal-body">
                    <div class="close-box"></div>
                    <div class="text-close" data-dismiss="modal" aria-label="Close">&times;</div>
                    <h2 class="text-center">@(string.Equals(ViewBag.Notify, "Success") ? "ข้อมูลติดต่อของท่านถูกบันทึกแล้ว" : "ไม่สามารถบันทึกข้อมูลได้ กรุณาลองใหม่อีกครั้ง")</h2>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () { $('#popup-model-lead').modal('toggle'); });
    </script>
}