﻿@model TobJod.Models.ProductItem
@{
    var configModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    TobJod.Models.LeadForm leadForm = new TobJod.Models.LeadForm();
    if (ViewBag.LeadForm is TobJod.Models.LeadForm) { leadForm = (TobJod.Models.LeadForm)ViewBag.LeadForm; }
}
<style type="text/css">
.has-success input, .has-success select, .has-success select:focus { border-top-color: #ccc !important; border-bottom-color: #ccc !important; border-right-color: #ccc !important; border-left-color: #F46F22 !important; }
</style>
<!-- Modal -->
<div class="modal fade" id="contact-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--  <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div> -->
            <div class="modal-body">
                <form action="@Url.Action("Save", "Product")@(Request.Url.Query)" class="form_style" method="post" id="contact_agent_form"
                  @if (configModel.EnableCaptcha) {
                      <text>
                      data-fv-addons="reCaptcha2"
                      data-fv-addons-recaptcha2-element="captchaContainer2"
                      data-fv-addons-recaptcha2-theme="light"
                      data-fv-addons-recaptcha2-timeout="120"
                      data-fv-addons-recaptcha2-sitekey="6LfcwisUAAAAAH0useokQm42uo-RlPdzPRVthyEb"
                      data-fv-addons-recaptcha2-language="th"
                      data-fv-addons-recaptcha2-message="The captcha is not valid"
                      </text>
                  }
                  >

                    <div class="close-box"></div>
                    <div class="text-close" data-dismiss="modal" aria-label="Close">&times;</div>
                    <div class="clearfix">
                        <input type="hidden" name="ProductId" value="@Model.Id" />
                        <input type="hidden" name="PremiumId" value="@Model.PremiumId" />
                        <input type="hidden" name="Usage" value="@Model.Usage" />
                        <input type="hidden" name="Category" value="@Model.CategoryId" />
                        @*<input type="hidden" name="q" value="@Request.Url.Query" />*@
                        <h4 class="text-center">กรุณากรอกข้อมูลเพื่อให้เจ้าหน้าที่ติดต่อกลับ</h4>
                        <div class="warp">
                            <!--
                                <p class="text-center">
                                    หากท่านสนใจทำประกันชีวิตกับบริษัทฯ และต้องการติดต่อตัวแทนเพื่อให้ข้อมูลเพิ่มเติมหรือให้บริการ
                                    ท่านสามารถ คัดเลือกตัวแทนที่มีคุณภาพ โดยการค้นหาจาก <strong>"สาขาที่ติดต่อสะดวก"</strong> หรือ <strong>"ค้นหาจากรายชื่อตัวแทน"</strong>
                                </p>
                            -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Name">ชื่อ</label>
                                        <input type="text" id="Name" name="Name" class="form-control required" maxlength="50" placeholder="กรุณาใส่ชื่อ" data-alpha="1" autocomplete="off" value="@leadForm.Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Surname">นามสกุล</label>
                                        <input type="text" id="Surname" name="Surname" class="form-control required" maxlength="50" placeholder="กรุณาใส่นามสกุล" data-alpha="1" autocomplete="off" value="@leadForm.Surname">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Email">อีเมล</label>
                                        <input type="text" id="Email" name="Email" class="form-control required email" maxlength="250" placeholder="กรุณาใส่อีเมล" autocomplete="off" value="@leadForm.Email">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Tel">เบอร์โทรศัพท์มือถือ</label>
                                        <input type="text" id="Tel" name="Tel" class="form-control required numeric" maxlength="10" placeholder="กรุณาใส่เบอร์โทรศัพท์มือถือ" data-num="1" autocomplete="off" value="@leadForm.Tel">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Product">กรมธรรม์ที่สนใจ</label>
                                        <div class="clearfix"></div>
                                        <div class="product-current">@Model.Company @Model.TitleTH</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="CallBackDate">วันที่ติดต่อกลับ</label>
                                        <div class="row">
                                            <div class="product-current product-current-v2">
                                                <div class="form-group col-sm-12 col-md-6">
                                                    <input type="text" name="CallBackDay" id="CallBackDay" class="form-control col-sm-12 col-md-6 prevent_type required" placeholder="ระบุวัน" value="@DateTime.Now.ToString("dd/MM/")@DateTime.Now.Year" readonly="readonly" />
                                                </div>
                                                <div class="form-group col-sm-12 col-md-6">
                                                    <select name="CallBackTime" id="CallBackTime" class="form-control col-sm-12 col-md-6 required" value="@DateTime.Now.ToString("HH:mm")" required="required"><option value="">เลือกช่วงเวลา</option>@foreach (var option in TobJod.Models.Lead.CallBackTimeList()) { <option value="@option.Key">@option.Value</option> }</select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="Message">ข้อความ</label>
                                        <textarea name="Message" id="Message" cols="30" class="form-control" rows="5" data-alphanum="1"></textarea>
                                    </div>
                                </div>
                            </div>

                            @if (configModel.EnableCaptcha)
                            {
                                <text>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div id="captchaContainer"></div>
                                                <div class="g-recaptcha" data-sitekey="6LfcwisUAAAAAH0useokQm42uo-RlPdzPRVthyEb"></div>
                                            </div>
                                        </div>
                                    </div>
                                </text>
                            }
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="checkbox form-group col-xs-1">
                                            <label>
                                                <input type="checkbox" value="1" name="condition">
                                            </label>
                                        </div>
                                        <div class="col-xs-10">
                                            <div class="text-conscience col-xs-10">
                                                   ข้าพเจ้ายอมรับข้อตกลงและเงื่อนไขการใช้บริการเว็บไซต์ กับ ตอบโจทย์ โดย บริษัท ธนชาต  โบรกเกอร์ จำกัด (“บริษัท”)  ดังต่อไปนี้
                                                    <br /><br />
                                                   การที่ท่านใช้งานเว็บไซต์นี้ หมายความว่า ท่านได้ยอมรับว่าข้อมูลส่วนตัวที่ท่านให้ จะนำมาใช้บนข้อตกลงการใช้งานในเว็บไซต์นี้ ตามนโยบายของบริษัทฯ เกี่ยวกับการรักษาความลับและการใช้ข้อมูลส่วนตัวตามที่ได้รับความยินยอมจากท่าน และตามนโยบายความเป็นส่วนตัวตามที่กำหนดไว้ในข้อตกลงและเงื่อนไขการใช้บริการในเว็บไซต์นี้<br /><br />

                                                    การใช้ข้อมูลส่วนตัวที่ท่านยินยอมให้ไว้บนเว็บไซต์นี้ ตอบโจทย์ จะนำไปใช้เพื่อวัตถุประสงค์ในการให้บริการบนเว็บไซต์นี้ตามคำร้องขอของท่าน หรือเพื่อเพิ่มเติมปรับปรุงฐานข้อมูลของบริษัทฯ ให้เป็นข้อมูลล่าสุด หรือเพื่อให้คำแนะนำแก่ท่านเกี่ยวกับผลิตภัณฑ์และบริการอื่น ๆ ของบริษัท ในอนาคต <br /><br />

                                                   ข้อมูลต่างๆ ที่บริษัทฯ ได้รับจากท่านมีความสำคัญอย่างยิ่งในการปรับปรุงพัฒนารูปแบบและนำเสนอบริการต่าง ๆ ของบริษัทฯ และผลิตภัณฑ์ที่เกี่ยวข้องเพื่อประโยชน์ในการใช้งานของท่าน บริษัทฯ ต้องการให้ท่านมั่นใจว่า บริษัทฯ จะเก็บรักษาข้อมูลส่วนตัวของท่านเป็นความลับด้วยมาตรฐานความปลอดภัยระดับสูง ทั้งนี้บริษัท จะนำข้อมูลของท่านไปใช้เท่าที่จำเป็นและตามความยินยอมที่ท่านให้ไว้เท่านั้น เพื่อให้บริษัท สามารถตรวจสอบและปรับปรุงคุณภาพการให้บริการลูกค้าของบริษัทฯ ได้อย่างต่อเนื่อง และเพื่อให้บริษัทฯ สามารถแจ้งข้อมูลข่าวสารเกี่ยวกับผลิตภัณฑ์และบริการต่าง ๆ ที่เป็นประโยชน์แก่ท่าน
                                                   <br /><br />
                                                   บริษัทฯ สงวนสิทธิ์ในการแก้ไขเพิ่มเติมนโยบายการคุ้มครองข้อมูลและความเป็นส่วนตัวที่ใช้อยู่ได้ในอนาคต และจะนำนโยบายฉบับที่มีการแก้ไขเพิ่มเติมแล้วลงไว้ในเว็บไซต์นี้ นโยบายการคุ้มครองข้อมูลและความเป็นส่วนตัวมิได้มีวัตถุประสงค์ หรือก่อให้เกิดสิทธิทางสัญญา หรือสิทธิทางกฎหมายใด ๆ อีกทั้งมิได้ก่อให้เกิดภาระผูกพันแก่บริษัท ที่เกี่ยวกับบุคคลอื่นหรือในนามของบุคคลอื่นใดทั้งสิ้น
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary contact-submit" id="btn-lead-submit">ส่งแบบฟอร์ม</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#CallBackDay').datetimepicker({ format: 'DD/MM/YYYY', minDate: '@DateTime.Today.ToString("yyyy-MM-dd", new System.Globalization.CultureInfo("en-GB"))', ignoreReadonly: true, daysOfWeekDisabled: [0, 6], disabledDates: [ @Html.Raw(((TobJod.Web.Controllers.ProductController)this.ViewContext.Controller).ListDayOff()) ] }).on('dp.change', function (event) {
            $(this).closest('form').formValidation('revalidateField', $(this).attr('name'))
        });
        //$('#CallBackTime').datetimepicker({ format: 'HH:mm', });
    });
    $('#contact_agent_form').submit('success.form.fv', function (e) {
        @if (configModel.EnableCaptcha) {
            <text>
            if ($('#g-recaptcha-response').length < 1) {
                alert('Please confirm Captcha');
                return false;
            }
            </text>
            }
        var date = $('#CallBackDay').data("DateTimePicker").date();
        var hour = 0;
        if ($('#CallBackTime').val() != '') hour = parseInt($('#CallBackTime').val().substr(0, 2)) + 2;
        date.set({ hour: hour, minute: 0 });
        if (hour > 0 && moment().isAfter(date)) {
            alert('Please select another time');
            return false;
        }
    });
    $('#contact-popup').on('hidden.bs.modal', function () {
        $('#contact_agent_form')[0].reset();
    });
</script>
@if (ViewBag.Notify != null) {
    <div class="modal fade main-model-popup" id="popup-model-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div> -->
                <div class="modal-body">
                    <div class="close-box"></div>
                    <div class="text-close" data-dismiss="modal" aria-label="Close">&times;</div>
                    <h2 class="text-center">@(string.Equals(ViewBag.Notify, "Success") ? "ข้อมูลติดต่อของท่านถูกบันทึกแล้ว" : "ไม่สามารถบันทึกข้อมูลได้ กรุณาลองใหม่อีกครั้ง")</h2>
                </div>
            </div>
        </div>
    </div>
    <script>$(function () { $('#popup-model-contact').modal('toggle'); });
        //$('#popup-model-contact').on('hidden.bs.modal', function () {
        //    location.reload();
        //});
    </script>
}