﻿@{
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "พ.ร.บ. รถยนต์ | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ต่อพ.ร.บ. รถยนต์ง่ายได้ที่ตอบโจทย์";
    pageMeta.MetaKeyword = "พ.ร.บ. รถยนต์, ต่อพ.ร.บ. ออนไลน์, พ.ร.บ., พ.ร.บ.";
}

<main id="page-product-thumbnail" class="tomDev super-top-margin">
    <div class="container">
        <div class="row description-insurance">
            <h1>ประกันภัยเพื่อคุ้มครองรถยนต์ภาคบังคับ</h1>
            <div class="lineTop2"></div>
        </div>
    </div>
    <section class="container description-insurance">
        <div class="row">
            <div class="col-md-3 header-type">
                ชื่อประกันภัย
            </div>
            <div class="col-md-9">
                <p>
                    ประกันภัยเพื่อคุ้มครองรถยนต์ภาคบังคับ (พ.ร.บ.): (Compulsory Third Party Insurance)
                </p>
            </div>

            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                &nbsp;
            </div>
            <div class="col-md-9">
                <p>
                    แบบประกันภัย สำหรับรถยนต์ที่ถูกบังคับโดยกฎหมาย (พระราชบัญญัติคุ้มครองผู้ประสบภัยจากรถ พ.ศ.2535) เพื่อคุ้มครองบุคคลที่บาดเจ็บหรือเสียชีวิต จากรถยนต์ ไม่ว่าจะเป็นผู้ขับขี่ ผู้โดยสาร คนเดินถนน และถือเป็นเอกสารสำคัญประกอบการยื่นเสียภาษีรถยนต์ประจำปี
                </p>
            </div>

            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                ความคุ้มครอง
            </div>
            <div class="col-md-9">
                <p>
                    คุ้มครองการสูญเสียชีวิต อวัยวะ ร่างกาย อนามัย ผู้ประสบภัยจากอุบัติเหตุรถยนต์
                </p>
            </div>

            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                การกำหนดทุนประกันภัย
            </div>
            <div class="col-md-9">
                <p>
                    ตามกฎหมายกำหนด
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                ผู้มีหน้าที่ต้องทำประกันภัยรถยนต์ภาคบังคับ (พ.ร.บ.)
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        เจ้าของรถ (ผู้มีกรรมสิทธิ์ในรถ)
                    </li>
                    <li>
                        ผู้เช่าซื้อรถ (ผู้ครอบครองรถในฐานะผู้เช่าซื้อรถ)
                    </li>
                    <li>
                        เจ้าของรถซึ่งนำรถที่จดทะเบียนในต่างประเทศเข้ามาใช้ในราชอาณาจักรเป็นการชั่วคราว
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                สิ่งที่เอาประกันภัย
            </div>
            <div class="col-md-9">
                <p>
                    ชีวิตและร่างกาย
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                ระยะเวลาเอาประกันภัย
            </div>
            <div class="col-md-9">
                <p>
                    1 ปี
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                ข้อมูลอื่นๆ
            </div>
            <div class="col-md-9">
                <p>
                    กฎหมายบังคับให้เจ้าของรถยนต์ทุกคันที่จดทะเบียนกับการขนส่งทางบกจะต้องทำประกันภัยตาม พ.ร.บ. ฝ่าฝืนจะมีความผิดโทษปรับไม่เกิน 10,000 บาท และให้เจ้าของรถหรือผู้ใช้รถเก็บรักษาหลักฐานแสดงการมีประกันความเสียหายสำหรับผู้ประสบภัยจากรถ ไว้ให้พร้อมที่จะแสดงต่อพนักงานเจ้าหน้าที่ได้ทุกเวลาที่ใช้รถ เว้นแต่กรณีรถคันดังกล่าวได้จดทะเบียนหรือชำระภาษีประจำปีแล้ว
                    <br /><br />ในการจดทะเบียนรถหรือการชำระภาษีรถประจำปี กรมการขนส่งจะตรวจสอบว่าได้มีการจัดทำประกันภัยรถยนต์ภาคบังคับ (พ.ร.บ.) แล้ว จึงจะรับจดทะเบียน หรือชำระภาษีประจำปีได้

                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <br /><br />
    </section>
</main>