﻿@{
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "พ.ร.บ. รถยนต์ | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ต่อพ.ร.บ. รถยนต์ง่ายได้ที่ตอบโจทย์";
    pageMeta.MetaKeyword = "พ.ร.บ. รถยนต์, ต่อพ.ร.บ. ออนไลน์, พ.ร.บ., พ.ร.บ.";
    var pGift = new List<TobJod.Models.PromotionItem>();
}
@model TobJod.Models.ProductItem
@{ var premium = Model.ProductPRB; }
<meta name="format-detection" content="telephone=no">
<main>
    <div class="banner-hero" style="text-align: center;">
        <a href="@Url.Action("compulsory-overview")" class="item" target="_blank">
            <img src="@Url.Content("~/assets/images/hero_banner/02.jpg")" alt="" class="img-responsive">
        </a>
    </div>
    <section class="container product-detail">
        <div class="wizard-wrapper">
            <div class="wizard-container container clear-boot-pad hidden-xs hidden-sm">
                <section id="wizard2">
                    <ul class="@(Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online) ? "has-4" : "has-3")">
                        <li class="item1st"><button class="active" onclick="history.back();">ค้นหา / เปรียบเทียบ</button></li>
                        <li class="item2nd"><button class="active">รายละเอียดผลิตภัณฑ์</button></li>
                        <li class="item3rd"><button class="">รายละเอียดผู้ถือกรมธรรม์</button></li>
                        @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online)) {
                            <li class="item4th"><button class="">ข้อมูลการชำระเงิน</button></li>}
                    </ul>
                </section>
            </div>
            <div class="reg-progress hidden-lg hidden-md">
                <p class="wizard-title hidden-lg hidden-sm" align="center">รายละเอียดผลิตภัณฑ์</p>
                <ol class="reg-progress__steps">
                    <li data-step="1" class="is-active is-complete">
                        <div class="subTitle hidden-xs">ค้นหา / เปรียบเทียบ</div>
                    </li>
                    <li data-step="2" class="is-active is-complete active-now">
                        <div class="subTitle hidden-xs">รายละเอียดผลิตภัณฑ์</div>
                    </li>
                    <li data-step="3" class="">
                        <div class="subTitle hidden-xs">รายละเอียดผู้ถือกรมธรรม์</div>
                    </li>
                    @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online)) {
                        <li data-step="4" class="">
                            <div class="subTitle hidden-xs">ข้อมูลการชำระเงิน</div>
                        </li>
                    }
                </ol>
            </div>
            <div class="col-md-12">
                <div class="container arrow-back">
                    <div class="row">
                        <div class="col-md-12 text-xs-center text-sm-center text-md-right">
                            <div class="inner">
                                <a href="@Url.Action("Compulsory", "Product")" class="btnOutline btn-product-previous">กลับไปหน้าก่อนหน้านี้</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="warp-des">
            <ul class="product-detail-main">
                <li class="pic"><img src="@Model.CompanyImage" class="img-responsive img-center" /></li>
                <li class="des">
                    <div class="new">new</div>
                    <h1>@Model.Company <strong>@Model.TitleTH</strong></h1>
                    <span class="price">@premium.Premium.ToString("n2") </span><span class="bath"> บาท</span>
                    <br /><br />
                    @if (Model.Promotion != null && Model.Promotion.Count > 0) {
                        pGift = Model.Promotion.Where(x => x.PromotionType == TobJod.Models.PromotionType.Gift).ToList();
                        <span class="ribbon-content">ฟรี</span><div class="clearfix"></div>
                        foreach (var g in pGift) {
                            <text><b>@g.Gift</b><br /></text>
                        }
                    }
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="row product-detail-rows">
            <div class="col-sm-12 col-md-8">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="pull-left" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ความคุ้มครองหลัก
                                </a>
                                <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="orange">คลิกดูรายละเอียด</span>
                                </a>
                                <span class="clearfix"></span>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                        <span class="spanleft">ความเสียหายต่อร่างกายหรืออนามัย (ต่อคน): </span>
                                        <span class="price-display-ty1"> 80,000 บาท</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">การเสียชีวิต หรือทุพพลภาพถาวร (ต่อคน): </span>
                                        <span class="price-display-ty1"> 300,000 บาท</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">การสูญเสียอวัยวะ (ต่อคน): </span>
                                        <span class="price-display-ty1">200,000 ถึง 300,000 บาท</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">การชดเชยรายได้ กรณีเข้ารับการรักษาในสถานพยาบาลในฐานะคนไข้ใน (ต่อวัน -ไม่เกิน 20วัน): </span>
                                        <span class="price-display-ty1">200 บาท</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">ทั้งนี้จำนวนเงินคุ้มครองรวมสูงสุดไม่เกิน (ต่อคน): </span>
                                        <span class="price-display-ty1">304,000 บาท</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">ทั้งนี้จำนวนเงินคุ้มครองรวมสูงสุดไม่เกิน (ต่อครั้ง): </span>
                                        <span class="price-display-ty1">@(Request.QueryString["subcategory"] == ((int)TobJod.Models.ProductSubCategoryKey.PRB_Van).ToString() ? "15,000,000" : "5,000,000") บาท</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">ความเสียหายต่อร่างกาย:</span>
                                        <span class="price-display-ty1">30,000 บาท</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">ความเสียหายต่อร่างกาย สำหรับการสูญเสียอวัยวะ หรือทุพพลภาพถาวร (ต่อคน): </span>
                                        <span class="price-display-ty1">35,000 บาท</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">ความเสียหายต่อชีวิต (ต่อคน):</span>
                                        <span class="price-display-ty1">35,000 บาท</span>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @*<div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        ความคุ้มครองเพิ่มเติม
                                    </a>
                                    <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        <span class="orange">คลิกดูรายละเอียด</span>
                                    </a>
                                    <span class="clearfix"></span>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    @Html.Raw(Html.Encode(Model.CoverageTH).Replace("\n", "<br />"))
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                        เงื่อนไขการรับประกันภัย
                                    </a>
                                    <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                                        <span class="orange">คลิกดูรายละเอียด</span>
                                    </a>
                                    <span class="clearfix"></span>
                                </h4>
                            </div>
                            <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    @Html.Raw(Html.Encode(Model.ConditionTH).Replace("\n", "<br />"))
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                        ข้อยกเว้น
                                    </a>
                                    <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="true" aria-controls="collapsefive">
                                        <span class="orange">คลิกดูรายละเอียด</span>
                                    </a>
                                    <span class="clearfix"></span>
                                </h4>
                            </div>
                            <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    @Html.Raw(Html.Encode(Model.ExceptionTH).Replace("\n", "<br />"))
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        สิทธิพิเศษ
                                    </a>
                                    <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                        <span class="orange">คลิกดูรายละเอียด</span>
                                    </a>
                                    <span class="clearfix"></span>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    @Html.Raw(Html.Encode(Model.PrivilegeTH).Replace("\n", "<br />"))
                                </div>
                            </div>
                        </div>*@
                </div>
                <!-- -->
            </div>
            <div class="col-sm-12 col-md-4">
                <!-- -->
                <div class="box-contact">
                    <div class="head">พ.ร.บ.</div>
                    <div class="warp">
                        <p>
                            @*มีเรื่องปรากฏในพระคัมภีร์ไบเบิลเกี่ยวกับโจเซฟและความ
                                อดอยากในประเทศอียิปต์ซึ่งถือว่าเป็นโครงการประกันภัย
                                อันแรกเท่าที่บันทึกไว้ในประวัติศาสตร์*@
                        </p>
                        <!-- tab -->
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">รายละเอียด</a></li>
                                @*<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">ประสบการณ์ผู้ใช้งาน</a></li>*@
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="warp-tab-container">
                                        <div class="row">
                                            <div class="col-xs-6">เบี้ยประกัน</div>
                                            <div class="col-xs-6 display-align-right">@premium.Premium.ToString("n2") บาท</div>
                                        </div>
                                        @if (Model.Promotion != null && Model.Promotion.Count > 0) {
                                            <div class="row">
                                                <div class="col-xs-6"><span class="red"><strong>ฟรี</strong></span></div>
                                                <div class="col-xs-6">
                                                    <ul class="gift-list">
                                                        @foreach (var g in pGift) {
                                                            <li><strong>@g.Gift</strong></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <p class="padding-top-20">
                                        @*ความเป็นมาของการประกันภัย มีเรื่องปรากฏในพระคัมภีร์ไบเบิลเกี่ยวกับโจเซฟและความอดอยากในประเทศอียิปต์ซึ่งถือว่าเป็นโครงการประกันภัยอันแรกเท่าที่บันทึกไว้ในประวัติศาสตร์ เล่ากันว่า คืนวันหนึ่ง ฟาโรห์ทรงพระสุบินว่า มีวัวอ้วนเจ็ดตัวกำลังถูกวัวผอมเจ็ดตัวกัดกิน โจเซฟทำนายฝันว่าประเทศอียิ*@
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- tab data-toggle="modal" data-target="#contact-popup" -->
                        @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online)) {
                            <div class="contact-agent-bot"><a class="" href="@Url.Action("Index", "Order", new { ProductId = Model.Id, PremiumId = Model.PremiumId , company = Request.Params["company"] })">ซื้อเลย</a></div>
                        }
                        @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Offline)) {
                            <div class="contact-agent-bot"><a class="call_pop_contact" href="javascript:void(0)">จองเลย</a></div>
                        }
                    </div>
                </div>
                <!-- -->
            </div>
        </div>
        @Html.Partial("../Shared/TH/_Product_Warning")
    </section>
</main>

@section js {
<script>
    $(function () {
        @if (ViewBag.ShowLeadForm) {
        <text>
        $("#lead-form-popup").modal("show");
        $("#lead-form-popup").on('hidden.bs.modal', function () {
            window.location.reload(true);
        });
        </text>
        }
    });
</script>
}
@section modal {
    @Html.Partial("TH/_Lead_Form", Model)
    @if (ViewBag.ShowLeadForm) {
        @Html.Partial("TH/_Lead_Form_Form", Model)
    }
}