﻿@{
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "พ.ร.บ. รถยนต์ | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ต่อพ.ร.บ. รถยนต์ง่ายได้ที่ตอบโจทย์";
    pageMeta.MetaKeyword = "พ.ร.บ. รถยนต์, ต่อพ.ร.บ. ออนไลน์, พ.ร.บ., พ.ร.บ.";
}
@model TobJod.Web.Models.ProductCompulsoryViewModel
<section id="banner_section" class="container-fluid clear-boot-pad product_banner">
    <a href="@Url.Action("compulsory-overview")" class="item" target="_blank">
        <img src="@Url.Content("~/assets/images/hero_banner/02.jpg")" alt="" class="img-responsive">
    </a>
</section>

<main id="page-product-list">
    <div class="wizard-wrapper">
        <div class="wizard-container container clear-boot-pad hidden-xs hidden-sm">
            <section id="wizard1">
                <ul>
                    <li class="item1st"><button class="active">ค้นหา / เปรียบเทียบ</button></li>
                    <li class="item2nd"><button class="">รายละเอียดผลิตภัณฑ์</button></li>
                    <li class="item3rd"><button class="">รายละเอียดผู้ถือกรมธรรม์</button></li>
                    <li class="item4th"><button class="">ข้อมูลการชำระเงิน</button></li>
                </ul>
            </section>
        </div>
        <div class="reg-progress hidden-lg hidden-md">
            <p class="wizard-title hidden-lg hidden-sm" align="center">ค้นหา / เปรียบเทียบ</p>
            <ol class="reg-progress__steps">
                <li data-step="1" class="is-active is-complete active-now">
                    <div class="subTitle hidden-xs">ค้นหา / เปรียบเทียบ</div>
                </li>
                <li data-step="2" class="">
                    <div class="subTitle hidden-xs">รายละเอียดผลิตภัณฑ์</div>
                </li>
                <li data-step="3" class="">
                    <div class="subTitle hidden-xs">รายละเอียดผู้ถือกรมธรรม์</div>
                </li>
                <li data-step="4" class="">
                    <div class="subTitle hidden-xs">ข้อมูลการชำระเงิน</div>
                </li>
            </ol>
        </div>
    </div>

    <div class="container form-wrapper">
        <section id="form">
            <form class="form-psu-page" action="@Url.Action("CompulsoryDetail")" method="get" id="product-search">
                <input type="hidden" id="sort" name="sort" value="1" />
                <div class="row m-b-25">
                    <div class="col-sm-6 col-sm-offset-4">
                        <div class="form-group">
                            <label for="">ประเภทรถยนต์</label>

                            <div class="form-group required">
                                <div class="radio radio-inline radio-compulsary">
                                    <input type="radio" id="compulsory_subcategory1" value="210" name="subcategory" @(Model.SubCategory == 210 ? "checked=\"checked\"" : "") data-default="1">
                                    <label for="compulsory_subcategory1">รถเก๋ง</label>
                                </div>

                                <div class="radio radio-inline radio-compulsary">
                                    <input type="radio" id="compulsory_subcategory2" value="211" name="subcategory" @(Model.SubCategory == 211 ? "checked=\"checked\"" : "")>
                                    <label for="compulsory_subcategory2">รถกระบะ</label>
                                </div>
                                <div class="radio radio-inline radio-compulsary">
                                    <input type="radio" id="compulsory_subcategory3" value="212" name="subcategory" @(Model.SubCategory == 212 ? "checked=\"checked\"" : "")>
                                    <label for="compulsory_subcategory3">รถตู้</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row m-b-25">
                    <div class="col-sm-5 col-sm-offset-4">
                        <label class="form-group required">
                            <div class="">
                                <span>เลือกบริษัทประกันภัย</span>
                                <select name="company" id="compulsory_company" class="form-control dd_list required" required>
                                    <option value="">โปรดระบุ</option>
                                    @foreach (var item in viewModel.PRBCompanies) {
                                        <option value="@item.Value" @(string.Equals(Model.Company.ToString(), item.Value) ? " selected" : "")>@item.Text</option>
                                    }
                                </select>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-center btn-wrapper">
                        <button class="btn btn-md btn-primary btn-round-md" type="submit">สนใจ</button><button class="btn btn-md btn-round-md hidden-xs btn-product-reset" type="reset">ยกเลิก</button>
                    </div>
                </div>
            </form>
        </section>
    </div>

    <div class="form-footer">
    </div>

    @if (!string.IsNullOrEmpty(Request.QueryString["subcategory"])) {
        <div class="container" id="product-container">
            <div id="product-not-found">ไม่พบข้อมูล</div>
        </div>
    }

</main>



@section js {
}