﻿@{
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยที่อยู่อาศัย | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "แผนประกันภัยบ้านที่ตอบโจทย์ทุกไลฟ์สไตล์ คุ้มครองดูแลที่พักอาศัย ให้คุณอุ่นใจไร้กังวล";
    pageMeta.MetaKeyword = "ประกัน บ้าน, ประกัน อัคคีภัย บ้าน, ประกัน บ้าน ราคา, ประกันภัย, ประกัน อัคคีภัย, คุ้ม ภัย, ประกัน อัคคีภัย ราคา, ประกัน บ้าน ที่ไหน ดี, คุ้ม ภัย ประกันภัย, ประกัน อัคคีภัย บ้าน ราคา, ทํา ประกัน อัคคีภัย ที่ไหน ดี, ประกัน อัคคีภัย บ้าน pantip, ประกันที่อยู่อาศัย";
}
@model TobJod.Web.Models.ProductHomeViewModel
<section id="banner_section" class="container-fluid clear-boot-pad product_banner">
    <a href="@Url.Action("home-overview")" class="item" target="_blank">
        <img src="@Url.Content("~/assets/images/hero_banner/home05.jpg")" class="img-responsive" />
    </a>
</section>

<main id="page-product-list">
    <div class="wizard-wrapper">
        <div class="wizard-container container clear-boot-pad hidden-xs hidden-sm">
            <section id="wizard1">
                <ul>
                    <li class="item1st"><button class="active">ค้นหา / เปรียบเทียบ</button></li>
                    <li class="item2nd"><button class="">รายละเอียดผลิตภัณฑ์</button></li>
                    <li class="item3rd"><button class="">รายละเอียดผู้ถือกรมธรรม์</button></li>
                    <li class="item4th"><button class="">ข้อมูลการชำระเงิน</button></li>
                </ul>
            </section>
        </div>
        <div class="reg-progress hidden-lg hidden-md">
            <p class="wizard-title hidden-lg hidden-sm" align="center">ค้นหา / เปรียบเทียบ</p>
            <ol class="reg-progress__steps">
                <li data-step="1" class="is-active is-complete active-now">
                    <div class="subTitle hidden-xs">ค้นหา / เปรียบเทียบ</div>
                </li>
                <li data-step="2" class="">
                    <div class="subTitle hidden-xs">รายละเอียดผลิตภัณฑ์</div>
                </li>
                <li data-step="3" class="">
                    <div class="subTitle hidden-xs">รายละเอียดผู้ถือกรมธรรม์</div>
                </li>
                <li data-step="4" class="">
                    <div class="subTitle hidden-xs">ข้อมูลการชำระเงิน</div>
                </li>
            </ol>
        </div>
    </div>

    <div class="container form-wrapper">
        <section id="form">
            <form class="form-home-page" action="@Url.Action("Home")" method="get" id="product-search">
                <input type="hidden" id="sort" name="sort" value="1" />
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <label class="form-group required">
                            <span>ลักษณะอาคาร</span>
                            <select name="propertytype" id="home_propertytype" class="form-control dd_list required">
                                <option value="">โปรดระบุ</option>
                                @foreach (var item in viewModel.PropertyTypes) {
                                    <option value="@item.Value" @(string.Equals(Model.PropertyType.ToString(), item.Value) ? " selected" : "")>@item.Text</option>
                                }
                            </select>
                        </label>
                    </div>
                    <div class="col-sm-5">
                        <label class="form-group required">
                            <span>ลักษณะสิ่งปลูกสร้าง</span>
                            <select name="constructiontype" id="home_constructiontype" class="form-control dd_list required">
                                <option value="">โปรดระบุ</option>
                                @foreach (var item in viewModel.ConstructionTypes) {
                                    <option value="@item.Value" @(string.Equals(Model.ConstructionType.ToString(), item.Value) ? " selected" : "")>@item.Text</option>
                                }
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <label class="form-group required">
                            <span>จำนวนปีที่คุ้มครอง</span>
                            <select name="year" id="pa_year" class="form-control dd_list required">
                                <option value="">โปรดระบุ</option>
                                @for (int i = 1; i <= viewModel.ProductHomeYearMax; i++) {
                                    <option value="@i" @(Model.Year == i ? " selected" : "")>@i</option>
                                }
                            </select>
                        </label>
                    </div>
                    <div class="col-sm-5">
                        <label class="form-group required">
                            <span>ทุนประกันภัย </span> ( <a href="#" class="calpopup" data-featherlight="#homecontent">วิธีคำนวนทุนประกันภัย</a> )
                            <input type="number" name="constructionValue" id="home_constructionValue" value="@(Model.ConstructionValue > 0 ? Model.ConstructionValue.ToString() : "")" class="form-control required input-combined-with" data-combined-with="#home_propertyValue" data-target="#home_totalValue" step="10000" min="10000" max="100000000" maxlength="10" data-num="1" />
                        </label>
                    </div>
                </div>
                <div class="row m-b-25">

                </div>


                <div class="row">
                    <div class="col-xs-12 text-center btn-wrapper">
                        <button class="btn btn-md btn-primary btn-round-md" type="submit">ค้นหา</button><button class="btn btn-md btn-round-md hidden-xs btn-product-reset" type="reset">ยกเลิก</button>
                    </div>
                </div>


                @Html.HiddenFor(Model => Model.LayoutGridView)
            </form>
        </section>
    </div>

    <div class="form-footer">
        <div class="container text-center">
            <button class="btn-sm btn-round-sm btn hide-criteria" data-hide-text="ซ่อนหน้าต่างการค้นหากรมธรรม์" data-show-text="แสดงหน้าต่างการค้นหากรมธรรม์">ซ่อนหน้าต่างการค้นหากรมธรรม์</button>
        </div>
    </div>

    <div class="container" id="product-container">

        @if (Model.ConstructionType > 0) {
        <div class="product-filter">
            <div class="row">

                <div class="col-md-12 text-left change-template-product">
                    <div class="row" style="padding-left;10%padding-right:10%;margin-left: 0px;margin-right: 0px;padding-left: 20px;padding-right: 20px;">
                        <div class="search-new-format col-l" id="sorting">
                            <a href="#" class="ordering-v1" data-id="2" data-title-1="เรียงลำดับจาก น้อย ไป มาก" data-title-2="เรียงลำดับจาก มาก ไป น้อย">เรียงลำดับจาก มาก ไป น้อย</a>
                            <div class="display-view">
                                <div class="display-wrapper">
                                    <button class="p-thumbnail" data-template="thumbnail"></button>
                                    <button class="p-list active" data-template="list"></button>
                                </div>
                            </div>
                        </div>

                        @*<div class="search-new-format col-r pull-right">
                            <div class="row row-range">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="price-range-holder">
                                                <input id="price_range" class="irs-hidden-input" tabindex="-1" readonly="" style="height: 1px; overflow: hidden; visibility: hidden;" data-min="@viewModel.ProductHomePriceMin" data-max="@viewModel.ProductHomePriceMax" data-from="@Model.PriceFrom" data-to="@Model.PriceTo" value="@Model.Price" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>

        <section id="product-list" class="view-list">
            <div class="row" id="product-box" data-load-url="@Url.Action("HomeList")" data-page="0" data-list-page="@ViewBag.ListPage">
            </div>
        </section>

        <div class="loadmore text-center" id="product-list-load-more" style="display: none;">
            <button class="btn btn-md btn-round-md btn-border">โหลดเพิ่มเติม</button>
        </div>
}

        <div id="product-not-found" style="display: none;">ไม่พบข้อมูล</div>
    </div>
    @if (Model.ConstructionType > 0) {
        @Html.Partial("../Shared/TH/_Product_Warning")
    }
</main>


<div id="compare-product-sticky" class="hidden">

    <div class="container">
        <div class="row">
            <div class="item-wrapper col-sm-12">
                <div class="row">
                    <div class="col-sm-4 compare-item hidden template col-xs-4" data-product-id="">
                        <div class="image">
                            <img class="comparepd" src="@Url.Content("~/assets/images/product-thumbnail/1.jpg")" alt="">
                            <button class="remove" data-product-id=""></button>
                        </div>
                        <div class="compare-item--detail">
                            <label class="name">ธนชาตประกันภัย</label>
                            <label class="price"><span>10,000.21</span> <small>บาท</small></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-sm-12 col-md-12 text-right text-sm-center text-xs-center col-lg-12">
                    <a href="#" class="btn btn-md btn-round-md btn-primary m-t-20" id="btn-compare" data-url="@Url.Action("HomeCompare", "Product")">เปรียบเทียบ</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="overflow: hidden; display:block; width:1px; height:1px;">
<div id="homecontent" align="center" class="lightbox" style="border:3px solid #ebe50c;">
<span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>การเลือกทุนประกันภัย</h1><br />
                <img src="@Url.Content("~/assets/images/product/colhome.jpg")" class="homepop" alt=""><br />
                <div class="col-12">
                    <div class="col-md-4">
                        <div style="display:inline;"><p class="pnumber">1</p><h2 class="h2calhome"> &nbsp; หาพื้นที่สิ่งปลูกสร้าง</h2></div>
                        <p>ตัวอย่างทาวเฮาส์ชั้นเดียว</p>
                        <p>ตัวอาคาร พื้นที่ (กว้าง x ยาว) x ราคาก่อสร้าง</p>
                        <p class="formularorange">(5 x 12) x 9,200 = 552,000 บาท</p>
                    </div>
                    <div class="col-md-4">
                        <div style="display:inline;"><p class="pnumber">2</p><h2 class="h2calhome"> &nbsp; คำนวนหามูลค่าทรัพย์สิน</h2></div>
                        <p>มูลค่าตัวอาคาร 552,000 บาท</p>
                        <p>มูลค่าทรัพย์สินภายในบ้าน 400,000 บาท</p>
                        <p class="formularorange">ดังนั้น มูลค่าทรัพย์สินรวมอยู่ที่ประมาณ 952,000 บาท</p>
                    </div>
                    <div class="col-md-4">
                        <div style="display:inline;"><p class="pnumber">3</p><h2 class="h2calhome"> &nbsp; เลือกทุนประกันภัย</h2></div>
                        <p>ควรเลือกความคุ้มคองที่ 1,000,000 บาท</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12" align="center">
                <table id="colheader">
                    <tr>
                        <th><h1>ราคาประเมินค่าก่อสร้าง</h1></th>
                    </tr>
                </table>
                <table id="coldetail">
                    <thead>
                        <tr>
                            <th>ประเภทสิ่งปลูกสร้าง</th>
                            <th>ราคาก่อสร้าง(บาท)</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        <tr>
                            <th>บ้านเดี่ยวคอนกรีตล้วน ชั้นเดียว</th>
                            <th>12,900</th>
                        </tr>
                        <tr>
                            <th>บ้านเดี่ยวคอนกรีตล้วน 2-3 ชั้น</th>
                            <th>12,100</th>
                        </tr>
                        <tr>
                            <th>บ้านเดี่ยวครึ่งตึกครึ่งไม้</th>
                            <th>12,100</th>
                        </tr>
                        <tr>
                            <th>ทาวน์เฮาส์ชั้นเดียว</th>
                            <th>9,200</th>
                        </tr>
                        <tr>
                            <th>ทาวน์เฮาส์ 2-3 ชั้นหน้ากว้าง 4 เมตร</th>
                            <th>9,000</th>
                        </tr>
                        <tr>
                            <th>ทาวน์เฮาส์ 2-3 ชั้นหน้ากว้าง 5-6 เมตร</th>
                            <th>9,300</th>
                        </tr>
                    </tbody>
                </table>
                <h4>อ้่างอิงราคาประเมิน พ.ศ. 2561 มูลนิธิค่าทรัพย์สินแห่งประเทศไทย</h4><br />
                <button id="butclosed" class="btn btn-md btn-primary btn-round-md featherlight-close" aria-label="Close">ปิดหน้าต่างนี้</button>
                <div class="col-md-12 homefooter"></div>
            </div>
        </div>
    </div>
</div>
</div>
@section js {
    @if (Model.ConstructionType > 0) {
<script>
    $(function () {
        @if (ViewBag.LayoutGridView) {
            <text>$('.change-template-product .p-thumbnail').click(); $('#LayoutGridView').val('True');</text>
        }
        if ($('#LayoutGridView').val() == 'True') $('.change-template-product .p-thumbnail').click();
        @if (ViewBag.ShowLeadForm) {
            <text>bindLeadForm(@(System.Configuration.ConfigurationManager.AppSettings["LeadForm_Delay"]));</text>
        }
        LoadProductList(true, @Html.Raw(Json.Encode(Request.Params["cid"] != null && Request.Params["cid"].Split(',').Length > 0 ? Request.Params["cid"].Split(',') : (new string[0]))));
    });
</script>
    }
}
@section modal {
    @if (ViewBag.ShowLeadForm) {
        @Html.Partial("TH/_Lead_Form_Form", Model)
    }
}