﻿@{
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยที่อยู่อาศัย | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "แผนประกันภัยบ้านที่ตอบโจทย์ทุกไลฟ์สไตล์ คุ้มครองดูแลที่พักอาศัย ให้คุณอุ่นใจไร้กังวล";
    pageMeta.MetaKeyword = "ประกัน บ้าน, ประกัน อัคคีภัย บ้าน, ประกัน บ้าน ราคา, ประกันภัย, ประกัน อัคคีภัย, คุ้ม ภัย, ประกัน อัคคีภัย ราคา, ประกัน บ้าน ที่ไหน ดี, คุ้ม ภัย ประกันภัย, ประกัน อัคคีภัย บ้าน ราคา, ทํา ประกัน อัคคีภัย ที่ไหน ดี, ประกัน อัคคีภัย บ้าน pantip, ประกันที่อยู่อาศัย";
}

<main id="page-product-thumbnail" class="tomDev super-top-margin">
    <div class="container">
        <div class="row description-insurance">
            <h1>ประกันภัยเพื่อคุ้มครองที่อยู่อาศัย</h1>
            <div class="lineTop2"></div>
        </div>
    </div>
    <section class="container description-insurance">
        <div class="row">
            <div class="col-md-3 header-type">
                ชื่อประกันภัย
            </div>
            <div class="col-md-9">
                <p>
                    ประกันภัยเพื่อคุ้มครองที่อยู่อาศัย (Dwelling House Insurance)
                </p>
            </div>

            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                ความคุ้มครอง
            </div>
            <div class="col-md-9">
                <p>
                    คุ้มครองความเสียหายต่อทรัพย์สินที่เอาประกันภัยอันมีสาเหตุเนื่องมาจาก ภัยไฟไหม้ ฟ้าผ่า ภัยระเบิด ภัยเนื่องจากน้ำ ภัยอากาศยาน ภัยจากยวดยานพาหนะ ภัยธรรมชาติ (น้ำท่วม แผ่นดินไหว ลมพายุ ลูกเห็บ) และภัยอื่นๆ ตามที่ระบุไว้ในกรมธรรม์ประกันภัย รวมถึงค่าเช่าที่พักอาศัยชั่วคราว
                </p>
            </div>

            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                การกำหนดทุนประกันภัย
            </div>
            <div class="col-md-9">
                <p> ตามมูลค่าที่แท้จริงของทรัพย์สินที่เอาประกันภัย </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                เหมาะสำหรับกลุ่มลุกค้า
            </div>
            <div class="col-md-9">
                <p>
          เจ้าของบ้าน/อาคาร/ห้องชุด เพื่ออยู่อาศัย (ผู้มีกรรมสิทธิ์ในทรัพย์สิน)<br />
          ผู้เช่าทรัพย์สินเพื่อการพักอาศัย (ในฐานะผู้ครอบครอง)<br />


                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                สิ่งที่เอาประกันภัย
            </div>
            <div class="col-md-9">
                <p>
                    บ้านอยู่อาศัย เช่น บ้านเดียว, ทาวเฮ้าส์ เป็นต้น<br />
                    ห้องชุดพักอาศัย<br />
                    ทรัพย์สินภายในอาคารพักอาศัย
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                ระยะเวลาเอาประกันภัย
            </div>
            <div class="col-md-9">
                <p>
                    1 - 30 ปี
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                ตัวอย่างข้อยกเว้น
                <br />
                 <span class="small">(โปรดศึกษารายละเอียดเพิ่มเติมในหน้ากรมธรรม์)</span>
            </div>
            <div class="col-md-9">
                <p>
                    สถานที่ตั้งทรัพย์สิน (ระบุชั้น กรณีห้องชุดพักอาศัย)<br />
                    รายละเอียดทรัพย์สินที่เอาประกันภัย<br />
                    ลักษณะโครงสร้างอาคาร (คอนกรีต, ไม้)<br />
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <br /><br />
    </section>
</main>