﻿@model TobJod.Web.Models.ProductMotorViewModel
@if (Model.Products != null) {
    <input type="hidden" name="page" value="@ViewBag.Page" />
    <input type="hidden" name="count" value="@ViewBag.Count" />
        foreach (var item in Model.Products) {
            var premium = item.ProductMotorPremium[0];
            <div class="col @(Model.LayoutGridView ? "col-lg-4 col-sm-6" : "col-sm-12")">
                <div class="item-content" data-product-id="@item.Id|@item.PremiumId">
                    @Html.Partial("TH/_Item_Promotion_Ribbon", item)
                    <div class="row">
                        <div class="thumb-img  @(Model.LayoutGridView ? "col-sm-12" : "col-sm-4")">
                            <img src="@Model.PathCompany@item.CompanyImage" alt="">
                        </div>

                        <div class="detail  @(Model.LayoutGridView ? "col-sm-12" : "col-sm-8 col-lg-8")">
                            <div class="brand-name">
                                <span class="brand-name-title">@item.Company</span> @if (item.CreateDate.AddMonths(1) <= DateTime.Today) {<span class="pull-right badge-new">new</span>}
                            </div>

                            <div class="product-detail">
                                <span class="name col-xs-12 col-md-6 pd-0"><b>@item.TitleTH</b></span>
                                <span class="price col-xs-12 col-md-6 pd-0 text-md-right text-xs-right"><b>@((Model.Compulsory == 1 ? item.ProductMotorPremium[0].DisplayCombinePremium : item.ProductMotorPremium[0].DisplayPremium).ToString("n2"))<small> บาท</small></b></span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="linebreak"></div>
                            <div class="clearfix"></div>
                            <div class="insurance-detail">
                                <div class="row">
                                    
                                        <div class="col-xs-12 item">
                                            <label class="col-sm-8 col-xs-8">ทุนประกันภัย</label>
                                            <span class="col-sm-4 col-xs-4">@premium.SumInsured.ToString("##,###") บาท</span>
                                        </div>
                                        <div class="col-xs-12 item">
                                            <label class="col-sm-8 col-xs-8">ประเภทการใช้งาน</label>
                                            <span class="col-sm-4 col-xs-4">@(Model.Usage.ToString().EndsWith("10") ? "ส่วนบุคคล" : (Model.Usage.ToString().EndsWith("20") ? "เพื่อการพาณิชย์" : " "))</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 item">
                                        <label class="col-sm-8 col-xs-8">คุ้มครองภัยน้ำท่วม</label>
                                        <span class="col-sm-4 col-xs-4">@premium.Flood.ToString("##,###") บาท</span>
                                    </div>

                                    <div class="col-xs-12 item">
                                        <label class="col-sm-8 col-xs-8">ประเภทการซ่อม</label>
                                        <span class="col-sm-4 col-xs-4">@(premium.GarageType == TobJod.Models.ProductMotorGarageType.Dealer ? "ศุนย์บริการ" : "อู่ทั่วไป")</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 item">
                                        <label class="col-sm-8 col-xs-8">ค่าเสียหายส่วนแรก</label>
                                        <span class="col-sm-4 col-xs-4">@premium.OwnExcess.ToString("##,###") บาท</span>   
                                    </div>
                                    <div class="col-xs-12 item">
                                        <label class="col-sm-8 col-xs-8">ตรวจสภาพรถยนต์</label>
                                        <span class="col-sm-4 col-xs-4">@(premium.CarInspector ? "ตรวจ" : "ไม่ตรวจ")</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>


                                @Html.Partial("TH/_Item_Promotion_Row", item)
                            </div>

                            <div class="text-center detail-link">
                                <a href="@Url.Action("MotorDetail", "Product", new { ProductId = item.Id, PremiumId = item.PremiumId,  category = Request.QueryString["category"],Usage = ViewBag.Usage, Compulsory = Request.QueryString["compulsory"], brand = Request.QueryString["brand"], family = Request.QueryString["family"], model = Request.QueryString["model"], year = Request.QueryString["year"], CCTV = Request.QueryString["cctv"], garage = Request.QueryString["garage"], driver = Request.QueryString["driver"], driverage = Request.QueryString["driverage"], province = Request.QueryString["province"], price = Request.QueryString["price"] })" class="btn btn-round-sm btn-primary btn-sm btn-product-detail">ดูรายละเอียดทั้งหมด</a>
                                <button class="compare-select" data-product-id="@item.Id|@item.PremiumId" data-name="@item.TitleTH" data-price="@((Model.Compulsory == 1 ? item.ProductMotorPremium[0].DisplayCombinePremium : item.ProductMotorPremium[0].DisplayPremium).ToString("n2"))" data-image="@Model.PathCompany@item.CompanyImage"></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
}