﻿@{
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยรถยนต์ | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ประกันภัยรถยนต์ออนไลน์ เช็คราคาง่ายรู้ราคาทันที ประกันภัยรถยนต์ ชั้น1 ประกันภัยรถยนต์ 2+ ประกันภัยรถยนต์3+ ประกันภัยรถยนต์ประเภท 3 ฟรีของแถม เบี้ยถูกที่สุด ผ่อน0%";
    pageMeta.MetaKeyword = "ประกันภัยรถยนต์ออนไลน์, เช็คราคาประกันภัย, ประกันภัยรถยนต์ ชั้น1, ประกันภัยรถยนต์ 2+, ประกันภัยรถยนต์3+";
}
<main id="page-product-thumbnail" class="tomDev super-top-margin">
    <div class="container">
        <div class="row description-insurance">
            <h1>ประกันภัยรถยนต์ภาคสมัครใจ</h1>
            <div class="lineTop2"></div>
        </div>
    </div>
    <section class="container description-insurance">
        <div class="row">
            <div class="col-md-3 header-type">
                ชื่อประกันภัย
            </div>
            <div class="col-md-9">
                <p>
                    การประกันภัยรถยนต์ภาคสมัครใจ (Voluntary Motor Insurance)
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                ประเภทประกันภัยและความคุ้มครอง
            </div>
            <div class="col-md-9">
                <p>
                    ประเภท 1 ให้ความคุ้มครองครอบคลุมมากที่สุด คือ
                </p>
                <ul>
                    <li>
                        ความเสียหายต่อตัวรถยนต์คันเอาประกันภัย จากอุบัติเหตุ
                    </li>
                    <li>
                        ความเสียหายต่อตัวรถยนต์คันเอาประกันภัย เนื่องจากไฟไหม้ และการสูญหาย
                    </li>
                    <li>
                        ความสูญเสียหรือบาดเจ็บต่อชีวิต ร่างกาย หรืออนามัยของผู้ขับขี่และผู้โดยสาร
                    </li>
                    <li>
                        ความรับผิดต่อชีวิต ร่างกาย หรืออนามัยของบุคคลภายนอก
                    </li>
                    <li>
                        ความรับผิดต่อทรัพย์สินของบุคคลภายนอก
                    </li>
                </ul>
                <p>
                    ประเภท 2 ประกันภัยประเภทนี้ จะได้รับความคุ้มครอง คือ
                </p>
                <ul>
                    <li>
                        ความเสียหายต่อตัวรถยนต์คันเอาประกันภัย เนื่องจากไฟไหม้ และการสูญหาย
                    </li>
                    <li>
                        ความสูญเสียหรือบาดเจ็บต่อชีวิต ร่างกาย หรืออนามัยของผู้ขับขี่และผู้โดยสาร
                    </li>
                    <li>
                        ความรับผิดต่อชีวิต ร่างกาย หรืออนามัยของบุคคลภายนอก
                    </li>
                    <li>
                        ความรับผิดต่อทรัพย์สินของบุคคลภายนอก
                    </li>
                </ul>
                <p>
                    ประเภท 2+  ประกันภัยประเภทนี้ จะได้รับความคุ้มครองมากกว่าประเภท 2 ปกติ คือ
                </p>
                <ul>
                    <li>
                        ความเสียหายต่อตัวรถยนต์คันเอาประกันภัย ในวงเงินจำกัด เฉพาะกรณีการชนกับยานพาหนะทางบก (รถชนรถ)เท่านั้น
                    </li>
                    <li>
                        ความเสียหายต่อตัวรถยนต์คันเอาประกันภัย เนื่องจากไฟไหม้ และการสูญหาย
                    </li>
                    <li>
                        ความสูญเสียหรือบาดเจ็บต่อชีวิต ร่างกาย หรืออนามัยของผู้ขับขี่และผู้โดยสาร
                    </li>
                    <li>
                        ความรับผิดต่อชีวิต ร่างกาย หรืออนามัยของบุคคลภายนอก
                    </li>
                    <li>
                        ความรับผิดต่อทรัพย์สินของบุคคลภายนอก
                    </li>
                </ul>
                <p>
                    ประเภท 3  ประกันภัยประเภทนี้ จะไม่คุ้มครองรถยนต์คันเอาประกันภัย
                </p>
                <ul>
                    <li>
                        ความสูญเสียหรือบาดเจ็บต่อชีวิต ร่างกาย หรืออนามัยของผู้ขับขี่และผู้โดยสาร
                    </li>
                    <li>
                        ความรับผิดต่อชีวิต ร่างกาย หรืออนามัยของบุคคลภายนอก
                    </li>
                    <li>
                        ความรับผิดต่อทรัพย์สินของบุคคลภายนอก
                    </li>
                </ul>
                <p>
                    ประเภท 3+ ให้ความคุ้มครอง มากกว่าประเภท 3 ปกติ ดังนี้
                </p>
                <ul>
                    <li>
                        ความเสียหายต่อตัวรถยนต์คันเอาประกันภัย ในวงเงินจำกัด เฉพาะกรณีการชนกับยานพาหนะทางบก (รถชนรถ)เท่านั้น
                    </li>
                    <li>
                        ความสูญเสียหรือบาดเจ็บต่อชีวิต ร่างกาย หรืออนามัยของผู้ขับขี่และผู้โดยสาร
                    </li>
                    <li>
                        ความรับผิดต่อชีวิต ร่างกาย หรืออนามัยของบุคคลภายนอก
                    </li>
                    <li>
                        ความรับผิดต่อทรัพย์สินของบุคคลภายนอก
                    </li>
                </ul>
                <figure>
                    <img src="@Url.Content("~/assets/images/product/motor-table-th.png")" alt="" title="" class=" img-responsive" />
                </figure>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                ประเภทการซ่อม
            </div>
            <div class="col-md-9">
                <p><b>ซ่อมห้าง/ซ่อมศูนย์</b>  หมายถึง ซ่อมโดยศูนย์บริการรถยนต์ </p>
                <p><b>ซ่อมอู่</b> หมายถึง ซ่อมโดยอู่ซ่อมรถยนต์ทั่วไป</p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                การระบุผู้ขับขี่
            </div>
            <div class="col-md-9">
                <p>
                    <b class="red">กรมธรรม์แบบไม่ระบุชื่อผู้ขับขี่ ( Un -Named Driver )</b> เป็นกรมธรรม์ที่คุ้มครองผู้ขับขี่คนใดก็ได้ที่ผู้เอาประกันภัย ยินยอมให้ขับขี่เสมือนหนึ่งเป็น ผู้เอาประกันภัย
                    <br />
                    <b class="red">กรมธรรม์แบบระบุชื่อผู้ขับขี่ ( Named Driver )</b> เป็นกรมธรรม์ที่นำเอาอายุผู้ขับขี่มาเป็นองค์ประกอบในการกำหนดอัตราเบี้ยประกันภัย  กรมธรรม์แบบนี้ผู้เอาประกันภัยต้องเป็นบุคคลธรรมดาที่ใช้รถส่วนบุคคล และสามารถระบุชื่อผู้ขับขี่ได้ ไม่เกิน 2 คน กรณีเกิดเหตุและขับขี่มิใช่ผู้ที่ถูกระบุชื่อ กรมธรรม์ยังคงให้ความคุ้มครอง แต่ผู้เอาประกันภัยต้องร่วมรับผิดต่อค่าเสียหายที่เกิดขึ้นของอุบัติเหตุแต่ละครั้ง
                </p>
            </div>
            <div class="clearfix"></div>
            <div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                การกำหนดทุนประกันภัย
            </div>
            <div class="col-md-9">
                <p><b><u>ประเภท 1, 2</u></b>         กำหนดที่ 80 % ของราคารถยนต์ตามราคาตลาด (Market Value)</p>
                <p><b><u>ประเภท 2+ ,3+</u></b>     ผู้รับประกันภัย จะเป็นผู้กำหนดเห็นตามสมควร (Agree Value)</p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                เหมาะสำหรับกลุ่มลุกค้า
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        เจ้าของรถ (ผู้มีกรรมสิทธิ์ในรถ)
                    </li>
                    <li>
                        ผู้เช่าซื้อรถ (ผู้ครอบครองรถในฐานะผู้เช่าซื้อรถ)
                    </li>
                    <li>
                        เจ้าของรถซึ่งนำรถที่จดทะเบียนในต่างประเทศเข้ามาใช้ในราชอาณาจักรเป็นการชั่วคราว
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>


            <div class="col-md-3 header-type">
                สิ่งที่เอาประกันภัย
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        รถยนต์ พร้อมอุปกรณ์ตกแต่งมาตราฐานโรงงาน
                    </li>
                    <li>
                        อุปกรณ์ตกแต่งเพิ่มเติม (ถ้ามี) เช่นเครื่องเสียง ล้อแม๊ก เป็นต้น
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>


            <div class="col-md-3 header-type">
                ระยะเวลาเอาประกันภัย
            </div>
            <div class="col-md-9">
                <p>1 ปี </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                ตัวอย่างข้อยกเว้น<br />
                <span class="small">(โปรดศึกษารายละเอียดเพิ่มเติมในหน้ากรมธรรม์)</span>
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        ใช้รถยนต์ผิดประเภท
                    </li>
                    <li>
                        ใช้รถยนต์นอกอาณาเขตคุ้มครอง (นอกประเทศไทย)
                    </li>
                    <li>
                        ใช้รถยนต์เพื่อแข่งขันความเร็ว
                    </li>
                    <li>
                        ขณะขับขี่มีปริมาณแอลกอฮอล์ ในเลือดเกินกว่า 50 มิลลิกรัมเปอร์เซ็นต์
                    </li>
                    <li>
                        ใช้รถยนต์ในทางที่ผิดกฎหมาย เช่นขนยาเสพติด ก่ออาจญากรรม ปล้นทรัพย์ชิงทรัพย์ เป็นต้น
                    </li>
                    <li>
                        ภัยที่เกิดจาก สงคราม ภัยก่อการร้าย กบฎ จลาจลนัดหยุดงาน นิวเคลียร์ กัมมัตภาพรังสี ฯลฯ
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                ข้อมูลเบื้องต้นประกอบการพิจารณา
            </div>
            <div class="col-md-9">
                <ul>
                    <li>สำเนาใบขับขี่ (กรณีระบุชื่อผู้ขับขี่)</li>
                    <li>สำเนาคู่มือการจดทะเบียนรถ (หรือ)</li>
                    <li>รายละเอียดรถยนต์ เช่น ยี่ห้อรถยนต์ รุ่น ปีที่ผลิต ขนาด CC หรือน้ำหนักบรรทุก หรือจำนวนผู้โดยสาร</li>
                    <li>ลักษณะการใช้รถยนต์ (ส่วนบุคคล หรือเพื่อการพาณิชย์</li>
                    <li>สำเนาหน้าตารางกรมธรรม์เดิม (ถ้ามี)</li>
                    <li>สำเนาใบเตือนต่ออายุ (ถ้ามี)</li>
                    <li>ใบเคลม (ถ้ามี)</li>
                </ul>
            </div>
        </div>
    </section>
</main>