﻿@{
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยอุบัติเหตุ | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ประกันภัยอุบัติเหตุ คุ้มครองดูแลคุณและครอบครัว เลือกทำประกันอุบัติเหตุ พร้อมรับโปรโมชั่นพิเศษ จาก ตอบโจทย์ โบรคเกอร์ ประกันภัย";
    pageMeta.MetaKeyword = "ประกันภัยอุบัติเหตุ";
    var pGift = new List<TobJod.Models.PromotionItem>();
    var pDiscount = new List<TobJod.Models.PromotionItem>();
}
@model TobJod.Models.ProductItem
@{ var premium = Model.ProductPAPremium[0]; }
<meta name="format-detection" content="telephone=no">
<main>
    <div class="banner-hero" style="text-align: center;">
        <a href="@Url.Action("pa-overview")" target="_blank"><img src="@Url.Content("~/assets/images/hero_banner/pa03.jpg")" class="img-responsive" /></a>
    </div>
    <section class="container product-detail">
        <div class="wizard-wrapper">
            <div class="wizard-container container clear-boot-pad hidden-xs hidden-sm">
                <section id="wizard2">
                    <ul class="@(Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online) ? "has-4" : "has-3")">
                        <li class="item1st"><button class="active" onclick="window.location='@Url.Action("PA" + (Request.QueryString["compare"] == "1" ? "Compare" : ""), "Product", new { Career = Request.Params["career"], Birthday = Request.Params["birthday"], Price = Request.Params["price"] })&Id=@Request.QueryString["cid"]'">ค้นหา / เปรียบเทียบ</button></li>
                        <li class="item2nd"><button class="active">รายละเอียดผลิตภัณฑ์</button></li>
                        <li class="item3rd"><button class="">รายละเอียดผู้ถือกรมธรรม์</button></li>
                        @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online)) {
                            <li class="item4th"><button class="">ข้อมูลการชำระเงิน</button></li>
                        }
                    </ul>
                </section>
            </div>
            <div class="reg-progress hidden-lg hidden-md">
                <p class="wizard-title hidden-lg hidden-sm" align="center">รายละเอียดผลิตภัณฑ์</p>
                <ol class="reg-progress__steps">
                    <li data-step="1" class="is-active is-complete">
                        <div class="subTitle hidden-xs"><a href="@Url.Action("PA" + (Request.QueryString["compare"] == "1" ? "Compare" : ""), "Product", new { Career = Request.Params["career"], Birthday = Request.Params["birthday"], Price = Request.Params["price"] })&Id=@Request.QueryString["cid"]">ค้นหา / เปรียบเทียบ</a></div>
                    </li>
                    <li data-step="2" class="is-active is-complete active-now">
                        <div class="subTitle hidden-xs">รายละเอียดผลิตภัณฑ์</div>
                    </li>
                    <li data-step="3" class="">
                        <div class="subTitle hidden-xs">รายละเอียดผู้ถือกรมธรรม์</div>
                    </li>
                    @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online)) {
                        <li data-step="4" class="">
                            <div class="subTitle hidden-xs">ข้อมูลการชำระเงิน</div>
                        </li>
                    }
                </ol>
            </div>
            <div class="col-md-12">
                <div class="container arrow-back">
                    <div class="row">
                        <div class="col-md-12 text-xs-center text-sm-center text-md-right">
                            <div class="inner">
                                <a href="@Url.Action("PA" + (Request.QueryString["compare"] == "1" ? "Compare" : ""), "Product", new { Career = Request.Params["career"], Birthday = Request.Params["birthday"], Price = Request.Params["price"] })&Id=@Request.QueryString["cid"]" class="btnOutline btn-product-previous">กลับไปหน้าก่อนหน้านี้</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="warp-des">
            <ul class="product-detail-main">
                <li class="pic"><img src="@Model.CompanyImage" class="img-responsive img-center" /></li>
                <li class="des">
                    <div class="new">new</div>
                    <h1>@Model.Company <strong>@Model.TitleTH</strong></h1>
                    <span class="price">@premium.DisplayPremium.ToString("n2") </span><span class="bath"> บาท</span>
                    <br /><br />
                    @if (Model.Promotion != null && Model.Promotion.Count > 0) {
                        pGift = Model.Promotion.Where(x => x.PromotionType == TobJod.Models.PromotionType.Gift).ToList();
                        pDiscount = Model.Promotion.Where(x => x.PromotionType == TobJod.Models.PromotionType.Discount).ToList();
                        if (pGift.Count > 0) {
                            <span class="ribbon-content">ฟรี</span><div class="clearfix"></div>
                            foreach (var g in pGift) {
                                <text><b>@g.Gift</b><br /></text>
                            }

                        }
                        if (pDiscount.Count > 0) {
                            <span class="ribbon-content">ส่วนลด</span><div class="clearfix"></div>
                            foreach (var g in pDiscount) {
                                <text><b>@g.DiscountAmount.ToString("0") @(g.DiscountType == TobJod.Models.PromotionDiscountType.Amount ? "บาท" : "%")</b><br /></text>
                            }

                        }
                    }
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="row product-detail-rows">
            <div class="col-sm-12 col-md-8">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="pull-left" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ความคุ้มครองหลัก
                                </a>
                                <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="orange">คลิกดูรายละเอียด</span>
                                </a>
                                <span class="clearfix"></span>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                        <span class="spanleft">สูญเสียชีวิต, สูญเสียอวัยวะ, ทุพพลภาพ: </span>
                                        <span class="price-display-ty1"> @premium.LossLifeTH</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">ค่ารักษาพยาบาลต่ออุบัติเหตุแต่ละครั้ง: </span>
                                        <span class="price-display-ty1"> @premium.MedicalExpenseTH</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">การชดเชยรายได้ระหว่างเข้ารักษาตัวในโรงพยาบาล: </span>
                                        <span class="price-display-ty1">@premium.IncomeCompensationTH</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">เสียชีวิตจากการถูกฆาตกรรม หรือถูกทำร้าย: </span>
                                        <span class="price-display-ty1">@premium.MurderAssaultTH</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">ขับขี่หรือโดยสารรถจักรยานยนต์: </span>
                                        <span class="price-display-ty1">@premium.RidingPassengerMotorcycleTH</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">ค่าปรงศพ หรือค่าใช้จ่ายในการจัดงานศพ: </span>
                                        <span class="price-display-ty1">@premium.FuneralExpenseAccidentIllnessTH</span>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                                <table class="table-coverage">@Html.Raw(Model.CoverageTH.Replace("\n", "<br />"))</table>
                            </div>
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.SpecialCoverageTH)) {
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSpecial">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSpecial" aria-expanded="false" aria-controls="collapseSpecial">
                                        ความคุ้มครองเพิ่มเติม
                                    </a>
                                    <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSpecial" aria-expanded="true" aria-controls="collapseSpecial">
                                        <span class="orange">คลิกดูรายละเอียด</span>
                                    </a>
                                    <span class="clearfix"></span>
                                </h4>
                            </div>
                            <div id="collapseSpecial" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSpecial">
                                <div class="panel-body">
                                    @Html.Raw(Html.Encode(Model.SpecialCoverageTH).Replace("\n", "<br />"))
                                </div>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.ConditionTH)) {
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingCondition">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCondition" aria-expanded="false" aria-controls="collapseCondition">
                                        เงื่อนไขการรับประกันภัย
                                    </a>
                                    <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCondition" aria-expanded="true" aria-controls="collapseCondition">
                                        <span class="orange">คลิกดูรายละเอียด</span>
                                    </a>
                                    <span class="clearfix"></span>
                                </h4>
                            </div>
                            <div id="collapseCondition" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCondition">
                                <div class="panel-body">
                                    @Html.Raw(Html.Encode(Model.ConditionTH).Replace("\n", "<br />"))
                                </div>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.ExceptionTH)) {
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingException">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseException" aria-expanded="false" aria-controls="collapseException">
                                        ข้อยกเว้น
                                    </a>
                                    <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseException" aria-expanded="true" aria-controls="collapseException">
                                        <span class="orange">คลิกดูรายละเอียด</span>
                                    </a>
                                    <span class="clearfix"></span>
                                </h4>
                            </div>
                            <div id="collapseException" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingException">
                                <div class="panel-body">
                                    @Html.Raw(Html.Encode(Model.ExceptionTH).Replace("\n", "<br />"))
                                </div>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.PrivilegeTH)) {
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingPrivilege">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePrivilege" aria-expanded="false" aria-controls="collapsePrivilege">
                                        สิทธิพิเศษ
                                    </a>
                                    <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePrivilege" aria-expanded="true" aria-controls="collapsePrivilege">
                                        <span class="orange">คลิกดูรายละเอียด</span>
                                    </a>
                                    <span class="clearfix"></span>
                                </h4>
                            </div>
                            <div id="collapsePrivilege" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPrivilege">
                                <div class="panel-body">
                                    @Html.Raw(Html.Encode(Model.PrivilegeTH).Replace("\n", "<br />"))
                                </div>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.ConsentTH)) {
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingConsent">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseConsent" aria-expanded="false" aria-controls="collapseThree">
                                        คำรับรองถ้อยแถลง
                                    </a>
                                    <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseConsent" aria-expanded="true" aria-controls="collapseConsent">
                                        <span class="orange">คลิกดูรายละเอียด</span>
                                    </a>
                                    <span class="clearfix"></span>
                                </h4>
                            </div>
                            <div id="collapseConsent" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingConsent">
                                <div class="panel-body">
                                    @Html.Raw(Html.Encode(Model.ConsentTH).Replace("\n", "<br />"))
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- -->
            </div>
            <div class="col-sm-12 col-md-4">
                <!-- -->
                <div class="box-contact">
                    <div class="head">ประกันภัยอุบัติเหตุส่วนบุคคล</div>
                    <div class="warp">
                        <p>
                            @*มีเรื่องปรากฏในพระคัมภีร์ไบเบิลเกี่ยวกับโจเซฟและความ
                                อดอยากในประเทศอียิปต์ซึ่งถือว่าเป็นโครงการประกันภัย
                                อันแรกเท่าที่บันทึกไว้ในประวัติศาสตร์*@
                        </p>
                        <!-- tab -->
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">รายละเอียด</a></li>
                                @*<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">ประสบการณ์ผู้ใช้งาน</a></li>*@
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="warp-tab-container">
                                        <div class="row">
                                            <div class="col-xs-6">เบี้ยประกัน</div>
                                            <div class="col-xs-6 display-align-right">@premium.DisplayPremium.ToString("n2") บาท</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">ประเภทความคุ้มครอง</div>
                                            <div class="col-xs-6 display-align-right">อบ. @((int)premium.InsuranceType)</div>
                                        </div>
                                        @if (Model.Promotion != null && Model.Promotion.Count > 0) {
                                            <div class="row">
                                                @if (pGift.Count > 0) {
                                                    <div class="col-xs-6"><span class="red"><strong>ฟรี</strong></span></div>
                                                    <div class="col-xs-6">
                                                        <ul class="gift-list">
                                                            @foreach (var g in pGift) {
                                                                <li><strong>@g.Gift</strong></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                }
                                                @if (pDiscount.Count > 0) {
                                                    <div class="col-xs-6"><span class="red"><strong>ส่วนลด</strong></span></div>
                                                    <div class="col-xs-6">
                                                        <ul class="gift-list">
                                                            @foreach (var g in pDiscount) {
                                                                <li><strong>@g.DiscountAmount.ToString("0") @(g.DiscountType == TobJod.Models.PromotionDiscountType.Amount ? "บาท" : "%")</strong></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                }
                                            </div>
                                        }
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <p class="padding-top-20">
                                        @*ความเป็นมาของการประกันภัย มีเรื่องปรากฏในพระคัมภีร์ไบเบิลเกี่ยวกับโจเซฟและความอดอยากในประเทศอียิปต์ซึ่งถือว่าเป็นโครงการประกันภัยอันแรกเท่าที่บันทึกไว้ในประวัติศาสตร์ เล่ากันว่า คืนวันหนึ่ง ฟาโรห์ทรงพระสุบินว่า มีวัวอ้วนเจ็ดตัวกำลังถูกวัวผอมเจ็ดตัวกัดกิน โจเซฟทำนายฝันว่าประเทศอียิ*@
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- tab data-toggle="modal" data-target="#contact-popup" -->
                        @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online)) {
                            <div class="contact-agent-bot"><a class="" href="@Url.Action("Index", "Order", new { ProductId = Model.Id, PremiumId = Model.PremiumId, Career = Request.Params["career"], BirthDay = Request.Params["birthday"], Price = Request.Params["price"] })">ซื้อเลย</a></div>

                        }
                        @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Offline)) {
                            <div class="contact-agent-bot"><a class="call_pop_contact" href="javascript:void(0)">จองเลย</a></div>
                        }
                    </div>
                </div>
                <!-- -->
            </div>
        </div>
        @Html.Partial("../Shared/TH/_Product_Warning")
    </section>
</main>

@section modal {
    @Html.Partial("TH/_Lead_Form", Model)
}