﻿@model TobJod.Web.Models.ProductPAViewModel
@if (Model.Products != null) {
    <input type="hidden" name="page" value="@ViewBag.Page" />
    <input type="hidden" name="count" value="@ViewBag.Count" />
foreach (var item in Model.Products) {
    var premium = item.ProductPAPremium[0];
    <div class="col @(Model.LayoutGridView ? "col-lg-4 col-sm-6" : "col-sm-12")">
        <div class="item-content" data-product-id="@item.Id|@item.PremiumId">
            @Html.Partial("TH/_Item_Promotion_Ribbon", item)
            <div class="row">
                <div class="thumb-img  @(Model.LayoutGridView ? "col-sm-12" : "col-sm-4")">
                    <img src="@Model.PathCompany@item.CompanyImage" alt="">
                </div>

                <div class="detail  @(Model.LayoutGridView ? "col-sm-12" : "col-sm-8 col-lg-8")">
                    <div class="brand-name">
                        <span class="brand-name-title">@item.Company</span> @if (item.CreateDate.AddMonths(1) <= DateTime.Today) {<span class="pull-right badge-new">new</span>}
                    </div>

                    <div class="product-detail">
                        <span class="name col-xs-12 col-md-6 pd-0"><b>@item.TitleTH</b></span>
                        <span class="price col-xs-12 col-md-6 pd-0 text-md-right text-xs-right"><b>@item.ProductPAPremium[0].DisplayPremium.ToString("n2")<small> บาท</small></b></span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="linebreak"></div>
                    <div class="clearfix"></div>
                    <div class="insurance-detail">
                        <div class="row">
                            <div class="col-xs-12 item">
                                <label class="col-sm-8 col-xs-8">การชดเชยรายได้ระหว่างเข้ารักษาตัวในโรงพยาบาล</label>
                                <span class="col-sm-4 col-xs-4">@premium.IncomeCompensationTH</span>
                            </div>
                            <div class="col-xs-12 item">
                                <label class="col-sm-8 col-xs-8">เสียชีวิตจากอุบัติเหตุ</label>
                                <span class="col-sm-4 col-xs-4">@premium.LossLifeTH</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 item">
                                <label class="col-sm-8 col-xs-8">ค่ารักษาพยาบาลต่ออุบัติเหตุแต่ละครั้ง</label>
                                <span class="col-sm-4 col-xs-4">@premium.MedicalExpenseTH</span>
                            </div>
                            <div class="col-xs-12 item">
                                <label class="col-sm-8 col-xs-8">เสียชีวิตจากการถูกฆาตกรรม หรือถูกทำร้าย</label>
                                <span class="col-sm-4 col-xs-4">@premium.MurderAssaultTH</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 item">
                                <label class="col-sm-8 col-xs-8">เสียชีวิตจากการขับขี่หรือโดยสารรถจักรยานยนต์</label>
                                <span class="col-sm-4 col-xs-4">@premium.RidingPassengerMotorcycleTH</span>
                            </div>
                            <div class="col-xs-12 item">
                                <label class="col-sm-8 col-xs-8">ค่าปรงศพ หรือค่าใช้จ่ายในการจัดงานศพ</label>
                                <span class="col-sm-4 col-xs-4">@premium.FuneralExpenseAccidentIllnessTH</span>
                            </div>
                        </div>
                        @Html.Partial("TH/_Item_Promotion_Row", item)
                    </div>
                    
                    <div class="text-center detail-link">
                        <a href="@Url.Action("PADetail", "Product", new { ProductId = item.Id, PremiumId = item.PremiumId, Career = Request.Params["career"], BirthDay = Request.Params["birthday"], Price = Request.Params["price"] })" class="btn btn-round-sm btn-primary btn-sm btn-product-detail">ดูรายละเอียดทั้งหมด</a>
                        <button class="compare-select" data-product-id="@item.Id|@item.PremiumId" data-name="@item.TitleTH" data-price="@premium.DisplayPremium.ToString("n2")" data-image="@Model.PathCompany@item.CompanyImage"></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
}