﻿@{
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยสุขภาพ | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ประกันภัยสุขภาพ จากตอบโจทย์ ครอบคลุมทั้งครอบครัว พร้อมรับโปรโมชั่นผ่อน 0% นานสูงสุด 10 เดือน";
    pageMeta.MetaKeyword = "ประกันภัยสุขภาพ, ประกันสุขภาพ, ประกันมนุษย์เงินเดือน";
}
@model TobJod.Web.Models.ProductPHViewModel
<section id="banner_section" class="container-fluid clear-boot-pad product_banner">
    <a href="@Url.Action("health-overview")" class="item" target="_blank">
        <img src="@Url.Content("~/assets/images/hero_banner/health02.jpg")" class="img-responsive" />
    </a>
</section>

<main id="page-product-list">
    <div class="wizard-wrapper">
        <div class="wizard-container container clear-boot-pad hidden-xs hidden-sm">
            <section id="wizard1">
                <ul>
                    <li class="item1st"><button class="active">ค้นหา / เปรียบเทียบ</button></li>
                    <li class="item2nd"><button class="">รายละเอียดผลิตภัณฑ์</button></li>
                    <li class="item3rd"><button class="">รายละเอียดผู้ถือกรมธรรม์</button></li>
                    <li class="item4th"><button class="">ข้อมูลการชำระเงิน</button></li>
                </ul>
            </section>
        </div>
        <div class="reg-progress hidden-lg hidden-md">
            <p class="wizard-title hidden-lg hidden-sm" align="center">ค้นหา / เปรียบเทียบ</p>
            <ol class="reg-progress__steps">
                <li data-step="1" class="is-active is-complete active-now">
                    <div class="subTitle hidden-xs">ค้นหา / เปรียบเทียบ</div>
                </li>
                <li data-step="2" class="">
                    <div class="subTitle hidden-xs">รายละเอียดผลิตภัณฑ์</div>
                </li>
                <li data-step="3" class="">
                    <div class="subTitle hidden-xs">รายละเอียดผู้ถือกรมธรรม์</div>
                </li>
                <li data-step="4" class="">
                    <div class="subTitle hidden-xs">ข้อมูลการชำระเงิน</div>
                </li>
            </ol>
        </div>
    </div>

    <div class="container form-wrapper">
        <section id="form">
            <form action="@Url.Action("Health")" method="get" id="product-search" class="form-health-page">
                <input type="hidden" id="sort" name="sort" value="1" />
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <label class="form-group required">
                            <span>วันเกิด</span>
                            <input type="text" id="pa_birthday" name="birthday" value="@(Model.BirthDay < new DateTime(1900,1,1) ? "" : Model.BirthDay.ToString("MM") + "/" + Model.BirthDay.Year)" class="form-control birthday-age required prevent_type" data-target="#ph_age" autocomplete="off" readonly="readonly" />
                        </label>
                    </div>
                    <div class="col-sm-5">
                        <label class="form-group required">
                            <span>อายุ</span>
                            <input type="text" name="age" id="ph_age" class="form-control" readonly />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <label class="form-group required">
                            <span>อาชีพ</span>  <br />
                            <select name="career" id="pa_career" class="form-control dd_list required">
                                <option value="">โปรดระบุ</option>
                                @foreach (var item in viewModel.Careers) {
                                    <option value="@item.Value" @(string.Equals(Model.Career.ToString(), item.Value) ? " selected" : "")>@item.Text</option>
                                }
                            </select>
                        </label>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="">เพศ</label>
                            <div class="form-group">
                                <div class="radio radio-inline">
                                    <input type="radio" id="SexMale" value="@((int)TobJod.Models.Sex.Male)" name="Sex" @(Model.Sex != TobJod.Models.Sex.Female ? "checked=\"checked\"" : "")>
                                    <label for="SexMale">ชาย</label>
                                </div>

                                <div class="radio radio-inline">
                                    <input type="radio" id="SexFemale" value="@((int)TobJod.Models.Sex.Female)" name="Sex" @(Model.Sex == TobJod.Models.Sex.Female ? "checked=\"checked\"" : "")>
                                    <label for="SexFemale">หญิง</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <label class="form-group required">
                            <span>น้ำหนัก (กก.)</span>
                            <input type="text" name="weight" class="form-control numeric required" data-fv-integer="true" data-fv-integer-message="The value is not an integer" placeholder="กรุณากรอกน้ำหนัก" min="1" max="1000" value="@(Model.Weight > 0 ? Model.Weight.ToString() : "")" data-num="1" maxlength="3" />
                        </label>
                    </div>
                    <div class="col-sm-5">
                        <label class="form-group required">
                            <span>ส่วนสูง (ซม.)</span>
                            <input type="text" name="height" class="form-control numeric required" data-fv-integer="true" data-fv-integer-message="The value is not an integer" placeholder="กรุณากรอกส่วนสูง" min="1" max="300" max value="@(Model.Height > 0 ? Model.Height.ToString() : "")" data-num="1" maxlength="3" />
                        </label>
                    </div>
                </div>

                @*<div class="row">
                        <div class="col-sm-5 col-sm-offset-1 m-b-25">
                            <label class="form-group">
                                    <span>ช่วงราคา (ค่าเบี้ยประกันภัย)</span>
                                    <input type="text" id="price" class="form-control range-slider" name="price" data-min="@viewModel.ProductPHPriceMin" data-max="@viewModel.ProductPHPriceMax" data-from="@Model.PriceFrom" data-to="@Model.PriceTo" value="@Model.Price" />
                            </label>
                        </div>
                    </div>*@
                <div class="row">
                    <div class="col-xs-12 text-center btn-wrapper">
                        <button class="btn btn-md btn-primary btn-round-md" type="submit">ค้นหา</button><button class="btn btn-md btn-round-md hidden-xs btn-product-reset" type="reset">ยกเลิก</button>
                    </div>
                </div>

                <input type="hidden" name="price" id="search-price" value="@Model.Price" />
                @Html.HiddenFor(Model => Model.LayoutGridView)
            </form>
        </section>
    </div>

    <div class="form-footer">
        <div class="container text-center">
            <button class="btn-sm btn-round-sm btn hide-criteria" data-hide-text="ซ่อนหน้าต่างการค้นหากรมธรรม์" data-show-text="แสดงหน้าต่างการค้นหากรมธรรม์">ซ่อนหน้าต่างการค้นหากรมธรรม์</button>
        </div>
    </div>

    <div class="container" id="product-container">

        @if (Model.Career > 0) {
        <div class="product-filter">
            <div class="row">
                <div class="col-md-12 text-left change-template-product">
                    <div class="row" style="padding-left;10%padding-right:10%;margin-left: 0px;margin-right: 0px;padding-left: 20px;padding-right: 20px;">
                        <div class="search-new-format col-l col-xs-6" id="sorting">
                            <a href="#" class="ordering-v1" data-id="2" data-title-1="เรียงลำดับจาก น้อย ไป มาก" data-title-2="เรียงลำดับจาก มาก ไป น้อย">เรียงลำดับจาก มาก ไป น้อย</a>
                            <div class="display-view">
                                <div class="display-wrapper">
                                    <button class="p-thumbnail" data-template="thumbnail"></button>
                                    <button class="p-list active" data-template="list"></button>
                                </div>
                            </div>
                        </div>

                        <div class="search-new-format col-r col-xs-12 col-sm-6 pull-right">
                            <div class="row row-range">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-8 pull-right col-xs-12 col-sm-12">
                                            <div class="price-range-holder clear-right">
                                                <input id="price_range" class="irs-hidden-input" tabindex="-1" readonly="" style="height: 1px; overflow: hidden; visibility: hidden;" data-min="@viewModel.ProductPHPriceMin" data-max="@viewModel.ProductPHPriceMax" data-from="@Model.PriceFrom" data-to="@Model.PriceTo" value="@Model.Price" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section id="product-list" class="view-list">
            <div class="row" id="product-box" data-load-url="@Url.Action("HealthList")" data-page="0" data-list-page="@ViewBag.ListPage">
            </div>
        </section>

        <div class="loadmore text-center" id="product-list-load-more" style="display: none;">
            <button class="btn btn-md btn-round-md btn-border">โหลดเพิ่มเติม</button>
        </div>
}

        <div id="product-not-found" style="display: none;">ไม่พบข้อมูล</div>
    </div>
    @if (Model.Career > 0) {
        @Html.Partial("../Shared/TH/_Product_Warning")
    }
</main>


<div id="compare-product-sticky" class="hidden">

    <div class="container">
        <div class="row">
            <div class="item-wrapper col-sm-12">
                <div class="row">
                    <div class="col-sm-4 compare-item hidden template col-xs-4" data-product-id="">
                        <div class="image">
                            <img class="comparepd" src="@Url.Content("~/assets/images/product-thumbnail/1.jpg")" alt="">
                            <button class="remove" data-product-id=""></button>
                        </div>
                        <div class="compare-item--detail">
                            <label class="name">ธนชาตประกันภัย</label>
                            <label class="price"><span>10,000.21</span> <small>บาท</small></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-sm-12 col-md-12 text-right text-sm-center text-xs-center col-lg-12">
                    <a href="#" class="btn btn-md btn-round-md btn-primary m-t-20" id="btn-compare" data-url="@Url.Action("HealthCompare", "Product")">เปรียบเทียบ</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section css {
    <link href="@Url.Content("~/assets/css/plugins/ionRangeSlider/ion.rangeSlider.skinModern.css")" rel="stylesheet" />
}
@section js {
    @if (Model.Career > 0) {
    <script>
    $(function () {
        @if (ViewBag.LayoutGridView) {
            <text>$('.change-template-product .p-thumbnail').click(); $('#LayoutGridView').val('True');</text>
        }
        if ($('#LayoutGridView').val() == 'True') $('.change-template-product .p-thumbnail').click();
        @if (ViewBag.ShowLeadForm) {
            <text>bindLeadForm(@(System.Configuration.ConfigurationManager.AppSettings["LeadForm_Delay"]));</text>
        }
        LoadProductList(true, @Html.Raw(Json.Encode(Request.Params["cid"] != null && Request.Params["cid"].Split(',').Length > 0 ? Request.Params["cid"].Split(',') : (new string[0]))));
    });
    </script>
    }
}
@section modal {
    @if (ViewBag.ShowLeadForm) {
        @Html.Partial("TH/_Lead_Form_Form", Model)
    }
}
