﻿@{
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยสุขภาพ | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ประกันภัยสุขภาพ จากตอบโจทย์ ครอบคลุมทั้งครอบครัว พร้อมรับโปรโมชั่นผ่อน 0% นานสูงสุด 10 เดือน";
    pageMeta.MetaKeyword = "ประกันภัยสุขภาพ, ประกันสุขภาพ, ประกันมนุษย์เงินเดือน";
}

<main id="page-product-thumbnail" class="tomDev super-top-margin">
    <div class="container">
        <div class="row description-insurance">
            <h1>ประกันภัยเพื่อสุขภาพ</h1>
            <div class="lineTop2"></div>
        </div>
    </div>
    <section class="container description-insurance">
        <div class="row">
            <div class="col-md-3 header-type">
                ชื่อประกันภัย
            </div>
            <div class="col-md-9">
                <p>
                    ประกันภัยสุขภาพ (Health Insurance)
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                คำอธิบาย
            </div>
            <div class="col-md-9">
                <p>
                    แบบประกันเพื่อการชดเชยการจ่ายค่ารักษาพยาบาล ค่าห้อง ค่าอาหาร และค่าบริการทั่วไป อาจรวมถึงผลประโยชน์อื่นๆ ด้วย เช่นชดเชยรายได้ระหว่างนอนพักรักษาตัว  ให้ความคุ้มครองการรักษาพยาบาล จากการได้รับบาดเจ็บจากอุบัติเหตุ หรือการเจ็บป่วย

                </p>
            </div>

            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                ความคุ้มครอง
            </div>
            <div class="col-md-9">
                <p>
                    ให้ความคุ้มครองเกี่ยวกับค่าใช้จ่ายทั่วไปในการรักษา พยาบาล รวมทั้งผลประโยชน์ ค่ารักษาพยาบาลต่างๆ ที่มิได้ระบุไว้ในข้อยกเว้นของกรมธรรม์ประกันสุขภาพ เช่น ประกันสุขภาพให้ความคุ้มครองสำหรับการรักษาพยาบาลจากการได้รับบาดเจ็บ หรือเจ็บป่วยจากโรคภัยไข้เจ็บหรืออุบัติเหตุ โดยเป็นคนไข้ใน (IPD) ของโรงพยาบาล ซึ่งความคุ้มครองของการทำประกันสุขภาพประกอบด้วย
                </p>
                <ul>
                    <li>
                        ค่าห้อง ค่าอาหาร และค่าบริการทั่วไป
                    </li>
                    <li>
                        ค่าใช้จ่ายทั่วไปในโรงพยาบาล
                    </li>
                    <li>
                        ค่าบริการใช้ห้องผ่าตัด ค่า X-ray ค่าตรวจทางชีวเคมี
                    </li>
                    <li>
                        ค่าธรรมเนียมแพทย์ผ่าตัด
                    </li>
                    <li>
                        ค่าปรึกษาแพทย์พิเศษ
                    </li>
                    <li>
                        อุบัติเหตุฉุกเฉิน 24 ชั่วโมงแรก
                    </li>
                </ul>
                <p>
                    นอกจากนี้ประกันสุขภาพยังสามารถซื้อความคุ้มครองสำหรับการ รักษาพยาบาลเป็นคนไข้นอก (OPD) เพิ่มเติมได้อีกด้วย เช่น เป็นไข้หวัด ปวดหัว ตัวร้อน ปวดท้อง เป็นต้น<br /><br />
                    <b class="header_hilight">สามารถทำประกันภัย ได้ทั้ง เดี่ยวและกลุ่ม</b>
                </p>
            </div>

            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                เหมาะสำหรับกลุ่มลุกค้า
            </div>
            <div class="col-md-9">
                <p>
                    บุคคลทั่วไป
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                สิ่งที่เอาประกันภัย
            </div>
            <div class="col-md-9">
                <p>ชีวิต ร่างกาย สุขภาพ</p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                ระยะเวลาเอาประกันภัย
            </div>
            <div class="col-md-9">
                <p>
                    1 ปี
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                ตัวอย่างข้อยกเว้น
                <br />
                 <span class="small">(โปรดศึกษารายละเอียดเพิ่มเติมในหน้ากรมธรรม์)</span>
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        การกระทำของผู้เอาประกันภัยขณะอยู่ภายใต้ฤทธิ์สุราหรือยาเสพติด
                    </li>
                    <li>
                        การฆ่าตัวตาย พยายามฆ่าตัวตาย หรือการทำร้ายร่างกายตนเอง
                    </li>
                    <li>
                        การแท้งลูก
                    </li>
                    <li>
                        การเล่นหรือแข่งกีฬาอันตราย เช่น การดำน้ำ การเล่นบันจี้จั๊มพ์ เล่นสกี การแข่งรถ แข่งเรือ แข่งสเก็ต
                    </li>
                    <li>
                        ขณะที่เข้าร่วมการทะเลาะวิวาท ก่ออาชญากรรม หรือหลบหนีการจับกุม
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                ข้อมูลเบื้องต้นประกอบการพิจารณา
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        เพศ
                    </li>
                    <li>
                        อายุ
                    </li>
                    <li>
                        อาชีพ
                    </li>
                    <li>
                        รายได้
                    </li>
                    <li>
                        กิจกรรมต่างๆ ที่เกี่ยวข้องกับสุขภาพ
                    </li>
                    <li>
                        งานอดิเรก
                    </li>
                    <li>
                        จำนวนผู้เอาประกันภัย (ประเภทกลุ่ม)
                    </li>

                </ul>
            </div>
        </div>
    </section>
</main>