﻿@{
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยการเดินทาง | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "เที่ยวปลอดภัย ตอบโจทย์ทุกไลฟ์สไตล์การเดินทาง";
    pageMeta.MetaKeyword = "ประกันการเดินทาง, ประกันภัยการเดินทาง, ประกันท่องเที่ยว";
}
@model TobJod.Web.Models.ProductTAViewModel

@{ var columns = new Dictionary<string, List<String>>() {
       { "แผนประกันภัย", new List<string>() },
       { "ทุนประกันภัย", new List<string>() },
       { "เสียชีวิต, สูญเสียอวัยวะ, ทุพพลภาพถาวร", new List<string>() },
       { "ค่ารักษาพยาบาลจากอุบัติเหตุ", new List<string>() },
       { "ค่ารักษาพยาบาลในต่างประเทศ", new List<string>() },
       { "การเคลื่อนย้ายฉุกเฉิน", new List<string>() },
       { "การเคลื่อนย้ายกลับสู่ประเทศไทย", new List<string>() },
       { "ค่าใช้จ่ายในการส่งศพกลับประเทศ", new List<string>() },
       { "กระเป๋าเดินทางสูญหายหรือเสียหาย", new List<string>() },
   };
}

@foreach (var item in Model.Products) {
    var premium = item.ProductTAPremium[0];
    columns["แผนประกันภัย"].Add(item.TitleTH);
    columns["ทุนประกันภัย"].Add(premium.SumInsured.ToString("##,###"));
    columns["เสียชีวิต, สูญเสียอวัยวะ, ทุพพลภาพถาวร"].Add(premium.PersonalLossLifeTH);
    columns["ค่ารักษาพยาบาลจากอุบัติเหตุ"].Add(premium.MedicalExpenseEachAccidentTH);
    columns["ค่ารักษาพยาบาลในต่างประเทศ"].Add(premium.MedicalExpenseAccidentSicknessTH);
    columns["การเคลื่อนย้ายฉุกเฉิน"].Add(premium.EmergencyMedialEvacuationTH);
    columns["การเคลื่อนย้ายกลับสู่ประเทศไทย"].Add(premium.RepatriationExpenseTH);
    columns["ค่าใช้จ่ายในการส่งศพกลับประเทศ"].Add(premium.RepatriationMortalRemainsTH);
    columns["กระเป๋าเดินทางสูญหายหรือเสียหาย"].Add(premium.LossDamageBaggageTH);
}

<main id="page-product-thumbnail" class="tomDev">
    <div class="bannerTop">
        <a href="@Url.Action("ta-overview")" target="_blank"><img src="@Url.Content("~/assets/images/hero_banner/ta04.jpg")" class="img-responsive" /></a>
    </div>
    <section id="compareSection">
        <div class="wizard-wrapper">
            <div class="wizard-container container clear-boot-pad hidden-xs hidden-sm">
                <section id="wizard1">
                    <ul>
                        <li class="item1st"><button class="active">ค้นหา / เปรียบเทียบ</button></li>
                        <li class="item2nd"><button class="">รายละเอียดผลิตภัณฑ์</button></li>
                        <li class="item3rd"><button class="">รายละเอียดผู้ถือกรมธรรม์</button></li>
                        <li class="item4th"><button class="">ข้อมูลการชำระเงิน</button></li>
                    </ul>
                </section>
            </div>
            <div class="reg-progress hidden-lg hidden-md">
                <p class="wizard-title hidden-lg hidden-sm" align="center">ค้นหา / เปรียบเทียบ</p>
                <ol class="reg-progress__steps">
                    <li data-step="1" class="is-active is-complete active-now">
                        <div class="subTitle hidden-xs">ค้นหา / เปรียบเทียบ</div>
                    </li>
                    <li data-step="2" class="">
                        <div class="subTitle hidden-xs">รายละเอียดผลิตภัณฑ์</div>
                    </li>
                    <li data-step="3" class="">
                        <div class="subTitle hidden-xs">รายละเอียดผู้ถือกรมธรรม์</div>
                    </li>
                    <li data-step="4" class="">
                        <div class="subTitle hidden-xs">ข้อมูลการชำระเงิน</div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="container arrow-back">
            <div class="row">
                <div class="col-md-12 text-xs-center text-sm-center text-md-right">
                    <div class="inner">
                        <a href="@Url.Action("TA" + (Request.QueryString["compare"] == "1" ? "Compare" : ""), "Product", new { CoverageType = Request.Params["CoverageType"], CoverageOption = Request.Params["CoverageOption"], TripType = Request.Params["TripType"], Person = Request.Params["Person"], Day = Request.Params["Day"], DateFrom = Request.Params["DateFrom"], DateTo = Request.Params["DateTo"], Country = Request.Params["Country"], Price = Request.Params["Price"] })&compare=1&cid=@Request.QueryString["id"]&listpage=@Request.QueryString["listpage"]" class="btnOutline">กลับไปหน้าก่อนหน้านี้</a>
                    </div>
                </div>
            </div>
        </div>

        <section class="container mobile_table_compare containter hidden-md hidden-lg">
            <section class="row">

                <div class="owl-carousel8" data-duration="4">
                    @for (int i = 0; i < Model.Products.Count; i++) {
                    var item = Model.Products[i];
                    var premium = item.ProductTAPremium[0];
                    <div class="item">
                        <div class="compare-v2 item">
                            <div class="col-xs-12">
                                <figure>
                                    <img src="@Model.PathCompany@item.CompanyImage" class="img-responsive logowidth2" alt="" title="" />
                                </figure>
                            </div>
                            <p>@item.Company</p>
                            <div style="height:150px;">
                                <p>@item.TitleTH</p>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 row-item">
                                    @premium.DisplayPremium.ToString("n2")
                                </div>
                                <div class="col-xs-6 text-xs-right row-item">
                                    บาท
                                </div>
                            </div>

                            @foreach (var c in columns) {

                            <div class="row row-data">
                                <div class="col-xs-6 row-item text-xs-left">
                                    @c.Key
                                </div>
                                <div class="col-xs-6 row-item text-xs-right">
                                      @Html.Raw(string.IsNullOrWhiteSpace(columns[c.Key][i]) ? "&nbsp;" : columns[c.Key][i])
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    }

                        </div>
                        <div class="row row-data" style="position:relative; bottom:0;">
                            <div class="text-lg-center text-xs-center">
                                <a href="@Url.Action("TADetail", "Product", new { ProductId = item.Id, PremiumId = item.PremiumId, CoverageType = Request.Params["CoverageType"], CoverageOption = Request.Params["CoverageOption"], TripType = Request.Params["TripType"], Person = Request.Params["Person"], Day = Request.Params["Day"], DateFrom = Request.Params["DateFrom"], DateTo = Request.Params["DateTo"], Country = Request.Params["Country"], Price = Request.Params["Price"] })&compare=1&cid=@Request.QueryString["id"]&listpage=@Request.QueryString["listpage"]" class="btn btn-md btn-primary btn-round-md"> สนใจ </a>
                            </div>
                        </div>
                    </div>

            }
                </div>

            </section>
        </section>

        <div class="container hidden-xs hidden-sm visible-md visible-lg">
            <div class="inner">
                <div class="fix-float-label">
                    <!--
                    <div class="inner-fix">
                        <ul>
                            @foreach (var item in columns) {
                                <li>@item.Key</li>
                            }
                            <li>
                                <div class="text-lg-center text-xs-center">
                                    <a href="#" class="btn btn-md btn-primary btn-round-md"> สนใจ </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    -->
                </div>
                <div class="tableCompare">
                    <!-- overflow-super -->
                    <div class="overflow-super">
                        <table>
                            <colgroup>
                                <col />
                                @foreach (var item in Model.Products) {
                                <col />
                        }
                            </colgroup>
                            <tfoot class="">
                                <tr>
                                    <td class="hidden-xs">&nbsp;</td>
                                    @foreach (var item in Model.Products) {
                                    <td>
                                        <div class="text-lg-center text-xs-center">
                                            <a href="@Url.Action("TADetail", "Product", new { ProductId = item.Id, PremiumId = item.PremiumId, CoverageType = Request.Params["CoverageType"], CoverageOption = Request.Params["CoverageOption"], TripType = Request.Params["TripType"], Person = Request.Params["Person"], Day = Request.Params["Day"], DateFrom = Request.Params["DateFrom"], DateTo = Request.Params["DateTo"], Country = Request.Params["Country"], Price = Request.Params["Price"] })&compare=1&cid=@Request.QueryString["id"]&listpage=@Request.QueryString["listpage"]" class="btn btn-md btn-primary btn-round-md"> สนใจ </a>
                                        </div>
                                    </td>
                            }
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <th class="hidden-xs "></th>
@foreach (var item in Model.Products) {
                                    <th class="compareth">
                                            <div class="col-md-12 unpad">
                                                <div class="col-md-4 unpad">
                                                    <img src="@Url.Content(Model.PathCompany+item.CompanyImage)" class="compareimg" alt="@item.Company">
                                                </div>
                                                <div class="col-md-8 detail">
                                                    <p>@item.Company</p>
                                                    <!-- <p>@item.SubCategory</p> -->
                                                </div>
                                                <div class="col-md-12" style="float: right;">
                                                 <p class="comprice">@item.ProductTAPremium[0].DisplayPremium.ToString("n2")<span> บาท</span></p>
                                                </div>
                                            </div>
                                    </th>
}
                                </tr>
@foreach (var item in columns) {
                                <tr>
                                        <td class="hidden-xs">@item.Key</td>
                                        @foreach (var data in item.Value) {
                                            <td>@Html.Raw(string.IsNullOrWhiteSpace(data) ? "&nbsp;" : data)</td>
                                        }
                                </tr>
}
                            </tbody>                            
                            @*<tbody>
                                <tr>
                                    <th class="hidden-xs"></th>
                                    @foreach (var item in Model.Products) {
                                    <th>
                                        <div class="bd">
                                            <div class="brand"><img src="@Url.Content(Model.PathCompany+item.CompanyImage)" class="img-responsive" alt="@item.Company"></div>
                                            <div class="detail">
                                                <p>@item.Company</p>
                                                <p>@item.SubCategory</p>
                                                <p>@item.ProductTAPremium[0].DisplayPremium.ToString("n2")<span>บาท</span></p>
                                            </div>
                                        </div>
                                    </th>
                            }
                                </tr>
                                @foreach (var item in columns) {
                                <tr>
                                    <td class="hidden-xs">@item.Key</td>
                                    @foreach (var data in item.Value) {
                                    <td>@Html.Raw(string.IsNullOrWhiteSpace(data) ? "&nbsp;" : data)</td>
                            }
                                </tr>
                        }
                            </tbody>*@
                        </table>
                    </div>
                </div>
            </div>
        </div>

        @Html.Partial("../Shared/TH/_Product_Warning")
    </section>
</main>
@section js {
<script>
    $(function () {
        setTimeout(function () {
            $('html,body').animate({ scrollTop: $('#page-product-thumbnail .arrow-back').offset().top - 110 }, 1000);
        }, 500);
    });
</script>

}
