﻿@{
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยการเดินทาง | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "เที่ยวปลอดภัย ตอบโจทย์ทุกไลฟ์สไตล์การเดินทาง";
    pageMeta.MetaKeyword = "ประกันการเดินทาง, ประกันภัยการเดินทาง, ประกันท่องเที่ยว";
}

<main id="page-product-thumbnail" class="tomDev super-top-margin">
    <div class="container">
        <div class="row description-insurance">
            <h1>ประกันภัยอุบัติเหตุเพื่อการเดินทาง</h1>
            <div class="lineTop2"></div>
        </div>
    </div>
    <section class="container description-insurance">
        <div class="row">
            <div class="col-md-3 header-type">
                ชื่อประกันภัย
            </div>
            <div class="col-md-9">
                <p>
                     ประกันภัยอุบัติเหตุเพื่อการเดินทาง (Travel Accident Insurance)
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                ความคุ้มครอง
            </div>
            <div class="col-md-9">
                <p>
                    คุ้มครองผู้เอาประกันภัย ในกรณีที่ประสบอุบัติเหตุได้รับความบาดเจ็บทางร่างกาย และหากผลของการบาดเจ็บนั้นส่งผลให้ผู้เอาประกันภัยต้องเข้ารับการรักษาพยาบาล หรือรุนแรงถึงขั้นทุพพลภาพ สูญเสียอวัยวะ หรือเสียชีวิต บริษัทประกันภัยจะเข้ามารับภาระค่าใช้จ่ายที่เกิดขึ้นจาก การรักษาพยาบาลของผู้เอาประกันภัย หรือจ่ายค่าทดแทนให้แก่ผู้เอาประกันภัยหากผู้เอาประกันภัยต้องสูญเสียอวัยวะ ทุพพลภาพ หรือเสียชีวิต<br /><br />
                    <b class="header_hilight">สามารถทำประกันภัย ได้ทั้ง แบบเดี่ยวและแบบกลุ่ม</b>

                </p>
            </div>

            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                เหมาะสำหรับกลุ่มลุกค้า
            </div>
            <div class="col-md-9">
                <p>
                    บุคคลทั่วไป
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                สิ่งที่เอาประกันภัย
            </div>
            <div class="col-md-9">
                <p>ชีวิต ร่างกาย สุขภาพ</p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                ระยะเวลาเอาประกันภัย
            </div>
            <div class="col-md-9">
                <p>
                    ตามระยะเวลาเดินทาง หรือ  1 ปี
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                ตัวอย่างข้อยกเว้น<br />
                <span class="small">(โปรดศึกษารายละเอียดเพิ่มเติมในหน้ากรมธรรม์)</span>

            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        การกระทำของผู้เอาประกันภัยขณะอยู่ภายใต้ฤทธิ์สุราหรือยาเสพติด
                    </li>
                    <li>
                        การฆ่าตัวตาย พยายามฆ่าตัวตาย หรือการทำร้ายร่างกายตนเอง
                    </li>
                    <li>
                        การแท้งลูก
                    </li>
                    <li>
                        การเล่นหรือแข่งกีฬาอันตราย เช่น การดำน้ำ การเล่นบันจี้จั๊มพ์ เล่นสกี การแข่งรถ แข่งเรือ แข่งสเก็ต
                    </li>
                    <li>
                        ขณะที่เข้าร่วมการทะเลาะวิวาท ก่ออาชญากรรม หรือหลบหนีการจับกุม
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                ข้อมูลเบื้องต้นประกอบการพิจารณา
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        ประเทศปลายทาง
                    </li>
                    <li>
                        จำนวนวันเดินทาง
                    </li>
                    <li>
                        จำนวนผู้เอาประกันภัย (ประเภทกลุ่ม)
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>