﻿@{
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ขั้นตอนการชำระเงิน | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "หลากหลายช่องทาง สะดวกจ่ายได้ทุกเวลา ไม่ว่าจะเป็นการชำระเงินผ่านบัตรเครดิต ทั้งชำระแบบเต็มจำนวนและผ่อนชำระ ซื้อปุ๊ป จ่ายปั๊บ รับความคุ้มครองทันที";
    pageMeta.MetaKeyword = "ผ่อนชำระ, ผ่อน 0%, จ่ายผ่านบัตร, จ่ายเงินออนไลน์, บัตรเครดิต, โอนเงิน";
}
@using TobJod.Web
@model TobJod.Models.ConfigPage

<main id="page-product-thumbnail" class="tomDev super-top-margin">
    <section id="paymentSection">
            <h1>ขั้นตอนการชำระเงิน</h1>
        <div class="container">
            @Html.Raw(Model.BodyTH.ReplacePath())
        </div>
    </section>
</main>