﻿@model TobJod.Admin.Models.ReportSalePerformanceViewModel
@{
    int total = 0;
    for (int i = 0; i < Model.DataTable.Rows.Count; i++) {
        total += (int)Model.DataTable.Rows[i]["Total"];
    }
}
<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i></span>@ViewBag.CurrentMenu.Title</h1>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">Report</div>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Get, new { @class = "form-horizontal", role = "form", id = "form-report" })) {

        <div class="form-group">
            @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "form-control " } })
            </div>
            @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Category, Model.Categories, new { @class = "form-control" })
            </div>
            @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Company, Model.Companies, new { @class = "form-control" })
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" id="btn-search">Submit</button>
                <button type="submit" class="btn btn-warning" id="btn-export" name="export" value="1">Export</button>
            </div>
        </div>
}

        @if (Model.DataTable != null) {
        <table class="table table-bordered table-striped table-info">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Category</th>
                    <th>Sub Category</th>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Insurance Company</th>
                    <th>Amount</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.DataTable.Rows.Count == 0) {
                    <tr><td colspan="8" class="text-danger text-center">No Data</td></tr>
                } else {
                    for (int i = 0; i < Model.DataTable.Rows.Count; i++) {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model.DataTable.Rows[i]["Category"]</td>
                    <td>@Model.DataTable.Rows[i]["SubCategory"]</td>
                    <td>@Model.DataTable.Rows[i]["ProductCode"]</td>
                    <td>@Model.DataTable.Rows[i]["ProductName"]</td>
                    <td>@Model.DataTable.Rows[i]["Company"]</td>
                    <td class="text-right">@Model.DataTable.Rows[i]["Total"]</td>
                    <td class="text-right">@((((int)Model.DataTable.Rows[i]["Total"] * 100.0D) / total).ToString("n2"))%</td>
                </tr>
                    }
                }
            </tbody>
                @if (Model.DataTable.Rows.Count > 0) {
            <tfoot>
                <tr class="table-footer"><td colspan="6" class="text-right"><strong>Total</strong></td><td class="text-right" id="data-total"><strong>@total</strong></td><td class="text-right"><strong>100.00%</strong></td></tr>
            </tfoot>
                }
        </table>
        }
    </div>
</div>

@section js {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/assets/vendor/download.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/Chart.PieceLabel.min.js")"></script>
    <script>
        $(function () {
            $('.date-picker').datepicker({ format: "dd/mm/yyyy", autoclose: true, endDate: '-1d' });
            $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }
                    var re = /[0-3]\d\/[01]\d\/\d{4}/;
                    var ok;
                    try {
                        ok = value.match(re) != null;
                    } catch (err) { ok = false; }
                    return ok;
                });

            $('#form-report').submit(function () {
                var error = [];
                var start = $('#DateFrom').datepicker('getDate');
                var end = $('#DateTo').datepicker('getDate');
                var diff = dateDiffInDays(start, end);
                if (diff > 31 || diff < 0) {
                    error.push('- Date From/To should not be more than 31 days.')
                }

                if (error.length > 0) {
                    alert(error.join('\r\n'));
                    return false;
                } else {
                    return true;
                }
            });
        
        });
    </script>
}
