﻿<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i></span>@ViewBag.CurrentMenu.Title</h1>
</div>
<div class="panel">
    <div class="panel-heading">  
        <div class="panel-title">List</div>
    </div>
    <div class="panel-body">
        <form action="#" method="post">
            <div class="form-group" id="form-filter">
                <div class="row">
                    <label class="control-label col-md-1">Category</label>
                    <div class="col-md-4">
                        <select name="category" id="category" class="form-control">
                            <option value="">ALL</option>
                        @foreach (var item in Enum.GetValues(typeof(TobJod.Models.ProductCategoryKey)).Cast<TobJod.Models.ProductCategoryKey>()) {
                            <option value="@((int)item)">@item.DisplayNameOrDefault()</option>
                        }
                        </select>
                    </div>
                </div>
            </div>
        </form><div class="clearfix"></div>

        <div class="table-primary">
            <table class="table table-striped table-bordered data-table data-table-action" id="dataTable">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Field</th>
                        <th>Title (TH)</th>
                        <th>Step</th>
                        <th>Sequence</th>
                        <th class="datetime">Update</th>
                        <th class="action action-@((ViewBag.CurrentMenu.Can_Edit ? 1 : 0))" data-sortable="false"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section js {
<script>
        var $table;
        $(function() {
            $table = $('#dataTable').DataTable({
                ajax: {
                    url: '@Url.Action("DataTable")',
                    type: 'POST',
                    data: function (d) {
                        d.category = $('#category').val();
                    }
                },
                order: [[0, 'asc']]
            });
            $('#form-filter select').change(function () {
                $table.ajax.reload();
            });
        });
</script>
}