﻿@{ 
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "แผนผังเว็บไซต์ | Tobjod โบรคเกอร์ ประกันภัย";
}
<main class="container sitemap">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>แผนผังเว็บไซต์</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul class="footer-menu-list-1 site-item">
                <li><b>เมนูตอบโจทย์</b></li>
                <li><a href="@Url.Action("Index", "Home")" target="_blank"><span>หน้าแรก</span></a></li>
                <li><a href="@Url.Action("Index", "News")" target="_blank"><span>ข่าวและกิจกรรม</span></a></li>
                <li><a href="#" target="_blank"><span>การบริการประกันภัย</span></a></li>
                <li class="submenu ">
                    <div class="inner">
                        <ul>
                            <li><a href="@Url.Action("Index", "FAQ")" target="_blank">คำถามที่พบบ่อย</a></li>
                            <li><a href="@Url.Action("Index", "ClaimProcess")" target="_blank">ขั้นตอนการเคลมประกันภัย</a></li>
                            <li><a href="@Url.Action("Index", "POI")" target="_blank">ค้นหาสถานที่บริการ</a></li>
                            <li><a href="@Url.Action("Index", "PaymentMethod")" target="_blank">ขั้นตอนการชำระเงิน</a></li>

                        </ul>
                    </div>
                </li>
                <li><a href="@Url.Action("Index", "Privilege")" target="_blank"><span>สิทธิพิเศษประกันภัย</span></a></li>
                <li><a href="@Url.Action("Index", "About")" target="_blank"><span>กี่ยวกับเรา</span></a></li>
                <li><a href="@Url.Action("Index", "Contact")" target="_blank"><span>ติดต่อเรา</span></a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="footer-menu-list-2 site-item">
                <li><b>สินค้าประกันภัย</b></li>
                <li><a href="@Url.Action("Motor", "Product")" target="_blank"><span>ประกันภัยรถยนต์</span></a></li>
                <li><a href="@Url.Action("Compulsory", "Product")" target="_blank"><span>พ.ร.บ. รถยนต์</span></a></li>
                <li><a href="@Url.Action("TA", "Product")" target="_blank"><span>ประกันภัยการเดินทาง</span></a></li>
                <li><a href="@Url.Action("PA", "Product")" target="_blank"><span>ประกันภัยอุบัติเหตุส่วนบุคคล</span></a></li>
                <li><a href="@Url.Action("Health", "Product")" target="_blank"><span>ประกันสุขภาพ</span></a></li>
                <li><a href="@Url.Action("Home", "Product")" target="_blank"><span>ประกันภัยที่อยู่อาศัย</span></a></li>
            </ul>
        </div>
    </div>

</main>