﻿@{ 
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "คำถามที่พบบ่อย | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ตอบโจทย์ตอบครบทุกข้อที่ทุกคนสงสัย";
}
@using TobJod.Web
@model Dictionary<string, List<TobJod.Models.Faq>>

<main id="page-product-thumbnail" class="tomDev super-top-margin">
    <section id="faqSection">
    @if (ViewBag.Pin != null) {
        <div class="container">
            <div class="row">
                <h1>คำถาม <strong>ที่พบบ่อย</strong></h1>
            </div>
        </div>
        <div class="container hilight-faq">
            <div class="row">
                <div class="col-sm-12">
                    @foreach (var item in (ViewBag.Pin as List<TobJod.Models.Faq>)) {
                        <div class="tab">
                            <div class="inner">
                                <figure>
                                    <img src="@Url.Content("~/assets/images/icon/Tag_Icon.svg")" alt="" />
                                </figure>
                                <a href="javascript:void(0)" class="quiz">@item.QuestionTH</a>
                            </div>
                            <div class="answer">
                                @Html.Raw(item.AnswerTH.ReplacePath())
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
        @foreach (var category in Model) {
            <div class="container">
                <div class="row">
                    <h1><strong>"@category.Key"</strong></h1>
                </div>
            </div>
            <div class="container hilight-faq">
                <div class="row">
                    <div class="col-sm-12">
                        @{ var i = 1; }
                        @foreach (var item in category.Value) {
                            <div class="tab">
                                <div class="inner">
                                    <a href="javascript:void(0)" class="quiz">@item.QuestionTH</a>
                                </div>
                                <div class="answer">
                                    @Html.Raw(item.AnswerTH.ReplacePath())
                                </div>
                            </div>
                            i++;
                        }
                    </div>
                </div>
            </div>
        }
    </section>
</main>

@section js {
}