﻿@model TobJod.Models.Coupon

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i></span>@ViewBag.CurrentMenu.Title</h1>
</div>
<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">Code</div>
    </div>
    <div class="panel-body">
        @if (ViewBag.CurrentMenu.Can_Export) {
            using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Get, new { @class = "form-horizontal", role = "form" })) {
                @Html.HiddenFor(x => x.Id)

                <div class="form-group">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-warning" id="btn-export" name="export" value="1">Export</button>
                    </div>
                </div>
            }
        }

        <div class="table-primary">
            <table class="table table-striped table-bordered data-table data-table-action" id="dataTable">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Use Date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section js {
    <script>
        var $table;
        $(function() {
            $table = $('#dataTable').DataTable({
                ajax: {
                    url: '@Url.Action("DataTable_Code")?coupon_id=@Model.Id',
                    type: 'POST'
                },
                order: [[0, 'asc']]
            });
        });
        $('#btn-datatable-search').click(function () { $table.ajax.reload(); return false; });
    </script>
}