﻿@model TobJod.Models.Coupon

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form" })) {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TitleTH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TitleTH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TitleEN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TitleEN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CouponType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (string.Equals(ViewBag.CurrentAction, "Create")) {
                        @Html.EditorFor(model => model.CouponType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CouponType, "", new { @class = "text-danger" })
                    } else {
                        <div class="form-control-static">@Model.CouponType</div>
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (string.Equals(ViewBag.CurrentAction, "Create")) {
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", maxlength = "10" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    } else {
                        <div class="form-control-static">@Model.Code</div>
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (string.Equals(ViewBag.CurrentAction, "Create")) {
                        @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                    } else {
                        <div class="form-control-static">@Model.Total</div>
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DiscountType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (string.Equals(ViewBag.CurrentAction, "Create")) {
                        @Html.EditorFor(model => model.DiscountType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiscountType, "", new { @class = "text-danger" })
                    } else {
                        <div class="form-control-static">@Model.DiscountType</div>
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DiscountAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (string.Equals(ViewBag.CurrentAction, "Create")) {
                        @Html.EditorFor(model => model.DiscountAmount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiscountAmount, "", new { @class = "text-danger" })
                    } else {
                        <div class="form-control-static">@Model.DiscountAmount</div>
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ActiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (string.Equals(ViewBag.CurrentAction, "Create")) {
                        @Html.EditorFor(model => model.ActiveDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ActiveDate, "", new { @class = "text-danger" })
                    } else {
                        <div class="form-control-static">@Model.ActiveDate.ToString("dd/MM/yyyy")</div>
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ExpireDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (string.Equals(ViewBag.CurrentAction, "Create")) {
                        @Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ExpireDate, "", new { @class = "text-danger" })
                    } else {
                        <div class="form-control-static">@Model.ExpireDate.ToString("dd/MM/yyyy")</div>
                    }
                </div>
            </div>

            if (String.Equals(ViewBag.CurrentAction, "Create")) {

            <div class="form-group">
                @Html.LabelFor(model => model.ProductType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 p-b-1" id="product-type">
                    @Html.EditorFor(model => model.ProductType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductType, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-9 col-md-offset-2">
                    <div class="row col-md-12 border-sub" id="product-type-product" style="display: none;">
                        @Html.Hidden("product_id_list", string.Join(",", Model.CouponProducts.Select(x => x.Id.ToString()).ToArray()))
                        <div id="products-list" class="products-list">
                            @for (var i = 0; i < Model.CouponProducts.Count; i++) {
                                <div class="row p-b-1"><div class="input-group"><input type="text" class="form-control col-md-12" value="@Model.CouponProducts[i].TitleTH" readonly /><input type="hidden" name="product_id" value="@Model.CouponProducts[i].Id" /><span class="input-group-btn"><button type="button" class="btn btn-danger btn-product-remove" data-toggle="confirmation" data-index="@i"><i class="fa fa-minus"></i></button></span></div></div>
                            }
                        </div>
                        <div><button type="button" class="btn btn-info" id="btn-product-add" data-toggle="modal" data-target="#modal-product"><i class="fa fa-plus"></i></button></div>
                    </div>
                    <div class="row col-md-12 border-sub" id="product-type-category" style="display: none;">
                        @foreach (SelectListItem it in ViewBag.ProductCategoryList) {
                            if (Model.CouponProductCategories != null) {
                                <label class="checkbox col-md-6">@Html.CheckBox("CouponProductCategories", (Model.CouponProductCategories.Where(x => x.ProductCategoryId.ToString() == it.Value).Count() > 0), new { value = it.Value }) @it.Text</label>
                            }
                        }
                    </div>
                    <div class="row col-md-12 border-sub" id="product-type-company" style="display: none;">
                        @foreach (SelectListItem it in ViewBag.CompanyList) {
                            if (Model.CouponCompanies != null) {
                                <label class="checkbox col-md-6">@Html.CheckBox("CouponCompanies", (Model.CouponCompanies.Where(x => x.CompanyId.ToString() == it.Value).Count() > 0), new { value = it.Value }) @it.Text</label>
                            }
                        }
                    </div>
                </div>
            </div>
            } else {
                
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 p-b-1 form-control-static" id="product-type">
                        @Model.ProductType.DisplayNameOrDefault()
                    </div>
                    <div class="col-md-9 col-md-offset-2">
                        @if (Model.ProductType == TobJod.Models.CouponProductType.ByProduct) {
                        <div class="row col-md-12 border-sub" id="product-type-product">
                            @Html.Hidden("product_id_list", string.Join(",", Model.CouponProducts.Select(x => x.Id.ToString()).ToArray()))
                            <div id="products-list" class="products-list">
                                @for (var i = 0; i < Model.CouponProducts.Count; i++) {
                                    <div class="row p-b-1"><input type="text" class="form-control col-md-12" value="@Model.CouponProducts[i].TitleTH" readonly /></div>
                                }
                            </div>
                        </div>
                        }
                        @if (Model.ProductType == TobJod.Models.CouponProductType.ByCategory) {
                        <div class="row col-md-12 border-sub" id="product-type-category">
                            @foreach (SelectListItem it in ViewBag.ProductCategoryList) {
                                <label class="checkbox col-md-6">@Html.CheckBox("CouponProductCategories", (Model.CouponProductCategories.Where(x => x.ProductCategoryId.ToString() == it.Value).Count() > 0), new { value = it.Value, disabled = "disabled" }) @it.Text</label>
                            }
                        </div>
                        }
                        @if (Model.ProductType == TobJod.Models.CouponProductType.ByCompany) {
                        <div class="row col-md-12 border-sub" id="product-type-company">
                            @foreach (SelectListItem it in ViewBag.CompanyList) {
                                <label class="checkbox col-md-6">@Html.CheckBox("CouponCompanies", (Model.CouponCompanies.Where(x => x.CompanyId.ToString() == it.Value).Count() > 0), new { value = it.Value, disabled = "disabled" }) @it.Text</label>
                            }
                        </div>
                        }
                    </div>
                </div>
            }

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="@Request.Url" type="reset" class="btn btn-warning">Reset</a>
                </div>
            </div>
        }

    </div>
</div>

<div class="modal fade" id="modal-product" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times</button></div>
            <div class="modal-body">
                <form class="form-horizontal form-bordered" role="form" action="#" method="post" target="_blank">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="">Product <span class="required">*</span></label>
                        <div class="col-md-10 products-list">
                            @for (var i = 0; i < Model.CouponProducts.Count; i++) {
                                <div class="row p-b-1"><div class="input-group"><input type="text" class="form-control col-md-12" value="@Model.CouponProducts[i].TitleTH" readonly /><input type="hidden" name="product_id" value="@Model.CouponProducts[i].Id" /><span class="input-group-btn"><button type="button" class="btn btn-danger btn-product-remove" data-toggle="confirmation" data-index="@i"><i class="fa fa-minus"></i></button></span></div></div>
                            }
                        </div>
                    </div>
                </form>

                <div class="table-info">
                    <table class="table table-striped table-bordered data-table data-table-action" id="dataTable-object-select">
                        <thead>
                            <tr>
                                <th class="id">Id</th>
                                <th>Category</th>
                                <th>Sub Category</th>
                                <th>Title</th>
                                <th class="status">Status</th>
                                <th class="action" data-searchable="false" data-sortable="false">Select</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section js {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    var $table_object_select;
    var product_id = [];
    var product_title = [];
        $(function () {
            $('.date-picker').datepicker({ format: "dd/mm/yyyy", autoclose: true });
            var params = [{ propertytested: 'ActiveDate', allowequaldates: true }];
            $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }
                    var re = /[0-3]\d\/[01]\d\/\d{4}/;
                    var ok;
                    try {
                        ok = value.match(re) != null;
                    } catch (err) { ok = false; }
                    return ok;
                });

            $('input[name=CouponType]').change();
            $('#product-type input:radio:checked').click();
            $table_object_select = $('#dataTable-object-select').DataTable({
                ajax: {
                    url: '@Url.Action("DataTableProduct")',
                    type: 'POST',
                },
                order: [[0, 'desc']]
            });
            GetProduct();
        });
        $('#product-type input:radio').click(function () {
            var val = $('#product-type input:radio:checked').val();
            $('#product-type-product, #product-type-category, #product-type-company').hide();
            if (val == '@TobJod.Models.CouponProductType.All') {
                //console.log('all');
            } else if (val == '@TobJod.Models.CouponProductType.ByProduct') {
                $('#product-type-product').show();
            } else if (val == '@TobJod.Models.CouponProductType.ByCategory') {
                $('#product-type-category').show();
            } else if (val == '@TobJod.Models.CouponProductType.ByCompany') {
                $('#product-type-company').show();
            }
        });
        $('#modal-product').on('shown.bs.modal', function () {
            $table_object_select.ajax.reload();
            $('#dataTable-object-select tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });
            $('#dataTable-object-select tbody').on('click', 'button', function () {
                if (product_id[0] == '') product_id.pop();
                var val = String($(this).data('id'));
                var index = product_id.indexOf(val);
                if (index < 0) {
                    product_id.push(val);
                    product_title.push($(this).data('title'));
                }
                ShowProduct();
            });
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }, 300);
        });
        $('.products-list').on('click', '.btn-product-remove', function () {
            var index = $(this).data('index');
            product_id.splice(index, 1);
            product_title.splice(index, 1);
            ShowProduct();
        });

        function GetProduct() {
            product_id = [];
            $('#products-list input[name=product_id]').each(function (i, e) {
                product_id.push($(e).val());
            });
            $('#products-list input:text').each(function (i, e) {
                product_title.push($(e).val());
            });
        }

        function ShowProduct() {
            $('#product_id_list').val(product_id.join());
            var html = '';
            for (var i = 0; i < product_title.length; i++) {
                html += '<div class="row p-b-1"><div class="input-group"><input type="text" class="form-control col-md-12" value="' + product_title[i] + '" readonly /><input type="hidden" name="product_id" value="' + product_id[i] + '" /><span class="input-group-btn"><button type="button" class="btn btn-danger btn-product-remove" data-toggle="confirmation" data-index="' + i +'"><i class="fa fa-minus"></i></button></span></div></div>';
            }
            $('.products-list').html(html);
        }
        $('#modal-product').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#form').submit(function () {
            var error = [];
            var start = $('#ActiveDate').datepicker('getDate');
            var end = $('#ExpireDate').datepicker('getDate');
            var diff = dateDiffInDays(start, end);
            if (diff < 0) {
                error.push('- Expire Date cannot be less than Active Date');
            }

            if ($('input[name=DiscountType]:checked').val() == '@(TobJod.Models.CouponDiscountType.Percent)') {
                var amount = parseInt($('#DiscountAmount').val());
                if (isNaN(amount) || amount >= 100 || amount <= 0) {
                    error.push('- Invalid Discount Percent. Must be between 1-99');
                }
            }
    
            if (@(String.Equals(ViewBag.Action, "Create") ? "true" : "false")) {
                var productType = $('#product-type input:radio:checked').val();
                if (productType == '@TobJod.Models.CouponProductType.ByProduct') {
                    if ($('input[name="product_id"]').length == 0) error.push('- Please select at least 1 Product');
                } else if (productType == '@TobJod.Models.CouponProductType.ByCategory') {
                    if ($('input[name="CouponProductCategories"]:checked').length == 0) error.push('- Please select at least 1 Category');
                } else if (productType == '@TobJod.Models.CouponProductType.ByCompany') {
                    if ($('input[name="CouponCompanies"]:checked').length == 0) error.push('- Please select at least 1 Company');
                }
            }

            if (error.length > 0) {
                alert(error.join('\r\n'));
                return false;
            } else {
                return true;
            }
        });
        @*$('input[name=CouponType]').change(function () {
            var val = $('input[name=CouponType]:checked').val();
            if (val == '@(TobJod.Models.CouponType.Mass)') {
                $('#Total').val('1').attr('readonly', true);
            } else {
                $('#Total').val('0').attr('readonly', false);
            }
        })*@
</script>
}
