﻿@model TobJod.Admin.Models.HomePromotionViewModel
@using TobJod.Models;
<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        <div class="row text-center p-a-2"><img src="~/assets/images/home-promotion.png" class="img-responsive" /></div>
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.HomePromotion1ImageTH, "Banner 1 Image (TH) 800x1070", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.HomePromotion1ImageTH" class="img-responsive" style="height: 50px" /></div>
            </div>
            @Html.LabelFor(model => model.HomePromotion1ImageEN, "Banner 1 Image (EN) 800x1070", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.HomePromotion1ImageEN" class="img-responsive" style="height: 50px" /></div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomePromotion1ImageMobileTH, "Banner 1 Image Mobile (TH) 800x1070", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.HomePromotion1ImageMobileTH" class="img-responsive" style="height: 50px" /></div>
            </div>
            @Html.LabelFor(model => model.HomePromotion1ImageMobileEN, "Banner 1 Image Mobile (EN) 800x1070", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.HomePromotion1ImageMobileEN" class="img-responsive" style="height: 50px" /></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <label>@Html.EditorFor(model => model.HomePromotion1TargetNew, new { htmlAttributes = new { @class = "", disabled = "disabled" } }) Open new window</label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomePromotion1UrlTH, "Banner 1 Url (TH)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePromotion1UrlTH, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomePromotion1UrlEN, "Banner 1 Url (EN)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePromotion1UrlEN, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomePromotion2ImageTH, "Banner 2 Image (TH) 800x535", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.HomePromotion2ImageTH" class="img-responsive" style="height: 50px" /></div>
            </div>
            @Html.LabelFor(model => model.HomePromotion2ImageEN, "Banner 2 Image (EN) 800x535", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.HomePromotion2ImageEN" class="img-responsive" style="height: 50px" /></div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomePromotion2ImageMobileTH, "Banner 2 Image Mobile (TH) 800x1070", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.HomePromotion2ImageMobileTH" class="img-responsive" style="height: 50px" /></div>
            </div>
            @Html.LabelFor(model => model.HomePromotion2ImageMobileEN, "Banner 2 Image Mobile (EN) 800x1070", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.HomePromotion2ImageMobileEN" class="img-responsive" style="height: 50px" /></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <label>@Html.EditorFor(model => model.HomePromotion2TargetNew, new { htmlAttributes = new { @class = "", disabled = "disabled" } }) Open new window</label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomePromotion2UrlTH, "Banner 2 Url (TH)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePromotion2UrlTH, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomePromotion2UrlEN, "Banner 2 Url (EN)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePromotion2UrlEN, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomePromotion3ImageTH, "Banner 3 Image (TH) 400x534", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.HomePromotion3ImageTH" class="img-responsive" style="height: 50px" /></div>
            </div>
            @Html.LabelFor(model => model.HomePromotion3ImageEN, "Banner 3 Image (EN) 400x534", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.HomePromotion3ImageEN" class="img-responsive" style="height: 50px" /></div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomePromotion3ImageMobileTH, "Banner 3 Image Mobile (TH) 800x1070", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.HomePromotion3ImageMobileTH" class="img-responsive" style="height: 50px" /></div>
            </div>
            @Html.LabelFor(model => model.HomePromotion3ImageMobileEN, "Banner 3 Image Mobile (EN) 800x1070", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.HomePromotion3ImageMobileEN" class="img-responsive" style="height: 50px" /></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <label>@Html.EditorFor(model => model.HomePromotion3TargetNew, new { htmlAttributes = new { @class = "", disabled = "disabled" } }) Open new window</label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomePromotion3UrlTH, "Banner 3 Url (TH)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePromotion3UrlTH, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomePromotion3UrlEN, "Banner 3 Url (EN)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePromotion3UrlEN, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomePromotion4ImageTH, "Banner 4 Image (TH) 400x534", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.HomePromotion4ImageTH" class="img-responsive" style="height: 50px" /></div>
            </div>
            @Html.LabelFor(model => model.HomePromotion4ImageEN, "Banner 4 Image (EN) 400x534", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.HomePromotion4ImageEN" class="img-responsive" style="height: 50px" /></div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomePromotion4ImageMobileTH, "Banner 4 Image Mobile (TH) 800x1070", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.HomePromotion4ImageMobileTH" class="img-responsive" style="height: 50px" /></div>
            </div>
            @Html.LabelFor(model => model.HomePromotion4ImageMobileEN, "Banner 4 Image Mobile (EN) 800x1070", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.HomePromotion4ImageMobileEN" class="img-responsive" style="height: 50px" /></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <label>@Html.EditorFor(model => model.HomePromotion4TargetNew, new { htmlAttributes = new { @class = "", disabled = "disabled" } }) Open new window</label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomePromotion4UrlTH, "Banner 4 Url (TH)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePromotion4UrlTH, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomePromotion4UrlEN, "Banner 4 Url (EN)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePromotion4UrlEN, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>


}

    </div>
            </div>

@section js {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/vendor/ckeditor/ckeditor.js"></script>
    <script src="~/assets/vendor/ckeditor/adapters/jquery.js"></script>
    <script>
	    var uploadurl = 'config/';
        $(function () {
            $('textarea.text-editor').ckeditor();
        });
    </script>
}
