﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tobjod Browser Support</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <style type="text/css">
      body, html { width: 100%; height: 100%; position: relative;  }
      #wrapper { position: absolute; height: 100%; width: 100%; }
      #wrapper .something-semantic { display: table; width: 100%; height: 100%; }
      #wrapper .something-semantic .something-else-semantic { display: table-cell;text-align: center;vertical-align: middle;}
      #wrapper #logo-container { sdisplay: flex; text-align: center; max-width: 1170px; margin-left: auto; margin-right: auto; margin-top: 50px; }
      #wrapper #logo-container a { display: block; float: left; padding-left: 25px; padding-right: 25px; }
      #wrapper #logo-container a img { display: block; width: 100%; }
      #wrapper #logo-container a figcaption { margin-top: 10px; color:#666; font-size: 24px; }
      p { color:#666; font-size: 32px; }
      a:focus { outline: none; }
      a:hover, a:focus { text-decoration: none; }

      @@media all and (min-width:320px) and (max-width:1024px) {
        #wrapper #logo-container a figcaption { font-size: 14px; }
        p { color:#666; font-size: 20px; padding-left: 15px; padding-right: 15px; }
      }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <div class="something-semantic">
            <div class="something-else-semantic">
                <p>You are using an outdated browser</p>
                <p>Please install a newer one to be able to use <a href="#"><b>Tobjod</b></a> system</p>
                <p>Following these links</p>
                <div id="logo-container">
                    <a href="https://www.google.com/intl/en/chrome/browser/desktop/index.html" target="_blank" class="col-xs-6 col-md-3">
                        <figure>
                            <img src="@Url.Content("~/assets/images/browser/google_chrome.jpg")" title="google chrome" alt="google chrome" />
                            <figcaption>Google Chrome</figcaption>
                        </figure>
                    </a>
                    <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank" class="col-xs-6 col-md-3">
                        <figure>
                            <img src="@Url.Content("~/assets/images/browser/mozilla_firefox.png")" title="Firefox" alt="Firefox" />
                            <figcaption>Mozilla Firefox</figcaption>
                        </figure>
                    </a>
                    <a href="https://support.apple.com/downloads/safari" target="_blank" class="col-xs-6 col-md-3">
                        <figure>
                            <img src="@Url.Content("~/assets/images/browser/osx_safari.png")" title="Safari" alt="Safari" />
                            <figcaption>Safari</figcaption>
                        </figure>
                    </a>
                    <a href="https://www.microsoft.com/th-th/windows/microsoft-edge" target="_blank" class="col-xs-6 col-md-3">
                        <figure>
                            <img src="@Url.Content("~/assets/images/browser/microsoft_edge.jpg")" title="Microsoft Edge" alt="Microsoft Edge" />
                            <figcaption>Microsoft Edge</figcaption>
                        </figure>
                    </a>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
