﻿@model String
@{ 
    var rows = new List<string[]>();

    if (!string.IsNullOrEmpty(Model)) {
        var doc = new HtmlAgilityPack.HtmlDocument();
        doc.LoadHtml(Model);

        if (doc != null && doc.DocumentNode != null && doc.DocumentNode.SelectNodes("//tr") != null) {
            foreach (HtmlAgilityPack.HtmlNode row in doc.DocumentNode.SelectNodes("//tr")) {
                List<String> td = new List<string>();
                if (row.SelectNodes("td") != null) {
                    foreach (HtmlAgilityPack.HtmlNode col in row.SelectNodes("td")) {
                        td.Add(col.InnerText);
                    }
                    rows.Add(td.ToArray());
                }
            }
        }
    }
}
@for (int i = 0; i < 30; i++) {
    <div class="row">
        <div class="col-md-9"><input type="text" name="@(ViewData.TemplateInfo.HtmlFieldPrefix + "_" + (i+1) + "_th")" value="@(rows.Count > i ? rows[i][0] : "")" class="form-control" /></div>
        <div class="col-md-3"><input type="text" name="@(ViewData.TemplateInfo.HtmlFieldPrefix + "_" + (i+1) + "_td")" value="@(rows.Count > i && rows[i].Length > 1 ? rows[i][1] : "")" class="form-control" /></div>
    </div>
}