﻿@model Boolean
@{
    var htmlAttributes = ViewData["htmlAttributes"] as IDictionary<string, object> ?? HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["htmlAttributes"]);

    //object htmlAttributes = null;
    //if (ViewContext.ViewData.Keys.Contains("htmlAttributes"))
    //{
    //    htmlAttributes = ViewContext.ViewData["htmlAttributes"];
    //}
    //var attY = (obj)htmlAttributes;
    //attY.Add("id", ViewData.TemplateInfo.HtmlFieldPrefix + "_true");
    IDictionary<string, object> attY = new Dictionary<string, object>();
    IDictionary<string, object> attN = new Dictionary<string, object>();
    foreach (var pair in htmlAttributes) {
        attY.Add(pair);
        attN.Add(pair);
    }
    attY.Add("id", ViewData.TemplateInfo.HtmlFieldPrefix + "_true");
    attN.Add("id", ViewData.TemplateInfo.HtmlFieldPrefix + "_false");
}
<label class="radio-inline">@Html.RadioButton("", "true", Model == true, attY) Yes </label>
<label class="radio-inline">@Html.RadioButton("", "false", Model != true, attN) No </label>