﻿@{ 
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ค้นหาสถานที่บริการ | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ค้นหาสถานที่บริการง่ายทั้ง อู่ซ่อม โรงพยาบาลในเครือ และสถานีตำรวจ";
    pageMeta.MetaKeyword = "อู่ซ่อม, อู่ซ่อมรถ, อู่เคลม, โรงพยาบาลประกัน, สถานีตำรวจ";
}
@model TobJod.Models.ConfigPage

<main id="page-product-thumbnail" class="tomDev super-top-margin" ng-controller="Crtl_poi">
    <div class="container">
        <div class="row">
            <h1>POI</h1>
        </div>
        <section id="form" class="filterPoi">
            <div class="container">
                <div class="row form-group">
                    <div class="col-sm-8">
                        <select name="category" id="category" class="form-control dd_list2">
                            <option value="0">--- Please select Category ---</option>
                            <option value="1">Hospital</option>
                            <option value="2">Police Station</option>
                            <option value="3">Repair Garage</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container-fluid mapPoi clear-boot-pad">
        <div id="google-map"></div>
    </div>
</main>
@section js {
    <script type="text/javascript">
    var map;
    var lat;
    var long;
    var contentString = '';
    var infowindow = '';
    var features = [];
    var iconBase = '@Url.Content("~/assets/images/icon/")';
    var icons = {
        garage: {
            icon: iconBase + 'POI_Garage.png'
        },
        police: {
            icon: iconBase + 'POI_PoliceStation.png'
        },
        info: {
            icon: iconBase + 'map_icon.png'
        },
        personal: {
            icon: iconBase + 'map_icon.png'
        }
    };

    function start_pin_marker_detail() {
        contentString = '';

        infowindow = new google.maps.InfoWindow({
            content: contentString
        });
    }

    function call_pin_garage() {
        features = [
        @foreach (var item in (ViewBag.POIGarage as List<TobJod.Models.Poi>)) {
            <text>{position: new google.maps.LatLng(@item.Latitude, @item.Longitude), title: '@item.TitleEN', type: 'garage' },</text>
        }
        ];
    }

    function call_pin_police() {
        features = [
        @foreach (var item in (ViewBag.POIPolice as List<TobJod.Models.Poi>)) {
            <text>{position: new google.maps.LatLng(@item.Latitude, @item.Longitude), title: '@item.TitleEN', type: 'police' },</text>
        }
        ];
    }

    function call_pin_hospital() {
        features = [
        @foreach (var item in (ViewBag.POIHospital as List<TobJod.Models.Poi>)) {
            <text>{position: new google.maps.LatLng(@item.Latitude, @item.Longitude), title: '@item.TitleEN', type: 'info' },</text>
        }
        ];
    }

    function call_pin_all() {
        features = [
        @foreach (var item in (ViewBag.POIHospital as List<TobJod.Models.Poi>)) {
            <text>{position: new google.maps.LatLng(@item.Latitude, @item.Longitude), title: '@item.TitleEN', type: 'info' },</text>
        }
        @foreach (var item in (ViewBag.POIGarage as List<TobJod.Models.Poi>)) {
            <text>{position: new google.maps.LatLng(@item.Latitude, @item.Longitude), title: '@item.TitleEN', type: 'garage' },</text>
        }
        @foreach (var item in (ViewBag.POIPolice as List<TobJod.Models.Poi>)) {
            <text>{position: new google.maps.LatLng(@item.Latitude, @item.Longitude), title: '@item.TitleEN', type: 'police' },</text>
        }
            ];
    }
    function google_map_call_garage() {
        call_pin_garage();
        initialize();
    }

    function google_map_call_police() {
        call_pin_police();
        initialize();
    }
        
    function google_map_call_hospital() {
        call_pin_hospital();
        initialize();
    }

    function google_map_reset() {
        call_pin_all();
        initialize();
    }


    function initialize() {
        var mapOptions = {
        zoom: 3,
        center: new google.maps.LatLng(13.747945, 100.579157),
        mapTypeId: google.maps.MapTypeId.SATELLITE
        }
        map = new google.maps.Map(document.getElementById('google-map'), {
                zoom: 16,
                center: new google.maps.LatLng(13.747945, 100.579157),
                mapTypeId: 'roadmap',
        });
        start_pin_marker_detail();
            // Create markers.
        features.forEach(function(feature) {
            var marker = new google.maps.Marker({
            position: feature.position,
            icon: icons[feature.type].icon,
            title: feature.title,
            map: map,
            });

            marker.addListener('click', function() {
                // infowindow.open(map, marker);
            });

            google.maps.event.addListener(marker, 'click', function () {
                window.open('https://www.google.com/maps/search/?api=1&query=' + this.position.lat() + ',' + this.position.lng(), '_blank');
                //window.open('https://www.google.co.th/maps/place/' + this.title + '/@@' + this.position.lat() + ',' + this.position.lng() + ',16z/data=!4m5!3m4!1s0x0:0xc3da9a922b9e237!8m2!3d13.7485809!4d100.5832592','_blank');
                //window.open('https://www.google.co.th/maps/place/%E0%B9%82%E0%B8%A3%E0%B8%87%E0%B8%9E%E0%B8%A2%E0%B8%B2%E0%B8%9A%E0%B8%B2%E0%B8%A5%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E/@@13.7483385,100.580669,16z/data=!4m5!3m4!1s0x0:0xc3da9a922b9e237!8m2!3d13.7485809!4d100.5832592','_blank');  /* <- This is what makes it open in a new window. */
            });
        });
    }

    function setMarkers(locations) {

        for (var i = 0; i < locations.length; i++) {
            var beach = locations[i];
            var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                animation: google.maps.Animation.DROP,
                title: beach[0],
                zIndex: beach[3]
            });

            markers.push(marker);
        }
    }

    function reloadMarkers() {
        for (var i=0; i<markers.length; i++) {

            markers[i].setMap(null);
        }
        markers = [];
        setMarkers(beaches);
    }

    function initMap() {
        google_map_reset();

    }

    setTimeout(function() {
    lazyLoad("https://maps.googleapis.com/maps/api/js?key=AIzaSyDhmIJEVk2ss9bx-hjMV3y_LGQrwH05OBc&callback=initMap");

    setTimeout( function() { google.maps.event.trigger(map, 'resize');  } ,500);
    }, 1500);

    $('#category').change(function () {
        var val = $(this).val();
        if (val == '1') google_map_call_hospital();
        else if (val == '2') google_map_call_police();
        else if (val == '3') google_map_call_garage();
        else google_map_reset();
    });

    </script>
}