﻿<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i></span>@ViewBag.CurrentMenu.Title</h1>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">List</div>
    </div>
    <div class="panel-body">

        <div class="table-primary">
            <table class="table table-striped table-bordered data-table data-table-action" id="dataTable">
                <thead>
                    <tr>
                        <th class="id">Id</th>
                        <th>Employee Id</th>
                        <th>Name</th>
                        <th>Group</th>
                        <th class="datetime">Update</th>
                        <th class="action action-1" data-sortable="false"></th>
                    </tr>
                </thead>
            </table>
        </div>


@using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-group" })) {

        <div class="form-group">
            @Html.Label("User", "User", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <table id="user-list" class="table table-striped table-bordered">
                    <thead><tr><th>EmployeeId</th><th>Name</th><th>&nbsp;</th></tr></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Group", "Group", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Group", (IEnumerable<SelectListItem>)ViewBag.GroupList, "", new { @class = "form-control", required = "required" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
}
    </div>
</div>
@section js {
<script>
    var $table;
    $(function () {
            $table = $('#dataTable').DataTable({
                ajax: {
                    url: '@Url.Action("DataTableGroup")',
                    type: 'POST',
                },
                order: [[0, 'asc']]
            });

            $('#dataTable').on('click', '.btn-add-user', function () {
                if ($('#user-list tbody input[value=' + $(this).data('id') + ']').length == 0) {
                    $('#user-list tbody').append('<tr><td>' + $(this).data('emp') + '</td><td>' + $(this).data('name') + '</td><td><button type="button" class="btn btn-danger btn-remove-user">Remove</button><input type="hidden" name="emp" value="' + $(this).data('id') + '" /></td>');
                }
            });

            $('#user-list').on('click', '.btn-remove-user', function () {
                $(this).parent().parent().remove();
            });

            $('#form-group').submit(function (e) {

                var error = [];
                if ($('input[name=emp]').length == 0) {
                    error.push('- User');
                }

                if ($('#Group').val() == '') {
                    error.push('- Group');
                }

                if (error.length > 1) {
                    alert('Please select: \n\r' + error.join('\n\r'));
                    return false;
                } else {
                    return true;
                }
            });
        });
</script>
    
}