﻿@model TobJod.Admin.Models.CampaignViewModel

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "form" })) {
            @Html.AntiForgeryToken()
            
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.ParentId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TitleTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TitleTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TitleEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TitleEN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BodyTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BodyTH, new { htmlAttributes = new { @class = "form-control text-editor", data_val = "true", data_val_required = "The Body (TH) field is required." } })
                        @Html.ValidationMessageFor(model => model.BodyTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BodyEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BodyEN, new { htmlAttributes = new { @class = "form-control text-editor", data_val = "true", data_val_required = "The Body (EN) field is required." } })
                        @Html.ValidationMessageFor(model => model.BodyEN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageTHFile, htmlAttributes: new { @class = "control-label col-md-2 required" })
                    <div class="col-md-10">
                        <div class="img-preview"><img src="@ViewBag.PathRel@Model.ImageTH" class="img-responsive" /></div>
                        @Html.HiddenFor(model => model.ImageTH)
                        @Html.FileImageFor(model => model.ImageTHFile)
                        @Html.ValidationMessageFor(model => model.ImageTHFile, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageENFile, htmlAttributes: new { @class = "control-label col-md-2 required" })
                    <div class="col-md-10">
                        <div class="img-preview"><img src="@ViewBag.PathRel@Model.ImageEN" class="img-responsive" /></div>
                        @Html.HiddenFor(model => model.ImageEN)
                        @Html.FileImageFor(model => model.ImageENFile)
                        @Html.ValidationMessageFor(model => model.ImageENFile, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageAltTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ImageAltTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ImageAltTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageAltEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ImageAltEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ImageAltEN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ActiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ActiveDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ActiveDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ExpireDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ExpireDate, "", new { @class = "text-danger" })
                    </div>
                </div>
        
                <div class="form-group">
                    @Html.LabelFor(model => model.CampaignPromotions, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <label class="checkbox p-l-3">@Html.EditorFor(model => model.PromotionAll, new { htmlAttributes = new {  } }) All Promotion</label>
                        <div id="promotion-box">
                            <div id="promotions-list" class="promotions-list col-md-12">
                                @if (Model.CampaignPromotions != null) {
                                    for (var i = 0; i < Model.CampaignPromotions.Count; i++) {
                                        <div class="row p-b-1"><div class="input-group"><input type="text" class="form-control col-md-12" value="@Model.CampaignPromotions[i].TitleTH" readonly /><input type="hidden" name="promotion_id" value="@Model.CampaignPromotions[i].Id" /><span class="input-group-btn"><button type="button" class="btn btn-danger btn-promotion-remove" data-toggle="confirmation" data-index="@i"><i class="fa fa-minus"></i></button></span></div></div>
                                    }
                                }
                            </div>
                            <div><button type="button" class="btn btn-info" id="btn-promotion-add" data-toggle="modal" data-target="#modal-promotion"><i class="fa fa-plus"></i></button></div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                    </div>
                </div>
        }

    </div>
</div>

<div class="modal fade" id="modal-promotion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times</button></div>
            <div class="modal-body">
                <form class="form-horizontal form-bordered" role="form" action="#" method="post" target="_blank">
                    <div class="form-group">
                        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Get, new { @class = "form-horizontal", role = "form", id = "form-modal-search" })) {

                            <div class="form-group">

                                <label class="control-label col-md-2" for="PromotionDateFrom">Date From</label>
                                <div class="col-md-2">
                                    <input type="text" id="PromotionDateFrom" name="DateFrom" class="form-control date-picker" />
                                </div>
                                <label class="control-label col-md-2" for="PromotionDateTo">Date To</label>
                                <div class="col-md-2">
                                    <input type="text" id="PromotionDateTo" name="DateTo" class="form-control date-picker" />
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-primary" id="btn-modal-search">Submit</button>
                                </div>
                            </div>
                        }

                        <label class="col-md-2 control-label" for="">Promotion <span class="required">*</span></label>

                        <div class="col-md-10 promotions-list">
                            @if (Model.CampaignPromotions != null) {
                                for (var i = 0; i < Model.CampaignPromotions.Count; i++) {
                                    <div class="row p-b-1"><div class="input-group"><input type="text" class="form-control col-md-12" value="@Model.CampaignPromotions[i].TitleTH" readonly /><input type="hidden" name="promotion_id" value="@Model.CampaignPromotions[i].Id" /><span class="input-group-btn"><button type="button" class="btn btn-danger btn-promotion-remove" data-toggle="confirmation" data-index="@i"><i class="fa fa-minus"></i></button></span></div></div>
                                }
                            }
                        </div>
                    </div>
                </form>

                <div class="table-info">
                    <table class="table table-striped table-bordered data-table data-table-action" id="dataTable-object-select">
                        <thead>
                            <tr>
                                <th class="id">Id</th>
                                <th>Title</th>
                                <th class="datetime">Active</th>
                                <th class="datetime">Expire</th>
                                <th class="status">Status</th>
                                <th class="action" data-searchable="false" data-sortable="false">Select</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section js {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/vendor/ckeditor/ckeditor.js"></script>
    <script src="~/assets/vendor/ckeditor/adapters/jquery.js"></script>
    <script>
        var uploadurl = 'campaign/';
        var $table_object_select;
        var promotion_id = [];
        var promotion_title = [];
        var gift_index = 0;
        var promotion_from = '';
        var promotion_to = '';
        $.validator.setDefaults({ ignore: ':hidden:not(.text-editor)' });
        $(function () {
            $('textarea.text-editor').ckeditor();
            $('.date-picker').datepicker({ format: "dd/mm/yyyy", autoclose: true });
            $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }
                    var re = /[0-3]\d\/[01]\d\/\d{4}/;
                    var ok;
                    try {
                        ok = value.match(re) != null;
                    } catch (err) { ok = false; }
                    return ok;
                });
            $table_object_select = $('#dataTable-object-select').DataTable({
                ajax: {
                    url: '@Url.Action("DataTablePromotion")',
                    type: 'POST',
                    data: function (d) {
                        d.DateFrom = promotion_from;
                        d.DateTo = promotion_to;
                    }
                },
                order: [[0, 'desc']]
            });
            GetPromotion();
            if ($('#PromotionAll').is(':checked')) {
                $('#promotion-box').hide();
            } else {
                $('#promotion-box').show();
            }
        });
        $('#btn-modal-search').click(function () {
            promotion_from = $('#PromotionDateFrom').val();
            promotion_to = $('#PromotionDateTo').val();
            $table_object_select.ajax.reload();
        })
        $('#modal-promotion').on('shown.bs.modal', function () {
            $table_object_select.ajax.reload();
            $('#dataTable-object-select tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });
            $('#dataTable-object-select tbody').on('click', 'button', function () {
                if (promotion_id[0] == '') promotion_id.pop();
                var val = String($(this).data('id'));
                var index = promotion_id.indexOf(val);
                if (index < 0) {
                    promotion_id.push(val);
                    promotion_title.push($(this).data('title'));
                }
                ShowPromotion();
            });
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }, 300);
        });
        $('.promotions-list').on('click', '.btn-promotion-remove', function () {
            var index = $(this).data('index');
            promotion_id.splice(index, 1);
            promotion_title.splice(index, 1);
            ShowPromotion();
        });

        function GetPromotion() {
            promotion_id = [];
            $('#promotions-list input[name=promotion_id]').each(function (i, e) {
                promotion_id.push($(e).val());
            });
            $('#promotions-list input:text').each(function (i, e) {
                promotion_title.push($(e).val());
            });
        }

        function ShowPromotion() {
            $('#promotion_id_list').val(promotion_id.join());
            var html = '';
            for (var i = 0; i < promotion_title.length; i++) {
                html += '<div class="row p-b-1"><div class="input-group"><input type="text" class="form-control col-md-12" value="' + promotion_title[i] + '" readonly /><input type="hidden" name="promotion_id" value="' + promotion_id[i] + '" /><span class="input-group-btn"><button type="button" class="btn btn-danger btn-promotion-remove" data-toggle="confirmation" data-index="' + i +'"><i class="fa fa-minus"></i></button></span></div></div>';
            }
            $('.promotions-list').html(html);
        }
        $('#modal-promotion').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#PromotionAll').click(function () {
            if ($(this).is(':checked')) {
                $('#promotion-box').hide();
            } else {
                $('#promotion-box').show();
            }
        });
        $('#form').submit(function () {
            var error = [];
            var start = $('#ActiveDate').datepicker('getDate');
            var end = $('#ExpireDate').datepicker('getDate');
            var diff = dateDiffInDays(start, end);
            if (diff < 0) {
                error.push('- Expire Date cannot be less than Active Date')
            }

            if (!$('#PromotionAll').is(':checked') && $('input[name=promotion_id]').length == 0) {
                error.push('- Please select Promotion');
            }

            if (error.length > 0) {
                alert(error.join('\r\n'));
                return false;
            } else {
                return true;
            }
        });
    </script>
@if (string.Equals((string)ViewBag.CurrentAction, "Create")) {
    <script>
        $('#ImageTHFile, #ImageENFile').prop('required', true);
    </script>
}
}
