﻿@{
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ติดต่อเรา | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ติดต่อ ตอบโจทย์ โบรคเกอร์ ประกันภัย โทร. 02-783-0222";
    pageMeta.MetaKeyword = "ติดต่อเรา, Tobjod, ตอบโจทย์";
}
@using TobJod.Web
@model TobJod.Web.Models.LoginViewModel
@{
    var configModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
}
<main id="page-product-thumbnail" class="tomDev">
    <div id="banner_section">
        <div class="bannerTop">
            <div class="item">
             
            </div>
        </div>
    </div>
    <section id="contactSection">
        <div class="container">
            <div class="row">
                <h1>สมัครสมาชิก <strong>"ตอบโจทย์"</strong></h1>
            </div>
            <div class="row slogan text-lg-center text-sm-center text-xs-center">หากท่านไม่สามารถเข้าสู่ระบบได้ กรุณาแจ้งมาที่ Email:  <a href="mailto:cs_th@tobjod.com"> CS@TOBJOD.com</a></div>
        </div>
    </section>
    <section class="contactForm container">

        <div class="container">
            <address class="row">
                <h2 class="text-xs-center">คุณสามารถใช้บัญชีโซเชียล ที่ต้องการเพื่อเข้าถึง TOBJOB</h2>
            </address>
        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <div class="col-xs-12  text-center btn-wrapper">
                    <a class="btn btn-md" style="background-color:#337ab7;color:#fff;" href="@Url.Action("LoginUsingFacebook","Member")"><i class="fa fa-facebook-official white" style="color:#fff;"></i> ลงทะเบียนด้วยบัญชีเฟสบุค</a>
                    @*<button class="btn btn-md" style="background-color:#337ab7;color:#fff;" type="submit"><i style="align-content:flex-start;color:#fff;" class="fa fa-facebook-official white"></i>  เข้าระบบด้วยบัญชีเฟคบุค</button>*@
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <div class="col-xs-12 text-center btn-wrapper">
                    <a class="btn btn-md" style="background-color:rgb(219,68,55);color:#fff;" href="@Url.Action("LoginUsingGoogle","Member")"><i class="fa fa-google" style="color:#fff;"></i> ลงทะเบียนด้วยบัญชีกูเกิ้ล</a>
                    @*<button class="btn btn-md btn-register-google"  style="background-color:rgb(219,68,55);color:#fff;" ><i class="fa fa-google" style="color:#fff;"></i>  ลงทะเบียนด้วยบัญชีกูเกิ้ล</button>*@
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <address class="row">
                    <h3 class="text-xs-center">หรือ</h3>
                </address>
            </div>
            <div class="col-sm-4">
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <div class="col-xs-12 text-center btn-wrapper">
                    <a href="@Url.Action("Registered","Member")" class="btn btn-md" style="color:#fff;background:#acacac;">ลงทะเบียนด้วยอีเมล</a>
                    @*<button class="btn btn-md"  style="color:#fff;background:#acacac;" type="submit">เข้าระบบด้วยอีเมล</button>*@
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <div class="col-xs-12 text-center btn-wrapper">
                    <br> <br> <br>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </section>

</main>
<style>

    #page-product-thumbnail.tomDev #contactmapSection .row.contactMap img {
        border: 0px solid !important;
    }
</style>
@section modal {
    @if (ViewBag.Notify != null)
    {
        <!-- Modal -->
        <div class="modal fade main-model-popup" id="popup-model-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!--  <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div> -->
                    <div class="modal-body">
                        <div class="close-box"></div>
                        <div class="text-close" data-dismiss="modal" aria-label="Close">&times;</div>
                        <h2 class="text-center">@ViewBag.Notify</h2>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary contact-submit"> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section js {
    <script type="text/javascript" src="~/assets/vendor/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/assets/vendor/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
    var map;
    var lat;
    var long;
    var features = [];
    var iconBase = '@Url.Content("~/assets/images/icon/")';
            var icons = {
                parking: {
                icon: iconBase + 'contact_us_pin.png'
                },
                library: {
                icon: iconBase + 'contact_us_pin.png'
                },
                info: {
                icon: iconBase + 'contact_us_pin.png'
                },
                personal: {
                    icon: iconBase + 'contact_us_pin.png'//icon: iconBase + 'personal_icon.png'
                }
    };




    setTimeout(function() {
        lazyLoad("https://maps.googleapis.com/maps/api/js?key=AIzaSyDhmIJEVk2ss9bx-hjMV3y_LGQrwH05OBc&callback=initMap");

        //setTimeout( function() { google.maps.event.trigger(map, 'resize');  } ,500);
    },2000);


    </script>
    @if (ViewBag.Notify != null)
    {
        <script>$(function () { $('#popup-model-contact').modal('toggle'); });</script>
    }
}