﻿@model TobJod.Models.Product

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title @Model.CategoryId.ToString() / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "form-product" })) {
            @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)  
                @Html.HiddenFor(model => model.CategoryId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.SaleChannel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.SaleChannel, "EnumSelectId", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SaleChannel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">@Model.ProductCode</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.SubCategoryId, (IEnumerable<SelectListItem>)ViewBag.SubCategoryList, "", (string.Equals(ViewBag.CurrentAction, "Create") ? (object)new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" }))
                        @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
                    </div>  
                    @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.CompanyId, (IEnumerable<SelectListItem>)ViewBag.CompanyList, "", (string.Equals(ViewBag.CurrentAction, "Create") ? (object)new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" }))
                        @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Class, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "Create") ? (object)new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" }) })
                        @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.SubClass, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.SubClass, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "Create") ? (object)new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" }) })
                        @Html.ValidationMessageFor(model => model.SubClass, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.InsuranceProductCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.InsuranceProductCode, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "Create") ? (object)new { @class = "form-control", maxlength = "20" } : (object)new { @class = "form-control", disabled = "disabled" }) })
                        @Html.ValidationMessageFor(model => model.InsuranceProductCode, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.TitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TitleTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TitleTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TitleEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TitleEN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ActiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ActiveDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ActiveDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ExpireDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ExpireDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CoverageTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CoverageTH, "Coverage", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CoverageTH, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CoverageEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CoverageEN, "Coverage", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CoverageEN, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SpecialCoverageTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SpecialCoverageTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SpecialCoverageTH, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SpecialCoverageEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SpecialCoverageEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SpecialCoverageEN, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConditionTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ConditionTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConditionTH, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConditionEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ConditionEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConditionEN, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ExceptionTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ExceptionTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ExceptionTH, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ExceptionEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ExceptionEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ExceptionEN, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PrivilegeTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PrivilegeTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PrivilegeTH, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PrivilegeEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PrivilegeEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PrivilegeEN, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CheckListTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CheckListTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CheckListTH, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CheckListEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CheckListEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CheckListEN, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConsentTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ConsentTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConsentTH, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConsentEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ConsentEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConsentEN, "", new { @class = "text-danger" })
                    </div>
                </div>

            if (Model.CategoryId == TobJod.Models.ProductCategoryKey.PRB) {
                <h4 class="col-md-offset-2">พ.ร.บ.</h4>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductPRB.NetPremium, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProductPRB.NetPremium, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductPRB.NetPremium, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductPRB.Duty, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProductPRB.Duty, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductPRB.Duty, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductPRB.Vat, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProductPRB.Vat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductPRB.Vat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductPRB.Premium, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProductPRB.Premium, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductPRB.Premium, "", new { @class = "text-danger" })
                    </div>
                </div>
            }

            if (Model.CategoryId == TobJod.Models.ProductCategoryKey.TA) {
                <h4 class="col-md-offset-2">TA</h4>
                <div class="form-group" id="country">
                    @Html.LabelFor(model => model.ProductTACountry, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ListBoxFor(model => model.ProductTACountry, ViewBag.CountryList as List<SelectListItem>, new { @class = "form-control select-multiple", multiple = true })
                        @Html.ValidationMessageFor(model => model.ProductTACountry, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            
            <div class="form-group">
                @Html.LabelFor(model => model.ApproveMessage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 form-control-static">
                        @Model.ApproveMessage
                </div>
            </div>

            if (string.Equals(ViewBag.CurrentAction, "View")) {
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-primary" onclick="javascript: history.back();">BACK</button>
                    </div>
                </div>
            } else {
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                    </div>
                </div>
            }
        }

    </div>
</div>
@if (!string.Equals(ViewBag.CurrentAction, "Create") && Model.CategoryId != TobJod.Models.ProductCategoryKey.PRB) {
    <div class="panel panel-default">
        <div class="panel-heading">
            @if (ViewBag.CurrentMenu.Can_Add) { <a href="@Url.Action("Create" + Model.CategoryId.ToString() + "Premium")?productId=@Model.Id" id="btn-create" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#modal"><span class="btn-label-icon left fa fa-plus"></span> &nbsp; Create</a> }
            <h3 class="panel-title">Premium</h3>
        </div>
        <div class="panel-body">
            <div class="table-primary">
                <table class="table table-striped table-bordered data-table data-table-action" id="dataTable">
                    <thead>
                        <tr>
                            @if (Model.CategoryId == TobJod.Models.ProductCategoryKey.Motor) {
                                <th>Register Year</th>
                                <th>Year Min</th>
                                <th>Year Max</th>
                                <th>Sum Insured</th>
                                <th>Premium</th>
                            } else if (Model.CategoryId == TobJod.Models.ProductCategoryKey.Home) {
                                <th>Property Type</th>
                                <th>Construction Type</th>
                                <th>Cover Period</th>
                                <th>Sum Insured</th>
                                <th>Premium</th>
                            } else if (Model.CategoryId == TobJod.Models.ProductCategoryKey.PA) {
                                <th>Age Min</th>
                                <th>Age Max</th>
                                <th>Insurance Type</th>
                                <th>Premium</th>
                            } else if (Model.CategoryId == TobJod.Models.ProductCategoryKey.PH) {
                                <th>Sex</th>
                                <th>Age Min</th>
                                <th>Age Max</th>
                                <th>Sum Insured</th>
                                <th>Premium</th>
                            } else if (Model.CategoryId == TobJod.Models.ProductCategoryKey.TA) {
                                <th>Min Days</th>
                                <th>Max Days</th>
                                <th>Persons</th>
                                <th>Sum Insured</th>
                                <th>Premium</th>
                            }
                            <th class="action action-@((ViewBag.CurrentMenu.Can_Edit ? 1 : 0) + (ViewBag.CurrentMenu.Can_Delete ? 1 : 0))" data-sortable="false"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    @Html.Partial("_Modal")
}

@if (Model.ProductCarModel != null) {
    <div class="panel panel-default">
        <div class="panel-heading">
            @if (ViewBag.CurrentMenu.Can_Add) { <a href="@Url.Action("Create" + Model.CategoryId.ToString() + "Car")?productId=@Model.Id" id="btn-create" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#modal"><span class="btn-label-icon left fa fa-plus"></span> &nbsp; Create</a> }
            <h3 class="panel-title">Car Model</h3>
        </div>
        <div class="panel-body">
            <div class="table-primary">
                <table class="table table-striped table-bordered data-table data-table-action" id="dataTableCar">
                    <thead>
                        <tr>
                            <th>Brand</th>
                            <th>Family</th>
                            <th>Model</th>
                            <th class="action action-@((ViewBag.CurrentMenu.Can_Edit ? 1 : 0) + (ViewBag.CurrentMenu.Can_Delete ? 1 : 0))" data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
}

@if (Model.ProductRegisterProvince != null) {
    <div class="panel panel-default">
        <div class="panel-heading">
            @if (ViewBag.CurrentMenu.Can_Add) { <a href="@Url.Action("Create" + Model.CategoryId.ToString() + "Province")?productId=@Model.Id" id="btn-create" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#modal"><span class="btn-label-icon left fa fa-plus"></span> &nbsp; Create</a> }
            <h3 class="panel-title">Register Province</h3>
        </div>
        <div class="panel-body">
            <div class="table-primary">
                <table class="table table-striped table-bordered data-table data-table-action" id="dataTableRegisterProvince">
                    <thead>
                        <tr>
                            <th>Province</th>
                            <th>Code</th>
                            <th class="action action-@((ViewBag.CurrentMenu.Can_Edit ? 1 : 0) + (ViewBag.CurrentMenu.Can_Delete ? 1 : 0))" data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
}

@if (Model.ProductCareer != null) {
    <div class="panel panel-default">
        <div class="panel-heading">
            @if (ViewBag.CurrentMenu.Can_Add) { <a href="@Url.Action("Create" + Model.CategoryId.ToString() + "Career")?productId=@Model.Id" id="btn-create" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#modal"><span class="btn-label-icon left fa fa-plus"></span> &nbsp; Create</a> }
            <h3 class="panel-title">Career</h3>
        </div>
        <div class="panel-body">
            <div class="table-primary">
                <table class="table table-striped table-bordered data-table data-table-action" id="dataTableCareer">
                    <thead>
                        <tr>
                            <th>Career</th>
                            <th>Class</th>
                            <th class="action action-@((ViewBag.CurrentMenu.Can_Edit ? 1 : 0) + (ViewBag.CurrentMenu.Can_Delete ? 1 : 0))" data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@section css {}
@section js {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/vendor/ckeditor/ckeditor.js"></script>
    <script src="~/assets/vendor/ckeditor/adapters/jquery.js"></script>
    @if (!string.Equals(ViewBag.CurrentAction, "Create")) {
    <script>
        var $table, $tableCar, $tableRegisterProvince, $tableCareer;
        $(function () {

        $table = $('#dataTable').DataTable({
            ajax: {
                url: '@Url.Action("DataTable_" + Model.CategoryId.ToString() + "_Premium")?product_id=@Model.Id',
                type: 'POST'
            },
            order: [[0, 'desc']]
        });
        if ($('#dataTableCar').length > 0) {
            $tableCar = $('#dataTableCar').DataTable({
                ajax: {
                    url: '@Url.Action("DataTable_Motor_Car")?product_id=@Model.Id',
                    type: 'POST'
                },
                order: [[0, 'asc']]
            });

            $('#dataTableCar').confirmation({
                rootSelector: '#dataTableCar',
                container: 'body',
                selector: '[data-toggle=confirmation]',
                btnOkClass: 'btn-xs btn-danger',
                btnCancelClass: 'btn-xs btn-default',
                btnOkIcon: 'fa fa-check',
                btnCancelIcon: 'fa fa-times',
                singleton: true
            });
        }
        if ($('#dataTableRegisterProvince').length > 0) {
            $tableRegisterProvince = $('#dataTableRegisterProvince').DataTable({
                ajax: {
                    url: '@Url.Action("DataTable_Motor_Province")?product_id=@Model.Id',
                    type: 'POST'
                },
                order: [[0, 'asc']]
            });

            $('#dataTableRegisterProvince').confirmation({
                rootSelector: '#dataTableRegisterProvince',
                container: 'body',
                selector: '[data-toggle=confirmation]',
                btnOkClass: 'btn-xs btn-danger',
                btnCancelClass: 'btn-xs btn-default',
                btnOkIcon: 'fa fa-check',
                btnCancelIcon: 'fa fa-times',
                singleton: true
            });
        }
        if ($('#dataTableCareer').length > 0) {
            $tableCareer = $('#dataTableCareer').DataTable({
                ajax: {
                    url: '@Url.Action("DataTable_" + Model.CategoryId.ToString() + "_Career")?product_id=@Model.Id',
                    type: 'POST'
                },
                order: [[0, 'asc']]
            });

            $('#dataTableCareer').confirmation({
                rootSelector: '#dataTableCareer',
                container: 'body',
                selector: '[data-toggle=confirmation]',
                btnOkClass: 'btn-xs btn-danger',
                btnCancelClass: 'btn-xs btn-default',
                btnOkIcon: 'fa fa-check',
                btnCancelIcon: 'fa fa-times',
                singleton: true
            });
        }
        $('#dataTable, #dataTableCar, #dataTableRegisterProvince, #dataTableCareer').on('confirmed.bs.confirmation', '.btn-delete', function (e) {
            e.preventDefault();
            $.getJSON({
                url: $(this).data("url")
            })
                .done(function (data) {
                    if (data.success) {
                        $table.ajax.reload();
                        if ($tableCareer != undefined) $tableCareer.ajax.reload();
                        if ($tableCar != undefined) $tableCar.ajax.reload();
                        if ($tableRegisterProvince != undefined) $tableRegisterProvince.ajax.reload();
                    } else {
                        alert('Cannot delete. Please try again later.');
                    }
                    return false;
                })
                .fail(function (jqXHR) {
                    alert('Cannot delete. Please try again later.');
                    return false;
                });
            return false;
        });
        });
        $(document).on('hidden.bs.modal', function (e) {
            $(e.target).removeData('bs.modal');
            $('#modal .modal-content').html('');
        });
        //function CloseModal() {
        //    $('#modal').modal('hide');
        //    $table.ajax.reload();
        //}
        $('#modal').on('submit', 'form', function (e) {
            e.preventDefault()
            $.post($(this).attr('action'), $(this).serialize(), function (data) {
                if (data.success === true) {
                    $('#modal').modal('hide');
                    $table.ajax.reload();
                    if ($tableCareer != undefined) $tableCareer.ajax.reload();
                    if ($tableCar != undefined) $tableCar.ajax.reload();
                    if ($tableRegisterProvince != undefined) $tableRegisterProvince.ajax.reload();
                } else {
                    if (data.message != '') {
                        alert(data.message);
                    } else {
                        alert('Cannot update. Please try again later.');
                    }
                }
            }, 'json')
        });
    </script>
    }
    <script>
        $(function () {
            $('.date-picker').datepicker({ format: "dd/mm/yyyy", autoclose: true });
            $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }
                    var re = /[0-3]\d\/[01]\d\/\d{4}/;
                    var ok;
                    try {
                        ok = value.match(re) != null;
                    } catch (err) { ok = false; }
                    return ok;
                });
            $('.select-multiple').select2();
            $('textarea.text-editor').ckeditor({
                allowedContent: 'table tr th td'
            });
        });
        $('#form-product').submit(function () {
            var error = [];
            var start = $('#ActiveDate').datepicker('getDate');
            var end = $('#ExpireDate').datepicker('getDate');
            var diff = dateDiffInDays(start, end);
            if (diff < 0) {
                error.push('- Expire Date cannot be less than Active Date')
            }

            if (error.length > 0) {
                alert(error.join('\r\n'));
                return false;
            } else {
                return true;
            }
        });
        $('.modal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
            $('.modal-content').empty();
            $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }
                    var re = /[0-3]\d\/[01]\d\/\d{4}/;
                    var ok;
                    try {
                        ok = value.match(re) != null;
                    } catch (err) { ok = false; }
                    return ok;
                });
        });

        $('body').on('click', '.modal-toggle', function (event) {
            event.preventDefault();
            $('.modal-content').empty();
            $('#modal')
                .removeData('bs.modal')
                .modal({ remote: $(this).attr('href') });
        });
        $('body').on('change', 'input[data-val-number]', function () {
            if ($(this).val() == '') $(this).val('0');
        });
        $.validator.setDefaults({ ignore: ':hidden:not(.text-editor)' });
    </script>
@if (Model.CategoryId == TobJod.Models.ProductCategoryKey.PRB) {
    <script>
        $('#form-product').submit(function () {
            var netPremium = parseFloat($('#ProductPRB_NetPremium').val());
            var duty = parseFloat($('#ProductPRB_Duty').val());
            var vat = parseFloat($('#ProductPRB_Vat').val());
            var premium = parseFloat($('#ProductPRB_Premium').val());
            if (!isNaN(netPremium) && !isNaN(duty) && !isNaN(vat) && !isNaN(premium) && ((netPremium + duty + vat) != premium)) {
                alert('Premium <> (NetPremium + Duty + VAT)');
                return false;
            }
        });
    </script>
}
}
