﻿@using TobJod.Utils
@model TobJod.Models.Product

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title @Model.CategoryId.ToString() / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "form-product" })) {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CategoryId)

            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.SaleChannel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4 form-control-static">@Model.SaleChannel</div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4 form-control-static">@Model.ProductCode</div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.SubCategoryId, (IEnumerable<SelectListItem>)ViewBag.SubCategoryList, "", (string.Equals(ViewBag.CurrentAction, "Create") ? (object)new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" }))
                    @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.CompanyId, (IEnumerable<SelectListItem>)ViewBag.CompanyList, "", (string.Equals(ViewBag.CurrentAction, "Create") ? (object)new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" }))
                    @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4 form-control-static">@Model.Class</div>
                @Html.LabelFor(model => model.SubClass, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4 form-control-static">@Model.SubClass</div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.InsuranceProductCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 form-control-static">@Model.InsuranceProductCode</div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 form-control-static">@Model.TitleTH</div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 form-control-static">@Model.TitleEN</div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ActiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 form-control-static">
                    @Html.DisplayFor(model => model.ActiveDate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ExpireDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ExpireDate, "", new { @class = "text-danger" })
                </div>
            </div>
            

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                </div>
            </div>
        }
    </div>
</div>
@section css {}
@section js {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('.date-picker').datepicker({ format: "dd/mm/yyyy", autoclose: true, startDate: new Date() });
            $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }
                    var re = /[0-3]\d\/[01]\d\/\d{4}/;
                    var ok;
                    try {
                        ok = value.match(re) != null;
                    } catch (err) { ok = false; }
                    return ok;
                });
        });

        $('#form-product').submit(function (e) {
            if ($('#ExpireDate').data('datepicker').viewDate < new Date()) {
                alert('- Expire Date must be greater than Today');
                return false;
            }
        });
    </script>
}
