﻿@model TobJod.Admin.Models.ProductImportViewModel

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Import</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.CategoryId, new List<SelectListItem>() { new SelectListItem { Text = "Motor", Value = ((int)TobJod.Models.ProductCategoryKey.Motor).ToString() }, new SelectListItem { Text = "Home", Value = ((int)TobJod.Models.ProductCategoryKey.Home).ToString() }, new SelectListItem { Text = "PA", Value = ((int)TobJod.Models.ProductCategoryKey.PA).ToString() }, new SelectListItem { Text = "PH", Value = ((int)TobJod.Models.ProductCategoryKey.PH).ToString() }, new SelectListItem { Text = "TA", Value = ((int)TobJod.Models.ProductCategoryKey.TA).ToString() } }, "", new { @class = "form-control" } )
                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-2">File Upload</label>
                    <div class="col-md-10">
                        @Html.FileFor(model => model.ImportFile, new { @class = "form-control", required = "required", accept = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" })
                        @Html.ValidationMessageFor(model => model.ImportFile, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                    </div>
                </div>
            }

            @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage.ToString().Length > 0) {
                <table class="table table-bordered table-striped table-hover table-danger" style="width: 100%;">
                    <thead><tr><th>Position</th><th>Error</th></tr></thead>
                    <tbody>@Html.Raw(ViewBag.ErrorMessage)</tbody>
                </table>
            }
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Template File</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li><a href="@Url.Action("Export", "Product", new { id = 0, category = (int)TobJod.Models.ProductCategoryKey.Motor })">Motor</a></li>
                <li><a href="@Url.Action("Export", "Product", new { id = 0, category = (int)TobJod.Models.ProductCategoryKey.Home })">Home</a></li>
                <li><a href="@Url.Action("Export", "Product", new { id = 0, category = (int)TobJod.Models.ProductCategoryKey.PA })">PA</a></li>
                <li><a href="@Url.Action("Export", "Product", new { id = 0, category = (int)TobJod.Models.ProductCategoryKey.PH })">PH</a></li>
                <li><a href="@Url.Action("Export", "Product", new { id = 0, category = (int)TobJod.Models.ProductCategoryKey.TA })">TA</a></li>
            </ul>
        </div>
    </div>
</div>
@section js {
    @Scripts.Render("~/bundles/jqueryval")
}
