﻿@model TobJod.Models.Product

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i></span>@ViewBag.CurrentMenu.Title</h1>
</div>
<div class="panel">
    <div class="panel-heading">
        @if (ViewBag.CurrentMenu.Can_Add) {<a href="@Url.Action("Create")" id="btn-create" class="btn btn-info btn-sm pull-right"><span class="btn-label-icon left fa fa-plus"></span> &nbsp; Create</a>}
        @if (ViewBag.CurrentMenu.Can_Add) {<a href="@Url.Action("Import")" class="btn btn-success btn-sm pull-right" style="margin-right: 10px;"><span class="btn-label-icon left fa fa-upload"></span> &nbsp; Import</a> }
        @*@if (ViewBag.CurrentMenu.Can_Export) { <a href="@Url.Action("Export")" class="btn btn-warning btn-sm pull-right" style="margin-right: 10px;"><span class="btn-label-icon left fa fa-download"></span> &nbsp; Export</a> }*@
        <div class="panel-title">List</div>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Get, new { @class = "form-horizontal", role = "form" })) {

            <div class="form-group">
                @Html.LabelFor(model => model.ProductSubCategoryId, "Category", htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.ProductSubCategoryId, "EnumSelectIdAllSkipFirst", new { htmlAttributes = new { @class = "form-control required" } })
                    @Html.ValidationMessageFor(model => model.ProductSubCategoryId, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.CompanyId, "Company", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.CompanyId, ViewBag.CompanyList as IEnumerable<SelectListItem>, "All", new { @class = "form-control required" })
                    @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Status, "Status", htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Status, "EnumSelectIdAllNegative", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.ApproveStatus, "Approve Status", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.ApproveStatus, "EnumSelectIdAllNegative", new { htmlAttributes = new { @class = "form-control required" } })
                    @Html.ValidationMessageFor(model => model.ApproveStatus, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" id="btn-datatable-search">Search</button>
                    <button type="submit" class="btn btn-warning" id="btn-datatable-export" name="export" value="1">Export</button>
                </div>
            </div>
        }

        <div class="table-primary">
            <table class="table table-striped table-bordered data-table data-table-action" id="dataTable">
                <thead>
                    <tr>
                        <th class="id">Id</th>
                        <th>Product Code</th>
                        <th>Category</th>
                        <th>Title</th>
                        <th class="date">Active</th>
                        <th class="date">Expire</th>
                        <th class="datetime">Update</th>
                        <th class="status">Status</th>
                        <th class="status">Approve</th>
                        <th class="action action-@((ViewBag.CurrentMenu.Can_Edit ? 1 : 0) + (ViewBag.CurrentMenu.Can_Delete ? 1 : 0) + (ViewBag.CurrentMenu.Can_Approve ? 1 : 0) + (ViewBag.CurrentMenu.Can_Assign ? 1 : 0) + (ViewBag.CurrentMenu.Can_Export ? 1 : 0) + (ViewBag.CurrentMenu.Can_View ? 1 : 0))" data-sortable="false"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section js {
    <script>
        var $table;
        $(function() {
            $table = $('#dataTable').DataTable({
                ajax: {
                    url: '@Url.Action("DataTable")',
                    type: 'POST',
                    data: function (d) {
                        d.category = $("#ProductSubCategoryId").val();
                        d.company = $("#CompanyId").val();
                        d.status = $("#Status").val();
                        d.approvestatus = $("#ApproveStatus").val();
                    }
                },
                order: [[0, 'desc']]
            });
            //$('#ProductSubCategoryId option[value=0]').remove();
        });
        $('#btn-datatable-export').click(function () {
            var error = [];
            if ($('#ProductSubCategoryId').val() == '') {
                error.push('-Please select Category');
            }
            if ($('#CompanyId').val() == '') {
                error.push('-Please select Company');
            }
            if (error.length > 0) {
                alert("Export: \r\n" + error.join('\r\n'));
                return false;
            } else {
                return true;
            }
        });
        $('#btn-create').confirmation({
            title: 'Category',
            buttons: [
                {
                    class: 'btn btn-info',
                    label: 'Motor',
                    onClick: function () {
                        window.location = '@Url.Action("Create")?category=100';
                    }
                },
                {
                    class: 'btn btn-info',
                    label: 'พ.ร.บ.',
                    onClick: function () {
                        window.location = '@Url.Action("Create")?category=200';
                    }
                },
                {
                    class: 'btn btn-info',
                    label: 'Home',
                    onClick: function () {
                        window.location = '@Url.Action("Create")?category=600';
                    }
                },
                {
                    class: 'btn btn-info',
                    label: 'PA',
                    onClick: function () {
                        window.location = '@Url.Action("Create")?category=300';
                    }
                },
                {
                    class: 'btn btn-info',
                    label: 'PH',
                    onClick: function () {
                        window.location = '@Url.Action("Create")?category=500';
                    }
                },
                {
                    class: 'btn btn-info',
                    label: 'TA',
                    onClick: function () {
                        window.location = '@Url.Action("Create")?category=400';
                    }
                },
            ]
        })
    </script>
}