﻿@{
    Layout = null;
    Response.Cache.SetNoStore();
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
}

@model TobJod.Models.ProductTAPremium
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ProductId)

        <div class="form-group">
            @Html.Label("E-Policy", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.EPolicy, "YesNo", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EPolicy, "", new { @class = "text-danger" })
            </div>
            @Html.Label("Plan Code", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PlanCode, new { htmlAttributes = new { @class = "form-control", required = "required", max = "999999", maxlength = "6" } })
                @Html.ValidationMessageFor(model => model.PlanCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TripType, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @if (string.Equals(ViewBag.CurrentAction, "CreateTAPremium")) {
                    @Html.EditorFor(model => model.TripType, "EnumSelect", new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.TripType, "", new { @class = "text-danger" })
                } else {
                    <div class="form-control-static">@Model.TripType.GetDisplayName()@Html.HiddenFor(model => model.TripType)</div>
                }
            </div>
            @Html.LabelFor(model => model.Zone, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @if (string.Equals(ViewBag.CurrentAction, "CreateTAPremium")) {
                    @Html.EditorFor(model => model.Zone, "EnumSelect", new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Zone, "", new { @class = "text-danger" })
                } else {
                    <div class="form-control-static">@Model.Zone.GetDisplayName()@Html.HiddenFor(model => model.Zone)</div>
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CoverageOption, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @if (string.Equals(ViewBag.CurrentAction, "CreateTAPremium")) {
                    @Html.EditorFor(model => model.CoverageOption, "EnumSelect", new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.CoverageOption, "", new { @class = "text-danger" })
                } else {
                    <div class="form-control-static">@Model.CoverageOption.GetDisplayName()@Html.HiddenFor(model => model.CoverageOption)</div>
                }
            </div>
            @Html.LabelFor(model => model.CoverageType, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @if (string.Equals(ViewBag.CurrentAction, "CreateTAPremium")) {
                    @Html.EditorFor(model => model.CoverageType, "EnumSelect", new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.CoverageType, "", new { @class = "text-danger" })
                } else {
                    <div class="form-control-static">@Model.CoverageType.GetDisplayName()@Html.HiddenFor(model => model.CoverageType)</div>
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MinDays, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MinDays, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreateTAPremium") ? (object)new { @class = "form-control", required = "required" } : (object)new { @class = "form -control", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.MinDays, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.MaxDays, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MaxDays, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreateTAPremium") ? (object)new { @class = "form-control", required = "required" } : (object)new { @class = "form -control", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.MaxDays, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Persons, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Persons, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreateTAPremium") ? (object)new { @class = "form-control", required = "required" } : (object)new { @class = "form -control", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.Persons, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SumInsured, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.SumInsured, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.SumInsured, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.DisplayPremium, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.DisplayPremium, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.DisplayPremium, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NetPremium, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.NetPremium, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.NetPremium, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Premium, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Premium, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Premium, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Duty, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Duty, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Duty, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Vat, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Vat, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Vat, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PersonalLossLifeTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PersonalLossLifeTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalLossLifeTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.PersonalLossLifeEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PersonalLossLifeEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalLossLifeEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MedicalExpenseEachAccidentTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MedicalExpenseEachAccidentTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MedicalExpenseEachAccidentTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.MedicalExpenseEachAccidentEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MedicalExpenseEachAccidentEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MedicalExpenseEachAccidentEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MedicalExpenseAccidentSicknessTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MedicalExpenseAccidentSicknessTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MedicalExpenseAccidentSicknessTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.MedicalExpenseAccidentSicknessEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MedicalExpenseAccidentSicknessEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MedicalExpenseAccidentSicknessEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EmergencyMedialEvacuationTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.EmergencyMedialEvacuationTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmergencyMedialEvacuationTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.EmergencyMedialEvacuationEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.EmergencyMedialEvacuationEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmergencyMedialEvacuationEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RepatriationExpenseTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.RepatriationExpenseTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RepatriationExpenseTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.RepatriationExpenseEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.RepatriationExpenseEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RepatriationExpenseEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RepatriationMortalRemainsTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.RepatriationMortalRemainsTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RepatriationMortalRemainsTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.RepatriationMortalRemainsEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.RepatriationMortalRemainsEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RepatriationMortalRemainsEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LossDamageBaggageTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.LossDamageBaggageTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LossDamageBaggageTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.LossDamageBaggageEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.LossDamageBaggageEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LossDamageBaggageEN, "", new { @class = "text-danger" })
            </div>
        </div>

        if (!string.Equals(Request.Params["view"], "1")) {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                </div>
            </div>
        }
    }
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(":checkbox[readonly]").bind("click", false);
</script>