﻿@{
    Layout = null;
    Response.Cache.SetNoStore(); 
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
}

@model TobJod.Models.ProductMotorPremium
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-motor" })) {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ProductId)

        <div class="form-group">
            @Html.Label("E-Policy", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.EPolicy, "YesNo", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EPolicy, "", new { @class = "text-danger" })
            </div>
            @Html.Label("Plan Code", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PlanCode, new { htmlAttributes = new { @class = "form-control", required = "required", max = "999999", maxlength = "6" } })
                @Html.ValidationMessageFor(model => model.PlanCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YearMin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.YearMin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.YearMin, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.YearMax, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.YearMax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.YearMax, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.RegisterYear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.RegisterYear, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RegisterYear, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DriverAgeMin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.DriverAgeMin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DriverAgeMin, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.DriverAgeMax, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.DriverAgeMax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DriverAgeMax, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.VehicleUsage110, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.VehicleUsage110, new { htmlAttributes = new { @class = "checkbox-inline" } })
                @Html.ValidationMessageFor(model => model.VehicleUsage110, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.VehicleUsage120, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.VehicleUsage120, new { htmlAttributes = new { @class = "checkbox-inline" } })
                @Html.ValidationMessageFor(model => model.VehicleUsage120, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.VehicleUsage210, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.VehicleUsage210, new { htmlAttributes = new { @class = "checkbox-inline" } })
                @Html.ValidationMessageFor(model => model.VehicleUsage210, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.VehicleUsage220, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.VehicleUsage220, new { htmlAttributes = new { @class = "checkbox-inline" } })
                @Html.ValidationMessageFor(model => model.VehicleUsage220, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.VehicleUsage230, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.VehicleUsage230, new { htmlAttributes = new { @class = "checkbox-inline" } })
                @Html.ValidationMessageFor(model => model.VehicleUsage230, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.VehicleUsage320, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.VehicleUsage320, new { htmlAttributes = new { @class = "checkbox-inline" } })
                @Html.ValidationMessageFor(model => model.VehicleUsage320, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RegisterProvinceAll, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegisterProvinceAll, "YesNo")
                <div id="register-province" style="padding: 5px; background: #efefef;@(Model.RegisterProvinceAll ? "display:none;" : "")">
                    <label class="checkbox-inline">Province Group: </label>
                    @for (int i = 0; i < ViewBag.ProvinceList.Count; i++) {
                        var option = (TobJod.Models.ProductMotorPremiumRegisterProvince)ViewBag.ProvinceList[i];
                        if (!string.IsNullOrEmpty(option.RegisterProvinceCode)) {
                        <label class="checkbox-inline"><input type="checkbox" name="RegisterProvince[@i]" value="@option.RegisterProvinceCode" @(option.IsUsed ? "checked" : "") />@option.RegisterProvinceCode</label>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.GarageType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.GarageType, new { htmlAttributes = new { @class = "checkbox-inline" } })
                @Html.ValidationMessageFor(model => model.GarageType, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.CCTV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CCTV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CCTV, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CarInspector, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CarInspector, "YesNo")
                @Html.ValidationMessageFor(model => model.CarInspector, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.CarInspectorMethod, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CarInspectorMethod)
                @Html.ValidationMessageFor(model => model.CarInspectorMethod, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SumInsured, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SumInsured, new { htmlAttributes = new { @class = "form-control", required= "required" } })
                @Html.ValidationMessageFor(model => model.SumInsured, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NetPremium, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.NetPremium, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.NetPremium, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Premium, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Premium, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Premium, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Duty, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Duty, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Duty, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Vat, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Vat, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Vat, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DisplayPremium, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.DisplayPremium, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.DisplayPremium, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.CompulsoryPremium, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CompulsoryPremium, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.CompulsoryPremium, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CombinePremium, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CombinePremium, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.CombinePremium, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.DisplayCombinePremium, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.DisplayCombinePremium, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.DisplayCombinePremium, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OwnDamage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.OwnDamage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OwnDamage, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.OwnExcess, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.OwnExcess, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OwnExcess, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Flood, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Flood, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Flood, "", new { @class = "text-danger" })
            </div>
        </div>

        if (!string.Equals(Request.Params["view"], "1")) {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                </div>
            </div>
        }
    }
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(":checkbox[readonly]").bind("click", false);
    $("select[readonly]").bind("click", false);

    $('input[name=RegisterProvinceAll]').click(function () {
        if ($('input[name=RegisterProvinceAll]:checked').val() == 'true') {
            $('#register-province').hide();
        } else {
            $('#register-province').show();
        }
    });
    
    $('#form-motor').submit(function () {
        var minAge = parseInt($('#YearMin').val());
        var maxAge = parseInt($('#YearMax').val());
        if (!isNaN(minAge) && !isNaN(maxAge) && (minAge > maxAge)) {
            alert('อายุรถสิ้นสุด ต้องมากกว่า อายุรถเริ่มต้น');
            return false;
        }
        var minDAge = parseInt($('#DriverAgeMin').val());
        var maxDAge = parseInt($('#DriverAgeMax').val());
        if (!isNaN(minDAge) && !isNaN(maxDAge) && (minDAge > maxDAge)) {
            alert('อายุผู้ขับขี่สิ้นสุด ต้องมากกว่า อายุผู้ขับขี่เริ่มต้น');
            return false;
        }
    });
</script>