﻿@{
    Layout = null;
}

@model TobJod.Models.ProductCarModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProductId)

        <div class="form-group">
            @Html.LabelFor(model => model.BrandId, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @if (ViewBag.CurrentAction.ToString().StartsWith("Create")) {
                    @Html.DropDownListFor(model => model.BrandId, (IEnumerable<SelectListItem>)ViewBag.BrandList, "", new { @class = "form-control required" })
                    @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
                } else {
                    <div class="form-control-static">@Model.Brand</div>
                    @Html.HiddenFor(model => model.Brand)
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FamilyId, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @if (ViewBag.CurrentAction.ToString().StartsWith("Create")) {
                    @Html.DropDownListFor(model => model.FamilyId, new List<SelectListItem>(), "", new { @class = "form-control required" })
                    @Html.ValidationMessageFor(model => model.FamilyId, "", new { @class = "text-danger" })
                } else {
                    <div class="form-control-static">@Model.Family</div>
                    @Html.HiddenFor(model => model.Family)
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarModelId, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @if (ViewBag.CurrentAction.ToString().StartsWith("Create")) {
                    @Html.DropDownListFor(model => model.CarModelId, new List<SelectListItem>(), "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CarModelId, "", new { @class = "text-danger" })
                } else {
                    <div class="form-control-static">@Model.TitleTH</div>
                    @Html.HiddenFor(model => model.TitleTH)
                }
            </div>
        </div>

        if (!string.Equals(Request.Params["view"], "1")) {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                </div>
            </div>
        }
    }
</div>
@Scripts.Render("~/bundles/jqueryval")

@if (ViewBag.CurrentAction.ToString().StartsWith("Create")) {
    <script>
        $('#BrandId').change(function () {
            $('#FamilyId').prop('disabled', true);
            var url = '@Url.Action("SelectList_CarFamily")?brandId=' + $(this).val();
            $.getJSON(url, function (data) {
                var items = [];
                $.each(data, function (key, val) {
                    items.push("<option value='" + val.Value + "'>" + val.Text + "</option>");
                });

                $('#FamilyId').html('<option value=""></option>' + items.join(""));

                $('#FamilyId').prop('disabled', false);
            });
        });
        $('#FamilyId').change(function () {
            $('#CarModelId').prop('disabled', true);
            var url = '@Url.Action("SelectList_CarModel")?familyId=' + $(this).val();
            $.getJSON(url, function (data) {
                var items = [];
                $.each(data, function (key, val) {
                    items.push("<option value='" + val.Value + "'>" + val.Text + "</option>");
                });

                $('#CarModelId').html('<option value=""></option>' + items.join(""));

                $('#CarModelId').prop('disabled', false);
            });
        });
    </script>
}