﻿@{
    Layout = null;
    Response.Cache.SetNoStore();
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
}

@model TobJod.Models.ProductCareerClass
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProductId)

        <div class="form-group">
            @Html.LabelFor(model => model.CareerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @if (ViewBag.CurrentAction.ToString().StartsWith("Create")) {
                    @Html.DropDownListFor(model => model.CareerId, (ViewBag.CareerList as IEnumerable<SelectListItem>), "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CareerId, "", new { @class = "text-danger" })
                } else {
                    <div class="form-control-static">@Model.Career</div>
                    @Html.HiddenFor(model => model.CareerId)
                }
            </div>
            @Html.LabelFor(model => model.CareerClass, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CareerClass, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CareerClass, "", new { @class = "text-danger" })
            </div>
        </div>

        if (!string.Equals(Request.Params["view"], "1")) {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                </div>
            </div>
        }
    }
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(":checkbox[readonly]").bind("click", false);
</script>