﻿@{
    Layout = null;
    Response.Cache.SetNoStore();
}

@model TobJod.Models.ProductPHPremium
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-ph" })) {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ProductId)
        @Html.HiddenFor(model => model.MinAgeMonth)

        <div class="form-group">
            @Html.Label("E-Policy", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.EPolicy, "YesNo", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EPolicy, "", new { @class = "text-danger" })
            </div>
            @Html.Label("Plan Code", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PlanCode, new { htmlAttributes = new { @class = "form-control", required = "required", max = "999999", maxlength = "6" } })
                @Html.ValidationMessageFor(model => model.PlanCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sex, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @if (string.Equals(ViewBag.CurrentAction, "CreatePHPremium")) {
                    @Html.EditorFor(model => model.Sex, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                } else {
                    <div class="form-control-static">@Model.Sex.GetDisplayName()@Html.HiddenFor(model => model.Sex)</div>
                }
            </div>
            @Html.LabelFor(model => model.AgeCalculation, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @if (string.Equals(ViewBag.CurrentAction, "CreatePHPremium")) {
                    @Html.EditorFor(model => model.AgeCalculation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AgeCalculation, "", new { @class = "text-danger" })
                } else {
                    <div class="form-control-static">@Model.AgeCalculation.GetDisplayName()@Html.HiddenFor(model => model.AgeCalculation)</div>
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MinAge, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MinAge, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreatePHPremium") ? (object)new { @class = "form-control" } : (object)new { @class = "form-control", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.MinAge, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.MaxAge, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MaxAge, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreatePHPremium") ? (object)new { @class = "form-control" } : (object)new { @class = "form-control", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.MaxAge, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MinWeight, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MinWeight, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreatePHPremium") ? (object)new { @class = "form-control", max = "100", required = "required" } : (object)new { @class = "form -control", max = "100", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.MinWeight, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.MaxWeight, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MaxWeight, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreatePHPremium") ? (object)new { @class = "form-control", max = "200", required = "required" } : (object)new { @class = "form -control", max = "200", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.MaxWeight, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MinHeight, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MinHeight, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreatePHPremium") ? (object)new { @class = "form-control", max = "999", required = "required" } : (object)new { @class = "form -control", max = "200", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.MinHeight, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.MaxHeight, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MaxHeight, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreatePHPremium") ? (object)new { @class = "form-control", max = "999", required = "required" } : (object)new { @class = "form -control", max = "200", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.MaxHeight, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CareerClass1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CareerClass1, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreatePHPremium") ? (object)new { @class = "checkbox-inline" } : (object)new { @class = "checkbox-inline", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.CareerClass1, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.CareerClass2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CareerClass2, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreatePHPremium") ? (object)new { @class = "checkbox-inline" } : (object)new { @class = "checkbox-inline", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.CareerClass2, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CareerClass3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CareerClass3, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreatePHPremium") ? (object)new { @class = "checkbox-inline" } : (object)new { @class = "checkbox-inline", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.CareerClass3, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.CareerClass4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CareerClass4, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreatePHPremium") ? (object)new { @class = "checkbox-inline" } : (object)new { @class = "checkbox-inline", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.CareerClass4, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SumInsured, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.SumInsured, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.SumInsured, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.DisplayPremium, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.DisplayPremium, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.DisplayPremium, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NetPremium, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.NetPremium, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.NetPremium, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Premium, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Premium, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Premium, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Duty, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Duty, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Duty, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Vat, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Vat, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Vat, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IPDTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.IPDTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IPDTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.IPDEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.IPDEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IPDEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IPDRoomBoardTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.IPDRoomBoardTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IPDRoomBoardTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.IPDRoomBoardEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.IPDRoomBoardEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IPDRoomBoardEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OutpatientBenefitsTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.OutpatientBenefitsTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OutpatientBenefitsTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.OutpatientBenefitsEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.OutpatientBenefitsEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OutpatientBenefitsEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SurgicalExpenseTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.SurgicalExpenseTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SurgicalExpenseTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.SurgicalExpenseEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.SurgicalExpenseEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SurgicalExpenseEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CancerTreatmentTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CancerTreatmentTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CancerTreatmentTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.CancerTreatmentEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CancerTreatmentEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CancerTreatmentEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OrganTransplantTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.OrganTransplantTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrganTransplantTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.OrganTransplantEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.OrganTransplantEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrganTransplantEN, "", new { @class = "text-danger" })
            </div>
        </div>

        if (!string.Equals(Request.Params["view"], "1")) {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                </div>
            </div>
        }
    }
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(":checkbox[readonly]").bind("click", false);
    $('#form-ph').submit(function () {
        var minAge = parseInt($('#MinAge').val());
        var maxAge = parseInt($('#MaxAge').val());
        if (!isNaN(minAge) && !isNaN(maxAge) && (minAge > maxAge)) {
            alert('Max Age must be greater than Min Age.');
            return false;
        }
    });
</script>