﻿@{
    Layout = null;
    Response.Cache.SetNoStore();
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
}

@model TobJod.Models.ProductPAPremium
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-pa" })) {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ProductId)

        <div class="form-group">
            @Html.Label("E-Policy", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.EPolicy, "YesNo", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EPolicy, "", new { @class = "text-danger" })
            </div>
            @Html.Label("Plan Code", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PlanCode, new { htmlAttributes = new { @class = "form-control", required = "required", max = "999999", maxlength = "6" } })
                @Html.ValidationMessageFor(model => model.PlanCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @if (string.Equals(ViewBag.CurrentAction, "CreatePAPremium")) {
                    @Html.EditorFor(model => model.InsuranceType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.InsuranceType, "", new { @class = "text-danger" })
                } else {
                    <div class="form-control-static">@Model.InsuranceType.GetDisplayName()@Html.HiddenFor(model => model.InsuranceType)</div>
                }
            </div>
            @Html.LabelFor(model => model.AgeCalculation, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @if (string.Equals(ViewBag.CurrentAction, "CreatePAPremium")) {
                    @Html.EditorFor(model => model.AgeCalculation, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.AgeCalculation, "", new { @class = "text-danger" })
                } else {
                    <div class="form-control-static">@Model.AgeCalculation.GetDisplayName()@Html.HiddenFor(model => model.AgeCalculation)</div>
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MinAge, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MinAge, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreatePAPremium") ? (object)new { @class = "form-control", required = "required", max = "99", maxlength = "2" } : (object)new { @class = "form -control", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.MinAge, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.MaxAge, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MaxAge, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreatePAPremium") ? (object)new { @class = "form-control", required = "required", max = "99", maxlength = "2" } : (object)new { @class = "form -control", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.MaxAge, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CareerClass1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CareerClass1, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreatePAPremium") ? (object)new { @class = "checkbox-inline" } : (object)new { @class = "checkbox-inline", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.CareerClass1, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.CareerClass2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CareerClass2, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreatePAPremium") ? (object)new { @class = "checkbox-inline" } : (object)new { @class = "checkbox-inline", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.CareerClass2, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CareerClass3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CareerClass3, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreatePAPremium") ? (object)new { @class = "checkbox-inline" } : (object)new { @class = "checkbox-inline", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.CareerClass3, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.CareerClass4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CareerClass4, new { htmlAttributes = (string.Equals(ViewBag.CurrentAction, "CreatePAPremium") ? (object)new { @class = "checkbox-inline" } : (object)new { @class = "checkbox-inline", @readonly = "readonly" }) })
                @Html.ValidationMessageFor(model => model.CareerClass4, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SumInsured, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.SumInsured, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.SumInsured, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.DisplayPremium, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.DisplayPremium, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.DisplayPremium, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NetPremium, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.NetPremium, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.NetPremium, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Premium, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Premium, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Premium, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Duty, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Duty, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Duty, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Vat, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Vat, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Vat, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LossLifeTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.LossLifeTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LossLifeTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.LossLifeEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.LossLifeEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LossLifeEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MedicalExpenseTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MedicalExpenseTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MedicalExpenseTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.MedicalExpenseEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MedicalExpenseEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MedicalExpenseEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MurderAssaultTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MurderAssaultTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MurderAssaultTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.MurderAssaultEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MurderAssaultEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MurderAssaultEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RidingPassengerMotorcycleTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.RidingPassengerMotorcycleTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RidingPassengerMotorcycleTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.RidingPassengerMotorcycleEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.RidingPassengerMotorcycleEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RidingPassengerMotorcycleEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IncomeCompensationTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.IncomeCompensationTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncomeCompensationTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.IncomeCompensationEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.IncomeCompensationEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncomeCompensationEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FuneralExpenseAccidentIllnessTH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.FuneralExpenseAccidentIllnessTH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FuneralExpenseAccidentIllnessTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.FuneralExpenseAccidentIllnessEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.FuneralExpenseAccidentIllnessEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FuneralExpenseAccidentIllnessEN, "", new { @class = "text-danger" })
            </div>
        </div>

        if (!string.Equals(Request.Params["view"], "1")) {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                </div>
            </div>
        }
    }
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(":checkbox[readonly]").bind("click", false);
    $('#form-pa').submit(function () {
        var minAge = parseInt($('#MinAge').val());
        var maxAge = parseInt($('#MaxAge').val());
        if (!isNaN(minAge) && !isNaN(maxAge) && (minAge > maxAge)) {
            alert('Max Age must be greater than Min Age.');
            return false;
        }
    });
</script>