﻿@using TobJod.Utils
@model TobJod.Models.Product

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title @Model.CategoryId.ToString() / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) {
            @Html.AntiForgeryToken()
            
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)  
                @Html.HiddenFor(model => model.CategoryId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">@Model.Status</div>
                    @Html.LabelFor(model => model.SaleChannel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">@Model.SaleChannel</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">@Model.ProductCode</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.SubCategoryId, (IEnumerable<SelectListItem>)ViewBag.SubCategoryList, "", (string.Equals(ViewBag.CurrentAction, "Create") ? (object)new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" }) )
                        @Html.ValidationMessageFor(model => model.SubCategoryId, "",  new { @class = "text-danger" })
                    </div>  
                    @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.CompanyId, (IEnumerable<SelectListItem>)ViewBag.CompanyList, "", (string.Equals(ViewBag.CurrentAction, "Create") ? (object)new { @class = "form-control" } : (object)new { @class = "form-control", disabled = "disabled" }))
                        @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">@Model.Class</div>
                    @Html.LabelFor(model => model.SubClass, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">@Model.SubClass</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.InsuranceProductCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Model.InsuranceProductCode</div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.TitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Model.TitleTH</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Model.TitleEN</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ActiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.ActiveDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ExpireDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CoverageTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static"><table>@Html.Raw(ValueUtils.NewLineToBr(Model.CoverageTH))</table></div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CoverageEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  form-control-static"><table>@Html.Raw(ValueUtils.NewLineToBr(Model.CoverageEN))</table></div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SpecialCoverageTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Html.Raw(ValueUtils.NewLineToBr(Model.SpecialCoverageTH))</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SpecialCoverageEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  form-control-static">@Html.Raw(ValueUtils.NewLineToBr(Model.SpecialCoverageEN))</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConditionTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Html.Raw(ValueUtils.NewLineToBr(Model.ConditionTH))</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConditionEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  form-control-static">@Html.Raw(ValueUtils.NewLineToBr(Model.ConditionEN))</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ExceptionTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Html.Raw(ValueUtils.NewLineToBr(Model.ExceptionTH))</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ExceptionEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  form-control-static">@Html.Raw(ValueUtils.NewLineToBr(Model.ExceptionEN))</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PrivilegeTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Html.Raw(ValueUtils.NewLineToBr(Model.PrivilegeTH))</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PrivilegeEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Html.Raw(ValueUtils.NewLineToBr(Model.PrivilegeEN))</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CheckListTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Html.Raw(ValueUtils.NewLineToBr(Model.CheckListTH))</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CheckListEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Html.Raw(ValueUtils.NewLineToBr(Model.CheckListEN))</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConsentTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Html.Raw(ValueUtils.NewLineToBr(Model.ConsentTH))</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConsentEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Html.Raw(ValueUtils.NewLineToBr(Model.ConsentEN))</div>
                </div>

            if (Model.CategoryId == TobJod.Models.ProductCategoryKey.PRB) {
                <h4 class="col-md-offset-2">พ.ร.บ.</h4>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductPRB.NetPremium, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Model.ProductPRB.NetPremium.ToString("n2")</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductPRB.Duty, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Model.ProductPRB.Duty.ToString("n2")</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductPRB.Vat, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Model.ProductPRB.Vat.ToString("n2")</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductPRB.Premium, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Model.ProductPRB.Premium.ToString("n2")</div>
                </div>
            }

            if (Model.CategoryId == TobJod.Models.ProductCategoryKey.TA) {
                <h4 class="col-md-offset-2">TA</h4>
                <div class="form-group" id="country">
                    @Html.LabelFor(model => model.ProductTACountry, "Country", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <ul>
                            @foreach (var country in (List<SelectListItem>)ViewBag.CountryList) {
                                if (Model.ProductTACountry.Contains(int.Parse(country.Value))) { <li class="col-md-4">@country.Text</li> }
                            }
                        </ul>
                    </div>
                </div>
            }

            if ((string)ViewBag.CurrentAction == TobJod.Models.AdminAction.Assign.ToString()) {
                <div class="form-group">
                    @Html.LabelFor(model => model.OwnerAdminId, htmlAttributes: new { @class = "control-label col-md-2 required" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.OwnerAdminId, (IEnumerable<SelectListItem>)ViewBag.OwnerAdminList, "-- Please Select --", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.OwnerAdminId, "", new { @class = "text-danger" })
                    </div>
                </div>
            }

                <div class="form-group">
                    @Html.LabelFor(model => model.ApproveMessage, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if ((string)ViewBag.CurrentAction == TobJod.Models.AdminAction.Approve.ToString()) {
                        @Html.EditorFor(model => model.ApproveMessage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ApproveMessage, "", new { @class = "text-danger" })
                        } else {
                        <div class="form-control-static">@Model.ApproveMessage</div>
                        }
                    </div>
                </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @if ((string)ViewBag.CurrentAction == TobJod.Models.AdminAction.Approve.ToString()) {
                        <button type="submit" class="btn btn-primary" name="Approve" value="@TobJod.Models.ApproveStatus.Approve">Approve</button>
                        <button type="submit" class="btn btn-warning" name="Approve" value="@TobJod.Models.ApproveStatus.Reject">Reject</button>
                    } else if ((string)ViewBag.CurrentAction == TobJod.Models.AdminAction.Assign.ToString()) {
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                    } else {
                        <button type="button" class="btn btn-warning" onclick="javascript: history.back();">BACK</button>
                    }
                </div>
            </div>
        }

    </div>
</div>

@if (!string.Equals(ViewBag.CurrentAction, "Create") && Model.CategoryId != TobJod.Models.ProductCategoryKey.PRB) {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Premium</h3>
        </div>
        <div class="panel-body">
            <div class="table-primary">
                <table class="table table-striped table-bordered data-table data-table-action" id="dataTable">
                    <thead>
                        <tr>
                            @if (Model.CategoryId == TobJod.Models.ProductCategoryKey.Motor) {
                                <th>Register Year</th>
                                <th>Year Min</th>
                                <th>Year Max</th>
                                <th>Sum Insured</th>
                                <th>Premium</th>
                            } else if (Model.CategoryId == TobJod.Models.ProductCategoryKey.Home) {
                                <th>Property Type</th>
                                <th>Construction Type</th>
                                <th>Cover Period</th>
                                <th>Sum Insured</th>
                                <th>Premium</th>
                            } else if (Model.CategoryId == TobJod.Models.ProductCategoryKey.PA) {
                                <th>Age Min</th>
                                <th>Age Max</th>
                                <th>Insurance Type</th>
                                <th>Premium</th>
                            } else if (Model.CategoryId == TobJod.Models.ProductCategoryKey.PH) {
                                <th>Sex</th>
                                <th>Age Min</th>
                                <th>Age Max</th>
                                <th>Sum Insured</th>
                                <th>Premium</th>
                            } else if (Model.CategoryId == TobJod.Models.ProductCategoryKey.TA) {
                                <th>Min Days</th>
                                <th>Max Days</th>
                                <th>Persons</th>
                                <th>Sum Insured</th>
                                <th>Premium</th>
                            }
                            <th class="action action-@((ViewBag.CurrentMenu.Can_Edit ? 1 : 0) + (ViewBag.CurrentMenu.Can_Delete ? 1 : 0))" data-sortable="false"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    @Html.Partial("_Modal")
}
@if (Model.ProductCarModel != null) {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Car Model</h3>
        </div>
        <div class="panel-body">
            <div class="table-primary">
                <table class="table table-striped table-bordered data-table data-table-action" id="dataTableCar">
                    <thead>
                        <tr>
                            <th>Brand</th>
                            <th>Family</th>
                            <th>Model</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
}

@if (Model.ProductRegisterProvince != null) {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Register Province</h3>
        </div>
        <div class="panel-body">
            <div class="table-primary">
                <table class="table table-striped table-bordered data-table data-table-action" id="dataTableRegisterProvince">
                    <thead>
                        <tr>
                            <th>Province</th>
                            <th>Code</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
}

@if (Model.ProductCareer != null && Model.ProductCareer.Count > 0) {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Career</h3>
        </div>
        <div class="panel-body">
            <div class="table-primary">
                <table class="table table-striped table-bordered data-table data-table-action" id="dataTableCareer">
                    <thead>
                        <tr>
                            <th>Career</th>
                            <th>Class</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
}

@section js {
    @Scripts.Render("~/bundles/jqueryval")
    @if (!string.Equals(ViewBag.CurrentAction, "Create")) {
        <script>
            var $table, $tableCar, $tableRegisterProvince, $tableCareer;
        $(function () {

            $table = $('#dataTable').DataTable({
                ajax: {
                    url: '@Url.Action("DataTable_" + Model.CategoryId.ToString() + "_Premium")?product_id=@Model.Id&view=1',
                    type: 'POST'
                },
                order: [[0, 'desc']]
            });
            if ($('#dataTableCar').length > 0) {
                $tableCar = $('#dataTableCar').DataTable({
                    ajax: {
                        url: '@Url.Action("DataTable_Motor_Car")?product_id=@Model.Id&view=1',
                        type: 'POST'
                    },
                    order: [[0, 'asc']]
                });

            }
            if ($('#dataTableRegisterProvince').length > 0) {
                $tableRegisterProvince = $('#dataTableRegisterProvince').DataTable({
                    ajax: {
                        url: '@Url.Action("DataTable_Motor_Province")?product_id=@Model.Id&view=1',
                        type: 'POST'
                    },
                    order: [[0, 'asc']]
                });

            }
            if ($('#dataTableCareer').length > 0) {
                $tableCareer = $('#dataTableCareer').DataTable({
                    ajax: {
                        url: '@Url.Action("DataTable_" + Model.CategoryId.ToString() + "_Career")?product_id=@Model.Id&view=1',
                        type: 'POST'
                    },
                    order: [[0, 'asc']]
                });

            }
        });
        $(document).on('hidden.bs.modal', function (e) {
            $(e.target).removeData('bs.modal');
        });
        //function CloseModal() {
        //    $('#modal').modal('hide');
        //    $table.ajax.reload();
        //}
        $('#modal').on('submit', 'form', function (e) {
            e.preventDefault()
            $.post($(this).attr('action'), $(this).serialize(), function (data) {
                // just try to see the outputs
                console.log(data)
                if (data.success === true) {
                    $('#modal').modal('hide');
                    $table.ajax.reload();
                    if ($tableCareer != undefined) $tableCareer.ajax.reload();
                } else {
                    alert('Cannot update. Please try again later.');
                }
            }, 'json')
        });
        </script>
    }
    <script>
        $(function () {
            $('.date-picker').datepicker({ format: "dd/mm/yyyy", autoclose: true });
            $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }
                    var re = /[0-3]\d\/[01]\d\/\d{4}/;
                    var ok;
                    try {
                        ok = value.match(re) != null;
                    } catch (err) { ok = false; }
                    return ok;
                });
            $('.select-multiple').select2();
        });
        $('.modal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
    </script>
}
