﻿@{ Layout = "~/Views/Shared/EN/_Layout.cshtml"; }
@using TobJod.Web
@model TobJod.Web.Models.NewsListViewModel

<main id="page-product-thumbnail" class="tomDev">
    <div class="lineTop"></div>
    <div class="container">
        <div class="row">
            <h1><strong>"Tobjod"</strong> News </h1>
        </div>
        <div class="row">
            <div class="col-md-12 arrow-right">
                <a href="@Url.Action("Index")" class="btnOutline">Back to previous page</a>
            </div>
        </div>
    </div>

    <section id="newsDetailSection">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 gallery">
                    @if (Model.News.Gallery != null && Model.News.Gallery.Count > 0) {
                    <div class="galleryMain"><img src="@Model.UrlUpload@Model.News.Gallery[0].Image" alt="" class="img-responsive"></div>
                    <div class="galleryBox owl-carousel6">
                        @foreach (var item in Model.News.Gallery) {
                            <div class="item"><img src="@Model.UrlUpload@item.Image" alt="@item.TitleEN" class="img-responsive" title="@item.TitleEN"></div>
                        }
                    </div>
                    }
                </div>
                <div class="col-sm-6 detail">
                    <div class="beforeTitle">
                        <div>@Model.News.NewsSubCategory</div>
                        <div>@Model.News.CreateDate.ToString("dd MMMM yyyy", Model.CultureEN)</div>
                    </div>
                    <h2 class="Title">@Model.News.TitleEN</h2>
                    <div class="content">
                        @Html.Raw(Model.News.BodyEN.ReplacePath())
                    </div>
                    <div class="container-btn">
                        <a href="#" class="btnOutline addthis_button_compact">Share this</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="newsSection" class="setGray">
        <div class="container">
            <div class="row" id="news-box">
                @foreach (var item in Model.NewsList) {
                    <div class="item col-sm-4">
                        <a href="@Url.Action("Detail", new { year = item.UrlPrefix, slug = item.UrlEN } )">
                            <div>
                                <img src="@Model.UrlUpload@item.ImageEN" alt="@item.ImageAltEN" class="img-responsive">
                            </div>
                            <div>
                                <div>
                                    <div><b>@item.NewsSubCategory</b></div>
                                    <div>@item.CreateDate.ToString("dd MMMM yyyy")</div>
                                </div>
                                <h2>@item.TitleEN</h2>
                                <div class="brief">
                                    @Html.Raw(item.BriefEN.ReplacePath())
                                </div>
                                <div class="btnLink">View</div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
</main>


@section js {
    <script>
        $(function () {
            $('#news-box .item > a').matchHeight({ byRow: true, property: 'height', target: null, remove: false });
        });
    </script>
}