﻿@model TobJod.Web.Models.OrderViewModel
@{
    var ci = new System.Globalization.CultureInfo("th-TH");
    var countryRepo = new TobJod.Repositories.CountryRepository();
    var categoryRepo = new TobJod.Repositories.ProductCategoryRepository();
}


<!-- start product detail -->
<div class="row item-content">
    <div class="col-md-12">
        <div class="inner head_line">
            <h5>สรุปรายการสั่งซื้อ</h5>
        </div>
    </div>
    <div class="col-md-12 content_detail new_form_v1 type-1">
        <div class="inner">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <figure>
                    <img src="@Model.ProductItem.CompanyImage" alt="" title="" class="img-responsive" />
                </figure>
            </div>

            <div class="hidden-xs col-sm-2 hidden-md hidden-lg"> </div>

            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="col-md-6 col-xs-12 col-sm-6 col-lg-6 size-1"><h2>@Model.ProductItem.Company <strong>@Model.ProductItem.TitleTH</strong></h2></div>
                <div class="col-md-6 col-xs-12 col-sm-6 col-lg-6 price-1 size-1"><h2 style="float:right; padding-right:30px;">@((Model.ProductApplication.DisplayPremium).ToString("n2")) บาท</h2></div>
                @{
                    var promotion = Model.ProductItem.Promotion.Where(x => x.Id == TobJod.Utils.NullUtils.cvInt(Model.ProductApplication.PromotionId)).FirstOrDefault();
                }
                @if (promotion != null) {

                    if (promotion.PromotionType == TobJod.Models.PromotionType.Gift) {
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;">
                        <div class="col-md-6 col-xs-6 col-sm-6 size-1"><h2>ฟรี</h2></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 size-1 price-1"><h2><span style="float:right; padding-right:30px;">@promotion.Gift</span></h2></div>
                        </div>
                    } else {
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;">
                        <div class="col-md-6 col-xs-6 col-sm-6 size-1"><h2>ส่วนลด</h2></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 size-1 price-1"><h2><span style="float:right; padding-right:30px;">@promotion.DiscountAmount.ToString("0") @(promotion.DiscountType == TobJod.Models.PromotionDiscountType.Amount ? "บาท" : "%")</span></h2></div>
                        </div>
                    }
                }
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> </div>

            <div class="clearfix"></div>

            <div class="uder-line">
                <div class="background-color-bg"></div>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text-right">
                <div class="caption-display">ราคาสุทธิ</div>
                <div class="price">
                    <span>@((Model.ProductApplication.DisplayPremium - Model.ProductApplication.TotalDiscount).ToString("n2")) </span> บาท
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end product detail -->
<!-- start order detail -->
<div class="row item-content">
    <div class="col-md-12">
        <div class="inner head_line">
            <h5>ข้อมูลรายการสั่งซื้อ</h5>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 content_detail new_form_v1 type-1">
        <div class="inner">
            <div class="col-md-2 hidden-xs col-sm-2"></div>

            <div class="col-xs-12 col-md-8 col-sm-8">

                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>ประเภทประกันภัย</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@(categoryRepo.GetProductSubCategory((int)Model.ProductItem.SubCategoryId)?.TitleTH)</span></h2></div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>ชื่อแผนประกัน</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@Model.ProductItem.Company @Model.ProductItem.TitleTH</span></h2></div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>ชื่อบริษัทประกัน</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@Model.ProductItem.Company</span></h2></div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>รูปแบบกรมธรรม์</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@(Model.ProductApplication.EPolicy == 1 ? "E-Policy" : "ส่งทางไปรษณีย์")</span></h2></div>
                </div>
                
                @if (Model.ProductApplicationMotor != null && Model.ProductApplicationMotor.ApplicationId > 0) {
                    var masterRepo = new TobJod.Repositories.MasterOptionRepository();
                    var usage = "";
                    var carProvince = "";
                    TobJod.Models.ProductMotorVehicleUsage vehicleUsage;
                    TobJod.Repositories.CarRepository carRepo = new TobJod.Repositories.CarRepository();
                    if (Enum.TryParse< TobJod.Models.ProductMotorVehicleUsage>(Model.ProductApplicationMotor.CarUsageType.ToString(), out vehicleUsage)) {
                        usage = TobJod.Utils.ValueUtils.GetEnumDisplayName(vehicleUsage);
                        if (usage == "0") { usage = ""; }
                    }
                    var cp = masterRepo.GetMasterOption_Active(Model.ProductApplicationMotor.CarProvinceId);
                    if (cp != null) { carProvince = cp.TitleTH; }
                    var carBrand = carRepo.GetCarBrand_Active(TobJod.Models.Language.TH, TobJod.Utils.NullUtils.cvInt(Model.ProductApplicationMotor.CarBrand)).TitleTH;

                    if (!string.IsNullOrEmpty(usage)) {
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 unpad">
                        <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>ประเภทรถยนต์</h2></div>
                        <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@(usage)</span></h2></div>
                    </div>
                    }
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 unpad">
                        <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>รุ่นรถยนต์</h2></div>
                        <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@(carBrand + " "  + Model.ProductApplicationMotor.CarModel)</span></h2></div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 unpad">
                        <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>หมายเลขเครื่อง</h2></div>
                        <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@(Model.ProductApplicationMotor.CarEngineNo)</span></h2></div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 unpad">
                        <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>ปีจดทะเบียน</h2></div>
                        <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@(Model.ProductApplicationMotor.CarRegisterYear)</span></h2></div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 unpad">
                        <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>จังหวัดจดทะเบียน</h2></div>
                        <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@carProvince</span></h2></div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 unpad">
                        <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>หมายเลขทะเบียนรถยนต์</h2></div>
                        <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@(Model.ProductApplicationMotor.CarPlateNo1 + " " + Model.ProductApplicationMotor.CarPlateNo2)</span></h2></div>
                    </div>
                }

            </div>
            <div class="col-md-2 hidden-xs col-sm-2"> </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end order detail -->
<!-- start customer detail -->
<div class="row item-content">
    <div class="col-md-12">
        <div class="inner head_line">
            <h5>ข้อมูลผู้เอาประกัน</h5>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 content_detail new_form_v1 type-1">
        <div class="inner udetail">
            <div class="col-md-2 hidden-xs col-sm-2"></div>
            <div class="col-xs-12 col-md-8 col-sm-8">

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>ชื่อผู้สมัคร</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplicationPolicyHolders[0].Name</span></h2></div>
                </div>

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>นามสกุล</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplicationPolicyHolders[0].Surname</span></h2></div>
                </div>

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>สัญชาติ</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@(countryRepo.GetCountry_Admin(Model.ProductApplicationPolicyHolders[0].NationalId)?.TitleTH)</span></h2></div>
                </div>

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>เลขที่บัตร</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplicationPolicyHolders[0].IDCard</span></h2></div>
                </div>

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>วันเกิด</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplicationPolicyHolders[0].Birthday.ToString("d MMMM yyyy", ci)</span></h2></div>
                </div>

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>อายุ</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@(TobJod.Utils.DateUtils.CalculateAge(Model.ProductApplicationPolicyHolders[0].Birthday, " ปี ", " เดือน"))</span></h2></div>
                </div>

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>โทรศัพท์</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplicationPolicyHolders[0].Telephone</span></h2></div>
                </div>

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>มือถือ</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplicationPolicyHolders[0].MobilePhone</span></h2></div>
                </div>

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>อีเมล</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplicationPolicyHolders[0].Email</span></h2></div>
                </div>

            </div>
            <div class="col-md-2 hidden-xs col-sm-2"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end customer detail -->
<!-- start order summary detail -->
<div class="row item-content">
    <div class="col-md-12">
        <div class="inner head_line">
            <h5>รายละเอียดความคุ้มครอง</h5>
        </div>
    </div>


    <div class="col-xs-12 col-md-12 content_detail new_form_v1 type-1">
        <div class="inner udetail">
            <div class="col-md-2 hidden-xs col-sm-2"></div>
            <div class="col-xs-12 col-md-8 col-sm-8">

                <div class="col-xs-5 col-sm-6 col-md-6 size-1" style="white-space: nowrap;"><h2>ค่าเบี้ยประกัน</h2></div>
                <div class="col-xs-7 col-sm-6 col-md-6 size-1"> <h2><span>@((Model.ProductApplication.DisplayPremium - Model.ProductApplication.TotalDiscount).ToString("n2")) บาท</span></h2></div>

                <div class="col-xs-5 col-sm-6 col-md-6 size-1" style="white-space: nowrap;"><h2>เริ่มต้นคุ้มครอง</h2></div>
                <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplication.ActiveDate.ToString("d MMMM yyyy", ci)</span></h2></div>

                <div class="col-xs-5 col-sm-6 col-md-6 size-1" style="white-space: nowrap;"><h2>สิ้นสุดคุ้มครอง</h2></div>
                <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplication.ExpireDate.ToString("d MMMM yyyy", ci)</span></h2></div>

                <div class="col-xs-12 size-1" style="white-space: nowrap;"><h2>ความคุ้มครองหลัก</h2></div>
                <div class="col-xs-12 size-1">@Html.Raw(string.IsNullOrWhiteSpace(Model.ProductItem.CoverageTH) ? "-" : "<table class='table-summary-coverage'>" + Model.ProductItem.CoverageTH + "</table>")<br /></div>

                <div class="col-xs-12 size-1" style="white-space: nowrap;"><h2>เงื่อนไขการรับประกันภัย</h2></div>
                <div class="col-xs-12 size-1">@Html.Raw(string.IsNullOrWhiteSpace(Model.ProductItem.ConditionTH) ? "-" : Html.Encode(Model.ProductItem.ConditionTH).Replace("\n", "<br />"))<br /></div>

                <div class="col-xs-12 size-1" style="white-space: nowrap;"><h2>ข้อยกเว้น</h2></div>
                <div class="col-xs-12 size-1">@Html.Raw(string.IsNullOrWhiteSpace(Model.ProductItem.ExceptionTH) ? "-" : Html.Encode(Model.ProductItem.ExceptionTH).Replace("\n", "<br />"))<br /></div>

                <div class="col-xs-12 size-1" style="white-space: nowrap;"><h2>สิทธิพิเศษ</h2></div>
                <div class="col-xs-12 size-1">@Html.Raw(string.IsNullOrWhiteSpace(Model.ProductItem.PrivilegeTH) ? "-" : Html.Encode(Model.ProductItem.PrivilegeTH).Replace("\n", "<br />"))<br /></div>

                <div class="col-xs-12 size-1" style="white-space: nowrap;"><h2>คำรับรองถ้อยแถลง</h2></div>
                <div class="col-xs-12 size-1">@Html.Raw(string.IsNullOrWhiteSpace(Model.ProductItem.ConsentTH) ? "-" : Html.Encode(Model.ProductItem.ConsentTH).Replace("\n", "<br />"))</div>
            </div>
            <div class="col-md-2 hidden-xs col-sm-2"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>