﻿<div id="otp-popup-box">
    <div id="otp-popup" align="center" class="lightbox">
        <span id="closemodal" class="close cursor" onclick="closeModal();">&times;</span>
        <div id="otp-verify-form">
            <form id="form-otp" action="post">
                <div>
                    <p>กรุณากรอก OTP Password ที่ถูกส่งไปยังหมายเลขโทรศัพท์ของท่าน</p>
                </div>
                <label class="form-group required">
                    <div class="col-md-8 padding-0">
                        <input id="otp-password" type="text" class="form-control otp-password required" maxlength="6" name="otp-password" placeholder="ตัวอย่าง : 123456" pattern="^([0-9]{6})$" data-fv-regexp___message="กรุณากรอกตัวเลข 6 หลัก" required />
                    </div>
                    <div class="col-md-4 padding-0" id="berifybutdiv">
                        <button id="otp-verify-button" class="otp-verify-button" type="button">Verify</button><br />
                    </div>
                    <div class="col-md-12">
                        <br /><br /><a href="#" id="otp-send-again" class="otp-send-again"><span class="fa fa-refresh"></span><span class="otp-send-again-text"> ส่งรหัสอีกครั้ง</span><span class="otp-send-sending-text"> กำลังส่งรหัส OTP...</span></a>
                        <div id="otp-message-error" class="otp-message-error">
                            <span class="otp-message-error-1">รหัส OTP ไม่ถูกต้อง</span>
                            <span class="otp-message-error-998">ท่านได้ทำการใส่รหัส OTP เกินจำนวนครั้งที่กำหนด<br/>กรุณาทำการขอรหัส OTP ใหม่</span>
                            <span class="otp-message-error-999">ไม่สามารถติดต่อระบบได้<br/>กรุณาลองใหม่อีกครั้ง</span>
                        </div>
                    </div>
                </label>
            </form>
        </div>
    </div>
</div>