﻿
@{
    
}
<!-- Modal -->
<div class="modal fade" id="contact-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--  <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div> -->
            <div class="modal-body">
                <form action="@Url.Content("~")" class="form_style" method="get">
                    <div class="clearfix">
                        <h4 class="text-center">ข้อความแจ้งเตือน</h4>
                        <div class="warp">
                            <p class="text-center">
                                กรุณารอเจ้าหน้าที่โทรติดต่อกลับเพื่อยืนยันข้อมูลประกัน
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary contact-submit">ตกลง</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    
</script>
