


<div class="something-semantic">
    <div class="something-else-semantic">
        <p class="concent">“ผู้ซื้อควรทำความเข้าใจในรายละเอียดความคุ้มครองและเงื่อนไขก่อนตัดสินใจทำประกันภัยทุกครั้ง ทั้งนี้เว็บไซต์ตอบโจทย์ โดย บริษัท ธนชาตโบรกเกอร์ จำกัด เป็นเพียงช่องทางในการอำนวยความสะดวกในการทำประกันกับ บริษัทประกันภัย   โดยบริษัทประกันภัยที่ท่านเลือกจะเป็นผู้รับผิดชอบในการปฎิบัติตามเงื่อนไขความคุ้มครองและสิทธิประโยชน์ตามเงื่อนไขที่ระบุไว้ในสัญญาประกันภัย” </p>
    </div>
</div>