﻿@model TobJod.Models.PaymentResponse
@{ Layout = "~/Views/Shared/TH/_Layout.cshtml"; }

@{
    var pGift = new List<TobJod.Models.PromotionItem>();
    var pDiscount = new List<TobJod.Models.PromotionItem>();
}

<section id="banner_section" class="container-fluid clear-boot-pad">
    <a href="@Url.Action("motor-product")" class="item" target="_blank">
        <figure>
            <img class="lazy img-responsive" data-original="@Url.Content("~/uploads/header_banner/01.jpg")" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  />
        </figure>
    </a>
</section>

<main id="product-detail" class="product-detail">
    <div class="wizard-wrapper">
        <div class="wizard-container container clear-boot-pad hidden-xs hidden-sm">
            <section id="wizard4">
                <ul>
                    <li class="item1st"><button class="active">ค้นหา / เปรียบเทียบ</button></li>
                    <li class="item2nd"><button class="active">รายละเอียดผลิตภัณฑ์</button></li>
                    <li class="item3rd"><button class="active">รายละเอียดผู้ถือกรมธรรม์</button></li>
                    <li class="item4th"><button class="active">ข้อมูลการชำระเงิน</button></li>
                </ul>
            </section>
        </div>
        <div class="reg-progress hidden-lg hidden-md">
            <p class="wizard-title hidden-lg hidden-sm" align="center">ข้อมูลการชำระเงิน</p>
            <ol class="reg-progress__steps">
                <li data-step="1" class="is-active is-complete">
                    <div class="subTitle hidden-xs">ค้นหา / เปรียบเทียบ</div>
                </li>
                <li data-step="2" class="is-active is-complete">
                    <div class="subTitle hidden-xs">รายละเอียดผลิตภัณฑ์</div>
                </li>
                <li data-step="3" class="is-active is-complete">
                    <div class="subTitle hidden-xs">รายละเอียดผู้ถือกรมธรรม์</div>
                </li>
                <li data-step="4" class="is-active is-complete">
                    <div class="subTitle hidden-xs">ข้อมูลการชำระเงิน</div>
                </li>
            </ol>
        </div>
        <div class="col-md-12">
            <div class="container arrow-back">
                <div class="row">
                    <div class="col-md-12 text-xs-center text-sm-center text-md-right">
                        <div class="inner">

                            <a id="" href="@ViewBag.PreviousUrl" class="btnOutline">ย้อนกลับ</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="warp-des">

    </div>
    <div class="clearfix"></div>
    <div class="container form-wrapper">
        <section class="col-md-12 new_form_v1 type-thanks">
            <div class="row item-content">
                <div class="col-md-12">

                </div>
                <div class="col-md-12 content_detail">
                    <div class="inner">
                        <div class="something-semantic">
                            <div class="something-else-semantic">
                                <h1 class="head_line">
                                   @ViewBag.Message
                                </h1>
                                <h5>
                                    กรุณารอการติดต่อกลับของเจ้าหน้าที่
                                </h5>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="row item-content">
                <div class="btn-bottom">
                    <div class="something-semantic">
                        <div class="something-else-semantic">
                            <div class="contact-agent-bot"><a class="" href="@ViewBag.BackUrl"><b>กลับหน้าหลัก</b></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


</main>
