﻿@model TobJod.Web.Models.OrderViewModel
@{ Layout = "~/Views/Shared/TH/_Layout.cshtml"; }

@{
    var pGift = new List<TobJod.Models.PromotionItem>();
    var pDiscount = new List<TobJod.Models.PromotionItem>();
}

<section id="banner_section" class="container-fluid clear-boot-pad">
    <a href="@Url.Action("home-product")" class="item" target="_blank">
        <figure>
            <img src="@Url.Content("~/assets/images/hero_banner/home05.jpg")" class="img-responsive" />
        </figure>
    </a>
</section>

<main id="product-detail" class="product-detail application-form">
    <div class="wizard-wrapper">
        <div class="wizard-container container clear-boot-pad hidden-xs hidden-sm">
            <section id="wizard3">
                <ul>
                    <li class="item1st"><button class="active">ค้นหา / เปรียบเทียบ</button></li>
                    <li class="item2nd"><button class="active">รายละเอียดผลิตภัณฑ์</button></li>
                    <li class="item3rd"><button class="active">รายละเอียดผู้ถือกรมธรรม์</button></li>
                    <li class="item4th"><button class="@(Model.State == (int)TobJod.Models.ProductApplicationStage.Base.Final || Model.State == (int)TobJod.Models.ProductApplicationStage.Base.Success ? "active" : "")">ข้อมูลการชำระเงิน</button></li>
                </ul>
            </section>
        </div>
        <div class="reg-progress hidden-lg hidden-md">
            <p class="wizard-title hidden-lg hidden-sm" align="center">รายละเอียดผู้ถือกรมธรรม์</p>
            <ol class="reg-progress__steps">
                <li data-step="1" class="is-active is-complete">
                    <div class="subTitle hidden-xs">ค้นหา / เปรียบเทียบ</div>
                </li>
                <li data-step="2" class="is-active is-complete">
                    <div class="subTitle hidden-xs">รายละเอียดผลิตภัณฑ์</div>
                </li>
                <li data-step="3" class="is-active is-complete active-now">
                    <div class="subTitle hidden-xs">รายละเอียดผู้ถือกรมธรรม์</div>
                </li>
                <li data-step="4" class="@(Model.State == (int)TobJod.Models.ProductApplicationStage.Base.Final || Model.State == (int)TobJod.Models.ProductApplicationStage.Base.Success ? "is-active is-complete active-now" : "")">
                    <div class="subTitle hidden-xs">ข้อมูลการชำระเงิน</div>
                </li>
            </ol>
        </div>
        <div class="col-md-12">
            <div class="container arrow-back">
                <div class="row">
                    <div class="col-md-12 text-xs-center text-sm-center text-md-right">
                        <div class="inner">
                            @if (Model.State != TobJod.Models.ProductApplicationStage.Home.HomeForm) {
                                <a id="btn_back" href="javascript:void(0)" class="btnOutline">ย้อนกลับ</a>
                            } else {
                                <a id="" href="@(string.IsNullOrEmpty(TobJod.Utils.NullUtils.cvString(Model.ProductApplication.PreviousUrl)) ? Url.Content("~") : Model.ProductApplication.PreviousUrl)" class="btnOutline">ย้อนกลับ</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="warp-des">

    </div>
    <div class="clearfix"></div>
    <div class="container form-wrapper">
        <section id="form" class="col-md-12 new_form_v1 type-form-input @(Model.State == TobJod.Models.ProductApplicationStage.Home.Success ? " type-1":"")">
            <form id="order_form" action="@Url.Action("Home","Order", new { ApplicationId = Model.ApplicationId, ProductId = Model.ProductId, Token = Model.Token })" method="post" enctype="multipart/form-data"
                  data-fv-autofocus="true"
                  data-fv-framework="bootstrap"
                  data-fv-message="This value is not valid"
                  data-fv-icon-valid="glyphicon glyphicon-ok"
                  data-fv-icon-invalid="glyphicon glyphicon-remove"
                  data-fv-icon-validating="glyphicon glyphicon-refresh">
                @Html.AntiForgeryToken()
                @foreach (var page in Model.ProductApplicationFields.GroupBy(o => new { o.Value.Page, o.Value.Step })) {
                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.Home && page.Any()) {
                        <div class="row item-content">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <h5>รายการทรัพย์สินที่เอาประกัน</h5>
                                </div>
                            </div>
                            @Html.Partial("TH/_ProductApplication_Home", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step } })
                        </div>
                    }

                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.Home_Address && page.Any()) {
                        <div class="row item-content">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <h5>สถานที่ตั้งทรัพย์</h5>
                                </div>
                            </div>
                            @Html.Partial("TH/_ProductApplication_Home", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step } })
                        </div>
                    }

                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.PolicyHolderForm && page.Any()) {
                        for (int i = 0; i < 1; i++) {
                            if (Model.ProductApplicationPolicyHolders.Length > i) { Model.ProductApplicationPolicyHolder = Model.ProductApplicationPolicyHolders[i]; } else { Model.ProductApplicationPolicyHolder = new TobJod.Models.ProductApplicationPolicyHolder(); }
                            <div id="policy_holder_container_@i" class="row item-content policy-holder" style="visibility:visible;display: @(i == 0 || Model.ProductApplicationPolicyHolders.Length > i? "block": "none")">
                                <div class="col-md-12">
                                    <div class="inner head_line">
                                        <div class="row">
                                            <div class="col-md-6 head_line_height col-xs-9">
                                                <h5>ข้อมูลผู้เอาประกัน <span>@(i + 1)</span></h5>
                                            </div>
                                            <div class="col-md-6 head_line_height text-md-right text-lg-right col-xs-3 text-xs-right">
                                                @*@if (i == 0)
                                                    {
                                                        <a href="javascript:void(0)" class="add_more_tab" data-target="#policy_holder_container_@i">
                                                            <img src="@Url.Content("~/assets/images/icon/icon_1_plus.png")" alt="" title="">
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="javascript:void(0)" class="add_minus_tab_policy_holder" data-target="#policy_holder_container_@i">
                                                            <img src="@Url.Content("~/assets/images/icon/icon_1_minus.png")" alt="" title="">
                                                        </a>
                                                    }*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @Html.Partial("TH/_ProductApplication_Home", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step }, { "Index", i } })
                            </div>
                        }
                    }

                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.ContactForm && page.Any()) {
                        <div class="row item-content">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <h5>ผู้ติดต่อกรณีฉุกเฉิน</h5>
                                </div>
                            </div>
                            @Html.Partial("TH/_ProductApplication_Home", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step } })
                        </div>

                    }

                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.BuyerForm && page.Any()) {
                        <div class="row item-content">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <h5>ชื่อผู้ขอเอาประกันภัย(กรณีซื้อแทนผู้เอาประกันภัย)</h5>
                                </div>
                            </div>
                            @Html.Partial("TH/_ProductApplication_Home", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step } })
                        </div>

                    }

                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.AddressForm_1 && page.Any()) {
                        <div class="row item-content" id="policy_holder_address_container">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <div class="row">
                                        <div class="col-md-12 head_line_height">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-10 col-xs-10 col-sm-10 col-lg-8">
                                                            <h5>ที่อยู่ผู้เอาประกันภัย</h5>
                                                        </div>
                                                        <!--
                                                        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-4 check_box_holder">

                                                            <label>
                                                                <span class="checkbox_chk "></span>
                                                                <input type="checkbox" name="1" class="" />
                                                                <font style="letter-spacing: 1px !important; font-weight: normal !important;">ที่อยู่เดียวกับที่อยู่ผู้เอาประกันภัย</font>
                                                            </label>

                                                        </div>
                                                        -->
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>

                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            @Html.Partial("TH/_ProductApplication_Home", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step } })
                        </div>

                    }

                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.AddressForm_2 && page.Any()) {
                        <div class="row item-content" id="billing_address_container">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <div class="row">
                                        <div class="col-md-12 head_line_height">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-6 col-xs-12 col-sm-6 col-lg-5">
                                                            <h5>ที่อยู่ในการออกใบกำกับภาษี</h5>
                                                        </div>
                                                        <div class="col-md-6 col-xs-12 col-sm-6 col-lg-7 check_box_holder">

                                                            <label>
                                                                <span class="checkbox_chk @(Model.ProductApplication.BillingAddressIsChecked == TobJod.Models.YesNo.Yes ? "active": "")"></span>
                                                                <input type="checkbox" name="ProductApplication[BillingAddressIsChecked]" value="@((int)TobJod.Models.YesNo.Yes)" @(Model.ProductApplication.BillingAddressIsChecked == TobJod.Models.YesNo.Yes ? "checked data-checked=\"1\"" : "") class="copy-address-holder" data-replace-with="Billing" data-source="#policy_holder_address_container" data-target="#billing_address_container">
                                                                <font style="letter-spacing: 1px !important; font-weight: normal !important;">ที่อยู่เดียวกับที่อยู่ผู้เอาประกันภัย</font>
                                                            </label>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>

                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>
                            @Html.Partial("TH/_ProductApplication_Home", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step } })
                        </div>

                    }

                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.AddressForm_3 && page.Any()) {
                        <div class="row item-content" id="shipping_address_container">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <div class="row">
                                        <div class="col-md-12 head_line_height">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-6 col-xs-12 col-sm-6 col-lg-5">
                                                            <h5>ที่อยู่ในการจัดส่งกรมธรรม์</h5>
                                                        </div>
                                                        <div class="col-md-6 col-xs-12 col-sm-6 col-lg-7 check_box_holder">

                                                            <label>
                                                                <span class="checkbox_chk @(Model.ProductApplication.ShippingAddressIsChecked == TobJod.Models.YesNo.Yes ? "active": "")"></span>
                                                                <input type="checkbox" name="ProductApplication[ShippingAddressIsChecked]" value="@((int)TobJod.Models.YesNo.Yes)" @(Model.ProductApplication.ShippingAddressIsChecked == TobJod.Models.YesNo.Yes ? "checked data-checked=\"1\"" : "") data-replace-with="Shipping" class="copy-address-holder" data-source="#policy_holder_address_container" data-target="#shipping_address_container">
                                                                <font style="letter-spacing: 1px !important; font-weight: normal !important;">ที่อยู่เดียวกับที่อยู่ผู้เอาประกันภัย</font>
                                                            </label>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>

                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>
                            @Html.Partial("TH/_ProductApplication_Home", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step } })
                        </div>

                    }
                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.AttachmentForm && page.Any()) {
                        <div class="row item-content">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <h5>เอกสารแนบ</h5>
                                </div>
                            </div>
                            @Html.Partial("TH/_ProductApplication_Home", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step } })
                        </div>
                        <div class="row item-content">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <div class="row">
                                        <div class="col-md-12 head_line_height">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h5>คำรับรองถ้อยแถลง</h5>
                                                        </div>
                                                        <div class="col-md-6">

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-4 hidden-xs hidden-sm">
                                                    &nbsp;
                                                </div>
                                                <div class="clearfix"></div>

                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12 content_detail text-detail">

                                <div class="inner">
                                    <div class="col-md-12">
                                        <div class="something-semantic">
                                            <div class="something-else-semantic">
                                                <p class="text-xs-center text-sm-center text-sm-left text-lg-left">
                                                    @Html.Raw(TobJod.Utils.NullUtils.cvString(Model.ProductItem.ConsentTH).Replace("\n", "<br/>"))
                                                </p>
                                                <p>
                                                </p>
                                                <div class="form-group">
                                                    <div class="check_box_holder white col-xs-12 text-xs-center text-sm-center text-sm-left text-lg-left">
                                                        <label class="text-xs-center text-sm-center text-sm-left text-lg-left">
                                                            <span class="checkbox_chk"></span>
                                                            <div class="hr"></div>
                                                            <input type="checkbox" name="1" class="" required data-fv-message="กรุณาคลิกข้าพเจ้าขอรับรองว่ารายละเอียดต่างๆ ข้างต้นนี้ถูกต้องและสมบูรณ์ ข้าพเจ้าตกลงที่จะให้คำขอเอาประกันภัยนี้เป็นมูลฐานของสัญญาระหว่างข้าพเจ้าและบริษัท" />

                                                            ข้าพเจ้าขอรับรองว่ารายละเอียดต่างๆ ข้างต้นนี้ถูกต้องและสมบูรณ์ ข้าพเจ้าตกลงที่จะให้คำขอเอาประกันภัยนี้เป็นมูลฐานของสัญญาระหว่างข้าพเจ้าและบริษัท
                                                            @*<div class="form-group"><span id="uerr"></span></div>*@

                                                        </label>

                                                    </div>
                                                </div>

                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    }
                }

                @if (Model.State == TobJod.Models.ProductApplicationStage.PA.Final) {
                    <div class="row item-content">
                        <div class="col-md-12">
                            <div class="inner head_line">
                                <h5>สรุปรายการสั่งซื้อ</h5>
                            </div>
                        </div>
                        <div class="col-md-12 content_detail">
                            <div class="inner">
                                <div class="col-md-2">
                                    <figure>
                                        <img src="@Model.ProductItem.CompanyImage" alt="" title="" class="img-responsive" />
                                    </figure>
                                </div>
                                <div class="col-md-10">
                                    <div class="des">
                                        <div class="new">new</div>
                                    </div>
                                    <h1>@Model.ProductItem.Company <strong>@Model.ProductItem.TitleTH</strong></h1>
                                    <div class="price">
                                        <span>@((Model.ProductApplication.DisplayPremium).ToString("n2"))</span> <b>บาท</b>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    if (Model.ProductItem.Promotion != null && Model.ProductItem.Promotion.Count > 0) {
                        <div class="row item-content">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <h5>กรุณาเลือกโปรโมชั่น</h5>
                                </div>
                            </div>
                            <div class="col-md-12 content_detail">
                                <div class="inner">
                                    @{
                                        pGift = Model.ProductItem.Promotion.Where(x => x.PromotionType == TobJod.Models.PromotionType.Gift).ToList();
                                        pDiscount = Model.ProductItem.Promotion.Where(x => x.PromotionType == TobJod.Models.PromotionType.Discount).ToList();
                                    }
                                    <div class="col-md-12">
                                        @if (pGift.Count > 0) {
                                            foreach (var g in pGift) {
                                                <div class="radio radio-inline">
                                                    <input type="radio" id="inlineRadio_@g.Id" class="gift" value="@g.Id" name="ProductApplication[PromotionId]" @(Model.ProductApplication.PromotionId == g.Id ? "checked" : "")>
                                                    <label for="inlineRadio_@g.Id">@g.Gift</label>
                                                </div>
                                                <br />
                                            }
                                        }
                                        @if (pDiscount.Count > 0) {
                                            foreach (var g in pDiscount) {
                                                <div class="radio radio-inline radio-discount">
                                                    <input type="radio" id="inlineRadio_@g.Id" value="@g.Id" name="ProductApplication[PromotionId]" @(Model.ProductApplication.PromotionId == g.Id ? "checked" : "")>
                                                    <label for="inlineRadio_@g.Id">ส่วนลด @g.DiscountAmount.ToString("0") @(g.DiscountType == TobJod.Models.PromotionDiscountType.Amount ? "บาท" : "%")</label>
                                                </div>
                                                <br />
                                            }
                                        }
                                        @{
                                            var promotion = Model.ProductItem.Promotion.Where(x => x.Id == TobJod.Utils.NullUtils.cvInt(Model.ProductApplication.PromotionId)).FirstOrDefault();
                                        }
                                        <div class="coupon_box top_margin_1" style="display:@(promotion != null && promotion.PromotionType == TobJod.Models.PromotionType.Gift? "" :"none" )">
                                            <div class="row form_coupon">
                                                <div class="col-md-5">
                                                    <div class="col-md-9 clear-boot-pad text-right form-group uuid">
                                                        <input type="text" class="fillcupon" name="ProductApplication[CouponCode]" class="cuponfield" placeholder="ใส่หมายเลขคูปองส่วนลด" />
                                                    </div>
                                                    <div class="col-md-3 clear-boot-pad text-left">
                                                        <button type="button" class="coupon_confirm">ตกลง</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="error" class="form-group">
                                            @Html.Raw(ViewBag.CouponError != null ? "<span style=\"color:red;\">" + ViewBag.CouponError + "<span>" : "")
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    }

                }

                @if (Model.State == TobJod.Models.ProductApplicationStage.Home.Success) {
                    @Html.Partial("TH/_Order_Summary", Model)
                    @*<div class="row item-content">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <h5>สรุปรายการสั่งซื้อ</h5>
                                </div>
                            </div>
                            <div class="col-md-12 content_detail new_form_v1 type-1">
                                <div class="inner">
                                    <div class="col-md-2">
                                        <figure>
                                            <img src="@Model.ProductItem.CompanyImage" alt="" title="" class="img-responsive" />
                                        </figure>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="col-md-8">
                                            <h2>@Model.ProductItem.Company <strong>@Model.ProductItem.TitleTH</strong></h2>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <div class="price-1">
                                                @((Model.ProductApplication.DisplayPremium).ToString("n2")) บาท
                                            </div>
                                        </div>
                                        @{
                                            var promotion = Model.ProductItem.Promotion.Where(x => x.Id == TobJod.Utils.NullUtils.cvInt(Model.ProductApplication.PromotionId)).FirstOrDefault();
                                        }
                                        @if (promotion != null)
                                        {

                                            if (promotion.PromotionType == TobJod.Models.PromotionType.Gift)
                                            {
                                                <div class="col-md-8 col-xs-8 size-1">
                                                    <h2>@promotion.Gift</h2>
                                                </div>
                                                <div class="col-md-4 col-xs-4 size-1 text-right">
                                                    <div class="price-1">
                                                        <span class="free">ฟรี</span>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-8 size-1 col-xs-7">
                                                    <h2>
                                                        <h1>ส่วนลด</h1>
                                                    </h2>
                                                </div>
                                                <div class="col-md-4 col-xs-5 size-1 text-right">
                                                    <div class="price-1">
                                                        <h1> @promotion.DiscountAmount.ToString("0") @(promotion.DiscountType == TobJod.Models.PromotionDiscountType.Amount ? "บาท" : "%")
                                                        </h1>
                                                    </div>
                                                </div>

                                            }
                                        }
                                        @if (!string.IsNullOrEmpty(TobJod.Utils.NullUtils.cvString(Model.ProductApplication.CouponCode)) && Model.TotalDiscount > 0)
                                        {
                                        <div class="col-md-8 col-xs-8 size-1">
                                            <h2>
                                                ส่วนลดคูปอง
                                            </h2>
                                        </div>
                                        <div class="col-md-4 col-xs-4 size-1 text-right">
                                            <div class="price-1">
                                                <span class="discount"></span><span class="free">-@Model.TotalDiscount.ToString("n2") บาท</span>
                                            </div>
                                        </div>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="uder-line">
                                        <div class="background-color-bg"></div>
                                    </div>

                                    <div class="col-md-12 text-right">
                                        <div class="caption-display">
                                            ราคาสุทธิ
                                        </div>
                                        <div class="price">
                                            <span>@((Model.ProductApplication.DisplayPremium - Model.ProductApplication.TotalDiscount).ToString("n2"))</span> <b>บาท</b>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>*@
                }

                <input type="hidden" name="ProductId" value="@Model.ProductId" />
                <input type="hidden" name="ApplicationId" value="@Model.ApplicationId" />
                <input type="hidden" name="Price" value="@Model.Price" />
                <input type="hidden" name="ProductCategoryKey" value="@Model.ProductCategoryKey" />
                <input type="hidden" name="UserAction" value="@Model.UserAction" />
                <input type="hidden" name="State" value="@Model.State" />
                <input type="hidden" name="PreviousUrl" value="@Model.PreviouseUrl" />

                <div class="row item-content">
                    <div class="btn-bottom">
                        <div class="something-semantic">
                            <div class="something-else-semantic">
                                <div class="contact-agent-bot"><button id="button_submit" type="submit"><b>ทำรายการต่อ</b></button></div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>

    @Html.Partial("TH/_Otp")
    @Html.Partial("../Shared/TH/_Product_Warning")
</main>
@section css{
    <link rel="stylesheet" href="@Url.Content("~/assets/css/order.css")" />
    <style type="text/css">
        @if (Model.State != TobJod.Models.ProductApplicationStage.Home.AttachmentForm) {
            <text>
            .help-block {
                display: none !important;
            }
            </text>
        }
    </style>
}

@section js {

    <script type="text/javascript">
        var $formValidation = null;
        var application_product_id = @Model.ProductId;
        $(document).ready(function () {
            var form_live = $('.address-province-ddl').length > 0 ? 'disabled' : 'enabled';
            $formValidation = $('#order_form').formValidation({ live: form_live, autofocus: false })
                .on('err.field.fv', function (e, data) { data.fv.disableSubmitButtons(false); })
                .on('err.form.fv', function (e) { $('.has-error:first input, .has-error:first select').focus(); $('html, body').animate({ scrollTop: $('.has-error:first').offset().top - 50 }, 1000); })
                .on('success.field.fv', function (e, data) { data.fv.disableSubmitButtons(false); });
            
            $('#button_submit').on('click', function (ev) {
                if ($('#order_form').data('formValidation') != undefined) {
                    $('input[name=UserAction]').val(@((int)TobJod.Models.UserAction.Next));
                }
            });

            $('#btn_back').on('click', function (ev) {
                $('input[name=UserAction]').val(@((int)TobJod.Models.UserAction.Back));
                $('#order_form').formValidation('destroy');
                $('#button_submit').click();
            });

           if ($('.home-date-picker').length > 0) {
               $('.home-date-picker').each(function (e) {
                   var $this = $(this); var val = $this.val();
                   var $fv = $('#order_form').data('formValidation');
                   if ($.trim(val) > 0 && val.indexOf('/') != -1) {
                       kalculateAge(this);
                   } else {
                       $fv.updateStatus($this.attr('name'), 'VALID')
                           .validateField($this.attr('name'));
                   }
               })
           }

        })

        if ($('.home-date-picker').length > 0) {
            $('.home-date-picker').datetimepicker({ format: 'DD/MM/YYYY', maxDate: new Date(), ignoreReadonly: true, minDate: moment().startOf('month').subtract(99, 'y') }).on('dp.change', function (event) {
                kalculateAge(this);
            });
        }

        function kalculateAge(elem) {
            var $this = $(elem); var date = $this.val().split('/');
            var age = calculateAge(date[1] + "/" + date[2]);
            var $fv = $('#order_form').data('formValidation');
            var maxAge = $this.data('maxAge'); var minAge = $this.data('minAge');
            if ((age > maxAge || age < minAge)) {
                $fv.updateStatus($this.attr('name'), 'INVALID')
                    .validateField($this.attr('name'));
            } else {
                $fv.updateStatus($this.attr('name'), 'VALID')
                    .validateField($this.attr('name'));
            }
        }

        $('.home-date-from').each(function (i, e) {
            var val = $(e).val();
            try {
                if (val != '') {
                    var vals = val.split('/');
                    var d = vals[2] + '-' + vals[1] + '-' + vals[0];
                    $(e).datetimepicker({ format: 'DD/MM/YYYY', ignoreReadonly: true, minDate: 'now', useCurrent: false, defaultDate: d }).attr('readonly', 'readonly').attr('style', 'background:white !important');
                    return;
                }
            } catch (ex) { }
            $(e).datetimepicker({ format: 'DD/MM/YYYY', ignoreReadonly: true, minDate: 'now' }).attr('readonly', 'readonly').attr('style', 'background:white !important');

        });

        $('.home-date-to').datetimepicker({ format: 'DD/MM/YYYY', ignoreReadonly: false, useCurrent: false }); //Important! See issue #1075

        $(".home-date-from").on("dp.change", function (e) {
            var $dateto = $($(this).data('date-to'));
            $dateto.data("DateTimePicker").date(e.date.add(1, 'year').startOf('day'));
            $(this).closest('form').formValidation('revalidateField', $(this).attr('name'));
        });

        $('.home-birthday-age').each(function (e) {
            var date = $(this).val().split('/');
            var age = calculateAge(date[1]+"/"+date[2]);
            if (age < 120) {
                $($(this).data('target')).val();
            }
        });

        $('.home-birthday-age').datetimepicker({ ignoreReadonly:true, format: 'DD/MM/YYYY', maxDate: new Date(), minDate: moment().startOf('month').subtract(99, 'y') }).on('dp.change', function (event) {
            var data = $(this).val().split('/');
            var age = calculateAge(data[1] + "/" + data[2]);
            $($(this).data('target')).val(age);
            $(this).closest('form').formValidation('revalidateField', $(this).attr('name'));
            $(this).closest('form').formValidation('revalidateField', $($(this).data('target')).attr('name'));
        }).attr('readonly', 'readonly').attr('style', 'background:white !important');

    </script>
    <script src="@Url.Content("~/assets/js/order.js")"></script>

}