﻿@{ Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payment</title>
</head>
<body>
    <div class="jumbotron"><h3>Redirecting to 2C2P ... </h3></div>
    <form id="sendForm" method="post" action="@ViewBag.Url">
        <div>
            <input id="version" name="version" type="hidden" value="@ViewBag.Version" /> <br />
            <input id="merchant_id" name="merchant_id" type="hidden" value="@ViewBag.MerchantId" /> <br />
            <input id="default_lang" name="default_lang" type="hidden" value="@ViewBag.DefaultLang" /> <br />
            <input id="currency" name="currency" type="hidden" value="@ViewBag.Currency" /> <br />
            <input id="result_url_1" name="result_url_1" type="hidden" value="@ViewBag.ResultUrl1" /> <br />
            <input id="result_url_2" name="result_url_2" type="hidden" value="@ViewBag.ResultUrl2" /> <br />
            <input id="hash_value" name="hash_value" type="hidden" value="@ViewBag.HashValue" /> <br />
            <input id="payment_description" name="payment_description" readonly="readonly" type="hidden" value="@ViewBag.PaymentDescription" /> <br />
            <input id="order_id" name="order_id" readonly="readonly" type="hidden" value="@ViewBag.OrderId" /> <br />
            <input id="amount" name="amount" readonly="readonly" type="hidden" value="@ViewBag.Amount" /> <br />
            <input id="payment_expiry" name="payment_expiry" readonly="readonly" type="hidden" value="@ViewBag.ExpireDate" /> <br />
            <input id="customer_email" name="customer_email" readonly="readonly" type="hidden" value="@ViewBag.Email" /> <br />
        </div>
    </form>
    <script type="text/javascript">
    document.forms.sendForm.submit();
    </script>
</body>
</html>
