﻿@{ 
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ข้อตกลงและเงื่อนไข | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "พบคำชี้แจงเกี่ยวกับเงื่อนไขและข้อกำหนดในการใช้งานเว็บไซต์ตอบโจทย์ Tobjod.com ผู้นำโบรกเกอร์ด้านประกันภัยแบบออนไลน์";
    pageMeta.MetaKeyword = "ข้อตกลง, เงื่อนไข, ซื้อประกันออนไลน์";
}
<main id="page-product-thumbnail" class="tomDev super-top-margin">
    <div class="container">
        <div class="row">
            <h1>Terms and Conditions </h1>
            <div class="lineTop2"></div>
        </div>
    </div>
    <section id="paymentSection">
        <div class="container">
            <div class="row lineTop2">
                <div class="col-sm-10 content col-sm-push-1">
                    <p><strong>Tobjod’s Coverages</strong></p>
                    <p>
                        Accurate and Fast are the heart of our service. We select products from various insurance companies and present them to you in a more effective way. Despite the continuous change of data, we always keep our information updated to promptly respond to every customer’s needs. Once your money has been paid, the coverage will be immediately applied, which is also abided by the law. For optimal benefits, please read each insurance policy carefully and ask Tobjod Team for more information via telephone, email, or explore our website which has all the information you needed.<br/>
                        Note: duplication and editing of our information are not allowed for any commercial purpose unless the permission is given from us. 

                    </p>
                </div>
            </div>
        </div>
    </section>
</main>