﻿@model TobJod.Models.Promotion

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "form" })) {
            @Html.AntiForgeryToken()
            
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.ParentId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TitleTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TitleTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TitleEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TitleEN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BodyTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BodyTH, new { htmlAttributes = new { @class = "form-control text-editor" } })
                        @Html.ValidationMessageFor(model => model.BodyTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BodyEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BodyEN, new { htmlAttributes = new { @class = "form-control text-editor" } })
                        @Html.ValidationMessageFor(model => model.BodyEN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ActiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ActiveDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ActiveDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ExpireDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ExpireDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PromotionType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PromotionType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PromotionType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group type-discount">
                    @Html.LabelFor(model => model.DiscountType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DiscountType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiscountType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group type-discount">
                    @Html.LabelFor(model => model.DiscountAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DiscountAmount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiscountAmount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group type-gift">
                    @Html.LabelFor(model => model.PromotionGifts, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div id="gifts-list">
                            @if (Model.PromotionGifts != null && Model.PromotionGifts.Count > 0) {
                                for (var i = 0; i < Model.PromotionGifts.Count; i++) {
                                    <div class="row p-b-1">
                                        @Html.HiddenFor(model => model.PromotionGifts[i].Id)
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.PromotionGifts[i].TitleTH, new { htmlAttributes = new { @class = "form-control", placeholder = "Title (TH)", maxlength="250" } })
                                        </div>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.PromotionGifts[i].TitleEN, new { htmlAttributes = new { @class = "form-control", placeholder = "Title (EN)", maxlength = "250" } })
                                        </div>
                                        <button type="button" class="btn btn-danger btn-gift-remove" data-toggle="confirmation"><i class="fa fa-minus"></i></button>
                                    </div>
                                }
                            }
                        </div>
                        <div><button type="button" class="btn btn-info" id="btn-gift-add"><i class="fa fa-plus"></i></button></div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 p-b-1" id="product-type">
                        @Html.EditorFor(model => model.ProductType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductType, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-9 col-md-offset-2">
                        <div class="row col-md-12 border-sub" id="product-type-product" style="display: none;">
                            @Html.Hidden("product_id_list", string.Join(",", Model.PromotionProducts.Select(x=> x.Id.ToString()).ToArray()))
                            <div id="products-list" class="products-list">
                                @for (var i = 0; i < Model.PromotionProducts.Count; i++) {
                                    <div class="row p-b-1"><div class="input-group"><input type="text" class="form-control col-md-12" value="@Model.PromotionProducts[i].TitleTH" readonly /><input type="hidden" name="product_id" value="@Model.PromotionProducts[i].Id" /><span class="input-group-btn"><button type="button" class="btn btn-danger btn-product-remove" data-toggle="confirmation" data-index="@i"><i class="fa fa-minus"></i></button></span></div></div>
                                }
                            </div>
                            <div><button type="button" class="btn btn-info" id="btn-product-add" data-toggle="modal" data-target="#modal-product"><i class="fa fa-plus"></i></button></div>
                        </div>
                        <div class="row col-md-12 border-sub" id="product-type-category" style="display: none;">
                            @foreach (SelectListItem it in ViewBag.ProductCategoryList) {
                                if (Model.PromotionProductCategories != null) {
                                <label class="checkbox col-md-6">@Html.CheckBox("PromotionProductCategories", (Model.PromotionProductCategories.Where(x => x.ProductCategoryId.ToString() == it.Value).Count() > 0), new { value = it.Value }) @it.Text</label>
                                }
                            }
                        </div>
                        <div class="row col-md-12 border-sub" id="product-type-company" style="display: none;">
                            @foreach (SelectListItem it in ViewBag.CompanyList) {
                                if (Model.PromotionCompanies != null) {
                                <label class="checkbox col-md-6">@Html.CheckBox("PromotionCompanies", (Model.PromotionCompanies.Where(x => x.CompanyId.ToString() == it.Value).Count() > 0), new { value = it.Value }) @it.Text</label>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="@Request.Url" type="reset" class="btn btn-warning">Reset</a>
                    </div>
                </div>
        }

    </div>
</div>

<div class="modal fade" id="modal-product" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times</button></div>
            <div class="modal-body">
                <form class="form-horizontal form-bordered" role="form" action="#" method="post" target="_blank">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="">Product <span class="required">*</span></label>
                        <div class="col-md-10 products-list">
                            @for (var i = 0; i < Model.PromotionProducts.Count; i++) {
                                <div class="row p-b-1"><div class="input-group"><input type="text" class="form-control col-md-12" value="@Model.PromotionProducts[i].TitleTH" readonly /><input type="hidden" name="product_id" value="@Model.PromotionProducts[i].Id" /><span class="input-group-btn"><button type="button" class="btn btn-danger btn-product-remove" data-toggle="confirmation" data-index="@i"><i class="fa fa-minus"></i></button></span></div></div>
                            }
                        </div>
                    </div>
                </form>

                <div class="table-info">
                    <table class="table table-striped table-bordered data-table data-table-action" id="dataTable-object-select">
                        <thead>
                            <tr>
                                <th class="id">Id</th>
                                <th>Category</th>
                                <th>Sub Category</th>
                                <th>Title</th>
                                <th class="status">Status</th>
                                <th class="action" data-searchable="false" data-sortable="false">Select</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section js {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/vendor/ckeditor/ckeditor.js"></script>
    <script src="~/assets/vendor/ckeditor/adapters/jquery.js"></script>
    <script>
        var uploadurl = 'promotion/';
        var $table_object_select;
        var product_id = [];
        var product_title = [];
        var gift_index = @(Model.PromotionGifts != null ? Model.PromotionGifts.Count - 1 : 0);
        $.validator.setDefaults({ ignore: ':hidden:not(.text-editor)' });
        $(function () {
            $('textarea.text-editor').ckeditor();
            $('.date-picker').datepicker({ format: "dd/mm/yyyy", autoclose: true });
            $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }
                    var re = /[0-3]\d\/[01]\d\/\d{4}/;
                    var ok;
                    try {
                        ok = value.match(re) != null;
                    } catch (err) { ok = false; }
                    return ok;
                });
            $('#product-type input:radio:checked').click();
            $table_object_select = $('#dataTable-object-select').DataTable({
                ajax: {
                    url: '@Url.Action("DataTableProduct")',
                    type: 'POST',
                },
                order: [[0, 'desc']]
            });
            GetProduct();
            $('.type-gift').hide();
            $('.type-discount').hide();
            $('input[name=PromotionType]:checked').click();
        });
        $('input[name=PromotionType]').click(function () {
            $('.type-gift').hide();
            $('.type-discount').hide();
            var val = $('input[name=PromotionType]:checked').val();
            if (val == '@TobJod.Models.PromotionType.Gift') {
                $('.type-gift').show();
            } else {
                $('.type-discount').show();
            }
        });
        $('#gifts-list').on('click', '.btn-gift-remove', function () {
            var $row = $(this).parent();
            if ($('#gifts-list .row').length > 1) {
                $row.remove();
                var index = 0;
                $('#gifts-list .row').each(function (i, e) {
                    $(this).find('input:eq(0)').attr('id', 'PromotionGifts_' + i + '__Id').attr('name', 'PromotionGifts[' + i + '].Id');
                    $(this).find('input:eq(1)').attr('id', 'PromotionGifts_' + i + '__TitleTH').attr('name', 'PromotionGifts[' + i + '].TitleTH');
                    $(this).find('input:eq(2)').attr('id', 'PromotionGifts_' + i + '__TitleEN').attr('name', 'PromotionGifts[' + i + '].TitleEN');
                    index = i;
                });
                gift_index = index;
            } else {
                $row.find('input').val('');
            }
            return false;
        });
        $('#btn-gift-add').click(function () {
            //$('#gifts-list .row:last').clone().appendTo("#gifts-list").find('input').val('').attr('id', '');
            gift_index += 1;
            $('#gifts-list').append('<div class="row p-b-1"><input data-val="true" id="PromotionGifts_' + gift_index + '__Id" name="PromotionGifts[' + gift_index + '].Id" type="hidden" value="" /><div class="col-md-5"><input class="form-control text-box single-line" data-val="true" data-val-maxlength="The field Title (TH) must be a string or array type with a maximum length of &#39;250&#39;." data-val-maxlength-max="250" data-val-required="The Title (TH) field is required."  id="PromotionGifts_' + gift_index + '__TitleTH" name="PromotionGifts[' + gift_index + '].TitleTH" placeholder="Title (TH)" type="text" value="" required /></div><div class="col-md-5"><input class="form-control text-box single-line" data-val="true" data-val-maxlength="The field Title (EN) must be a string or array type with a maximum length of &#39;250&#39;." data-val-maxlength-max="250" data-val-required="The Title (EN) field is required." id="PromotionGifts_' + gift_index + '__TitleEN" name="PromotionGifts[' + gift_index + '].TitleEN" placeholder="Title (EN)" type="text" value="" required /></div><button type="button" class="btn btn-danger btn-gift-remove" data-toggle="confirmation"><i class="fa fa-minus"></i></button></div>');
            return false;
        });
        $('#product-type input:radio').click(function () {
            var val = $('#product-type input:radio:checked').val();
            $('#product-type-product, #product-type-category, #product-type-company').hide();
            if (val == '@TobJod.Models.PromotionProductType.All') {
                //console.log('all');
            } else if (val == '@TobJod.Models.PromotionProductType.ByProduct') {
                $('#product-type-product').show();
            } else if (val == '@TobJod.Models.PromotionProductType.ByCategory') {
                $('#product-type-category').show();
            } else if (val == '@TobJod.Models.PromotionProductType.ByCompany') {
                $('#product-type-company').show();
            }
        });
        $('#modal-product').on('shown.bs.modal', function () {
            $table_object_select.ajax.reload();
            $('#dataTable-object-select tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });
            $('#dataTable-object-select tbody').on('click', 'button', function () {
                if (product_id[0] == '') product_id.pop();
                var val = String($(this).data('id'));
                var index = product_id.indexOf(val);
                if (index < 0) {
                    product_id.push(val);
                    product_title.push($(this).data('title'));
                }
                ShowProduct();
            });
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }, 300);
        });
        $('.products-list').on('click', '.btn-product-remove', function () {
            var index = $(this).data('index');
            product_id.splice(index, 1);
            product_title.splice(index, 1);
            ShowProduct();
        });

        function GetProduct() {
            product_id = [];
            $('#products-list input[name=product_id]').each(function (i, e) {
                product_id.push($(e).val());
            });
            $('#products-list input:text').each(function (i, e) {
                product_title.push($(e).val());
            });
        }

        function ShowProduct() {
            $('#product_id_list').val(product_id.join());
            var html = '';
            for (var i = 0; i < product_title.length; i++) {
                html += '<div class="row p-b-1"><div class="input-group"><input type="text" class="form-control col-md-12" value="' + product_title[i] + '" readonly /><input type="hidden" name="product_id" value="' + product_id[i] + '" /><span class="input-group-btn"><button type="button" class="btn btn-danger btn-product-remove" data-toggle="confirmation" data-index="' + i +'"><i class="fa fa-minus"></i></button></span></div></div>';
            }
            $('.products-list').html(html);
        }
        $('#modal-product').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#form').submit(function () {
            var error = [];
            var start = $('#ActiveDate').datepicker('getDate');
            var end = $('#ExpireDate').datepicker('getDate');
            var diff = dateDiffInDays(start, end);
            if (diff < 0) {
                error.push('- Expire Date cannot be less than Active Date');
            }

            if ($('input[name=DiscountType]:checked').val() == '@(TobJod.Models.CouponDiscountType.Percent)') {
                var amount = parseInt($('#DiscountAmount').val());
                if (isNaN(amount) || amount >= 100 || amount <= 0) {
                    error.push('- Invalid Discount Percent. Must be between 1-99');
                }
            }

            var productType = $('#product-type input:radio:checked').val();
            if (productType == '@TobJod.Models.PromotionProductType.ByProduct') {
                if ($('input[name="product_id"]').length == 0) error.push('- Please select at least 1 Product');
            } else if (productType == '@TobJod.Models.PromotionProductType.ByCategory') {
                if ($('input[name="PromotionProductCategories"]:checked').length == 0) error.push('- Please select at least 1 Category');
            } else if (productType == '@TobJod.Models.PromotionProductType.ByCompany') {
                if ($('input[name="PromotionCompanies"]:checked').length == 0) error.push('- Please select at least 1 Company');
            }

            if (error.length > 0) {
                alert(error.join('\r\n'));
                return false;
            } else {
                return true;
            }
        });
    </script>
}
