﻿@model TobJod.Models.Promotion

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
            @Html.AntiForgeryToken()
            
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
            
                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.TitleTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.TitleEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BodyTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.Raw(Model.BodyTH)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BodyEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.Raw(Model.BodyEN)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ActiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.ActiveDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.LabelFor(model => model.ExpireDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PromotionType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Model.PromotionType.DisplayNameOrDefault()
                    </div>
                </div>

            if (Model.PromotionType == TobJod.Models.PromotionType.Discount) {

                <div class="form-group">
                    @Html.LabelFor(model => model.DiscountType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Model.DiscountType.DisplayNameOrDefault()
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DiscountAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Model.DiscountAmount.ToString("#,###")
                    </div>
                </div>
            } else {

                <div class="form-group">
                    @Html.LabelFor(model => model.PromotionGifts, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div id="gifts-list">
                            @if (Model.PromotionGifts != null && Model.PromotionGifts.Count > 0) {
                                for (var i = 0; i < Model.PromotionGifts.Count; i++) {
                                    <div class="row p-b-1">
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.PromotionGifts[i].TitleTH, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.PromotionGifts[i].TitleEN, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 p-b-1 form-control-static" id="product-type">
                        @Model.ProductType.DisplayNameOrDefault()
                    </div>
                    <div class="col-md-9 col-md-offset-2">
                        @if (Model.ProductType == TobJod.Models.PromotionProductType.ByProduct) {
                        <div class="row col-md-12 border-sub" id="product-type-product">
                            @Html.Hidden("product_id_list", string.Join(",", Model.PromotionProducts.Select(x => x.Id.ToString()).ToArray()))
                            <div id="products-list" class="products-list">
                                @for (var i = 0; i < Model.PromotionProducts.Count; i++) {
                                    <div class="row p-b-1"><input type="text" class="form-control col-md-12" value="@Model.PromotionProducts[i].TitleTH" readonly /></div>
                                }
                            </div>
                        </div>
                        }
                        @if (Model.ProductType == TobJod.Models.PromotionProductType.ByCategory) {
                        <div class="row col-md-12 border-sub" id="product-type-category">
                            @foreach (SelectListItem it in ViewBag.ProductCategoryList) {
                                <label class="checkbox col-md-6">@Html.CheckBox("PromotionProductCategories", (Model.PromotionProductCategories.Where(x => x.ProductCategoryId.ToString() == it.Value).Count() > 0), new { value = it.Value, disabled = "disabled" }) @it.Text</label>
                            }
                        </div>
                        }
                        @if (Model.ProductType == TobJod.Models.PromotionProductType.ByCompany) {
                        <div class="row col-md-12 border-sub" id="product-type-company">
                            @foreach (SelectListItem it in ViewBag.CompanyList) {
                                <label class="checkbox col-md-6">@Html.CheckBox("PromotionCompanies", (Model.PromotionCompanies.Where(x => x.CompanyId.ToString() == it.Value).Count() > 0), new { value = it.Value, disabled = "disabled" }) @it.Text</label>
                            }
                        </div>
                        }
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.LabelFor(model => model.CreateAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.CreateAdmin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UpdateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.UpdateDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.LabelFor(model => model.UpdateAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.UpdateAdmin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OwnerAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.OwnerAdmin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.LabelFor(model => model.ApproveAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.ApproveAdmin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                if ((string)ViewBag.CurrentAction == TobJod.Models.AdminAction.Assign.ToString()) {
                <div class="form-group">
                    @Html.LabelFor(model => model.OwnerAdminId, htmlAttributes: new { @class = "control-label col-md-2 required" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.OwnerAdminId, (IEnumerable<SelectListItem>)ViewBag.OwnerAdminList, "-- Please Select --", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.OwnerAdminId, "", new { @class = "text-danger" })
                    </div>
                </div>
                }

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @if ((string)ViewBag.CurrentAction == TobJod.Models.AdminAction.Approve.ToString()) {
                            <button type="submit" class="btn btn-primary" name="Approve" value="@TobJod.Models.ApproveStatus.Approve">Approve</button>
                            <button type="submit" class="btn btn-warning" name="Approve" value="@TobJod.Models.ApproveStatus.Reject">Reject</button>
                        } else if ((string)ViewBag.CurrentAction == TobJod.Models.AdminAction.Assign.ToString()) {
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="reset" class="btn btn-warning">Reset</button>
                        } else {
                            <button type="button" class="btn btn-warning" onclick="javascript: history.back();">BACK</button>
                        }
                    </div>
                </div>
        }

    </div>
</div>

@section js {
}
