﻿@{ 
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "เคลมประกันง่าย ไม่ยุ่งยาก";
    pageMeta.MetaDescription = "3 ขั้นตอนง่ายเตรียมความพร้อมในการเคลมประกันกับบริษัทประกันภัย";
    pageMeta.MetaKeyword = "ขั้นตอนการเคลม, เคลมประกัน, เคลมประกันรถ, เคลมรถ, การเคลมประกันรถยนต์";
}
@using TobJod.Web
@model TobJod.Models.ConfigPage
<!-- HEADER -->
<section id="banner_section" class="container-fluid clear-boot-pad">
    <a class="item" target="_blank">
        <figure>
            <img class="lazy img-responsive" data-original="@Url.Content("~/assets/images/claim_process/banner_en.jpg")" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  />
        </figure>
    </a>
</section>
<!-- body -->
<main id="page-product-thumbnail" class="tomDev claim_process_wrapper super-top-margin">
    <div class="container">
        <div class="row">
            <h1>
                Simple Claiming Steps
            </h1>
        </div>
    </div>
    <section id="paymentSection" class="claim_process">
        <div class="container">
            @Html.Raw(Model.BodyEN.ReplacePath())
        </div>
    </section>
</main>

