﻿@{ 
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "นโยบายความเป็นส่วนตัว | Tobjod โบรคเกอร์ ประกันภัย";
}
<main id="page-product-thumbnail" class="tomDev super-top-margin">
    <div class="container">
        <div class="row">
            <h1>Privacy Policy</h1>
            <div class="lineTop2"></div>
        </div>
    </div>
    <section id="paymentSection" class="privacypolicy">
        <div class="container">
            <div class="row lineTop2">
                <div class="col-sm-10 col-sm-push-1 content">
                    <p><strong>Confidential Information</strong></p>
                    <p>
                        Safe and Secure, your personal information will be kept confidential in a secured system managed by a team of professionals, preventing forwarding of your information to any organizations without permission. Some of your information will be used to improve our service only.   
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>