﻿@model TobJod.Admin.Models.TransactionLogViewModel
<style type="text/css">
    #dataTable td:last-of-type { text-align: left; }
</style>
<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i></span>@ViewBag.CurrentMenu.Title</h1>
</div>
<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">List</div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Get, new { @class = "form-horizontal", role = "form" })) {

            <div class="form-group">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.Category, (ViewBag.CategoryList as IEnumerable<SelectListItem>), "", new { @class = "form-control" } )
                </div>
                @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "form-control " } })
                </div>
                @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" id="btn-search">Submit</button>
                    @*<button type="submit" class="btn btn-warning" id="btn-export" name="export" value="1">Export</button>*@
                </div>
            </div>
        }

        <div class="table-primary">
            <table class="table table-striped table-bordered data-table data-table-action" id="dataTable">
                <thead>
                    <tr>
                        @foreach (var column in Model.Columns) {
                            <th>@column</th>
                        }
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section js {
    <script>
        var $table;
        $(function () {
            $('.date-picker').datepicker({ format: "dd/mm/yyyy", autoclose: true, endDate: '0d' });
            $table = $('#dataTable').DataTable({
                ajax: {
                    url: '@Url.Action("DataTable")',
                    type: 'POST',
                    data: {
                        category: '@Model.Category',
                        dateFrom: '@Model.DateFrom.ToString("dd/MM/yyyy")',
                        dateTo: '@Model.DateTo.ToString("dd/MM/yyyy")'
                    }
                },
                order: [[0, 'desc']]
            });
        });B
    </script>
}