﻿@{
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ตอบโจทย์ โบรกเกอร์ประกันภัยเข้าใจทุกการใช้ชีวิต";
    pageMeta.MetaDescription = "เปรียบเทียบประกันตรงใจ ตอบโจทย์ครบทุกไลฟ์สไตล์ ประกันภัยรถยนต์ ประกันภัยเดินทาง ประกันชีวิต ประกันอุบัติเหตุ ประกันสุขภาพ รับประกันความคุ้มค่า โทร 02-783-0222";
    pageMeta.MetaKeyword = "ตอบโจทย์, Tobjod, โบรกเกอร์, ประกันภัย, ประกันภัยรถยนต์, ประกันรถยนต์, พรบออนไลน์, ประกันภัยการเดินทาง, ประกันเดินทาง, สิทธิพิเศษ, โปรโมชั่น";
}
@model TobJod.Web.Models.HomeViewModel


<section class="mobile_search_newform">
    <div class="owl-carousel9 en opa">
        @foreach (var item in viewModel.ProductCategory) {
            if (item.Key == ((int)TobJod.Models.ProductCategoryKey.Motor)) {
                <div class="something-semantic">
                    <div class="something-else-semantic">
                        <a class="item" href="#" relate-data="wagon">
                            <div class="icon">
                                <i class="icon-truck-copy" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                @item.Value.TitleEN
                            </div>
                        </a>
                    </div>
                </div>
            } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.PRB)) {
                <div class="something-semantic">
                    <div class="something-else-semantic">
                        <a class="item" href="#" relate-data="wsu">
                            <div class="icon">
                                <i class="icon-paper_icon" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                @item.Value.TitleEN
                            </div>
                        </a>
                    </div>
                </div>
            } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.TA)) {
                <div class="something-semantic">
                    <div class="something-else-semantic">
                        <a class="item" href="#" relate-data="ta">
                            <div class="icon">
                                <i class="icon-map-copy" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                @item.Value.TitleEN
                            </div>
                        </a>
                    </div>
                </div>
            } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.PA)) {
                <div class="something-semantic">
                    <div class="something-else-semantic">
                        <a class="item" href="#" relate-data="pa">
                            <div class="icon">
                                <i class="icon-bag_1-copy" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                @item.Value.TitleEN
                            </div>
                        </a>
                    </div>
                </div>
            } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.PH)) {
                <div class="something-semantic">
                    <div class="something-else-semantic">
                        <a class="item" href="#" relate-data="health">
                            <div class="icon">
                                <i class="icon-heart-copy" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                @item.Value.TitleEN
                            </div>
                        </a>
                    </div>
                </div>
            } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.Home)) {
                <div class="something-semantic">
                    <div class="something-else-semantic">
                        <a class="item" href="#" relate-data="living_place">
                            <div class="icon">
                                <i class="icon-house-copy" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                @item.Value.TitleEN
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
    <div class="clearfix"></div>

    <div class="filter-container">
        <div class="col-xs-12 inner">
            <div class="row">
                <div class="inner-xs2">
                        <div class="form-container">
                            <div class="form-item wagon" id="wagon">
                                <form id="form-motor" action="@Url.Action("Motor", "Product")" method="get">
                                    <fieldset>
                                        <div class="inner-form-wrapper">
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Insurance Type</span>
                                                <select name="category" class="dd_list form-controls required" >
                                                    <option value="">Please select</option>
                                                    <option value="110">Type 1</option>
                                                    <option value="120">Type 2</option>
                                                    <option value="121">Type 2+</option>
                                                    <option value="130">Type 3</option>
                                                    <option value="131">Type 3+</option>
                                                </select>
                                            </label>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Vehicle Registration Year</span>
                                                <select name="year" class="dd_list form-controls required">
                                                    <option value="">Please select</option>
                                                    @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 20; i--) {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                            </label>
                                            <div class="clearfix"></div>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Brand</span>
                                                <select name="brand" class="dd_list form-controls required car-brand-ddl"  data-target="#side_car_family-mobile">
                                                    <option value="">Please select</option>
                                                    @foreach (var item in viewModel.CarBrands) {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </label>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Family</span>
                                                <select name="family" id="side_car_family-mobile" class="dd_list form-controls required car-family-ddl"  data-target="#side_car_model-mobile">
                                                    <option value="">Please select</option>
                                                </select>
                                            </label>
                                            <div class="clearfix"></div>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Model</span>
                                                <select name="model" id="side_car_model-mobile" class="dd_list form-controls required" >
                                                    <option value="">Please select</option>
                                                </select>
                                            </label>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Province</span>
                                                <select name="province" class="dd_list form-controls required">
                                                    <option value="">Please select</option>
                                                    @foreach (var item in viewModel.CarProvinces) {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </label>
                                            <div class="clearfix"></div>
                                        </div>
                                    </fieldset>
                                    <div class="col-md-12 text-md-center text-lg-center submit-container">
                                        <button type="submit" class="btn btn-md btn-primary btn-round-md">Search</button>
                                    </div>
                                </form>
                            </div>

                            <div class="form-item wsu" id="wsu">
                                <form id="form-psu" action="@Url.Action("CompulsoryDetail", "Product")" method="get">
                                    <fieldset>
                                        <div class="inner-form-wrapper">
                                            <label class="col-md-6 col-xs-12 form-group">
                                                <label for="" class="caption">Vehicle usage</label>
                                                <div class="col-md-12">
                                                    <div class="radio radio-inline">
                                                        <input type="radio" id="side_compulsory_subcategory1" value="210" name="subcategory" checked="">
                                                        <label for="side_compulsory_subcategory1">Car</label>
                                                    </div>

                                                    <div class="radio radio-inline">
                                                        <input type="radio" id="side_compulsory_subcategory2" value="211" name="subcategory">
                                                        <label for="side_compulsory_subcategory2">Pick Up</label>
                                                    </div>

                                                    <div class="radio radio-inline">
                                                        <input type="radio" id="side_compulsory_subcategory3" value="212" name="subcategory">
                                                        <label for="side_compulsory_subcategory3">Van</label>
                                                    </div>
                                                </div>
                                            </label>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Insurance Company</span>
                                                <select name="company" class="dd_list form-controls required">
                                                    <option value="">Please select</option>
                                                    @foreach (var item in viewModel.PRBCompanies) {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </label>
                                            <div class="clearfix"></div>
                                        </div>
                                    </fieldset>
                                    <div class="col-md-12 text-md-center text-lg-center submit-container">
                                        <button type="submit" class="btn btn-md btn-primary btn-round-md">Search</button>
                                    </div>
                                </form>
                            </div>

                            <div class="form-item ta" id="ta">
                                <form id="form-ta" action="@Url.Action("TA", "Product")" method="get">
                                    <fieldset>
                                        <div class="inner-form-wrapper">
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Coverage Option</span>
                                                <select name="coverageOption" class="dd_list form-controls required" >
                                                    <option value="">Please select</option>
                                                    <option value="@((int)TobJod.Models.ProductTACoverageOption.Trip)">Single Trip</option>
                                                    <option value="@((int)TobJod.Models.ProductTACoverageOption.Year)">Annual Trip</option>
                                                </select>
                                            </label>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Trip Type</span>
                                                <select name="tripType" class="dd_list form-controls required ta-trip-type"  data-value="@((int)TobJod.Models.ProductTATripType.Domestic)" data-target="#side_ta_country-mobile" data-target-value="@viewModel.CountryThailand" data-target-hidden="#side_ta_country_hide-mobile">
                                                    <option value="">Please select</option>
                                                    <option value="@((int)TobJod.Models.ProductTATripType.Foreign)">International</option>
                                                    <option value="@((int)TobJod.Models.ProductTATripType.Domestic)">Domestic</option>
                                                    <option value="@((int)TobJod.Models.ProductTATripType.Education)">Overseas Student</option>
                                                </select>
                                            </label>
                                            <div class="clearfix"></div>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Coverage Type</span>
                                                <select name="coverageType" class="dd_list form-controls required ta-coverage-type" data-value="@((int)TobJod.Models.ProductTACoverageType.Family)" data-target-value="4" data-target="#side_ta_person-mobile" data-target-hidden="#side_ta_person_hide-mobile">
                                                    <option value="@((int)TobJod.Models.ProductTACoverageType.Individual)">Individual</option>
                                                    <option value="@((int)TobJod.Models.ProductTACoverageType.Family)">Family (No more than 4 persons)</option>
                                                </select>
                                            </label>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Country of destination</span>
                                                <select name="country" id="side_ta_country-mobile" class="dd_list form-controls required" >
                                                    <option value="">Please select</option>
                                                    <option value="@viewModel.CountrySchengen">Schengen</option>
                                                    @foreach (var item in viewModel.Countries) {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </label>
                                            <div class="clearfix"></div>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Date of departure</span>
                                                <input @( TobJod.Utils.HttpUtils.IsMobileOrTablet() ? "type=text" :"type=text") id="travel_begin-mobile" name="DateFrom" value="" class="input-min-width form-controls required prevent_type date-from" data-date-to="#travel_end-mobile" data-target="#travel_day-mobile" data-target-span="#travel_day_span-mobile"  readonly="readonly" />
                                            </label>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Date of return</span>
                                                <input @( TobJod.Utils.HttpUtils.IsMobileOrTablet() ? "type=text" :"type=text")  id="travel_end-mobile" name="DateTo" value="" class="form-controls input-min-width required prevent_type date-to" data-date-from="#travel_begin-mobile" data-target="#travel_day-mobile" data-target-span="#travel_day_span-mobile"  readonly="readonly" />
                                            </label>
                                            <div class="clearfix"></div>
                                            <label class="col-md-6 col-xs-12 form-group">
                                                <span class="caption">Days (No more than 366 days)</span>
                                                <span id="travel_day_span-mobile" style="display: none;"></span>
                                                <input type="text" name="Day" value="5" readonly="" id="travel_day-mobile" class="min-long" />
                                            </label>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Persons</span>
                                                <select name="Person" id="side_ta_person" class="dd_list form-controls required" >
                                                    @for (int i = 1; i <= viewModel.ProductTAPersonMax; i++) {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                            </label>
                                            <div class="clearfix"></div>
                                        </div>
                                    </fieldset>
                                    <div class="col-md-12 text-md-center text-lg-center submit-container">
                                        <button type="submit" class="btn btn-md btn-primary btn-round-md">Search</button>
                                    </div>
                                </form>
                            </div>

                            <div class="form-item pa" id="pa">
                                <form id="form-pa" action="@Url.Action("PA", "Product")" method="get">
                                    <fieldset>
                                        <div class="inner-form-wrapper">
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Birthday</span>
                                                <input type="text" id="pa-birthday" name="birthday" value="" class="form-controls required prevent_type birthday-age" data-target="#ages_customer_2-mobile" autocomplete="off" readonly="readonly"/>
                                            </label>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Age</span>
                                                <input type="text" id="ages_customer_2-mobile" name="age" class="prevent_type form-controls required"  />
                                            </label>
                                            <div class="clearfix"></div>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Career</span>
                                                <select name="Career" class="dd_list form-controls required" >
                                                    <option value="">Please select</option>
                                                    @foreach (var item in viewModel.Careers) {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </label>
                                        </div>
                                    </fieldset>
                                    <div class="col-md-12 text-md-center text-lg-center submit-container">
                                        <button type="submit" class="btn btn-md btn-primary btn-round-md">Search</button>
                                    </div>
                                </form>
                            </div>

                            <div class="form-item health" id="health">
                                <form id="form-health" action="@Url.Action("Health", "Product")" method="get">
                                    <fieldset>
                                        <div class="inner-form-wrapper">
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Birthday</span>
                                                <input type="text" id="Birthday" name="Birthday" value="" class="form-controls required prevent_type birthday-age" data-target="#ages_customer_1-mobile" autocomplete="off" readonly="readonly"/>
                                            </label>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Age</span>
                                                <input type="text" id="ages_customer_1-mobile" name="" class="prevent_type form-controls required"  />
                                            </label>
                                            <div class="clearfix"></div>
                                            <label class="col-md-6 col-xs-12 form-group gender">
                                                <label for="" class="caption">Gender</label>
                                                <div class="col-md-12">
                                                    <div class="radio radio-inline">
                                                        <input type="radio" id="side_sex_male" value="@((int)TobJod.Models.Sex.Male)" name="Sex" checked="">
                                                        <label for="side_sex_male">Male</label>
                                                    </div>

                                                    <div class="radio radio-inline">
                                                        <input type="radio" id="side_sex_female" value="@((int)TobJod.Models.Sex.Female)" name="Sex">
                                                        <label for="side_sex_female">Female</label>
                                                    </div>
                                                </div>
                                            </label>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Weight (kg.)</span>
                                                <input type="text" id="" name="weight" class="form-controls required numeric"  data-num="1" maxlength="3" data-fv-integer="true" data-fv-integer-message="The value is not an integer" />
                                            </label>
                                            <div class="clearfix"></div>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Height (cm.)</span>
                                                <input type="text" id="" name="height" class="form-controls required numeric"  data-num="1" maxlength="3" data-fv-integer="true" data-fv-integer-message="The value is not an integer" />
                                            </label>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Career</span>
                                                <select name="career" class="dd_list form-controls required" >
                                                    <option value="">Please select</option>
                                                    @foreach (var item in viewModel.Careers) {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </label>
                                        </div>
                                    </fieldset>
                                    <div class="col-md-12 text-md-center text-lg-center submit-container">
                                        <button type="submit" class="btn btn-md btn-primary btn-round-md">Search</button>
                                    </div>
                                </form>
                            </div>

                            <div class="form-item living_place" id="living_place">
                                <form id="form-fire" action="@Url.Action("Home", "Product")" method="get">
                                    <fieldset>
                                        <div class="inner-form-wrapper">
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Property Type</span>
                                                <select name="propertytype" class="dd_list form-controls required" >
                                                    <option value="">Please select</option>
                                                    @foreach (var item in viewModel.PropertyTypes) {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </label>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Construction Type</span>
                                                <select name="ConstructionType" class="dd_list form-controls required" >
                                                    <option value="">Please select</option>
                                                    @foreach (var item in viewModel.ConstructionTypes) {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </label>
                                            <div class="clearfix"></div>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Coverage Year</span>
                                                <select name="Year" class="dd_list form-controls required" >
                                                    <option value="">Please select</option>
                                                    @for (int i = 1; i <= viewModel.ProductHomeYearMax; i++) {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                            </label>
                                            <label class="col-md-6 col-xs-12 form-group required form-controls">
                                                <span class="caption">Sum Insured</span> ( <a href="#" class="calpopup" data-featherlight="#homecontent">What's this?</a> )
                                                <input type="number" name="constructionValue" id="side_constructionValue-mobile" value="" class="form-controls required input-combined-with" data-combined-with="#side_propertyValue-mobile" data-target="#side_totalValue-mobile" step="10000" min="10000" max="100000000" data-num="1" maxlength="10"  />
                                            </label>
                                            <div class="clearfix"></div>
                                          

                                        </div>
                                    </fieldset>
                                    <div class="col-md-12 text-md-center text-lg-center submit-container">
                                        <button type="submit" class="btn btn-md btn-primary btn-round-md">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>


<div class="hidden-lg hidden-md visible-sm-block visible-xs-block">
    <section class="container-fluid section-7-step text-lg-center text-sm-center">
        <div class="container">
            <ul class="owl-carousel2 item-container">
                @foreach (var item in Model.PartnerBanner) {
                    <li class="item">
                        <div class="something-semantic">
                            <div class="something-else-semantic">
                                <figure class="sub-item">
                                    <img class="img-responsive" src="@Model.PathPartnerBanner@item.ImageEN" alt="@item.TitleEN" title="@item.TitleEN" />
                                </figure>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </section>
</div>

<section id="banner_section" class="container-fluid clear-boot-pad hidden-xs hidden-sm">
    <div class="owl-carousel7 @Model.BannerTransition-animation" data-duration="@Model.BannerDuration">
        @foreach (var item in Model.Banner) {
            <a href="@item.UrlEN" class="item" target="_blank">
                <figure>
                    <img class="img-responsive" src="@Model.PathBanner@item.ImageEN" alt="" />
                </figure>
            </a>
        }
    </div>
</section>

<main class="home">
    <section class="container insurance-item hidden-sm hidden-xs visible-md-block visible-lg-block">
        <div class="line-border owl-carousel4">
            @foreach (var item in viewModel.ProductCategory) {
                if (item.Value.DisplayHome) {
                    if (item.Key == ((int)TobJod.Models.ProductCategoryKey.Motor)) {
                        <a href="@Url.Action("Motor", "Product")" class="item">
                            <h1 class="text-lg-center text-xs-center">@item.Value.TitleEN</h1>
                            <div class="icon-container">
                                <i class="icon-truck-copy"></i>
                            </div>
                            <h2 class="text-lg-center text-xs-center">@(item.Value.HomeText1EN)</h2>
                            <p class="text-lg-center text-xs-center">@(item.Value.HomeText2EN)</p>
                            <div class="text-lg-center text-xs-center">
                                <span class="btn btn-md btn-primary btn-round-md"> BUY </span>
                            </div>
                        </a>
                    } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.TA)) {
                        <a href="@Url.Action("TA", "Product")" class="item">
                            <h1 class="text-lg-center text-xs-center">@item.Value.TitleEN</h1>
                            <div class="icon-container">
                                <i class="icon-map-copy"></i>
                            </div>
                            <h2 class="text-lg-center text-xs-center">@(item.Value.HomeText1EN)</h2>
                            <p class="text-lg-center text-xs-center">@(item.Value.HomeText2EN)</p>
                            <div class="text-lg-center text-xs-center">
                                <span class="btn btn-md btn-primary btn-round-md"> BUY </span>
                            </div>
                        </a>
                    } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.PA)) {
                        <a href="@Url.Action("PA", "Product")" class="item">
                            <h1 class="text-lg-center text-xs-center">@item.Value.TitleEN</h1>
                            <div class="icon-container">
                                <i class="icon-bag_1-copy"></i>
                            </div>
                            <h2 class="text-lg-center text-xs-center">@(item.Value.HomeText1EN)</h2>
                            <p class="text-lg-center text-xs-center">@(item.Value.HomeText2EN)</p>
                            <div class="text-lg-center text-xs-center">
                                <span class="btn btn-md btn-primary btn-round-md"> BUY </span>
                            </div>
                        </a>
                    } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.PH)) {
                        <a href="@Url.Action("Health", "Product")" class="item">
                            <h1 class="text-lg-center text-xs-center">@item.Value.TitleEN</h1>
                            <div class="icon-container">
                                <i class="icon-heart-copy"></i>
                            </div>
                            <h2 class="text-lg-center text-xs-center">@(item.Value.HomeText1EN)</h2>
                            <p class="text-lg-center text-xs-center">@(item.Value.HomeText2EN)</p>
                            <div class="text-lg-center text-xs-center">
                                <span class="btn btn-md btn-primary btn-round-md"> BUY </span>
                            </div>
                        </a>
                    } else if (item.Key == ((int)TobJod.Models.ProductCategoryKey.Home)) {
                        <a href="@Url.Action("Home", "Product")" class="item">
                            <h1 class="text-lg-center text-xs-center">@item.Value.TitleEN</h1>
                            <div class="icon-container">
                                <i class="icon-house-copy"></i>
                            </div>
                            <h2 class="text-lg-center text-xs-center">@(item.Value.HomeText1EN)</h2>
                            <p class="text-lg-center text-xs-center">@(item.Value.HomeText2EN)</p>
                            <div class="text-lg-center text-xs-center">
                                <span class="btn btn-md btn-primary btn-round-md"> BUY </span>
                            </div>
                        </a>
                    }
                }
            }
        </div>
    </section>
    <section class="container-fluid home-full-width">
        <div class="row hidden-sm hidden-xs">
            <div class="col-md-6 clear-boot-pad">
                <a href="@Model.Promotion1Url" target="@Model.Promotion1Target" class="">
                    <figure>
                        <img class="img-responsive" src="@Model.PathConfig@Model.Promotion1Image" />
                    </figure>
                </a>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <a href="@Model.Promotion2Url" target="@Model.Promotion2Target" class="col-md-12 col-lg-12 clear-boot-pad">
                        <figure>
                            <img class="img-responsive" src="@Model.PathConfig@Model.Promotion2Image" />
                        </figure>
                    </a>
                </div>
                <div class="row">
                    <a href="@Model.Promotion3Url" target="@Model.Promotion3Target" class="col-md-6 col-lg-6 clear-boot-pad">
                        <figure>
                            <img class="img-responsive" src="@Model.PathConfig@Model.Promotion3Image" />
                        </figure>
                    </a>
                    <a href="@Model.Promotion4Url" target="@Model.Promotion4Target" class="col-md-6 col-lg-6 clear-boot-pad">
                        <figure>
                            <img class="img-responsive" src="@Model.PathConfig@Model.Promotion4Image" />
                        </figure>
                    </a>
                </div>
            </div>
        </div>
        <div class="row visible-xs-block visible-sm-block">
            <div class="owl-carousel10">
                <a href="@Model.Promotion1Url" target="@Model.Promotion1Target" class="col-xs-12 col-sm-12 clear-boot-pad">
                    <div class="img-item" style="background-image: url('@Model.PathConfig@Model.Promotion1ImageMobile');" title="banner-01"></div>
                </a>
                <a href="@Model.Promotion2Url" target="@Model.Promotion2Target" class="col-xs-12 col-sm-12 clear-boot-pad">
                    <div class="img-item" style="background-image: url('@Model.PathConfig@Model.Promotion2ImageMobile');" title="banner-02">

                    </div>
                </a>
                <a href="@Model.Promotion3Url" target="@Model.Promotion3Target" class="col-xs-12 col-sm-12 clear-boot-pad">
                    <div class="img-item" style="background-image: url('@Model.PathConfig@Model.Promotion3ImageMobile');" title="banner-03">

                    </div>
                </a>
                <a href="@Model.Promotion4Url" target="@Model.Promotion4Target" class="col-xs-12 col-sm-12 clear-boot-pad">
                    <div class="img-item" style="background-image: url('@Model.PathConfig@Model.Promotion4ImageMobile');" title="banner-04">

                    </div>
                </a>
            </div>
        </div>
    </section>

    <div class="hidden-sm hidden-xs">
        @Html.Partial("EN/_WhyUs")
    </div>

    <section class="container-fluid home-full-width clear-boot-pad section-5-step hidden-xs hidden-sm">
        <div class="inner">
            <div class="text-container">
                <div class="something-semantic">
                    <div class="something-else-semantic">
                        <h2 class="text-lg-center title">
                            <b>Select-Buy-Pay-Covered</b>... 4 Simple Steps
                        </h2>


                        <div class="detail-section">
                            <div class="row">
                                <div class="col-md-3 col-xs-12">
                                    <h6>Select</h6>
                                </div>
                                <div class="col-md-2 col-xs-1 hidden-xs hidden-sm"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
                                <div class="col-md-7 col-xs-12">
                                    <p>
                                        Choose the insurance you need: car insurance, Compulsory Motor Insurance (Por Ror Bor),    travel insurance, personal accident insurance, and many more which suit your lifestyle.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-12"><h6>Buy</h6></div>
                                <div class="col-md-2 col-xs-1 hidden-xs hidden-sm"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
                                <div class="col-md-7 col-xs-12">
                                    <p>
                                        Easy as a click of your finger with online-purchase, fill out the e-form and the insurance policy is right in your hands. Convenient, handy, timely, answering a simple lifestyle.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-12">
                                    <h6>Pay</h6>
                                </div>
                                <div class="col-md-2 col-xs-1 hidden-xs hidden-sm"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
                                <div class="col-md-7 col-xs-12">
                                    <p>
                                        Time-saving with multiple payment methods including online payment via credit card and cash payment at serviced places.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-12"><h6>Covered</h6></div>
                                <div class="col-md-2 col-xs-1 hidden-xs hidden-sm"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
                                <div class="col-md-7 col-xs-12">
                                    <p>
                                        The coverage is instantly applied after the payment, with your insurance policy delivered promptly to you via mail and email.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container section-6-step text-lg-center text-sm-center">
        <h1 class="title text-xs-center text-sm-center">User Testimonial </h1>
        <div class="hidden-xs hidden-sm">
            <ul class="owl-carousel item-container">
                @foreach (var item in Model.UserTestimonial) {
                    <li class="item">
                        <figure class="sub-item">
                            <img class="img-responsive" src="@Url.Content("~/assets/images/home/" + item.Image)" alt="@item.NameEN" title="@item.NameEN" />
                        </figure>
                        <div class="sub-item col-r">
                            <div class="something-semantic">
                                <div class="something-else-semantic">
                                    <p class="text-container">
                                        <img class="lazy img-responsive double-quotes-1" data-original="@Url.Content("~/assets/images/icon/double_quotes.png")" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  />
                                        @(Html.Raw(item.QuoteEN))
                                        <img class="lazy img-responsive double-quotes-2" data-original="@Url.Content("~/assets/images/icon/double_quotes.png")" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  />
                                    </p>
                                </div>
                            </div>
                            <div class="line-border">
                                <div class="inner">
                                    <span>@item.NameEN</span>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="hidden-lg hidden-md">
            <div class="owl-carousel11 item-container">
                @foreach (var item in Model.UserTestimonial) {
                    <div class="item">
                        <figure class="sub-item">
                            <img class="img-responsive" src="@Url.Content("~/assets/images/home/" + item.Image)" alt="@item.NameEN" title="@item.NameEN" />
                        </figure>
                        <div class="sub-item">
                            <div class="something-semantic">
                                <div class="something-else-semantic" id="exptobjod">
                                    <p class="text-container">
                                        @(Html.Raw(item.QuoteEN))
                                    </p>
                                </div>
                            </div>
                            <div class="line-border">
                                <div class="inner">
                                    <span>@item.NameEN</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </section>


    <div class="hidden-md hidden-lg visible-xs-block visible-sm-block">
        <section class="container why-us-product">
            <h1 class="text-lg-center title text-sm-center">
                <b>“Tobjod” </b>The Right Choice for Insurance Users
            </h1>
            <div class="line-border">
                <div class="col-xs-6 col-sm-6 item-container">
                    <a href="#" class="item" id="unclicked">
                        <figure>
                            <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-1.jpg")"  />
                            <figcaption class="text-lg-center text-xs-center"><b>Convenience</b></figcaption>
                        </figure>
                        <p class="text-lg-center text-xs-center hidden-xs">
                            instant pay,<br/> instant covered
                        </p>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 item-container">
                    <a href="#" class="item active"> id="unclicked"
                        <figure>
                            <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-2.jpg")"  />
                            <figcaption class="text-lg-center text-xs-center"><b>Worthiness</b></figcaption>
                        </figure>
                        <p class="text-lg-center text-xs-center hidden-xs">
                            wide coverage and excellent service<br/> worth the insurance premium 
                        </p>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 item-container">
                    <a href="#" class="item" id="unclicked">
                        <figure>
                            <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-3.jpg")"  />
                            <figcaption class="text-lg-center text-xs-center"><b>Variety</b></figcaption>
                        </figure>
                        <p class="text-lg-center text-xs-center hidden-xs">
                            broad selection of insurance products <br />suitable for your dream lifestyle
                        </p>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 item-container">
                    <a href="#" class="item active" id="unclicked">
                        <figure>
                            <img class="img-responsive" src="@Url.Content("~/assets/images/home/why-us-4.jpg")"  />
                            <figcaption class="text-lg-center text-xs-center"><b>Professional</b></figcaption>
                        </figure>
                        <p class="text-lg-center text-xs-center hidden-xs">
                            rest assured with a team <br />of insurance experts full of experiences
                        </p>
                    </a>
                </div>
            </div>
        </section>
    </div>

    <div class="hidden-xs hidden-sm">
        <section class="container-fluid section-7-step text-lg-center text-sm-center">
            <div class="container">
                <ul class="owl-carousel2 item-container">
                    @foreach (var item in Model.PartnerBanner) {
                        <li class="item">
                            <div class="something-semantic">
                                <div class="something-else-semantic" style="height:100%;">
                                    <figure class="sub-item">
                                        <img class="img-responsive" src="@Model.PathPartnerBanner@item.ImageEN" alt="@item.TitleEN" title="@item.TitleEN" />
                                    </figure>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </section>
    </div>
</main>
@section modal {
    @if (Model.Popup != null) {
        <!-- Modal colorbox landing popup -->
        <div class="modal fade main-model-popup" id="popup-model-colorbox-landing-page" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!--  <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div> -->
                    <div class="modal-body">
                        <div class="close-box"></div>
                        <div class="text-close" data-dismiss="modal" aria-label="Close">&times;</div>
                        <h2 class="text-center"></h2>
                        <figure>
                            <a href="@Model.Popup.UrlEN"><img src="@Url.Content(System.Configuration.ConfigurationManager.AppSettings["Path_Popup"]+Model.Popup.ImageEN)" class="img-responsive" /></a>
                        </figure>
                        <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-primary contact-submit landing-pop-close">Close</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
}
@section css {
    <link rel="stylesheet" href="@Url.Content("~/assets/css/newform_mobile.min.css")" />
}
<div style="overflow: hidden; display:block; width:1px; height:1px;">
<div id="homecontent" align="center" class="lightbox" style="border:3px solid #ebe50c;">
<span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>การเลือกทุนประกันภัย</h1><br />
                <img src="@Url.Content("~/assets/images/product/colhome.jpg")" class="homepop" alt=""><br />
                <div class="col-12">
                    <div class="col-md-4">
                        <div style="display:inline;"><p class="pnumber">1</p><h2 class="h2calhome"> &nbsp; หาพื้นที่สิ่งปลูกสร้าง</h2></div>
                        <p>ตัวอย่างทาวเฮาส์ชั้นเดียว</p>
                        <p>ตัวอาคาร พื้นที่ (กว้าง x ยาว) x ราคาก่อสร้าง</p>
                        <p class="formularorange">(5 x 12) x 9,200 = 552,000 บาท</p>
                    </div>
                    <div class="col-md-4">
                        <div style="display:inline;"><p class="pnumber">2</p><h2 class="h2calhome"> &nbsp; คำนวนหามูลค่าทรัพย์สิน</h2></div>
                        <p>มูลค่าตัวอาคาร 552,000 บาท</p>
                        <p>มูลค่าทรัพย์สินภายในบ้าน 400,000 บาท</p>
                        <p class="formularorange">ดังนั้น มูลค่าทรัพย์สินรวมอยู่ที่ประมาณ 952,000 บาท</p>
                    </div>
                    <div class="col-md-4">
                        <div style="display:inline;"><p class="pnumber">3</p><h2 class="h2calhome"> &nbsp; เลือกทุนประกันภัย</h2></div>
                        <p>ควรเลือกความคุ้มคองที่ 1,000,000 บาท</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12" align="center">
                <table id="colheader">
                    <tr>
                        <th><h1>ราคาประเมินค่าก่อสร้าง</h1></th>
                    </tr>
                </table>
                <table id="coldetail">
                    <thead>
                        <tr>
                            <th>ประเภทสิ่งปลูกสร้าง</th>
                            <th>ราคาก่อสร้าง(บาท)</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        <tr>
                            <th>บ้านเดี่ยวคอนกรีตล้วน ชั้นเดียว</th>
                            <th>12,900</th>
                        </tr>
                        <tr>
                            <th>บ้านเดี่ยวคอนกรีตล้วน 2-3 ชั้น</th>
                            <th>12,100</th>
                        </tr>
                        <tr>
                            <th>บ้านเดี่ยวครึ่งตึกครึ่งไม้</th>
                            <th>12,100</th>
                        </tr>
                        <tr>
                            <th>ทาวน์เฮาส์ชั้นเดียว</th>
                            <th>9,200</th>
                        </tr>
                        <tr>
                            <th>ทาวน์เฮาส์ 2-3 ชั้นหน้ากว้าง 4 เมตร</th>
                            <th>9,000</th>
                        </tr>
                        <tr>
                            <th>ทาวน์เฮาส์ 2-3 ชั้นหน้ากว้าง 5-6 เมตร</th>
                            <th>9,300</th>
                        </tr>
                    </tbody>
                </table>
                <h4>อ้่างอิงราคาประเมิน พ.ศ. 2561 มูลนิธิค่าทรัพย์สินแห่งประเทศไทย</h4><br />
                <button id="butclosed" class="btn btn-md btn-primary btn-round-md featherlight-close" aria-label="Close">ปิดหน้าต่างนี้</button>
                <div class="col-md-12 homefooter"></div>
            </div>
        </div>
    </div>
</div>
</div>