﻿@{ Layout = "~/Views/Shared/EN/_Layout.cshtml"; }
@model TobJod.Web.Models.HomeViewModel

<main id="page-product-thumbnail" class="tomDev search_result">
    <div class="lineTop"></div>
    <div class="container">
        <div class="row">
            <h1>Search result <strong>"@ViewBag.Search"</strong></h1>
        </div>

    </div>

    <!-- Listing Grid View -->
    <section id="newsSection" class="setTop listView opa">
        <div class="container"><input type="hidden" id="Search" name="search" value="@ViewBag.Search" />
            <div class="row" id="news-box" data-load-url="@Url.Action("SearchList", "Home")" data-page="0" data-column-size="12">
            </div>
        </div>
        <div class="setCenter">
            <button id="news-list-load-more" class="btnOutline">Load More</button>
        </div>
    </section>
    <!-- Listing Grid View END -->

    <div id="items-not-found" style="display: none;">Not found</div>
</main>


@section js {
<script type="text/template" data-template="newslistitem">
    <div class="item col-sm-12">
        <a href="${Url}">
            <div class="col-sm-12">
                <img src="@ViewBag.UrlUpload${Image}" alt="${ImageAlt}" class="img-responsive">
            </div>
            <div class="col-sm-12">
                <div>
                    <div><b>${SubCategory}</b></div>
                    <div>${Date}</div>
                </div>
                <h2>${Title}</h2>
                <div>${Brief}</div>
                <div class="btnLink">View</div>
            </div>
        </a>
    </div>

</script>
<script src="~/assets/js/news.js"></script>
}