﻿@model TobJod.Admin.Models.ConfigPageViewModel

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i></span>@ViewBag.CurrentMenu.Title</h1>
</div>

<div class="panel">
    <div class="panel-heading">
        @if (ViewBag.CurrentMenu.Can_Add) { <a href="@Url.Action("Create")" class="btn btn-info btn-sm pull-right"><span class="btn-label-icon left fa fa-plus"></span> &nbsp; Create</a> }
        <div class="panel-title">List</div>
    </div>
    <div class="panel-body">

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tabs-list" data-toggle="tab">
                    List
                </a>
            </li>
            <li>
                <a href="#tabs-current" data-toggle="tab">
                    Current
                </a>
            </li>
            <li>
                <a href="#tabs-view" data-toggle="tab">
                    Draft <span class="badge badge-warning">@Model.ApproveStatus.ToString()</span>
                </a>
            </li>
        </ul>

        <div class="tab-content tab-content-bordered">
            <div class="tab-pane fade in active" id="tabs-list">

                @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Get, new { @class = "form-horizontal", role = "form", id = "form-search" })) {

                    <div class="form-group">

                        <label class="control-label col-md-2" for="DateFrom">Date From</label>
                        <div class="col-md-2">
                            <input type="text" id="DateFrom" name="DateFrom" class="form-control date-picker" value="@ViewBag.DateFrom" />
                        </div>
                        <label class="control-label col-md-1" for="DateTo">Date To</label>
                        <div class="col-md-2">
                            <input type="text" id="DateTo" name="DateTo" class="form-control date-picker" value="@ViewBag.DateTo" />
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary" id="btn-search">Submit</button>
                        </div>
                    </div>
                }

                <div class="table-primary">
                    <table class="table table-striped table-bordered data-table data-table-action" id="dataTable">
                        <thead>
                            <tr>
                                <th class="id">Id</th>
                                <th>Title</th>
                                <th class="datetime">Create</th>
                                <th class="datetime">Update</th>
                                <th class="status">Status</th>
                                <th class="status">Approve</th>
                                <th class="action action-@(1 + (ViewBag.CurrentMenu.Can_Edit ? 1 : 0) + (ViewBag.CurrentMenu.Can_Delete ? 1 : 0) + (ViewBag.CurrentMenu.Can_Approve ? 1 : 0)+ (ViewBag.CurrentMenu.Can_Assign ? 1 : 0))" data-sortable="false"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="tabs-current">
                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.BodyTH, htmlAttributes: new { @class = "control-label col-md-2 required" })
                    <div class="col-md-10 form-control-static">
                        @Html.Raw(Model.CurrentPage.BodyTH)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.BodyEN, htmlAttributes: new { @class = "control-label col-md-2 required" })
                    <div class="col-md-10 form-control-static">
                        @Html.Raw(Model.CurrentPage.BodyEN)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.MetaTitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.MetaTitleTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.MetaTitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.MetaTitleEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.MetaKeywordTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.MetaKeywordTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.MetaKeywordEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.MetaKeywordEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.MetaDescriptionTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.MetaDescriptionTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.MetaDescriptionEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.MetaDescriptionEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.OGTitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.OGTitleTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.OGTitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.OGTitleEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.OGDescriptionTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.OGDescriptionTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.OGDescriptionEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.CurrentPage.OGDescriptionEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.OGImageTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        <div id="OGImageTHSame">
                            <div class="img-preview"><img src="@ViewBag.PathRel@Model.CurrentPage.OGImageTH" class="img-responsive" /></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPage.OGImageEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        <div id="OGImageENSame">
                            <div class="img-preview"><img src="@ViewBag.PathRel@Model.CurrentPage.OGImageEN" class="img-responsive" /></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="tabs-view">
                @using (Html.BeginForm("ApprovePage", (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                    
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.BodyTH, htmlAttributes: new { @class = "control-label col-md-12 required" })
                            <br /><br /><button type="button" id="btn-preview-th" class="btn btn-warning pull-right">Preview</button>
                        </div>
                        <div class="col-md-10 form-control-static" id="BodyTH">
                            @Html.Raw(Model.BodyTH)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.BodyEN, htmlAttributes: new { @class = "control-label col-md-12 required" })
                            <br /><br /><button type="button" id="btn-preview-en" class="btn btn-warning pull-right">Preview</button>
                        </div>
                        <div class="col-md-10 form-control-static" id="BodyEN">
                            @Html.Raw(Model.BodyEN)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MetaTitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.MetaTitleTH, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MetaTitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.MetaTitleEN, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MetaKeywordTH, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.MetaKeywordTH, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MetaKeywordEN, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.MetaKeywordEN, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MetaDescriptionTH, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.MetaDescriptionTH, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MetaDescriptionEN, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.MetaDescriptionEN, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OGTitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.OGTitleTH, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OGTitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.OGTitleEN, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OGDescriptionTH, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.OGDescriptionTH, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OGDescriptionEN, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DisplayFor(model => model.OGDescriptionEN, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OGImageTH, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            <div id="OGImageTHSame">
                                <div class="img-preview"><img src="@ViewBag.PathRel@Model.OGImageTH" class="img-responsive" /></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OGImageEN, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            <div id="OGImageENSame">
                                <div class="img-preview"><img src="@ViewBag.PathRel@Model.OGImageEN" class="img-responsive" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            @if (ViewBag.CurrentMenu.Can_Edit) {
                                <a href="@Url.Action("EditPage")" class="btn btn-warning" name="Edit" value="">Edit</a>
                            }
                        </div>
                        <div class="col-md-10">
                            @if (ViewBag.CurrentMenu.Can_Approve) {
                                <button type="submit" class="btn btn-primary" name="Approve" value="@TobJod.Models.ApproveStatus.Approve">Approve</button>
                                <button type="submit" class="btn btn-warning" name="Approve" value="@TobJod.Models.ApproveStatus.Reject">Reject</button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>


        @using (Html.BeginForm("Preview", (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-preview", target = "preview" })) {
            <input type="hidden" name="language" id="preview-language" value="" />
            <input type="hidden" name="body" id="preview-body" value="" />
        }
    </div>
</div>
@section js {
@Scripts.Render("~/bundles/jqueryval")
<script src="~/assets/vendor/ckeditor/ckeditor.js"></script>
<script src="~/assets/vendor/ckeditor/adapters/jquery.js"></script>
<script>
    var $table;
    $(function() {
        $table = $('#dataTable').DataTable({
            ajax: {
                url: '@Url.Action("DataTable")',
                type: 'POST',
                data: function (d) {
                    d.DateFrom = '@ViewBag.DateFrom';
                    d.DateTo = '@ViewBag.DateTo';
                }
            },
            order: [[0, 'desc']]
        });
        $('.date-picker').datepicker({ format: "dd/mm/yyyy", autoclose: true });
        $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var re = /[0-3]\d\/[01]\d\/\d{4}/;
                var ok;
                try {
                    ok = value.match(re) != null;
                } catch (err) { ok = false; }
                return ok;
            });

        $('#form-search').submit(function () {
            var error = [];
            var start = $('#DateFrom').datepicker('getDate');
            var end = $('#DateTo').datepicker('getDate');
            var diff = dateDiffInDays(start, end);
            if (diff < 0) {
                error.push('- Date To must be greater than Date From')
            }

            if (error.length > 0) {
                alert(error.join('\r\n'));
                return false;
            } else {
                return true;
            }
        });
    });
        var uploadurl = 'configpage/';
        $.validator.setDefaults({ ignore: ':hidden:not(.text-editor)' });
        $(function () {
            $('textarea.text-editor').ckeditor();
            $('.OGImageSame:checked').click();
        });
        $('.OGImageSame').click(function () {
            var val = $(this).val();
            if (val == 'true') {
                $($(this).data('target')).hide();
            } else {
                $($(this).data('target')).show();
            }
        });
        $('#btn-preview-th').click(function () {
            ShowPreview('th', $('#BodyTH').html());
        });
        $('#btn-preview-en').click(function () {
            ShowPreview('en', $('#BodyEN').html());
        });

        function ShowPreview(language, body) {
            $('#form-preview').attr('action', '@System.Configuration.ConfigurationManager.AppSettings["Url_FrontEnd"]/' + language + '/PaymentMethod/Preview');
            $('#preview-language').val(language);
            $('#preview-body').val(body);
            $('#form-preview').submit();
            return false;
        }
</script>
    
}