﻿@model TobJod.Admin.Models.PaymentMethodViewModel
@{ var Url_FrontEnd = System.Web.Configuration.WebConfigurationManager.AppSettings["Url_FrontEnd"]; }

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
            @Html.AntiForgeryToken()
            
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
            
                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.TitleTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.TitleEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UrlTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Url_FrontEnd/th/paymentmethod/detail/@Model.UrlTH
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UrlEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Url_FrontEnd/en/paymentmethod/detail/@Model.UrlEN
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BriefTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.Raw(Model.BriefTH)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BriefEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.Raw(Model.BriefEN)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BodyTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.Raw(Model.BodyTH)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BodyEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.Raw(Model.BodyEN)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageTHFile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @if (Model != null && !string.IsNullOrEmpty(Model.ImageTH)) { <img src="@ViewBag.PathRel@Model.ImageTH" class="img-responsive" /> }
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageENFile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @if (Model != null && !string.IsNullOrEmpty(Model.ImageEN)) { <img src="@ViewBag.PathRel@Model.ImageEN" class="img-responsive" /> }
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageTitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.ImageTitleTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageTitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.ImageTitleEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageAltTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.ImageAltTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageAltEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.ImageAltEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MetaTitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.MetaTitleTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MetaTitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.MetaTitleEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MetaKeywordTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.MetaKeywordTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MetaKeywordEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.MetaKeywordEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MetaDescriptionTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.MetaDescriptionTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MetaDescriptionEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.MetaDescriptionEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OGTitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.OGTitleTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OGTitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.OGTitleEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OGDescriptionTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.OGDescriptionTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OGDescriptionEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.OGDescriptionEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OGImageTHFile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @if (Model != null && !string.IsNullOrEmpty(Model.OGImageTH)) { <img src="@ViewBag.PathRel@Model.OGImageTH" class="img-responsive" /> }
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OGImageENFile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @if (Model != null && !string.IsNullOrEmpty(Model.OGImageEN)) { <img src="@ViewBag.PathRel@Model.OGImageEN" class="img-responsive" /> }
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.LabelFor(model => model.CreateAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.CreateAdmin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UpdateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.UpdateDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.LabelFor(model => model.UpdateAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.UpdateAdmin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OwnerAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.OwnerAdmin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.LabelFor(model => model.ApproveAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.ApproveAdmin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                if ((string)ViewBag.CurrentAction == TobJod.Models.AdminAction.Assign.ToString()) {
                <div class="form-group">
                    @Html.LabelFor(model => model.OwnerAdminId, htmlAttributes: new { @class = "control-label col-md-2 required" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.OwnerAdminId, (IEnumerable<SelectListItem>)ViewBag.OwnerAdminList, "-- Please Select --", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.OwnerAdminId, "", new { @class = "text-danger" })
                    </div>
                </div>
                }

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @if ((string)ViewBag.CurrentAction == TobJod.Models.AdminAction.Approve.ToString()) {
                            <button type="submit" class="btn btn-primary" name="Approve" value="@TobJod.Models.ApproveStatus.Approve">Approve</button>
                            <button type="submit" class="btn btn-warning" name="Approve" value="@TobJod.Models.ApproveStatus.Reject">Reject</button>
                        } else if ((string)ViewBag.CurrentAction == TobJod.Models.AdminAction.Assign.ToString()) {
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="reset" class="btn btn-warning">Reset</button>
                        } else {
                            <button type="button" class="btn btn-warning" onclick="javascript: history.back();">BACK</button>
                        }
                    </div>
                </div>
        }

    </div>
</div>

@section js {
}
