﻿@model TobJod.Admin.Models.PartnerBannerViewModel

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
            @Html.AntiForgeryToken()
            
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.TitleTH, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.TitleEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageTHFile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @if (Model != null && !string.IsNullOrEmpty(Model.ImageTH)) { <img src="@ViewBag.PathRel@Model.ImageTH" class="img-responsive" /> }
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageENFile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @if (Model != null && !string.IsNullOrEmpty(Model.ImageEN)) { <img src="@ViewBag.PathRel@Model.ImageEN" class="img-responsive" /> }
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Sequence, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        @Html.DisplayFor(model => model.Sequence, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.LabelFor(model => model.CreateAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.CreateAdmin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UpdateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.UpdateDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.LabelFor(model => model.UpdateAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 form-control-static">
                        @Html.DisplayFor(model => model.UpdateAdmin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                }

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @if ((string)ViewBag.CurrentAction == TobJod.Models.AdminAction.Assign.ToString()) {
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="reset" class="btn btn-warning">Reset</button>
                        } else {
                            <button type="button" class="btn btn-warning" onclick="javascript: history.back();">BACK</button>
                        }
                    </div>
                </div>
        }

    </div>
</div>

@section js {
}
