﻿@model TobJod.Models.ProductCategory
@{ var Url_FrontEnd = System.Web.Configuration.WebConfigurationManager.AppSettings["Url_FrontEnd"]; }

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) {
            @Html.AntiForgeryToken()
            
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.BriefTH)
                @Html.HiddenFor(model => model.BriefEN)
            
                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TitleTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TitleTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TitleEN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TitleEN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HomeText1TH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HomeText1TH, new { htmlAttributes = new { @class = "form-control text-editor" } })
                        @Html.ValidationMessageFor(model => model.HomeText1TH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HomeText1EN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HomeText1EN, new { htmlAttributes = new { @class = "form-control text-editor" } })
                        @Html.ValidationMessageFor(model => model.HomeText1EN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HomeText2TH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HomeText2TH, new { htmlAttributes = new { @class = "form-control text-editor" } })
                        @Html.ValidationMessageFor(model => model.HomeText2TH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HomeText2EN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HomeText2EN, new { htmlAttributes = new { @class = "form-control text-editor" } })
                        @Html.ValidationMessageFor(model => model.HomeText2EN, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.BriefTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BriefTH, new { htmlAttributes = new { @class = "form-control text-editor" } })
                        @Html.ValidationMessageFor(model => model.BriefTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BriefEN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BriefEN, new { htmlAttributes = new { @class = "form-control text-editor" } })
                        @Html.ValidationMessageFor(model => model.BriefEN, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-10 p-l-4">
                        <label class="checkbox">@Html.EditorFor(model => model.DisplayHome) Display on Home Page</label>
                        @Html.ValidationMessageFor(model => model.DisplayHome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sequence, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Sequence, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sequence, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-10 p-l-4">
                        <label class="checkbox">@Html.EditorFor(model => model.PaymentCounterService) Pay by Counter Service</label>
                        @Html.ValidationMessageFor(model => model.PaymentCounterService, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-10 p-l-4">
                        <label class="checkbox">@Html.EditorFor(model => model.PaymentCreditCard) Pay by Credit Card</label>
                        @Html.ValidationMessageFor(model => model.PaymentCreditCard, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-10 p-l-4">
                        <label class="checkbox">@Html.EditorFor(model => model.PaymentCreditCardInstallment) Pay By Credit Card Installment</label>
                        @Html.ValidationMessageFor(model => model.PaymentCreditCardInstallment, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                    </div>
                </div>
        }

    </div>
</div>

@section js {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/assets/vendor/ckeditor/ckeditor.js"></script>
    <script src="~/assets/vendor/ckeditor/adapters/jquery.js"></script>
    <script>
	    var uploadurl = 'productcategory/';
        $(function () {
            $('textarea.text-editor').ckeditor();
        });
    </script>*@
}
