﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style type="text/css">
        a, a:focus { outline: 0; }
        table { width: 100%; }
        h4 { font-size: 12px; }
        p { font-size: 12px; }
        h5 {
            font-weight: bold;
            background-color: #f36f21;
            color: #FFF;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
        }
        th,td { width: 50%; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px;}
        body { font-size: 12px; }
    </style>
</head>
<body>
    <table style="width: 100%;border-left: solid 1px #363636; border-right: solid 1px #363636; border-top: solid 1px #363636; border-bottom: solid 1px #363636;">
        <tbody>
            <tr>
                <td>
                    <div class="container">
                        <section>
                            <img src="{{email_image_header}}" width="100%" class="img-responsive" style="width: 100%; display: block;" />
                            <table>
                                <tr>
                                    <td>
                                        <img src="{{base_url}}assets/mail/images/header.jpg" width="100%" class="img-responsive" style="width: 100%" />
                                    </td>
                                    <td>
                                        <h4><b>บริษัท ธนชาตโบรกเกอร์ จำกัด</b></h4>
                                        <p>{{tobjod_address}}</p>
                                    </td>
                                </tr>
                            </table>
                        </section>
                        <section>
                            <div><h5>ข้อมูลผู้เอาประกัน </h5></div>
                            <table>
                                <tr>
                                    <th style="width: 50%">ชื่อผู้สมัคร</th>
                                    <td style="width: 50%">{{ph_name}}</td>
                                </tr>
                                <tr style="background-color: #fff1e9;">
                                    <th>สัญชาติ</th>
                                    <td>{{ph_nationality}}</td>
                                </tr>
                                <tr>
                                    <th>เลขที่ประจำตัวประชาชน / พาสปอร์ต</th>
                                    <td>{{ph_id_card}}</td>
                                </tr>
                                <tr style="background-color: #fff1e9;">
                                    <th>วันเกิด</th>
                                    <td>{{ph_birthday}}</td>
                                </tr>
                                <tr>
                                    <th>อายุ</th>
                                    <td>{{ph_age}}</td>
                                </tr>
                                <tr style="background-color: #fff1e9;">
                                    <th>โทรศัพท์</th>
                                    <td>{{ph_tel}}</td>
                                </tr>
                                <tr>
                                    <th>โทรศัพท์มือถือ</th>
                                    <td>{{ph_mobile}}</td>
                                </tr>
                                <tr style="background-color: #fff1e9;">
                                    <th>อีเมล</th>
                                    <td>{{ph_email}}</td>
                                </tr>
                                {{ph_detail}}
                            </table>
                        </section>
                        <section>
                                <div><h5>ข้อมูลรายการสั่งซื้อ</h5></div>
                                <table>
                                    <tr>
                                        <th style="width: 50%">ประเภทประกัน</th>
                                        <td style="width: 50%">{{product_category}}</td>
                                    </tr>
                                    <tr style="background-color: #fff1e9;">
                                        <th>ชื่อแผนประกัน</th>
                                        <td>{{product_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>บริษัทประกัน</th>
                                        <td>{{product_company}}</td>
                                    </tr>
                                    <tr style="background-color: #fff1e9;">
                                        <th>รูปแบบกรมธรรม์</th>
                                        <td>{{product_type}}</td>
                                    </tr>
                                    <tr>
                                        <th>เลขที่อ้างอิงรายการสั่งซื้อ</th>
                                        <td>{{order_no}}</td>
                                    </tr>
                                    <tr style="background-color: #fff1e9;">
                                        <th>เลขที่อ้างอิงการชำระเงิน</th>
                                        <td>{{payment_no}}</td>
                                    </tr>
                                    <tr>
                                        <th>สถานะการชำระเงิน</th>
                                        <td style="color: green;"><b>สำเร็จ</b></td>
                                    </tr>
                                    <tr style="background-color: #fff1e9;">
                                        <th>ประเภทการชำระเงิน</th>
                                        <td>{{payment_type}}</td>
                                    </tr>
                                    <tr>
                                        <th>ค่าเบี้ยประกัน</th>
                                        <td>{{total_premium}} บาท</td>
                                    </tr>
                                    <tr style="background-color: #fff1e9;">
                                        <th>วันที่เริ่มต้นคุ้มครอง</th>
                                        <td>{{active_date}}</td>
                                    </tr>
                                    <tr>
                                        <th>วันที่สิ้นสุดคุ้มครอง</th>
                                        <td>{{expire_date}}</td>
                                    </tr>
                                    <tr>
                                        <th>วันที่ชำระเงิน</th>
                                        <td>{{payment_date}}</td>
                                    </tr>
                                </table>
                        </section>
                        <section>
                            <div><h5>ข้อมูลผลิตภัณฑ์</h5></div>
                            <table>
                                {{product_coverage}}
                            </table>
                        </section>
                        <footer>
                            <img src="{{email_image_footer}}" class="img-responsive" width="100%" style="width: 100%; display: block;" />
                        </footer>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>