﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style type="text/css">
        a, a:focus { outline: 0; }
    </style>
</head>
<body>
    <table style="width: 550px;border-left: solid 1px #363636; border-right: solid 1px #363636; border-top: solid 1px #363636; border-bottom: solid 1px #363636;">
        <tbody>
            <tr>
                <td>
                    <div class="container" style=" max-width: 550px;">
                        <header>
                            <img src="{{email_image_header}}" class="img-responsive" style="width: 100%; display: block;" />
                        </header>
                        <section>
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="padding-top: 35px; padding-bottom: 30px;">
                                            <div class="col-md-12 wrapper" style="text-align: center; min-height: 100px;">
                                                <p style="font-size: 16px;  font-family: 'Arial','tahoma'; margin-top: 0px; ">{{message}}</p>
                                                <h2 style="color: #f36f21; font-size: 45px; font-family: 'Arial','tahoma'; margin-top: 20px; margin-bottom: 20px; ">“ตอบโจทย์”</h2>
                                                <p style="font-family: 'Arial','tahoma'; margin-top: 25px; line-height: 20px; ">
                                                    <table style="width: 550px;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding:0px 40px;">
                                                                    ขอขอบคุณอย่างยิ่งที่ท่านได้กรอกอีเมลเพื่อรับข้อมูลข่าวสารจากเรา เราจะคัดสรรข้อมูลข่าวสาร โปรโมชั่น สิทธิพิเศษต่างๆ และนำเสนอให้ทราบทางอีเมลของท่าน…ก่อนใคร!<br />
                                                                    ทีมงานตอบโจทย์
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                        <footer>
                            <img src="{{email_image_footer}}" class="img-responsive" style="width: 100%; display: block;" />
                        </footer>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>