﻿@model TobJod.Models.ProductItem

@{
    var configModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    TobJod.Models.LeadForm leadForm = new TobJod.Models.LeadForm();
    if (ViewBag.LeadForm is TobJod.Models.LeadForm) { leadForm = (TobJod.Models.LeadForm)ViewBag.LeadForm; }
}
<style type="text/css">
    .has-success input, .has-success select, .has-success select:focus { border-top-color: #ccc !important; border-bottom-color: #ccc !important; border-right-color: #ccc !important; border-left-color: #F46F22 !important; }
</style>
<!-- Modal -->
<div class="modal fade" id="contact-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--  <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div> -->
            <div class="modal-body">
                <form action="@Url.Action("Save", "Product")@(Request.Url.Query)" class="form_style" method="post" id="contact_agent_form"
                      @if (configModel.EnableCaptcha) { <text>
                      data-fv-addons="reCaptcha2"
                      data-fv-addons-recaptcha2-element="captchaContainer2"
                      data-fv-addons-recaptcha2-theme="light"
                      data-fv-addons-recaptcha2-timeout="120"
                      data-fv-addons-recaptcha2-sitekey="6LfcwisUAAAAAH0useokQm42uo-RlPdzPRVthyEb"
                      data-fv-addons-recaptcha2-language="th"
                      data-fv-addons-recaptcha2-message="The captcha is not valid"
                      </text>  }>

                    <div class="close-box"></div>
                    <div class="text-close" data-dismiss="modal" aria-label="Close">&times;</div>
                    <div class="clearfix">
                        <input type="hidden" name="ProductId" value="@Model.Id" />
                        <input type="hidden" name="PremiumId" value="@Model.PremiumId" />
                        <input type="hidden" name="Usage" value="@Model.Usage" />
                        <input type="hidden" name="Category" value="@Model.CategoryId" />
                        @*<input type="hidden" name="q" value="@Request.Url.Query" />*@
                        <h4 class="text-center">CONTACT "TOBJOD"</h4>
                        <div class="warp">
                            <!--
                                <p class="text-center">
                                    If you have any enquiries or wish to receive more information,<br />
                                    please submit an enquiry form below
                                </p>
                            -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Name">Name</label>
                                        <input type="text" id="Name" name="Name" class="form-control required" maxlength="50" placeholder="Please enter name" data-alpha="1" autocomplete="off" value="@leadForm.Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Surname">Surname</label>
                                        <input type="text" id="Surname" name="Surname" class="form-control required" maxlength="50" placeholder="Please enter surname" data-alpha="1" autocomplete="off" value="@leadForm.Surname">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Email">Email</label>
                                        <input type="text" id="Email" name="Email" class="form-control required email" maxlength="250" placeholder="Please enter email" autocomplete="off" value="@leadForm.Email">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Tel">Mobile Phone</label>
                                        <input type="text" id="Tel" name="Tel" class="form-control required numeric" maxlength="10" placeholder="Please enter Telephone" data-num="1" autocomplete="off" value="@leadForm.Tel">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Product">Product</label>
                                        <div class="clearfix"></div>
                                        <div class="product-current">@Model.Company @Model.TitleEN</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="CallBackDate">Callback</label>
                                        <div class="row">
                                            <div class="product-current product-current-v2">
                                                <div class="form-group col-sm-12 col-md-6">
                                                    <input type="text" name="CallBackDay" id="CallBackDay" class="form-control col-sm-12 col-md-6 prevent_type required" placeholder="Date" value="@DateTime.Now.ToString("dd/MM/")@DateTime.Now.Year" readonly="readonly" />
                                                </div>
                                                <div class="form-group col-sm-12 col-md-6">
                                                    <select name="CallBackTime" id="CallBackTime" class="form-control col-sm-12 col-md-6 required" value="@DateTime.Now.ToString("HH:mm")" required="required"><option value="">Please select Time</option>@foreach (var option in TobJod.Models.Lead.CallBackTimeList()) {<option value="@option.Key">@option.Value</option>}</select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="Message">Message</label>
                                        <textarea name="Message" id="Message" cols="30" class="form-control" rows="5" data-alphanum="1"></textarea>
                                    </div>
                                </div>
                            </div>
                            @if (configModel.EnableCaptcha) {
                                <text>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div id="captchaContainer"></div>
                                                <div class="g-recaptcha" data-sitekey="6LfcwisUAAAAAH0useokQm42uo-RlPdzPRVthyEb"></div>
                                            </div>
                                        </div>
                                    </div>
                                </text>
                            }
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="checkbox form-group col-xs-1">
                                            <label>
                                                <input type="checkbox" value="1" name="condition">
                                            </label>
                                        </div>
                                        <div class="col-xs-10">
                                            <div class="text-conscience col-xs-10">
                                                By using services provided in this website, you hereby agree that the personal information you provided will be used on these terms and conditions in accordance with the company’s policy in personal information confidentiality and disclosure for the privacy and security of yours and the company’s.<br /><br />
                                                Tobjod will use the personal information you provided on this website to provide services which serve your needs, expand and improve our database to be updated, and give customers advices about our products and services at present and in the future.<br /><br />
                                                All the information you provided is highly important for the company to improve and develop the services and products associated with your own benefits. The company wants to ensure that all of your information will be preserved confidential under a high security standard. Your personal information will be used to improve our service quality and inform you news about our products and services only. Your personal information will be preserved as long as it is used to serve the stated purposes.<br /><br />
                                                The company reserves the rights to change the policy of personal information confidentiality in the future; the new policy will be published on the website whenever made. Policy of personal information confidentiality does not aim to create any rights associated with contracts and laws or any obligations associated with other parties other than the company.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary contact-submit" id="btn-lead-submit">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#CallBackDay').datetimepicker({ format: 'DD/MM/YYYY', minDate: '@DateTime.Today.ToString("yyyy-MM-dd", new System.Globalization.CultureInfo("en-GB"))', ignoreReadonly: true, daysOfWeekDisabled: [0, 6], disabledDates: [ @Html.Raw(((TobJod.Web.Controllers.ProductController)this.ViewContext.Controller).ListDayOff()) ] }).on('dp.change', function (event) {
            $(this).closest('form').formValidation('revalidateField', $(this).attr('name'))
        });
        //$('#CallBackTime').datetimepicker({ format: 'HH:mm', });
    });
    $('#contact_agent_form').submit('success.form.fv', function (e) {
        @if (configModel.EnableCaptcha) {
            <text>
            if ($('#g-recaptcha-response').length < 1) {
                alert('Please confirm Captcha');
                return false;
            }
            </text>
            }
        var date = $('#CallBackDay').data("DateTimePicker").date();
        var hour = 0;
        if ($('#CallBackTime').val() != '') hour = parseInt($('#CallBackTime').val().substr(0, 2)) + 2;
        date.set({ hour: hour, minute: 0 });
        if (hour > 0 && moment().isAfter(date)) {
            alert('Please select another time');
            return false;
        }
    });
    $('#contact-popup').on('hidden.bs.modal', function () {
        $('#contact_agent_form')[0].reset();
    });
</script>
@if (ViewBag.Notify != null) {
    <div class="modal fade main-model-popup" id="popup-model-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div> -->
                <div class="modal-body">
                    <div class="close-box"></div>
                    <div class="text-close" data-dismiss="modal" aria-label="Close">&times;</div>
                    <h2 class="text-center">@(string.Equals(ViewBag.Notify, "Success") ? "Thank you, your information has been saved." : "Sorry, cannot save your information. Please try again later.")</h2>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () { $('#popup-model-contact').modal('toggle'); });
            //$('#popup-model-contact').on('hidden.bs.modal', function () {
            //    location.reload();
            //});
    </script>
}