﻿@{ 
    var configModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
}
<!-- Modal -->
<div class="modal fade default-form-model" id="lead-form-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--  <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div> -->
            <div class="modal-body">
                <form action="@Url.Action("LeadForm", "Product")" class="form_style" method="post" id="lead_form"
                  @*@if (configModel.EnableCaptcha) {
                      <text>
                      data-fv-addons="reCaptcha2"
                      data-fv-addons-recaptcha2-element="captchaContainer2"
                      data-fv-addons-recaptcha2-theme="light"
                      data-fv-addons-recaptcha2-timeout="120"
                      data-fv-addons-recaptcha2-sitekey="6LfcwisUAAAAAH0useokQm42uo-RlPdzPRVthyEb"
                      data-fv-addons-recaptcha2-language="th"
                      data-fv-addons-recaptcha2-message="The captcha is not valid"
                      </text>
                  }*@
                  >

                    @*<div class="close-box"></div>
                    <div class="text-close" data-dismiss="modal" aria-label="Close">&times;</div>*@
                    <div class="clearfix">
                        <h4 class="text-center">CONTACT "TOBJOD"</h4>
                        <div class="warp">
                            <!--
                                <p class="text-center">
                                    If you have any enquiries or wish to receive more information,<br />
                                    please submit an enquiry form below
                                </p>
                            -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Name">Name</label>
                                        <input type="text" id="Name" name="Name" class="form-control required" maxlength="50" placeholder="Please enter name" data-alpha="1" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Surname">Surname</label>
                                        <input type="text" id="Surname" name="Surname" class="form-control required" maxlength="50" placeholder="Please enter surname" data-alpha="1" autocomplete="off" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Email">Email</label>
                                        <input type="text" id="Email" name="Email" class="form-control required email" maxlength="250" placeholder="Please enter email" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Tel">Mobile Phone</label>
                                        <input type="text" id="Tel" name="Tel" class="form-control required numeric" maxlength="10" placeholder="Please enter Telephone" data-num="1" autocomplete="off" required>
                                    </div>
                                </div>
                            </div>
                            @*@if (configModel.EnableCaptcha) {
                                <text>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div id="captchaContainer"></div>
                                            <div class="g-recaptcha" data-sitekey="6LfcwisUAAAAAH0useokQm42uo-RlPdzPRVthyEb"></div>
                                        </div>
                                    </div>
                                </div>
                                </text>
                            }*@
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary contact-submit" id="btn-lead-form-submit">Submit</button>
                    </div>
                    <input type="hidden" name="lead_form_return_url" id="lead_form_return_url" value="" />
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#lead_form').formValidation();
    });

    $('#lead_form').on('success.form.fv', function (e) {
        e.preventDefault();
        $.post("@Url.Action("LeadForm", "Product")", $("#lead_form").serialize())
            .done(function (data) {
                if (data.success) {
                    var url = $('#lead_form_return_url').val();
                    console.log(url);
                    if (url == '') {
                        $("#lead-form-popup").modal("hide");
                    } else {
                        window.location = url;
                    }
                } else {
                    alert('Sorry, cannot save your information. Please try again later.');
                }
            });
        return false;
    });

    $('#lead-form-popup').on('hidden.bs.modal', function () {
        $('#lead_form')[0].reset();
    });
</script>
@if (ViewBag.Notify != null) {
    <div class="modal fade main-model-popup" id="popup-model-lead" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div> -->
                <div class="modal-body">
                    <div class="close-box"></div>
                    <div class="text-close" data-dismiss="modal" aria-label="Close">&times;</div>
                    <h2 class="text-center">@(string.Equals(ViewBag.Notify, "Success") ? "Thank you, your information has been saved." : "Sorry, cannot save your information. Please try again later.")</h2>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () { $('#popup-model-lead').modal('toggle'); });
    </script>
}