﻿@{
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "พ.ร.บ. รถยนต์ | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ต่อพ.ร.บ. รถยนต์ง่ายได้ที่ตอบโจทย์";
    pageMeta.MetaKeyword = "พ.ร.บ. รถยนต์, ต่อพ.ร.บ. ออนไลน์, พ.ร.บ., พ.ร.บ.";
}

<main id="page-product-thumbnail" class="tomDev super-top-margin">
    <div class="container">
        <div class="row description-insurance">
            <h1>
                Compulsory Third Party Insurance
            </h1>
            <div class="lineTop2"></div>
        </div>
    </div>
    <section class="container description-insurance">
        <div class="row">
            <div class="col-md-3 header-type">
                Name of Insurance
            </div>
            <div class="col-md-9">
                <p>
                    Compulsory Third Party Insurance
                </p>
            </div>

            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                &nbsp;
            </div>
            <div class="col-md-9">
                <p>
                    This program is for car insurance to law enforcement (Traffic Accident Victim Protection Act B.E.2535) for protection of people injured or died in car accidents, whether they are drivers, passengers, pedestrians. A car insurance policy is an important document for annual tax payment filing.  
                </p>
            </div>

            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Coverage
            </div>
            <div class="col-md-9">
                <p>
                    Protection of the loss of life, organs, body and health of car accident victims
                </p>
            </div>

            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Sum Insured Determination
            </div>
            <div class="col-md-9">
                <p>
                    As required by law
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                Person obliged to carry Compulsory Third Party Insurance (CTP)
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        Car owner (Owner of the car) 
                    </li>
                    <li>
                        Car renter (Car occupant as the car renter)
                    </li>
                    <li>
                        Car owner who temporarily brings a car registered in a foreign country into the Kingdom
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                Subject Insured
            </div>
            <div class="col-md-9">
                <p>
                    Life and body
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Period of Insurance
            </div>
            <div class="col-md-9">
                <p>
                    1 Year
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Other Information
            </div>
            <div class="col-md-9">
                <p>
                    Each owner of car registered with the Department of Land Transport is obliged to carry a legal insurance policy under the Act. Any violation is punishable with a fine of not more than 10,000 Baht. Car owners or car users need to keep a proof of car insurance policy for car victim coverage. Such document needs to be available to the competent officer at all times, unless the car is registered or paid for annual tax. 

                    <br /><br />For car registration or annual car tax payment, the Department of Land Transport will check the completeness of Compulsory Third Party Insurance (CTP) before allowing registration or accepting annual tax payment.

                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <br /><br />
    </section>
</main>