﻿@{
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "พ.ร.บ. รถยนต์ | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ต่อพ.ร.บ. รถยนต์ง่ายได้ที่ตอบโจทย์";
    pageMeta.MetaKeyword = "พ.ร.บ. รถยนต์, ต่อพ.ร.บ. ออนไลน์, พ.ร.บ., พ.ร.บ.";
    var pGift = new List<TobJod.Models.PromotionItem>();
}
@model TobJod.Models.ProductItem
@{ var premium = Model.ProductPRB; }
<meta name="format-detection" content="telephone=no">
<main>
    <div class="banner-hero" style="text-align: center;">
        <a href="@Url.Action("compulsory-overview")" class="item" target="_blank">
            <img src="@Url.Content("~/assets/images/hero_banner/02_en.jpg")" alt="" class="img-responsive">
        </a>
    </div>
    <section class="container product-detail">
        <div class="wizard-wrapper">
            <div class="wizard-container container clear-boot-pad hidden-xs hidden-sm">
                <section id="wizard2">
                    <ul class="@(Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online) ? "has-4" : "has-3")">
                        <li class="item1st"><button class="active" onclick="history.back()">Search / Compare</button></li>
                        <li class="item2nd"><button class="active">Insurance Detail</button></li>
                        <li class="item3rd"><button class="">Confirm Information</button></li>
                        @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online)) {
                            <li class="item4th"><button class="">Payment Information</button></li>
                        }
                    </ul>
                </section>
            </div>
            <div class="reg-progress hidden-lg hidden-md">
                <p class="wizard-title hidden-lg hidden-sm" align="center">Insurance Detail</p>
                <ol class="reg-progress__steps">
                    <li data-step="1" class="is-active is-complete">
                        <div class="subTitle hidden-xs">Search / Compare</div>
                    </li>
                    <li data-step="2" class="is-active is-complete active-now">
                        <div class="subTitle hidden-xs">Insurance Detail</div>
                    </li>
                    <li data-step="3" class="">
                        <div class="subTitle hidden-xs">Confirm Information</div>
                    </li>
                    @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online)) {
                        <li data-step="4" class="">
                            <div class="subTitle hidden-xs">Payment Information</div>
                        </li>
                    }
                </ol>
            </div>
            <div class="col-md-12">
                <div class="container arrow-back">
                    <div class="row">
                        <div class="col-md-12 text-xs-center text-sm-center text-md-right">
                            <div class="inner">
                                <a href="@Url.Action("Compulsory", "Product")" class="btnOutline btn-product-previous">Back previous page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="warp-des">
            <ul class="product-detail-main">
                <li class="pic"><img src="@Model.CompanyImage" class="img-responsive img-center" /></li>
                <li class="des">
                    <div class="new">new</div>
                    <h1>@Model.Company <strong>@Model.TitleEN</strong></h1>
                    <span class="price">@premium.Premium.ToString("n2") </span><span class="bath"> Baht</span>
                    <br /><br />
                    @if (Model.Promotion != null && Model.Promotion.Count > 0) {
                        pGift = Model.Promotion.Where(x => x.PromotionType == TobJod.Models.PromotionType.Gift).ToList();
                        <span class="ribbon-content">GIFT REWARD</span><div class="clearfix"></div>
                        if (pGift.Count > 0) {
                            foreach (var g in pGift) {
                                <text><b>@g.Gift</b><br /></text>
                            }
                        }
                    }
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="row product-detail-rows">
            <div class="col-sm-12 col-md-8">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="pull-left" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Coverage
                                </a>
                                <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="orange">View Detail</span>
                                </a>
                                <span class="clearfix"></span>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                        <span class="spanleft">Medical Expence for Bodily injury (per person): </span>
                                        <span class="price-display-ty1"> 80,000 Baht</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">Death  or Total Permanent Disability (per person) : </span>
                                        <span class="price-display-ty1"> 300,000 Baht</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">Dismemberment (per person): </span>
                                        <span class="price-display-ty1">200,000 - 300,000 Baht</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">Hospital cash benefit (per day - up to 20 days):</span>
                                        <span class="price-display-ty1">200 Baht</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">Total liability will not exceeding per person: </span>
                                        <span class="price-display-ty1">304,000 Baht</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">Total liability will not exceeding per occurrence:</span>
                                        <span class="price-display-ty1">@(Request.QueryString["subcategory"] == ((int)TobJod.Models.ProductSubCategoryKey.PRB_Van).ToString() ? "15,000,000" : "5,000,000") Baht</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">Medical Expence for Bodily injury (per person):</span>
                                        <span class="price-display-ty1">30,000 Baht</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">Dismemberment or Total Permanent Disability: </span>
                                        <span class="price-display-ty1">35,000 Baht</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">Death (per person) : </span>
                                        <span class="price-display-ty1">35,000 Baht</span>
                                        <div class="clearfix"></div>
                                    </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <!-- -->
                <div class="box-contact">
                    <div class="head">Compulsory Insurance</div>
                    <div class="warp">
                        <p>
                        </p>
                        <!-- tab -->
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Detail</a></li>
                                @*<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">ประสบการณ์ผู้ใช้งาน</a></li>*@
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="warp-tab-container">
                                        <div class="row">
                                            <div class="col-xs-6">Premium</div>
                                            <div class="col-xs-6 display-align-right">@premium.Premium.ToString("n2") Baht</div>
                                        </div>
                                        @if (Model.Promotion != null && Model.Promotion.Count > 0) {
                                            <div class="row">
                                                <div class="col-xs-6"><span class="red"><strong>GIFT REWARD</strong></span></div>
                                                <div class="col-xs-6">
                                                    <ul class="gift-list">
                                                        @foreach (var g in pGift) {
                                                            <li><strong>@g.Gift</strong></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <p class="padding-top-20">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- tab data-toggle="modal" data-target="#contact-popup" -->
                        @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online)) {
                            <div class="contact-agent-bot"><a class="" href="@Url.Action("Index", "Order", new { ProductId = Model.Id, PremiumId = Model.PremiumId , company = Request.Params["company"] })">Order</a></div>
                        }
                        @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Offline)) {
                            <div class="contact-agent-bot"><a class="call_pop_contact" href="javascript:void(0)">Contact Agent</a></div>
                        }
                    </div>
                </div>
                <!-- -->
            </div>
        </div>
    </section>
    @Html.Partial("../Shared/EN/_Product_Warning")
</main>

@section js {
    <script>
    $(function () {
        @if (ViewBag.ShowLeadForm) {
        <text>
        $("#lead-form-popup").modal("show");
        $("#lead-form-popup").on('hidden.bs.modal', function () {
            window.location.reload(true);
        });
        </text>
        }
    });
    </script>
}

@section modal {
    @Html.Partial("EN/_Lead_Form", Model)
    @if (ViewBag.ShowLeadForm) {
        @Html.Partial("EN/_Lead_Form_Form", Model)
    }
}