﻿@{
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยที่อยู่อาศัย | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "แผนประกันภัยบ้านที่ตอบโจทย์ทุกไลฟ์สไตล์ คุ้มครองดูแลที่พักอาศัย ให้คุณอุ่นใจไร้กังวล";
    pageMeta.MetaKeyword = "ประกัน บ้าน, ประกัน อัคคีภัย บ้าน, ประกัน บ้าน ราคา, ประกันภัย, ประกัน อัคคีภัย, คุ้ม ภัย, ประกัน อัคคีภัย ราคา, ประกัน บ้าน ที่ไหน ดี, คุ้ม ภัย ประกันภัย, ประกัน อัคคีภัย บ้าน ราคา, ทํา ประกัน อัคคีภัย ที่ไหน ดี, ประกัน อัคคีภัย บ้าน pantip, ประกันที่อยู่อาศัย";
    var pGift = new List<TobJod.Models.PromotionItem>();
    var pDiscount = new List<TobJod.Models.PromotionItem>();
}
@model TobJod.Models.ProductItem
@{ var premium = Model.ProductHomePremium[0]; }
<meta name="format-detection" content="telephone=no">
<main>
    <div class="banner-hero" style="text-align: center;">
        <a href="@Url.Action("home-overview")" target="_blank"><img src="@Url.Content("~/assets/images/hero_banner/home05_en.jpg")" class="img-responsive" /></a>
    </div>
    <section class="container product-detail">
        <div class="wizard-wrapper">
            <div class="wizard-container container clear-boot-pad hidden-xs hidden-sm">
                <section id="wizard2">
                    <ul class="@(Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online) ? "has-4" : "has-3")">
                        <li class="item1st"><button class="active" onclick="window.location='@Url.Action("Home" + (Request.QueryString["compare"] == "1" ? "Compare" : ""), "Product", new { PropertyType = Request.Params["PropertyType"], ConstructionType = Request.Params["ConstructionType"], Year = Request.Params["Year"], PropertyValue = Request.Params["PropertyValue"], ConstructionValue = Request.Params["ConstructionValue"] })&Id=@Request.QueryString["cid"]'">Search / Compare</button></li>
                        <li class="item2nd"><button class="active">Insurance Detail</button></li>
                        <li class="item3rd"><button class="">Confirm Information</button></li>
                        @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online)) {
                            <li class="item4th"><button class="">Payment Information</button></li>
                        }
                    </ul>
                </section>
            </div>
            <div class="reg-progress hidden-lg hidden-md">
                <p class="wizard-title hidden-lg hidden-sm" align="center">Insurance Detail</p>
                <ol class="reg-progress__steps">
                    <li data-step="1" class="is-active is-complete">
                        <div class="subTitle hidden-xs"><a href="@Url.Action("Home" + (Request.QueryString["compare"] == "1" ? "Compare" : ""), "Product", new { PropertyType = Request.Params["PropertyType"], ConstructionType = Request.Params["ConstructionType"], Year = Request.Params["Year"], PropertyValue = Request.Params["PropertyValue"], ConstructionValue = Request.Params["ConstructionValue"] })&Id=@Request.QueryString["cid"]">Search / Compare</a></div>
                    </li>
                    <li data-step="2" class="is-active is-complete active-now">
                        <div class="subTitle hidden-xs">Insurance Detail</div>
                    </li>
                    <li data-step="3" class="">
                        <div class="subTitle hidden-xs">Confirm Information</div>
                    </li>
                    @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online)) {
                        <li data-step="4" class="">
                            <div class="subTitle hidden-xs">Payment Information</div>
                        </li>
                    }
                </ol>
            </div>
            <div class="col-md-12">
                <div class="container arrow-back">
                    <div class="row">
                        <div class="col-md-12 text-xs-center text-sm-center text-md-right">
                            <div class="inner">
                                <a href="@Url.Action("Home" + (Request.QueryString["compare"] == "1" ? "Compare" : ""), "Product", new { PropertyType = Request.Params["PropertyType"], ConstructionType = Request.Params["ConstructionType"], Year = Request.Params["Year"], PropertyValue = Request.Params["PropertyValue"], ConstructionValue = Request.Params["ConstructionValue"] })&Id=@Request.QueryString["cid"]" class="btnOutline btn-product-previous">Back previous page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="warp-des">
            <ul class="product-detail-main">
                <li class="pic"><img src="@Model.CompanyImage" class="img-responsive img-center" /></li>
                <li class="des">
                    <div class="new">new</div>
                    <h1>@Model.Company <strong>@Model.TitleEN</strong></h1>
                    <span class="price">@premium.DisplayPremium.ToString("n2") </span><span class="bath"> Baht</span>
                    <br /><br />
                    @if (Model.Promotion != null && Model.Promotion.Count > 0) {
                        pGift = Model.Promotion.Where(x => x.PromotionType == TobJod.Models.PromotionType.Gift).ToList();
                        pDiscount = Model.Promotion.Where(x => x.PromotionType == TobJod.Models.PromotionType.Discount).ToList();
                        if (pGift.Count > 0) {
                            <span class="ribbon-content">GIFT REWARD</span><div class="clearfix"></div>
                            foreach (var g in pGift) {
                                <text><b>@g.Gift</b><br /></text>
                            }

                        }
                        if (pDiscount.Count > 0) {
                            <span class="ribbon-content">DISCOUNT</span><div class="clearfix"></div>
                            foreach (var g in pDiscount) {
                                <text><b>@g.DiscountAmount.ToString("0") @(g.DiscountType == TobJod.Models.PromotionDiscountType.Amount ? "Baht" : "%")</b><br /></text>
                            }

                        }
                    }
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="row product-detail-rows">
            <div class="col-sm-12 col-md-8">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="pull-left" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Coverage
                                </a>
                                <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="orange">View Detail</span>
                                </a>
                                <span class="clearfix"></span>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                        <span class="spanleft">Fire: </span>
                                        <span class="price-display-ty1"> @premium.FireEN</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">Accidental Damage: </span>
                                        <span class="price-display-ty1"> @premium.AccidentalDamageEN</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">Natural Risk : Windstorm/Earthquake/Hail/Flood: </span>
                                        <span class="price-display-ty1"> @premium.NaturalRiskEN</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">Temporary residence rental expenses: </span>
                                        <span class="price-display-ty1"> @premium.TempRentalEN</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">Burglary: </span>
                                        <span class="price-display-ty1">@premium.BurglaryEN</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">Public Liability: </span>
                                        <span class="price-display-ty1">@premium.PublicLiabilityEN</span>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                                <table class="table-coverage">@Html.Raw(Model.CoverageEN.Replace("\n", "<br />"))</table>
                            </div>
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.SpecialCoverageEN)) {
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSpecial">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSpecial" aria-expanded="false" aria-controls="collapseSpecial">
                                        Special Coverage
                                    </a>
                                    <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSpecial" aria-expanded="true" aria-controls="collapseSpecial">
                                        <span class="orange">View Detail</span>
                                    </a>
                                    <span class="clearfix"></span>
                                </h4>
                            </div>
                            <div id="collapseSpecial" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSpecial">
                                <div class="panel-body">
                                    @Html.Raw(Html.Encode(Model.SpecialCoverageEN).Replace("\n", "<br />"))
                                </div>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.ConditionEN)) {
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingCondition">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCondition" aria-expanded="false" aria-controls="collapseCondition">
                                        Conditions
                                    </a>
                                    <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCondition" aria-expanded="true" aria-controls="collapseCondition">
                                        <span class="orange">View Detail</span>
                                    </a>
                                    <span class="clearfix"></span>
                                </h4>
                            </div>
                            <div id="collapseCondition" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCondition">
                                <div class="panel-body">
                                    @Html.Raw(Html.Encode(Model.ConditionEN).Replace("\n", "<br />"))
                                </div>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.ExceptionEN)) {
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingException">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseException" aria-expanded="false" aria-controls="collapseException">
                                        Exclusion
                                    </a>
                                    <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseException" aria-expanded="true" aria-controls="collapseException">
                                        <span class="orange">View Detail</span>
                                    </a>
                                    <span class="clearfix"></span>
                                </h4>
                            </div>
                            <div id="collapseException" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingException">
                                <div class="panel-body">
                                    @Html.Raw(Html.Encode(Model.ExceptionEN).Replace("\n", "<br />"))
                                </div>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.PrivilegeEN)) {
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingPrivilege">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePrivilege" aria-expanded="false" aria-controls="collapsePrivilege">
                                        Privileges
                                    </a>
                                    <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePrivilege" aria-expanded="true" aria-controls="collapsePrivilege">
                                        <span class="orange">View Detail</span>
                                    </a>
                                    <span class="clearfix"></span>
                                </h4>
                            </div>
                            <div id="collapsePrivilege" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPrivilege">
                                <div class="panel-body">
                                    @Html.Raw(Html.Encode(Model.PrivilegeEN).Replace("\n", "<br />"))
                                </div>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.ConsentEN)) {
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingConsent">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseConsent" aria-expanded="false" aria-controls="collapseThree">
                                        Consent
                                    </a>
                                    <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseConsent" aria-expanded="true" aria-controls="collapseConsent">
                                        <span class="orange">View Detail</span>
                                    </a>
                                    <span class="clearfix"></span>
                                </h4>
                            </div>
                            <div id="collapseConsent" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingConsent">
                                <div class="panel-body">
                                    @Html.Raw(Html.Encode(Model.ConsentEN).Replace("\n", "<br />"))
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- -->
            </div>
            <div class="col-sm-12 col-md-4">
                <!-- -->
                <div class="box-contact">
                    <div class="head">Home Insurance</div>
                    <div class="warp">
                        <p>
                            @*มีเรื่องปรากฏในพระคัมภีร์ไบเบิลเกี่ยวกับโจเซฟและความ
                                อดอยากในประเทศอียิปต์ซึ่งถือว่าเป็นโครงการประกันภัย
                                อันแรกเท่าที่บันทึกไว้ในประวัติศาสตร์*@
                        </p>
                        <!-- tab -->
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Detail</a></li>
                                @*<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">ประสบการณ์ผู้ใช้งาน</a></li>*@
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="warp-tab-container">
                                        <div class="row">
                                            <div class="col-xs-6">Premium</div>
                                            <div class="col-xs-6 display-align-right">@premium.DisplayPremium.ToString("n2") Baht</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">Sum insured</div>
                                            <div class="col-xs-6 display-align-right">@premium.SumInsured.ToString("##,###") Baht</div>
                                        </div>
                                        @if (Model.Promotion != null && Model.Promotion.Count > 0) {
                                            <div class="row">
                                                @if (pGift.Count > 0) {
                                                    <div class="col-xs-6"><span class="red"><strong>GIFT REWARD</strong></span></div>
                                                    <div class="col-xs-6">
                                                        <ul class="gift-list">
                                                            @foreach (var g in pGift) {
                                                                <li><strong>@g.Gift</strong></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                }
                                                @if (pDiscount.Count > 0) {
                                                    <div class="col-xs-6"><span class="red"><strong>DISCOUNT</strong></span></div>
                                                    <div class="col-xs-6">
                                                        <ul class="gift-list">
                                                            @foreach (var g in pDiscount) {
                                                                <li><strong>@g.DiscountAmount.ToString("0") @(g.DiscountType == TobJod.Models.PromotionDiscountType.Amount ? "Baht" : "%")</strong></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                }
                                            </div>
                                        }
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <p class="padding-top-20">
                                        @*ความเป็นมาของการประกันภัย มีเรื่องปรากฏในพระคัมภีร์ไบเบิลเกี่ยวกับโจเซฟและความอดอยากในประเทศอียิปต์ซึ่งถือว่าเป็นโครงการประกันภัยอันแรกเท่าที่บันทึกไว้ในประวัติศาสตร์ เล่ากันว่า คืนวันหนึ่ง ฟาโรห์ทรงพระสุบินว่า มีวัวอ้วนเจ็ดตัวกำลังถูกวัวผอมเจ็ดตัวกัดกิน โจเซฟทำนายฝันว่าประเทศอียิ*@
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- tab data-toggle="modal" data-target="#contact-popup" -->
                        @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online)) {
                            <div class="contact-agent-bot"><a class="" href="@Url.Action("Index", "Order", new { ProductId = Model.Id, PremiumId = Model.PremiumId, PropertyType = Request.Params["PropertyType"], ConstructionType = Request.Params["ConstructionType"], Year = Request.Params["Year"], PropertyValue = Request.Params["PropertyValue"], ConstructionValue = Request.Params["ConstructionValue"] })">Order</a></div>
                        }
                        @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Offline)) {
                            <div class="contact-agent-bot"><a class="call_pop_contact" href="javascript:void(0)">Contact Agent</a></div>
                        }
                    </div>
                </div>
                <!-- -->
            </div>
        </div>
        @Html.Partial("../Shared/EN/_Product_Warning")
    </section>
</main>


@section modal {
    @Html.Partial("EN/_Lead_Form", Model)
}