﻿@{
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยที่อยู่อาศัย | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "แผนประกันภัยบ้านที่ตอบโจทย์ทุกไลฟ์สไตล์ คุ้มครองดูแลที่พักอาศัย ให้คุณอุ่นใจไร้กังวล";
    pageMeta.MetaKeyword = "ประกัน บ้าน, ประกัน อัคคีภัย บ้าน, ประกัน บ้าน ราคา, ประกันภัย, ประกัน อัคคีภัย, คุ้ม ภัย, ประกัน อัคคีภัย ราคา, ประกัน บ้าน ที่ไหน ดี, คุ้ม ภัย ประกันภัย, ประกัน อัคคีภัย บ้าน ราคา, ทํา ประกัน อัคคีภัย ที่ไหน ดี, ประกัน อัคคีภัย บ้าน pantip, ประกันที่อยู่อาศัย";
}

<main id="page-product-thumbnail" class="tomDev super-top-margin">
    <div class="container">
        <div class="row description-insurance">
            <h1>Dwelling House Insurance</h1>
            <div class="lineTop2"></div>
        </div>
    </div>
    <section class="container description-insurance">
        <div class="row">
            <div class="col-md-3 header-type">
                Name of Insurance
            </div>
            <div class="col-md-9">
                <p>
                    Dwelling House Insurance
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Coverage
            </div>
            <div class="col-md-9">
                <p>
                    Provide coverage for damage to insured property caused by fire, lightning, explosion, water disasters, aircraft disasters, vehicle disasters, natural disasters (floods, earthquakes, windstorms, hailstones) and others specified in the policy, including rental of temporary accommodation 
                </p>
            </div>

            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Sum Insured Determination
            </div>
            <div class="col-md-9">
                <p>
                    Based on actual cash value of the insured property
                </p>
            </div>

            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                Customer Suitability
            </div>
            <div class="col-md-9">
                <ul>
                    <li>Property owner (House of the Property)</li>
                    <li>Property renter (Property occupant as the House renter)</li>
                    <li>Property owner who temporarily brings a House registered in a foreign country into the Kingdom</li>
                </ul>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                Subject Insured
            </div>
            <div class="col-md-9">
                <ul>
                    <li>Residential houses such as single house, townhouse, etc.</li>
                    <li>Condominium</li>
                    <li>Property in residential building</li>
                </ul>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Period of Insurance
            </div>
            <div class="col-md-9">
                <p>
                    1 – 30 Years
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Background Information for Consideration
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        Location of property (specify floor in case of condominium)
                    </li>
                    <li>
                        Detail of insured property
                    </li>
                    <li>
                        Building structure (concrete, wood)
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>