﻿@{
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยที่อยู่อาศัย | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "แผนประกันภัยบ้านที่ตอบโจทย์ทุกไลฟ์สไตล์ คุ้มครองดูแลที่พักอาศัย ให้คุณอุ่นใจไร้กังวล";
    pageMeta.MetaKeyword = "ประกัน บ้าน, ประกัน อัคคีภัย บ้าน, ประกัน บ้าน ราคา, ประกันภัย, ประกัน อัคคีภัย, คุ้ม ภัย, ประกัน อัคคีภัย ราคา, ประกัน บ้าน ที่ไหน ดี, คุ้ม ภัย ประกันภัย, ประกัน อัคคีภัย บ้าน ราคา, ทํา ประกัน อัคคีภัย ที่ไหน ดี, ประกัน อัคคีภัย บ้าน pantip, ประกันที่อยู่อาศัย";
}
@model TobJod.Web.Models.ProductHomeViewModel

@{ var columns = new Dictionary<string, List<String>>() {
        { "Plan", new List<string>() },
        { "Sum insured", new List<string>() },
        { "Premium", new List<string>() },
        { "Fire", new List<string>() },
        { "Accidental Damage", new List<string>() },
        { "Natural Risk : Windstorm/Earthquake/Hail/Flood", new List<string>() },
        { "Temporary residence rental expenses", new List<string>() },
        { "Burglary", new List<string>() },
        { "Public Liability", new List<string>() },
   };
}

@foreach (var item in Model.Products) {
    var premium = item.ProductHomePremium[0];
    columns["Plan"].Add(item.TitleEN);
    columns["Sum insured"].Add(premium.SumInsured.ToString("##,###"));
    columns["Premium"].Add(premium.Premium.ToString("n2"));
    columns["Fire"].Add(premium.FireEN);
    columns["Accidental Damage"].Add(premium.AccidentalDamageEN);
    columns["Natural Risk : Windstorm/Earthquake/Hail/Flood"].Add(premium.NaturalRiskEN);
    columns["Temporary residence rental expenses"].Add(premium.TempRentalEN);
    columns["Burglary"].Add(premium.BurglaryEN);
    columns["Public Liability"].Add(premium.PublicLiabilityEN);
}

<main id="page-product-thumbnail" class="tomDev">
    <div class="bannerTop">
        <a href="@Url.Action("home-overview")" target="_blank"><img src="@Url.Content("~/assets/images/hero_banner/home05_en.jpg")" class="img-responsive" /></a>
    </div>
    <section id="compareSection">
        <div class="wizard-wrapper">
            <div class="wizard-container container clear-boot-pad hidden-xs hidden-sm">
                <section id="wizard1">
                    <ul>
                        <li class="item1st"><button class="active">Search / Compare</button></li>
                        <li class="item2nd"><button class="">Insurance Detail</button></li>
                        <li class="item3rd"><button class="">Confirm Information</button></li>
                        <li class="item4th"><button class="">Payment Information</button></li>
                    </ul>
                </section>
            </div>
            <div class="reg-progress hidden-lg hidden-md">
                <p class="wizard-title hidden-lg hidden-sm" align="center">Search / Compare</p>
                <ol class="reg-progress__steps">
                    <li data-step="1" class="is-active is-complete active-now">
                        <div class="subTitle hidden-xs">Search / Compare</div>
                    </li>
                    <li data-step="2" class="">
                        <div class="subTitle hidden-xs">Insurance Detail</div>
                    </li>
                    <li data-step="3" class="">
                        <div class="subTitle hidden-xs">Confirm Information</div>
                    </li>
                    <li data-step="4" class="">
                        <div class="subTitle hidden-xs">Payment Information</div>
                    </li>
                </ol>
            </div>
        </div>
 <div class="container arrow-back">
            <div class="row">
                <div class="col-md-12 text-xs-center text-sm-center text-md-right">
                    <div class="inner">
                        <a href="@Url.Action("Home", "Product", new { PropertyType = Request.Params["PropertyType"], ConstructionType = Request.Params["ConstructionType"], Year = Request.Params["Year"], PropertyValue = Request.Params["PropertyValue"], ConstructionValue = Request.Params["ConstructionValue"] })&compare=1&cid=@Request.QueryString["id"]&listpage=@Request.QueryString["listpage"]" class="btnOutline">Back to previous page</a>
                    </div>
                </div>
            </div>
        </div>

        <section class="container mobile_table_compare containter hidden-md hidden-lg">
            <section class="row">

                <div class="owl-carousel8" data-duration="4">
                    @for (int i = 0; i < Model.Products.Count; i++) {
                    var item = Model.Products[i];
                    var premium = item.ProductHomePremium[0];
                    <div class="item">
                        <div class="compare-v2 item">
                            <div class="col-xs-12">
                                <figure>
                                    <img src="@Model.PathCompany@item.CompanyImage" class="img-responsive logowidth2" alt="" title="" />
                                </figure>
                            </div>
                            <p>@item.Company</p>
                            <div style="height:150px;">
                                <p>@item.TitleTH</p>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 row-item">
                                    @premium.DisplayPremium.ToString("n2")
                                </div>
                                <div class="col-xs-6 text-xs-right row-item">
                                    Bath/Year
                                </div>
                            </div>

                            @foreach (var c in columns) {

                            <div class="row row-data">
                                <div class="col-xs-6 row-item text-xs-left">
                                    @c.Key
                                </div>
                                <div class="col-xs-6 row-item text-xs-right">
                                    @Html.Raw(string.IsNullOrWhiteSpace(columns[c.Key][i]) ? "&nbsp;" : columns[c.Key][i])
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    }

                        </div>

                        <div class="row row-data" style="position:relative; bottom:0;">
                            <div class="text-lg-center text-xs-center">
                                <a href="@Url.Action("HomeDetail", "Product", new { ProductId = item.Id, PremiumId = item.PremiumId, PropertyType = Request.Params["PropertyType"], ConstructionType = Request.Params["ConstructionType"], Year = Request.Params["Year"], PropertyValue = Request.Params["PropertyValue"], ConstructionValue = Request.Params["ConstructionValue"] })&compare=1&cid=@Request.QueryString["id"]&listpage=@Request.QueryString["listpage"]" class="btn btn-md btn-primary btn-round-md"> Buy </a>
                            </div>
                        </div>
                    </div>

            }
                </div>

                </section>
            </section>

        <div class="container hidden-xs hidden-sm visible-md visible-lg">
            <div class="inner">
                <div class="fix-float-label">
                    <!--
                                    <div class="inner-fix">
                                        <ul>
                @foreach (var item in columns) {
                    <li>@item.Key</li>
                }
                                            <li>
                                                <div class="text-lg-center text-xs-center">
                                                    <a href="#" class="btn btn-md btn-primary btn-round-md"> Buy </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    -->
                </div>
                <div class="tableCompare">
                    <!-- overflow-super -->
                    <div class="overflow-super">
                        <table>
                            <colgroup>
                                <col />
                                @foreach (var item in Model.Products) {
                                <col />
                        }
                            </colgroup>
                            <tfoot class="">
                                <tr>
                                    <td class="hidden-xs">&nbsp;</td>
                                    @foreach (var item in Model.Products) {
                                    <td>
                                        <div class="text-lg-center text-xs-center">
                                            <a href="@Url.Action("HomeDetail", "Product", new { ProductId = item.Id, PremiumId = item.PremiumId, PropertyType = Request.Params["PropertyType"], ConstructionType = Request.Params["ConstructionType"], Year = Request.Params["Year"], PropertyValue = Request.Params["PropertyValue"], ConstructionValue = Request.Params["ConstructionValue"] })&compare=1&cid=@Request.QueryString["id"]&listpage=@Request.QueryString["listpage"]" class="btn btn-md btn-primary btn-round-md"> Buy </a>
                                        </div>
                                    </td>
                            }
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <th class="hidden-xs "></th>
@foreach (var item in Model.Products) {
                                    <th class="compareth">
                                            <div class="col-md-12 unpad">
                                                <div class="col-md-4 unpad">
                                                    <img src="@Url.Content(Model.PathCompany+item.CompanyImage)" class="compareimg" alt="@item.Company">
                                                </div>
                                                <div class="col-md-8 detail">
                                                    <p>@item.Company</p>
                                                    <!-- <p>@item.SubCategory</p> -->
                                                </div>
                                                <div class="col-md-12" style="float: right;">
                                                 <p class="comprice">@item.ProductHomePremium[0].DisplayPremium.ToString("n2")<span> Bath</span></p>
                                                </div>
                                            </div>
                                    </th>
}
                                </tr>
@foreach (var item in columns) {
                                <tr>
                                        <td class="hidden-xs">@item.Key</td>
                                        @foreach (var data in item.Value) {
                                            <td>@Html.Raw(string.IsNullOrWhiteSpace(data) ? "&nbsp;" : data)</td>
                                        }
                                </tr>
}
                            </tbody>  
                            @*<tbody>
                                <tr>
                                    <th class="hidden-xs"></th>
                                    @foreach (var item in Model.Products) {
                                    <th>
                                        <div class="bd">
                                            <div class="brand"><img src="@Url.Content(Model.PathCompany+item.CompanyImage)" class="img-responsive" alt="@item.Company"></div>
                                            <div class="detail">
                                                <p>@item.Company</p>
                                                <p>@item.SubCategory</p>
                                                <p>@item.ProductHomePremium[0].DisplayPremium.ToString("n2")<span>บาท</span></p>
                                            </div>
                                        </div>
                                    </th>
                            }
                                </tr>
                                @foreach (var item in columns) {
                                <tr>
                                    <td class="hidden-xs">@item.Key</td>
                                    @foreach (var data in item.Value) {
                                    <td>@Html.Raw(string.IsNullOrWhiteSpace(data) ? "&nbsp;" : data)</td>
                            }
                                </tr>
                        }
                            </tbody>*@
                        </table>
                    </div>
                </div>
            </div>

        @Html.Partial("../Shared/TH/_Product_Warning")
    </section>
</main>
@section js {
<script>
    $(function () {
        setTimeout(function () {
            $('html,body').animate({ scrollTop: $('#page-product-thumbnail .arrow-back').offset().top - 110 }, 1000);
        }, 500);
    });
</script>

}
