﻿@{
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยรถยนต์ | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ประกันภัยรถยนต์ออนไลน์ เช็คราคาง่ายรู้ราคาทันที ประกันภัยรถยนต์ ชั้น1 ประกันภัยรถยนต์ 2+ ประกันภัยรถยนต์3+ ประกันภัยรถยนต์ประเภท 3 ฟรีของแถม เบี้ยถูกที่สุด ผ่อน0%";
    pageMeta.MetaKeyword = "ประกันภัยรถยนต์ออนไลน์, เช็คราคาประกันภัย, ประกันภัยรถยนต์ ชั้น1, ประกันภัยรถยนต์ 2+, ประกันภัยรถยนต์3+";
    var pGift = new List<TobJod.Models.PromotionItem>();
    var pDiscount = new List<TobJod.Models.PromotionItem>();
}
@model TobJod.Models.ProductItem
@{ var premium = Model.ProductMotorPremium[0]; }
<meta name="format-detection" content="telephone=no">
<main>
    <div class="banner-hero" style="text-align: center;">
        <a href="@Url.Action("motor-overview")" class="item" target="_blank">
            <img src="@Url.Content("~/assets/images/hero_banner/01_en.jpg")" alt="" class="img-responsive">
        </a>
    </div>
    <section class="container product-detail">
        <div class="wizard-wrapper">
            <div class="wizard-container container clear-boot-pad hidden-xs hidden-sm">
                <section id="wizard2">
                    <ul class="@(Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online) ? "has-4" : "has-3")">
                        <li class="item1st"><button class="active" onclick="window.location='@Url.Action("Motor" + (Request.QueryString["compare"] == "1" ? "Compare" : ""), "Product", new { category = Request.QueryString["category"], Usage = Request.QueryString["usage"], Compulsory = Request.QueryString["compulsory"], brand = Request.QueryString["brand"], family = Request.QueryString["family"], model = Request.QueryString["model"], year = Request.QueryString["year"], province = Request.QueryString["province"], CCTV = Request.QueryString["cctv"], accessory = Request.QueryString["accessory"], garage = Request.QueryString["garage"], price = Request.QueryString["price"] })&Id=@Request.QueryString["cid"]'">Search / Compare</button></li>
                        <li class="item2nd"><button class="active">Insurance Detail</button></li>
                        <li class="item3rd"><button class="">Confirm Information</button></li>
                        @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online)) {
                        <li class="item4th"><button class="">Payment Information</button></li>
                }
                    </ul>
                </section>
            </div>
            <div class="reg-progress hidden-lg hidden-md">
                <p class="wizard-title hidden-lg hidden-sm" align="center">Insurance Detail</p>
                <ol class="reg-progress__steps">
                    <li data-step="1" class="is-active is-complete">
                        <div class="subTitle hidden-xs"><a href="@Url.Action("Motor" + (Request.QueryString["compare"] == "1" ? "Compare" : ""), "Product", new { category = Request.QueryString["category"], Usage = Request.QueryString["usage"], Compulsory = Request.QueryString["compulsory"], brand = Request.QueryString["brand"], family = Request.QueryString["family"], model = Request.QueryString["model"], year = Request.QueryString["year"], province = Request.QueryString["province"], CCTV = Request.QueryString["cctv"], accessory = Request.QueryString["accessory"], garage = Request.QueryString["garage"], price = Request.QueryString["price"] })&Id=@Request.QueryString["cid"]">Search / Compare</a></div>
                    </li>
                    <li data-step="2" class="is-active is-complete active-now">
                        <div class="subTitle hidden-xs">Insurance Detail</div>
                    </li>
                    <li data-step="3" class="">
                        <div class="subTitle hidden-xs">Confirm Information</div>
                    </li>
                    @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online)) {
                    <li data-step="4" class="">
                        <div class="subTitle hidden-xs">Payment Information</div>
                    </li>
            }
                </ol>
            </div>
            <div class="col-md-12">
                <div class="container arrow-back">
                    <div class="row">
                        <div class="col-md-12 text-xs-center text-sm-center text-md-right">
                            <div class="inner">
                                <a href="@Url.Action("Motor" + (Request.QueryString["compare"] == "1" ? "Compare" : ""), "Product", new { category = Request.QueryString["category"], Usage = Request.QueryString["usage"], Compulsory = Request.QueryString["compulsory"], brand = Request.QueryString["brand"], family = Request.QueryString["family"], model = Request.QueryString["model"], year = Request.QueryString["year"], CCTV = Request.QueryString["cctv"], garage = Request.QueryString["garage"], driver = Request.QueryString["driver"], driverage = Request.QueryString["driverage"], province = Request.QueryString["province"], price = Request.QueryString["price"] })&Id=@Request.QueryString["cid"]" class="btnOutline btn-product-previous">Back previous page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="warp-des">
            <ul class="product-detail-main">
                <li class="pic"><img src="@Model.CompanyImage" class="img-responsive img-center" /></li>
                <li class="des">
                    <div class="new">new</div>
                    <h1>@Model.Company <strong>@Model.TitleEN</strong></h1>
                    <span class="price">@(DisplayHelper.DisplayPrice2D(Model.Compulsory == 1 ? premium.DisplayCombinePremium : premium.DisplayPremium)) </span><span class="bath"> Baht</span>
                    <br /><br />
                    @if (Model.Promotion != null && Model.Promotion.Count > 0) {
                    pGift = Model.Promotion.Where(x => x.PromotionType == TobJod.Models.PromotionType.Gift).ToList();
                    pDiscount = Model.Promotion.Where(x => x.PromotionType == TobJod.Models.PromotionType.Discount).ToList();
                    if (pGift.Count > 0) {
                        <span class="ribbon-content">GIFT REWARD</span><div class="clearfix"></div>
                    foreach (var g in pGift) {
                        <text><b>@g.Gift</b><br /></text>
                }

            }
            if (pDiscount.Count > 0) {
                <span class="ribbon-content">DISCOUNT</span><div class="clearfix"></div>
            foreach (var g in pDiscount) {
                <text><b>@g.DiscountAmount.ToString("0") @(g.DiscountType == TobJod.Models.PromotionDiscountType.Amount ? "Baht" : "%")</b><br /></text>
        }

    }
}
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="row product-detail-rows">
            <div class="col-sm-12 col-md-8">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="pull-left" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Coverage
                                </a>
                                <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="orange">View Detail</span>
                                </a>
                                <span class="clearfix"></span>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                        <span class="spanleft">Own Vehicle Damage:</span>
                                        <span class="price-display-ty1">@DisplayHelper.DisplayPriceOrEmpty(premium.OwnDamage) Baht</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">Own Vehicle Excess:</span>
                                        <span class="price-display-ty1">@DisplayHelper.DisplayPriceOrEmpty(premium.OwnExcess) Baht</span>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <span class="spanleft">Flood: </span>
                                        <span class="price-display-ty1">@DisplayHelper.DisplayPriceOrEmpty(premium.Flood) Baht</span>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                                <table class="table-coverage">@Html.Raw(Model.CoverageEN.Replace("\n", "<br />"))</table>
                            </div>
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.SpecialCoverageEN)) {
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSpecial">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSpecial" aria-expanded="false" aria-controls="collapseSpecial">
                                    Special Coverage
                                </a>
                                <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSpecial" aria-expanded="true" aria-controls="collapseSpecial">
                                    <span class="orange">View Detail</span>
                                </a>
                                <span class="clearfix"></span>
                            </h4>
                        </div>
                        <div id="collapseSpecial" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSpecial">
                            <div class="panel-body">
                                @Html.Raw(Html.Encode(Model.SpecialCoverageEN).Replace("\n", "<br />"))
                            </div>
                        </div>
                    </div>
            }
                    @if (!string.IsNullOrEmpty(Model.ConditionEN)) {
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingCondition">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCondition" aria-expanded="false" aria-controls="collapseCondition">
                                    Conditions
                                </a>
                                <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCondition" aria-expanded="true" aria-controls="collapseCondition">
                                    <span class="orange">View Detail</span>
                                </a>
                                <span class="clearfix"></span>
                            </h4>
                        </div>
                        <div id="collapseCondition" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCondition">
                            <div class="panel-body">
                                @Html.Raw(Html.Encode(Model.ConditionEN).Replace("\n", "<br />"))
                            </div>
                        </div>
                    </div>
            }
                    @if (!string.IsNullOrEmpty(Model.ExceptionEN)) {
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingException">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseException" aria-expanded="false" aria-controls="collapseException">
                                    Exclusion
                                </a>
                                <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseException" aria-expanded="true" aria-controls="collapseException">
                                    <span class="orange">View Detail</span>
                                </a>
                                <span class="clearfix"></span>
                            </h4>
                        </div>
                        <div id="collapseException" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingException">
                            <div class="panel-body">
                                @Html.Raw(Html.Encode(Model.ExceptionEN).Replace("\n", "<br />"))
                            </div>
                        </div>
                    </div>
            }
                    @if (!string.IsNullOrEmpty(Model.PrivilegeEN)) {
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingPrivilege">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePrivilege" aria-expanded="false" aria-controls="collapsePrivilege">
                                    Privileges
                                </a>
                                <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePrivilege" aria-expanded="true" aria-controls="collapsePrivilege">
                                    <span class="orange">View Detail</span>
                                </a>
                                <span class="clearfix"></span>
                            </h4>
                        </div>
                        <div id="collapsePrivilege" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPrivilege">
                            <div class="panel-body">
                                @Html.Raw(Html.Encode(Model.PrivilegeEN).Replace("\n", "<br />"))
                            </div>
                        </div>
                    </div>
            }
                    @if (!string.IsNullOrEmpty(Model.ConsentEN)) {
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingConsent">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseConsent" aria-expanded="false" aria-controls="collapseThree">
                                    Consent
                                </a>
                                <a class="more-detail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseConsent" aria-expanded="true" aria-controls="collapseConsent">
                                    <span class="orange">View Detail</span>
                                </a>
                                <span class="clearfix"></span>
                            </h4>
                        </div>
                        <div id="collapseConsent" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingConsent">
                            <div class="panel-body">
                                @Html.Raw(Html.Encode(Model.ConsentEN).Replace("\n", "<br />"))
                            </div>
                        </div>
                    </div>
            }
                </div>
                <!-- -->
            </div>
            <div class="col-sm-12 col-md-4">
                <!-- -->
                <div class="box-contact">
                    <div class="head">Motor Insurance @Model.SubCategory.Replace("Motor", "")</div>
                    <div class="warp">
                        <p>
                        </p>
                        <!-- tab -->
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Detail</a></li>
                                @*<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">ประสบการณ์ผู้ใช้งาน</a></li>*@
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="warp-tab-container">
                                        <div class="row">
                                            <div class="col-xs-6">Sum insured</div>
                                            <div class="col-xs-6 display-align-right">@DisplayHelper.DisplayPrice(premium.SumInsured) Baht</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">Premium</div>
                                            <div class="col-xs-6 display-align-right">@DisplayHelper.DisplayPrice2D(premium.DisplayPremium) Baht</div>
                                        </div>

                                        @if (Model.Compulsory == 1) {
                                        <div class="row">
                                            <div class="col-xs-6">Compulsory Premium</div>
                                            <div class="col-xs-6 display-align-right">@DisplayHelper.DisplayPrice2D(premium.CompulsoryPremium) Baht</div>
                                        </div>
                                }
                                @*<div class="row">
                                    <div class="col-xs-6">Vehicle usage</div>
                                    <div class="col-xs-6 display-align-right">@(Model.Usage.ToString().EndsWith("10") ? "Personal" : (Model.Usage.ToString().EndsWith("20") ? "Commercial" : " "))</div>
                                </div>*@
                                        <div class="row">
                                            <div class="col-xs-6">Garage type</div>
                                            <div class="col-xs-6 display-align-right">@(premium.GarageType == TobJod.Models.ProductMotorGarageType.Dealer ? "Dealer garage" : "General garage")</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">CAR Inspector</div>
                                            <div class="col-xs-6 display-align-right">@(premium.CarInspector ? "Yes" : "No")</div>
                                        </div>
                                        @if (Model.Promotion != null && Model.Promotion.Count > 0) {
                                        <div class="row">
                                            @if (pGift.Count > 0) {
                                            <div class="col-xs-6"><span class="red"><strong>GIFT REWARD</strong></span></div>
                                            <div class="col-xs-6">
                                                <ul class="gift-list">
                                                    @foreach (var g in pGift) {
                                                    <li><strong>@g.Gift</strong></li>
                                            }
                                                </ul>
                                            </div>
                                    }
                                            @if (pDiscount.Count > 0) {
                                            <div class="col-xs-6"><span class="red"><strong>DISCOUNT</strong></span></div>
                                            <div class="col-xs-6">
                                                <ul class="gift-list">
                                                    @foreach (var g in pDiscount) {
                                                    <li><strong>@g.DiscountAmount.ToString("0") @(g.DiscountType == TobJod.Models.PromotionDiscountType.Amount ? "Baht" : "%")</strong></li>
                                            }
                                                </ul>
                                            </div>
                                    }
                                        </div>
                                }
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    @if (Model.Compulsory == 0) {
                                    <ul class="sub-des">
                                        @*<li>Buy Compulsory for @ViewBag.PRBPrice.ToString("##,###") Baht</li>*@
                                        @*<li>ส่วนลดกล้องหน้ารถ 5% (จำนวน 500 Baht)</li>*@
                                    </ul>
                            }
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <p class="padding-top-20">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- tab data-toggle="modal" data-target="#contact-popup" -->
                        @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Online)) {
                        <div class="contact-agent-bot"><a class="" href="@Url.Action("Index", "Order", new { ProductId = Model.Id, PremiumId = Model.PremiumId, category = Request.QueryString["category"], Usage = ViewBag.Usage, Compulsory = Request.QueryString["compulsory"], brand = Request.QueryString["brand"], family = Request.QueryString["family"], model = Request.QueryString["model"], year = Request.QueryString["year"], CCTV = Request.QueryString["cctv"], garage = Request.QueryString["garage"], driver = Request.QueryString["driver"], driverage = Request.QueryString["driverage"], province = Request.QueryString["province"], price = Request.QueryString["price"] })">Order</a></div>
                }
                        @if (Model.SaleChannel.HasFlag(TobJod.Models.ProductSaleChannel.Offline)) {
                        <div class="contact-agent-bot"><a class="call_pop_contact" href="javascript:void(0)">Contact Agent</a></div>
                }
                    </div>
                </div>
                <!-- -->
            </div>
        </div>
        @Html.Partial("../Shared/EN/_Product_Warning")
    </section>
</main>


@section modal {
    @Html.Partial("EN/_Lead_Form", Model)
}