﻿@{
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยรถยนต์ | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ประกันภัยรถยนต์ออนไลน์ เช็คราคาง่ายรู้ราคาทันที ประกันภัยรถยนต์ ชั้น1 ประกันภัยรถยนต์ 2+ ประกันภัยรถยนต์3+ ประกันภัยรถยนต์ประเภท 3 ฟรีของแถม เบี้ยถูกที่สุด ผ่อน0%";
    pageMeta.MetaKeyword = "ประกันภัยรถยนต์ออนไลน์, เช็คราคาประกันภัย, ประกันภัยรถยนต์ ชั้น1, ประกันภัยรถยนต์ 2+, ประกันภัยรถยนต์3+";
}
<main id="page-product-thumbnail" class="tomDev super-top-margin">
    <div class="container">
        <div class="row description-insurance">
            <h1>Voluntary Motor Insurance</h1>
            <div class="lineTop2"></div>
        </div>
    </div>
    <section class="container description-insurance">
        <div class="row">
            <div class="col-md-3 header-type">
                Name of Insurance
            </div>
            <div class="col-md-9">
                <p>
                    Voluntary Motor Insurance
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                Type of Insurance Policy and Coverage
            </div>
            <div class="col-md-9">
                <p>
                    Type 1  Most comprehensive coverage, including: 
                </p>
                <ul>
                    <li>
                        Damages to the insured car from accidents
                    </li>
                    <li>
                        Damages to the insured car due to fire and loss
                    </li>
                    <li>
                        Loss or injuries to life, body or health of drivers and passengers 
                    </li>
                    <li>
                        Liability to life, body or health of third parties 
                    </li>
                    <li>
                        Liability to property of third parties
                    </li>
                </ul>
                <p>
                    Type 2 Coverage including:
                </p>
                <ul>
                    <li>
                        Damages to the insured car due to fire and loss
                    </li>
                    <li>
                        Loss or injuries to life, body or health of drivers and passengers
                    </li>
                    <li>
                        Liability to life, body or health of third parties 
                    </li>
                    <li>
                        Liability to property of third parties 
                    </li>
                </ul>
                <p>
                    Type 2+  More coverage than type 2 normal, including:
                </p>
                <ul>
                    <li>
                        Damages to the insured car in a limited amount of money, in case of collision with land vehicles (car crash) only 
                    </li>
                    <li>
                        Damages to the insured car due to fire and loss
                    </li>
                    <li>
                        Loss or injuries to life, body or health of drivers and passengers
                    </li>
                    <li>
                        Liability to life, body or health of third parties  
                    </li>
                    <li>
                        Liability to property of third parties 
                    </li>
                </ul>
                <p>
                    Type 3  No coverage for the insured car 
                </p>
                <ul>
                    <li>
                        Loss or injuries to life, body or health of drivers and passengers
                    </li>
                    <li>
                        Liability to life, body or health of third parties 
                    </li>
                    <li>
                        Liability to property of third parties 
                    </li>
                </ul>
                <p>
                    Type 3+ More coverage than type 3 normal, including:
                </p>
                <ul>
                    <li>
                        Damages to the insured car in a limited amount of money, in case of collision with land vehicles (car crash) only
                    </li>
                    <li>
                        Loss or injuries to life, body or health of drivers and passengers
                    </li>
                    <li>
                        Liability to life, body or health of third parties  
                    </li>
                    <li>
                        Liability to property of third parties 
                    </li>
                </ul>
                <figure>
                    <img src="@Url.Content("~/assets/images/product/motor-table-en.png")" alt="" title="" class=" img-responsive" />
                </figure>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                Type of Repair
            </div>
            <div class="col-md-9">
                <p><b>Auto Repair Shop/Repair Center</b>  means repairs by an auto mobile service center. </p>
                <p><b>Auto Garage</b> means repairs by a general garage.</p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                Mentioning of Driver Name
            </div>
            <div class="col-md-9">
                <p>
                    <b class="red">Unnamed Driver Insurance Policy</b> provides coverage for any driver allowed by the insured to drive as if the insured. 
                    <br />
                    <b class="red">Named Driver Insurance Policy</b>
                    <br /> determines the premium rate by considering the age of the driver. The insured must be natural persons driving a personal car. Up to 2 driver names can be identified. In case of accident and the driver is not named, the insurance policy still provides coverage but the insured shall be jointly liable for damages incurred in each accident.
                </p>
            </div>
            <div class="clearfix"></div>
            <div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                Sum Insured Determination
            </div>
            <div class="col-md-9">
                <p><b><u>Type 1, 2</u></b>         determined at 80% of the market price of cars (Market Value)</p>
                <p><b><u>Type 2+ ,3+</u></b>     Insurer will determine as appropriate (Agree Value)</p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Customer Suitability
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        Car owner (Owner of the car) 
                    </li>
                    <li>
                        Car renter (Car occupant as the car renter)
                    </li>
                    <li>
                        Car owner who temporarily brings a car registered in a foreign country into the Kingdom
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Subject Insured
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        Car with accessories under factory standard
                    </li>
                    <li>
                        Additional accessories (if any) such as audio system, alloy wheel, etc.
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                Period of Insurance
            </div>
            <div class="col-md-9">
                <p>1 Year </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Examples of Exceptions
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        Using wrong type of car
                    </li>
                    <li>
                        Using the car outside the protected area (Outside Thailand)
                    </li>
                    <li>
                        Using the car for speed racing 
                    </li>
                    <li>
                        Exceeding 50 milligrams of alcohol per 100 milliliters of blood while driving 
                    </li>
                    <li>
                        Using the car for illegal purposes such as drug trafficking, crime committing, robbery, etc. 
                    </li>
                    <li>
                        Disaster caused by war, terrorism, rebellion, strike, riot, nuclear, radiation, etc.  
                    </li>
                    <li>
                        (โปรดศึกษารายละเอียดเพิ่มเติมในหน้ากรมธรรม์)
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Background Information for Consideration
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        Copy of driver’s license (in case of named driver)
                    </li>
                    <li>
                        Copy of car registration manual (or)
                    </li>
                    <li>
                        Car details such as brand, model, manufactured year, CC engine or loading capacity, or number of passengers
                    </li>
                    <li>
                        Type of use (personal or commercial)
                    </li>
                    <li>
                        Copy of original policy table (if any)
                    </li>
                    <li>
                        Copy of renewal notice (if any)
                    </li>
                    <li>
                        Claim slip (if any)
                    </li>
                </ul>



            </div>
        </div>
    </section>
</main>