﻿@{
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยรถยนต์ | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ประกันภัยรถยนต์ออนไลน์ เช็คราคาง่ายรู้ราคาทันที ประกันภัยรถยนต์ ชั้น1 ประกันภัยรถยนต์ 2+ ประกันภัยรถยนต์3+ ประกันภัยรถยนต์ประเภท 3 ฟรีของแถม เบี้ยถูกที่สุด ผ่อน0%";
    pageMeta.MetaKeyword = "ประกันภัยรถยนต์ออนไลน์, เช็คราคาประกันภัย, ประกันภัยรถยนต์ ชั้น1, ประกันภัยรถยนต์ 2+, ประกันภัยรถยนต์3+";
}
@model TobJod.Web.Models.ProductMotorViewModel
<section id="banner_section" class="container-fluid clear-boot-pad product_banner">
    <a href="@Url.Action("motor-overview")" class="item" target="_blank">
        <img src="@Url.Content("~/assets/images/hero_banner/01_en.jpg")" alt="" class="img-responsive">
    </a>
<div class="button showhidepro">
        <center>
            <a id="showbutt" class="showbutt" href="#">คลิกดูรายละเอียดเงื่อนไขโปรโมชั่น</a>
        </center> 
    </div>
    <div class="box motortransform">
        <div class="col-md-2"></div>
        <div class="col-md-8 box motortransform">
            <table id="promotable">
                <tbody>
                    <tr>
                        <td style="background-color:#f36f21; text-align:center; color:white; font-size:2.5rem;">เงื่อนไขการเข้าร่วมโปรโมชั่น</td>
                    </tr>
                    <tr>
                        <td><span class="pnumber">1</span> เมื่อซื้อประกันภัยรถยนต์ชั้น 1 Ultra Save เบี้ยประกันภัยเริ่มต้นที่ 7,500 ต่อ (ปี) เท่านั้น (รถยนต์เฉพาะรุ่น)</td>
                    </tr>
                    <tr>
                        <td><span class="pnumber">2</span> เบี้ยประกันภัยสามารถผ่อนชำระ 0% นานสูงสุด 3 เดือน ตามเงื่อนไขที่บริษัทฯ กำหนด</td>
                    </tr>
                    <tr>
                        <td><span class="pnumber">3</span> เลือกรับ พรบ. (มูลค่า 645.21 บาท) หรือ ส่วนลดสำหรับการซื้อประกันภัยในฉบับถัดไป (ส่วนลดมูลค่า 600 บาท) อย่างใดอย่างหนึ่งเท่านั้น</td>
                    </tr>
                    <tr>
                        <td><span class="pnumber">4</span> กรณีเลือกรับส่วนลด 600 บาท สามารถซื้อประกันภัยประเภทใดก็ได้ใน <a href="www.tobjod.com" traget="_blank" style="color:#f36f21;">www.tobjod.com</a> ตั้งแต่วันที่ 15 สิงหาคม ถึง วันที่ 31 ธันวาคม 2561</td>
                    </tr>
                    <tr>
                        <td><span class="pnumber">5</span> ระยะเวลาในการเข้าร่วมรับสิทธิ์โปรโมชั่น ตั้งแต่วันที่ 15 สิงหาคม ถึง 30 กันยายน 2561</td>
                    </tr>
                    <tr>
                        <td><span class="pnumber">6</span> ดูรายละเอียด เงื่อนไข ความคุ้มครอง และข้อยกเว้นของประกันภัยรถยนต์ชั้น 1 Ultra Save ที่ <a href="https://www.tobjod.com/th/product/motor" style="color:#f36f21;" traget="_blank">https://www.tobjod.com/th/product/motor</a></td>
                    </tr>
                    <tr>
                        <td><span class="pnumber">7</span> การรับประกันเป็นไปตามเงื่อนไขที่บริษัท เอ็ม เอส ไอ จี ประกันภัย (ประเทศไทย) จำกัด (มหาชน) (บริษัทฯ) กำหนด</td>
                    </tr>
                    <tr>
                        <td><span class="pnumber">8</span> การรับประกันเป็นไปตามเงื่อนไขที่บริษัทกำหนด</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><i>*ธนชาตโบรกเกอร์ในฐานะนายหน้าประกันวินาศภัย เป็นผู้จัดการให้บุคคลเข้าทำสัญญาประกันวินาศภัย และอำนวยความสะดวกในการรับชำระเบี้ยประกันภัยเท่านั้น 
ผู้ซื้อควรทำความเข้าใจในรายละเอียด ความคุ้มครอง และเงื่อนไขก่อนตัดสินใจทำประกันภัยทุกครั้ง</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    <div class="col-md-2"></div>
    </div>
</section>

<main id="page-product-list">
    <div class="wizard-wrapper">
        <div class="wizard-container container clear-boot-pad hidden-xs hidden-sm">
            <section id="wizard1">
                <ul>
                    <li class="item1st"><button class="active">Search / Compare</button></li>
                    <li class="item2nd"><button class="">Insurance Detail</button></li>
                    <li class="item3rd"><button class="">Confirm Information</button></li>
                    <li class="item4th"><button class="">Payment Information</button></li>
                </ul>
            </section>
        </div>
        <div class="reg-progress hidden-lg hidden-md">
            <p class="wizard-title hidden-lg hidden-sm" align="center">Search / Compare</p>
            <ol class="reg-progress__steps">
                <li data-step="1" class="is-active is-complete active-now">
                    <div class="subTitle hidden-xs">Search / Compare</div>
                </li>
                <li data-step="2" class="">
                    <div class="subTitle hidden-xs">Insurance Detail</div>
                </li>
                <li data-step="3" class="">
                    <div class="subTitle hidden-xs">Confirm Information</div>
                </li>
                <li data-step="4" class="">
                    <div class="subTitle hidden-xs">Payment Information</div>
                </li>
            </ol>
        </div>
    </div>

    <div class="container form-wrapper">
        <section id="form">
            <form class="form-motor-page" action="@Url.Action("Motor")" method="get" id="product-search">
                <input type="hidden" id="sort" name="sort" value="1" />
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <label class="form-group required">
                            <div class="">
                                <span>Insurance Type</span>
                                <select id="car_category" name="category" class="dd_list form-controls required">
                                    <option value="">Please select</option>
                                    <option value="110" @(Model.Category == 110 ? " selected" : "")>Type 1</option>
                                    <option value="120" @(Model.Category == 120 ? " selected" : "")>Type 2</option>
                                    <option value="121" @(Model.Category == 121 ? " selected" : "")>Type 2+</option>
                                    <option value="130" @(Model.Category == 130 ? " selected" : "")>Type 3</option>
                                    <option value="131" @(Model.Category == 131 ? " selected" : "")>Type 3+</option>
                                </select>
                            </div>
                        </label>
                    </div>

                    <div class="col-sm-5">
                        <label class="form-group required">
                            <div class="">
                                <span>Vehicle Registration Year</span>
                                <select id="car_year" name="year" class="dd_list form-controls required">
                                    <option value="">Please select</option>
                                    @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 20; i--) {
                                        <option value="@i" @(Model.Year == i ? " selected" : "")>@i</option>
                                    }
                                </select>

                            </div>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <label class="form-group required">
                            <div class="">
                                <span>Brand</span>
                                <select id="car_brand" name="brand" class="dd_list form-controls car-brand-ddl required" data-target="#car_family">
                                    <option value="">Please select</option>
                                    @foreach (var item in Model.CarBrands) {
                                        <option value="@item.Value" @(String.Equals(Model.Brand.ToString(), item.Value) ? " selected" : "")>@item.Text</option>
                                    }
                                </select>
                            </div>
                        </label>
                    </div>

                    <div class="col-sm-5">
                        <label class="form-group required">
                            <div class="">
                                <span>Family</span>
                                <select id="car_family" name="family" class="dd_list form-controls car-family-ddl required" data-target="#car_model">
                                    <option value="">Please select</option>
                                    @foreach (var item in Model.CarFamilies) {
                                        <option value="@item.Value" @(String.Equals(Model.Family.ToString(), item.Value) ? " selected" : "")>@item.Name</option>
                                    }
                                </select>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-5 col-sm-offset-1">
                        <label class="form-group required">
                            <div class="">
                                <span>Model</span>
                                <select id="car_model" name="model" class="dd_list form-controls required">
                                    <option value="">Please select</option>
                                    @foreach (var item in Model.CarModels) {
                                        <option value="@item.Value" @(String.Equals(Model.Model.ToString(), item.Value) ? " selected" : "")>@item.Name</option>
                                    }
                                </select>
                            </div>
                        </label>
                    </div>

                    <div class="col-sm-5">
                        <label class="form-group required">
                            <div class="">
                                <span>Registered Province</span>
                                <select id="car_province" name="province" class="dd_list form-controls required">
                                    <option value="">Please select</option>
                                    @foreach (var item in Model.CarProvinces) {
                                        <option value="@item.Value" @(String.Equals(Model.Province.ToString(), item.Value) ? " selected" : "")>@item.Text</option>
                                    }
                                </select>
                            </div>
                        </label>
                    </div>
                </div>
                @*<div class="row m-b-25">
                        <div class="col-sm-5 col-sm-offset-1">
                            <div class="form-group">
                                <label for="">CCTV</label>
                                <div class="form-group">
                                    <div class="radio radio-inline">
                                        <input type="radio" id="cctv1" value="@((int)TobJod.Models.AllYesNo.Yes)" name="cctv" @(Model.CCTV != TobJod.Models.AllYesNo.No ? " checked" : "") data-default="1">
                                        <label for="cctv1">Yes</label>
                                    </div>

                                    <div class="radio radio-inline">
                                        <input type="radio" id="cctv0" value="@((int)TobJod.Models.AllYesNo.No)" name="cctv" @(Model.CCTV == TobJod.Models.AllYesNo.No ? " checked" : "")>
                                        <label for="cctv0">No </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row m-b-25">
                        <div class="col-sm-5 col-sm-offset-1">
                            <div class="form-group">
                                <label for="">Purchase compulsory</label>


                                <div class="form-group">
                                    <div class="radio radio-inline">
                                        <input type="radio" id="prb1" value="1" name="prb" @(Model.PRB ? " checked" : "")>
                                        <label for="prb1">Yes</label>
                                    </div>

                                    <div class="radio radio-inline">
                                        <input type="radio" id="prb2" value="0" name="prb" @(!Model.PRB ? " checked" : "") data-default="1">
                                        <label for="prb2">No</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="">Price range (Premium)</label>
                                <input type="text" id="price" class="form-control range-slider" name="price" data-min="@viewModel.ProductMotorPriceMin" data-max="@viewModel.ProductMotorPriceMax" data-from="@Model.PriceFrom" data-to="@Model.PriceTo" value="@Model.Price" />
                            </div>
                        </div>

                    </div>

                    <div class="row m-b-25">
                        <div class="col-sm-5 col-sm-offset-1">
                            <div class="form-group">
                                <label for="">Accessory</label>

                                <div class="form-group">
                                    <div class="radio radio-inline">
                                        <input type="radio" id="accessory1" value="@((int)TobJod.Models.AllYesNo.Yes)" name="accessory" @(Model.Accessory != TobJod.Models.AllYesNo.No ? " checked" : "") data-default="1">
                                        <label for="accessory1">Yes</label>
                                    </div>

                                    <div class="radio radio-inline">
                                        <input type="radio" id="accessory0" value="@((int)TobJod.Models.AllYesNo.No)" name="accessory" @(Model.Accessory == TobJod.Models.AllYesNo.No ? " checked" : "")>
                                        <label for="accessory0">No</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="">Garage Type</label>

                                <div class="form-group">
                                    <div class="radio radio-inline">
                                        <input type="radio" id="garage1" value="@((int)TobJod.Models.AllYesNo.Yes)" name="garage" @(Model.Garage != TobJod.Models.AllYesNo.No ? " checked" : "")>
                                        <label for="garage1">Dealer garage</label>
                                    </div>

                                    <div class="radio radio-inline">
                                        <input type="radio" id="garage0" value="@((int)TobJod.Models.AllYesNo.No)" name="garage" @(Model.Garage == TobJod.Models.AllYesNo.No ? " checked" : "")>
                                        <label for="garage0">General garage</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                                </div>*@

                <div class="row">
                    <div class="col-xs-12 text-center btn-wrapper">
                        <button type="submit" class="btn btn-md btn-primary btn-round-md">Search</button><button class="btn btn-md btn-round-md hidden-xs btn-product-reset" type="reset">Reset</button>
                    </div>
                </div>
                <input type="hidden" name="driver" id="search-driver" value="@((int)Model.DriverSpecify)" />
                <input type="hidden" name="driverage" id="search-driverage" value="@Model.DriverAge" />
                <input type="hidden" name="compulsory" id="search-compulsory" value="@Model.Compulsory" />
                <input type="hidden" name="cctv" id="search-cctv" value="@((int)Model.CCTV)" />
                <input type="hidden" name="garage" id="search-garage" value="@((int)Model.Garage)" />
                <input type="hidden" name="price" id="search-price" value="@Model.Price" />
                @Html.HiddenFor(Model => Model.LayoutGridView)
            </form>
        </section>
    </div>

    <div class="form-footer">
        <div class="container text-center">
            <button class="btn-sm btn-round-sm btn hide-criteria" data-hide-text="Hide search box" data-show-text="Show search box">Hide search box</button>
        </div>
    </div>

    <div class="container" id="product-container">

        @if (Model.Category > 0) {
        <div class="product-filter">
            <div class="row">
                @*<div class="col-md-6 change-sorting" id="sorting">
                    <a href="#" data-id="1" title="Price (Min-Max)" class="active"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a>
                    <a href="#" data-id="2" title="Price (Max-Min)"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a>
                    <a href="#" data-id="3" title="Company name (A-Z)"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></a>
                    <a href="#" data-id="4" title="Company name (Z-A)"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-6 text-right change-template-product hidden-xs">
                    <button class="p-thumbnail" data-template="thumbnail"></button>
                    <button class="p-list active" data-template="list"></button>
                </div>*@
                <div class="col-md-12 text-left change-template-product">
                    <div class="row" style="padding-left;10%padding-right:10%;margin-left: 0px;margin-right: 0px;padding-left: 20px;padding-right: 20px;">
                        <div class="search-new-format col-l" id="sorting">
                            <a href="#" class="ordering-v1" data-id="2" data-title-1="Price (Min-Max)" data-title-2="Price (Max-Min)">Price (Max-Min)</a>
                            <div class="display-view">
                                <div class="display-wrapper">
                                    <button class="p-thumbnail" data-template="thumbnail"></button>
                                    <button class="p-list active" data-template="list"></button>
                                </div>
                            </div>
                        </div>

                        <div class="search-new-format col-r">
                            <div class="row inner">
                                <div class="chb-1">
                                    <div class="checkbox">
                                        <label>
                                            <span class="checkbox_chk @(Model.DriverSpecify.HasFlag(TobJod.Models.AllYesNoFlag.Yes) ? " active" : "")"></span>
                                            <input type="checkbox" name="driver1" class="search-advance driverage-radio" value="1" data-target="driver" data-value="@((int)TobJod.Models.AllYesNoFlag.Yes)" @(Model.DriverSpecify.HasFlag(TobJod.Models.AllYesNoFlag.Yes) ? " checked=checked" : "") /> Specify Driver
                                        </label>
                                    </div>
                                </div>

                                <div class="chb-2">
                                    <div class="checkbox">
                                        <label>
                                            <span class="checkbox_chk @(Model.DriverSpecify.HasFlag(TobJod.Models.AllYesNoFlag.No) ? " active" : "")"></span>
                                            <input type="checkbox" name="driver2" class="search-advance driverage-radio" value="1" data-target="driver" data-value="@((int)TobJod.Models.AllYesNoFlag.No)" @(Model.DriverSpecify.HasFlag(TobJod.Models.AllYesNoFlag.No) ? " checked=checked" : "") /> Not specify driver
                                        </label>
                                    </div>
                                </div>

                                <div class="chb-3">
                                    <div class="checkbox">
                                        <label>
                                            <span class="checkbox_chk @(Model.Garage.HasFlag(TobJod.Models.AllYesNoFlag.Yes) ? " active" : "")"></span>
                                            <input type="checkbox" id="garage1" name="garage1" class="search-advance" value="1" data-target="garage" data-value="@((int)TobJod.Models.AllYesNoFlag.Yes)" @(Model.Garage.HasFlag(TobJod.Models.AllYesNoFlag.Yes) ? " checked=checked" : "") /> Dealer Garage
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix hidden-sm hidden-md hidden-lg"></div>
                                <div class="chb-4">
                                    <div class="checkbox">
                                        <label>
                                            <span class="checkbox_chk @(Model.Garage.HasFlag(TobJod.Models.AllYesNoFlag.No) ? " active" : "")"></span>
                                            <input type="checkbox" id="garage2" name="garage2" class="search-advance" value="1" data-target="garage" data-value="@((int)TobJod.Models.AllYesNoFlag.No)" @(Model.Garage.HasFlag(TobJod.Models.AllYesNoFlag.No) ? " checked=checked" : "") /> General Garage
                                        </label>
                                    </div>
                                </div>
                                <div class="chb-5">
                                    <div class="checkbox">
                                        <label>
                                            <span class="checkbox_chk @(Model.CCTV.HasFlag(TobJod.Models.AllYesNoFlag.Yes) ? " active" : "")"></span>
                                            <input type="checkbox" name="cctv1" class="search-advance" value="1" data-target="cctv" data-value="@((int)TobJod.Models.AllYesNoFlag.Yes)" @(Model.CCTV.HasFlag(TobJod.Models.AllYesNoFlag.Yes) ? " checked=checked" : "") /> CCTV
                                        </label>
                                    </div>
                                </div>
                                <div class="chb-6">
                                    <div class="checkbox">
                                        <label>
                                            <span class="checkbox_chk @(Model.CCTV.HasFlag(TobJod.Models.AllYesNoFlag.No) ? " active" : "")"></span>
                                            <input type="checkbox" name="cctv2" class="search-advance" value="1" data-target="cctv" data-value="@((int)TobJod.Models.AllYesNoFlag.No)" @(Model.CCTV.HasFlag(TobJod.Models.AllYesNoFlag.No) ? " checked=checked" : "") /> No CCTV
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="row row-2-advance">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="chb-7">
                                                <div class="checkbox">
                                                    <label>
                                                        <span class="checkbox_chk @(Model.Compulsory == 1 ? " active" : "")"></span>
                                                        <input type="checkbox" name="driver2" class="search-advance compulsory" value="1" data-target="compulsory" data-value="1" @(Model.Compulsory == 1 ? " checked=checked" : "") /> Compulsory
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-group width-full">
                                                <div class="">
                                                    <span></span>
                                                    <select name="driverage" id="driverage" class="form-control dd_list">
                                                        <option value="">Driver Age</option>
                                                        @foreach (var item in Model.DriverAges) {
                                                        <option value="@item.Value" @(String.Equals(Model.DriverAge.ToString(), item.Value) ? " selected" : "")>@item.Text</option>
                                                }
                                                    </select>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="price-range-holder">
                                                <input id="price_range" class="irs-hidden-input" tabindex="-1" readonly="" style="height: 1px; overflow: hidden; visibility: hidden;" data-min="@viewModel.ProductMotorPriceMin" data-max="@viewModel.ProductMotorPriceMax" data-from="@Model.PriceFrom" data-to="@Model.PriceTo" value="@Model.Price" />
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section id="product-list" class="view-list">
            <div class="row" id="product-box" data-load-url="@Url.Action("MotorList")" data-page="0" data-list-page="@ViewBag.ListPage">
                @*@Html.Partial("_Item_Motor_TH", Model)*@
            </div>
        </section>

        <div class="loadmore text-center" id="product-list-load-more" style="display: none;">
            <button class="btn btn-md btn-round-md btn-border">Load more</button>
        </div>
}

        <div id="product-not-found" style="display: none;">Product not found</div>
    </div>

    @if (Model.Category > 0) {
        @Html.Partial("../Shared/EN/_Product_Warning")
    }
</main>


<div id="compare-product-sticky" class="hidden">

    <div class="container">
        <div class="row">
            <div class="item-wrapper col-sm-12">
                <div class="row">
                    <div class="col-sm-4 compare-item hidden  template col-xs-4" data-product-id="">
                        <div class="image">
                            <img class="comparepd" src="@Url.Content("~/assets/images/product-thumbnail/1.jpg")" alt="">
                            <button class="remove" data-product-id=""></button>
                        </div>
                        <div class="compare-item--detail">
                            <label class="name">ธนชาตประกันภัย</label>
                            <label class="price"><span>10,000.21</span> <small>บาท</small></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-sm-12 col-md-12 text-right text-sm-center text-xs-center col-lg-12">
                    <a href="#" class="btn btn-md btn-round-md btn-primary m-t-20" id="btn-compare" data-url="@Url.Action("MotorCompare", "Product")">Compare</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section css {
<link href="@Url.Content("~/assets/css/plugins/ionRangeSlider/ion.rangeSlider.skinModern.css")" rel="stylesheet" />
}
@section js {
    @if (Model.Category > 0) {
<script>
    $(function () {
        @if (ViewBag.LayoutGridView) {
            <text>$('.change-template-product .p-thumbnail').click(); $('#LayoutGridView').val('True');</text>
        }
        if ($('#LayoutGridView').val() == 'True') $('.change-template-product .p-thumbnail').click();
        @if (ViewBag.ShowLeadForm) {
            <text>bindLeadForm(@(System.Configuration.ConfigurationManager.AppSettings["LeadForm_Delay"]));</text>
        }
        LoadProductList(true, @Html.Raw(Json.Encode(Request.Params["cid"] != null && Request.Params["cid"].Split(',').Length > 0 ? Request.Params["cid"].Split(',') : (new string[0]))));
    });
</script>
    }
}
@section modal {
    @if (ViewBag.ShowLeadForm) {
        @Html.Partial("EN/_Lead_Form_Form", Model)
    }
}
