﻿@{
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยอุบัติเหตุ | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ประกันภัยอุบัติเหตุ คุ้มครองดูแลคุณและครอบครัว เลือกทำประกันอุบัติเหตุ พร้อมรับโปรโมชั่นพิเศษ จาก ตอบโจทย์ โบรคเกอร์ ประกันภัย";
    pageMeta.MetaKeyword = "ประกันภัยอุบัติเหตุ";
}
@model TobJod.Web.Models.ProductPAViewModel

@{ var columns = new Dictionary<string, List<String>>() {
    { "Plan", new List<string>() },
    { "Premium", new List<string>() },
    { "Medical expense", new List<string>() },
    { "Income compensation while being hospitalized due to accident", new List<string>() },
    { "Loss of life, Dismemberment or Total Permanent Disability", new List<string>() },
    { "Murder or assault", new List<string>() },
    { "Riding/being a passenger on a motorcycle", new List<string>() },
    { "Funeral expense due to accident and illness", new List<string>() },
    { "Career", new List<string>() },
    { "Age", new List<string>() },
    
   };
}
@foreach (var item in Model.Products) {
    var premium = item.ProductPAPremium[0];
    columns["Plan"].Add(item.TitleEN);
    columns["Premium"].Add(premium.DisplayPremium.ToString("n2"));
    columns["Medical expense"].Add(premium.MedicalExpenseEN);
    columns["Income compensation while being hospitalized due to accident"].Add(premium.IncomeCompensationEN);
    columns["Loss of life, Dismemberment or Total Permanent Disability"].Add(premium.LossLifeEN);
    columns["Murder or assault"].Add(premium.MurderAssaultEN);
    columns["Riding/being a passenger on a motorcycle"].Add(premium.RidingPassengerMotorcycleEN);
    columns["Funeral expense due to accident and illness"].Add(premium.FuneralExpenseAccidentIllnessEN);
    columns["Career"].Add(Model.CareerTitle);
    columns["Age"].Add(premium.MinAge + " - " + premium.MaxAge);
    
}

<main id="page-product-thumbnail" class="tomDev">
    <div class="bannerTop">
        <a href="@Url.Action("pa-overview")" target="_blank">
            <img src="@Url.Content("~/assets/images/hero_banner/pa03_en.jpg")" class="img-responsive" />
        </a>
    </div>
    <section id="compareSection">
        <div class="wizard-wrapper">
            <div class="wizard-container container clear-boot-pad hidden-xs hidden-sm">
                <section id="wizard1">
                    <ul>
                        <li class="item1st"><button class="active">Search / Compare</button></li>
                        <li class="item2nd"><button class="">Insurance Detail</button></li>
                        <li class="item3rd"><button class="">Confirm Information</button></li>
                        <li class="item4th"><button class="">Payment Information</button></li>
                    </ul>
                </section>
            </div>
            <div class="reg-progress hidden-lg hidden-md">
                <p class="wizard-title hidden-lg hidden-sm" align="center">Search / Compare</p>
                <ol class="reg-progress__steps">
                    <li data-step="1" class="is-active is-complete active-now">
                        <div class="subTitle hidden-xs">Search / Compare</div>
                    </li>
                    <li data-step="2" class="">
                        <div class="subTitle hidden-xs">Insurance Detail</div>
                    </li>
                    <li data-step="3" class="">
                        <div class="subTitle hidden-xs">Confirm Information</div>
                    </li>
                    <li data-step="4" class="">
                        <div class="subTitle hidden-xs">Payment Information</div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="container arrow-back">
            <div class="row">
                <div class="col-md-12 text-xs-center text-sm-center text-md-right">
                    <div class="inner">
                        <a href="@Url.Action("PA", "Product", new { Career = Request.Params["career"], Birthday = Request.Params["birthday"], Price = Request.Params["price"] })&compare=1&cid=@Request.QueryString["id"]&listpage=@Request.QueryString["listpage"]" class="btnOutline">Back to previous page</a>
                    </div>
                </div>
            </div>
        </div>

        <section class="container mobile_table_compare containter hidden-md hidden-lg">
            <section class="row">

                <div class="owl-carousel8" data-duration="4">
                    @for (int i = 0; i < Model.Products.Count; i++) {
                        var item = Model.Products[i];
                        var premium = item.ProductPAPremium[0];
                        <div class="item">
                            <div class="compare-v2 item">
                                <div class="col-xs-12">
                                    <figure>
                                        <img src="@Model.PathCompany@item.CompanyImage" class="img-responsive logowidth2" alt="" title="" />
                                    </figure>
                                </div>
                                <p>@item.Company</p>
                                <div style="height:150px;">
                                    <p>@item.TitleTH</p>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 row-item">
                                        @premium.DisplayPremium.ToString("n2")
                                    </div>
                                    <div class="col-xs-6 text-xs-right row-item">
                                        Baht
                                    </div>
                                </div>

                                @foreach (var c in columns) {

                                            <div class="row row-data">
                                                <div class="col-xs-6 row-item text-xs-left">
                                                    @c.Key
                                                </div>
                                                <div class="col-xs-6 row-item text-xs-right">
                                                      @Html.Raw(string.IsNullOrWhiteSpace(columns[c.Key][i]) ? "&nbsp;" : columns[c.Key][i])
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
}

                            </div>
                            <div class="row row-data" style="position:relative; bottom:0;">
                                <div class="text-lg-center text-xs-center">
                                    <a href="@Url.Action("PADetail", "Product", new { ProductId = item.Id, PremiumId = item.PremiumId, Career = Model.Career, BirthDay = Model.BirthDay })&compare=1&cid=@Request.QueryString["id"]&listpage=@Request.QueryString["listpage"]" class="btn btn-md btn-primary btn-round-md"> Buy </a>
                                </div>
                            </div>

                        </div>

                    }
                </div>

            </section>
        </section>

        <section class="container mobile_table_compare containter hidden-sm hidden-md hidden-lg">
            <section class="row">
                <div class="col-xs-12">
                    <table class="tablesaw" data-tablesaw-mode="stack" data-tablesaw-hide-empty>
                        <thead>

                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Products.Count; i++) {
                                var item = Model.Products[i];
                                var premium = item.ProductPAPremium[0];

                                <tr>

                                    <td>
                                        <div class="bd">
                                            <div class="brand"><img src="@Model.PathCompany@item.CompanyImage" class="img-responsive" alt=""></div>
                                            <div class="detail">
                                                <p>@item.Company</p>
                                                <p>@item.TitleTH</p>
                                                <p>@premium.DisplayPremium.ToString("n2")<span>Baht</span></p>
                                            </div>
                                        </div>
                                    </td>


                                    @foreach (var c in columns) {
                                        <td>@columns[c.Key][i]</td>
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </section>
        </section>

        <div class="container hidden-xs hidden-sm visible-md visible-lg">
            <div class="inner">
                <div class="fix-float-label">
                    <!--
                        <div class="inner-fix">
                            <ul>
                                @foreach (var item in columns) {
                                    <li>@item.Key</li>
                                }
                                <li>
                                    <div class="text-lg-center text-xs-center">
                                        <a href="#" class="btn btn-md btn-primary btn-round-md"> Buy </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        -->
                </div>
                <div class="tableCompare">
                    <!-- overflow-super -->
                    <div class="overflow-super">
                        <table>
                            <colgroup>
                                <col />
                                @foreach (var item in Model.Products) {
                                    <col />
                                }
                            </colgroup>
                            <tfoot class="">
                                <tr>
                                    <td class="hidden-xs">&nbsp;</td>
                                    @foreach (var item in Model.Products) {
                                        <td>
                                            <div class="text-lg-center text-xs-center">
                                                <a href="@Url.Action("PADetail", "Product", new { ProductId = item.Id, PremiumId = item.PremiumId, Career = Model.Career, BirthDay = Model.BirthDay })&compare=1&cid=@Request.QueryString["id"]&listpage=@Request.QueryString["listpage"]" class="btn btn-md btn-primary btn-round-md"> Buy </a>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <th class="hidden-xs "></th>
@foreach (var item in Model.Products) {
                                    <th class="compareth">
                                            <div class="col-md-12 unpad">
                                                <div class="col-md-4 unpad">
                                                    <img src="@Url.Content(Model.PathCompany+item.CompanyImage)" class="compareimg" alt="@item.Company">
                                                </div>
                                                <div class="col-md-8 detail">
                                                    <p>@item.Company</p>
                                                    <!-- <p>@item.SubCategory</p> -->
                                                </div>
                                                <div class="col-md-12" style="float: right;">
                                                 <p class="comprice">@item.ProductPAPremium[0].DisplayPremium.ToString("n2")<span> Baht</span></p>
                                                </div>
                                            </div>
                                    </th>
}
                                </tr>
@foreach (var item in columns) {
                                <tr>
                                        <td class="hidden-xs">@item.Key</td>
                                        @foreach (var data in item.Value) {
                                            <td>@Html.Raw(string.IsNullOrWhiteSpace(data) ? "&nbsp;" : data)</td>
                                        }
                                </tr>
}
                            </tbody>         
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
    @Html.Partial("../Shared/EN/_Product_Warning");
</main>
@section js {
<script>
    $(function () {
        setTimeout(function () {
            $('html,body').animate({ scrollTop: $('#page-product-thumbnail .arrow-back').offset().top - 110 }, 1000);
        }, 500);
    });
</script>

}
