﻿@{
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยอุบัติเหตุ | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ประกันภัยอุบัติเหตุ คุ้มครองดูแลคุณและครอบครัว เลือกทำประกันอุบัติเหตุ พร้อมรับโปรโมชั่นพิเศษ จาก ตอบโจทย์ โบรคเกอร์ ประกันภัย";
    pageMeta.MetaKeyword = "ประกันภัยอุบัติเหตุ";
}

<main id="page-product-thumbnail" class="tomDev super-top-margin">
    <div class="container">
        <div class="row description-insurance">
            <h1>Personal Accident Insurance</h1>
            <div class="lineTop2"></div>
        </div>
    </div>
    <section class="container description-insurance">
        <div class="row">
            <div class="col-md-3 header-type">
                Name of Insurance
            </div>
            <div class="col-md-9">
                <p>
                    Personal Accident Insurance
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                Coverage
            </div>
            <div class="col-md-9">
                <p>
                    Provide coverage to the insured in case of physical injuries by accident. If such injuries results in the insured being hospitalized or severe, disabling, losing organ or death, the insurer will pay for the costs incurred by the insured’s medical treatment or will pay compensation to the insured if the insured loses his or her organs, becomes disabled, or death.<br /><br />
                    <b class="header_hilight">Both solo insurance and group insurance are available.</b>
                </p>

            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                Customer Suitability
            </div>
            <div class="col-md-9">
                <p>
                    Professionals according to occupation type determined by the insurer, such as office employee, driver, doctor, etc.
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                Subject Insured
            </div>
            <div class="col-md-9">
                <p>
                    Life, body, health
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Period of Insurance
            </div>
            <div class="col-md-9">
                <p>1 Year </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Examples of Exceptions
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        Actions of the insured under the influence of alcohol or drugs
                    </li>
                    <li>
                        Suicide, suicide attempt, or deliberate self-harm
                    </li>
                    <li>
                        Miscarriage or abortion
                    </li>
                    <li>
                        Playing or racing dangerous sports such as diving, bungee jumping, skiing, car racing, boat racing, skating
                    </li>
                    <li>
                        Engaging in controversy, committing crimes or escaping arrest
                    </li>
                    <li>
                        (โปรดศึกษารายละเอียดเพิ่มเติมในหน้ากรมธรรม์)
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Background Information for Consideration
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        Age
                    </li>
                    <li>
                        Career
                    </li>
                    <li>
                        Number of insured (Group Type)
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>