﻿@model TobJod.Web.Models.ProductPHViewModel
@if (Model.Products != null) {
    <input type="hidden" name="page" value="@ViewBag.Page" />
    <input type="hidden" name="count" value="@ViewBag.Count" />
foreach (var item in Model.Products) {
    var premium = item.ProductPHPremium[0];
    <div class="col @(Model.LayoutGridView ? "col-lg-4 col-sm-6" : "col-sm-12")">
        <div class="item-content" data-product-id="@item.Id|@item.PremiumId">
            @Html.Partial("EN/_Item_Promotion_Ribbon", item)
            <div class="row">
                <div class="thumb-img  @(Model.LayoutGridView ? "col-sm-12" : "col-sm-4")">
                    <img src="@Model.PathCompany@item.CompanyImage" alt="">
                </div>

                <div class="detail  @(Model.LayoutGridView ? "col-sm-12" : "col-sm-8 col-lg-8")">
                    <div class="brand-name">
                        <span class="brand-name-title">@item.Company</span> @if (item.CreateDate.AddMonths(1) <= DateTime.Today) {<span class="pull-right badge-new">new</span>}
                    </div>

                    <div class="product-detail">
                        <span class="name col-xs-12 col-md-6 pd-0"><b>@item.TitleEN</b></span>
                        <span class="price col-xs-12 col-md-6 pd-0 text-md-right text-xs-right"><b>@item.ProductPHPremium[0].DisplayPremium.ToString("n2")<small> Baht</small></b></span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="linebreak"></div>
                    <div class="clearfix"></div>
                    <div class="insurance-detail">
                        <div class="row">
                            <div class="col-xs-12 item">
                                <label class="col-sm-8 col-xs-8">IPD</label>
                                <span  class="col-sm-4 col-xs-4">@premium.IPDEN</span>
                            </div>
                            <div class="col-xs-12 item">
                                <label class="col-sm-8 col-xs-8">IPD Room and board</label>
                                <span  class="col-sm-4 col-xs-4">@premium.IPDRoomBoardEN</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 item">
                                <label class="col-sm-8 col-xs-8">Outpatient benefits</label>
                                <span  class="col-sm-4 col-xs-4">@premium.OutpatientBenefitsEN</span>
                            </div>
                            <div class="col-xs-12 item">
                                <label class="col-sm-8 col-xs-8">Surgical expenses</label>
                                <span  class="col-sm-4 col-xs-4">@premium.SurgicalExpenseEN</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 item">
                                <label class="col-sm-8 col-xs-8">Cancer Treatment</label>
                                <span class="col-sm-4 col-xs-4">@premium.CancerTreatmentEN</span>
                            </div>
                            <div class="col-xs-12 item">
                                <label class="col-sm-8 col-xs-8">Expanses for organ transplant, Bone marrow transplant, Hemodyalysis</label>
                                <span  class="col-sm-4 col-xs-4">@premium.OrganTransplantEN</span>
                            </div>
                        </div>
                        @Html.Partial("EN/_Item_Promotion_Row", item)
                    </div>

                    <div class="text-center detail-link">
                        <a href="@Url.Action("HealthDetail", "Product", new { ProductId = item.Id, PremiumId = item.PremiumId, Career = Request.Params["career"], BirthDay = Request.Params["birthday"], Sex = Request.Params["sex"], Weight = Request.Params["weight"], Height = Request.Params["height"], Price = Request.Params["price"] })" class="btn btn-round-sm btn-primary btn-sm btn-product-detail">View Detail</a>
                        <button class="compare-select" data-product-id="@item.Id|@item.PremiumId" data-name="@item.TitleEN" data-price="@premium.DisplayPremium.ToString("n2")" data-image="@Model.PathCompany@item.CompanyImage"></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
}