﻿@{
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยสุขภาพ | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ประกันภัยสุขภาพ จากตอบโจทย์ ครอบคลุมทั้งครอบครัว พร้อมรับโปรโมชั่นผ่อน 0% นานสูงสุด 10 เดือน";
    pageMeta.MetaKeyword = "ประกันภัยสุขภาพ, ประกันสุขภาพ, ประกันมนุษย์เงินเดือน";
}

<main id="page-product-thumbnail" class="tomDev super-top-margin">
    <div class="container">
        <div class="row description-insurance">
            <h1>Health Insurance</h1>
            <div class="lineTop2"></div>
        </div>
    </div>
    <section class="container description-insurance">
        <div class="row">
            <div class="col-md-3 header-type">
                Name of Insurance
            </div>
            <div class="col-md-9">
                <p>
                    Health Insurance
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
            </div>
            <div class="col-md-9">
                <p>
                    This program provides compensation for expenses of medical treatment, room, meals and general services. It may also include other benefits, such as income compensation on healing period, medical coverage from accidental injury or illness.
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Coverage
            </div>
            <div class="col-md-9">
                <p>
                    Providing coverage for general medical expenses, including benefits, medical expenses unspecified in the exception of the Health Insurance Policy, such as coverage for medical treatment for injury or illness from diseases or accident as a hospital IPD, the coverage of Health Insurance consists of the following expenses:
                    <ul>
                        <li>room, meals and general service</li>
                        <li>general expenses in the hospital</li>
                        <li>operating room service, X-ray, biochemical test</li>
                        <li>surgeon</li>
                        <li>special medical consultation</li>
                        <li>the first 24 hours emergency</li>
                    </ul>
                <p>In addition, an OPD coverage can also be purchased for additional health insurance, such as flu, headache, stomachache, etc.<br />
                <strong class="header_hilight">Both solo insurance and group insurance are available. </strong></p>
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                Customer Suitability
            </div>
            <div class="col-md-9">
                <p>General Person</p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                Subject Insured
            </div>
            <div class="col-md-9">
                <p>Life, body, health </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Period of Insurance
            </div>
            <div class="col-md-9">
                <p>
                    1 Year
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Examples of Exceptions
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        Actions of the insured under the influence of alcohol or drugs
                    </li>
                    <li>
                        Suicide, suicide attempt, or deliberate self-harm
                    </li>
                    <li>
                        Miscarriage or abortion
                    </li>
                    <li>
                        Playing or racing dangerous sports such as diving, bungee jumping, skiing, car racing, boat racing, skating
                    </li>
                    <li>
                        Engaging in controversy, committing crimes or escaping arrest
                    </li>
                    <li>
                        (โปรดศึกษารายละเอียดเพิ่มเติมในหน้ากรมธรรม์)
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Background Information for Consideration
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        Gender
                    </li>
                    <li>
                        Age
                    </li>
                    <li>
                        Career
                    </li>
                    <li>
                        Income
                    </li>
                    <li>
                        Activities related to health
                    </li>
                    <li>
                        Hobbies
                    </li>
                    <li>
                        Number of insured (Group Type)
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>