﻿@{
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยการเดินทาง | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "เที่ยวปลอดภัย ตอบโจทย์ทุกไลฟ์สไตล์การเดินทาง";
    pageMeta.MetaKeyword = "ประกันการเดินทาง, ประกันภัยการเดินทาง, ประกันท่องเที่ยว";
}
@model TobJod.Web.Models.ProductTAViewModel
<section id="banner_section" class="container-fluid clear-boot-pad product_banner">
    <a href="@Url.Action("ta-overview")" class="item" target="_blank">
        <img src="@Url.Content("~/assets/images/hero_banner/ta04_en.jpg")" class="img-responsive" />
    </a>
</section>

<main id="page-product-list">
    <div class="wizard-wrapper">
        <div class="wizard-container container clear-boot-pad hidden-xs hidden-sm">
            <section id="wizard1">
                <ul>
                    <li class="item1st"><button class="active">Search / Compare</button></li>
                    <li class="item2nd"><button class="">Insurance Detail</button></li>
                    <li class="item3rd"><button class="">Confirm Information</button></li>
                    <li class="item4th"><button class="">Payment Information</button></li>
                </ul>
            </section>
        </div>
        <div class="reg-progress hidden-lg hidden-md">
            <p class="wizard-title hidden-lg hidden-sm" align="center">Search / Compare</p>
            <ol class="reg-progress__steps">
                <li data-step="1" class="is-active is-complete active-now">
                    <div class="subTitle hidden-xs">Search / Compare</div>
                </li>
                <li data-step="2" class="">
                    <div class="subTitle hidden-xs">Insurance Detail</div>
                </li>
                <li data-step="3" class="">
                    <div class="subTitle hidden-xs">Confirm Information</div>
                </li>
                <li data-step="4" class="">
                    <div class="subTitle hidden-xs">Payment Information</div>
                </li>
            </ol>
        </div>
    </div>

    <div class="container form-wrapper">
        <section id="form">
            <form action="@Url.Action("TA")" method="get" id="product-search" class="form-ta-page">
                <input type="hidden" id="sort" name="sort" value="1" />
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <label class="form-group required">
                            <span>Coverage Option</span>
                            <select name="coverageOption" id="ta_coverageOption" class="form-control dd_list required">
                                <option value="">Please select</option>
                                <option value="@((int)TobJod.Models.ProductTACoverageOption.Trip)" @(Model.CoverageOption == (int)TobJod.Models.ProductTACoverageOption.Trip ? " selected" : "")>Single Trip</option>
                                <option value="@((int)TobJod.Models.ProductTACoverageOption.Year)" @(Model.CoverageOption == (int)TobJod.Models.ProductTACoverageOption.Year ? " selected" : "")>Annual Trip</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-sm-5">
                        <label class="form-group required">
                            <span>Trip Type</span>
                            <select name="tripType" id="ta_tripType" class="form-control dd_list required ta-trip-type" data-value="@((int)TobJod.Models.ProductTATripType.Domestic)" data-target="#ta_country" data-target-value="@viewModel.CountryThailand" data-target-hidden="#ta_country_hide">
                                <option value="">Please select</option>
                                <option value="@((int)TobJod.Models.ProductTATripType.Foreign)" @(Model.TripType == (int)TobJod.Models.ProductTATripType.Foreign ? " selected" : "")>International</option>
                                <option value="@((int)TobJod.Models.ProductTATripType.Domestic)" @(Model.TripType == (int)TobJod.Models.ProductTATripType.Domestic ? " selected" : "")>Domestic</option>
                                <option value="@((int)TobJod.Models.ProductTATripType.Education)" @(Model.TripType == (int)TobJod.Models.ProductTATripType.Education ? " selected" : "")>Overseas Student</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <label class="form-group required">
                            <span>Coverage Type</span>
                            <select name="coverageType" id="ta_coverageType" class="form-control dd_list required ta-coverage-type" data-value="@((int)TobJod.Models.ProductTACoverageType.Family)" data-target-value="4" data-target="#ta_person" data-target-hidden="#ta_person_hide">
                                <option value="@((int)TobJod.Models.ProductTACoverageType.Individual)" @(Model.CoverageType == (int)TobJod.Models.ProductTACoverageType.Individual ? " selected" : "")>Individual</option>
                                <option value="@((int)TobJod.Models.ProductTACoverageType.Family)" @(Model.CoverageType == (int)TobJod.Models.ProductTACoverageType.Family ? " selected" : "")>Family (No more than 4 persons)</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-sm-5">
                        <label class="form-group required">
                            <span>Country of destination</span>
                            <select name="country" id="ta_country" class="form-control dd_list required">
                                <option value="">Please select</option>
                                <option value="@Model.SchengenId" @((Model.Country == Model.SchengenId) ? " selected" : "")>Schengen</option>
                                @foreach (var item in viewModel.Countries) {
                                    <option value="@item.Value" @(string.Equals(Model.Country.ToString(), item.Value) ? " selected" : "")>@item.Text</option>
                                }
                            </select>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <label class="form-group required">
                            <span>Date of departure</span>
                            <input id="DateFrom" name="DateFrom" type="text" class="form-control date-from" data-date-to="#DateTo" data-target="#ta_day" data-target-span="#ta_day_span" value="@Model.DateFrom" readonly="readonly" />
                        </label>
                    </div>
                    <div class="col-sm-5">
                        <label class="form-group required">
                            <span>Date of return</span>
                            <input id="DateTo" name="DateTo" type="text" class="form-control date-to" data-date-from="#DateFrom" data-target="#ta_day" data-target-span="#ta_day_span" value="@Model.DateTo" readonly="readonly" />
                        </label>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group">
                            <label for="">Days (No more than 366 days)</label><br />
                            <div class="cal-text"><span id="ta_day_span">0</span> Days<input type="hidden" id="ta_day" name="Day" value="@Model.Day" /></div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <label class="form-group">
                            <div class="">
                                <span>Persons</span>
                                <select name="person" id="ta_person" class="form-control dd_list">
                                    @for (int i = 1; i <= viewModel.ProductTAPersonMax; i++) {
                                        <option value="@i" @(Model.Person == i ? " selected" : "")>@i</option>
                                    }
                                </select>
                            </div>
                        </label>
                    </div>
                </div>

                @*<div class="row">
                        <div class="col-sm-5 col-sm-offset-1 m-b-25">
                            <div class="form-group">
                                <label for="">Price Range (Premium)</label>
                                <input type="text" id="price" class="form-control range-slider" name="price" data-min="@viewModel.ProductTAPriceMin" data-max="@viewModel.ProductTAPriceMax" data-from="@Model.PriceFrom" data-to="@Model.PriceTo" value="@Model.Price" />
                            </div>
                        </div>
                    </div>*@

                <div class="row">
                    <div class="col-xs-12 text-center btn-wrapper">
                        <button class="btn btn-md btn-primary btn-round-md" type="submit">Search</button><button class="btn btn-md btn-round-md hidden-xs btn-product-reset" type="reset">Reset</button>
                    </div>
                </div>


                <input type="hidden" name="price" id="search-price" value="@Model.Price" />
                @Html.HiddenFor(Model => Model.LayoutGridView)
            </form>
        </section>
    </div>

    <div class="form-footer">
        <div class="container text-center">
            <button class="btn-sm btn-round-sm btn hide-criteria" data-hide-text="Hide search box" data-show-text="Show search box">Hide search box</button>
        </div>
    </div>

    <div class="container" id="product-container">

        @if (Model.Person > 0) {
        <div class="product-filter">
            <div class="row">
                <div class="col-md-12 text-left change-template-product">
                    <div class="row" style="padding-left;10%padding-right:10%;margin-left: 0px;margin-right: 0px;padding-left: 20px;padding-right: 20px;">
                        <div class="search-new-format col-l col-xs-6" id="sorting">
                            <a href="#" class="ordering-v1" data-id="2" data-title-1="Price (Min-Max)" data-title-2="Price (Max-Min)">Price (Max-Min)</a>
                            <div class="display-view">
                                <div class="display-wrapper">
                                    <button class="p-thumbnail" data-template="thumbnail"></button>
                                    <button class="p-list active" data-template="list"></button>
                                </div>
                            </div>
                        </div>

                        <div class="search-new-format col-r col-xs-12 col-sm-6 pull-right">
                            <div class="row row-range">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-8 pull-right col-xs-12 col-sm-12">
                                            <div class="price-range-holder clear-right">
                                                <input id="price_range" class="irs-hidden-input" tabindex="-1" readonly="" style="height: 1px; overflow: hidden; visibility: hidden;" data-min="@viewModel.ProductTAPriceMin" data-max="@viewModel.ProductTAPriceMax" data-from="@Model.PriceFrom" data-to="@Model.PriceTo" value="@Model.Price" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section id="product-list" class="view-list">
            <div class="row" id="product-box" data-load-url="@Url.Action("TAList")" data-page="0" data-list-page="@ViewBag.ListPage">
                @*@Html.Partial("_Item_Motor_EN", Model)*@
            </div>
        </section>
        <div class="loadmore text-center" id="product-list-load-more" style="display: none;">
            <button class="btn btn-md btn-round-md btn-border">Load More</button>
        </div>
}

        <div id="product-not-found" style="display: none;">Product not found</div>
    </div>
    @if (Model.Person > 0) {
        @Html.Partial("../Shared/EN/_Product_Warning")
    }
</main>


<div id="compare-product-sticky" class="hidden">

    <div class="container">
        <div class="row">
            <div class="item-wrapper col-sm-12">
                <div class="row">
                    <div class="col-sm-4 compare-item hidden template col-xs-4" data-product-id="">
                        <div class="image">
                            <img class="comparepd" src="@Url.Content("~/assets/images/product-thumbnail/1.jpg")" alt="">
                            <button class="remove" data-product-id=""></button>
                        </div>
                        <div class="compare-item--detail">
                            <label class="name">ธนชาตประกันภัย</label>
                            <label class="price"><span>10,000.21</span> <small>บาท</small></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-sm-12 col-md-12 text-right text-sm-center text-xs-center col-lg-12">
                    <a href="#" class="btn btn-md btn-round-md btn-primary m-t-20" id="btn-compare" data-url="@Url.Action("TACompare", "Product")">Compare</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section js {
    @if (Model.Person > 0) {
    <script>
    $(function () {
        @if (ViewBag.LayoutGridView) {
            <text>$('.change-template-product .p-thumbnail').click(); $('#LayoutGridView').val('True');</text>
        }
        if ($('#LayoutGridView').val() == 'True') $('.change-template-product .p-thumbnail').click();
        @if (ViewBag.ShowLeadForm) {
            <text>bindLeadForm(@(System.Configuration.ConfigurationManager.AppSettings["LeadForm_Delay"]));</text>
        }
        LoadProductList(true, @Html.Raw(Json.Encode(Request.Params["cid"] != null && Request.Params["cid"].Split(',').Length > 0 ? Request.Params["cid"].Split(',') : (new string[0]))));
    });
    </script>
    }
}
@section modal {
    @if (ViewBag.ShowLeadForm) {
        @Html.Partial("EN/_Lead_Form_Form", Model)
    }
}
