﻿@{
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ประกันภัยการเดินทาง | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "เที่ยวปลอดภัย ตอบโจทย์ทุกไลฟ์สไตล์การเดินทาง";
    pageMeta.MetaKeyword = "ประกันการเดินทาง, ประกันภัยการเดินทาง, ประกันท่องเที่ยว";
}

<main id="page-product-thumbnail" class="tomDev super-top-margin">
    <div class="container">
        <div class="row description-insurance">
            <h1>Travel Accident Insurance</h1>
            <div class="lineTop2"></div>
        </div>
    </div>
    <section class="container description-insurance">
        <div class="row">
            <div class="col-md-3 header-type">
                Name of Insurance
            </div>
            <div class="col-md-9">
                <p>
                    Travel Accident Insurance
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Coverage
            </div>
            <div class="col-md-9">
                <p>
                    Provide coverage for accidents, including riding or travelling by motorcycle, both domestically and abroad. Provide coverage for medical expenses due to physical injury, loss of organs, disability, or death. The coverage extended to medical treatment during travel, lost luggage, flight cancellation, etc.<br /><br />
                    <b class="header_hilight">Both solo insurance and group insurance are available.</b>
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                Customer Suitability
            </div>
            <div class="col-md-9">
                <p>
                    General Person
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>
            <div class="col-md-3 header-type">
                Subject Insured
            </div>
            <div class="col-md-9">
                <p>
                    Life, body, health
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Period of Insurance
            </div>
            <div class="col-md-9">
                <p>
                    By travel period or 1 year
                </p>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Examples of Exceptions
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        Actions of the insured under the influence of alcohol or drugs
                    </li>
                    <li>
                        Suicide, suicide attempt, or deliberate self-harm
                    </li>
                    <li>
                        Miscarriage or abortion
                    </li>
                    <li>
                        Playing or racing dangerous sports such as diving, bungee jumping, skiing, car racing, boat racing, skating
                    </li>
                    <li>
                        Engaging in controversy, committing crimes or escaping arrest
                    </li>
                    <li>
                        (โปรดศึกษารายละเอียดเพิ่มเติมในหน้ากรมธรรม์)
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div><div class="lineTop2"></div>

            <div class="col-md-3 header-type">
                Background Information for Consideration
            </div>
            <div class="col-md-9">
                <ul>
                    <li>
                        Destination country
                    </li>
                    <li>
                        Number of travel days
                    </li>
                    <li>
                        Number of insured (Group Type)
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>