@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b6h1af');
  src:  url('fonts/icomoon.eot?b6h1af#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b6h1af') format('truetype'),
    url('fonts/icomoon.woff?b6h1af') format('woff'),
    url('fonts/icomoon.svg?b6h1af#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paper_icon:before {
  content: "\e91b";
}
.icon-arrow_next-copy:before {
  content: "\e903";
}
.icon-arrow_next_type1-copy:before {
  content: "\e904";
}
.icon-arrow_prev-copy:before {
  content: "\e905";
}
.icon-arrow_prev_type1-copy:before {
  content: "\e90b";
}
.icon-bag_1-copy:before {
  content: "\e90c";
}
.icon-double_quotes-copy .path1:before {
  content: "\e90d";
  color: rgb(235, 229, 23);
}
.icon-double_quotes-copy .path2:before {
  content: "\e90e";
  margin-left: -1.2998046875em;
  color: rgb(235, 229, 23);
}
.icon-double_quotes-copy .path3:before {
  content: "\e90f";
  margin-left: -1.2998046875em;
  color: rgb(255, 254, 249);
}
.icon-double_quotes-copy .path4:before {
  content: "\e910";
  margin-left: -1.2998046875em;
  color: rgb(254, 253, 242);
}
.icon-double_quotes-copy .path5:before {
  content: "\e911";
  margin-left: -1.2998046875em;
  color: rgb(252, 251, 231);
}
.icon-double_quotes-copy .path6:before {
  content: "\e912";
  margin-left: -1.2998046875em;
  color: rgb(249, 246, 194);
}
.icon-double_quotes-copy .path7:before {
  content: "\e913";
  margin-left: -1.2998046875em;
  color: rgb(249, 246, 194);
}
.icon-double_quotes-copy .path8:before {
  content: "\e914";
  margin-left: -1.2998046875em;
  color: rgb(249, 247, 194);
}
.icon-double_quotes-copy .path9:before {
  content: "\e915";
  margin-left: -1.2998046875em;
  color: rgb(249, 247, 194);
}
.icon-heart-copy:before {
  content: "\e916";
}
.icon-house-copy:before {
  content: "\e917";
}
.icon-magnifier-copy:before {
  content: "\e918";
}
.icon-map-copy:before {
  content: "\e919";
}
.icon-truck-copy:before {
  content: "\e91a";
}
.icon-icon_back:before {
  content: "\e900";
}
.icon-icon_menu:before {
  content: "\e901";
}
.icon-icon_phone:before {
  content: "\e902";
}
.icon-icon_social_fb:before {
  content: "\e906";
}
.icon-icon_social_ig:before {
  content: "\e907";
}
.icon-icon_social_line:before {
  content: "\e908";
}
.icon-icon_social_youtube:before {
  content: "\e909";
}
.icon-logo_DITP:before {
  content: "\e90a";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}
