﻿@{ 
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ข่าวสารและกิจกรรม | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "รวมข่าวสาร และกิจกรรม พร้อมสิทธิพิเศษ โปรโมชั่นมากมากมายจากตอบโจทย์";
    }
@model TobJod.Web.Models.NewsListViewModel

<main id="page-product-thumbnail" class="tomDev">
    <div class="lineTop"></div>
    <div class="container">
        <div class="row">
            <h1>ข่าวสาร <strong>"ตอบโจทย์"</strong></h1>
        </div>
        <section id="form" class="filterContent">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                    <!--
                        @Html.DropDownListFor(model => model.Category, (new List<SelectListItem>() { new SelectListItem() { Text = "ข่าว", Value = ((int)TobJod.Models.NewsCategory.News).ToString() }, new SelectListItem() { Text = "กิจกรรม", Value = ((int)TobJod.Models.NewsCategory.Event).ToString() } }), "ข่าวสารทุกหมวด", new { @class = "form-control dd_list" })
                        -->
                    </div>
                    <div class="col-sm-4">
                    <!--
                        @Html.DropDownListFor(model => model.SubCategory, Model.SubCategoryList, "ข่าวสารทุกหมวดย่อย", new { @class = "form-control dd_list" })
                        @*<select name="@Html.NameFor(model => model.SubCategory)" id="@Html.IdFor(model => model.SubCategory)"
                                class="form-control ">
                            @foreach (var it in Model.SubCategoryList.Items) {
                                var opt = (TobJod.Models.NewsSubCategory)it;
                            <option value=" @opt.Id"@(string.Equals(opt.Id, Model.SubCategory) ? "selected" : "") data-category="@((int)opt.NewsCategory)">@opt.TitleTH</option>
                            }
                        </select>*@
                    -->
                    </div>
                    <div class="col-sm-2 viewDisplay fixRight hidden-xs">
                        <button class="gridView" data-template="thumbnail"></button>
                        <button class="listView active" data-template="list"></button>
                    </div>
                </div>
                </div>
        </section>
    </div>

    <section id="newsSection" class="setTop listView">
        <div class="container">
            <div class="row" id="news-box" data-load-url="@Url.Action("List")" data-page="0" data-column-size="12">
            </div>
        </div>
        <div class="setCenter">
            <button id="news-list-load-more" class="btnOutline" style="display: none;">โหลดเพิ่มเติม</button>
        </div>

        <div id="items-not-found" style="display: none;">ไม่พบข้อมูล</div>
    </section>

</main>


@section js {
<script type="text/template" data-template="newslistitem">
    <div class="item col-sm-${columnSize}">
        <a href="${Url}">
            <div>
                <img src="@Model.UrlUpload${Image}" alt="${ImageAlt}" title="${ImageTitle}" class="img-responsive">
            </div>
            <div>
                <div>
                    <div><b>${SubCategory}</b></div>
                    <div>${Date}</div>
                </div>
                <h2>${Title}</h2>
                <div class="brief">${Brief}</div>
                <div class="btnLink">อ่านต่อ</div>
            </div>
        </a>
    </div>
</script>
<script>
    var subCategoryList = @Html.Raw(Json.Encode(ViewBag.SubCategoryJson))
</script>
<script src="~/assets/js/news.js"></script>
}