﻿@{
    Layout = "~/Views/Shared/EN/_Layout.cshtml";
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "สิทธิพิเศษประกันภัย | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "สิทธิพิเศษสำหรับคุณ ตอบโจทย์ ไลฟ์สไตล์ทุกการใช้ชีวิต ประกันภัยรถยนต์ ประกันภัยการเดินทาง ประกันอุบัติเหตุส่วนบุคคล จาก Tobjod โบรคเกอร์ ประกันภัย";
}
@using TobJod.Web
@model TobJod.Models.ConfigPage


<section id="banner_section" class="container-fluid clear-boot-pad">
    <a href="#" class="item" target="_blank">
        <figure>
            <img class="lazy img-responsive" data-original="@Url.Content("~/assets/images/privilege/01.jpg")" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  />
        </figure>
    </a>
</section>
<main class="privilege">
    <section class="container">
        <div class="col-md-10 col-sm-push-0 col-xs-12 col-xs-push-0 col-lg-10 col-lg-push-1 text-lg-center text-xs-center text-md-center text-sm-center">
            @Html.Raw(Model.BodyEN.ReplacePath())
        </div>
    </section>

</main>