﻿@{
    int[] status_list = null;
    if (ViewBag.Status != null) { status_list = (int[])ViewBag.Status; }
    int[] source_list = null;
    if (ViewBag.Source != null) { source_list = (int[])ViewBag.Source; }
}

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i></span>@ViewBag.CurrentMenu.Title</h1>
</div>

<div class="panel">
    <div class="panel-heading">
        @if (ViewBag.CurrentMenu.Can_Add) { <a href="@Url.Action("Create")" class="btn btn-info btn-sm pull-right"><span class="btn-label-icon left fa fa-plus"></span> &nbsp; Create</a> }
        <div class="panel-title">List</div>
    </div>
    <div class="panel-body">
        <form action="@Url.Action("Index", "Lead")" method="get">
            <div class="form-group" id="form-filter">
                <div class="row">
                    <label class="control-label col-md-2">Lead Status</label>
                    <div class="col-md-10">
                        <label class="checkbox-inline"><input type="checkbox" name="status" value="@((int)TobJod.Models.LeadStatus.Pending)" @(status_list == null || status_list.Contains((int)TobJod.Models.LeadStatus.Pending) ? "checked" : "") /> Pending</label>
                        <label class="checkbox-inline"><input type="checkbox" name="status" value="@((int)TobJod.Models.LeadStatus.Allocated)" @(status_list == null || status_list.Contains((int)TobJod.Models.LeadStatus.Allocated) ? "checked" : "") /> Allocated</label>
                        <label class="checkbox-inline"><input type="checkbox" name="status" value="@((int)TobJod.Models.LeadStatus.FollowUp)" @(status_list == null || status_list.Contains((int)TobJod.Models.LeadStatus.FollowUp) ? "checked" : "") /> Follow Up</label>
                        <label class="checkbox-inline"><input type="checkbox" name="status" value="@((int)TobJod.Models.LeadStatus.Yes)" @(status_list != null && status_list.Contains((int)TobJod.Models.LeadStatus.Yes) ? "checked" : "") /> Yes</label>
                        <label class="checkbox-inline"><input type="checkbox" name="status" value="@((int)TobJod.Models.LeadStatus.No)" @(status_list != null && status_list.Contains((int)TobJod.Models.LeadStatus.No) ? "checked" : "") /> No</label>
                        <label class="checkbox-inline"><input type="checkbox" name="status" value="@((int)TobJod.Models.LeadStatus.Spam)" @(status_list != null && status_list.Contains((int)TobJod.Models.LeadStatus.Spam) ? "checked" : "") /> Spam</label>
                        <label class="checkbox-inline"><input type="checkbox" name="status" value="@((int)TobJod.Models.LeadStatus.Closed)" @(status_list != null && status_list.Contains((int)TobJod.Models.LeadStatus.Closed) ? "checked" : "") /> Closed</label>
                    </div>
                </div>
                <div class="row p-t-1 p-b-1">
                    <label class="control-label col-md-2">Source</label>
                    <div class="col-md-3">
                        <label class="checkbox-inline"><input type="checkbox" name="source" value="@((int)TobJod.Models.LeadSource.ContactUs)" @(source_list == null || source_list.Contains((int)TobJod.Models.LeadSource.ContactUs) ? "checked" : "") /> Contact Us</label>
                        <label class="checkbox-inline"><input type="checkbox" name="source" value="@((int)TobJod.Models.LeadSource.Product)" @(source_list == null || source_list.Contains((int)TobJod.Models.LeadSource.Product) ? "checked" : "") /> Product</label>
                    </div>
                    <label class="control-label col-md-2">Product Category</label>
                    <div class="col-md-3">
                        <select name="category" id="category" class="form-control">
                            @foreach (var item in Enum.GetValues(typeof(TobJod.Models.ProductSubCategoryKey)).Cast<TobJod.Models.ProductSubCategoryKey>()) {
                                <option value="@((int)item)"@(ViewBag.Category == (int)item ? " selected=selected" : "")>@item.DisplayNameOrDefault()</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2" for="DateFrom">Date From</label>
                    <div class="col-md-2">
                        <input type="text" id="DateFrom" name="DateFrom" class="form-control date-picker" value="@ViewBag.DateFrom" />
                    </div>
                    <label class="control-label col-md-1" for="DateTo">Date To</label>
                    <div class="col-md-2">
                        <input type="text" id="DateTo" name="DateTo" class="form-control date-picker" value="@ViewBag.DateTo" />
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary" id="btn-search">Submit</button> &nbsp;
                        @if (ViewBag.CurrentMenu.Can_Export) {<button class="btn btn-warning btn-sm pull-right" style="margin-right: 10px;" name="export" value="1"><span class="btn-label-icon left fa fa-download"></span> &nbsp; Export</button>}
                    </div>
                </div>
            </div>
        </form><div class="clearfix"></div>
        <div class="table-primary">
            <table class="table table-striped table-bordered data-table data-table-action" id="dataTable">
                <thead>
                    <tr>
                        <th class="id">Id</th>
                        <th class="datetime">Contact Date</th>
                        <th class="datetime">Call Back Date</th>
                        <th class="datetime">Follow Up Date</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Tel</th>
                        <th>Email</th>
                        <th>Category</th>
                        <th>Subject</th>
                        <th>Product Category</th>
                        <th>Product</th>
                        <th>Message</th>
                        <th class="status">Status</th>
                        <th>Agent Message</th>
                        <th>Agent</th>
                        <th>Source</th>
                        <th class="action action-@(1 + (ViewBag.CurrentMenu.Can_Edit ? 1 : 0) + (ViewBag.CurrentMenu.Can_Assign ? 1 : 0))" data-sortable="false"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section js {
<script>
    var $table;
    $(function() {
        $table = $('#dataTable').DataTable({
            ajax: {
                url: '@Url.Action("DataTable")',
                type: 'POST',
                data: function (d) {
                    d.status = GetStatus();
                    d.source = GetSource();
                    d.DateFrom = '@ViewBag.DateFrom';
                    d.DateTo = '@ViewBag.DateTo';
                    d.Category = '@ViewBag.Category';
                }
            },
            order: [[0, 'asc']],
            stateSave: true,
            stateSaveCallback: function (settings, data) {
                localStorage.setItem('lead_@(Session.SessionID.GetHashCode())_' + settings.sTableId, JSON.stringify(data));
            },
            stateLoadCallback: function (settings, callback) {
                try {
                    return JSON.parse(localStorage.getItem('lead_@(Session.SessionID.GetHashCode())_' + settings.sTableId));
                } catch (e) { }
            }
        });
        $('.date-picker').datepicker({ format: "dd/mm/yyyy", autoclose: true, clearBtn: true });
    });
    function GetStatus() {
        var val =[];
        $('input[name=status]:checked').each(function () {
            val.push($(this).val());
        });
        return val.join(',');
    }
    function GetSource() {
        var val = [];
        $('input[name=source]:checked').each(function () {
            val.push($(this).val());
        });
        return val.join(',');
    }
</script>
    
}