﻿@model TobJod.Models.Lead

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 form-control-static">@Model.Id</div>
            </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Fullname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Model.Name @Model.Surname</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Tel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Model.Tel</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Model.Email</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Model.CreateDate.ToString()</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CallBackDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Model.CallBackDate.ToString("dd/MM/yyyy HH:mm") - @Model.CallBackDate.AddHours(2).ToString("HH:mm")</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Model.Subject</div>
                </div>

            if (Model.LeadCriteria != null) {
                <div class="form-group">
                    @Html.LabelFor(model => model.Product, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Model.Product <br /> ราคา: @Model.LeadCriteria.PremiumPrice.ToString("n2")</div>
                </div>

                <div class="form-group">
                    @Html.Label("Criteria", new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">
                        <table class="table table-striped">
                            @if (Model.LeadCriteria.Category == TobJod.Models.ProductCategoryKey.Motor) {
                            <tr><th>ประเภทประกันภัย</th><td>@Model.LeadCriteria.SubCategoryId.DisplayNameOrDefault()</td></tr>
                            <tr><th>ปีจดทะเบียน</th><td>@Model.LeadCriteria.MotorYear</td></tr>
                            <tr><th>ยี่ห้อ</th><td>@Model.LeadCriteria.MotorBrandIdTitle</td></tr>
                            <tr><th>รุ่น</th><td>@Model.LeadCriteria.MotorFamilyIdTitle</td></tr>
                            <tr><th>รุ่นย่อย</th><td>@Model.LeadCriteria.MotorModelIdTitle</td></tr>
                            <tr><th>พรบ</th><td>@Model.LeadCriteria.MotorPRBTitle</td></tr>
                            <tr><th>จังหวัด</th><td>@Model.LeadCriteria.MotorRegisterProvinceIdTitle</td></tr>
                            <tr><th>CCTV</th><td>@Model.LeadCriteria.MotorCCTVTitle</td></tr>
                            <tr><th>อู่</th><td>@Model.LeadCriteria.MotorGarageTitle</td></tr>
                            <tr><th>อายุผู้ขับขี่</th><td>@Model.LeadCriteria.MotorDriverAgeTitle @Model.LeadCriteria.MotorDriverAgeIdTitle</td></tr>
                            <tr><th>ช่วงราคา</th><td>@Model.LeadCriteria.PriceFrom.ToString("n0") - @Model.LeadCriteria.PriceTo.ToString("n0")</td></tr>
                            } else if (Model.LeadCriteria.Category == TobJod.Models.ProductCategoryKey.Home) {
                                <tr><th>ลักษณะอาคาร</th><td>@Model.LeadCriteria.HousePropertyTypeTitle</td></tr>
                                    <tr><th>ลักษณะสิ่งปลูกสร้าง</th><td>@Model.LeadCriteria.HouseConstructionTypeTitle</td></tr>
                                    <tr><th>จำนวนปีที่คุ้มครอง</th><td>@Model.LeadCriteria.HouseYear</td></tr>
                                    <tr><th>มูลค่าสิ่งปลูกสร้าง (ไม่รวมรากฐาน)</th><td>@Model.LeadCriteria.HouseConstructionValue.ToString("n2")</td></tr>
                                    <tr><th>มูลค่าทรัพย์สินในตัวอาคาร</th><td>@Model.LeadCriteria.HousePropertyValue.ToString("n2")</td></tr>
                                    <tr><th>จำนวนเงินประกันภัยรวม</th><td>@((Model.LeadCriteria.HouseConstructionValue + Model.LeadCriteria.HousePropertyValue).ToString("n2"))</td></tr>
                            } else if (Model.LeadCriteria.Category == TobJod.Models.ProductCategoryKey.PA) {
                                <tr><th>วันเกิด</th><td>@Model.LeadCriteria.Birthday.ToString("dd/MM/yyyy")</td></tr>
                                    @*<tr><th>อายุ</th><td>@(DateTime.Now - Model.LeadCriteria.Birthday)</td></tr>*@
                                <tr><th>อาชีพ</th><td>@Model.LeadCriteria.CareerIdTitle</td></tr>
                                <tr><th>ช่วงราคา</th><td>@Model.LeadCriteria.PriceFrom.ToString("n0") - @Model.LeadCriteria.PriceTo.ToString("n0")</td></tr>
                            } else if (Model.LeadCriteria.Category == TobJod.Models.ProductCategoryKey.PH) {
                                <tr><th>วันเกิด</th><td>@Model.LeadCriteria.Birthday.ToString("dd/MM/yyyy")</td></tr>
                                    @*<tr><th>อายุ</th><td>@(DateTime.Now - Model.LeadCriteria.Birthday)</td></tr>*@
                                    <tr><th>อาชีพ</th><td>@Model.LeadCriteria.CareerIdTitle</td></tr>
                                    <tr><th>เพศ</th><td>@Model.LeadCriteria.SexTitle</td></tr>
                                    <tr><th>น้ำหนัก</th><td>@Model.LeadCriteria.Weight</td></tr>
                                    <tr><th>ส่วนสูง</th><td>@Model.LeadCriteria.Height</td></tr>
                                    <tr><th>ช่วงราคา</th><td>@Model.LeadCriteria.PriceFrom.ToString("n0") - @Model.LeadCriteria.PriceTo.ToString("n0")</td></tr>
                            } else if (Model.LeadCriteria.Category == TobJod.Models.ProductCategoryKey.TA) {
                                <tr><th>แบบประกัน</th><td>@Model.LeadCriteria.TACoverageOptionTitle</td></tr>
                                <tr><th>ประเภทการเดินทาง</th><td>@Model.LeadCriteria.TATripTypeTitle</td></tr>
                                <tr><th>ประเทศปลายทาง</th><td>@Model.LeadCriteria.TACountryIdTitle (@Model.LeadCriteria.TAZoneTitle)</td></tr>
                                <tr><th>จำนวนวัน</th><td>@Model.LeadCriteria.TADays</td></tr>
                                <tr><th>ประเภทการประกันภัย</th><td>@Model.LeadCriteria.TACoverageTypeTitle</td></tr>
                                <tr><th>จำนวนผู้เดินทาง</th><td>@Model.LeadCriteria.TAPerson</td></tr>
                                <tr><th>ช่วงราคา</th><td>@Model.LeadCriteria.PriceFrom.ToString("n0") - @Model.LeadCriteria.PriceTo.ToString("n0")</td></tr>
                            } else if (Model.LeadCriteria.Category == TobJod.Models.ProductCategoryKey.PRB) {
                                <tr><th>ประเภทรถยนต์</th><td>@Model.LeadCriteria.SubCategoryId.DisplayNameOrDefault()</td></tr>
                                <tr><th>บริษัทประกันภัย</th><td>@Model.LeadCriteria.CompanyTitle</td></tr>
                            }
                        </table>
                    </div>
                </div>
            }

                <div class="form-group">
                    @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Model.Message</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LeadStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Model.LeadStatus.GetDisplayName()</div>
                </div>
        
                <div class="form-group">
                    @Html.LabelFor(model => model.FollowUpDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@(Model.FollowUpDate.Value.Year > 2000 ? Model.FollowUpDate.Value.ToString("dd/MM/yyyy") : "")</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-control-static">@Model.Remark</div>
                </div>

            if ((string)ViewBag.CurrentAction == TobJod.Models.AdminAction.Assign.ToString()) {
                <div class="form-group">
                    @Html.LabelFor(model => model.OwnerAdminId, htmlAttributes: new { @class = "control-label col-md-2 required" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.OwnerAdminId, (IEnumerable<SelectListItem>)ViewBag.OwnerAdminList, "-- Please Select --", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.OwnerAdminId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="reset" class="btn btn-warning">Reset</button>
                    </div>
                </div>
            } else {
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-warning" onclick="history.back();">Back</button>
                    </div>
                </div>
            }


            if (Model.Log != null && Model.Log.Count > 0) {
                <table class="table table-striped table-bordered" style="width:100%">
                    <thead><tr><th>No.</th><th>Agent</th><th>Date</th><th>Follow Up Date</th><th>Status</th><th>Remark</th></tr></thead>
                    <tbody>
                        @for (int i = 0; i < Model.Log.Count; i++) {
                            <tr><td>@(Model.Log.Count - i)</td><td>@Model.Log[i].CreateAdmin</td><td>@Model.Log[i].CreateDate</td><td>@(Model.Log[i].FollowUpDate.Value.Year > 2000 ? Model.Log[i].FollowUpDate.Value.ToString("dd/MM/yyyy") : "")</td><td>@Model.Log[i].LeadStatus.GetDisplayName()</td><td>@Model.Log[i].Remark</td></tr>
                        }
                    </tbody>
                </table>
            }
        }

    </div>
</div>

@section js {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('.date-picker').datepicker({ format: "dd/mm/yyyy" });
            $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }
                    var re = /[0-3]\d\/[01]\d\/\d{4}/;
                    var ok;
                    try {
                        ok = value.match(re) != null;
                    } catch (err) { ok = false; }
                    return ok;
                });
        })
    </script>
}
