﻿@helper DisplayPrice(Decimal price) {
        @price.ToString("n2");
}
@helper DisplayPrice2D(Decimal price) {
        @price.ToString("n2");
}

@helper DisplayPriceOrEmpty(Decimal price) {
        if (price == 0) {
            <text>-</text>
        } else {
            @price.ToString("##,###");
        }
}

@helper DisplayPrice2DOrEmpty(Decimal price) {
        if (price == 0) {
            <text>-</text>
        } else {
            @price.ToString("n2");
        }
}