﻿@model TobJod.Models.MasterOption

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i></span>@ViewBag.CurrentMenu.Title</h1>
</div>
<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">List</div>
    </div>
    <div class="panel-body">

        <div class="table-primary">
            <table class="table table-striped table-bordered data-table data-table-action" id="dataTable">
                <thead>
                    <tr>
                        <th>Employee Id</th>
                        <th class="datetime">Log In</th>
                        <th class="datetime">Log Out</th>
                        <th>Public IP</th>
                        <th>Local IP</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section js {
    <script>
        var $table;
        $(function() {
            $table = $('#dataTable').DataTable({
                ajax: {
                    url: '@Url.Action("DataTable")',
                    type: 'POST'
                },
                order: [[1, 'desc']]
            });
        });B
    </script>
}