﻿@{
    /**/

    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "สมัครสมาชิก | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ติดต่อ ตอบโจทย์ โบรคเกอร์ ประกันภัย โทร. 02-783-0222";
    pageMeta.MetaKeyword = "ติดต่อเรา, Tobjod, ตอบโจทย์";
}
@using TobJod.Web
@model TobJod.Web.Models.RegisterViewModel
@{
    var configModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
}

<main id="page-product-thumbnail" class="tomDev">
    <div id="banner_section">
        <div class="bannerTop">
            <div class="item">
                <figure>
                    <!-- <div style="background-image: url('@Url.Content("~/assets/images/tom/banner/contact-banner.jpg")');"></div> -->
                    <img src="@Url.Content("~/assets/images/tom/banner/contact-banner.jpg")" class="img-responsive">
                </figure>
            </div>
        </div>
    </div>
    <section id="contactSection">
        <div class="container">
            <div class="row">
                <h1>เข้าระบบ<strong>"ตอบโจทย์"</strong></h1>
            </div>
        </div>
    </section>
    <div class="wizard-wrapper"></div>
    <section class="contactForm container">
        <form id="form-contact" action="@Url.Action("Login")" method="post"
              @if (configModel.EnableCaptcha) { <text>
              data-fv-addons="reCaptcha2"
              data-fv-addons-recaptcha2-element="captchaContainer2"
              data-fv-addons-recaptcha2-theme="light"
              data-fv-addons-recaptcha2-timeout="120"
              data-fv-addons-recaptcha2-sitekey="6LfcwisUAAAAAH0useokQm42uo-RlPdzPRVthyEb"
              data-fv-addons-recaptcha2-language="th"
              data-fv-addons-recaptcha2-message="The captcha is not valid"
              </text> }>




            <div class="center">
                <div class="col-sm-6">
                    <div class="form-group req">
                        <label for=""><strong>ชื่อผู้ใช้งาน</strong></label>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", maxlength = "50", placeholder = "โปรดระบุ", autocomplete = "off", data_alpha = "1" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group req">
                        <label for=""><strong>รหัสผ่าน</strong></label>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", maxlength = "50", placeholder = "โปรดระบุ", autocomplete = "off", data_alpha = "1" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="checkbox form-group">
                        <label><input type="checkbox" id="Agreement" name="Agreement" /> จำข้อมูลการเข้าระบบ</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center btn-wrapper">
                    <button class="btn btn-md btn-primary btn-round-md" type="submit">เข้าระบบ</button><button class="btn btn-md btn-round-md hidden-xs" type="reset">ยกเลิก</button>
                </div>
            </div>
        </form>

    </section>
    <section id="contactmapSection">
        <div class="container">
            <div class="row">
                <div class="row">
                    <h3 class="text-xs-center">คุณสามารถใช้บัญชีโซเชียลที่ต้องการเพื่อเข้าถึง TOBJOD</h3>
                </div>
                <div class="center">
                    <div class="col-sm-6">
                        <a href="@Url.Action("LoginFacebook")"><img src="~/assets/images/Facebook2.png" alt="111" title="1" class="img-responsive"></a>
                        <a href="@Url.Action("LoginGoogle")"><img src="~/assets/images/Google.png" alt="111" title="1" class="img-responsive"></a>
                        <!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div> -->
                    </div>
                </div>
 
            </div>
                </div>
        </section>
    </main>
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v3.1&appId=2151100628446022&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
