﻿@{ 
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var viewModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ติดต่อเรา | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "ติดต่อ ตอบโจทย์ โบรคเกอร์ ประกันภัย โทร. 02-783-0222";
    pageMeta.MetaKeyword = "ติดต่อเรา, Tobjod, ตอบโจทย์";
}
@using TobJod.Web
@model TobJod.Web.Models.RegisterViewModel
@{
    var configModel = (TobJod.Web.Models.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
}
<main id="page-product-thumbnail" class="tomDev">
    <div id="banner_section">
        <div class="bannerTop">
            <div class="item">
                <figure>
                </figure>
            </div>
        </div>
    </div>
    <section id="contactSection">
        <div class="container">
            <div class="row">
                <h1>ติดต่อ <strong>"ตอบโจทย์"</strong></h1>
            </div>
            <div class="row slogan text-lg-center text-sm-center text-xs-center">Registration</div>
        </div>
    </section>
    <section class="contactForm container">
        <form id="form-contact" action="@Url.Action("Register")" method="post">
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-4">
                    <div class="form-group req">
                        <label for="">ชื่อ</label>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", maxlength = "50", placeholder = "โปรดระบุ", autocomplete = "off", data_alpha = "1" })
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group req">
                        <label for="">นามสกุล</label>
                        @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", maxlength = "50", placeholder = "โปรดระบุ", autocomplete = "off", data_alpha = "1" })
                    </div>
                </div>
                <div class="col-sm-2">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-4">
                    <div class="form-group req">
                        <label for="">อีเมล</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control email", type = "email", maxlength = "250", placeholder = "โปรดระบุ", autocomplete = "off" })
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group req">
                    </div>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-4">
                    <div class="form-group req">
                        <label for="">รหัสผ่าน</label>
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control password", type = "password", maxlength = "250", placeholder = "โปรดระบุ", autocomplete = "off" })
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group req">
                        <label for="">ยืนยันรหัสผ่าน</label>
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control password", placeholder = "โปรดระบุ", maxlength = "250", type = "password", data_num = "1", autocomplete = "off" })
                    </div>
                </div>

                <div class="col-sm-2">
                </div>
            </div>

                <div class="row">
                    <div class="col-xs-12 text-center btn-wrapper">
                        <button class="btn btn-md btn-round-md " style="color:white;background-color:forestgreen;" type="submit">Register With Email</button>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center btn-wrapper">
                        <br><br><br>

                    </div>
                </div>
</form>
    </section>

</main>
<style>
    #page-product-thumbnail.tomDev #contactmapSection .row.contactMap img { border: 0px solid !important; }
</style>
@section modal {
    @if (ViewBag.Notify != null) {
<!-- Modal -->
<div class="modal fade main-model-popup" id="popup-model-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--  <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div> -->
            <div class="modal-body">
                <div class="close-box"></div>
                <div class="text-close" data-dismiss="modal" aria-label="Close">&times;</div>
                <h2 class="text-center">@ViewBag.Notify</h2>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary contact-submit"> </button>
                </div>
            </div>
        </div>
    </div>
</div>
    }
}
@section js {
<script type="text/javascript" src="~/assets/vendor/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/assets/vendor/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">


</script>
    @if (ViewBag.Notify != null) {
        <script>$(function () { $('#popup-model-contact').modal('toggle'); });</script>
    }
}