﻿@{ 
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "สิทธิพิเศษประกันภัย | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "สิทธิพิเศษสำหรับคุณ ตอบโจทย์ ไลฟ์สไตล์ทุกการใช้ชีวิต ประกันภัยรถยนต์ ประกันภัยการเดินทาง ประกันอุบัติเหตุส่วนบุคคล จาก Tobjod โบรคเกอร์ ประกันภัย";
}
@using TobJod.Web
@model TobJod.Web.Models.PrivilegeListViewModel

<main id="page-product-thumbnail" class="tomDev privilege-detail">
    <div class="lineTop"></div>
    <div class="container">
        <div class="row">
            <h1><strong>สิทธิพิเศษ</strong> "ตอบโจทย์" </h1>
        </div>
        <div class="row">
            <div class="col-md-12 arrow-right">
                <a href="@Url.Action("Index")" class="btnOutline">กลับไปหน้าก่อนหน้านี้</a>
            </div>
        </div>
    </div>

    <section id="newsDetailSection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 detail">
                    <div class="galleryMain">
                        <img src="@Model.UrlUpload@Model.Item.ImageTH" alt="" class="img-responsive">
                    </div>
                    <div class="beforeTitle">
                        <div>รายละเอียด</div>
                        <div>@Model.Item.CreateDate.ToString("dd MMMM yyyy", Model.CultureTH)</div>
                    </div>
                    <h2 class="Title">@Model.Item.TitleTH</h2>
                    <div class="content">
                        @Html.Raw(Model.Item.BodyTH.ReplacePath())
                    </div>
                    <div class="container-btn">
                        <a href="#" class="btnOutline addthis_button_compact">แชร์ข่าวสารนี้</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>


@section js {
    <script>
        $(function () {
            $('#news-box .item > a').matchHeight({ byRow: true, property: 'height', target: null, remove: false });
        });
    </script>
}