﻿@model TobJod.Web.Models.OrderViewModel
@{
    var ci = new System.Globalization.CultureInfo("en-GB");
    var countryRepo = new TobJod.Repositories.CountryRepository();
    var categoryRepo = new TobJod.Repositories.ProductCategoryRepository();
}


<!-- start product detail -->
<div class="row item-content">
    <div class="col-md-12">
        <div class="inner head_line">
            <h5>Order summary</h5>
        </div>
    </div>
    <div class="col-md-12 content_detail new_form_v1 type-1">
        <div class="inner">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <figure>
                    <img src="@Model.ProductItem.CompanyImage" alt="" title="" class="img-responsive" />
                </figure>
            </div>

            <div class="hidden-xs col-sm-2 hidden-md hidden-lg"> </div>

            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="col-md-6 col-xs-12 col-sm-6 col-lg-6 size-1"><h2>@Model.ProductItem.Company <strong>@Model.ProductItem.TitleEN</strong></h2></div>
                <div class="col-md-6 col-xs-12 col-sm-6 col-lg-6 price-1 size-1"><h2 style="float:right; padding-right:30px;">@((Model.ProductApplication.DisplayPremium).ToString("n2")) บาท</h2></div>
                @{
                    var promotion = Model.ProductItem.Promotion.Where(x => x.Id == TobJod.Utils.NullUtils.cvInt(Model.ProductApplication.PromotionId)).FirstOrDefault();
                }
                @if (promotion != null) {

                    if (promotion.PromotionType == TobJod.Models.PromotionType.Gift) {
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;">
                        <div class="col-md-6 col-xs-6 col-sm-6 size-1"><h2>Free</h2></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 size-1 price-1"><h2><span style="float:right; padding-right:30px;">@promotion.Gift</span></h2></div>
                        </div>
                    } else {
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;">
                        <div class="col-md-6 col-xs-6 col-sm-6 size-1"><h2>Discount</h2></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 size-1 price-1"><h2><span style="float:right; padding-right:30px;">@promotion.DiscountAmount.ToString("0") @(promotion.DiscountType == TobJod.Models.PromotionDiscountType.Amount ? "Baht" : "%")</span></h2></div>
                        </div>
                    }
                }
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> </div>

            <div class="clearfix"></div>

            <div class="uder-line">
                <div class="background-color-bg"></div>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text-right">
                <div class="caption-display">Net</div>
                <div class="price">
                    <span>@((Model.ProductApplication.DisplayPremium - Model.ProductApplication.TotalDiscount).ToString("n2")) </span> Baht
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end product detail -->
<!-- start order detail -->
<div class="row item-content">
    <div class="col-md-12">
        <div class="inner head_line">
            <h5>Order Information</h5>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 content_detail new_form_v1 type-1">
        <div class="inner">
            <div class="col-md-2 hidden-xs col-sm-2"></div>
            <div class="col-xs-12 col-md-8 col-sm-8">
                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>Category</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@(categoryRepo.GetProductSubCategory((int)Model.ProductItem.SubCategoryId)?.TitleEN)</span></h2></div>
                </div>
                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>Plan</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@Model.ProductItem.Company @Model.ProductItem.TitleEN</span></h2></div>
                </div>
                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>Company</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@Model.ProductItem.Company</span></h2></div>
                </div>
                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>Type</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@(Model.ProductApplication.EPolicy == 1 ? "E-Policy" : "Post")</span></h2></div>
                </div>
                
                @if (Model.ProductApplicationMotor != null && Model.ProductApplicationMotor.ApplicationId > 0) {
                    var masterRepo = new TobJod.Repositories.MasterOptionRepository();
                    var usage = "";
                    var carProvince = "";
                    TobJod.Models.ProductMotorVehicleUsage vehicleUsage;
                    TobJod.Repositories.CarRepository carRepo = new TobJod.Repositories.CarRepository();
                    if (Enum.TryParse< TobJod.Models.ProductMotorVehicleUsage>(Model.ProductApplicationMotor.CarUsageType.ToString(), out vehicleUsage)) {
                        //usage = TobJod.Utils.ValueUtils.GetEnumDisplayName(vehicleUsage);
                        switch(vehicleUsage) {
                            case TobJod.Models.ProductMotorVehicleUsage.Normal_Commercial : usage = "Car"; break;
                            case TobJod.Models.ProductMotorVehicleUsage.Normal_Personal: usage = "Car"; break;
                            case TobJod.Models.ProductMotorVehicleUsage.Passenger_Personal: usage = "Van"; break;
                            case TobJod.Models.ProductMotorVehicleUsage.Pickup_Commercial: usage = "Pick-up Truck"; break;
                        }
                    }
                    var cp = masterRepo.GetMasterOption_Active(Model.ProductApplicationMotor.CarProvinceId);
                    if (cp != null) { carProvince = cp.TitleEN; }
                    var carBrand = carRepo.GetCarBrand_Active(TobJod.Models.Language.EN, TobJod.Utils.NullUtils.cvInt(Model.ProductApplicationMotor.CarBrand)).TitleEN;

                    if (!string.IsNullOrEmpty(usage)) {
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 unpad">
                        <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>Car Type</h2></div>
                        <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@(usage)</span></h2></div>
                    </div>
                    }
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 unpad">
                        <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>Car Model</h2></div>
                        <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@(carBrand + " "  + Model.ProductApplicationMotor.CarModel)</span></h2></div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 unpad">
                        <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>Car Engine Number</h2></div>
                        <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@(Model.ProductApplicationMotor.CarEngineNo)</span></h2></div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 unpad">
                        <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>Register Year</h2></div>
                        <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@(Model.ProductApplicationMotor.CarRegisterYear)</span></h2></div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 unpad">
                        <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>Register Province</h2></div>
                        <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@carProvince</span></h2></div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 unpad">
                        <div class="col-xs-5 col-sm-6 col-md-6  size-1"><h2>Plate Number</h2></div>
                        <div class="col-xs-7 col-sm-6 col-md-6  size-1"><h2><span>@(Model.ProductApplicationMotor.CarPlateNo1 + " " + Model.ProductApplicationMotor.CarPlateNo2)</span></h2></div>
                    </div>
                }
            </div>
            <div class="col-md-2 hidden-xs col-sm-2"> </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end order detail -->
<!-- start customer detail -->
<div class="row item-content">
    <div class="col-md-12">
        <div class="inner head_line">
            <h5>Policy Holder Information</h5>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 content_detail new_form_v1 type-1">
        <div class="inner udetail">
            <div class="col-md-2 hidden-xs col-sm-2"></div>
            <div class="col-xs-12 col-md-8 col-sm-8">

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>Name</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplicationPolicyHolders[0].Name</span></h2></div>
                </div>

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>Surname</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplicationPolicyHolders[0].Surname</span></h2></div>
                </div>

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>Nationality</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@(countryRepo.GetCountry_Admin(Model.ProductApplicationPolicyHolders[0].NationalId)?.TitleEN)</span></h2></div>
                </div>

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>ID Card No./Passport No.</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplicationPolicyHolders[0].IDCard</span></h2></div>
                </div>

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>Birthday</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplicationPolicyHolders[0].Birthday.ToString("d MMMM yyyy", ci)</span></h2></div>
                </div>

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>Age</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@(TobJod.Utils.DateUtils.CalculateAge(Model.ProductApplicationPolicyHolders[0].Birthday, " Years ", " Months"))</span></h2></div>
                </div>

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>Telephone</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplicationPolicyHolders[0].Telephone</span></h2></div>
                </div>

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>Mobile phone</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplicationPolicyHolders[0].MobilePhone</span></h2></div>
                </div>

                <div class="col-xs-12 unpad">
                    <div class="col-xs-5 col-sm-6 col-md-6 size-1"><h2>Email</h2></div>
                    <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplicationPolicyHolders[0].Email</span></h2></div>
                </div>

            </div>
            <div class="col-md-2 hidden-xs col-sm-2"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end customer detail -->
<!-- start order summary detail -->
<div class="row item-content">
    <div class="col-md-12">
        <div class="inner head_line">
            <h5>Insurance Information</h5>
        </div>
    </div>


    <div class="col-xs-12 col-md-12 content_detail new_form_v1 type-1">
        <div class="inner udetail">
            <div class="col-md-2 hidden-xs col-sm-2"></div>
            <div class="col-xs-12 col-md-8 col-sm-8">

                <div class="col-xs-5 col-sm-6 col-md-6 size-1" style="white-space: nowrap;"><h2>Premium</h2></div>
                <div class="col-xs-7 col-sm-6 col-md-6 size-1"> <h2><span>@((Model.ProductApplication.DisplayPremium - Model.ProductApplication.TotalDiscount).ToString("n2")) Baht</span></h2></div>

                <div class="col-xs-5 col-sm-6 col-md-6 size-1" style="white-space: nowrap;"><h2>Active Date</h2></div>
                <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplication.ActiveDate.ToString("d MMMM yyyy", ci)</span></h2></div>

                <div class="col-xs-5 col-sm-6 col-md-6 size-1" style="white-space: nowrap;"><h2>Expire Date</h2></div>
                <div class="col-xs-7 col-sm-6 col-md-6 size-1"><h2><span>@Model.ProductApplication.ExpireDate.ToString("d MMMM yyyy", ci)</span></h2></div>

                <div class="col-xs-12 size-1" style="white-space: nowrap;"><h2>Coverage</h2></div>
                <div class="col-xs-12 size-1">@Html.Raw(string.IsNullOrWhiteSpace(Model.ProductItem.CoverageEN) ? "-" : "<table class='table-summary-coverage'>" + Model.ProductItem.CoverageEN + "</table>")<br/></div>

                <div class="col-xs-12 size-1" style="white-space: nowrap;"><h2>Condition</h2></div>
                <div class="col-xs-12 size-1">@Html.Raw(string.IsNullOrWhiteSpace(Model.ProductItem.ConditionEN) ? "-" : Html.Encode(Model.ProductItem.ConditionEN).Replace("\n", "<br />"))<br /></div>

                <div class="col-xs-12 size-1" style="white-space: nowrap;"><h2>Exception</h2></div>
                <div class="col-xs-12 size-1">@Html.Raw(string.IsNullOrWhiteSpace(Model.ProductItem.ExceptionEN) ? "-" : Html.Encode(Model.ProductItem.ExceptionEN).Replace("\n", "<br />"))<br /></div>

                <div class="col-xs-12 size-1" style="white-space: nowrap;"><h2>Privilege</h2></div>
                <div class="col-xs-12 size-1">@Html.Raw(string.IsNullOrWhiteSpace(Model.ProductItem.PrivilegeEN) ? "-" : Html.Encode(Model.ProductItem.PrivilegeEN).Replace("\n", "<br />"))<br /></div>

                <div class="col-xs-12 size-1" style="white-space: nowrap;"><h2>Consent</h2></div>
                <div class="col-xs-12 size-1">@Html.Raw(string.IsNullOrWhiteSpace(Model.ProductItem.ConsentEN) ? "-" : Html.Encode(Model.ProductItem.ConsentEN).Replace("\n", "<br />"))</div>
            </div>
            <div class="col-md-2 hidden-xs col-sm-2"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>