﻿<div id="otp-popup-box">
    <div id="otp-popup" align="center" class="lightbox">
        <span id="closemodal" class="close cursor" onclick="closeModal();">&times;</span>
        <div id="otp-verify-form">
            <form id="form-otp" action="post">
                <div>
                    <p>Please enter OTP Password from SMS</p>
                </div>
                <label class="form-group required">
                    <div class="col-md-8 padding-0">
                        <input id="otp-password" type="text" class="form-control otp-password required" maxlength="6" name="otp-password" placeholder="Example : 123456" pattern="^([0-9]{6})$" data-fv-regexp___message="Please enter 6 digits number" required />
                    </div>
                    <div class="col-md-4 padding-0" id="berifybutdiv">
                        <button id="otp-verify-button" class="otp-verify-button" type="button">Verify</button><br />
                    </div>
                    <div class="col-md-12">
                        <br /><br /><a href="#" id="otp-send-again" class="otp-send-again"><span class="fa fa-refresh"></span><span class="otp-send-again-text"> Resend OTP</span><span class="otp-send-sending-text"> Sending OTP...</span></a>
                        <div id="otp-message-error" class="otp-message-error">
                            <span class="otp-message-error-1">Incorrect OTP.</span>
                            <span class="otp-message-error-998">Incorrect OTP 5 times.<br/>Please resend OTP.</span>
                            <span class="otp-message-error-999">Cannot connect to server.<br />Please try again later.</span>
                        </div>
                    </div>
                </label>
            </form>
        </div>
    </div>
</div>