﻿@model TobJod.Web.Models.OrderViewModel
@{
    var page = new { Key = (int)ViewData["Page"] };
    var step = new { Key = (int)ViewData["Step"] };
    var index = ViewData["Index"] != null ? (int)ViewData["Index"] : 0;
}

<div class="col-md-12 content_detail">
    <div class="inner">
        <div class="row">

            @foreach (var item in Model.ProductApplicationFields)
            {

                if (Model.ProductApplicationFields[item.Key].Page == page.Key)
                {
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_CustomerType && index == 0)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption '>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        @*<div class='col-md-7 '>
                            <label class='form-group'>
                                <div class="radio radio-inline required">
                                    <input type="radio" id="Personal" required value="@((int)TobJod.Models.CustomerType.Personal)" name="ProductApplication[CustomerType]" @(Model.ProductApplication.CustomerType == (int)TobJod.Models.CustomerType.Personal ? "checked=checked" : "")>
                                    <label for="Personal">Personal </label>
                                </div>

                                <div class="radio radio-inline">
                                    <input type="radio" id="Corporate" required value="@((int)TobJod.Models.CustomerType.Corporate)" name="ProductApplication[CustomerType]" @(Model.ProductApplication.CustomerType == (int)TobJod.Models.CustomerType.Corporate ? "checked='checked'" : "")>
                                    <label for="Corporate">Corporate </label>
                                </div>
                            </label>
                        </div>*@
                        <input type="hidden"  value="@((int)TobJod.Models.CustomerType.Personal)" name="ProductApplication[CustomerType]" >
                        <div class='col-md-7 text-desc'>Personal</div>
                        <div class='clearfix'></div>
                    }

                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_TitleId)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class='form-group required'>
                                <div class="">
                                    <span></span>
                                    <select required name="ProductApplicationPolicyHolders[@index].TitleId" id="" class="form-control required dd_list">
                                        <option value="">Please Select@(Model.ProductApplicationFields[item.Key].TitleEN)</option>
                                        @foreach (var country in Model.Salutations)
                                        {
                                            <option value="@country.Value" @(Model.ProductApplicationPolicyHolder.TitleId.ToString() == country.Value.ToString() ? " selected" : "")>@country.Text</option>
                                        }
                                    </select>
                                </div>
                            </label>
                        </div>
                        <div class='clearfix'></div>


                    }

                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_Name)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input type="text" data-fv-notempty="true" data-custom-alphanum="true" maxlength="50" class="form-control" name="ProductApplicationPolicyHolders[@index].Name" value="@Model.ProductApplicationPolicyHolder.Name" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>

                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_Surname)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input type="text" data-fv-notempty="true" data-custom-alphanum="true" maxlength="50" class="form-control" name="ProductApplicationPolicyHolders[@index].Surname" value="@Model.ProductApplicationPolicyHolder.Surname" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>

                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_NationalId)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class='form-group required'>
                                <div class="">
                                    <span></span>
                                    <select required name="ProductApplicationPolicyHolders[@index].NationalId" id="" class="form-control required dd_list">
                                        <option value="">Please Select@(Model.ProductApplicationFields[item.Key].TitleEN)</option>
                                       @foreach (var country in Model.Countries)
                                       {
                                           if (TobJod.Utils.NullUtils.cvInt(Model.ProductApplicationPolicyHolder.NationalId) != 0)
                                           {
                                            <option value="@country.Value" @(string.Equals(Model.ProductApplicationPolicyHolder.NationalId.ToString(), country.Value) ? " selected" : "")>@country.Text</option>
                                           }
                                           else
                                           {
                                            <option value="@country.Value" @(string.Equals(Model.ThailandNational, country.Value) ? " selected" : "")>@country.Text</option>
                                           }
                                       }
                                    </select>
                                </div>
                            </label>
                        </div>
                        <div class='clearfix'></div>

                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_IDType)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class='form-group required'>
                                <div class="">
                                    <span></span>
                                    <select required name="ProductApplicationPolicyHolders[@index].IDType" value="@Model.ProductApplicationPolicyHolder.IDType" data-target="#idCard_@index" class="form-control required id-type dd_list">
                                        <option value="">Please Select@(Model.ProductApplicationFields[item.Key].TitleEN)</option>
                                        <option value="@((int)TobJod.Models.IDTYPE.IDCard)" @(Model.ProductApplicationPolicyHolder.IDType == (int)TobJod.Models.IDTYPE.IDCard ? "selected" : "")>ID Card Number</option>
                                        <option value="@((int)TobJod.Models.IDTYPE.Passport)" @(Model.ProductApplicationPolicyHolder.IDType == (int)TobJod.Models.IDTYPE.Passport ? "selected" : "")>Passport Number</option>
                                    </select>
                                </div>
                            </label>
                        </div>
                                <div class='clearfix'></div>

                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_IDCard)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input type="text" data-fv-notempty="true"  data-custom-alphanum="true" data-fv-id="true" data-fv-id-country="TH" maxlength="50" id="idCard_@index" class="form-control" name="ProductApplicationPolicyHolders[@index].IDCard" value="@Model.ProductApplicationPolicyHolder.IDCard" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                                    <div class='clearfix'></div>

                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_Birthday)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required style_datetime">
                                <span class="icon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                                <input autocomplete="off" readonly="readonly" type="text" data-fv-notempty="true" data-alphanum="1" class="form-control ph-birthday-age prevent_type " data-target="#ph_age_@index" name="ProductApplicationPolicyHolders[@index].Birthday" value="@(Model.ProductApplicationPolicyHolder.Birthday.ToString("dd/MM/yyyy", Model.CultureGB))" placeholder="@(Model.ProductApplicationFields[item.Key].TitleEN)" />
                            </label>
                        </div>
                                        <div class='clearfix'></div>

                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_Age)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-2'>
                            <label class="form-group required show-error">
                                <input data-fv-notempty="true" type="text" data-alphanum="1" id="ph_age_@index" min="@Model.MinAge" max="@Model.MaxAge" class="form-control" name="ProductApplicationPolicyHolders[@index].Age" 
                                       value="@(TobJod.Utils.NullUtils.cvInt(Model.ProductApplicationPolicyHolder.Age) == 0? "": Model.ProductApplicationPolicyHolder.Age.ToString())" 
                                       placeholder="@(string.Format("Range {0} - {1} Years",Model.MinAge.ToString(),@Model.MaxAge.ToString()))" data-fv-between="true" data-fv-between-min="@Model.MinAge" data-fv-between-max="@Model.MaxAge" data-fv-between-message="@(string.Format("Range {0} - {1} Years",Model.MinAge.ToString(),@Model.MaxAge.ToString()))" readonly="readonly" />
                            </label>
                        </div>
                        <div class="col-md-1"></div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_CareerId)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <div class="">
                                    <span></span>
                                    <select required name="ProductApplicationPolicyHolders[@index].CareerId" value="@Model.ProductApplicationPolicyHolder.CareerId" id="" class="form-control required dd_list">
                                        <option value="">Please Select@(Model.ProductApplicationFields[item.Key].TitleEN)</option>
                                        @foreach (var career in Model.Careers)
                                        {
                                            <option value="@career.Value" @(string.Equals(TobJod.Utils.NullUtils.cvString(Model.ProductApplicationPolicyHolder.CareerId), career.Value) ? " selected" : "")>@career.Text</option>
                                        }
                                    </select>
                                </div>
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_AnnualIncome)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-2'>
                            <label class="form-group required">
                                <input type="text" data-alphanum="1" data-fv-notempty="true" data-fv-numeric="true" class="form-control" id="ph_annualIncome_@index" name="ProductApplicationPolicyHolders[@index].AnnualIncome" value="@Model.ProductApplicationPolicyHolder.AnnualIncome" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class="col-md-1">Baht</div>
                        <div class='clearfix'></div>

                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_Sex)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class='form-group'>
                                <div class="radio radio-inline">
                                    <input type="radio" id="SexMale_@index" value="@((int)TobJod.Models.Sex.Male)" name="ProductApplicationPolicyHolders[@index].Sex" @(Model.ProductApplicationPolicyHolder.Sex == (int)TobJod.Models.Sex.Male ? "checked=checked" : "")>
                                    <label for="SexMale_@index">Male </label>
                                </div>

                                <div class="radio radio-inline">
                                    <input type="radio" id="SexFemale_@index" value="@((int)TobJod.Models.Sex.Female)" name="ProductApplicationPolicyHolders[@index].Sex" @(Model.ProductApplicationPolicyHolder.Sex == (int)TobJod.Models.Sex.Female ? "checked='checked'" : "")>
                                    <label for="SexFemale_@index">Female </label>
                                </div>
                            </label>
                        </div>
                        <div class='clearfix'></div>

                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_MaritalStatus)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class='form-group required'>
                                <div class="">
                                    <span></span>
                                    <select name="ProductApplicationPolicyHolders[@index].MaritalStatus" required id="" class="form-control dd_list">
                                        <option value="">Please Select@(Model.ProductApplicationFields[item.Key].TitleEN)</option>
                                        <option value="@((int)TobJod.Models.MaritalStatus.Single)" @(Model.ProductApplicationPolicyHolder.MaritalStatus == (int)TobJod.Models.MaritalStatus.Single ? "selected" : "")>Single</option>
                                        <option value="@((int)TobJod.Models.MaritalStatus.Married)" @(Model.ProductApplicationPolicyHolder.MaritalStatus == (int)TobJod.Models.MaritalStatus.Married ? "selected" : "")>Married</option>
                                        <option value="@((int)TobJod.Models.MaritalStatus.Divorced)" @(Model.ProductApplicationPolicyHolder.MaritalStatus == (int)TobJod.Models.MaritalStatus.Divorced ? "selected" : "")>Divorce</option>
                                        <option value="@((int)TobJod.Models.MaritalStatus.Widowed)" @(Model.ProductApplicationPolicyHolder.MaritalStatus == (int)TobJod.Models.MaritalStatus.Widowed ? "selected" : "")>Widow</option>
                                    </select>
                                </div>
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_Weight)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="number" min="@Model.MinWeight" max="@Model.MaxWeight" class="form-control" name="ProductApplicationPolicyHolders[@index].Weight" value="@(Model.ProductApplicationPolicyHolder.Weight == 0? "": Model.ProductApplicationPolicyHolder.Weight.ToString())" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_Height)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="number"  min="@Model.MinHeight" max="@Model.MaxHeight" class="form-control" name="ProductApplicationPolicyHolders[@index].Height" value="@(Model.ProductApplicationPolicyHolder.Height == 0? "": Model.ProductApplicationPolicyHolder.Height.ToString())" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>

                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_Telephone)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input autocomplete="off"  type="tel" data-fv-regexp="true" data-fv-regexp-regexp="@Html.Raw("^(0)[0-9]{8,9}$")" class="form-control numeric" maxlength="10" name="ProductApplicationPolicyHolders[@index].Telephone" value="@Model.ProductApplicationPolicyHolder.Telephone" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>

                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_MobilePhone)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <div class="form-group mobile-box required">
                                <div class="col-md-8" id="phonenumberinput">
                                    <input data-num="1" autocomplete="off" data-fv-notempty="true" type="tel" data-fv-regexp="true" data-fv-regexp-regexp="@Html.Raw("^(0)[0-9]{9}$")" class="form-control required numeric otp-mobile" maxlength="10" name="ProductApplicationPolicyHolders[@index].MobilePhone" value="@Model.ProductApplicationPolicyHolder.MobilePhone" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" id="application-mobile" />
                                </div>
                                <div class="col-md-4" id="sms-request-button-box">
                                    <button type="button" id="sms-request-button">Verify</button><br />
                                </div>
                                <span id="sms-request-message" class="text-danger"></span>
                            </div>
                            <div class='clearfix'></div>
                            <label class="form-group required">
                                <div class="col-md-12 otp-verify-result" id="otp-result">
                                    <label class="checkbox-inline"><input type="checkbox" name="otp-result" onclick="return false;" checked="" required><span class="label-text"> Verify</span></label>
                                </div>
                            </label>
                        </div>
                       <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_Email)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input id="otpuseremail" type="text" data-fv-notempty="true" data-fv-regexp="true" data-fv-regexp-regexp="@Html.Raw("^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$")" maxlength="250" class="form-control email" name="ProductApplicationPolicyHolders[@index].Email" value="@Model.ProductApplicationPolicyHolder.Email" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                    <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BeneficiaryName)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input data-fv-notempty="true" type="text" data-custom-alphanum="true" class="form-control" maxlength="50" name="ProductApplicationPolicyHolders[@index].BeneficiaryName" value="@Model.ProductApplicationPolicyHolder.BeneficiaryName" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>

                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BeneficiarySurname)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input data-fv-notempty="true" type="text" data-custom-alphanum="true" class="form-control" maxlength="50" name="ProductApplicationPolicyHolders[@index].BeneficiarySurname" value="@Model.ProductApplicationPolicyHolder.BeneficiarySurname" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>

                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BeneficiaryIDType)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class='form-group required'>
                                <div class="">
                                    <span></span>
                                    <select required name="ProductApplicationPolicyHolders[@index].BeneficiaryIDType" value="@Model.ProductApplicationPolicyHolder.BeneficiaryIDType" data-target="#Beneficiary_idCard_@index" class="form-control required id-type dd_list">
                                        <option value="">Please Select@(Model.ProductApplicationFields[item.Key].TitleEN)</option>
                                        <option value="@((int)TobJod.Models.IDTYPE.IDCard)" @(Model.ProductApplicationPolicyHolder.BeneficiaryIDType == (int)TobJod.Models.IDTYPE.IDCard ? "selected" : "")>ID Card Number</option>
                                        <option value="@((int)TobJod.Models.IDTYPE.Passport)" @(Model.ProductApplicationPolicyHolder.BeneficiaryIDType == (int)TobJod.Models.IDTYPE.Passport ? "selected" : "")>Passport Number</option>
                                    </select>
                                </div>
                            </label>
                        </div>
                        <div class='clearfix'></div>

                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BeneficiaryIDCard)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input id="Beneficiary_idCard_@index" type="text" data-fv-notempty="true" data-custom-alphanum="true" data-fv-id="true" data-fv-id-country="TH" class="form-control" maxlength="50" name="ProductApplicationPolicyHolders[@index].BeneficiaryIDCard" value="@Model.ProductApplicationPolicyHolder.BeneficiaryIDCard" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BeneficiaryRelationship)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <div class="">
                                    <span></span>
                                    <select required name="ProductApplicationPolicyHolders[@index].BeneficiaryRelationship" value="@Model.ProductApplicationPolicyHolder.BeneficiaryRelationship" id="" class="form-control required dd_list">
                                        <option value="">Please Select@(Model.ProductApplicationFields[item.Key].TitleEN)</option>
                                        @foreach (var relationship in Model.Relationships)
                                        {
                                            <option value="@relationship.Value" @(string.Equals(TobJod.Utils.NullUtils.cvString(Model.ProductApplicationPolicyHolder.BeneficiaryRelationship), relationship.Value) ? " selected" : "")>@relationship.Text</option>
                                        }
                                    </select>
                                </div>
                            </label>
                        </div>
                        <div class='clearfix'></div>


                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BeneficiaryMobilePhone)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input  data-num="1" autocomplete="off" maxlength="10" data-fv-notempty="true" type="tel" data-fv-regexp="true" data-fv-regexp-regexp="@Html.Raw("^(0)[0-9]{8,9}$")" class="form-control required numeric" name="ProductApplicationPolicyHolders[@index].BeneficiaryMobilePhone" value="@Model.ProductApplicationPolicyHolder.BeneficiaryMobilePhone" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>

                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_EPolicy && index == 0)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7 '>
                            <label class='form-group'>
                                @*<div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio65" value="@((int)TobJod.Models.AllYesNo.Yes)" name="ProductApplication[EPolicy]" @(Model.ProductApplication.EPolicy == (int)TobJod.Models.AllYesNo.Yes ? "checked=checked" : "disabled")>
                                    <label for="inlineRadio65">E-Policy </label>
                                </div>

                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio55" value="@((int)TobJod.Models.AllYesNo.No)" name="ProductApplication[EPolicy]" @(Model.ProductApplication.EPolicy == (int)TobJod.Models.AllYesNo.No ? "checked='checked'" : "disabled")>
                                    <label for="inlineRadio55">Policy Book </label>
                                </div>*@
                                <input type="hidden" id="" value="@(Model.ProductApplication.EPolicy)" name="ProductApplication[EPolicy]">
                                @(Model.ProductApplication.EPolicy == 1  ? "EPolicy" : "Policy")
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ActiveDate && index == 0)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption '>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7 '>
                            <label class="form-group required style_datetime">
                                <span class="icon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                                <input autocomplete="off" readonly="readonly" type="text" data-alphanum="1" class="form-control ph-date-from prevent_type" required id="activedate_date_picker1" data-date-to="#expiredate_date_picker1" name="ProductApplication[ActiveDate]" value="@Model.ProductApplication.ActiveDate.ToString(Model.DateFormat, Model.CultureGB)" placeholder="@(Model.ProductApplicationFields[item.Key].TitleEN)" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ExpireDate && index == 0)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption '>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7 '>
                            <label class="form-group required style_datetime">
                                <span class="icon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                                <input type="text" data-alphanum="1" readonly="readonly" class="form-control ph-date-to prevent_type" required id="expiredate_date_picker1" name="ProductApplication[ExpireDate]" value="@Model.ProductApplication.ExpireDate.ToString(Model.DateFormat, Model.CultureGB)" placeholder="@(Model.ProductApplicationFields[item.Key].TitleEN)" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }

                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ContactName)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input data-fv-notempty="true" type="text" data-custom-alphanum="true" class="form-control" maxlength="50" name="ProductApplication[ContactName]" value="@Model.ProductApplication.ContactName" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }

                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ContactSurname)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input data-fv-notempty="true" type="text" data-custom-alphanum="true" class="form-control" maxlength="50" name="ProductApplication[ContactSurname]" value="@Model.ProductApplication.ContactSurname" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }

                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ContactTelephone)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input  data-num="1" autocomplete="off" data-fv-notempty="true"  type="tel" data-fv-regexp="true" data-fv-regexp-regexp="@Html.Raw("^(0)[0-9]{8,9}$")" maxlength="10"  class="form-control required numeric" name="ProductApplication[ContactTelephone]" value="@Model.ProductApplication.ContactTelephone" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }

                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ContactMobilePhone)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input  data-num="1" autocomplete="off" data-fv-notempty="true"  type="tel" data-fv-regexp="true" data-fv-regexp-regexp="@Html.Raw("^(0)[0-9]{8,9}$")" maxlength="10" class="form-control required numeric" name="ProductApplication[ContactMobilePhone]" value="@Model.ProductApplication.ContactMobilePhone" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }

                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ContactEmail)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input type="text" data-fv-notempty="true" data-fv-regexp="true" data-fv-regexp-regexp="@Html.Raw("^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$")" maxlength="250" class="form-control email" name="ProductApplication[ContactEmail]" value="@Model.ProductApplication.ContactEmail" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }

                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BuyerName)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input data-fv-notempty="true" type="text" data-custom-alphanum="true" class="form-control" maxlength="50" name="ProductApplication[BuyerName]" value="@Model.ProductApplication.BuyerName" p placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }

                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BuyerSurname)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input data-fv-notempty="true" type="text" data-custom-alphanum="true" class="form-control" maxlength="50" name="ProductApplication[BuyerSurname]" value="@Model.ProductApplication.BuyerSurname" p placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }

                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BuyerTelephone)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input autocomplete="off" data-fv-notempty="true" type="tel" data-fv-regexp="true" data-fv-regexp-regexp="@Html.Raw("^(0)[0-9]{8,9}$")" class="form-control required numeric" maxlength="10" name="ProductApplication[BuyerTelephone]" value="@Model.ProductApplication.BuyerTelephone" p placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }

                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BuyerMobilePhone)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input data-num="1" autocomplete="off" data-fv-notempty="true"  type="tel" data-fv-regexp="true" data-fv-regexp-regexp="@Html.Raw("^(0)[0-9]{8,9}$")" class="form-control required numeric" maxlength="10" name="ProductApplication[BuyerMobilePhone]" value="@Model.ProductApplication.BuyerMobilePhone" p placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }

                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BuyerEmail)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input type="text" data-fv-notempty="true" data-fv-regexp="true" data-fv-regexp-regexp="@Html.Raw("^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$")" maxlength="250" class="form-control email" name="ProductApplication[BuyerEmail]" value="@Model.ProductApplication.BuyerEmail" p placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_AddressBranchNo)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text"  data-custom-alphanum="true"  class="form-control" maxlength="50" name="ProductApplication[AddressBranchNo]" value="@Model.ProductApplication.AddressBranchNo" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_AddressNo)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input required type="text"  data-custom-alphanum-address="true"  class="form-control" maxlength="20" name="ProductApplication[AddressNo]" value="@Model.ProductApplication.AddressNo" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_AddressMoo)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text"  data-custom-alphanum="true"  class="form-control" maxlength="10" name="ProductApplication[AddressMoo]" value="@Model.ProductApplication.AddressMoo" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_AddressVillage)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group ">
                                <input type="text"  data-custom-alphanum="true"  class="form-control" maxlength="50" name="ProductApplication[AddressVillage]" value="@Model.ProductApplication.AddressVillage" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_AddressFloor)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text" data-num="1" min="0" max="99999" class="form-control" maxlength="5" name="ProductApplication[AddressFloor]" value="@Model.ProductApplication.AddressFloor" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_AddressSoi)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text"  data-custom-alphanum="true"  class="form-control" maxlength="50" name="ProductApplication[AddressSoi]" value="@Model.ProductApplication.AddressSoi" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_AddressRoad)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text"  data-custom-alphanum="true"  class="form-control" maxlength="50" name="ProductApplication[AddressRoad]" value="@Model.ProductApplication.AddressRoad" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_AddressDistrict)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <div class="">
                                    <span></span>
                                    <select name="ProductApplication[AddressDistrict]" required value="@Model.ProductApplication.AddressDistrict" id="address_district" class="form-control dd_list address-district-ddl required" data-target="#address_subdistrict">
                                        <option value="">Please Select@(Model.ProductApplicationFields[item.Key].TitleEN)</option>
                                        @foreach (var district in Model.Districts)
                                        {
                                            <option value="@district.Value" @(string.Equals(TobJod.Utils.NullUtils.cvString(Model.ProductApplication.AddressDistrict), district.Value) ? " selected" : "")>@district.Text</option>
                                        }
                                    </select>
                                </div>
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_AddressSubDistrict)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <div class="">
                                    <span></span>
                                    <select required name="ProductApplication[AddressSubDistrict]" value="@Model.ProductApplication.AddressSubDistrict" id="address_subdistrict" class="form-control dd_list address-subdistrict-ddl required" data-target="#address_postal_code">
                                        <option value="">Please Select@(Model.ProductApplicationFields[item.Key].TitleEN)</option>
                                        @foreach (var subdistrict in Model.SubDistricts)
                                        {
                                            <option value="@subdistrict.Value" @(string.Equals(TobJod.Utils.NullUtils.cvString(Model.ProductApplication.AddressSubDistrict), subdistrict.Value) ? " selected" : "")>@subdistrict.Text</option>
                                        }
                                    </select>
                                </div>
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_AddressProvince)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <div class="">
                                    <span></span>
                                    <select required name="ProductApplication[AddressProvince]" value="@Model.ProductApplication.AddressProvince" id="" class="form-control dd_list address-province-ddl required" data-target="#address_district">
                                        <option value="">Please Select@(Model.ProductApplicationFields[item.Key].TitleEN)</option>
                                        @foreach (var province in Model.Provinces)
                                        {
                                            <option value="@province.Value" @(string.Equals(TobJod.Utils.NullUtils.cvString(Model.ProductApplication.AddressProvince), province.Value) ? " selected" : "")>@province.Text</option>
                                        }
                                    </select>
                                </div>
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_AddressPostalCode)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text" id="address_postal_code"  maxlength="50" readonly="readonly" class="form-control" name="ProductApplication[AddressPostalCode]" value="@Model.ProductApplication.AddressPostalCode" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BillingAddressBranchNo)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group ">
                                <input type="text"   data-custom-alphanum="true"   class="form-control" maxlength="50" name="ProductApplication[BillingAddressBranchNo]" value="@Model.ProductApplication.BillingAddressBranchNo" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BillingAddressNo)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input required type="text"  data-custom-alphanum-address="true"  class="form-control" maxlength="20" name="ProductApplication[BillingAddressNo]" value="@Model.ProductApplication.BillingAddressNo" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BillingAddressMoo)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text"  data-custom-alphanum="true"  class="form-control" maxlength="10" name="ProductApplication[BillingAddressMoo]" value="@Model.ProductApplication.BillingAddressMoo" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BillingAddressVillage)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text"  data-custom-alphanum="true"  class="form-control" maxlength="50" name="ProductApplication[BillingAddressVillage]" value="@Model.ProductApplication.BillingAddressVillage" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BillingAddressFloor)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text" data-num="1" min="0" max="99999"  class="form-control" maxlength="5" name="ProductApplication[BillingAddressFloor]" value="@Model.ProductApplication.BillingAddressFloor" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BillingAddressSoi)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text"  data-custom-alphanum="true"  class="form-control" maxlength="50" name="ProductApplication[BillingAddressSoi]" value="@Model.ProductApplication.BillingAddressSoi" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BillingAddressRoad)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text"  data-custom-alphanum="true"  class="form-control" maxlength="50" name="ProductApplication[BillingAddressRoad]" value="@Model.ProductApplication.BillingAddressRoad" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BillingAddressDistrict)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <div class="">
                                    <span></span>
                                    <select required name="ProductApplication[BillingAddressDistrict]" value="@Model.ProductApplication.BillingAddressDistrict" id="billing_address_district" class="form-control dd_list address-district-ddl " data-target="#billing_address_subdistrict">
                                        <option value="">Please Select@(Model.ProductApplicationFields[item.Key].TitleEN)</option>
                                        @foreach (var district in Model.BillingDistricts)
                                        {
                                            <option value="@district.Value" @(string.Equals(TobJod.Utils.NullUtils.cvString(Model.ProductApplication.BillingAddressDistrict), district.Value) ? " selected" : "")>@district.Text</option>
                                        }
                                    </select>
                                </div>
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BillingAddressSubDistrict)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <div class="">
                                    <span></span>
                                    <select required name="ProductApplication[BillingAddressSubDistrict]" value="@Model.ProductApplication.BillingAddressSubDistrict" id="billing_address_subdistrict" class="form-control dd_list address-subdistrict-ddl " data-target="#billing_address_postal_code">
                                        <option value="">Please Select@(Model.ProductApplicationFields[item.Key].TitleEN)</option>
                                        @foreach (var subdistrict in Model.BillingSubDistricts)
                                        {
                                            <option value="@subdistrict.Value" @(string.Equals(TobJod.Utils.NullUtils.cvString(Model.ProductApplication.BillingAddressSubDistrict), subdistrict.Value) ? " selected" : "")>@subdistrict.Text</option>
                                        }
                                    </select>
                                </div>
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BillingAddressProvince)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <div class="">
                                    <span></span>
                                    <select required name="ProductApplication[BillingAddressProvince]" value="@Model.ProductApplication.BillingAddressProvince" id="" class="form-control dd_list address-province-ddl " data-target="#billing_address_district">
                                        <option value="">Please Select@(Model.ProductApplicationFields[item.Key].TitleEN)</option>
                                        @foreach (var province in Model.Provinces)
                                        {
                                            <option value="@province.Value" @(string.Equals(TobJod.Utils.NullUtils.cvString(Model.ProductApplication.BillingAddressProvince), province.Value) ? " selected" : "")>@province.Text</option>
                                        }
                                    </select>
                                </div>
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_BillingAddressPostalCode)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text" id="billing_address_postal_code" maxlength="50" readonly="readonly" class="form-control" name="ProductApplication[BillingAddressPostalCode]" value="@Model.ProductApplication.BillingAddressPostalCode" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ShippingAddressBranchNo)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text"  data-custom-alphanum="true"  class="form-control" maxlength="50" name="ProductApplication[ShippingAddressBranchNo]" value="@Model.ProductApplication.ShippingAddressBranchNo" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ShippingAddressNo)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <input required type="text"  data-custom-alphanum-address="true"  class="form-control" maxlength="20" name="ProductApplication[ShippingAddressNo]" value="@Model.ProductApplication.ShippingAddressNo" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ShippingAddressMoo)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text"  data-custom-alphanum="true"  class="form-control" maxlength="10" name="ProductApplication[ShippingAddressMoo]" value="@Model.ProductApplication.ShippingAddressMoo" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ShippingAddressVillage)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text"  data-custom-alphanum="true"  class="form-control" maxlength="50" name="ProductApplication[ShippingAddressVillage]" value="@Model.ProductApplication.ShippingAddressVillage" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ShippingAddressFloor)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text" data-num="1" class="form-control"  min="0" max="99999"  maxlength="5" name="ProductApplication[ShippingAddressFloor]" value="@Model.ProductApplication.ShippingAddressFloor" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ShippingAddressSoi)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text"  data-custom-alphanum="true"  class="form-control" maxlength="50" name="ProductApplication[ShippingAddressSoi]" value="@Model.ProductApplication.ShippingAddressSoi" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ShippingAddressRoad)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text"  data-custom-alphanum="true"  class="form-control" maxlength="50" name="ProductApplication[ShippingAddressRoad]" value="@Model.ProductApplication.ShippingAddressRoad" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ShippingAddressDistrict)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <div class="">
                                    <span></span>
                                    <select required name="ProductApplication[ShippingAddressDistrict]" value="@Model.ProductApplication.ShippingAddressDistrict" id="shipping_address_district" class="form-control dd_list address-district-ddl " data-target="#shipping_address_subdistrict">
                                        <option value="">Please Select@(Model.ProductApplicationFields[item.Key].TitleEN)</option>
                                        @foreach (var district in Model.ShippingDistricts)
                                        {
                                            <option value="@district.Value" @(string.Equals(TobJod.Utils.NullUtils.cvString(Model.ProductApplication.ShippingAddressDistrict), district.Value) ? " selected" : "")>@district.Text</option>
                                        }
                                    </select>
                                </div>
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ShippingAddressSubDistrict)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <div class="">
                                    <span></span>
                                    <select required name="ProductApplication[ShippingAddressSubDistrict]" value="@Model.ProductApplication.ShippingAddressSubDistrict" id="shipping_address_subdistrict" class="form-control dd_list address-subdistrict-ddl " data-target="#shipping_address_postal_code">
                                        <option value="">Please Select@(Model.ProductApplicationFields[item.Key].TitleEN)</option>
                                        @foreach (var subdistrict in Model.ShippingSubDistricts)
                                        {
                                            <option value="@subdistrict.Value" @(string.Equals(TobJod.Utils.NullUtils.cvString(Model.ProductApplication.ShippingAddressSubDistrict), subdistrict.Value) ? " selected" : "")>@subdistrict.Text</option>
                                        }
                                    </select>
                                </div>
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ShippingAddressProvince)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group required">
                                <div class="">
                                    <span></span>
                                    <select required name="ProductApplication[ShippingAddressProvince]" value="@Model.ProductApplication.ShippingAddressProvince" id="" class="form-control dd_list address-province-ddl " data-target="#shipping_address_district">
                                        <option value="">Please Select@(Model.ProductApplicationFields[item.Key].TitleEN)</option>
                                        @foreach (var province in Model.Provinces)
                                        {
                                            <option value="@province.Value" @(string.Equals(TobJod.Utils.NullUtils.cvString(Model.ProductApplication.ShippingAddressProvince), province.Value) ? " selected" : "")>@province.Text</option>
                                        }
                                    </select>
                                </div>
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_ShippingAddressPostalCode)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <label class="form-group">
                                <input type="text" id="shipping_address_postal_code" readonly="readonly" class="form-control" name="ProductApplication[ShippingAddressPostalCode]" value="@Model.ProductApplication.ShippingAddressPostalCode" maxlength="30" placeholder="@Model.ProductApplicationFields[item.Key].TitleEN" />
                            </label>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_FileAttachment1)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                            @{ var file = Model.ProductApplicationAttachments != null ? Model.ProductApplicationAttachments.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.File1).FirstOrDefault() : null;}
                        </div>
                        <div class='col-md-7'>
                            <div class="form-group">
                                <div class="input_hidden">
                                    <input data-fv-notempty="false"  
                                           type="file" data-fv-file="true" data-fv-file-extension="@Model.ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@Model.MAXIMUM_FILE_SIZE" data-fv-file-message="Please choose a valid file (@Model.ALLOWED_UPLOAD_FILE_TYPES) < 2MB" class="form-control input_file_overflow" name="File1" value="" />
                                </div>
                                <div class="fake_input">
                                    <div class="file_name">
                                        @(file == null ? "Please Select" : TobJod.Utils.NullUtils.cvString(file.FileName))
                                    </div>
                                    @if (file == null)
                                    {
                                        <span class="icon">
                                            <img class="width_icon" src="@Url.Content("~/assets/images/icon/icon_image.jpg")" />
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="icon">
                                            <a href="@Url.Action("DeleteFile","Order", new { applicationId=Model.ApplicationId, productId=Model.ProductId, appForm="PH",fileId = file.Id })"><img class="width_icon remove"  src="@Url.Content("~/assets/images/icon/icon_remove.svg")" /></a>
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_FileAttachment2)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                            @{ var file = Model.ProductApplicationAttachments != null ? Model.ProductApplicationAttachments.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.File2).FirstOrDefault() : null;}
                        </div>
                        <div class='col-md-7'>
                                <div class="form-group">
                                    <div class="input_hidden">
                                        <input data-fv-notempty="false"
                                               type="file" data-fv-file="true" data-fv-file-extension="@Model.ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@Model.MAXIMUM_FILE_SIZE" data-fv-file-message="Please choose a valid file (@Model.ALLOWED_UPLOAD_FILE_TYPES) < 2MB" class="form-control input_file_overflow" name="File2" value="" />
                                    </div>
                                    <div class="fake_input">
                                        <div class="file_name">
                                            @(file == null? "Please Select" : TobJod.Utils.NullUtils.cvString(file.FileName))
                                        </div>
                                        @if (file == null)
                                    {
                                            <span class="icon">
                                                <img class="width_icon" src="@Url.Content("~/assets/images/icon/icon_image.jpg")" />
                                            </span>
                                    }
                                    else
                                    {
                                            <span class="icon">
                                                <a href="@Url.Action("DeleteFile","Order", new { applicationId=Model.ApplicationId, productId=Model.ProductId, appForm="PH",fileId = file.Id })"><img class="width_icon remove" src="@Url.Content("~/assets/images/icon/icon_remove.svg")" /></a>
                                            </span>
                                    }
                                    </div>
                                </div>
                        </div>
                        <div class='clearfix'></div>
                    }
                    if (item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_FileAttachment3)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                            @{ var file = Model.ProductApplicationAttachments != null ? Model.ProductApplicationAttachments.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.File3).FirstOrDefault() : null;}
                        </div>
                        <div class='col-md-7'>
                            <div class="form-group">
                                <div class="input_hidden">
                                    <input type="file" data-fv-notempty="false"  data-target="#trash_3"
                                           data-fv-file="true" data-fv-file-extension="@Model.ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@Model.MAXIMUM_FILE_SIZE" data-fv-file-message="Please choose a valid file (@Model.ALLOWED_UPLOAD_FILE_TYPES) < 2MB" class="form-control input_file_overflow" name="File3" value="" />
                                </div>
                                <div class="fake_input">
                                    <div class="file_name">
                                        @(file == null? "Please Select" : TobJod.Utils.NullUtils.cvString(file.FileName))
                                    </div>
                                    @if (file == null)
                                    {
                                        <span class="icon">
                                            <img class="width_icon" src="@Url.Content("~/assets/images/icon/icon_image.jpg")" />
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="icon">
                                            <a href="@Url.Action("DeleteFile","Order", new { applicationId=Model.ApplicationId, productId=Model.ProductId, appForm="PH",fileId = file.Id })"><img class="width_icon remove"  src="@Url.Content("~/assets/images/icon/icon_remove.svg")" /></a>
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class='clearfix'></div>
                    }

                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_FileAttachment4)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                            @{ var file = Model.ProductApplicationAttachments != null ? Model.ProductApplicationAttachments.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.File4).FirstOrDefault() : null;}
                        </div>
                        <div class='col-md-7'>
                            <div class="form-group">
                                <div class="input_hidden">
                                    <input type="file" data-fv-file="true" data-fv-file-extension="@Model.ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@Model.MAXIMUM_FILE_SIZE" data-fv-file-message="Please choose a valid file (@Model.ALLOWED_UPLOAD_FILE_TYPES) < 2MB" class="form-control input_file_overflow" name="File4" value="" />
                                </div>
                                <div class="fake_input">
                                    <div class="file_name">
                                        @(file == null? "Please Select" : TobJod.Utils.NullUtils.cvString(file.FileName))
                                    </div>
                                    @if (file == null)
                                    {
                                        <span class="icon">
                                            <img class="width_icon" src="@Url.Content("~/assets/images/icon/icon_image.jpg")" />
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="icon">
                                            <a href="@Url.Action("DeleteFile","Order", new { applicationId=Model.ApplicationId, productId=Model.ProductId, appForm="PH",fileId = file.Id })"><img class="width_icon remove"  src="@Url.Content("~/assets/images/icon/icon_remove.svg")" /></a>
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class='clearfix'></div>
                    }

                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_FileAttachment5)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                            @{ var file = Model.ProductApplicationAttachments != null ? Model.ProductApplicationAttachments.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.File5).FirstOrDefault() : null;}
                        </div>
                        <div class='col-md-7'>
                            <div class="form-group">
                                <div class="input_hidden">
                                    <input type="file" data-fv-file="true" data-fv-file-extension="@Model.ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@Model.MAXIMUM_FILE_SIZE" data-fv-file-message="Please choose a valid file (@Model.ALLOWED_UPLOAD_FILE_TYPES) < 2MB" class="form-control input_file_overflow" name="File5" value="" />
                                </div>
                                <div class="fake_input">
                                    <div class="file_name">
                                        @(file == null? "Please Select" : TobJod.Utils.NullUtils.cvString(file.FileName))
                                    </div>
                                    @if (file == null)
                                    {
                                        <span class="icon">
                                            <img class="width_icon" src="@Url.Content("~/assets/images/icon/icon_image.jpg")" />
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="icon">
                                            <a href="@Url.Action("DeleteFile","Order", new { applicationId=Model.ApplicationId, productId=Model.ProductId, appForm="PH",fileId = file.Id })"><img class="width_icon remove" src="@Url.Content("~/assets/images/icon/icon_remove.svg")" /></a>
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                                        <div class='clearfix'></div>
                    }

                    if (item.Value.Step == step.Key && item.Key == (int)TobJod.Models.ProductApplicationFieldKey.PH_FileAttachment6)
                    {
                        <div class='col-md-5 text-xs-left text-lg-right text-md-right caption'>
                            @{ var file = Model.ProductApplicationAttachments != null ? Model.ProductApplicationAttachments.Where(x => x.FileCategory == (int)TobJod.Models.FileCategory.File6).FirstOrDefault() : null;}
                            @(Model.ProductApplicationFields[item.Key].TitleEN)
                        </div>
                        <div class='col-md-7'>
                            <div class="form-group">
                                <div class="input_hidden">
                                    <input type="file" data-fv-file="true" data-fv-file-extension="@Model.ALLOWED_UPLOAD_FILE_TYPES" data-fv-file-maxsize="@Model.MAXIMUM_FILE_SIZE" data-fv-file-message="Please choose a valid file (@Model.ALLOWED_UPLOAD_FILE_TYPES) < 2MB" class="form-control input_file_overflow" name="File6" value="" />
                                </div>
                                <div class="fake_input">
                                    <div class="file_name">
                                        @(file == null? "Please Select" : TobJod.Utils.NullUtils.cvString(file.FileName))
                                    </div>
                                    @if (file == null)
                                    {
                                        <span class="icon">
                                            <img class="width_icon" src="@Url.Content("~/assets/images/icon/icon_image.jpg")" />
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="icon">
                                            <a href="@Url.Action("DeleteFile","Order", new { applicationId=Model.ApplicationId, productId=Model.ProductId, appForm="PH",fileId = file.Id })"><img class="width_icon remove"  src="@Url.Content("~/assets/images/icon/icon_remove.svg")" /></a>
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class='clearfix'></div>
                    }
                }

            }

        </div>
        <div class='clearfix'></div>
    </div>
</div>