﻿@model TobJod.Models.PaymentResponse
@{ Layout = "~/Views/Shared/EN/_Layout.cshtml"; }

@{
    var pGift = new List<TobJod.Models.PromotionItem>();
    var pDiscount = new List<TobJod.Models.PromotionItem>();
}

<section id="banner_section" class="container-fluid clear-boot-pad">
    <a href="@Url.Action("motor-product")" class="item" target="_blank">
        <figure>
            <img class="lazy img-responsive" data-original="@Url.Content("~/uploads/header_banner/01.jpg")" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  />
        </figure>
    </a>
</section>

<main id="product-detail" class="product-detail">
    <div class="wizard-wrapper">
        <div class="wizard-container container clear-boot-pad hidden-xs hidden-sm">
            <section id="wizard4">
                <ul>
                    <li class="item1st"><button class="active">Search / Compare</button></li>
                    <li class="item2nd"><button class="active">Insurance Detail</button></li>
                    <li class="item3rd"><button class="active">Confirm Information</button></li>
                    <li class="item4th"><button class="active">Payment Information</button></li>
                </ul>
            </section>
        </div>
        <div class="reg-progress hidden-lg hidden-md">
            <p class="wizard-title hidden-lg hidden-sm" align="center">Payment Information</p>
            <ol class="reg-progress__steps">
                <li data-step="1" class="is-active is-complete">
                    <div class="subTitle hidden-xs">Search / Compare</div>
                </li>
                <li data-step="2" class="is-active is-complete">
                    <div class="subTitle hidden-xs">Insurance Detail</div>
                </li>
                <li data-step="3" class="is-active is-complete">
                    <div class="subTitle hidden-xs">Confirm Information</div>
                </li>
                <li data-step="4" class="is-active is-complete">
                    <div class="subTitle hidden-xs">Payment Information</div>
                </li>
            </ol>
        </div>
        <div class="col-md-12">
            <div class="container arrow-back">
                <div class="row">
                    <div class="col-md-12 text-xs-center text-sm-center text-md-right">
                        <div class="inner">

                            <a id="" href="@ViewBag.PreviousUrl" class="btnOutline">Back previous page</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="warp-des">

    </div>
    <div class="clearfix"></div>
    <div class="container form-wrapper">
        <section class="col-md-12 new_form_v1 type-thanks">
            <div class="row item-content">
                <div class="col-md-12">

                </div>
                <div class="col-md-12 content_detail">
                    <div class="inner">
                        <div class="something-semantic">
                            <div class="something-else-semantic">
                                <h1 class="head_line">
                                   @ViewBag.Message
                                </h1>
                                <h5>
                                    Please wait for the staff to contact you.
                                </h5>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="row item-content">
                <div class="btn-bottom">
                    <div class="something-semantic">
                        <div class="something-else-semantic">
                            <div class="contact-agent-bot"><a class="" href="@ViewBag.BackUrl"><b>Back previous page</b></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


</main>
