﻿@model TobJod.Web.Models.OrderViewModel
@{ Layout = "~/Views/Shared/EN/_Layout.cshtml"; }

@{
    var pGift = new List<TobJod.Models.PromotionItem>();
    var pDiscount = new List<TobJod.Models.PromotionItem>();
}

<section id="banner_section" class="container-fluid clear-boot-pad">
    <a href="@Url.Action("prb-product")" class="item" target="_blank">
        <figure>
            <img src="@Url.Content("~/assets/images/hero_banner/02.jpg")" alt="" class="img-responsive">
        </figure>
    </a>
</section>

<main id="product-detail" class="product-detail application-form">
    <div class="wizard-wrapper">
        <div class="wizard-container container clear-boot-pad hidden-xs hidden-sm">
            <section id="wizard3">
                <ul>
                    <li class="item1st"><button class="active">Search / Compare</button></li>
                    <li class="item2nd"><button class="active">Insurance Detail</button></li>
                    <li class="item3rd"><button class="active">Confirm Information</button></li>
                    <li class="item4th"><button class="@(Model.State == (int)TobJod.Models.ProductApplicationStage.Base.Final || Model.State == (int)TobJod.Models.ProductApplicationStage.Base.Success ? "active" : "")">Payment Information</button></li>
                </ul>
            </section>
        </div>
        <div class="reg-progress hidden-lg hidden-md">
            <p class="wizard-title hidden-lg hidden-sm" align="center">Confirm Information</p>
            <ol class="reg-progress__steps">
                <li data-step="1" class="is-active is-complete">
                    <div class="subTitle hidden-xs">Search / Compare</div>
                </li>
                <li data-step="2" class="is-active is-complete">
                    <div class="subTitle hidden-xs">Insurance Detail</div>
                </li>
                <li data-step="3" class="is-active is-complete active-now">
                    <div class="subTitle hidden-xs">Confirm Information</div>
                </li>
                <li data-step="4" class="@(Model.State == (int)TobJod.Models.ProductApplicationStage.Base.Final || Model.State == (int)TobJod.Models.ProductApplicationStage.Base.Success ? "is-active is-complete active-now" : "")">
                    <div class="subTitle hidden-xs">Payment Information</div>
                </li>
            </ol>
        </div>
        <div class="col-md-12">
            <div class="container arrow-back">
                <div class="row">
                    <div class="col-md-12 text-xs-center text-sm-center text-md-right">
                        <div class="inner">
                            @if (Model.State != TobJod.Models.ProductApplicationStage.PRB.PRBForm) {
                                <a id="btn_back" href="javascript:void(0)" class="btnOutline">Back previous page</a>
                            } else {
                                <a id="" href="@(string.IsNullOrEmpty(TobJod.Utils.NullUtils.cvString(Model.ProductApplication.PreviousUrl)) ? Url.Content("~") : Model.ProductApplication.PreviousUrl)" class="btnOutline">Back previous page</a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="warp-des">

    </div>
    <div class="clearfix"></div>
    <div class="container form-wrapper">
        <section id="form" class="col-md-12 new_form_v1 type-form-input @(Model.State == TobJod.Models.ProductApplicationStage.PRB.Success ? " type-1":"")">
            <form id="order_form" action="@Url.Action("PRB","Order", new { ApplicationId = Model.ApplicationId, ProductId = Model.ProductId, Token = Model.Token })" method="post" enctype="multipart/form-data"
                  data-fv-autofocus="true"
                  data-fv-framework="bootstrap"
                  data-fv-message="This value is not valid"
                  data-fv-icon-valid="glyphicon glyphicon-ok"
                  data-fv-icon-invalid="glyphicon glyphicon-remove"
                  data-fv-icon-validating="glyphicon glyphicon-refresh">
                @Html.AntiForgeryToken()
                @foreach (var page in Model.ProductApplicationFields.GroupBy(o => new { o.Value.Page, o.Value.Step })) {
                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.PRB && page.Any()) {
                        <div class="row item-content">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <h5>Asset List</h5>
                                </div>
                            </div>
                            @Html.Partial("EN/_ProductApplication_PRB", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step } })
                        </div>
                    }

                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.DriverForm && page.Any()) {
                        for (int i = 0; i < Model.Driver_Size; i++) {
                            if (i < Model.ProductApplicationDrivers.Length) { Model.ProductApplicationDriver = Model.ProductApplicationDrivers[i]; } else { Model.ProductApplicationDriver = new TobJod.Models.ProductApplicationDriver(); }
                            <div id="driver_container_@i" class="row item-content driver" style="display: @(Model.ProductApplicationDrivers.Length > i? "block": "none")">
                                <div class="col-md-12">
                                    <div class="inner head_line">
                                        <div class="row">
                                            <div class="col-md-6 head_line_height col-xs-9">
                                                <h5>Driver Information <span>@(i + 1)</span></h5>
                                            </div>
                                            <div class="col-md-6 head_line_height text-md-right text-lg-right col-xs-3 text-xs-right">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @Html.Partial("EN/_ProductApplication_PRB", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step }, { "Index", i } })
                            </div>
                        }
                    }

                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.PolicyHolderForm && page.Any()) {
                        for (int i = 0; i < 1; i++) {
                            if (Model.ProductApplicationPolicyHolders.Length > i) { Model.ProductApplicationPolicyHolder = Model.ProductApplicationPolicyHolders[i]; } else { Model.ProductApplicationPolicyHolder = new TobJod.Models.ProductApplicationPolicyHolder(); }
                            <div id="policy_holder_container_@i" class="row item-content policy-holder" style="visibility:visible;display: @(i == 0 || Model.ProductApplicationPolicyHolders.Length > i? "block": "none")">
                                <div class="col-md-12">
                                    <div class="inner head_line">
                                        <div class="row">
                                            <div class="col-md-6 head_line_height col-xs-9">
                                                <h5>Policy Holder Information</h5>
                                            </div>
                                            <div class="col-md-6 head_line_height text-md-right text-lg-right col-xs-3 text-xs-right">
                                                @*@if (i == 0)
                                                    {
                                                        <a href="javascript:void(0)" class="add_more_tab">
                                                            <img src="@Url.Content("~/assets/images/icon/icon_1_plus.png")" alt="" title="">
                                                        </a>}*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @Html.Partial("EN/_ProductApplication_PRB", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step }, { "Index", i } })
                            </div>
                        }
                    }

                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.ContactForm && page.Any()) {
                        <div class="row item-content">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <h5>Emergency Contact Name</h5>
                                </div>
                            </div>
                            @Html.Partial("EN/_ProductApplication_PRB", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step } })
                        </div>

                    }

                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.BuyerForm && page.Any()) {
                        <div class="row item-content">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <h5>Buyer Name</h5>
                                </div>
                            </div>
                            @Html.Partial("EN/_ProductApplication_PRB", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step } })
                        </div>

                    }

                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.AddressForm_1 && page.Any()) {
                        <div class="row item-content" id="policy_holder_address_container">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <h5>Address Policy Holder information</h5>
                                </div>
                            </div>
                            @Html.Partial("EN/_ProductApplication_PRB", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step } })
                        </div>

                    }

                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.AddressForm_2 && page.Any()) {
                        <div class="row item-content" id="billing_address_container">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <div class="row">
                                        <div class="col-md-12 head_line_height">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-6 col-xs-12 col-sm-6 col-lg-5">
                                                            <h5>Tax Address</h5>
                                                        </div>
                                                        <div class="col-md-6 col-xs-12 col-sm-6 col-lg-7 check_box_holder">

                                                            <label>
                                                                <span class="checkbox_chk @(Model.ProductApplication.BillingAddressIsChecked == TobJod.Models.YesNo.Yes ? "active": "")"></span>
                                                                <input type="checkbox" name="ProductApplication[BillingAddressIsChecked]" value="@((int)TobJod.Models.YesNo.Yes)" @(Model.ProductApplication.BillingAddressIsChecked == TobJod.Models.YesNo.Yes ? "checked data-checked=\"1\"" : "") class="copy-address-holder" data-replace-with="Billing" data-source="#policy_holder_address_container" data-target="#billing_address_container">
                                                                <font style="letter-spacing: 1px !important; font-weight: normal !important;">Same of the Policy Holder Address information</font>
                                                            </label>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>
                            @Html.Partial("EN/_ProductApplication_PRB", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step } })
                        </div>

                    }

                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.AddressForm_3 && page.Any()) {
                        <div class="row item-content" id="shipping_address_container">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <div class="row">
                                        <div class="col-md-12 head_line_height">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-6 col-xs-12 col-sm-6 col-lg-5">
                                                            <h5>Insurance Policy Address</h5>
                                                        </div>
                                                        <div class="col-md-6 col-xs-12 col-sm-6 col-lg-7 check_box_holder">

                                                            <label>
                                                                <span class="checkbox_chk @(Model.ProductApplication.ShippingAddressIsChecked == TobJod.Models.YesNo.Yes ? "active": "")"></span>
                                                                <input type="checkbox" name="ProductApplication[ShippingAddressIsChecked]" value="@((int)TobJod.Models.YesNo.Yes)" @(Model.ProductApplication.ShippingAddressIsChecked == TobJod.Models.YesNo.Yes ? "checked data-checked=\"1\"" : "") data-replace-with="Shipping" class="copy-address-holder" data-source="#policy_holder_address_container" data-target="#shipping_address_container">
                                                                <font style="letter-spacing: 1px !important; font-weight: normal !important;">Same of the Policy Holder Address information</font>
                                                            </label>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>

                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>
                            @Html.Partial("EN/_ProductApplication_PRB", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step } })
                        </div>

                    }
                    if ((int)Model.State == page.Key.Step && page.Key.Page == (int)TobJod.Models.ProductApplicationPage.AttachmentForm && page.Any()) {
                        <div class="row item-content">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <h5>Attach Files</h5>
                                </div>
                            </div>
                            @Html.Partial("EN/_ProductApplication_PRB", Model, new ViewDataDictionary { { "Page", page.Key.Page }, { "Step", page.Key.Step } })
                        </div>
                        <div class="row item-content">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <div class="row">
                                        <div class="col-md-12 head_line_height">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h5>Consent</h5>
                                                        </div>
                                                        <div class="col-md-6">

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-4 hidden-xs hidden-sm">
                                                    &nbsp;
                                                </div>
                                                <div class="clearfix"></div>

                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12 content_detail text-detail">

                                <div class="inner">
                                    <div class="col-md-12">
                                        <div class="something-semantic">
                                            <div class="something-else-semantic">
                                                <p class="text-xs-center text-sm-center text-sm-left text-lg-left">
                                                    @Html.Raw(TobJod.Utils.NullUtils.cvString(Model.ProductItem.ConsentEN).Replace("\n", "<br/>"))
                                                </p>

                                                <p>
                                                </p>
                                                <div class="form-group">
                                                    <div class="check_box_holder white col-xs-12 text-xs-center text-sm-center text-sm-left text-lg-left">
                                                        <label class="text-xs-center text-sm-center text-md-left text-lg-left">
                                                            <span class="checkbox_chk"></span>
                                                            <div class="hr"></div>
                                                            <input type="checkbox" name="1" class="" required data-fv-message="I here by consent to the terms and conditions in all forms of electronic services provided by
    Tobjod by Thanachart Broker Company Limited as follows" />

                                                            I here by consent to the terms and conditions in all forms of electronic services provided by
                                                            Tobjod by Thanachart Broker Company Limited as follows:
                                                            @*<div class="form-group"><span id="uerr"></span></div>*@

                                                        </label>

                                                    </div>
                                                </div>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    }
                }

                @if (Model.State == TobJod.Models.ProductApplicationStage.Base.Final) {
                    <div class="row item-content">
                        <div class="col-md-12">
                            <div class="inner head_line">
                                <h5>Order summary</h5>
                            </div>
                        </div>
                        <div class="col-md-12 content_detail">
                            <div class="inner">
                                <div class="col-md-2">
                                    <figure>
                                        <img src="@Model.ProductItem.CompanyImage" alt="" title="" class="img-responsive" />
                                    </figure>
                                </div>
                                <div class="col-md-10">
                                    <div class="des">
                                        <div class="new">new</div>
                                    </div>
                                    <h1>@Model.ProductItem.Company <strong>@Model.ProductItem.TitleEN</strong></h1>
                                    <div class="price">
                                        <span>@((Model.ProductApplication.DisplayPremium).ToString("n2"))</span> <b>Baht</b>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    if (Model.ProductItem.Promotion != null && Model.ProductItem.Promotion.Count > 0) {
                        <div class="row item-content">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <h5>Select Promotion</h5>
                                </div>
                            </div>
                            <div class="col-md-12 content_detail">
                                <div class="inner">
                                    @{
                                        pGift = Model.ProductItem.Promotion.Where(x => x.PromotionType == TobJod.Models.PromotionType.Gift).ToList();
                                        pDiscount = Model.ProductItem.Promotion.Where(x => x.PromotionType == TobJod.Models.PromotionType.Discount).ToList();
                                    }
                                    <div class="col-md-12">
                                        @if (pGift.Count > 0) {
                                            foreach (var g in pGift) {
                                                <div class="radio radio-inline">
                                                    <input type="radio" id="inlineRadio_@g.Id" class="gift" value="@g.Id" name="ProductApplication[PromotionId]" @(Model.ProductApplication.PromotionId == g.Id ? "checked" : "")>
                                                    <label for="inlineRadio_@g.Id">@g.Gift</label>
                                                </div>
                                                <br />
                                            }
                                        }
                                        @if (pDiscount.Count > 0) {
                                            foreach (var g in pDiscount) {
                                                <div class="radio radio-inline radio-discount">
                                                    <input type="radio" id="inlineRadio_@g.Id" value="@g.Id" name="ProductApplication[PromotionId]" @(Model.ProductApplication.PromotionId == g.Id ? "checked" : "")>
                                                    <label for="inlineRadio_@g.Id">ส่วนลด @g.DiscountAmount.ToString("0") @(g.DiscountType == TobJod.Models.PromotionDiscountType.Amount ? "Baht" : "%")</label>
                                                </div>
                                                <br />
                                            }
                                        }
                                        @{
                                            var promotion = Model.ProductItem.Promotion.Where(x => x.Id == TobJod.Utils.NullUtils.cvInt(Model.ProductApplication.PromotionId)).FirstOrDefault();
                                        }
                                        <div class="coupon_box top_margin_1" style="display:@(promotion != null && promotion.PromotionType == TobJod.Models.PromotionType.Gift? "" :"none" )">
                                            <div class="row form_coupon">
                                                <div class="col-md-5">
                                                    <div class="col-md-9 clear-boot-pad text-right form-group uuid">
                                                        <input type="text" class="fillcupon" name="ProductApplication[CouponCode]" placeholder="Please enter your coupon" />
                                                    </div>
                                                    <div class="col-md-3 clear-boot-pad text-left">
                                                        <button type="button" class="coupon_confirm">Ok</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="error" class="form-group">
                                            @Html.Raw(ViewBag.CouponError != null ? "<span style=\"color:red;\">" + ViewBag.CouponError + "<span>" : "")
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    }

                }

                @if (Model.State == TobJod.Models.ProductApplicationStage.Base.Success) {
                    @Html.Partial("EN/_Order_Summary", Model)
                    @*<div class="row item-content">
                            <div class="col-md-12">
                                <div class="inner head_line">
                                    <h5>Order summary</h5>
                                </div>
                            </div>
                            <div class="col-md-12 content_detail new_form_v1 type-1">
                                <div class="inner">
                                    <div class="col-md-2">
                                        <figure>
                                            <img src="@Model.ProductItem.CompanyImage" alt="" title="" class="img-responsive" />
                                        </figure>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="col-md-8">
                                            <h2>@Model.ProductItem.Company <strong>@Model.ProductItem.TitleEN</strong></h2>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <div class="price-1">
                                                @((Model.ProductApplication.DisplayPremium).ToString("n2")) Baht
                                            </div>
                                        </div>
                                        @{
                                            var promotion = Model.ProductItem.Promotion.Where(x => x.Id == TobJod.Utils.NullUtils.cvInt(Model.ProductApplication.PromotionId)).FirstOrDefault();
                                        }
                                        @if (promotion != null) {

                                            if (promotion.PromotionType == TobJod.Models.PromotionType.Gift) {
                                                <div class="col-md-8 col-xs-8 size-1">
                                                    <h2>@promotion.Gift</h2>
                                                </div>
                                                <div class="col-md-4 col-xs-4 size-1 text-right">
                                                    <div class="price-1">
                                                        <span class="free">Free</span>
                                                    </div>
                                                </div>
                                            }
                                            else {
                                                <div class="col-md-8 col-xs-7 size-1">
                                                    <h2>
                                                        <h1>Discount</h1>
                                                    </h2>
                                                </div>
                                                <div class="col-md-4 col-xs-5 size-1 text-right">
                                                    <div class="price-1">
                                                        <h1> @promotion.DiscountAmount.ToString("0") @(promotion.DiscountType == TobJod.Models.PromotionDiscountType.Amount ? "Baht" : "%")
                                                        </h1>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        @if (!string.IsNullOrEmpty(TobJod.Utils.NullUtils.cvString(Model.ProductApplication.CouponCode)) && Model.ProductApplication.TotalDiscount > 0) {
                                            <div class="col-md-8 size-1">
                                                <h2>
                                                    Coupon Discount
                                                </h2>
                                            </div>
                                            <div class="col-md-4 size-1 text-right">
                                                <div class="price-1">
                                                    <span class="discount"></span><span class="free">-@Model.ProductApplication.TotalDiscount.ToString("n2") Baht</span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="uder-line">
                                        <div class="background-color-bg"></div>
                                    </div>

                                    <div class="col-md-12 text-right">
                                        <div class="caption-display">
                                            Net
                                        </div>
                                        <div class="price">
                                            <span>@((Model.ProductApplication.DisplayPremium - Model.ProductApplication.TotalDiscount).ToString("n2"))</span> <b>Baht</b>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>*@
                }

                <input type="hidden" name="ProductId" value="@Model.ProductId" />
                <input type="hidden" name="ApplicationId" value="@Model.ApplicationId" />
                <input type="hidden" name="Price" value="@Model.Price" />
                <input type="hidden" name="ProductCategoryKey" value="@Model.ProductCategoryKey" />
                <input type="hidden" name="UserAction" value="@Model.UserAction" />
                <input type="hidden" name="State" value="@Model.State" />
                <input type="hidden" name="PreviousUrl" value="@Model.PreviouseUrl" />

                <div class="row item-content">
                    <div class="btn-bottom">
                        <div class="something-semantic">
                            <div class="something-else-semantic">
                                <div class="contact-agent-bot"><button id="button_submit" type="submit"><b>Next</b></button></div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>

    @Html.Partial("EN/_Otp")
    @Html.Partial("../Shared/EN/_Product_Warning")
</main>
@Html.Partial("EN/_Popup_Motor_Contact_Agent")

@section css {
    <link rel="stylesheet" href="@Url.Content("~/assets/css/order.css")" />
    <style type="text/css">
        @if (Model.State != TobJod.Models.ProductApplicationStage.PRB.AttachmentForm) {
            <text>
            .help-block {
                display: none !important;
            }
            </text>
        }
    </style>
}

@section js {

    <script type="text/javascript">
        var $formValidation = null;
        var application_product_id = @Model.ProductId;
        $(document).ready(function () {
            var form_live = $('.address-province-ddl').length > 0 ? 'disabled' : 'enabled';
            $formValidation = $('#order_form').formValidation({ live: form_live, autofocus: false })
                .on('err.field.fv', function (e, data) { data.fv.disableSubmitButtons(false); })
                .on('err.form.fv', function (e) { $('.has-error:first input, .has-error:first select').focus(); $('html, body').animate({ scrollTop: $('.has-error:first').offset().top - 50 }, 1000); })
                .on('err.form.fv', function (e) { $('html, body').animate({ scrollTop: $('.has-error:first').offset().top - 50 }, 1000); })
                .on('success.field.fv', function (e, data) { data.fv.disableSubmitButtons(false); });

            $('.car-family-ddl').on('change', function () {
                var url = BASEURL + 'api/car/cc?carModelId=' + $(this).val();
                $.getJSON(url, function (data) {
                    $carCC = $('[name="ProductApplicationMotor[CarCC]"]');
                    if (data) {
                        $carCC.val(data.Name + '');
                        console.log(data);
                    } else {
                        $carCC.val('');
                    }
                });
            });

            $('#carUsageType').on('change', function (ev) {
                var $target = $($(this).data('target'));
                if ($target.length > 0) {
                    $target.val($(this).val());
                }
            })

            @if(Model.ShowMotorContactAgent)
            {
                <text> $('#contact-popup').modal('show');</text>
            }

            $('#button_submit').on('click', function (ev) {
                if ($('#order_form').data('formValidation') != undefined) {
                    $('input[name=UserAction]').val(@((int)TobJod.Models.UserAction.Next));
                }
            });

            $('#btn_back').on('click', function (ev) {
                $('input[name=UserAction]').val(@((int)TobJod.Models.UserAction.Back));
                $('#order_form').formValidation('destroy');
                $('#button_submit').click();
            });

           if ($('.prb-date-picker').length > 0) {
               $('.prb-date-picker').each(function (e) {
                   var $this = $(this); var val = $this.val();
                   var $fv = $('#order_form').data('formValidation');
                   if ($.trim(val) > 0 && val.indexOf('/') != -1) {
                       kalculateAge(this);
                   } else {
                       $fv.updateStatus($this.attr('name'), 'VALID')
                           .validateField($this.attr('name'));
                   }
               })
           }

        })

        if ($('.prb-date-picker').length > 0) {
            $('.prb-date-picker').datetimepicker({ format: 'DD/MM/YYYY', maxDate: new Date(), ignoreReadonly: true, minDate: moment().startOf('month').subtract(99, 'y') }).on('dp.change', function (event) {
                kalculateAge(this);
            });
        }

        function kalculateAge(elem) {
            var $this = $(elem); var date = $this.val().split('/');
            var age = calculateAge(date[1] + "/" + date[2]);
            var $fv = $('#order_form').data('formValidation');
            var maxAge = $this.data('maxAge'); var minAge = $this.data('minAge');
            if ((age > maxAge || age < minAge)) {
                $fv.updateStatus($this.attr('name'), 'INVALID')
                    .validateField($this.attr('name'));
            } else {
                $fv.updateStatus($this.attr('name'), 'VALID')
                    .validateField($this.attr('name'));
            }
        }

        $('.prb-date-from').each(function (i, e) {
            var val = $(e).val();
            try {
                if (val != '') {
                    var vals = val.split('/');
                    var d = vals[2] + '-' + vals[1] + '-' + vals[0];
                    $(e).datetimepicker({ format: 'DD/MM/YYYY', ignoreReadonly: true, minDate: 'now', useCurrent: false, defaultDate: d }).attr('readonly', 'readonly').attr('style', 'background:white !important');
                    return;
                }
            } catch (ex) { }
            $(e).datetimepicker({ format: 'DD/MM/YYYY', ignoreReadonly: true, minDate: 'now' }).attr('readonly', 'readonly').attr('style', 'background:white !important');

        });

        $('.prb-date-to').datetimepicker({ format: 'DD/MM/YYYY', ignoreReadonly: false, useCurrent: false }); //Important! See issue #1075

        $(".prb-date-from").on("dp.change", function (e) {
            var $dateto = $($(this).data('date-to'));
            $dateto.data("DateTimePicker").date(e.date.add(1, 'year').startOf('day'));
            $(this).closest('form').formValidation('revalidateField', $(this).attr('name'));
        });

        $('.prb-birthday-age').each(function (e) {
            var date = $(this).val().split('/');
            var age = calculateAge(date[1]+"/"+date[2]);
            if (age < 120) {
                $($(this).data('target')).val();
            }
        });

        $('.prb-birthday-age').datetimepicker({ ignoreReadonly:true, format: 'DD/MM/YYYY', maxDate: new Date(), minDate: moment().startOf('month').subtract(99, 'y') }).on('dp.change', function (event) {
            var data = $(this).val().split('/');
            var age = calculateAge(data[1] + "/" + data[2]);
            $($(this).data('target')).val(age);
            $(this).closest('form').formValidation('revalidateField', $(this).attr('name'));
            $(this).closest('form').formValidation('revalidateField', $($(this).data('target')).attr('name'));
        }).attr('readonly', 'readonly').attr('style', 'background:white !important');

    </script>
    <script src="@Url.Content("~/assets/js/order.js")"></script>

}