﻿@model TobJod.Admin.Models.ConfigViewModel
@using TobJod.Models;
<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<ul class="nav nav-tabs">
            <li class="active">
                <a href="#tabs-web" data-toggle="tab">Web Site</a>
            </li>
            <li>
                <a href="#tabs-product" data-toggle="tab">Product</a>
            </li>
        </ul>*@

        @*<div class="tab-content tab-content-bordered">
        <div class="tab-pane fade in active" id="tabs-web">*@
        <div class="form-group">
            @Html.LabelFor(model => model.OGImageFile, "Default Social Image (1200 x 630)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.OGImage" class="img-responsive" style="height: 50px" /></div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BannerDuration, "Banner Duration", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.BannerDuration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BannerDuration, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.BannerTransition, "Banner Transition", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.BannerTransition, new List<SelectListItem>() { new SelectListItem { Text = "Slide", Value = "slide" }, new SelectListItem { Text = "Fade", Value = "fade" } }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BannerTransition, "", new { @class = "text-danger" })
            </div>
        </div>
        @*</div>
        <div class="tab-pane fade in" id="tabs-product">*@
        <div class="row"><h4 class="p-a-1 bg-primary">Contact Us</h4></div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContactAddressTH, "Contact Address (TH)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactAddressTH, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ContactAddressTH, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContactAddressEN, "Contact Address (EN)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactAddressEN, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ContactAddressEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContactTelephoneTH, "Contact Tel (TH)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ContactTelephoneTH, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ContactTelephoneTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.ContactTelephoneEN, "Contact Tel (EN)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ContactTelephoneEN, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ContactTelephoneEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContactFaxTH, "Contact Fax (TH)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ContactFaxTH, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ContactFaxTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.ContactFaxEN, "Contact Fax (EN)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ContactFaxEN, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ContactFaxEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContactEmailTH, "Contact Email (TH)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ContactEmailTH, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ContactEmailTH, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.ContactEmailEN, "Contact Email (EN)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ContactEmailEN, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ContactEmailEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row"><h4 class="p-a-1 bg-primary">Product</h4></div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductLayout, "Product Layout", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <label class="checkbox-inline">@Html.RadioButtonFor(model => model.ProductLayout, "1") List</label>
                <label class="checkbox-inline">@Html.RadioButtonFor(model => model.ProductLayout, "2") Grid</label>
                @Html.ValidationMessageFor(model => model.ProductLayout, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductMotorPriceMin, "Motor Price Min", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ProductMotorPriceMin, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ProductMotorPriceMin, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.ProductMotorPriceMax, "Motor Price Max", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ProductMotorPriceMax, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ProductMotorPriceMax, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.ProductHomePriceMin, "Home Price Min", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ProductHomePriceMin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductHomePriceMin, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.ProductHomePriceMax, "Home Price Max", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ProductHomePriceMax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductHomePriceMax, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.ProductPAPriceMin, "PA Price Min", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ProductPAPriceMin, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ProductPAPriceMin, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.ProductPAPriceMax, "PA Price Max", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ProductPAPriceMax, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ProductPAPriceMax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductPHPriceMin, "PH Price Min", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ProductPHPriceMin, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ProductPHPriceMin, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.ProductPHPriceMax, "PH Price Max", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ProductPHPriceMax, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ProductPHPriceMax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductTAPriceMin, "TA Price Min", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ProductTAPriceMin, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ProductTAPriceMin, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.ProductTAPriceMax, "TA Price Max", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ProductTAPriceMax, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ProductTAPriceMax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductTAPersonMax, "TA Person Max", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ProductTAPersonMax, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ProductTAPersonMax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductTAPersonMax, "Home Year Max", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ProductHomeYearMax, new { htmlAttributes = new { @class = "form-control", step = "1000" } })
                @Html.ValidationMessageFor(model => model.ProductHomeYearMax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductEmailTo, "Product Contact From Email To (use ; for multiple email)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductEmailTo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductEmailTo, "", new { @class = "text-danger" })
            </div>
        </div>
        @*</div>
        </div>*@
        <div class="row"><h4 class="p-a-1 bg-primary">Payment</h4></div>
        <div class="form-group">
            @Html.LabelFor(model => model.PaymentExpireDay, "Payment expire day (Policy Start Date + x Day)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PaymentExpireDay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PaymentExpireDay, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row"><h4 class="p-a-1 bg-primary">Email Template</h4></div>
        <div class="form-group">
            @Html.LabelFor(model => model.EmailImageHeader, "Header Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.EmailImageHeader" class="img-responsive" style="height: 50px" /></div>
            </div>
            @Html.LabelFor(model => model.EmailImageFooter, "Footer Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <div class="img-preview"><img src="@ViewBag.PathRel@Model.EmailImageFooter" class="img-responsive" style="height: 50px" /></div>
            </div>
        </div>


}

    </div>
            </div>

@section js {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('input, textarea, select').prop('disabled', true);
        });
    </script>
}
