﻿@model TobJod.Admin.Models.NewsImageViewModel

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Gallery</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <a href="#" data-toggle="modal" data-target="#modal" class="a-create btn btn-info btn-sm pull-right"><span class="btn-label-icon left fa fa-plus"></span> &nbsp; Create</a>
        <h3 class="panel-title">Gallery : @Model.News.TitleTH</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            @foreach (var item in Model.News.Gallery) {
                <div class="col-md-3 item"><div><a href="@Url.Action("GalleryDelete", new { id = item.Id })" class="pull-right btn btn-xs btn-danger" id="a-delete" style="margin-left: 10px;"><i class="fa fa-trash"></i></a><a href="#" class="a-form pull-right btn btn-xs btn-warning" data-toggle="modal" data-target="#modal" data-id="@item.Id" data-title-th="@item.TitleTH" data-title-en="@item.TitleEN" data-image="@item.Image"><i class="fa fa-pencil"></i></a>@item.TitleTH<br />@item.TitleEN</div><img src="@ViewBag.PathRel@item.Image" class="img-responsive" /></div>
            }
        </div>
    </div>
</div>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times</button></div>
            <div class="modal-body">
                @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.News.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.TitleTH, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TitleTH, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TitleTH, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TitleEN, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TitleEN, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TitleEN, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="preview-img"><img src="" class="img-responsive" /></div>
                            @Html.HiddenFor(model => model.Image)
                            @Html.FileImageFor(model => model.ImageFile)
                            @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="reset" class="btn btn-warning">Reset</button>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
        </div>
    </div>
</div>

@section js {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var uploadurl = 'news/';

        $('a.a-create').click(function () {
            $('#Id').val('0');
            $('#TitleTH').val('');
            $('#TitleEN').val('');
            $('#Image').val('');
            $('.preview-img img').attr('src', '');

        });
        $('a.a-form').click(function () {
            $('#Id').val($(this).data('id'));
            $('#TitleTH').val($(this).data('title-th'));
            $('#TitleEN').val($(this).data('title-en'));
            $('#Image').val($(this).data('image'));
            $('.preview-img img').attr('src', '@ViewBag.PathRel' + $(this).data('image'));

        });
    </script>
}
