﻿<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i></span>@ViewBag.CurrentMenu.Title</h1>
</div>

<div class="panel">
    <div class="panel-heading">
        @if (ViewBag.CurrentMenu.Can_Add) { <a href="@Url.Action("Create")" class="btn btn-info btn-sm pull-right"><span class="btn-label-icon left fa fa-plus"></span> &nbsp; Create</a> }
        <div class="panel-title">List</div>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Get, new { @class = "form-horizontal", role = "form", id = "form-search" })) {

            <div class="form-group">

                <label class="control-label col-md-2" for="DateFrom">Date From</label>
                <div class="col-md-2">
                    <input type="text" id="DateFrom" name="DateFrom" class="form-control date-picker" value="@ViewBag.DateFrom" />
                </div>
                <label class="control-label col-md-1" for="DateTo">Date To</label>
                <div class="col-md-2">
                    <input type="text" id="DateTo" name="DateTo" class="form-control date-picker" value="@ViewBag.DateTo" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" id="btn-search">Submit</button>
                </div>
            </div>
        }

        <div class="table-primary">
            <table class="table table-striped table-bordered data-table data-table-action" id="dataTable">
                <thead>
                    <tr>
                        <th class="id">Id</th>
                        <th>Category</th>
                        <th>Sub Category</th>
                        <th>Title</th>
                        <th class="datetime">Create</th>
                        <th class="datetime">Update</th>
                        <th class="status">Status</th>
                        <th class="status">Approve</th>
                        <th class="action action-@(1 + (ViewBag.CurrentMenu.Can_Edit ? 2 : 0) + (ViewBag.CurrentMenu.Can_Delete ? 1 : 0) + (ViewBag.CurrentMenu.Can_Approve ? 1 : 0)+ (ViewBag.CurrentMenu.Can_Assign ? 1 : 0))" data-sortable="false"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section js {
@Scripts.Render("~/bundles/jqueryval")
<script>
    var $table;
    $(function() {
        $table = $('#dataTable').DataTable({
            ajax: {
                url: '@Url.Action("DataTable")',
                type: 'POST',
                data: function (d) {
                    d.DateFrom = '@ViewBag.DateFrom';
                    d.DateTo = '@ViewBag.DateTo';
                }
            },
            order: [[0, 'desc']]
        });
        $('.date-picker').datepicker({ format: "dd/mm/yyyy", autoclose: true });
        $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var re = /[0-3]\d\/[01]\d\/\d{4}/;
                var ok;
                try {
                    ok = value.match(re) != null;
                } catch (err) { ok = false; }
                return ok;
            });

        $('#form-search').submit(function () {
            var error = [];
            var start = $('#DateFrom').datepicker('getDate');
            var end = $('#DateTo').datepicker('getDate');
            var diff = dateDiffInDays(start, end);
            if (diff < 0) {
                error.push('- Date To must be greater than Date From')
            }

            if (error.length > 0) {
                alert(error.join('\r\n'));
                return false;
            } else {
                return true;
            }
        });
    });
</script>
    
}