﻿@{ 
    Layout = "~/Views/Shared/TH/_Layout.cshtml";
    var pageMeta = (TobJod.Web.Models.PageMeta)ViewBag.PageMeta;
    pageMeta.Title = "ข้อตกลงและเงื่อนไข | Tobjod โบรคเกอร์ ประกันภัย";
    pageMeta.MetaDescription = "พบคำชี้แจงเกี่ยวกับเงื่อนไขและข้อกำหนดในการใช้งานเว็บไซต์ตอบโจทย์ Tobjod.com ผู้นำโบรกเกอร์ด้านประกันภัยแบบออนไลน์";
    pageMeta.MetaKeyword = "ข้อตกลง, เงื่อนไข, ซื้อประกันออนไลน์";
}
<main id="page-product-thumbnail" class="tomDev super-top-margin">
    <div class="container">
        <div class="row">
            <h1>ข้อตกลงและเงื่อนไข</h1>
            <div class="lineTop2"></div>
        </div>
    </div>
    <section id="paymentSection">
        <div class="container">
            <div class="row lineTop2">
                <div class="col-sm-10 content col-sm-push-1">
                    <p><strong>ความคุ้มครองของ “ตอบโจทย์” </strong></p>
                    <p>
                       ถูกต้อง! ทันใจ! ...หัวใจสำคัญของ <b>“ตอบโจทย์”</b>
                        ในการนำเสนอข้อมูลผ่านระบบ บนพื้นฐานของประสบการณ์ และความเชี่ยวชาญที่สามารถพัฒนาแผนประกันภัยร่วมกับบริษัทประกันภัยชั้นนำ ของประเทศ และจากหลายร้อยผลิตภัณฑ์ประกันภัย เราได้คัดสรรผลิตภัณฑ์ที่สามารถตอบโจทย์ทุกความต้องการของลูกค้าได้ดีที่สุด <br />อย่างไรก็ดี สำหรับผลิตภัณฑ์ประกันภัยที่ลูกค้าเลือกซื้อผ่าน ตอบโจทย์ หลังจากที่ลูกค้าได้ปฏิบัติตามเงื่อนไขและชำระเงินครบถ้วนเรียบร้อยแล้ว ลูกค้าจะได้รับการคุ้มครองทันที โดยผลของความคุ้มครองเป็นไปตามข้อกำหนดของกรมธรรม์ประกันภัยและเป็นไปตามเงื่อนไขตามกฎหมาย <br /><br />ดังนั้นเพื่อผลประโยชน์สูงสุดที่จะเกิดขึ้น ขอให้ลูกค้าศึกษารายละเอียดเพิ่มเติมจากข้อมูลกรมธรรม์ประเภทต่างๆ

หรืออาจติดต่อสอบถามข้อมูลเพิ่มเติมจากผู้เชียวชาญด้านประกันภัยของ “ตอบโจทย์” ผ่านทั้งทางโทรศัพท์หรืออีเมล์ โดยเฉพาะอย่างยิ่ง ข้อมูลทางเว็บของเราซึ่งมีข้อมูลที่เป็นประโยชน์สูงสุดให้กับลูกค้า <br />เว็บไซต์ “ตอบโจทย์” เป็นเว็บไซต์ของบริษัท ธนชาตโบรกเกอร์ จำกัด (“บริษัท”) บริษัทฯ ขอสงวนสิทธิ์ ในการให้บริการกับลูกค้าที่ยอมรับเงื่อนไขดังปรากฏอยู่ในเว็บไซต์นี้เท่านั้น บริษัทฯ
จัดทำเว็บไซต์เพื่อให้บริการแก่ลูกค้าโดยนำเสนอรายละเอียดผลิตภัณฑ์ประกันภัย และเพื่อเป็นช่องทางเพิ่มเติมในการติดต่อสื่อสารกับลูกค้า บริษัทฯ
ขอสงวนสิทธิ์ในการเปลี่ยนแปลงเงื่อนไขการให้บริการนี้ตามความเหมาะสม บริษัทฯ เป็นเจ้าของลิขสิทธิ์ในรูปภาพ ข้อความ การแสดงผล และรูปแบบการนำเสนอ ตามที่ปรากฏในเว็บไซต์ทั้งหมด ยกเว้นมีการระบุอย่างชัดเจนเป็นอื่น ห้ามมิให้ผู้ใดทำการคัดลอกทำสำเนา แสดงผล แจกจ่าย ปรับปรุง เปลี่ยนแปลง ขาย เพื่อใช้ในวัตถุประสงค์อื่น นอกจากได้รับอนุญาตเป็นลายลักษณ์อักษรจากบริษัทฯ


<br /><br /><br />

ข้อจำกัดการใช้บริการ
<br />

ผลิตภัณฑ์ประกันภัยที่ปรากฏในเว็บไซต์นี้มิได้มุ่งหมายให้กับลูกค้าทุกท่าน บริษัทฯ สงวนสิทธิ์ในการกลั่นกรอง คัดเลือกลูกค้าผู้ประสงค์ใช้บริการตามเกณฑ์ของบริษัทฯ นอกจากนั้น ลูกค้าจะใช้บริการย่อมต้องรับความเสี่ยงจากการใช้ผลิตภัณฑ์นั้น ยกเว้นแต่จะระบุเป็นอย่างอื่นโดยกฎหมาย การส่งผ่านข้อมูลผ่านทางเว็บไซต์ หรือทางอีเมล์ บริษัทฯ สามารถนำข้อมูลดังกล่าวไปใช้ประโยชน์ในทางอื่นได้ แต่ทั้งนี้จะต้องไม่ขัดกับ นโยบายส่วนบุคคล (Privacy Policy) ตามที่ปรากฏอยู่ในเว็บไซต์นี้ บริษัทฯ จะพยายามปรับปรุงข้อมูลที่ปรากฏในเว็บไซต์ให้ถูกต้องและทันสมัย บริษัทฯ ไม่สามารถประกันความถูกต้องของข้อมูลที่ปรากฏในเว็บไซต์ ความเสี่ยงในการเข้าถึงและการใช้ข้อมูลได้ ลูกค้ายอมรับว่า บริษัทฯ ไม่ต้องรับผิดชอบต่อความเสียหายที่อาจเกิดขึ้นจากการใช้บริการผ่านเว็บไซต์ ไม่ว่าจะทางตรงหรือทางอ้อม อันเกิดจากจากการส่งข้อมูล รวมถึงความเสียหายที่เกิดจากไวรัสคอมพิวเตอร์ ระหว่างการใช้งาน

                    </p>
                </div>
            </div>
        </div>
    </section>
</main>