﻿@model TobJod.Models.AdminGroup

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
            @Html.AntiForgeryToken()
            
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
            
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Permissions, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <table class="table table-hover" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Menu</th><th colspan="7">Permission</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in (List<TobJod.Models.AdminMenu>)ViewBag.AdminMenu) {
                                    <tr>
                                        @if (item.MenuType == TobJod.Models.AdminMenuType.Parent) {
                                        <th colspan="8">@item.Title</th>
                                        } else {
                                        <th>@Html.Raw(item.MenuType == TobJod.Models.AdminMenuType.Child ? "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" : "")@item.Title</th>
                                        <td>@(item.Has_View ? @Html.CheckboxLabel("Permission[" + item.Module + "][View]", item.Can_View, "View", new { @class = "checkbox-inline" }) : MvcHtmlString.Empty)</td>
                                        <td>@(item.Has_Add ? @Html.CheckboxLabel("Permission[" + item.Module + "][Add]", item.Can_Add, "Add", new { @class = "checkbox-inline" }) : MvcHtmlString.Empty)</td>
                                        <td>@(item.Has_Edit ? @Html.CheckboxLabel("Permission[" + item.Module + "][Edit]", item.Can_Edit, "Edit", new { @class = "checkbox-inline" }) : MvcHtmlString.Empty)</td>
                                        <td>@(item.Has_Delete ? @Html.CheckboxLabel("Permission[" + item.Module + "][Delete]", item.Can_Delete, "Delete", new { @class = "checkbox-inline" }) : MvcHtmlString.Empty)</td>
                                        <td>@(item.Has_Approve ? @Html.CheckboxLabel("Permission[" + item.Module + "][Approve]", item.Can_Approve, "Approve", new { @class = "checkbox-inline" }) : MvcHtmlString.Empty)</td>
                                        <td>@(item.Has_Assign ? @Html.CheckboxLabel("Permission[" + item.Module + "][Assign]", item.Can_Assign, "Assign", new { @class = "checkbox-inline" }) : MvcHtmlString.Empty)</td>
                                        <td>@(item.Has_Export ? @Html.CheckboxLabel("Permission[" + item.Module + "][Export]", item.Can_Export, "Export", new { @class = "checkbox-inline" }) : MvcHtmlString.Empty)</td>
                                        }
                                    </tr>
                                    
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                    </div>
                </div>
        }

    </div>
</div>

@section js {
    @Scripts.Render("~/bundles/jqueryval")
}
