﻿@{ Layout = "~/Views/Shared/EN/_Layout.cshtml"; }
<main class="container page404">
    <div class="middle-box text-center animated fadeInDown">
        <h1 class="super-big">404</h1>
        <h2 class="font-bold">Page Not Found</h2>

        <div class="error-desc">
            <h1>Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button on your browser in our app.</h1>
        </div>
    </div>
</main>