﻿.px-site-brand img {
    height: 40px;
    float: left;
    margin: 5px 5px 0 -15px;
}

.toast-top-right {
    top: 50px;
}

.data-table {
    width: 100% !important;
    margin-bottom: 0 !important;
}

.dataTables_processing {
    background: transparent;
    border: 0px none;
    padding: 0px;
    margin: 10px 0px 0px;
}

.data-table-action tbody td:last-of-type {
    text-align: center;
}

th.sorting {
    padding-right: 15px !important;
}

th.id {
    width: 70px;
}

td.id {
    text-align: right;
}

th.sequence {
    width: 100px;
}

td.sequence {
    text-align: right;
}

th.datetime {
    width: 140px;
}

th.date {
    width: 115px;
}

th.status {
    width: 50px;
}

td.status {
    text-align: center;
}

th.total {
    width: 105px;
}

td.number {
    text-align: right;
    margin-right: 10px;
}

th.action, td.action {
    text-align: center;
    white-space: nowrap;
    width: 50px;
    min-width: 50px;
}

th.action-select {
    width: 50px !important;
}

th.action-2 {
    width: 85px;
}

th.action-3 {
    width: 110px;
}

th.action-4 {
    width: 145px;
}

th.action-5 {
    width: 170px;
}

th.action-6 {
    width: 205px;
}

th.action-7 {
    width: 240px;
}

th.action-8 {
    width: 275px;
}

th.action-view {
    width: 45px;
}

.action-button {
    margin: 0 8px 2px;
    width: 25px !important;
    text-align: center;
    padding: 3px 0;
}

td.action-multi-line {
    padding-top: 0px !important;
}

td.action-multi-line > a {
    margin-top: 8px !important;
}

td.action .popover-content {
    padding: 0px !important;
}

td.action-text > a {
    width: auto !important;
    padding: 3px;
}

.confirmation-buttons a {
    margin: 0 2px !important;
}

.input-group-other {
    padding: 5px 10px 0 !important;
}

    .input-group-other .input-group-addon {
        background: none;
        border: none;
    }

.row-space {
    clear: both;
    margin-top: 15px;
}

.media-photo-gallery li {
    list-style: none;
    float: left;
    border: 1px solid #ccc;
}

    .media-photo-gallery li a {
        display: block;
    }

.file-delete {
    color: #f00;
    display: inline-block;
    margin: 0 5px;
}

.indent {
    text-indent: 70px;
    margin-top: 20px;
}

.fa-hide {
    color: transparent !important;
}

.date-range-picker {
    min-width: 180px;
}

.card {
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2); /*box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;*/
}
.border-sub { background: #fcf9f9; border: 1px solid #ccc; border-radius: 4px; padding: 5px 20px; box-sizing: border-box; }

/*.required { border-left: 3px solid red; }
.required-radio { border-left: 3px solid red; padding-left: 5px; }*/