﻿.navbar-header { float: left; width: auto; }
.px-nav-content { width: 200px; height: auto; }
.px-content { margin-left: 230px !important; }
.px-nav { position: absolute; display: block; height: auto; left: 0; width: 200px; }
.px-nav-scrollable-area {
    height: 700px !important;
    z-index: 1010;
    display: block;
    width: 200px;
    position: relative;
}
.px-nav-toggle { display: none; }
.px-navbar {
    left: 0;
    position: absolute !important;
    z-index: 2010;
    top: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    background: #eee;
    border-bottom: 1px solid #ddd;
}
.navbar-header { padding-left: 0; }

.px-nav-content {
    visibility: visible;
    overflow: visible;
}

.px-navbar .navbar-collapse.in {
    position: relative;
}

    .px-navbar .navbar-collapse.in .px-navbar-collapse-inner {
        position: relative;
        height: auto;
    }

.px-navbar .navbar-toggle {
    right: 0;
}

.px-nav-right .px-navbar .navbar-toggle {
    right: 56px;
}

.px-navbar .navbar-btn {
    margin-left: 15px;
    margin-right: 15px;
}

.px-navbar .divider {
    display: none;
}

.px-navbar .navbar-text {
    padding-left: 15px;
    padding-right: 15px;
}

.px-navbar .navbar-link {
    text-decoration: underline;
}

    .px-navbar .navbar-link:hover {
        background: none !important;
        opacity: .7;
    }

.px-navbar .dropdown-menu {
    padding: 0;
}

.px-navbar .dropdown-multi-column {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

    .px-navbar .dropdown-multi-column .dropdown-menu {
        border-color: transparent;
        background: transparent !important;
    }

.px-navbar .navbar-nav > li,
.px-navbar .dropdown-menu > li {
    border-bottom: 1px solid;
}

    .px-navbar .navbar-nav > li + li,
    .px-navbar .dropdown-menu > li + li {
        border-top-width: 1px;
        border-top-style: solid;
        margin-top: -1px;
    }

    .px-navbar .dropdown-menu > li:first-child {
        border-top: 1px solid;
    }

    .px-navbar .dropdown-menu > li:last-child {
        margin-bottom: -1px;
    }

.px-navbar .navbar-collapse {
    border-top: 1px solid;
    box-shadow: none;
}

.px-navbar .navbar-form {
    border-top-width: 0;
    box-shadow: none;
}

.px-navbar-icon {
    font-size: inherit;
}

.px-nav-left .px-navbar {
    padding-left: 56px;
}

    .px-nav-left .px-navbar .navbar-collapse {
        margin-left: -56px;
    }

.navbar-collapse {
    display: block; float: right; width: auto; height: auto; border: 0 !important; overflow: visible; padding: 0;
}
.navbar-collapse .navbar-right {
    display: block; float: right; bottom: 0; right: 10px; width: auto; height: auto; border: 0 !important; overflow: visible; padding: 0 20px 0;
}
.navbar-collapse .navbar-right li {
    display: block;
    float: left;
    width: 100%;
    padding: 5px 0;
}
.navbar-collapse .navbar-right li.divider { margin: 0; padding: 0; background: #ddd; }
.navbar-collapse .navbar-right .dropdown-menu { right: 0; left: auto; }
.navbar-collapse .navbar-right li a { display: block; }
.navbar-collapse li {
    border: 0 !important;
}

.pagination li a { border-width: 1px; }

.dataTable img { height: 100px;}