﻿
<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i>@ViewBag.CurrentMenu.Title / </span>Information</h1>
</div>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Import</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-2">File Template</label>
                    <div class="col-md-10 form-contrl-static">
                        <a href="@Url.Content("~/assets/downloads/car_model.xlsx")">Download</a><br />
                        ระบบจะตรวจสอบ "Brand" และ "Family" และ ("Title TH" หรือ "Title EN" หรือ "Map Name") กรณีที่มีอยู่แล้ว จะทำการอัพเดตข้อมูลเดิม
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 required">File Upload</label>
                    <div class="col-md-10">
                        <input type="file" name="File" class="form-contrl required" required="required" />
                    </div>
                </div>

                if (ViewBag.Message != null) {
                    <p class="text-danger col-md-offset-2">@Html.Raw(ViewBag.Message)</p>
                }

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                    </div>
                </div>
            }

            @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage.ToString().Length > 0) {
                <table class="table table-bordered table-striped table-hover table-danger" style="width: 100%;">
                    <thead><tr><th>Position</th><th>Error</th></tr></thead>
                    <tbody>@Html.Raw(ViewBag.ErrorMessage)</tbody>
                </table>
            }
        </div>
    </div>
</div>
@section js {
    @Scripts.Render("~/bundles/jqueryval")
}
