﻿@{
    Layout = null;
}
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>TobJod Backend</title>
    @Styles.Render("~/assets/vendor/font-awesome")
    @Styles.Render("~/assets/css")
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/ie8.css")" /><![endif]-->

</head>
<body>

    <div id="wrapper">
        <div class="navbar px-navbar">
            <div class="navbar-header">
                <a class="navbar-brand px-site-brand" href="@Url.Action("Index", "Home")"><strong>TobJod Backend</strong></a>
            </div>

        </div>
        <div class="px-content">
            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>


        </div>
    </div>
    <!-- /#wrapper -->
    @Scripts.Render("~/assets/js-ie8")
</body>
</html>