﻿@model TobJod.Admin.Models.PartnerDataExportViewModel
@{
    int total = 0;
    for (int i = 0; i < Model.DataTable.Rows.Count; i++) {
        total += (int)Model.DataTable.Rows[i]["Total"];
    }
}
<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon fa @ViewBag.CurrentMenu.Icon"></i></span>@ViewBag.CurrentMenu.Title</h1>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">Report</div>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm((string)ViewBag.CurrentAction, (string)ViewBag.CurrentMenu.Module, FormMethod.Get, new { @class = "form-horizontal", role = "form", id = "form-report" })) {

        <div class="form-group">
            @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "form-control " } })
            </div>
            <div class="col-md-1">
                <select name="DateFromH" class="form-control">
                    @for(int i = 0; i <= 23; i++) {
                        <option value="@i"@(i == Model.DateFrom.Hour ? " selected" : "")>@i.ToString("00")</option>
                    }
                </select>
            </div>
            <div class="col-md-1">
                <select name="DateFromM" class="form-control">
                    @for(int i = 0; i <= 59; i++) {
                        <option value="@i"@(i == Model.DateFrom.Minute ? " selected" : "")>@i.ToString("00")</option>
                    }
                </select>
            </div>
            @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-1">
                <select name="DateToH" class="form-control">
                    @for(int i = 0; i <= 23; i++) {
                        <option value="@i"@(i == Model.DateTo.Hour ? " selected" : "")>@i.ToString("00")</option>
                    }
                </select>
            </div>
            <div class="col-md-1">
                <select name="DateToM" class="form-control">
                    @for(int i = 0; i <= 59; i++) {
                        <option value="@i"@(i == Model.DateTo.Minute ? " selected" : "")>@i.ToString("00")</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.Company, Model.Companies, "", new { @class = "form-control" })
            </div>
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Status, Model.StatusList, new { @class = "form-control" })
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" id="btn-search">Submit</button>
            </div>
        </div>
}

        @if (Model.DataTable != null) {
        <table class="table table-bordered table-striped table-info">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Total</th>
                    <th>Export</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.DataTable.Rows.Count == 0) {
                    <tr><td colspan="8" class="text-danger text-center">No Data</td></tr>
                } else {
                    for (int i = 0; i < Model.DataTable.Rows.Count; i++) {
                    <tr>
                        <td>@Model.DataTable.Rows[i]["Category"]</td>
                        <td class="text-right">@Model.DataTable.Rows[i]["Total"]</td>
                        <td class="text-center"><a href="@Url.Action("Export", new { DateFrom = Model.DateFrom.ToString("dd/MM/") + Model.DateFrom.Year, DateTo = Model.DateTo.ToString("dd/MM/") + Model.DateTo.Year, DateFromH = Model.DateFrom.Hour, DateFromM = Model.DateFrom.Minute, DateToH = Model.DateTo.Hour, DateToM = Model.DateTo.Minute, Company = Model.Company, Category = Model.DataTable.Rows[i]["CategoryId"], Status = Model.Status })" class="btn btn-warning">Export</a></td>
                    </tr>
                    }
                }
            </tbody>
        </table>
        }
    </div>
</div>

@section js {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/assets/vendor/download.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/Chart.PieceLabel.min.js")"></script>
    <script>
        $(function () {
            $('.date-picker').datepicker({ format: "dd/mm/yyyy", autoclose: true, endDate: '-1d' });
            $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }
                    var re = /[0-3]\d\/[01]\d\/\d{4}/;
                    var ok;
                    try {
                        ok = value.match(re) != null;
                    } catch (err) { ok = false; }
                    return ok;
                });

            $('#form-report').submit(function () {
                var error = [];
                var start = $('#DateFrom').datepicker('getDate');
                var end = $('#DateTo').datepicker('getDate');
                var diff = dateDiffInDays(start, end);
                if (diff > 31 || diff < 0) {
                    error.push('- Date From/To should not be more than 31 days.')
                }

                if (error.length > 0) {
                    alert(error.join('\r\n'));
                    return false;
                } else {
                    return true;
                }
            });
        
        });
    </script>
}
