﻿@model TobJod.Web.Models.PaymentRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>2C2P Payment Gateway</h3>
            </div>
            <div class="panel-body">
                <h4>Detail to be send to the 2C2P</h4>
                @using (Html.BeginForm("Payment", "PaymentGateway", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                    <div class="form-group">
                        @Html.LabelFor(m => m.version, new { @class = "control-label col-sm-2" })
                        @Html.TextBoxFor(m => m.version, new { @class = "form-control col-sm-6", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.merchant_id, new { @class = "control-label col-sm-2" })
                        @Html.TextBoxFor(m => m.merchant_id, new { @class = "form-control col-sm-6", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.order_id, new { @class = "control-label col-sm-2" })
                        @Html.TextBox("order_id", Model.order_id2, new { @class = "form-control col-sm-6", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.currency, new { @class = "control-label col-sm-2" })
                        @Html.TextBox("currency", Model.currency2, new { @class = "form-control col-sm-6", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.amount, new { @class = "control-label col-sm-2" })
                        @Html.TextBox("amount", Model.amount2, new { @class = "form-control col-sm-6", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.payment_description, new { @class = "control-label col-sm-2" })
                        @Html.TextBoxFor(m => m.payment_description, new { @class = "form-control col-sm-6", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.secret_key, new { @class = "control-label col-sm-2" })
                        @Html.TextBoxFor(m => m.secret_key, new { @class = "form-control col-sm-6", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.result_url_1, new { @class = "control-label col-sm-2" })
                        @Html.TextBoxFor(m => m.result_url_1, new { @class = "form-control col-sm-6", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.result_url_2, new { @class = "control-label col-sm-2" })
                        @Html.TextBoxFor(m => m.result_url_2, new { @class = "form-control col-sm-6", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.hash_value, new { @class = "control-label col-sm-2" })
                        @Html.TextAreaFor(m => m.hash_value, new { @class = "form-control col-sm-6", @readonly = "readonly" })
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button class="btn btn-danger">Cancel</button>
                    </div>
                }
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>

</body>
</html>
