﻿@model TobJod.Web.Models.PaymentRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payment</title>
</head>
<body>
    <div class="jumbotron"><h3>Redirecting to 2C2P ... </h3></div>
    <form id="sendForm" method="post" action="@Model.payment_url">
        <div>
            @Html.Hidden("version", Model.version) <br />
            @Html.Hidden("merchant_id", Model.merchant_id) <br />
            @Html.Hidden("currency", Model.currency) <br />
            @Html.Hidden("result_url_1", Model.result_url_1) <br />
            @Html.Hidden("result_url_2", Model.result_url_2) <br />
            @Html.Hidden("hash_value", Model.hash_value) <br />
            @Html.Hidden("payment_description", Model.payment_description, new { @readonly = "readonly" }) <br />
            @Html.Hidden("order_id", Model.order_id, new { @readonly = "readonly" }) <br />
            @Html.Hidden("amount", Model.amount, new { @readonly = "readonly" }) <br />
        </div>
    </form>
    <script type="text/javascript">
    document.forms.sendForm.submit();
    </script>

</body>
</html>
